<tabset>
	<tab heading="Import" style="cursor:pointer;" ng-click="clearImportTab()">
		<div ng-cloak class="row">
			<div class="col-md-12">
				<div style="margin-top: 20px;"></div>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="col-xs-18 col-md-6" ng-show="masterImport && recipeImport">
					            <div class="thumbnail">
					                <div class="caption" ng-click="showMasterExport()" style="background-color:#5bc0de;cursor:pointer;text-align:center;font-size: 30px;color: #FFF;">
					                    <span >Master Import</span>
					                </div>
					            </div>
					        </div>
					        <div class="col-xs-18 col-md-6" ng-show="masterImport && recipeImport">
					            <div class="thumbnail">
					                <div class="caption" ng-click="showRecipeExport()" style="background-color:#5bc0de;cursor:pointer;text-align:center;font-size: 30px;color: #FFF;">
					                    <span >Recipe Import</span>
					                </div>
					            </div>
					        </div>
							<div class="panel-heading" ng-hide="masterImport">
								<h3 class="panel-title">Stock Import</h3>
							</div>
							<!-- <pre>{{stockImport | json}}</pre> -->
							<div class="panel-body" ng-hide="masterImport">
								<!--Body-->
								<div class="jumbotron" ng-hide="showProgress">
									<wizard on-finish="finishedWizard()" hide-indicators="true">
										<!-- Step: Welcome -->
							            <wz-step title="Welcome">
							                <h2>Welcome, we will guide you in Importing up your STORE.</h2>
							                <p>Please click next to Start. :-)</p>
							                <a href="#" class="btn btn-primary btn-lg" wz-next="get" value="Continue" role="button">Start »</a>
							                <!-- <input type="submit" wz-next value="Continue" /> -->
							            </wz-step>
							            <wz-step title="Store">
							            	<!--Import data-->
							            	<h3>Import Store</h3>
							            	<div class="warning">
							            		<span ng-repeat="item in errorStore">
							            			<div class="alert alert-danger alert-dismissible" role="alert">
							            			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
													  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													  <strong>{{item.error}}</strong> 
													</div>
							            		</span>
							            	</div>
							            	<ng-csv-import
									            class="import"
									            content="csvstore.content"
									            header="csvstore.header"
									            headerVisible="true"
									            separator="csvstore.separator"
									            separatorVisible="csvstore.separatorVisible"
									            done="onFinishImport_Store"
									            accept="csvstore.accept"
									            result="csvstore.result">
									        </ng-csv-import>
							            	<!--Import data end-->
							            	<!--Import next previous-->
							            	<div class="well">
							                    <a class="btn btn-default" wz-previous>« Previous Step - Welcome</a>
							                    <a class="btn btn-lg btn-warning" wz-next>Next Step - Category »</a>
							                </div>
							                <!--Import next previous-->
							            </wz-step>
							            <wz-step title="Category">
							            	<!--Import data-->
							            	<h3>Import Category</h3>
							            	<div class="warning">
							            		<span ng-repeat="item in errorCategory">
							            			<div class="alert alert-warning alert-dismissible" role="alert">
							            			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
													  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													  <strong>{{item.error}}</strong> 
													</div>
							            		</span>
							            	</div>
							            	<ng-csv-import
									            class="import"
									            content="csvcategory.content"
									            header="csvcategory.header"
									            headerVisible="true"
									            separator="csvcategory.separator"
									            separatorVisible="csvcategory.separatorVisible"
									            done="onFinishImport_Category"
									            result="csvcategory.result">
									        </ng-csv-import>
							            	<!--Import data end-->
							            	<!--Import next previous-->
							            	<div class="well">
							                    <a class="btn btn-default" wz-previous>« Previous Step - Store</a>
							                    <a class="btn btn-lg btn-warning" wz-next>Next Step - Units »</a>
							                </div>
							                <!--Import next previous-->
							            </wz-step>
							            <wz-step title="Units">
							            	<!--Import data-->
							            	<h3>Import Units</h3>
							            	<div class="warning">
							            		<span ng-repeat="item in errorUnits">
							            			<div class="alert alert-warning alert-dismissible" role="alert">
							            			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
													  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													  <strong>{{item.error}}</strong> 
													</div>
							            		</span>
							            	</div>
							            	<ng-csv-import
									            class="import"
									            content="csvunits.content"
									            header="csvunits.header"
									            headerVisible="true"
									            separator="csvunits.separator"
									            separatorVisible="csvunits.separatorVisible"
									            done="onFinishImport_Units"
									            result="csvunits.result">
									        </ng-csv-import>
							            	<!--Import data end-->
							            	<!--Import next previous-->
							            	<div class="well">
							                    <a class="btn btn-default" wz-previous>« Previous Step - Category</a>
							                    <a class="btn btn-lg btn-warning" wz-next>Next Step - Items »</a>
							                </div>
							                <!--Import next previous-->
							            </wz-step>
							            <wz-step title="Items">
							            	<!--Import data-->
							            	<h3>Import Items</h3>
							            	<div class="warning">
							            		<span ng-repeat="item in errorItems">
							            			<div class="alert alert-warning alert-dismissible" role="alert">
							            			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
													  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													  <strong>{{item.error}}</strong> 
													</div>
							            		</span>
							            	</div>
							            	<ng-csv-import
									            class="import"
									            content="csvitems.content"
									            header="csvitems.header"
									            headerVisible="true"
									            separator="csvitems.separator"
									            separatorVisible="csvitems.separatorVisible"
									            done="onFinishImport_Items"
									            result="csvitems.result">
									        </ng-csv-import>
							            	<!--Import data end-->
							            	<!--Import next previous-->
							            	<div class="well">
							                    <a class="btn btn-default" wz-previous>« Previous Step - Units</a>
							                    <a class="btn btn-lg btn-warning" wz-next="onFinishWizard()">Finish, you are ready to Start Saving Documents!</a>
							                </div>
							                <!--Import next previous-->
							            </wz-step>
									</wizard>
								</div>
								<div class="progress" ng-show="showProgress">
									<div class="progress-bar" role="progressbar" aria-valuenow="currentProgress" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
										{{currentProgress}}%
									</div>
								</div>
								<!--Body End-->
							</div>
							<div class="panel-heading" ng-hide="recipeImport">
								<h3 class="panel-title">Recipe Import</h3>
							</div>
							<div class="panel-body" ng-hide="recipeImport">
								<!--Body-->
								<div class="jumbotron">
									<wizard on-finish="finishedWizardRecipeImport()" hide-indicators="true">
										<!-- Step: Welcome -->
							            <wz-step title="Welcome">
							                <h2>Welcome, we will guide you in Importing up your RECIPE.</h2>
							                <p>Please click next to Start. :-)</p>
							                <a href="#" class="btn btn-primary btn-lg" wz-next="get" value="Continue" role="button">Start »</a>
							                <!-- <input type="submit" wz-next value="Continue" /> -->
							            </wz-step>
							            <wz-step title="Recipe">
							            	<!--Import data-->
							            	<h3>Import Recipes</h3>
							            	<div class="warning">
							            		<span ng-repeat="item in errorItemRecipes">
							            			<div class="alert alert-warning alert-dismissible" role="alert">
							            			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
													  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													  <strong>{{item.error}}</strong> 
													</div>
							            		</span>
							            	</div>
							            	<ng-csv-import
									            class="import"
									            content="csvRecipes.content"
									            header="csvRecipes.header"
									            headerVisible="true"
									            separator="csvRecipes.separator"
									            separatorVisible="csvRecipes.separatorVisible"
									            done="onFinishImport_Recipes"
									            result="csvRecipes.result">
									        </ng-csv-import>
							            	<!--Import data end-->
							            	<!--Import next previous-->
							            	<div class="well">
							                    <!-- <a class="btn btn-default" wz-previous>« Previous Step - Category</a> -->
							                    <a class="btn btn-lg btn-warning" ng-disabled="recipeTobeCreated.disable" wz-next>Next Step - Recipes »</a>
							                </div>
							                <!--Import next previous-->
							            </wz-step>
							            <wz-step title="Raw Materials">
							            	<!--Import data-->
							            	<h3>Import Recipes Details</h3>
							            	<div class="warning">
							            		<span ng-repeat="item in errorItemRecipesDetails">
							            			<div class="alert alert-warning alert-dismissible" role="alert">
							            			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
													  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													  <strong>{{item.error}}</strong> 
													</div>
							            		</span>
							            	</div>
							            	<ng-csv-import
									            class="import"
									            content="csvRecipesDetails.content"
									            header="csvRecipesDetails.header"
									            headerVisible="true"
									            separator="csvRecipesDetails.separator"
									            separatorVisible="csvRecipesDetails.separatorVisible"
									            done="onFinishImport_RecipesDetails"
									            result="csvRecipesDetails.result">
									        </ng-csv-import>
							            	<!--Import data end-->
							            	<!--Import next previous-->
							            	<div class="well">
							                    <!-- <a class="btn btn-default" wz-previous>« Previous Step - Units</a> -->
							                    <a class="btn btn-lg btn-warning" ng-disabled="recipeDetailsToBeCreated.disable" wz-next="onFinishWizardRecipe()">Finish, you are ready to Start Saving Documents!</a>
							                </div>
							                <!--Import next previous-->
							            </wz-step>
									</wizard>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tab>
	<tab heading="Export" style="cursor:pointer;" ng-click="clearExportTab()">
		<div ng-cloak class="row">
			<div class="col-md-12">
				<div style="margin-top: 20px;"></div>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Stock Export</h3>
							</div>
							<!-- <pre>{{stockImport | json}}</pre> -->
							<div class="panel-body">
								<!--Body-->
								<div class="jumbotron" ng-hide="showProgress">
									<wizard on-finish="finishedWizardExport()" hide-indicators="true">
										<!-- Step: Welcome -->
							            <wz-step title="Welcome">
							                <h2>Welcome, we will guide you in Exporting up your STORE.</h2>
							                <p>Please click next to Start. :-)</p>
							                <a href="#" class="btn btn-primary btn-lg" wz-next="get" value="Continue" role="button">Start »</a>
							                <!-- <input type="submit" wz-next value="Continue" /> -->
							            </wz-step>
							            <wz-step title="Store">
							            	<!--Import data-->
							            	<h3>Export Store</h3>
							            	<div class="form-group" >
							            		<table class="table table-curved">
													<thead>
														<tr>
															<th class="col-md-2">
																<input type="checkbox" ng-model="storeSelectAll" ng-click="checkAllStore()"> Select All
															</th>
															<th>Store Name</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="s in stores">
															<td>
																<input type="checkbox" ng-model="s.selected">
															</td>
															<td>
																{{s.storeName}}
															</td>
														</tr>
													</tbody>
												</table>
							            	</div>
							            	<!--Import data end-->
							            	<!--Import next previous-->
							            	<div class="well">
							                    <a class="btn btn-default" wz-previous>« Previous Step - Welcome</a>
							                    <a class="btn btn-lg btn-warning" wz-next="bindCategory()">Next Step - Category »</a>
							                </div>
							                <!--Import next previous-->
							            </wz-step>
							            <wz-step title="Category">
							            	<!--Import data-->
							            	<h3>Export Category</h3>
							            	<div class="form-group" >
							            		<table class="table table-curved">
													<thead>
														<tr>
															<th class="col-md-2">
																<input type="checkbox" ng-model="storeSelectAllCAtegory" ng-click="checkAllCategory()"> Select All
															</th>
															<th>Category Name</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="s in availableCategory">
															<td>
																<input type="checkbox" ng-model="s.selected">
															</td>
															<td>
																{{s.categoryName}}
															</td>
														</tr>
													</tbody>
												</table>
							            	</div>
							            	<!--Import data end-->
							            	<!--Import next previous-->
							            	<div class="well">
							                    <a class="btn btn-default" wz-previous>« Previous Step - Store</a>
							                    <a class="btn btn-lg btn-warning" wz-next="checkAllUnits()">Next Step - Units »</a>
							                </div>
							                <!--Import next previous-->
							            </wz-step>
							            <wz-step title="Units">
							            	<!--Import data-->
							            	<h3>Export Units</h3>
							            	<div class="form-group" >
							            		<table class="table table-curved">
													<thead>
														<tr>
															<th class="col-md-2">
																<input type="checkbox" ng-disabled="true" ng-model="selectAllUnits" ng-click="checkAllUnits()"> Select All
															</th>
															<th>Unit Name</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="s in stockUnits">
															<td>
																<input ng-disabled="true" type="checkbox" ng-model="s.selected">
															</td>
															<td>
																{{s.unitName}}
															</td>
														</tr>
													</tbody>
												</table>
							            	</div>
							            	<!--Import data end-->
							            	<!--Import next previous-->
							            	<div class="well">
							                    <a class="btn btn-default" wz-previous>« Previous Step - Category</a>
							                    <a class="btn btn-lg btn-warning" wz-next="bindItems()">Next Step - Items »</a>
							                </div>
							                <!--Import next previous-->
							            </wz-step>
							            <wz-step title="Items">
							            	<!--Import data-->
							            	<h3>Export Items</h3>
							            	<div class="form-group" >
							            		<table class="table table-curved">
													<thead>
														<tr>
															<th class="col-md-2">
																<input type="checkbox" ng-model="selectAllItems" ng-click="checkAllItems()"> Select All
															</th>
															<th>Item Name</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="s in availableItems">
															<td>
																<input type="checkbox" ng-model="s.selected">
															</td>
															<td>
																{{s.itemName}}
															</td>
														</tr>
													</tbody>
												</table>
							            	</div>
							            	<!--Import data end-->
							            	<!--Import next previous-->
							            	<div class="well">
							                    <a class="btn btn-default" wz-previous>« Previous Step - Units</a>
							                    <a class="btn btn-lg btn-warning" wz-next>Next Step - Recipes »</a>
							                </div>
							                <!--Import next previous-->
							            </wz-step>
							            <wz-step title="Recipes">
							            	<!--Import data-->
							            	<h3>Export Recipes</h3>
							            	<div class="form-group" >
							            		<table class="table table-curved">
													<thead>
														<tr>
															<th class="col-md-2">
																<input type="checkbox"  ng-model="selectAllRecipes" ng-click="checkAllRecipes()"> Select All
															</th>
															<th>Unit Name</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="s in stockRecipes">
															<td>
																<input  type="checkbox" ng-model="s.selected">
															</td>
															<td>
																{{s.recipeName}}
															</td>
														</tr>
													</tbody>
												</table>
							            	</div>
							            	<!--Import data end-->
							            	<!--Import next previous-->
							            	<div id="exportTable" ng-hide="true">
							            		<table class="table table-curved" style="width:100%" border="1" ng-show="reportData.length>0">
							            			<thead>
														<th style="background-color:#24242D;font-weight:bold;color:#fff">Store Name</th>
														<th style="background-color:#24242D;font-weight:bold;color:#fff">Category Name</th>
														<th style="background-color:#24242D;font-weight:bold;color:#fff">Item Name</th>
														<th style="background-color:#24242D;font-weight:bold;color:#fff">Unit Name</th>
													</thead>
													<tbody>
														<tr ng-repeat="item in reportData">
															<td>{{item.store.storeName}}</td>
															<td>{{item.category.categoryName}}</td>
															<td>{{item.itemName}}</td>
															<td>
																<span ng-repeat="i in item.units">
																	{{i.unitName}} {{$last ? '' : ', '}}
																</span>	
															</td>
														</tr>
													</tbody>
							            		</table>
							            	</div>
							            	<div id="exportTableRecipe" ng-hide="true">
							            		<table class="table table-curved" style="width:100%" border="1" ng-show="reportDataRecipe.length>0">
							            			<thead>
														<th style="background-color:#24242D;font-weight:bold;color:#fff">Recipe Name</th>
														<th style="background-color:#24242D;font-weight:bold;color:#fff">Category Name</th>
														<th style="background-color:#24242D;font-weight:bold;color:#fff">Item Name</th>
														<th style="background-color:#24242D;font-weight:bold;color:#fff">Unit Name</th>
													</thead>
													<tbody>
														<tr ng-repeat="item in reportDataRecipe">
															<td>{{item.recipeName}}</td>
															<td>{{item.categoryName}}</td>
															<td>{{item.itemName}}</td>
															<td>
																<span ng-repeat="i in item.units">
																	{{i.unitName}} {{$last ? '' : ', '}}
																</span>	
															</td>
														</tr>
													</tbody>
							            		</table>
							            	</div>
							            	<div class="well">
							                    <a class="btn btn-default" wz-previous>« Previous Step - Items</a>
							                    <a class="btn btn-lg btn-warning" wz-next="onfinishedWizardExport()">Finish, you are ready to Export the Documents!</a>

							                    <!-- <a class="btn btn-default" ng-hide="btnExport" ng-click="exportData()" >Export</a> -->
							                </div>
							                <!--Import next previous-->
							            </wz-step>
									</wizard>
								</div>
								<div class="progress" ng-show="showProgress">
									<div class="progress-bar" role="progressbar" aria-valuenow="currentProgress" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
										{{currentProgress}}%
									</div>
								</div>
								<!--Body End-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tab>
</tabset>