<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <h1>Create Partner</h1>
  <form>
    Enter partner name: <input type="text" ng-model="partner.partner_name"/><br/>
    Enter client ID: <input type="text" ng-model="partner.client_id"/><br/>
    Class:<input type="text" ng-model="partner.class"/><br/>
    <button type="button" ng-click="create(partner)" class="btn btn-default btn-sm">Submit</button>
  </form>
  <br>
  <table class="table table-condensed" ng-init="allPartners()">
    <tr>
      <th>Partner name</th>
      <th>Client ID</th>
      <th>Class</th>
      <th>Update</th>
      <th>Remove</th>
    </tr>
    <tr ng-repeat="p in partners">
      <td>{{p.partner_name}}</td>
      <td>{{p.client_id}}</td>
      <td>{{p.class.toString()}}</td>
      <td><button class="btn btn-xs btn-primary" ng-click="updatePartner(p, $index)">Update</button>
      <td><button class="btn btn-xs btn-danger" ng-click="deletePartner(p._id, $index)">Delete</button>
    </tr>
  </table> 
</div>

<footer class="footer">
  <div class="container">
      <p>&copy; Posist Technologies 2015</p>
  </div>
</footer>
