<div class="modal-header">
	<h3 class="modal-title">UPDATE PARTNER</h3>
</div>
<div class="modal-body">
	Enter partner name: <input type="text" ng-model="partner.partner_name" class="form-control" disabled/><br>
  	Enter client ID: <input type="text" ng-model="partner.client_id" class="form-control"/>
  	Class:<input type="text" ng-model="partner.class" class="form-control"/>
</div>
<div class="modal-footer">
	<button class="btn btn-danger btn-sm" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary btn-sm" ng-click="ok(partner)">Update</button>
</div>