
<div id="dashboard" >
    <!-- Navigation -->
    <div ng-include="'components/navbar/navbar.html'" ></div>
    <!-- Side Navigation -->

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <div style="margin: 10px 0px 10px 25px;">
            <label class="btn btn-primary" style="width: 120px" ng-click="showOffer()">Offer</label>
            </div>
            <div style="margin: 10px 0px 10px 25px;">
                <label class="btn btn-primary" style="width: 120px" ng-click="showSettings()">Settings</label>
            </div>
        </ul>
    </div>
    <!-- Side Navigation -->
    <!-- Inject Child State View -->
    <div ui-view="" autoscroll="false" style="margin-top: 60px;"  ></div>
    <!-- Inject Child State View -->
    </div>
