<div ng-include="'components/navbar/navbar.html'"></div>
<style>
  .panel-collapse > .panel-body {
    padding: 0 0 0 0;
  }

  .anchorNew {
    padding-left: 20% !important;
  }

  .anchorNewSecond {
    padding-left: 30% !important;
  }

  .accordion-toggle {
    text-decoration: none;
  }
  .nav-list > li > a{
    background: #EBEBEB;
    color:#3A3A3A;
    border-bottom: 1px solid #D4D4D4;
  }
  .nav-list > li > ul >li >a{
    background: white;
    color:black;
    border-bottom: 1px solid #D4D4D4;
  }

  .nav-list > li > a:focus {
    color: #fff;
    background: #428BCA;
  }

  .nav-list > li > a:hover {
    color: #fff;
    background: #428BCA;
  }
  a{
    text-decoration: none !important;
  }
  .panel-group .panel + .panel{
    margin:0 0 0 0;
  }
  .panel-default > .panel-heading{
    color: #fff;
    background-color: #428BCA;
    border-color: #ddd;
  }

</style>

<div class="container-fluid" data-offset="50" data-spy="scroll" data-target="#sidebarmenu">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-sm-3 col-md-2 affix-sidebar" id="sidebar" style="width:19%">
      <div style="top: 70px; bottom: 0; position: fixed; left: 0; -webkit-overflow-scrolling:0.2em;width:19%;overflow-y: scroll" ng-if="!deploymentList && !loading">
        <accordion close-others="false" style="margin-top: 20px;">
          <accordion-group is-open="status.open1" ng-click="showHide('detailShow')">
            <accordion-heading>
              <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;<span style="font-size:13px !important;">DEPLOYMENT</span>
            </accordion-heading>
          </accordion-group>
          <accordion-group is-open="status.open2">
            <accordion-heading>
              <i class="fa fa-bars" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-size:13px !important;">MENU MANAGEMENT</span>&nbsp;&nbsp;&nbsp;&nbsp;<i
              class="pull-right glyphicon"
              ng-class="{'glyphicon-chevron-down': status.open2, 'glyphicon-chevron-right': !status.open2}"></i>
            </accordion-heading>
            <ul class="nav nav-list">
              <li ng-click="showHide('tabsShow')"><a class="anchorNew">1. TABS</a>
              </li>
              <li ng-if="getGroupPermission('Menu')"><a class="anchorNew" ng-click="showMenuTabs=!showMenuTabs" ng-init="showMenuTabs=false" >2. MENU ITEMS<i
                class="pull-right glyphicon"
                ng-class="{'glyphicon-chevron-down': showMenuTabs, 'glyphicon-chevron-right': !showMenuTabs}"></i></a>
                <ul class="nav nav-list" ng-show="showMenuTabs">
                  <li ng-click="showHide('categoryShow')"><a class="anchorNewSecond">2.1 CATEGORY</a></li>
                  <li ng-click="showHide('tabCategoryShow')"><a class="anchorNewSecond">2.2 TAB->CATEGORY</a></li>
                  <li ng-click="showHide('itemShow')"><a class="anchorNewSecond">2.3 ADD ITEMS</a></li>
                  <li ng-click="showHide('tabItemShow')"><a class="anchorNewSecond">2.4 TAB->ITEMS</a></li>
                  <li ng-click="showHide('itemTaxesShow')"><a class="anchorNewSecond">2.5 ITEMS->TAXES</a></li>
                </ul>
              </li>
              <li ng-if="isPermission('taxation_settings')"><a class="anchorNew" ng-click="showTaxTabs=!showTaxTabs" ng-init="showTaxTabs=false">3. TAX<i
                class="pull-right glyphicon"
                ng-class="{'glyphicon-chevron-down': showTaxTabs, 'glyphicon-chevron-right': !showTaxTabs}"></i></a>
                <ul class="nav nav-list" ng-show="showTaxTabs">
                  <li ng-click="showHide('taxShow')"><a class="anchorNewSecond">3.1 ADD TAXES</a></li>
                  <li ng-click="showHide('chargesShow')"><a class="anchorNewSecond">3.2 CHARGES</a></li>
                </ul>
              </li>
              <li><a class="anchorNew"  ng-click="showMapTabs=!showMapTabs" ng-init="showMapTabs=false">4. MAPPING<i
                class="pull-right glyphicon"
                ng-class="{'glyphicon-chevron-down': showMapTabs, 'glyphicon-chevron-right': !showMapTabs}"></i></a>
                <ul class="nav nav-list" ng-show="showMapTabs">
                  <li ng-click="showHide('mapSectionShow')" ng-if="isPermission('genenral_settings')"><a class="anchorNewSecond">4.1 MAP SECTION</a></li>
                  <li ng-click="showHide('addonShow')" ng-if="isPermission('genenral_settings')"><a class="anchorNewSecond">4.2 ADDONS MAP</a></li>
                  <li ng-click="showHide('comboShow')" ng-if="isPermission('genenral_settings')"><a class="anchorNewSecond">4.3 COMBO MAP</a></li>
                  <li ng-click="showHide('mapliqorShow')" ng-if="isPermission('genenral_settings')"><a class="anchorNewSecond">4.4 MAP LIQUOR</a></li>
                  <li ng-click="showHide('commentShow')"><a class="anchorNewSecond">4.5 COMMENTS</a></li>

                </ul>
              </li>
              <li ng-click="showHide('sessionShow')" ng-if="isPermission('genenral_settings')"><a class="anchorNew">5. DAY SESSIONS</a>
              </li>
              <li ng-click="showHide('compheadShow')"><a class="anchorNew">6. COMPLIMENTARY HEADS</a>
              </li>
              <li ng-click="showHide('btcShow')"><a class="anchorNew">7. BTC</a>
              </li>
            </ul>
          </accordion-group>
          <accordion-group is-open="status.open3" ng-if="isPermission('genenral_settings')">
            <accordion-heading>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;<span
              style="font-size:13px !important;">BILLING SETTINGS</span><i class="pull-right glyphicon"
                                                                           ng-class="{'glyphicon-chevron-down': status.open3, 'glyphicon-chevron-right': !status.open3}"></i>
            </accordion-heading>
            <ul class="nav nav-list">
              <li ng-click="showHide('settingShow','Billing')"><a class="anchorNew" >1. GENERAL</a>
              </li>
              <li ng-click="showHide('settingShow','Passcode')"><a class="anchorNew" >2. PASSCODE</a>
              </li>
              <li ng-click="showHide('settingShow','Other')"><a class="anchorNew" >3. OTHER</a>
              </li>

            </ul>
          </accordion-group>
          <accordion-group is-open="status.open4">
            <accordion-heading>
              <i class="fa fa-print" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-size:13px !important;">PRINT & KDS SETTINGS</span><i
              class="pull-right glyphicon"
              ng-class="{'glyphicon-chevron-down': status.open4, 'glyphicon-chevron-right': !status.open4}"></i>
            </accordion-heading>
            <ul class="nav nav-list">
              <li ng-click="showHide('stationShow')" ng-if="isPermission('print_station_settings')"><a class="anchorNew" >1. STATIONS</a>
              </li>
              <li ng-click="showHide('instancePrintShow')" ng-if="isPermission('genenral_settings')"><a class="anchorNew" >2. INSTANCE <-> PRINT</a>
              </li>
              <li ng-click="showHide('settingShow','Print Server')" ng-if="isPermission('genenral_settings')"><a class="anchorNew"  >3. PRINT SETTINGS</a>
              </li>
              <li ng-click="showHide('settingShow','Bill Settings')" ng-if="isPermission('genenral_settings')"><a class="anchorNew" >4. BILL SETTINGS</a>
              </li>
              <li ng-click="showHide('settingShow','KOT Settings')" ng-if="isPermission('genenral_settings')"><a class="anchorNew" >5. KOT SETTINGS</a>
              </li>
              <li ng-click="showHide('kdsShow')"><a class="anchorNew" >6. KDS SETTINGS</a>
              </li>
              <li ng-click="showHide('shortShow')"><a class="anchorNew">7. ITEM SHORT NAME</a></li>
            </ul>
          </accordion-group>
          <accordion-group is-open="status.open5" ng-if="getGroupPermission('Users')" ng-click="showHide('userShow')">
            <accordion-heading>
              <i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp; <span
              style="font-size:13px !important;">USER SETTINGS</span>
            </accordion-heading>
          </accordion-group>
          <accordion-group is-open="status.open6">
            <accordion-heading>
              <i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp; <span style="font-size:13px !important;">ONLINE ORDER</span><i
              class="pull-right glyphicon"
              ng-class="{'glyphicon-chevron-down': status.open6, 'glyphicon-chevron-right': !status.open6}"></i>
            </accordion-heading>
            <ul class="nav nav-list">
              <li><a class="anchorNew" ng-click="showHide('onlineShow')">1. ONLINE ORDER</a>
              </li>
              <li><a class="anchorNew" ng-click="showHide('onlineOrderTabShow')">2. ONLINE ORDER -> TAB</a>
              </li>
            </ul>
          </accordion-group>
          <accordion-group is-open="status.open7">
            <accordion-heading>
              <i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-size:13px !important;">OTHER INTEGRATIONS</span><i
              class="pull-right glyphicon"
              ng-class="{'glyphicon-chevron-down': status.open7, 'glyphicon-chevron-right': !status.open7}"></i>
            </accordion-heading>
            <ul class="nav nav-list">
              <li><a class="anchorNew" ng-click="showPTabs=!showPTabs" ng-init="showPTabs=false">1.PAYMENT<i
                class="pull-right glyphicon"
                ng-class="{'glyphicon-chevron-down': showPTabs, 'glyphicon-chevron-right': !showPCabs}"></i></a>
                <ul class="nav nav-list" ng-show="showPTabs">
                  <li ng-click="showHide('mobiShow')"><a class="anchorNewSecond">1.1 MOBIKWIK SETTINGS</a></li>
                  <li ng-click="showHide('settingShow','Paytm Setting')" ng-if="isPermission('genenral_settings')"><a class="anchorNewSecond">1.2 PAYTM SETTINGS</a></li>
                  <li ng-click="showHide('settingShow','Binge Setting')" ng-if="isPermission('genenral_settings')"><a class="anchorNewSecond">1.3 BINGE SETTINGS</a></li>
                  <li ng-click="showHide('settingShow','Ruplee Setting')" ng-if="isPermission('genenral_settings')"><a class="anchorNewSecond">1.4 RUPLEE SETTINGS</a></li>
                  <li ng-click="showHide('settingShow','InResto Setting')" ng-if="isPermission('genenral_settings')"><a class="anchorNewSecond">1.5 INRESTO SETTINGS</a></li>
                </ul>
              </li>
              <li><a class="anchorNew" ng-click="showClTabs=!showClTabs" ng-init="showClTabs=false">2. CLOUD TELEPHONY<i
                class="pull-right glyphicon"
                ng-class="{'glyphicon-chevron-down': showClTabs, 'glyphicon-chevron-right': !showClCabs}"></i></a>
                <ul class="nav nav-list" ng-show="showClTabs">
                  <li ng-click="showHide('settingShow','My Operator')"><a class="anchorNewSecond">2.1 MYOPERATOR SETTINGS</a></li>
                </ul>
              </li>
              <li><a class="anchorNew" ng-click="showCTabs=!showCTabs" ng-init="showCTabs=false">3. CALL CENTER<i
                class="pull-right glyphicon"
                ng-class="{'glyphicon-chevron-down': showCTabs, 'glyphicon-chevron-right': !showCCabs}"></i></a>
                <ul class="nav nav-list" ng-show="showCTabs">
                  <li ng-click="showHide('nomnomShow')"><a class="anchorNewSecond">3.1 NOMNOM SETTINGS</a></li>
                </ul>
              </li>
              <li><a class="anchorNew" ng-click="showHide('settingShow','Delivery App')">4. DELIVERY SETTINGS</a>
              </li>
              <li><a class="anchorNew" ng-click="showLTabs=!showLTabs" ng-init="showLTabs=false">5. LOYALTY<i
                class="pull-right glyphicon"
                ng-class="{'glyphicon-chevron-down': showLTabs, 'glyphicon-chevron-right': !showLTabs}"></i></a>
                <ul class="nav nav-list" ng-show="showLTabs">
                  <li ng-click="showHide('urbanShow')"><a class="anchorNewSecond">5.1 URBANPIPER SETTINGS</a></li>
                </ul>
              </li>
              <li><a class="anchorNew" ng-click="showDTabs=!showDTabs" ng-init="showDTabs=false">6. DELIVERY PARTNER<i
                class="pull-right glyphicon"
                ng-class="{'glyphicon-chevron-down': showDTabs, 'glyphicon-chevron-right': !showDTabs}"></i></a>
                <ul class="nav nav-list" ng-show="showDTabs">
                  <li ng-click="showHide('settingShow','Delivery Partner')"><a class="anchorNewSecond">6.1 DELHIVERY</a></li>
                </ul>
              </li>
              <li><a class="anchorNew" ng-click="show3rdTabs=!show3rdTabs" ng-init="show3rdTabs=false">7. 3RD PARTY <i
                class="pull-right glyphicon"
                ng-class="{'glyphicon-chevron-down': show3rdTabs, 'glyphicon-chevron-right': !show3rdTabs}"></i></a>
                <ul class="nav nav-list" ng-show="show3rdTabs">
                  <li ng-click="showHide('partyShow')"><a class="anchorNewSecond">7.1 3RD PARTY INTEGRATIONS</a></li>
                  <li ng-click="showHide('shopifyShow')" ng-if="isPermission('genenral_settings')"><a class="anchorNewSecond">7.2 SHOPIFY SETTINGS</a></li>
                </ul>
              </li>
              <li><a class="anchorNew" ng-click="showHide('legderMappingShow')">8.TALLY LEDGER MAPPING</a>
              </li>
            </ul>
          </accordion-group>
          <accordion-group is-open="status.open8" ng-if="isPermission('genenral_settings')" ng-click="showHide('settingShow','Prepaid Card Settings')">
            <accordion-heading>
              <i class="fa fa-credit-card-alt" aria-hidden="true"></i>&nbsp;&nbsp;<span
              style="font-size:13px !important;">PREPAID CARD SETTINGS</span>
            </accordion-heading>
          </accordion-group>
          <accordion-group is-open="status.open9" ng-click="showHide('smssettingShow')" ng-if="isPermission('SMS_settings')">
            <accordion-heading>
              <i class="fa fa-comments" aria-hidden="true"></i>&nbsp;&nbsp; <span
              style="font-size:13px !important;">SMS SETTINGS</span>
            </accordion-heading>
          </accordion-group>
        </accordion>

      </div>
      <div style="margin-top:20px;overflow-y: scroll;bottom: 0;left: 0;height:600px" ng-if="deploymentList || loading">
        <accordion close-others="false" style="margin-top: 20px;">
          <accordion-group is-open="status.open1" ui-sref=".deployments">
            <accordion-heading>
              <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-size:13px !important;">Deployments</span>
            </accordion-heading>
          </accordion-group>
          <accordion-group is-open="status.open2" ui-sref=".rolesPermissions">
            <accordion-heading >
              <i class="fa fa-bars" aria-hidden="true"></i>&nbsp;<span style="font-size:13px !important;">Roles and Permissions</span>
            </accordion-heading>
          </accordion-group>
        </accordion>

      </div>



      </div>
    <div class="col-sm-9 col-md-10 main" style="width:81%">
      <p class="visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i
          class="glyphicon glyphicon-chevron-left"></i></button>
      </p>
      <div class="ui-view-container">
        <div class="anim-well" ui-view=""></div>
      </div>

    </div>

  </div>
</div>
