<div class="modal-header">
  <h3 class="modal-title">Select instance from list. </h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <table class="table table-responsive table-condensed table-striped table-bordered">
      <tr>  <th>#</th><th>Name</th><th>PreFix</th><th></th></tr>
      <tr ng-repeat="instance in instances"><td>{{$index + 1}}</td><td>{{instance.name}}</td><td>{{instance.preFix}}</td><td><i class="btn btn-primary btn-sm" ng-click="selectedInstance(instance)">Select</i> </td></tr>
    </table>
  </div>
</div>
<div class="modal-footer">

  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
