<tabset>
  <!-- modified -->
  <tab heading="Purchase Order" style="cursor:pointer;" ng-click="resetForm()">
    <!-- end -->
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div style="margin-top: 20px;"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Purchase Order</h3>

                <div style="float:right;margin-top:-25px"><span>
												<a class="btn btn-danger" ng-click="resetForm(1)">
                          <span ng-if="!purchaseOrderForm.isEdit">Reset </span>
                          <span ng-if="purchaseOrderForm.isEdit">Edit</span>
                        </a>
											</span></div>
              </div>
              <div class="panel-body">
                <form name="formPurchaseOrder" ng-submit="submitPurchaseOrder(formPurchaseOrder)" novalidate>
                  <div class="panel panel-default col-md-12">
                    <table class="table">
                      <tr>
                        <td>Bill No</td>
                        <td>
                          PO#:-
                          <span>{{purchaseOrderForm.poNumber}} </span>
                        </td>
                        <td>Bill Date</td>
                        <td>
                          <input type="text" date-format ng-disabled="purchaseOrderForm.isSaved" name="validFrom"
                                 class="form-control"
                                 datepicker-popup="{{'dd-MMM-yyyy'}}"
                                 ng-model="purchaseOrderForm.billDate"
                                 datepicker-options="dateOptions"
                                 ng-required="true"
                                 show-button-bar="false"
                                 ng-readonly="true"
                                 close-text="Close"/>
                        </td>
                      </tr>
                      <tr>
                        <td>Select Store</td>
                        <td>
                          <select ng-disabled="purchaseOrderForm.disableEntries" ng-model="purchaseOrderForm.store" required
                                  ng-change="bindVendors(purchaseOrderForm)"
                                  ng-options="s.storeName for s in stores" class="form-control">
                            <option value="">Select Store</option>
                          </select>
                        </td>
                        <td>Select Vendor</td>
                        <td>
                          <select ng-disabled="purchaseOrderForm.disableEntries" ng-model="purchaseOrderForm.vendor" required
                                  ng-change="bindCategories(purchaseOrderForm)"
                                  ng-options="v.vendorName for v in purchaseOrderForm.availableVendors"
                                  class="form-control">
                            <option value="">Select Vendor</option>
                          </select>
                        </td>
                      </tr>
                      <tr ng-show="purchaseOrderForm.availableCategories.length > 0">
                        <td colspan="6">
                          <span>Select Category</span>
                          <table class="table responsive">
                            <tr>
                              <div class="row">
                                <div ng-repeat="c in purchaseOrderForm.availableCategories " class="col-sm-2">
                                  <label for="{{c._id}}">
                                    <input ng-disabled="purchaseOrderForm.disableEntries" type="checkbox" id="{{c._id}}"
                                           ng-checked="c.isChecked"
                                           checklist-model="purchaseOrderForm.selectedCategories"
                                           checklist-value="c" ng-change="bindItems(purchaseOrderForm, c)">
                                    {{c.categoryName}}
                                  </label>
                                </div>
                              </div>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <!-- <div class="panel panel-default col-md-6">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Template</h3>
                                        </div>
                                        <table class="table">
                                            <tr>
                                                <td>Select Template </td>
                                                <td>
                                                    <select ng-model="stockEntryForm.selectedTemplate"  ng-options="v.templateName for v in stockEntryForm.availableTemplate" class="form-control">
                                                    <option value="">Select Template</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>New Template Name</td>
                                                <td>
                                                    <input type="text" ng-model="stockEntryForm.templateName" class="form-control">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>

                                                </td>
                                                <td>
                                                    <a class="btn btn-success" ng-disabled="stockEntryForm.isTemplateSave" ng-click="saveEntryTemplate()">Save</a>
                                                    <a class="btn btn-danger" ng-disabled="stockEntryForm.isTemplateDelete" ng-click="deleteEntryTemplate()">Delete</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div> -->
                  <table class="table">
                    <tr>
                      <td>

                        <input ng-disabled="purchaseOrderForm.disableEntries" type="text" id="f_1" ng-enter="goNext(11)"
                               ng-model="purchaseOrderForm.itemToAdd"
                               typeahead="item as searchDropdown(item.itemName,item.itemCode) for item in getSearchResultsForEntries($viewValue , 'Purchase Order') | limitTo:8"
                               class="form-control" placeholder="Search items to add in current list "
                               typeahead-on-select='addItemManually(purchaseOrderForm, purchaseOrderForm.itemToAdd)'>
                        <!--<input type="text" id="th_se" ng-enter="goNext(11)"  ng-model="stockEntryForm.itemToAdd" typeahead="item.itemName for item in stockEntryForm.remainingItems | filter:$viewValue | limitTo:8" class="form-control" placeholder="Search items to add in current list " typeahead-on-select='addRemainingItem_stockEntryForm($item, $model, $label)'>-->
                      </td>
                    </tr>
                  </table>
                  <table class="table table-curved" ng-show="purchaseOrderForm.itemsByCategories.length>0">
                    <thead>
                    <th ng-hide="stockEntryForm.isSaved"></th>
                    <th>Code</th>
                    <th>Item Name</th>
                    <th>Units</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>VAT</th>
                    <th>Added Amt</th>
                    <th>Comments</th>
                    <th>Total</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in purchaseOrderForm.itemsByCategories track by $index | orderBy: 'itemName'">
                      <td>
                        <!-- <a ng-confirm-message="Are you sure for Delete?" ng-confirm-condition="true" ng-confirm-click="removeStore(s)"><i class="glyphicon glyphicon-trash"></i></a> -->
                        <a style="cursor:pointer;" ng-hide="purchaseOrderForm.disableEntries"
                           ng-click="deleteSelectedItem(purchaseOrderForm, item)"><i
                          class="glyphicon glyphicon-remove"></i></a>
                      </td>
                      <td>{{item.itemCode || '-'}}</td>
                      <td>
                        {{item.itemName}}
                      </td>
                      <td>
                        <div>
                          <select ng-disabled="purchaseOrderForm.disableEntries" name="unitName"
                                  ng-model="item.selectedUnit" ng-change="changeDataForUnit(item)"
                                  ng-options="u.unitName for u in item.units" class="form-control">
                            <!-- ng-change="slectedUnit_entryForm(stockEntryForm.selectedUnits)" -->
                            <option value="">Select Unit</option>
                          </select>
                        </div>
                      </td>
                      <td>
                        <div>
                        <input ng-disabled="purchaseOrderForm.disableEntries" type="text" id="f_{{$index+1}}1"
                               ng-enter="goNext({{$index+1}}2 )"  ng-change="calculateAmt_entryForm(formPurchaseOrder,item.qty,item.price,item,item.vatPercent)" ng-model="item.qty" class="form-control" numeric-only>
                        </div>
                      </td>
                      <td>
                        <div>
                        <input ng-disabled="purchaseOrderForm.disableEntries" type="text" ng-model="item.price"
                               ng-change="calculateAmt_entryForm(formPurchaseOrder,item.qty,item.price,item,item.vatPercent)"
                               id="f_{{$index+1}}2" class="form-control"
                               ng-enter="goNext({{$index+2}}1)" numeric-only>
                        </div>
                      </td>

                      <td>
                          <input  type="text"  ng-disabled="purchaseOrderForm.disableEntries" ng-change="calculateAmt_entryForm(formPurchaseOrder,item.qty,item.price,item,item.vatPercent)" ng-model="item.vatPercent" class="form-control">
                      </td>
                       <td>
                            <input type="text" ng-disabled="true" ng-model="item.addedAmt" class="form-control" smart-float>
                      </td>

                      <td>
                        <input  type="text" ng-model="item.comment" ng-disabled="purchaseOrderForm.disableEntries"
                               class="form-control">
                      </td>
                       <td>
                        <input type="text" ng-disabled="true" ng-model="item.totalAmount" class="form-control" smart-float>
                      </td>
                    </tr>
                   

                    <td>Cartage</td>
                      <td colspan="4">
                        <input  ng-disabled="!purchaseOrderForm.enableSubmit"  type="text" ng-model="purchaseOrderForm.cartage" ng-change="calculateAmt_entryForm(formPurchaseOrder); CheckForFloat_cartage_entry(purchaseOrderForm.cartage)" class="form-control" numeric-only>
                      </td>

                    <td>Discount</td>
                      <td colspan="4">
                        <input  ng-disabled="!purchaseOrderForm.enableSubmit"   type="text" ng-model="purchaseOrderForm.discount" class="form-control" ng-change="calculateAmt_entryForm(formPurchaseOrder)" numeric-only>
                        <input   type="radio" ng-model="purchaseOrderForm.discountType" value="percent" ng-change="calculateAmt_entryForm(formPurchaseOrder)">  %  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input   type="radio" ng-model="purchaseOrderForm.discountType" value="amount" ng-change="calculateAmt_entryForm(formPurchaseOrder)"> Amount
                      </td>
                       <tr>
                      <td>Total Amount</td>
                      <td colspan="4"><input class="form-control" type="text" disabled ng-model="purchaseOrderForm.billTotal"></td>
                      <td></td>
                      <td></td>
                    </tr>

                     <tr ng-if="purchaseOrderForm.itemsByCategories.length > 0">
                        <td colspan="10">
                            <label><b>Additional Charges</b></label>
                            <a class="glyphicon glyphicon-plus btn btn-success btn-circle" ng-model="purchaseOrderForm.enableCharges" ng-click="addChargesToEntryForm(formPurchaseOrder)"  ng-disabled = "!purchaseOrderForm.enableSubmit"></a>
                        </td>
                    </tr>
                    <tr ng-repeat="charge in purchaseOrderForm.charges">
                        <td colspan="10" style="padding-left: 5%;">
                            <div ng-if="charge.isEdit">
                                <div class="col-md-1"><label style="margin-right: 20px;">Name</label></div>
                                <div class="col-md-2"><input type="text" name="chargeName" ng-model="charge.chargeName" class="form-control" required/></div>
                                <div class="col-md-1"><label style="margin-right: 20px;">Value</label></div>
                                <div class="col-md-2"><input type="number" min="0" name="chargeValue" ng-model="charge.chargeValue" class="form-control" required/></div>
                                <div class="col-md-2">
                                    <select class="form-control" name="type" ng-model="charge.type" required>
                                        <option value="percent" selected>Percent</option>
                                        <option value="amount" >Amount</option>
                                    </select>
                                </div>
                                <div class="col-md-1"><label style="margin-right: 20px;"><input type="radio" name="{{operationType + $index}}" ng-model="charge.operationType" value="additive" required>Add</label></div>
                                <div class="col-md-1"><label style="margin-right: 20px;"><input type="radio" name="{{operationType + $index}}" ng-model="charge.operationType" value="deductive" required >Subtract</label></div>
                                <div class="col-md-1"><a class="btn btn-default glyphicon glyphicon-ok" ng-click="acceptCharge(charge, $index,formPurchaseOrder)"></a></div>
                                <div class="col-md-1"><a class="btn btn-default glyphicon glyphicon-remove" ng-click="removeChargesFromEntryFormEdit($index, formPurchaseOrder,removeCharge,qty, price, item, vat)"></a></div>
                            </div>
                            <div ng-if="!charge.isEdit">
                                <div class="col-md-3">{{charge.chargeName}} (<span ng-if="charge.operationType=='additive'">+</span><span ng-if="charge.operationType=='deductive'">-</span>)</div>
                                <div class="col-md-3"><input type="number" min="0" name="chargeValue" ng-model="charge.chargeValue" class="form-control" disabled/></div>
                                <div class="col-md-3">
                                    <select class="form-control" name="type" ng-model="charge.type" disabled>
                                        <option value="percent" selected>Percent</option>
                                        <option value="amount">Amount</option>
                                    </select>
                                </div>
                                <div class="col-md-1 col-md-offset-2"><a href="" ng-click="changeChargeEditStatus($index, charge,operationType,formPurchaseOrder)"><i class="glyphicon glyphicon-edit" ng-disabled = "!purchaseOrderForm.enableSubmit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" ng-click="removeCharge(charge, $index,formPurchaseOrder,qty, price, item, vat,removeCharge)" ng-disabled = "!purchaseOrderForm.enableSubmit"><i class="glyphicon glyphicon-remove text-danger"></i></a></div>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                  </table>
                  <div id='purchaseOrderPrint' ng-hide="true">
                    <table runat='server'
                           style='width:100%; border-right:2px solid black; border-left:2px solid black; border-bottom:2px solid black;'>
                      <tr>
                        <td colspan='9'></td>
                        <td style='width:250px; text-align:right'></td>
                      </tr>
                      <tr>
                        <td colspan='10' style='border-bottom:1px solid black'></td>
                      </tr>
                      <tr>
                        <td colspan='9'></td>
                        <td style='width:250px; text-align:right'>

                        </td>
                      </tr>
                      <tr>
                        <td colspan="10" style="text-align: center;">{{setting.title}}</td>
                      </tr>
                      <tr>
                        <td colspan="10" style="text-align: center;">{{setting.address}}</td>
                      </tr>

                      <tr>
                        <td colspan='10'
                            style='text-align:center; font-size:x-large; font-weight:bold; text-decoration:underline'>
                          Purchase Order Note
                          <br/>
                          <br/>
                        </td>
                      </tr>
                      <tr>
                        <td colspan='8'></td>
                        <td style='text-align:right'>PO # :</td>
                        <td style='border:1px solid black'>{{purchaseOrderForm.poNumber}}</td>
                      </tr>
                      <tr>
                        <td colspan='8'></td>
                        <td style='text-align:right'>PO Date :</td>
                        <td style='border:1px solid black'>
                          {{purchaseOrderForm.billDate | date:'dd MMM yyyy'}}
                        </td>
                      </tr>
                      <tr>
                        <td colspan='8'></td>
                        <td style='text-align:right'>Store Location :</td>
                        <td style='border:1px solid black'>{{purchaseOrderForm.store.storeLocation}}</td>
                      </tr>
                      <tr>
                        <td colspan='8'></td>
                        <td style='text-align:right'>Store UID :</td>
                        <td style='border:1px solid black'>{{purchaseOrderForm.store.storeUID}}</td>
                      </tr>
                      <tr>
                        <td colspan='10'><br/></td>
                      </tr>
                      <tr>
                        <td colspan='10'>
                          <table style='width:100%;' border='1' cellspacing='0' cellpadding='0'>
                            <thead style='background-color:#CFFFE9;'>
                            <th>Code</th>
                            <th>Item Name</th>
                            <th>Unit</th>
                            <th>Rate</th>
                            <th>Quantity</th>
                            <th>VAT</th>
                            <th>Added Amt</th>
                            <th>Comment</th>
                            <th>Total</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in purchaseOrderForm.itemsByCategories track by $index" ng-if="item.itemName && item.selectedUnit && item.price && item.qty">
                              <td>{{item.itemCode || '-'}}</td>
                              <td>{{item.itemName}}</td>
                              <td>{{item.selectedUnit.unitName}}</td>
                              <td>{{item.price | number:2}}</td>
                              <td>{{item.qty | number:3}}</td>
                              <td>{{item.vatPercent}}</td>
                              <td>{{item.addedAmt}}</td>
                              <td>{{item.comment}}</td>
                              <td>{{item.totalAmount}}</td>
                            </tr>


                            </tbody>

                          </table>
                        </td>
                      </tr>
                     

                      <tr>
                        <td colspan='10'><br/></td>
                      </tr>

                       
                     
                      <tr>
                        <td colspan='8'></td>
                        <td style='text-align:right'>Total :</td>
                        <td style='border:1px solid black'><b style='float:right'>{{billTotal }} </b></td>
                      </tr>
                      <tr>
                        <td colspan='8'></td>
                        <td style='text-align:right'>Discount (-):</td>
                        <td style='border:1px solid black;'> <b style='float:right'>{{discount}} </b></td>
                      </tr>
                       <tr>
                        <td colspan='8'></td>
                        <td style='text-align:right'>VAT (+):</td>
                        <td style='border:1px solid black;'><b style='float:right'>{{totalVat}} </b></td>
                      </tr>
                      <tr>
                        <td colspan='8'></td>
                        <td style='text-align:right'>Cartage (+):</td>
                        <td style='border:1px solid black;'><b style='float:right'>{{purchaseOrderForm.cartage}} </b></td>
                      </tr>
                      <tr>
                        <td colspan='8'></td>
                        <td style='text-align:right'>Additional Charges :</td>
                        <td style='border:1px solid black;'><b style='float:right'>{{netAdditionalCharge}} </b></td>
                      </tr>
                      
                      <tr>
                        <td colspan='8'></td>
                        <td style='text-align:right'>Grand Total :</td>
                        <td style='border:1px solid black;'><b style='float:right'>{{purchaseOrderForm.billTotal}} </b></td>
                      </tr>

                        <td>VAT TIN :</td>
                        <td colspan='3' style='border:1px solid black; text-align:left; width:250px;'>
                          {{setting.vatTin}}
                        </td>
                        <td colspan='5' style='text-align:right'>For Franchise</td>
                        <td>___________________________________</td>
                      </tr>
                      <tr>
                        <td>CST TIN :</td>
                        <td colspan='3' style='border:1px solid black; text-align:left; width:250px;'>
                          {{setting.taxTin}}
                        </td>
                        <td colspan='6'></td>
                      </tr>
                      <tr>
                        <td colspan='9'></td>
                        <td style='font-size:14px;'>{{setting.billRightFooter}}</td>
                      </tr>
                      <tr>
                        <td colspan='10'><br/><br/><br/></td>
                      </tr>
                      <tr>
                        <td colspan='10' style='text-align:center;font-size:12px;'>{{setting.billFooter}}</td>
                      </tr>
                    </table>
                  </div>


                  <button id="submitPurchaseOrder" ng-hide="purchaseOrderForm.enablePrint"
                          type="submit" ng-disabled="!formPurchaseOrder.$valid || !purchaseOrderForm.enableSubmit || purchaseOrderForm.itemsByCategories.length == 0"
                          class="btn btn-success">
                    <span ng-if="!stockEntryForm.isPrint">Submit </span>
                  </button>
                  <button id="printPurchaseOrder" ng-show="purchaseOrderForm.enablePrint" type="button" ng-disabled=""
                          class="btn btn-warning" ng-click="printPurchaseOrder()">
                    <span>Print </span>
                  </button>
                  <!--<pre>{{formPurchaseOrder.$valid}}</pre>-->
                  <!-- <a id="submitPrintStockEntry" class="btn btn-success" ng-disabled="stockEntryForm.enableSubmit" ng-click="submitAndPrintStockEntry()"><i class="fa fa-bars"></i> Submit & Print </a> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>
  <tab heading="Pending Orders" style="cursor:pointer;" ng-click="resetForm()">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div class="margin-top:20px;">
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-curved table-curved-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>Date</th>
                <th>PO#</th>
                <th>Ordered By</th>
                <th>Vendor Name</th>
                <th>Entry</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="r in  pendingOrders.orders track by $index| orderBy: '-created'" style="cursor:pointer;" >
                <td>{{$index+1}}
                </td>
                <td>{{r.created | date:'dd MMM yyyy @ h:mma'}}
                </td>
                <td>PO -{{r.daySerialNumber}}
                </td>
                <td>{{r.user.firstname}}
                </td>
                <td>
                  {{r.vendor.name}}
                </td>
                <td>
                  <a href="#" ui-sref="stock.performStockEntry({id: r._id})">Process Order
                  </a>
                </td>
              </tr>
              <tr ng-show="req.receiveIndents.length<=0">
                <td colspan="5">No Items present to Receive </td>
              </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
  </tab>
</tabset>
