
<!--
<pre style="height: 200px; overflow: scroll;">
    {{ bill | json }}
</pre>
-->

<div style="margin-top: 10px;"></div>

<tabset>
    <tab  select="renderRefreshNewBill()">
        <tab-heading>
            <h4 ng-show="$state.is('billing.table.bill')">

                <a ng-if="tabType === 'table'" style="cursor: pointer;" ui-sref="billing.table({tabId:tabId})"><i
                        class="fa fa-arrow-circle-left"></i> Go Back </a>
        <span >
             Table# {{bill._tableId}} <i class="fa fa-users"></i> Covers - {{bill._covers}}
        </span>
            </h4>
            <span ng-show="$state.is('billing.takeout')">New TakeOut Bill</span>
            <span ng-show="$state.is('billing.delivery')">New Delivery Bill</span>
            <span ng-show="$state.is('billing.edit')">Edit Bill</span>
            <span ng-show="$state.is('billing.delivery.bill')">Delivery Bill: {{bill.billNumber}}- Open</span>
            <span ng-show="$state.is('billing.takeout.bill')">TakeOut Bill: {{bill.billNumber}}- Open</span>

        </tab-heading>


        <div class="row">
            <div style="margin-top:10px;"></div>
            <div class="col-xs-12 col-md-6">
                <div ng-show="$state.is('billing.edit')" class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tr>
                                    <td><h4><i class="fa fa-edit"></i> Edit Bill: {{bill._id}}</h4></td>
                                    <td width="10%" class="text-center" style="vertical-align: middle"><a
                                            class="btn btn-success" ng-click="updateBill()">Update Bill</a></td>
                                    <td width="10%" class="text-center" style="vertical-align: middle"><a
                                            class="btn btn-warning" ui-sref="billing.table">Cancel</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="jumbotron hidden-xs" style="display: block; padding: 10px;  clear: both; ">
                    <a class="btn btn-link" ng-click="clearCategoryFilter()">Clear Category Filter</a>


                    <div style="clear: both" ></div>

                    <slick   responsive='[
    {
      breakpoint: 1400,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 4,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 6,
        slidesToScroll: 6,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 4
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 4
      }
    }]'>

                        <!--<div class="s-class" >-->

                        <!-- <div ng-repeat="cat in categories" class="s-class" >
                             <div ng-repeat="t in [1,2]" >
                                 <div class="s-class-cat">
                             <i class="btn btn-lg btn-info "   style="width:150px"  ng-click="filterItemsFromCategory(cat)">{{cat.categoryName}}</i>
                                 </div>
                                 </div>
                         </div>-->
                        <div ng-repeat="cats in categoriesT" class="s-class" >
                            <div ng-repeat="cat in cats" >
                                <div class="s-class-cat">
                                    <i class="btn btn-lg btn-info "   style="width:150px"  ng-click="filterItemsFromCategory(cat)">{{cat.categoryName}}</i>
                                </div>
                            </div>

                        </div>

                        <!--</div>-->
                    </slick>

                    <div style="clear: both"></div>


                </div>

                <div class="jumbotron hidden-xs" style="display: block; padding: 20px; margin-bottom: 5px; clear: both; max-height: 600px; ">

                    <!-- <div ng-repeat="item in explorerItems | filterBy: ['category.categoryName']: categoryNameToFilter"
                          style="float:left; display: inline-block; margin-right: 2px; margin-bottom: 2px;">
                         <a class="btn btn-lg btn-success" ng-click="addItemFromExplorer(item)">{{item.name}}</a>
                     </div>-->
                    <slick ng-if="dataLoaded" init-onload="false"  data="dataLoaded"  responsive='[
    {
      breakpoint: 1400,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 4,
        infinite: false,
        dots:true,
        focusOnSelect:true
      }
    },
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 6,
        slidesToScroll: 6,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 4
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 4
      }
    }]'>

                        <div ng-repeat="items in explorerItemsT" class="i-class">
                            <div ng-repeat="item in items">
                                <div class="s-class-cat">
                                    <a class="btn btn-lg btn-success" style="width:150px;height: 50px ;font-size: 12px" ng-click="addItemFromExplorer(item)">{{item.name}}</a>
                                </div>
                            </div>
                        </div>
                    </slick>
                    <div style="clear: both"></div>

                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="well well-sm">
                            <label>Select Waiter</label>
                            <select class="form-control" ng-model="bill._waiter"
                                    ng-options="waiter as getWaiterName(waiter) for waiter in users track by waiter._id">
                                <option value="">Select Waiter</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="well well-sm" ng-show="!$state.is('billing.table.bill')">
                            <label>Select Delivery Boy</label>
                            <select class="form-control" ng-model="bill._delivery"
                                    ng-options="deliverer as getDelivererName(deliverer) for deliverer in users track by deliverer._id">
                                <option value="">Select Delivery</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="well" style="margin-bottom: 0;">
                    <div class="row">
                        <div class="col-xs-6">

                            <form name="formadditem" class="form-inline">
                                <div class="form-group">
                                    <input type="text" style="max-width: 160px" typeahead-on-select="getSearchItemSelect($item, $model, $label)"   focus-me="{{setFocus.focusItem}}" ng-model="searchItem.name"
                                           name="itemName"   typeahead="item.name for item in masterItems | searchField: 'name': 'id' | filter:$viewValue"
                                           class="form-control" placeholder="Search Item..."/>

                                    <input type="text"  focus-me="{{setFocus.focusInput}}" ng-enter="GoToNextElement(formadditem)"  name="quantity" id="itemQuantityId" style="max-width: 60px"
                                           class="form-control " placeholder="Qty" ng-model="searchItem.qty" />

                                    <button type="submit" class="btn btn-default" ng-click="getSelectedItem(formadditem)" >Add </button>
                                    <span ng-show="formadditem.quantity.$dirty && formadditem.quantity.$error.required || (formadditem.quantity.$dirty && formadditem.quantity.$invalid)">Quantity invalid.</span>

                                </div>
                            </form>

                        </div>
                        <div class="col-xs-6">
                            <div class="btn-group">
                                <a class="btn btn-warning" ng-show="showKot" ng-click="printKot()">Print KOT</a>
                                <a class="btn btn-success"  ng-click="printBill()">Print Bill</a>
                                <a ng-show="showSettlementButton()"  class="btn btn-info" ng-click="openSettleBill('lg')">Settle Bill</a>
                                <!--<a class="btn btn-default" ng-click="voidBill()">Void Bill</a>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive billing" style="overflow: auto; height:250px;">

                    <!--Bill Punch Table-->
                    <table class="table table-striped table-condensed bill-table">
                        <tbody>
                        <tr ng-repeat="item in bill._items">
                            <td width="2%">
                                <a class="btn btn-danger btn-xs" ng-click="removeItem($index)"><i class="fa fa-minus"></i></a>
                            </td>
                            <td>
                                {{$index + 1}}.
                            </td>
                            <td>
                                {{item.name}}
                                <!--<p ng-show="item.taxes.length > 0" style="margin: 0;">
                                    <span ng-repeat="tax in item.taxes" class="label label-info"
                                          style="margin-right:5px;">{{tax.name}}</span>
                                </p>-->

                                <p ng-show="item.isDiscounted" style="margin: 0;">
                    <span class="label label-warning" ng-repeat="d in item.discounts" style="margin-right:5px;">
                        Discount {{d.value}} <em ng-if="d.type === 'percentage'">%</em> <em ng-if="d.type === 'fixed'">/-</em>
                    </span>
                                </p>

                                <p ng-show="item.comment">
                                    <small><em>{{item.comment}}</em></small>
                                </p>
                            </td>
                            <td class="text-center">

                                <div class="btn-group" role="group" aria-label="...">
                                    <a ng-click="bill.incrementQuantity($index)" class="btn btn-success btn-sm"><i
                                            class="fa fa-plus"></i></a>
                                    <!--   <a class="btn btn-default btn-sm" ng-click="openItemQuantityModal('sm', item, $index)">{{item.quantity}}</a>-->
                                    <a class="btn btn-default btn-sm" ng-click="openItemQuantityModal('sm', item, $index)">{{item.quantity}}</a>
                                    <a ng-click="bill.decrementQuantity($index)" class="btn btn-danger btn-sm"><i
                                            class="fa fa-minus"></i></a>
                                    <a ng-click="openItemComment($index)" class="btn btn-default btn-sm"><i class="fa fa-comment-o"></i></a>
                                </div>

                            </td>
                            <td class="text-center">
                                <!--  <a class="btn btn-default btn-sm"
                                     ng-click="openItemRateTaxDiscModal('', item, $index)">@
                                      {{item.rate}}/-</a>-->
                                <a class="btn btn-default btn-sm">
                                    @{{item.rate}} </a>
                                <!-- <span ng-if="item.isDiscounted" class="btn btn-link">{{item.ratebeforeDiscount}}/-</span>-->

                            </td>
                            <!-- <td class="text-center">{{bill.getItemSubtotal(item)}}/-</td> -->
                            <td class="text-right"><a class="btn btn-default btn-sm" ng-click="openItemAmountModal('sm', item, $index)">{{item.subtotal}}/-</a></td>
                        </tr>
                        </tbody>
                    </table>

                    <!--KOT Printed TABLE-->
                    <table ng-repeat="(index,kot) in bill._kots"
                           class="table table-bordered table-condensed table-striped bill-table">
                        <thead>

                        <tr ng-class="{'info':$even, 'warning':$odd}">
                            <th colspan="5">
                                <a ng-show="!kot.isVoid" class="btn btn-default btn-xs" ng-click="voidKot(index)">Void KOT</a>
                                <a ng-show="!kot.isVoid" class="btn btn-default btn-xs" ng-click="printKotIndex($index, true)">Re-Print
                                    KOT</a>
                                <!--<strong>KOT #: {{index + 1}}</strong>-->
                                <strong>KOT #: {{kot.kotNumber}}</strong>
                                <span ng-show="kot.isVoid" class="label label-danger">Void</span>
                                <span ng-show="kot.isVoid"> {{kot.comment}}</span>
                            </th>
                            <th class="text-right">
                                &nbsp;
                            </th>
                        </tr>
                        <tr>
                            <th colspan="5">
                                <i>{{kot.comment}}</i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in kot.items">
                            <td width="2%">
                                <a class="btn btn-danger btn-xs" ng-click="openChangeKotQuantity('sm', index, $index)"><i class="fa fa-minus"></i></a>
                            </td>
                            <td>{{$index + 1}}</td>
                            <td>{{item.name}}
                                <p ng-show="item.comment">
                                    <small><em>{{item.comment}}</em></small>
                                </p>
                            </td>
                            <td width="20%" class="text-center">
                                <div class="btn-group" role="group" aria-label="...">
                                    <!--<a ng-click="bill.incrementQuantity($index)" class="btn btn-success btn-sm"><i
                                            class="fa fa-plus"></i></a>-->
                                    <a class="btn btn-default btn-xs" >{{item.quantity}}</a>

                                    <!--<a ng-click="bill.decrementKotQuantity($index)" class="btn btn-danger btn-sm"><i
                                            class="fa fa-minus"></i></a>-->
                                </div>
                            </td>
                            <td class="text-center" width="10%">
                                <a class="btn btn-default btn-xs">@{{item.rate}}</a>
                            </td>
                            <td class="text-center" width="10%">{{item.subtotal}}/-</td>
                        </tr>
                        <tr class="danger" ng-repeat="delItem in kot.deleteHistory">
                            <td width="2%"></td>
                            <td>{{$index + 1}}</td>
                            <td>{{delItem.name}}</td>
                            <td class="text-center">-{{delItem.quantity}}</td>
                            <td class="text-center">@{{delItem.rate}}</td>
                            <td class="text-center">-{{delItem.subtotal}}</td>
                        </tr>
                        <!-- <tr>
                             <td colspan="3">Total: {{bill.getKotIndexSubtotal($index)}}</td>
                             <td colspan="2">Total Tax: {{bill.getKotTaxTotal($index)}}</td>
                         </tr>-->
                        </tbody>
                    </table>

                </div>

                <div class="well" style="margin-bottom: 0;">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="input-group">
                                <!--typeahead="c.firstname for c in customers | searchField: 'firstname': 'lastname' : 'mobile' | filter:$viewValue"-->
                                <input type="text"
                                       ng-model="selectedCustomer"
                                       typeahead="customer as getFullname(customer) for customer in getCustomersQuery($viewValue)"
                                       typeahead-min-length="10"
                                       typeahead-on-select="getSelectedCustomer($item, $model, $label)"
                                       class="form-control"
                                       placeholder="Search Customer..."/>

                        <span class="input-group-btn">
                            <a style="cursor: pointer;" class="btn btn-info"
                               ng-click="openCustomerModal('', selectedCustomer)"
                               class="btn btn-default">Add Customer</a>
                        </span>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-xs-12">
                                    <!-- <pre>
                                        {{bill._customer}}
                                    </pre> -->
                                    <div ng-show="bill.isCustomerSelected()" class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><a class="btn btn-default btn-xs"
                                                                       ng-click="bill.removeCustomer()">X</a> {{
                                                bill._customer.firstname }} {{ bill._customer.lastname }}</h3>

                                        </div>
                                        <div class="panel-body">
                                            <address>
                                                <h5>{{bill._customer.mobile}}</h5>
                                                <h5>{{bill._customer.email}}</h5>
                                            </address>
                                            <h5><strong>Deliver To:</strong></h5>
                                            <ul class="list-group">
                                                <li ng-repeat="a in bill._customer.addresses" class="list-group-item">

                                                    <label>
                                                        <input name="deliveryto" type="radio" ng-click="setCustomerDeliverTo(a)">
                                                        {{a.line1}}
                                                    </label>

                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">

                            <!-- ITEM TOTALS -->
                            <div ng-show="bill._kots.length === 0" class="table-responsive">
                                <table class="table table-condensed">
                                    <tbody>
                                    <tr>
                                        <td><strong>Subtotal</strong></td>
                                        <td class="text-right"><i class="fa fa-inr"></i>
                                            {{bill.getSubtotal()}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Discounts</strong></td>
                                        <td class="text-right"><i class="fa fa-inr"></i>
                                            ({{bill.getTotalDiscount()}})
                                        </td>
                                    </tr>
                                    <tr ng-repeat="tax in bill._taxes">
                                        <td>{{tax.name}}</td>
                                        <td class="text-right"><i class="fa fa-inr"></i> {{tax.tax_amount}}</td>
                                    </tr>
                                    <tr>
                                        <td><h5><strong>Total Tax</strong></h5></td>
                                        <td class="text-right">
                                            <h5>
                                                <i class="fa fa-inr"></i> <strong>{{bill.getTotalTax()}}</strong>
                                            </h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h3>Total</h3></td>
                                        <td class="text-right">
                                            <h3>
                                                <i class="fa fa-inr"></i> {{bill.getTotalBill()}}
                                            </h3>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- KOT TOTALS -->
                            <div ng-show="bill._kots.length > 0" class="table-responsive">
                                <table class="table table-condensed">
                                    <tbody>
                                    <tr>
                                        <td><strong>Subtotal</strong></td>
                                        <td class="text-right"><i class="fa fa-inr"></i>
                                            {{bill.getKotsTotalAmount()}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Discounts</strong></td>
                                        <td class="text-right"><i class="fa fa-inr"></i>
                                            ({{bill.getKotTotalDiscount()}})
                                        </td>
                                    </tr>
                                    <tr ng-repeat="tax in bill._kotsTaxes">
                                        <td>{{tax.name}}</td>
                                        <td class="text-right"><i class="fa fa-inr"></i> {{tax.tax_amount}}</td>
                                    </tr>
                                    <tr>
                                        <td><h5><strong>Total Tax</strong></h5></td>
                                        <td class="text-right">
                                            <h5>
                                                <i class="fa fa-inr"></i> <strong>{{bill.getKotsTotalTax()}}</strong>
                                            </h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h3>Total</h3></td>
                                        <td class="text-right">
                                            <h3>
                                                <i class="fa fa-inr"></i> {{bill.getKotsTotalBill()}}
                                            </h3>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>

    </tab>

    <tab ng-show="$state.is('billing.delivery')" select="getOfflineBills()">
        <tab-heading><i class="fa fa-bicycle"></i> Deliveries</tab-heading>

        <!--<pre style="height: 200px; overflow: auto;">
            {{bill | json}}
        </pre>-->
        <div class="table-responsive">
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Covers</th>
                    <th>Bill Amount</th>
                    <th>Tab</th>
                    <th>Delivery Boy</th>
                    <th>Customer</th>
                    <th>Address</th>
                    <th>Dispatched On</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="bill in bills | filterBy: ['bill.tabId']: tabId">
                    <td>{{bill.billNumber}}</td>
                    <th>{{bill.bill._covers}}</th>
                    <td>{{bill.bill.getKotsTotalBill()}}</td>
                    <td>{{bill.bill.tab}}</td>
                    <td>{{bill.bill.getDelivery()}}</td>
                    <td>{{bill.customer}}</td>
                    <td>{{bill.customer_address}}</td>
                    <td>{{bill.created}}</td>
                    <td>
                        <!-- <a ng-show="bill.isSettled === 'false'" class="btn btn-info"
                           ng-click="setDeliveryTime($index)">Settle Bill</a>
                        {{bill.bill._delivery.deliveryTime | date:'yyyy-MM-dd HH:mm:ss'}}
                        <a class="btn btn-default" ng-show="bill.isVoid === 'false'" ng-click="voidBill(bill.bill)">Void Bill</a>
                        -->
                        <a class="btn btn-primary" style="cursor: pointer;" ui-sref="billing.delivery.bill({tabId:tabId,billId:bill.billId})">Open Bill</a>
                        <a class="btn btn-success" ng-show="bill.isSettled === 'false'" ng-click="setDeliveryTime(bill.billId)">Settle</a>
                        <a class="btn btn-default" ng-show="bill.isVoid === 'false'" ng-click="voidBill(bill.bill)">Void Bill</a>

                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </tab>
    <tab ng-show="$state.is('billing.takeout')" select="getOfflineBills()">
        <tab-heading><i class="fa fa-bicycle"></i> Take Out</tab-heading>

        <!--<pre style="height: 200px; overflow: auto;">
            {{bills | json}}
        </pre>-->
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Covers</th>
                    <th>Bill Amount</th>

                    <th>Delivery Boy</th>
                    <th>Customer</th>
                    <th>Address</th>
                    <th>Dispatched On</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr ng-repeat="bill in bills | filterBy: ['bill.tab']: 'takeout'">-->
                <tr ng-repeat="bill in bills | filterBy: ['bill.tabId']: tabId">
                    <td>{{bill.billNumber}}</td>
                    <td>{{bill.bill._covers}}</td>
                    <td>{{bill.bill.getKotsTotalBill()}}</td>
                    <td>{{bill.bill.getDelivery()}}</td>
                    <td>{{bill.customer}}</td>
                    <td>{{bill.customer_address}}</td>
                    <td>{{bill.created}}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a class="btn btn-primary" style="cursor: pointer;" ui-sref="billing.takeout.bill({tabId:tabId,billId:bill.billId})">Open Bill</a>
                            <a class="btn btn-success" ng-show="bill.isSettled === 'false'"
                               ng-click="openSettleBill('lg', bill.bill)">Settle</a>

                            <a class="btn btn-default" ng-show="bill.isVoid === 'false'" ng-click="voidBill(bill.bill)">Void
                                Bill</a>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </tab>


</tabset>
