<div ng-if="!isPermission('allow_billing')" style="padding: 10 10 10 10; margin:10px 10px 10px 10px">
  <div class="well"><h4>You are not allowed to do billing .Please set to allow billing from user settings.</h4></div>
</div>
<div class="subheader" style="padding: 0 0 0 0;" ng-if="isPermission('allow_billing')">
  <div style="background: cadetblue;height:3px;margin-top: 0px ;"></div>
  <div class="subheaderIn">
    <div class="containerP">
      <div class="logo" style="">
        <a ng-href="{{dashboardAddress}}"><img ng-src="{{posLogo}}"/></a>
      </div>
      <!--<pre>{{tabs|json}}</pre>-->
      <ul ng-class="{disabledButton:isEditBill}" ng-repeat="t in tabs">
        <!--   <li ng-class="tabButtonSelected:(selectedTab.tabId==t.tabId?tabButtonSelected)">-->


        <li>

          <a style="position:static"
             ng-class="{'tabButtonSelected':(selectedTab.tabId==t._id),'tabButton':(selectedTab.tabId!=t._Id)}"
             ng-model="selectedTab" ng-click="startTabRender(t)">

            <img ng-src="../assets/images/icon1.png" alt="" ng-if="t.tabType=='table' && windowWidth>1040"/>
            <img ng-src="../assets/images/icon3.png" alt="" ng-if="t.tabType=='delivery' && windowWidth>1040"/>
            <img ng-src="../assets/images/icon2.png" alt="" ng-if="t.tabType=='take_out' && windowWidth>1040"/>
            {{t.tabName}} <span class="badge" ng-show="t._id==bill.tabId"
                                style="margin-top: 5px ;background-color:#8e44ad;">{{ bill.tabType=='table'?bill._tableId:bill.billNumber}}</span></a>
               <span class="badge" ng-show="t.orderCount>0"
                     style="float:left; margin-top: -50px ; margin-left: 6px;  ">{{t.orderCount }}</span>

        </li>

      </ul>
    </div>
    <div style="margin-top: -20px; margin-left: 70%; " ng-if="windowWidth<=900">
      <table>
        <tr>
          <!-- <td ng-show="isInstance" style="min-width: 70px;"><a class="btn btn-info btn-xs"
                                                                ng-click="showLockedTables()">unlock </a></td>
           <td ng-show="setShowBooking()" style="min-width: 80px;"><a class="btn btn-info btn-xs"
                                                                      ng-click="showBooking()">Booking </a></td>-->
          <td>
            <table ng-show="isGroupPermission('Offline')">
              <tr>
                <td><span style="color:darkgray ;margin-top:0px;">day Sale:</span><span style="color: #000066"> {{offlineSale.daySale.toFixed(1)}}</span>
                </td>
              </tr>
              <tr>
                <td><span style="color: darkgray;margin-top:30px;">unsettled:</span><span style="color: #000066">{{offlineSale.unsettle.toFixed(1)}}</span>
                </td>
              </tr>

            </table>
          </td>
        </tr>
      </table>

      <div style="margin-top:-20px; margin-left:50%" ng-class="onlineIndicatorClass()"
           tooltip="{{offlineModeTooltip}}" tooltip-is-open="true" tooltip-placement="bottom"></div>   <!--for offline mode-->

      <!-- <button type="button" class="navbar-toggle" style="float:right;margin-right:5px;margin-top: -37px;" ng-click="isCollapsed = !isCollapsed">
        <i class="glyphicon glyphicon-list" style="color: #a7a3a3;font-size: 20px;"></i>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
    </div>
    <button type="button" class="navbar-toggle" style="margin-right:5px;margin-top:-38px"
            ng-click="isCollapsed = !isCollapsed">
      <i class="glyphicon glyphicon-list" style="color: #a7a3a3;font-size: 20px;"></i>
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div ng-if="windowWidth<=900 && !isCollapsed" id="showNav">
      <ul class="nav navbar-nav" style="width:50%;z-index:9;position:absolute;right:0">
        <li ng-show="isInstance"><a  ng-click="showLockedTables()" href="">Unlock</a></li>                <!-- added by rajat for offline mode-->
        <li ng-show="setShowBooking()"><a ng-click="showBooking()" href="">Booking</a></li>

        <li ng-if="isPermission('view_past_bills')"><a ng-href="{{findBillAddress}}">Find Bill</a></li>
        <li ng-if="navigator.userAgent.match(/(Android|BlackBerry|IEMobile)/)"><a href=""
                                                                                  ng-click="$parent.isCollapsed = true; goFullscreen();">On/Off
          fullscreen</a></li>
        <li ng-if="isGroupPermission('Reports')"><a ng-href="{{reportsAddress}}">Reports</a></li>
        <!--<li ng-if="!isConnected"><a ng-href=''>{{currentUser.name}}</a></li>   &lt;!&ndash;for offline mode-->
        <li class="dropdown" dropdown>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.name}} <span
            class="caret"></span></a>
          <ul class="dropdown-menu pull-right" role="menu" style="background-color:white">
            <li ng-if="isGroupPermission('Menu,Users,Settings')" ng-class="{active: isActive('/admin')}"><a
              ng-href="{{administrationAddress}}"><i
              class="fa fa-cogs"></i> Administration</a></li>
            <li ng-if="isGroupPermission('Offers')" ng-class="{active: isActive('/offer')}"><a ng-href="{{offerAddress}}">
              <i class="fa fa-cogs"></i> Offer</a></li>
            <li ng-if="isGroupPermission('CRM')" ng-class="{active: isActive('/CRM')}"><a ng-href="{{crmAddress}}"><i
              class="glyphicon glyphicon-user"></i>CRM</a></li>
            <li   ng-class="{active: isActive('/accounts')}"><a ng-href="{{accountsAddress}}"><i
              class="glyphicon glyphicon-user"></i>Accounts</a></li>
            <li ng-show="isGroupPermission('Expenses')" ng-class="{active: isActive('/expenses')}"><a
              ng-href="{{expensesAddress}}"><i
              class="fa fa-money"></i> Expenses</a></li>
            <li ng-show="isGroupPermission('Stock')" ng-class="{active: isActive('/stock')}"><a
              ng-href="{{stockAddress}}"> Stock</a></li>
            <li ng-class="{active: isActive('/logout')}"><a ng-click="logout()" href=""><i
              class="fa fa-power-off"></i> Logout</a></li>
          </ul>

        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav" style="float:right;line-height:30px; margin-top: -35px;" ng-if="windowWidth>900">
      <li style="padding: 20px;">
        <div style="" ng-class="onlineIndicatorClass()"
             tooltip="{{offlineModeTooltip}}" tooltip-is-open="true" tooltip-placement="bottom"></div>
        <!--for offline mode-->
      </li>
      <li ng-if="isPermission('view_past_bills')"><a ng-href="{{findBillAddress}}">Find Bill</a></li>
      <!--offline mode-->
      <li ng-if="isGroupPermission('Reports')"><a ng-href="{{reportsAddress}}">Reports</a></li>   <!--offline mode-->
      <!-- <li ng-if="!isConnected"><a ng-href=''>{{currentUser.name}}</a></li>   &lt;!&ndash;for offline mode-->

      <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.name}} <span
          class="caret"></span></a>
        <ul class="dropdown-menu pull-right" role="menu">
          <li ng-if="isGroupPermission('Menu,Users,Settings')" ng-class="{active: isActive('/admin')}"><a
            ng-href="{{administrationAddress}}"><i
            class="fa fa-cogs"></i> Administration</a></li>
          <li ng-if="isGroupPermission('Offers')" ng-class="{active: isActive('/offer')}"><a ng-href="{{offerAddress}}">
            <i class="fa fa-cogs"></i> Offer</a></li>
          <li ng-if="isGroupPermission('CRM')" ng-class="{active: isActive('/CRM')}"><a ng-href="{{crmAddress}}"><i
            class="glyphicon glyphicon-user"></i>CRM</a></li>
          <li   ng-class="{active: isActive('/accounts')}"><a ng-href="{{accountsAddress}}"><i
            class="glyphicon glyphicon-user"></i>Accounts</a></li>
          <li ng-show="isGroupPermission('Expenses')" ng-class="{active: isActive('/expenses')}"><a
            ng-href="{{expensesAddress}}"><i
            class="fa fa-money"></i> Expenses</a></li>
          <li ng-show="isGroupPermission('Stock')" ng-class="{active: isActive('/stock')}"><a
            ng-href="{{stockAddress}}"> Stock</a></li>
          <li ng-class="{active: isActive('/logout')}"><a ng-click="logout()" href=""><i
            class="fa fa-power-off"></i> Logout</a></li>
        </ul>
      </li>
    </ul>
    <div ng-if="windowWidth>900" style="float: right; margin-top: -30px;">
      <table>
        <tr>
          <td ng-show="isInstance" style="min-width: 70px;"><a class="btn btn-info btn-xs"
                                                               ng-click="showLockedTables()">unlock </a></td>
          <td ng-show="setShowBooking()" style="min-width: 80px;"><a class="btn btn-info btn-xs"
                                                                     ng-click="showBooking()">Booking </a></td>
          <td>
            <table ng-show="isGroupPermission('Offline')">
              <tr>
                <td><span style="color:darkgray ;margin-top:0px;">day Sale:</span><span style="color: #000066"> {{offlineSale.daySale.toFixed(1)}}</span>
                </td>
              </tr>
              <tr>
                <td><span style="color: darkgray;margin-top:30px;">unsettled:</span><span style="color: #000066">{{offlineSale.unsettle.toFixed(1)}}</span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

</div>


<!-- /subnavbarIn -->
</div>
<!--<div ng-cloak ui-view></div>-->

<!-- Bill Template -->

<!-- Changes made by Tanvee -->
<div ng-include="'app/billing/_template_Bill.html'"></div>

<script type="text/ng-template" id="_template_KOT.html">

  <table class="table" style="font-family: 'Courier New', Courier, monospace;width:100%;font-weight:bold;font-size:13px">
    <caption ng-if="isVoid" style="text-align: left;"><strong>---VOID KOT---</strong></caption>
    <caption ng-if="isReprint" style="text-align: center;"><strong>Duplicate Kot</strong></caption>
    <caption style="text-align: left; margin-top:2px; border-top: 1px solid #000000;" ng-if="bill._tableId">Type: {{bill.tab}}   /   TableNo: {{bill._tableId}}</caption>
    <caption style="text-align: left; margin-top:2px; border-top: 1px solid #000000;" ng-if="!bill._tableId">Type: {{bill.tab}}</caption>
    <caption style="text-align: left;">Kot Number: {{bill.kotNumber}}</caption>
    <caption style="text-align: left; ">Bill Number: {{bill.billNumber}}</caption>
    <caption style="text-align: left;">Date: {{bill._created | date:'yyyy-MM-dd HH:mm:ss'}}</caption>
    <caption style="text-align: left;" ng-if="bill._waiter.firstname && bill.tabType=='table'">Steward: {{bill._waiter.firstname+' '+bill._waiter.lastname}}</caption>
    <caption style="text-align: left;" ng-if="bill._delivery.firstname && bill.tabType!='table'">Steward: {{bill._delivery.firstname+' '+bill._delivery.lastname}}</caption>
    <caption style="text-align: left;" ng-if="!bill._waiter.firstname && bill.tabType=='table'">Steward: --None--</caption>
    <caption style="text-align: left;" ng-if="!bill._delivery.firstname && bill.tabType!='table'">Steward: --None--</caption>
    <caption style="text-align: left; border: 1px dotted #000000;" ng-if="bill._customer.mobile">Customer Details</caption>
    <caption style="text-align: left;" ng-if="bill._customer.firstname">Name: {{bill._customer.firstname}}</caption>
    <caption style="text-align: left;" ng-if="bill._customer.address1">Add: {{bill._customer.address1}},</caption>
    <caption style="text-align: left;" ng-if="bill._customer.address2">{{bill._customer.address2}}, {{bill._customer.city}}, {{bill._customer.state}}, {{bill._customer.postCode}}</caption>
    <caption style="text-align: left;" ng-if="bill._customer.mobile">Mobile: {{bill._customer.mobile}}</caption>
    <thead>
    <tr><td colspan="2" style="border-top: 1pt dotted #000000;"></td></tr>
    <tr>
      <th style="text-align: left; border-bottom: 1px dotted #000000;width:80%">Item(s)</th>
      <th style="text-align: center;border-bottom: 1px dotted #000000;width:20%">Qty</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="kItem in bill._kots[index].items" ng-if="(kItem.mapComboItems.length==0 && !isVoid) || isVoid">
        <td style="text-align: left; white-space:pre-wrap;width:80%">{{kItem.name}}<div ng-if="kItem.addOns.length>0">(<span ng-repeat="addOn in kItem.addOns track by $index">{{addOn.name}}:{{addOn.quantity}}<span ng-if="$index<kItem.addOns.length-1">, </span></span>)</div><div ng-if="kItem.comment">({{kItem.comment}})</div></td>
        <td style="text-align: center;width:20%" ng-if="!isVoid">{{kItem.quantity}}</td>
        <td style="text-align: center;width:20%" ng-if="isVoid">-{{kItem.quantity}}</td>
        </div>

    </tr>
    <tr ng-repeat="combo in comboItems">
        <td style="text-align: left; white-space:pre-wrap;width:80%">{{combo.name}}({{combo.comboName}})<div ng-if="combo.comment">({{combo.comment}})</div></td>
        <td style="text-align: center;width:20%" ng-if="!isVoid">{{combo.quantity}}</td>
    </tr>
    <tr><td colspan="2" style="border-bottom: 1pt dotted #000000;"></td></tr>
    <tr>
      <td style="text-align: left; border-top: 1pt dotted #000000;">
        <strong>TOTAL:</strong></td>
      <td style="text-align: center; border-top: 1pt dotted #000000;">
        <strong ng-if="isVoid">-{{bill._kots[index].totalQuantityWithoutAddOn}}</strong>
        <strong ng-if="!isVoid">{{bill._kots[index].totalQuantityWithoutAddOn}}</strong></td>
    </tr>
    <tr ng-if="bill._kots[index].comment">
      <td style="text-align: left;"><strong>Comment:</strong></td>
      <td style="text-align: right;"><i>{{bill._kots[index].comment}}</i></td>
    </tr>
    </tbody>
  </table>
</script>

<!--Delete KOT Template -->
<script type="text/ng-template" id="_template_KOT_Deleted.html">

  <table class="table" style="font-family: 'Courier New', Courier, monospace;width:100%;font-weight:bold;font-size:13px">
    <caption style="text-align: left; border-bottom:1px solid #000;"><strong>---VOID KOT ITEM---</strong></caption>
    <caption style="text-align: left; margin-top:2px; border-top: 1px solid #000000;" ng-if="bill._tableId">Type: {{bill.tab}}   /   TableNo: {{parseInt(bill._tableId) + 1}}</caption>
    <caption style="text-align: left; margin-top:2px; border-top: 1px solid #000000;" ng-if="!bill._tableId">Type: {{bill.tab}}</caption>
    <caption style="text-align: left;">Kot Number: {{bill._kots[index].kotNumber}}</caption>
    <caption style="text-align: left; ">Bill Number: {{bill.billNumber}}</caption>
    <caption style="text-align: left; border-bottom: 1px dotted #000;">Date: {{bill._kots[index].created | date:'yyyy-MM-dd HH:mm:ss'}}</caption>
    <caption style="text-align: left;" ng-if="bill._waiter.firstname && bill.tabType=='table'">Steward: {{bill._waiter.firstname+' '+bill._waiter.lastname}}</caption>
    <caption style="text-align: left;" ng-if="bill._delivery.firstname && bill.tabType!='table'">Steward: {{bill._delivery.firstname+' '+bill._delivery.lastname}}</caption>
    <caption style="text-align: left;" ng-if="!bill._waiter.firstname && bill.tabType=='table'">Steward: --None--</caption>
    <caption style="text-align: left;" ng-if="!bill._delivery.firstname && bill.tabType!='table'">Steward: --None--</caption>
    <caption style="text-align: left; border-bottom: 1px dotted #000000;" ng-if="bill._customer.mobile">Customer Details</caption>
    <caption style="text-align: left;" ng-if="bill._customer.firstname">Name: {{bill._customer.firstname}}</caption>
    <caption style="text-align: left;" ng-if="bill._customer.address1">Add: {{bill._customer.address1}},</caption>
    <caption style="text-align: left;" ng-if="bill._customer.address2">{{bill._customer.address2}}, {{bill._customer.city}}, {{bill._customer.state}}, {{bill._customer.postCode}}</caption>
    <caption style="text-align: left; border-bottom: 1px dotted #000000;" ng-if="bill._customer.mobile">Mobile: {{bill._customer.mobile}}</caption>
    <thead>
    <tr>
      <th style="text-align: left; border-bottom: 1px dotted #000000;">Item(s)</th>
      <th style="text-align: center;  border-bottom: 1px dotted #000000;" width="30%">Qty</th>
    </tr>
    </thead>
    <tbody>
    <!--<tr ng-repeat="kItem in bill._kots[index].deleteHistory[dIndex]">
        <td style="text-align: left;">{{kItem.name}}</td>
        <td style="text-align: center">{{kItem.quantity}}</td>
    </tr>-->
    <tr>
      <td style="text-align: left;">{{bill._kots[index].deleteHistory[dIndex].name}}<div ng-if="bill._kots[index].deleteHistory[dIndex].addOns.length>0">(<span ng-repeat="addOn in bill._kots[index].deleteHistory[dIndex].addOns track by $index">{{addOn.name}}:{{addOn.quantity}}<span ng-if="$index<bill._kots[index].deleteHistory[dIndex].addOns.length-1">, </span></span>)</div></td>
      <td style="text-align: center">-{{bill._kots[index].deleteHistory[dIndex].quantity}}</td>
    </tr>
    <tr>
      <td style="text-align: left; border-top: 1px dotted #000000;">
        <strong>TOTAL:</strong></td>
      <td style="text-align: center; border-top: 1px dotted #000000;">
        <strong>-{{bill._kots[index].deleteHistory[dIndex].quantity}}</strong></td>
    </tr>
    <tr ng-if="bill._kots[index].comment">
      <td style="text-align: left;"><strong>Comment:</strong></td>
      <td style="text-align: center;"><i>{{bill._kots[index].comment}}</i></td>
    </tr>
    </tbody>
  </table>
</script>

<!-- End Changes -->
<!--****************Table Starts Here*************************************************-->
<!--<pre style="height:200px;">
 {{bill | json}}
</pre>-->

<div ng-show="isPermission('allow_billing')" ng-if="(selectedTab.tabType=='table'&&(!showBillPage))"
     style="-webkit-user-select: none; -moz-user-select: none;  -ms-user-select: none;  user-select: none; width:98%;padding: 0 0 0 10px;">
  <div class="row">

    <div class="col-md-12">

    </div>
  </div>
  <div style=" margin-top: 10px; ">
    <!-- <div class="row">
         <div class="col-md-12">
             <h5>Page# {{pagination.page + 1}}</h5>
         </div>
     </div>-->

    <div class="row">

      <!-- <div class="col-md-12"> -->
      <div style="tableSlides" mn-touch swipe-left='tablePagination.nextPage()'
           swipe-right='tablePagination.prevPage()'>
        <div class="col-xs-6 col-sm-4 col-lg-2"
             ng-repeat="t in $state.current.data.tables | startFrom: tablePagination.page * tablePagination.perPage | limitTo: tablePagination.perPage">

          <div ng-class="{disabledButton:tableLock.indexOf(selectedTab.tabId+ t.id)!=-1}" style="min-height: 120px">
            <div ng-class="tableDClassNew(t)" context-menu="menuOptions(t.bill)" on-long-press="menuOptions(t.bill)"
                 ng-click="startNewTableBill(t.id)">
              <div class="table-red">

                <p class="billingtext7"><span ng-show="t.bill._covers>0"> {{t.bill._covers}}&nbsp;</span><!--rajat-->
                   <span class="billingtext5" ng-show="t.bill._covers>0">
                  ({{(t.bill.aggregation.netRoundedAmount/t.bill._covers).toFixed(2)}}/-)
                  </span>
                  <span ng-if="!t.bill && t.tableBookings">{{t.tableBookings.tableData.pax}}</span>

                  &nbsp;<span class="billingtext6">{{t.bill.onlineTransaction.billData.transactionStatus}}</span></p>

                <p class="billingtext2"><STRONG> {{t.id}}</STRONG></p>

                <p class="billingtext3">{{t.bill._customer.firstname}}</p>
                <!--ADDED BY RAJAT-->
                <p class="billingtext3"><span ng-if="!t.bill">{{t.tableBookings.tableData.customerName}}</span></p>
                <!--ADDED BY RAJAT-->
              </div>
              <div class="table-white">
                <p class="billingtext4"><span ng-if="t.bill">{{getLapsedTime(t.bill,$index,$state.current.data.tables.length)}} </span>
                </p>
                <!--ADDED BY RAJAT-->
                <p class='billingtext5' ng-if="!t.bill && t.tableBookings">Occupied</p>
                <!--ADDED BY RAJAT-->
                <!--
                                <p class="billingtext6"><span ng-show="t.bill._kots.length > 0"><i class="fa fa-inr"></i> {{(t.bill.getTotalBill()+ t.bill.getKotsTotalBill()).toFixed(2)}}/-</span>
                -->
                <p class="billingtext6"><span ng-show="t.bill"><i class="fa fa-inr"></i> {{(t.bill.aggregation.netRoundedAmount)}}/-</span>

                </p>
                <!--  <p class="billingtext5">{{t.bill._waiter.firstname}} {{t.bill._waiter.lastname}}</p>-->
                <p class="billingtext5">{{t.bill._waiter.firstname}} </p>
              </div>
            </div>

          </div>
        </div>
        <a ng-click='tablePagination.nextPage()' style="right:0" class='slick-next'>Next</a>
        <a ng-click='tablePagination.prevPage()' style="left:0" class='slick-prev'>Prev</a>
      </div>
      <!-- </div> -->
    </div>

    <!-- <div class="row">
      <div class="col-md-12">
        <ul class="pagination" style="margin: 0;">
          <li>
            <ul class="pagination pagination-sm" style="margin: 0;">
              <li><a href="" ng-click="tablePagination.prevPage()">&laquo; Previous</a></li>
              <li ng-repeat="n in [] | range: tablePagination.numPages" ng-class="{active: n == tablePagination.page}">
                <a href="" ng-click="tablePagination.toPageId(n)">{{n + 1}}</a>
              </li>
              <li><a href="" ng-click="tablePagination.nextPage()">Next &raquo; </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div> -->

  </div>
</div>
<!--****************Table Starts Here*************************************************-->


<!--****************Take Out and Delivery Starts Here*********************************-->
<div ng-if="(selectedTab.tabType!='table'&&(!showBillPage))" style="-webkit-user-select: none; -moz-user-select: none;  -ms-user-select: none;  user-select: none; width:98%;padding: 0 0 0 10px;" >
  <div style=" margin-top: 10px;">
    <!-- <div class="row">
         <div class="col-md-12">
             <h5>Page# {{pagination.page + 1}}</h5>
         </div>
     </div>-->

    <!-- <pre>
      {{$state.current.data.openedBills | json}}
    </pre> -->

    <div class="row" style="padding: 0 0 0 0">
      <div class="col-md-12">
        <div class="col-xs-6 col-sm-4 col-lg-2"
             ng-repeat="t in $state.current.data.openedBills | filter:{isOnlineBill:false,isAdvanceBill:false} ">

          <div ng-class="{disabledButton:(nonTableLock.indexOf(t.id)!=-1)&& (t.id!='New')}" style="min-height: 120px">
            <div ng-class="tableDClass(t.bill)" context-menu="menuOptions(t.bill)"
                 ng-click="startNewTakeOutDeliveryBill(t.id,t.billId)">
              <div class="table-red">
                <p class="billingtext7"><span ng-show="t.bill._covers>0"> {{t.bill._covers}}<!--/6--></span><!--rajat-->
                  <span class="billingtext5" ng-show="t.bill._covers>0">
                  ({{(t.bill.aggregation.netRoundedAmount/t.bill._covers).toFixed(2)}}/-)
                  </span>
                <span
                  class="billingtext6">{{t.bill.onlineTransaction.billData.transactionStatus}}</span></p>

                <p class="billingtext2"><span ng-show="t.id!='New'"
                                              style="color: #0b58a2;font-size: 15px; margin-left:-30px;padding-bottom: 20px; ">{{t.name}}</span>
                  <STRONG> {{t.id}}</STRONG></p>

                <p class="billingtext3">{{t.bill._customer.firstname}}</p>
              </div>
              <div class="table-white">
                <p class="billingtext4"><span ng-if="t.bill">{{getLapsedTime(t.bill,$index,$state.current.data.tables.length)}} </span>
                </p>

                <!-- <p class="billingtext6"><span ng-show="t.bill._kots.length > 0"><i class="fa fa-inr"></i> {{(t.bill.getTotalBill() + t.bill.getKotsTotalBill()).toFixed(2)}}/-</span>
                 </p>-->
                <p class="billingtext6"><span ng-show="t.bill"><i class="fa fa-inr"></i> {{(t.bill.aggregation.netRoundedAmount)}}/-</span>


                <p class="billingtext5">{{t.bill._delivery.firstname}} {{t.bill._delivery.lastname}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3 col-lg-2"
             ng-repeat="t in $state.current.data.openedBills | filter:{isOnlineBill:false,isAdvanceBill:true} ">
          <div style="min-height: 120px">
            <div class="table-main-red" context-menu="menuOptionsAdvance(t)"
                 ng-click="startNewTakeOutDeliveryBillAdvance(t)">
              <div class="table-red">
                <p class="billingtext1"></span></p>

                <p class="billingtext2"><STRONG>--</STRONG></p>

                <p class="billingtext3">{{t.bill._customer.firstname}}</p>
              </div>
              <div class="table-white">
                <p class="billingtext4">Advance</span>
                </p>

                <p class="billingtext6"><i class="fa fa-inr"></i>{{t.bill.calculateAdvanceAmount(t.bill)}}/- </span>
                </p>

                <p class="billingtext5"><span
                  style="font-size: 9px;color: #d3d3d3;margin-left: -10px;margin-right: 0px"> {{t.bill.advance.datetime|date:'yyyy-MM-dd HH:mm'}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3 col-lg-2"
             ng-repeat="t in $state.current.data.openedBills | filter:{isOnlineBill:true,isAdvanceBill:false} ">
          <div ng-class="{disabledButton:t.isLocked}" style="min-height: 120px">
            <div class="table-main-red" context-menu="menuOptionsOnline(t)"
                 ng-click="startNewTakeOutDeliveryBillOnline(t)">
              <div class="table-red">
                <p class="billingtext1"><span style="font-size:10px" ng-if="t.timeLeft>0">{{t.timeLeft}} minutes left</span></p>

                <p class="billingtext2"><STRONG> {{t.billNumber}}</STRONG></p>

                <p class="billingtext3">{{t.bill.customer.firstname}}</p>
              </div>
              <div class="table-white">
                <p class="billingtext4">{{t.bill.source.name}}</span>
                </p>

                <p class="billingtext6">{{t.bill.payments.type}} </span>
                </p>

                <p class="billingtext5"><span
                  style="font-size: 9px;color: #d3d3d3;margin-left: -10px;margin-right: 0px"> {{t.bill.created|date:'yyyy-MM-dd HH:mm'}}</span>
                </p>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row" ng-if="selectedTab.tabType === 'delivery' && !showBillPage">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Bill #</th>
              <th>Delivery Boy</th>
              <th>Customer</th>
              <th>Address</th>
              <th>Total Amount</th>
              <th>Kot Time</th>
              <th>Print Time</th>
              <th>Delivery Time</th>
              <th ng-if="tp_integrated||zomato_integrated||delivery_integrated">Status</th>
              <th ng-if="tp_integrated">Avg Delivery Time</th>
              <th ng-if="zomato_integrated||delivery_integrated">Track</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="t in $state.current.data.openedBills | pick:'id > 0'">
              <td>{{t.bill.getDBillbunber()}}</td>
              <td>{{t.bill.getDelivery()}}
              <span ng-if="t.bill._delivery.isLogistics && t.bill._delivery.deliveryBoyMobile">
                <br/><i>{{t.bill._delivery.deliveryBoyName}} &nbsp;&nbsp;<span>({{t.bill._delivery.deliveryBoyMobile}})</span></i><br/>
              </span>
              </td>
              <td>{{t.bill.getCustomerFirstName()}}</td>
              <td>{{t.bill.getCustomerAddress()}}</td>
              <!--<td>{{t.bill.getKotsTotalBill() | number: 2}}</td>-->
              <td>{{t.bill.aggregation.netRoundedAmount | number: 2}}</td>
              <td><strong>{{t.bill._created | date: 'dd/MM/yy hh:mm:ss a'}}</strong></td>
              <td><strong>{{t.bill.billPrintTime | date: 'dd/MM/yy hh:mm:ss a'}}</strong></td>
              <td>
                <a ng-if="t.bill._deliveryTime === undefined && (t.bill.isPrinted) " ng-click="setDeliveryTime(t.bill)"
                   class="btn btn-link">Set as Delivered</a>
                <strong ng-if="t.bill._deliveryTime">{{t.bill._deliveryTime | date: 'dd/MM/yy hh:mm:ss a'}}</strong>
              </td>
              <td ng-if="tp_integrated||zomato_integrated||delivery_integrated">
                <span ng-if="t.bill._delivery.orderStatus.startsWith('Rejected')">{{t.bill._delivery.orderStatus}}</span>
                <a href="" ng-click="showDeliveryHistory(t.bill)" ng-if="!t.bill._delivery.orderStatus.startsWith('Rejected')">{{t.bill._delivery.orderStatus}}</a>
              </td>
              <!--<td ng-if="tp_integrated">{{t.bill._delivery.deliveryHistory.acceptedTime}}</td>
              <td ng-if="tp_integrated">{{t.bill._delivery.deliveryHistory.pickedUpTime}}</td>-->
              <td ng-if="tp_integrated">{{t.bill._delivery.avgDeliveryTime|date:'dd/MM/yy hh:mm:ss a'}}</td>
              <td ng-if="zomato_integrated||delivery_integrated"><a href="" ng-click="showOrderLocation(t.bill._delivery.trackingUrl)">Track</a>
              <span ng-if="zomato_integrated">/<a href="" ng-click="refreshOrderStatus(t.bill._id)">Refresh</a></span>
              </span>
              </td>

            </tr>
            </tbody>
          </table>
          <br/>
          <div ng-if="tp_integrated && deliveryBoys">
            <button align="center" class="btn btn-primary" ng-click="showRiderLocation()">Track Riders</button>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
</div>
<!--****************Take Out & Delivery *********************************************-->


<!--***********Billing Page Start Here*****************-->
<div ng-if="showBillPage">
  <div class="content">
    <div class="containerP" style="width:98%;padding: 0 0 0 10px;">
      <!--<pre>{{selectedOffer|json}}</pre>-->
      <div class="row">
        <div class="col-sm-6 col-xs-5 col-md-7 col-lg-7">

          <!-- Items Explorer -->
          <div class="row">
            <div class="col-md-12">
              <div id="explorerItems" ng-class="{disabledButton:isBillingOn}">
                <div class="explorerItemsContainer" mn-touch swipe-left='itemPagination.nextPage()'
                     swipe-right='itemPagination.prevPage()'>
                  <!--Selected Offer detail-->
                  <div ng-if="selectedOffer!=null">
                    <div class="row disble_apply_offer_boxB">
                      <div class="col-md-12">
                        <span ng-show="!selectedOffer.validated.applicable"
                              style="color: white;float: left; background:#ff00ff ;padding: 2px;">Selection Items</span><span
                        ng-show="selectedOffer.validated.applicable"
                        style="color: white;float: left; background:#ff00ff ;padding: 2px;">Offer Items</span>

                        <h2>{{selectedOffer.offer.offer.name}}</h2>
                        <span style="float: right;margin-top: -20px;" ng-show="IsOfferComplete || (selectedOffer.offer.offer.type.name=='comboOffer')"><i
                          class="btn btn-primary btn-xs" ng-click="resetOffer()">Close Offer <i
                          class="fa fa-check-square"></i></i> </span>
                        <span style="float: right;margin-top: -20px;"><i class="btn btn-primary btn-xs"
                                                                         ng-click="cancelOffer()">Cancel Offer <i
                          class="fa fa-check-square"></i></i> </span>

                        <p>
                          Applicable between time <span style="color: #000000">   {{selectedOffer.offer.offer.valid.time.startTime|date :  'h:mma'}}-{{selectedOffer.offer.offer.valid.time.endTime|date :  'h:mma'}}</span>
                          days
                                    <span style="font-size: 10px;">
                                        <button type="button"
                                                ng-class="{show_offer_day:selectedOffer.offer.offer.valid.days.indexOf('sunday')!=-1,show_offer_day_select1:selectedOffer.offer.offer.valid.days.indexOf('sunday')==-1}">
                                          S
                                        </button>
                                        <button type="button"
                                                ng-class="{show_offer_day:selectedOffer.offer.offer.valid.days.indexOf('monday')!=-1,show_offer_day_select1:selectedOffer.offer.offer.valid.days.indexOf('monday')==-1}">
                                          M
                                        </button>
                                        <button type="button"
                                                ng-class="{show_offer_day:selectedOffer.offer.offer.valid.days.indexOf('tuesday')!=-1,show_offer_day_select1:selectedOffer.offer.offer.valid.days.indexOf('tuesday')==-1}">
                                          T
                                        </button>
                                        <button type="button"
                                                ng-class="{show_offer_day:selectedOffer.offer.offer.valid.days.indexOf('wednesday')!=-1,show_offer_day_select1:selectedOffer.offer.offer.valid.days.indexOf('wednesday')==-1}">
                                          W
                                        </button>
                                        <button type="button"
                                                ng-class="{show_offer_day:selectedOffer.offer.offer.valid.days.indexOf('thursday')!=-1,show_offer_day_select1:selectedOffer.offer.offer.valid.days.indexOf('thursday')==-1}">
                                          T
                                        </button>
                                        <button type="button"
                                                ng-class="{show_offer_day:selectedOffer.offer.offer.valid.days.indexOf('friday')!=-1,show_offer_day_select1:selectedOffer.offer.offer.valid.days.indexOf('friday')==-1}">
                                          F
                                        </button>
                                        <button type="button"
                                                ng-class="{show_offer_day:selectedOffer.offer.offer.valid.days.indexOf('saturday')!=-1,show_offer_day_select1:selectedOffer.offer.offer.valid.days.indexOf('saturday')==-1}">
                                          S
                                        </button>

                                </span>
                          and
                                    <span
                                      ng-show="!(selectedOffer.offer.offer.valid.date.startDate==''||selectedOffer.offer.offer.valid.date.startDate==null)">between   {{selectedOffer.offer.offer.valid.date.startDate| date :  'dd MMM yyyy'}}-{{selectedOffer.offer.offer.valid.date.endDate| date :  'dd MMM yyyy'}}
                                    </span>
                                    <span
                                      ng-show="selectedOffer.offer.offer.valid.date.startDate==''||selectedOffer.offer.offer.valid.date.startDate==null">on <span
                                      style="color:#000000">All Dates</span> </span>

                          valid on <span style="color: #000000" ng-repeat="tab in selectedOffer.offer.offer.tabs">{{tab}}&nbsp; </span>

                <span
                  ng-if="selectedOffer.offer.offer.type.name!=item && selectedOffer.offer.offer.applicable.on=='complete'"
                  class="show-content-Text">
                     <span ng-show="selectedOffer.offer.offer.type.name=='percent'">{{selectedOffer.offer.offer.type.value}} %</span>
                <span ng-show="selectedOffer.offer.offer.type.name=='amount'"><i class="fa fa-inr"></i>&nbsp;{{selectedOffer.offer.offer.type.value}} </span> &nbsp; <span
                  ng-show="selectedOffer.offer.offer.applicable.on=='complete' && selectedOffer.offer.offer.minBillAmount!=null">off &nbsp;<i
                  class="fa fa-inr"></i> {{selectedOffer.offer.offer.minBillAmount}}&nbsp; Min Bill Amount.
                </span>
                </span>
            <span
              ng-if="selectedOffer.offer.offer.type.name=='item' || selectedOffer.offer.offer.applicable.on=='item' || selectedOffer.offer.offer.applicable.on=='itemCriteria'"
              class="show-content-Text">
                <span style="font-size:11px;">
                    <span style="color: red">Buy:</span>    <span> {{offer.offer.applicable.items[0].category.categoryName}}</span>
                     <span ng-show="selectedOffer.offer.offer.applicable.items[0].category.categoryName==null"> --Any of items--</span>
                    <span ng-show="selectedOffer.offer.offer.applicable.items[0].item.name!=null">  => {{offer.applicable.items[0].item.name}}<span
                      ng-show="selectedOffer.offer.offer.applicable.items.length>1"> ..+{{selectedOffer.offer.offer.applicable.items.length-1}}</span></span>
                </span>
            </span>


                            <span ng-show="selectedOffer.offer.offer.valid.dateLists.length>0"
                                  class="show-content-head2">
                                {{selectedOffer.offer.offer.valid.dateLists[0].name}}<span
                              ng-show="selectedOffer.offer.offer.valid.dateLists.length>1">..+{{selectedOffer.offer.offer.valid.dateLists.length-1}}</span>

                            </span>
                                <span class="show-content-head2">
                                    {{selectedOffer.offer.offer.code.codeList.name}}
                                </span>
                                    <span
                                      ng-show="(selectedOffer.offer.offer.type.name=='item' || selectedOffer.offer.offer.applicable.on=='item') && (selectedOffer.offer.offer.offerApplied.items.length>0)"
                                      class="show-content-Text">
                                        <span style="font-size:11px;">
                                            <span style="color: red">Get:</span>    <span> {{selectedOffer.offer.offer.offerApplied.items[0].category.categoryName}}</span>
                                            <span
                                              ng-show="selectedOffer.offer.offer.offerApplied.items[0].item.name!=null">  => {{selectedOffer.offer.offer.offerApplied.items[0].item.name}} <span
                                              ng-show="selectedOffer.offer.offer.offerApplied.items.length>1"> ..+  {{selectedOffer.offer.offer.offerApplied.items.length-1}}</span></span>
                                        </span>
                                    </span>
                        </p>
                      </div>
                    </div>

                  </div>
                  <!--Selected Offer detail ends here-->

                  <div
                    ng-repeat="item in filteredTabItems | startFrom: itemPagination.page * itemPagination.perPage | limitTo: itemPagination.perPage">
                    <a ng-click="addItemFromExplorer(item)" context-menu="stockOptions(item)" class="btn btn-default_p" ng-class="getItemClass(item)" >{{item.name}}</a>
                  </div>
                </div>
                <div style="clear:both;"></div>
              </div>
              <a ng-click='itemPagination.nextPage()' class='slick-next'>Next</a>
              <a ng-click='itemPagination.prevPage()' class='slick-prev'>Prev</a>
              <!-- <a class="btn btn-primary" ng-click="slickHandleItems.gotoNextSlide()">Slick Next</a>
              <a class="btn btn-primary" ng-click="slickHandleItems.gotoPrevSlide()">Slick Prev</a> -->
            </div>
          </div>

          <!-- Items Explorer -->

          <!-- Categories Explorer -->
          <div class="row">
            <div class="col-md-12">
              <div id="explorerCat">
                <div class="explorerCatContainer" mn-touch swipe-left='categoryPagination.nextPage()'
                     swipe-right='categoryPagination.prevPage()'>
                  <div
                    ng-repeat="cat in filteredCategoryItems | startFrom: categoryPagination.page * categoryPagination.perPage | limitTo: categoryPagination.perPage">
                    <div class="s-class-cat">
                      <a
                        ng-class="{true:'btn btn-primary_p',false:'btn btn-primary_p_s'}[lastFilteredCategory!=cat.categoryName]"
                        ng-click="filterItemsFromCategory(cat)">{{cat.categoryName}}</a>
                    </div>
                  </div>
                </div>
              </div>
              <a ng-click='categoryPagination.nextPage()' class='slick-next catSlick-next'>Next</a>
              <a ng-click='categoryPagination.prevPage()' class='slick-prev catSlick-prev'>Prev</a>
              <!-- <a class="btn btn-info" ng-click="slickHandleCategories.gotoNextSlide()">Slick Next</a>
              <a class="btn btn-info" ng-click="slickHandleCategories.gotoPrevSlide()">Slick Prev</a> -->
            </div>
          </div>
          <!-- Categories Explorer -->

          <!-- SuperCategory Explorer -->
          <div class="row">
            <div class="col-md-12">
              <div id="explorerSCat">
                <div class="explorerSCatContainer" mn-touch swipe-left='sCategoryPagination.nextPage()'
                     swipe-right='sCategoryPagination.prevPage()'>
                  <div
                    ng-repeat="scat in sCategoryItems | startFrom: sCategoryPagination.page * sCategoryPagination.perPage | limitTo: sCategoryPagination.perPage">
                    <div class="s-class-cat">
                      <a
                        ng-class="{true:'btn btn-secondry_p',false:'btn btn-secondry_p_s'}[lastFilteredSCategory==scat.superCategoryName]"
                        ng-click="filterCatFromSCategory(scat)">{{scat.superCategoryName}}</a>
                    </div>
                  </div>
                </div>
              </div>
              <a ng-click='sCategoryPagination.nextPage()' class='slick-next sCatSlick-next'>Next</a>
              <a ng-click='sCategoryPagination.prevPage()' class='slick-prev sCatSlick-prev'>Prev</a>

            </div>
          </div>
          <!-- SuperCategory Explorer -->
          <style ng-if="windowWidth<1040 && forCustSearch==true">
            .dropdown-menu.ng-isolate-scope {
              bottom: 100% !important;
              top: auto !important;
            }

          </style>
          <div>
            <div class="input-group" ng-show="windowWidth<800">
              <input type="text" class="form-control" placeholder="Phone/ Mobile No" id="txtSearch"
                     type="text"
                     ng-model="selectedCustomer"
                     typeahead="customer.name as getFullname(customer) for customer in getCustomersQuery($viewValue)"
                     typeahead-min-length="3"
                     typeahead-on-select="getSelectedCustomer($item, $model, $label)"
                     typeahead-focus-first="false"
                     class="form-control"
                     ng-enter="customerSearchEnter(selectedCustomer)"
                     ng-click="forCustSearch=true"
              />
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" ng-click="customerSearchEnter(selectedCustomer)">Go!
                </button>
              </span>
            </div>
          </div>

        </div>


        <div class="col-sm-6 col-xs-7 col-md-5 col-lg-5">
          <div class="row">
            <div class="col-sm-12 " style="padding: 0;">
              <div class="searchForm">

                <form name="formadditem" class="form-inline">

                  <div class="form-group col-md-8 col-sm-6 col-xs-7" style="margin:0px;padding:1px">
                    <input ng-if=!isKeyBoard() type="text"
                           typeahead-on-select="getSearchItemSelect($item, $model, $label)"
                           focus-me="{{setFocus.focusItem}}" ng-model="searchItem.name" ng-click="forCustSearch=false;"
                           name="itemName"
                           typeahead="item.name as label(item.name,item.number) for item in masterItemsS  | filter: $viewValue  | limitTo:10"
                           class="form-control searchItem" style="width:100%" placeholder="{{myDate1}} {{myDate1}}"/>

                    <input type="text" ng-if=isKeyBoard()
                           typeahead-on-select="getSearchItemSelect($item, $model, $label)"
                           ng-virtual-keyboard="{ numberPad: true,  relative: false}" ng-model="searchItem.name"
                           ng-click="forCustSearch=false"
                           name="itemName"
                           typeahead="item.name as label(item.name,item.number) for item in masterItemsS  | filter: $viewValue  | limitTo:10"
                           class="form-control searchItem" style="width:100%" placeholder="Search Item..."/>
                  </div>
                  <div class="form-group col-md-2 col-sm-3 col-xs-3" style="margin:0px;padding:1px">
                    <input ng-if=!isKeyBoard() type="text" focus-me="{{setFocus.focusInput}}"
                           ng-enter="GoToNextElement(formadditem)"
                           name="quantity" id="itemQuantityId"
                           class="form-control addQuantity" placeholder="Qty" ng-model="searchItem.qty"
                           style="width:100%"/>

                    <input ng-if= isKeyBoard() type="text"  ng-enter="GoToNextElement(formadditem)"
                           name="quantity" id="itemQuantityId"
                           ng-virtual-keyboard="numKeyboard"
                           class="form-control addQuantity" placeholder="Qty" ng-model="searchItem.qty"
                           style="width:100%"/>

                  </div>
                  <div class="form-group col-md-2 col-sm-3 col-xs-2" style="margin:0px;padding:1px">
                    <button type="submit" style="width:100%" class="btn btn-danger addButton"
                            ng-click="getSelectedItem(formadditem)">Add &nbsp;
                      <div style="color: white" class="fa fa-plus-circle"></div>
                    </button>
                  </div>

                  <span
                    ng-show="formadditem.quantity.$dirty && formadditem.quantity.$error.required || (formadditem.quantity.$dirty && formadditem.quantity.$invalid)">Quantity invalid.</span>

                </form>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12" style="padding: 0 0 0 0;">
              <div class="table-responsive billing cartHeight" style="overflow: auto;">
                <!--Bill Punch Table-->
                <table class="table table-striped table-condensed bill-table table-bordered">
                  <thead style="font-size: 12px;font-weight: bold">
                  <tr style="border:thin">
                    <td width="32px">

                    </td>
                    <td>#</td>
                    <td>Name</td>
                    <td class="text-center" width="72px">Quantity</td>
                    <td class="text-center">
                      Rate
                    </td>
                    <!-- <td class="text-center">{{bill.getItemSubtotal(item)}}/-</td> -->
                    <td class="text-right">Amount</td>
                    <td></td>
                  </tr>
                  </thead>


                  <tbody>
                  <tr ng-repeat-start="item in bill._items|reverse">
                    <td width="2%">
                      <a class="btn btn-danger btn-xs" ng-click="removeItem((bill._items.length-1)- $index)"><i
                        class="fa fa-minus"></i></a>
                    </td>
                    <td>
                      {{$index + 1}}.
                    </td>
                    <td>
                      <div style="font-size: 13px"> {{item.name}}</div>
                      <!--<p ng-show="item.taxes.length > 0" style="margin: 0;">
                          <span ng-repeat="tax in item.taxes" class="label label-info"
                                style="margin-right:5px;">{{tax.name}}</span>
                      </p>-->

                      <p ng-show="item.isDiscounted " style="margin: 0;">
                          <span class="label label-warning" ng-repeat="d in item.discounts"
                                style="margin-right:5px;font-size: 9px">
                             <em ng-if="item.offer.name==null">Discount</em><em ng-if="item.offer.name!=null">{{item.offer.name}}</em>  {{d.value}} <em
                            ng-if="d.type === 'percentage'">%</em> <em ng-if="d.type === 'fixed'">/-</em>
                          </span>
                      </p>

                      <p ng-if="(item.offer.name!=null )&&(!item.isDiscounted) " style="margin: 0;">
                          <span class="label label-warning" style="margin-right:5px;font-size: 9px">
                              {{item.offer.name}}
                              <span ng-if="item.offer.type=='applicable'">
                                (app)
                              </span>
                            </span>
                      </p>

                      <p ng-show="item.comment">

                      <div style="font-size: 11px"><em>{{item.comment}}</em></div>
                      </p>
                      <p ng-show="item.mapComboItems.length>0 " style="margin: 0;">

                      <div class="label label-warning" ng-repeat="com in item.mapComboItems"
                           style="margin-right:5px;font-size: 9px;word-wrap: break-word;max-width: 60px;">
                        {{com.name}}
                      </div>
                      </p>
                    </td>
                    <td class="text-center">

                      <div
                        ng-class="{disabledButton:item.discounts[0].discountAmount!=null,disabledButton:item.offer.name!=null}"
                        class="btn-group" role="group" aria-label="...">
                        <a ng-click="bill.incrementQuantity((bill._items.length-1) - $index)"
                           class="btn btn-success btn-xs" ng-disabled="bar_exchange_enabled && tab.tabType=='table'"><i
                          class="fa fa-plus"></i></a>
                        <!--   <a class="btn btn-default btn-sm" ng-click="openItemQuantityModal('sm', item, $index)">{{item.quantity}}</a>-->
                        <a class="btn btn-default btn-xs"
                           ng-click="openItemQuantityModal('sm', item, (bill._items.length-1)- $index)">{{item.quantity}}</a>
                        <!--<a ng-click="bill.decrementQuantity((bill._items.length-1)- $index)" class="btn btn-danger btn-xs"><i
                                class="fa fa-minus"></i></a>-->
                        <a ng-click="decrementBillQty((bill._items.length-1)- $index)" class="btn btn-danger btn-xs" ng-disabled="bar_exchange_enabled && tab.tabType=='table'"><i
                          class="fa fa-minus"></i></a>
                      </div>

                    </td>
                    <td class="text-center">
                      <a class="btn btn-default btn-sm">@{{item.rate}}/-</a>
                      <!--<a class="btn btn-default btn-xs">
                          @{{item.rate}} </a>-->
                      <!-- <span ng-if="item.isDiscounted" class="btn btn-link">{{item.ratebeforeDiscount}}/-</span>-->

                    </td>
                    <!-- <td class="text-center">{{bill.getItemSubtotal(item)}}/-</td> -->
                    <td class="text-right">
                      <a ng-if="item.discounts[0].discountAmount==null" class="btn btn-default btn-xs"
                         ng-click="openItemAmountModal('sm', item, (bill._items.length-1)- $index)">{{item.subtotal}}/-</a>
                      <a ng-if="item.discounts[0].discountAmount!=null" class="btn btn-default btn-xs"
                         ng-click="openItemAmountModal('sm', item, (bill._items.length-1)- $index)">{{(item.subtotal -
                        item.discounts[0].discountAmount).toFixed(2)}}/-</a>
                    </td>
                    <td>
                      <a ng-click="openItemRateTaxDiscModal('lg', item, (bill._items.length-1)- $index,false,false)"
                         class="btn btn-default btn-xs">...</a>
                       <!-- show item status in kds-->
                           &nbsp;
                       <span ng-if="item.status" style="font-size:12px">
                       <span ng-if="item.status.name=='accepted'" style="color:lightseagreen">Accepted</span>
                       <span ng-if="item.status.name=='rejected'" style="color:red">Rejected</span>
                       <span ng-if="item.status.name=='closed'" style="color:green">Done</span>
                       <span ng-if="item.status.name=='bumped'" style="color:green">Bumped</span>
                       </span>
                        <!--show item status in kds-->
                    </td>
                  </tr>
                  <tr ng-repeat="addon in item.addOns" ng-repeat-end>
                    <td width="2%">
                      <a class="btn btn-danger btn-xs" ng-click="removeAddon($parent.$index,$index)"><i
                        class="fa fa-minus"></i></a>
                    </td>
                    <td colspan="2">
                      <!-- AddOn
                   </td>
                   <td>-->
                      <div style="font-size: 11px;color:grey"> {{addon.name}}</div>
                      <!--<p ng-show="item.taxes.length > 0" style="margin: 0;">
                          <span ng-repeat="tax in item.taxes" class="label label-info"
                                style="margin-right:5px;">{{tax.name}}</span>
                      </p>-->

                    </td>
                    <td class="text-center">

                      <div
                        ng-class="{disabledButton:item.discounts[0].discountAmount!=null,disabledButton:item.offer.name!=null}"
                        class="btn-group" role="group" aria-label="...">
                        <a ng-click="incrementAddOnQuantity($parent.$index, $index)"
                           class="btn btn-success btn-xs"><i
                          class="fa fa-plus"></i></a>
                        <!--   <a class="btn btn-default btn-sm" ng-click="openItemQuantityModal('sm', item, $index)">{{item.quantity}}</a>-->
                        <a class="btn btn-default btn-xs"
                        >{{addon.quantity}}</a>
                        <!--<a ng-click="bill.decrementQuantity((bill._items.length-1)- $index)" class="btn btn-danger btn-xs"><i
                                class="fa fa-minus"></i></a>-->
                        <a ng-click="decrementAddOnQty($parent.$index, $index)" class="btn btn-danger btn-xs"><i
                          class="fa fa-minus"></i></a>
                      </div>

                    </td>
                    <td class="text-center">
                      <a class="btn btn-default btn-sm">@{{addon.rate}}/-</a>
                      <!--<a class="btn btn-default btn-xs">
                          @{{item.rate}} </a>-->
                      <!-- <span ng-if="item.isDiscounted" class="btn btn-link">{{item.ratebeforeDiscount}}/-</span>-->

                    </td>
                    <!-- <td class="text-center">{{bill.getItemSubtotal(item)}}/-</td> -->
                    <td class="text-right">
                      <a class="btn btn-default btn-xs">{{addon.subtotal}}/-</a>
                    </td>
                    <td>

                    </td>
                  </tr>
                  </tbody>
                </table>

                <!--KOT Printed TABLE-->
                <table ng-repeat="(index,kot) in bill._kots"
                       class="table table-bordered table-condensed table-striped bill-table">
                  <thead>

                  <tr ng-class="{'info':$even, 'warning':$odd}">
                    <th colspan="7">
                      <!-- <i style="padding-left:10px;padding-right:10px;" class="glyphicon glyphicon-lg glyphicon-copy" ng-click="transferKot(bill,index)"></i>
                      -->
                      <a class="btn btn-default btn-sm" ng-click="kotSettings(index,bill)"> <i
                        class="fa fa-cog  fa-spin fa-lg"></i></a>
                      <!--   <a ng-show="!kot.isVoid" class="btn btn-default btn-xs" ng-click="voidKot(index)">Void KOT</a>
                         <a ng-show="!kot.isVoid" class="btn btn-default btn-xs" ng-click="printKotIndex($index, true)">Re-Print
                           KOT</a>
                      -->   <!--<strong>KOT #: {{index + 1}}</strong>-->
                      <strong>KOT #: {{kot.kotNumber}}</strong>
                      <span ng-show="kot.isVoid" class="label label-danger">Void</span>
                      <!-- <span ng-show="kot.isVoid"> {{kot.comment}}</span>-->
                      <span style="float: right;font-size: 11px;font-style: oblique;"> {{kot.comment}}</span>
                      <span style="float: right;font-size: 9px;font-style: oblique;color:#808080"> {{kot.transfer.status}}</span>
                    </th>
                    <!--   <th class="text-right">
                           &nbsp;
                       </th>-->
                  </tr>
                  <!--  <tr>
                        <th colspan="7">
                            <i>{{kot.comment}}</i>
                        </th>
                    </tr>-->
                  </thead>
                  <tbody>
                  <tr ng-repeat-start="item in kot.items">
                    <td width="2%">
                      <a class="btn btn-danger btn-xs" ng-click="openChangeKotQuantity('sm', index, $index)"><i
                        class="fa fa-minus"></i></a>
                    </td>
                    <td>{{$index + 1}}
                      <i ng-show="((!(kot.isVoid)) && (!isCardSystem()))" style="padding-left:5px;padding-right:5px;"
                         class="glyphicon glyphicon-lg glyphicon-copy" ng-click="transferItem(bill,index,$index)"></i>
                    </td>
                    <td style="font-size: 12px">{{item.name}}
                      <!--<p ng-show="item.isDiscounted" style="margin: 0;">
                    <span class="label label-warning" ng-repeat="d in item.discounts"
                          style="margin-right:5px;font-size: 9px">
                        Discount {{d.value}} <em ng-if="d.type === 'percentage'">%</em> <em ng-if="d.type === 'fixed'">/-</em>
                    </span>
                      </p>-->
                      <p ng-show="item.isDiscounted " style="margin: 0;">
                          <span class="label label-warning" ng-repeat="d in item.discounts"
                                style="margin-right:5px;font-size: 9px">
                             <em ng-if="item.offer.name==null">Discount</em><em ng-if="item.offer.name!=null">{{item.offer.name}}</em>  {{d.value}} <em
                            ng-if="d.type === 'percentage'">%</em> <em ng-if="d.type === 'fixed'">/-</em>
                          </span>
                      </p>

                      <p ng-if="(item.offer.name!=null )&&(!item.isDiscounted) " style="margin: 0;">
                          <span class="label label-warning" style="margin-right:5px;font-size: 9px">
                              {{item.offer.name}}
                              <span ng-if="item.offer.type=='applicable'">
                                (app)
                              </span>
                            </span>
                      </p>

                      <p ng-show="item.comment">
                        <small><em>{{item.comment}}</em></small>
                      </p>
                      <p ng-show="item.mapComboItems.length>0 " style="margin: 0;">
                          <span class="label label-warning" ng-repeat="com in item.mapComboItems"
                                style="margin-right:5px;font-size: 9px">
                             <em>{{com.name}}</em>
                          </span>
                      </p>
                    </td>
                    <td width="20%" class="text-center">
                      <div class="btn-group" role="group" aria-label="...">
                        <!--<a ng-click="bill.incrementQuantity($index)" class="btn btn-success btn-sm"><i
                                class="fa fa-plus"></i></a>-->
                        <a class="btn btn-default btn-xs">{{item.quantity}}</a>

                        <!--<a ng-click="bill.decrementKotQuantity($index)" class="btn btn-danger btn-sm"><i
                                class="fa fa-minus"></i></a>-->
                      </div>
                    </td>
                    <td class="text-center" width="10%">
                      <a class="btn btn-default btn-xs">@{{item.rate}}</a>
                    </td>
                    <td class="text-center" width="10%" style="font-size: 12px">{{item.subtotal}}/-</td>
                    <td>
                      <a class="btn btn-default btn-xs" ng-if="((!kot.isVoid)&&(!isCardSystem()))"
                         ng-click="openItemRateTaxDiscModal('', item, $index,true,index)">...</a>
                           <!-- show item status in kds-->
                           &nbsp;
                       <span ng-if="item.status" style="font-size:12px">
                       <span ng-if="item.status.name=='accepted'" style="color:lightseagreen">Accepted</span>
                       <span ng-if="item.status.name=='rejected'" style="color:red">Rejected</span>
                       <span ng-if="item.status.name=='closed'" style="color:green">Done</span>
                       <span ng-if="item.status.name=='bumped'" style="color:green">Bumped</span>
                       </span>
                        <!--show item status in kds-->
                    </td>
                  </tr>

                  <tr ng-repeat="addon in item.addOns" ng-repeat-end>
                    <td width="2%">
                      <!--<a class="btn btn-danger btn-xs" ng-click="removeAddon($parent.$index,$index)"><i
                              class="fa fa-minus"></i></a>-->
                    </td>
                    <td colspan="2">
                      <!-- AddOn
                   </td>
                   <td>-->
                      <div style="font-size: 11px;color:grey"> {{addon.name}}</div>
                      <!--<p ng-show="item.taxes.length > 0" style="margin: 0;">
                          <span ng-repeat="tax in item.taxes" class="label label-info"
                                style="margin-right:5px;">{{tax.name}}</span>
                      </p>-->

                    </td>
                    <td class="text-center">

                      <div
                        ng-class="{disabledButton:item.discounts[0].discountAmount!=null,disabledButton:item.offer.name!=null}"
                        class="btn-group" role="group" aria-label="...">
                        <!--<a ng-click="incrementAddOnQuantity($parent.$index, $index)"
                           class="btn btn-success btn-xs"><i
                                class="fa fa-plus"></i></a>-->
                        <!--   <a class="btn btn-default btn-sm" ng-click="openItemQuantityModal('sm', item, $index)">{{item.quantity}}</a>-->
                        <a class="btn btn-default btn-xs"
                        >{{addon.quantity}}</a>
                        <!--<a ng-click="bill.decrementQuantity((bill._items.length-1)- $index)" class="btn btn-danger btn-xs"><i
                                class="fa fa-minus"></i></a>-->
                        <!-- <a ng-click="decrementAddOnQty($parent.$index, $index)" class="btn btn-danger btn-xs"><i
                                 class="fa fa-minus"></i></a>-->
                      </div>

                    </td>
                    <td class="text-center">
                      <a class="btn btn-default btn-sm">@{{addon.rate}}/-</a>
                      <!--<a class="btn btn-default btn-xs">
                          @{{item.rate}} </a>-->
                      <!-- <span ng-if="item.isDiscounted" class="btn btn-link">{{item.ratebeforeDiscount}}/-</span>-->

                    </td>
                    <!-- <td class="text-center">{{bill.getItemSubtotal(item)}}/-</td> -->
                    <td class="text-right">
                      <a class="btn btn-default btn-xs">{{addon.subtotal}}/-</a>
                    </td>
                    <td>

                    </td>
                  </tr>
                  <tr class="danger" style="font-size: 12px" ng-repeat-start="delItem in kot.deleteHistory">
                    <td width="2%"></td>
                    <td>{{$index + 1}}</td>
                    <td>{{delItem.name}}</td>
                    <td class="text-center">-{{delItem.quantity}}</td>
                    <td class="text-center">@{{delItem.rate}}</td>
                    <td class="text-center">-{{delItem.subtotal}}</td>
                  </tr>
                  <tr class="danger" style="font-size: 12px" ng-repeat="addon in delItem.addOns" ng-repeat-end>
                    <td width="2%"></td>
                    <!--<td>{{$index + 1}}</td>-->
                    <td colspan="2" style="color: #808080">{{addon.name}}</td>
                    <td class="text-center">-{{addon.quantity}}</td>
                    <td class="text-center">@{{addon.rate}}</td>
                    <td class="text-center">-{{addon.subtotal}}</td>
                  </tr>
                  <!-- <tr>
                       <td colspan="3">Total: {{bill.getKotIndexSubtotal($index)}}</td>
                       <td colspan="2">Total Tax: {{bill.getKotTaxTotal($index)}}</td>
                   </tr>-->
                  </tbody>
                </table>

              </div>

            </div>
          </div>
          <!--Billing Row Ends-->
          <div class="row">
            <div class="col-xs-12"
                 style=" border: solid 1px;border-color:#f1f1f1;border-right: 0px; padding: 0 3px 0 0;">
              <span style="font-size: 11px;font-style: oblique">{{kotComment}} </span>

              <div ng-if="enableCommentOnKot()" style="margin-bottom: 2px;float:right">
                <div ng-click="getKotComment()" class="commentButton">Kot Comment <span class="fa fa-comment-o"></span>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <!--<pre>{{selectedCustomer|json}}</pre> JUGAD-->
            <div ng-if="windowWidth>800" style="margin-bottom: 0px;"
                 class="widgetBox col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <form class="form-inline" name="customerForm">
                <div class="form-group">
                  <input type="text" class="form-control xs" style="max-width: 180px" placeholder="Mobile Number/Name"
                         type="text"
                         ng-model="selectedCustomer"
                         typeahead="customer.name as getFullname(customer) for customer in getCustomersQuery($viewValue)"
                         typeahead-min-length="3"
                         typeahead-on-select="getSelectedCustomer($item, $model, $label)"
                         class="form-control"
                         ng-enter="customerSearchEnter(selectedCustomer)"
                         ng-virtual-keyboard="alphaKeyboardTop"
                  />
                  <button class="btn btn-primary fa fa-search " style="background-color: #848484;border-color: #848484"
                          ng-click="customerSearchEnter(selectedCustomer)" type="submit"></button>
                </div>
              </form>

              <div class="row" style="margin-top: 10px; " ng-show="bill.isCustomerSelected()">
                <div class="col-xs-12">
                  <!-- <pre>
                      {{bill._customer}}
                  </pre> -->
                  <!--ng-show="bill.isCustomerSelected()"-->
                  <div class="panel panel-danger" style="background-color: #e1e1e1;">
                    <div class="panel-heading" style="height: 30px;padding: 0 0 0 0;color:#000000; line-height: 25px; ">
                      <div class="panel-title " style="padding: 3px 5px 0 10px ">
                        <a ng-click="customerModal()">
                          <span class="glyphicon glyphicon-user"></span> {{bill._customer.firstname }}
                        </a>
                        <a class="btn btn-default btn-xs" style="float: right;"
                           ng-click="bill.removeCustomer()">X</a>

                        <!--    {{ bill._customer.lastname }}-->
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12" style="padding: 0 0 0 0;margin-top: -10px;font-size: 13px;color: #006666">
                    <i class="fa fa-mobile" style="font-size: larger"></i>&nbsp;
                    {{bill._customer.mobile}}
                    <div ng-show="bill._customer.phone.length>0"> {{bill._customer.phone}}</div>
                    <br/>
                    <i class="fa fa-map-marker"> </i>&nbsp;{{bill._customer.addType}}
                    <div style="float:right;" ng-show="billCustomer.addresses.length>0">
                      <button ng-click="selectAddresses(billCustomer.addresses)" class="btn btn-primary btn-xs ">
                        Change
                      </button>
                    </div>
                    <div style="background-color:#cccccc;height: 1px;margin-top:5px; "></div>
                    <div style="min-height: 60px">
                      {{bill._customer.address1}}
                      <br/>
                      {{bill._customer.address2}}
                      <br/>
                      {{bill._customer.city}}
                      <span ng-show="bill._customer.postCode.length>0">-</span>
                      {{bill._customer.postCode}}

                      <div style="float:right;">
                        <button ng-click="showCustomerMore(bill._customer)" class="btn btn-primary btn-xs"
                                style="background-color: #0d3349">More
                        </button>
                      </div>
                    </div>
                    <!-- <div style="background-color:#cccccc;height: 1px;margin-top:0px;padding: 0 0 0 0; "></div>
                     <div class="row">
                       <div class="col-sm-6" style="border-right: solid 1px #cccccc">Favourite Items</div>
                       <div class="col-sm-6">Total Amt:</div>

                     </div>-->

                    <div style="background-color:#cccccc;height: 1px;margin-top:2px;padding: 0 0 0 0; "></div>
                    <div style="margin-bottom: -20px" ng-show="bill._customer.detail.gTotal>0">
                      <table style="font-size: 11px;"
                             class="table table-responsive table-condensed table-bordered table-striped ">
                        <tr>
                          <th>
                            Favourite Items
                          </th>
                          <th>Total Amount</th>
                        </tr>
                        <tr>
                          <td width="50%">
                            {{bill._customer.detail.topItems[0].itemName}}
                          </td>
                          <td width="50%">
                            T.Amount:<i class="fa fa-inr"></i> {{ bill._customer.detail.gTotal}}
                          </td>
                        </tr>
                        <tr>
                          <td width="50%">{{bill._customer.detail.topItems[1].itemName}}</td>
                          <td width="50%">M.Amount:<i class="fa fa-inr"></i> {{bill._customer.detail.month}}</td>
                        </tr>
                        <tr>
                          <td width="50%">{{bill._customer.detail.topItems[2].itemName}}</td>
                          <td width="50%">LastBillAmt:<i class="fa fa-inr"></i> {{bill._customer.detail.lBill}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div ng-if="windowWidth<=800" style="margin-bottom: 0px;padding:0 5px;"
                 class="widgetBox2 col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <ul style="font-weight: bold;padding: 1px;">
                <li class="text-left" style="width:44px">Total :</li>
                <!--  <li class="text-center" style="width:18%">{{bill.getGTotalQuantity()}}&nbsp;</li>-->
                <li class="text-right" style="float: right"><span class="fa fa-rupee"></span> {{ (bill.getSubtotal()+
                  bill.getKotsTotalAmount()).toFixed(2)}}
                </li>
              </ul>
              <ul style="color:#000000;padding: 1px;">
                <li class="text-left">
                  <button ng-disabled="!isPermission('allow_offer')" class="btn btn-primary "
                          style="height: 25px;line-height: 10px;" ng-click="openOfferPage()">Offers:
                  </button>
                </li>
                <li class="text-right"><span class="fa fa-rupee"></span>
                  {{(bill.getTotalDiscount()+bill.getKotTotalDiscount()).toFixed(2)}}
                </li>
              </ul>
              <ul style="padding:1px;">
                <li class="text-left" style="font-weight: 600;color:#000000;">Tax :</li>
                <button ng-click="getTaxBifurcation()" class="btn btn-danger"
                        style="float: right;height: 25px;line-height: 10px; "><span
                  class="fa fa-rupee"></span> {{(bill.getKotsTotalTax()+bill.getTotalTax()+ bill.getCharges()).toFixed(2)}}
                </button>
              </ul>
            </div>
            <div class="widgetBox2 col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-if="windowWidth>800">
              <ul style="font-weight: bold;padding: 0 7px 0 7px;">
                <li class="text-left" style="width:44px">Total :</li>
                <!--  <li class="text-center" style="width:18%">{{bill.getGTotalQuantity()}}&nbsp;</li>-->
                <li class="text-right" style="float: right">{{(bill.getGTotalQuantity())}}<span
                  style="width:10px">No.</span> <span class="fa fa-rupee"></span> {{ (bill.getSubtotal()+
                  bill.getKotsTotalAmount()).toFixed(2)}}
                </li>
              </ul>
              <ul style="color:#000000;padding: 0 7px 0 7px;">
                <li class="text-left">
                  <button ng-disabled="!isPermission('allow_offer')" class="btn btn-primary "
                          style="height: 25px;line-height: 10px;" ng-click="openOfferPage()">Offers
                  </button>
                  :
                </li>
                <li class="text-right"><span class="fa fa-rupee"></span>
                  {{(bill.getTotalDiscount()+bill.getKotTotalDiscount()).toFixed(2)}}
                </li>
              </ul>
              <ul style="padding:0 7px 0 7px;">
                <li class="text-left" style="font-weight: 600;color:#000000;">Tax :</li>
                <button ng-click="getTaxBifurcation()" class="btn btn-danger"
                        style="float: right;height: 25px;line-height: 10px; "><span
                  class="fa fa-rupee"></span> {{(bill.getKotsTotalTax()+bill.getTotalTax()+bill.getCharges()).toFixed(2)}}
                </button>
              </ul>
              <div style="clear: both"></div>
              <div
                style="background-color: #f1f1f1;margin-top: 5px;height: 30px;line-height: 27px;color:#3a3a3a;font-size: 18px;font-weight: bold ">
                <ul style="padding: 0 7px 0 7px">
                  <li class="text-left">Net Amount :</li>
                  <li  class="text-right"><span class="fa fa-rupee"></span> {{ bill.getNetAmount().toFixed(2)}}
                  </li>
                  <!-- <li ng-if="!isRound()" class="text-right"><span class="fa fa-rupee"></span> {{ (bill.getTotalBillR2()+
                    bill.getKotsTotalBillR2()).toFixed(2)}}
                  </li> -->
                </ul>
              </div>
              <div ng-if="bill.advance.amount>0"
                   style="background-color: #11f1f1;margin-top: 5px;height: 30px;line-height: 27px;color:#3a3a3a;font-size: 18px;font-weight: bold ">
                <ul style="padding: 0 7px 0 7px">
                  <li class="text-left">Adv Amount :</li>
                  <li class="text-right"><span class="fa fa-rupee"></span> {{ (bill.advance.amount).toFixed(2) }}
                  </li>
                </ul>
              </div>
              <div style="padding: 5px 5px 5px 5px;">
                <select ng-disabled="(selectedWaiter!=null || selectedManager==true)" class="form-control"
                        ng-show="bill.tabType=='table'" ng-change="changeWaiterDelivery(bill)"
                        ng-model="bill._waiter"
                        ng-options="waiter as getWaiterName(waiter) for waiter in filterWaiterDelivery('Waiter') track by waiter._id">
                  <option value="">Select Waiter</option>
                </select>

                <select class="form-control" ng-show="!(bill.tabType=='table')" ng-change="changeWaiterDelivery(bill)"
                        ng-model="bill._delivery"
                        ng-disabled="(tp_integrated||zomato_integrated||delivery_integrated) && bill._kots.length<=0 && bill.tabType=='delivery'"
                        ng-options="deliverer as getDelivererName(deliverer) for deliverer in filterWaiterDelivery('Delivery') track by deliverer._id">
                  <option value="">Select Delivery</option>
                </select>
              </div>
              <!--<div style="padding-left: 5px">
                <div class="form-group form-inline">
                  <input class="form-control" style="max-width:150px; " placeholder="Offer Code">  </input>
                  <button class="btn btn-primary btn-sm">Apply</button>
                </div>
              </div>-->
              <div class="row">
                <div class="col-xs-12">
                  <div ng-show="!(isOnlineBill || isEditBill||isEditAdvance)" style="padding:0px 3px 3px 3px ;">
                    <div ng-click="doBilling()"
                         ng-class="{disabledButton:isBillingOn}"
                         style=" background-color: #65cea7;min-height: 40px;text-align: center;border-radius: 8px">

                      <label style="line-height: 60px;color: white;font-size: large;">
                        <div style="float: right;margin-left: -23px;margin-top: 5px"><a><img
                          src="../assets/images/billing-wallet.png"/></a></div>
                        <i style="float:left;margin-top: 34px;color:#65cea7; " class="fa fa-inr"></i></label>
                      <label
                        style="line-height: 20px;color: white;font-size: large;line-height: 60px; margin-right: 50px;margin-top: 7px; float: right;">{{billStatus}}</label>
                    </div>
                  </div>
                  <div ng-show="isOnlineBill"
                       style="padding: 10px 10px 10px 10px;background-color:lightblue ;min-height: 40px;text-align: center;border-radius: 8px">
                    <span><i class="btn btn-primary" ng-click="onlineBillTrigger(false)"
                             ng-class="{disabledButton:isBillingOn}">Accept</i> </span><span
                    style="margin-left :30px"><i class="btn btn-danger" ng-click="onlineBillTrigger(true)"
                                                 ng-class="{disabledButton:isBillingOn}">Reject</i> </span>
                  </div>
                  <div ng-show="isEditBill"
                       style="padding: 10px 10px 10px 10px;background-color:lightblue ;min-height: 40px;text-align: center;border-radius: 8px">
                    <span><i class="btn btn-primary" ng-click="settleForEditBill()"
                             ng-class="{disabledButton:isBillingOn}">Settle</i> </span><span
                    style="margin-left :30px"><i class="btn btn-danger" ng-click="cancelEdit()"
                                                 ng-class="{disabledButton:isBillingOn}">Cancel</i> </span>
                  </div>
                </div>
              </div>
              <!--advance booking start here-->
              <div class="row" ng-show="showAdvance">
                <div class="col-xs-12">
                  <div style=" padding:7px 0px 5px 0px;  text-align: center">
                    <input type="button" class="btn btn-primary" value="Advance" ng-click="submitAdvance()"/>
                  </div>
                </div>
              </div>
              <!--advance booking end here-->
            </div>
            <div class="widgetBox2 col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding:0 5px;"
                 ng-if="windowWidth<=800">
              <ul style="font-weight: bold;padding: 1px;color:red">
                <li class="text-left">Quantity :</li>
                <!--  <li class="text-center" style="width:18%">{{bill.getGTotalQuantity()}}&nbsp;</li>-->
                <li class="text-right" style="float: right">{{(bill.getGTotalQuantity())}}
                </li>
              </ul>
              <ul style="font-weight: bold;padding: 1px;">
                <li class="text-left">Pay:</li>
                <!--  <li class="text-center" style="width:18%">{{bill.getGTotalQuantity()}}&nbsp;</li>-->
                <li class="text-right" style="float: right;font-size:20px;color:#1381cc"><span
                  class="fa fa-rupee"></span> {{ (bill.getTotalBill()+
                  bill.getKotsTotalBill()).toFixed(2)}}
                </li>
              </ul>
              <div ng-if="bill.advance.amount>0"
                   style="background-color: #11f1f1;margin-top: 5px;height: 30px;line-height: 27px;color:#3a3a3a;font-size: 18px;font-weight: bold ">
                <ul style="padding: 0 7px 0 7px">
                  <li class="text-left">Adv Amount :</li>
                  <li class="text-right"><span class="fa fa-rupee"></span> {{ (bill.advance.amount).toFixed(2) }}
                  </li>
                </ul>
              </div>
              <div style="padding: 5px 5px 5px 5px;">
                <select ng-disabled="(selectedWaiter!=null || selectedManager==true)" class="form-control"
                        ng-show="bill.tabType=='table'" ng-change="changeWaiterDelivery(bill)"
                        ng-model="bill._waiter"
                        ng-options="waiter as getWaiterName(waiter) for waiter in filterWaiterDelivery('Waiter') track by waiter._id">
                  <option value="">Select Waiter</option>
                </select>

                <select class="form-control" ng-show="!(bill.tabType=='table')" ng-change="changeWaiterDelivery(bill)"
                        ng-model="bill._delivery"
                        ng-disabled="(tp_integrated||zomato_integrated||delivery_integrated) && !bill.isPrinted && bill.tabType=='delivery'"
                        ng-options="deliverer as getDelivererName(deliverer) for deliverer in filterWaiterDelivery('Delivery') track by deliverer._id">
                  <option value="">Select Delivery</option>
                </select>
              </div>
            </div>


          </div>
          <div class="row" style="position:absolute;width:100%" ng-if="windowWidth<=800">
            <div class="col-xs-12">
              <div ng-show="!(isOnlineBill || isEditBill||isEditAdvance)" style="padding:0px 3px 3px 3px ;">
                <div ng-click="doBilling()"
                     ng-class="{disabledButton:isBillingOn}"
                     style=" background-color: #65cea7;min-height: 40px;text-align: center;border-radius: 8px">

                  <label style="line-height: 60px;color: white;font-size: large;">
                    <div style="float: right;margin-left: -23px;margin-top: 5px"><a><img
                      src="../assets/images/billing-wallet.png"/></a></div>
                    <i style="float:left;margin-top: 34px;color:#65cea7; " class="fa fa-inr"></i></label>
                  <label
                    style="line-height: 20px;color: white;font-size: large;line-height: 60px; margin-right: 50px;margin-top: 7px; float: right;">{{billStatus}}</label>
                </div>
              </div>
              <div ng-show="isOnlineBill"
                   style="padding: 10px 10px 10px 10px;background-color:lightblue ;min-height: 40px;text-align: center;border-radius: 8px">
                <span><i class="btn btn-primary" ng-click="onlineBillTrigger(false)"
                         ng-class="{disabledButton:isBillingOn}">Accept</i> </span><span style="margin-left :30px"><i
                class="btn btn-danger" ng-click="onlineBillTrigger(true)"
                ng-class="{disabledButton:isBillingOn}">Reject</i> </span>
              </div>
              <div ng-show="isEditBill"
                   style="padding: 10px 10px 10px 10px;background-color:lightblue ;min-height: 40px;text-align: center;border-radius: 8px">
                <span><i class="btn btn-primary" ng-click="settleForEditBill()" ng-class="{disabledButton:isBillingOn}">Settle</i> </span><span
                style="margin-left :30px"><i class="btn btn-danger" ng-click="cancelEdit()"
                                             ng-class="{disabledButton:isBillingOn}">Cancel</i> </span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="panel panel-danger" style="background-color: #e1e1e1;"
             ng-show="bill.isCustomerSelected() && windowWidth<=800">
          <div class="panel-heading" style="height: 30px;padding: 0 0 0 0;color:#000000; line-height: 25px; ">
            <div class="panel-title " style="padding: 3px 5px 0 10px ">
              <a ng-click="customerModal()">
                <span class="glyphicon glyphicon-user"></span> {{bill._customer.firstname }}
              </a>
              <a class="btn btn-default btn-xs" style="float: right;"
                 ng-click="bill.removeCustomer()">X</a>
            </div>
          </div>
        </div>
        <div style="padding: 0 0 0 0;margin-top: -10px;font-size: 13px;color: #006666"
             ng-show="bill.isCustomerSelected() && windowWidth<=800">
          <div class="col-xs-6">
            <i class="fa fa-mobile" style="font-size: larger"></i>&nbsp;
            {{bill._customer.mobile}}
            <div ng-show="bill._customer.phone.length>0"> {{bill._customer.phone}}</div>
          </div>
          <div class="col-xs-6">
            <i class="fa fa-map-marker"> </i>&nbsp;{{bill._customer.addType}}
            <div style="float:right;" ng-show="billCustomer.addresses.length>0">
              <button ng-click="selectAddresses(billCustomer.addresses)" class="btn btn-primary btn-xs ">
                Change
              </button>
            </div>
            <div style="background-color:#cccccc;height: 1px;margin-top:5px; "></div>
            <div style="min-height: 60px">
              {{bill._customer.address1}}
              <br/>
              {{bill._customer.address2}}
              <br/>
              {{bill._customer.city}}
              <span ng-show="bill._customer.postCode.length>0">-</span>
              {{bill._customer.postCode}}

              <div style="float:right;">
                <button ng-click="showCustomerMore(bill._customer)" class="btn btn-primary btn-xs"
                        style="background-color: #0d3349">More
                </button>
              </div>
            </div>
          </div>


          <div style="background-color:#cccccc;height: 1px;margin-top:2px;padding: 0 0 0 0; "></div>
          <div style="margin-bottom: -20px" ng-show="bill._customer.detail.gTotal>0">
            <table style="font-size: 11px;"
                   class="table table-responsive table-condensed table-bordered table-striped ">
              <tr>
                <th>
                  Favourite Items
                </th>
                <th>Total Amount</th>
              </tr>
              <tr>
                <td width="50%">
                  {{bill._customer.detail.topItems[0].itemName}}
                </td>
                <td width="50%">
                  T.Amount:<i class="fa fa-inr"></i> {{ bill._customer.detail.gTotal}}
                </td>
              </tr>
              <tr>
                <td width="50%">{{bill._customer.detail.topItems[1].itemName}}</td>
                <td width="50%">M.Amount:<i class="fa fa-inr"></i> {{bill._customer.detail.month}}</td>
              </tr>
              <tr>
                <td width="50%">{{bill._customer.detail.topItems[2].itemName}}</td>
                <td width="50%">LastBillAmt:<i class="fa fa-inr"></i> {{bill._customer.detail.lBill}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--row widget-->

  </div>
  <!--container-->
</div>
<!--content-->
</div>
<!--***********Billing Ends Here **********************-->


<script type="text/ng-template" id="tableSlides.html">
  <div ng-repeat="tables in data">
    <div class="tableSlide" ng-repeat="t in tables">

      <div ng-class="tableDClass(t.bill)" context-menu="menuOptions(t.bill)" ng-click="startNewTableBill(t.id)">
        <div class="table-red">
          <p class="billingtext1"><span ng-show="t.bill._covers>0"> {{t.bill._covers}}</span>
             <span class="billingtext5" ng-show="t.bill._covers>0">
                  ({{(t.bill.aggregation.netRoundedAmount/t.bill._covers).toFixed(2)}}/-)
                  </span>
          </p>

          <p class="billingtext2"><STRONG> {{t.id}}</STRONG></p>

          <p class="billingtext3">{{t.bill._customer.firstname}}</p>
        </div>
        <div class="table-white">
          <p class="billingtext4"><span ng-if="t.bill">{{getLapsedTime(t.bill,$index,$state.current.data.tables.length)}} </span>
          </p>

          <!-- <p class="billingtext6"><span ng-show="t.bill._kots.length > 0"><i class="fa fa-inr"></i> {{(t.bill.getTotalBill()+ t.bill.getKotsTotalBill()).toFixed(2)}}/-</span>
           </p>
         -->
          <p class="billingtext6"><span ng-show="t.bill"><i class="fa fa-inr"></i> {{(t.bill.aggregation.netRoundedAmount)}}/-</span>

          <p class="billingtext5">{{t.bill._waiter.name}}</p>
        </div>
      </div>

    </div>
  </div>
</script>

<script type="text/ng-template" id="itemSCatExplorer.html">
  <div class="s-class" style="width: 126px;" ng-repeat="scat in data">
    <div class="s-class-cat heybro">
      <a ng-click="filterCatFromSCategory(scat)" class="btn btn-secondry_p">{{scat.superCategoryName}}</a>
    </div>
  </div>
</script>

<script type="text/ng-template" id="itemCatExplorer.html">
  <div class="s-class" style="width: 126px;" ng-repeat="cats in data">
    <div ng-repeat="cat in cats">
      <div class="s-class-cat">
        <a ng-click="filterItemsFromCategory(cat)" class="btn btn-primary_p">{{cat.categoryName}}</a>
      </div>
    </div>
  </div>
</script>

