<div class="modal-header">
    <h3 class="modal-title">Card bill </h3>
</div>
<div class="modal-body">
    <div class="well">
        <span style="font-size: 14px;">Amount To be Reversed: </span><span style="font-size:14px;font-weight: bold">{{cardBill.netAmount}}</span>
    </div>
   <div ng-show="selectedCardId==''">
    <table><tr><td>Swipe Card:</td><td>
        <input type="text" focus-me="{{setFocus.focusInput }}"
               class="form-control" placeholder="swipe card.."
               ng-enter="cardEntered()" ng-model="cardId">

    </td></tr></table>
   </div>
   <div ng-show="selectedCardId!=''">
    <table class="table table-responsive table-condensed table-striped">
        <tr>
            <td>Card Id:</td><td>{{cardDetail.cardId}}</td><td> <label ng-click="changeCard()" class="btn btn-primary btn-xs">Change Card</label> </td>
            </tr><tr>
         <tr>   <td>Balance:</td><td>{{cardDetail.balance}}</td><td></td></tr>
          <tr>  <td>Reverse Amount:  </td><td>{{cardBill.netAmount}}</td><td></td></tr>
          <tr>  <td>New Balance:  </td><td>{{cardDetail.balance+cardBill.netAmount}}</td><td></td></tr>

    </table>
   </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-class="{disabledButton:(selectedCardId=='')}"  ng-click="submit()">Submit</button>
    <button class="btn btn-primary" ng-click="cancel()">Close</button>
</div>
