<div class="modal-header">
  <h3 class="modal-title text-center">Delivery History</h3>
</div>
<div class="modal-body">
  <table class="table">
    <thead>
    <tr>
      <th>Status</th>
      <th class="text-right">Time</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="bill._delivery.deliveryHistory.acceptedTime">
      <td><strong>AcceptedTime</strong></td>
      <td class="text-right">{{bill._delivery.deliveryHistory.acceptedTime| date: 'dd/MM/yy hh:mm:ss a'}}</td>
    </tr>
    <tr ng-if="bill._delivery.deliveryHistory.dispatchTime">
      <td><strong>DispatchTime</strong></td>
      <td class="text-right">{{bill._delivery.deliveryHistory.dispatchTime| date: 'dd/MM/yy hh:mm:ss a'}}</td>
    </tr>
    <tr ng-if="bill._delivery.deliveryHistory.pickedUpTime">
      <td><strong>Picked-up Time</strong></td>
      <td class="text-right">{{bill._delivery.deliveryHistory.pickedUpTime| date: 'dd/MM/yy hh:mm:ss a'}}</td>
    </tr>
    <tr ng-if="bill._deliveryTime">
      <td><strong>Delivery Time</strong></td>
      <td class="text-right">{{bill._deliveryTime|date: 'dd/MM/yy hh:mm:ss a'}}</td>
    </tr>
    <tr ng-if="bill._deliveryTime">
      <td><strong>Avg Delivery Time</strong></td>
      <td class="text-right">{{bill._delivery.avgDeliveryTime}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>