<div class="modal-header">
  <h3 class="modal-title">Add Comment to {{item.name}}</h3>
</div>
<div class="modal-body">
  <div class="form-group">
   <!-- <ui-select  ng-model="item.mapItems" theme="select2" ng-click="" style="min-width: 800px;">
      <ui-select-match placeholder="Select items...">{{$item.name}}</ui-select-match>
      <ui-select-choices repeat="item  in items  | filter:$select.search">
        {{item.name}}
      </ui-select-choices>
    </ui-select>-->
    <ui-select ng-model="selected.comment" ng-change="commentChange()"  focus-on='SetFocus'>
      <ui-select-match placeholder="Select Comment">
        <span ng-bind="$select.selected.name"></span>
      </ui-select-match>
      <ui-select-choices repeat="i in (item.comments | filter: $select.search) track by i._id">
        <span ng-bind="i.name"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="form-group">
    <p>{{errorMessage}}</p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="addComment()" focus-me="{{setFocus.focusButton}}">Add Comment</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
