<div class="modal-header">
    <h3 class="modal-title">Bills <a class="btn btn-success pull-right" ng-click="syncOfflineBills()">Sync Bills</a></h3>

</div>
<div class="modal-body">

    <div class="row">
        <div class="col-xs-4">
            <div class="well well-sm">
                <h4><i class="fa fa-inr"></i> {{getUnsettled()}}/-</h4>
                <small>Unsettled</small>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="well well-sm">
                <h4><i class="fa fa-inr"></i> {{getDaySale()}}/-</h4>
                <small>Day Sale</small>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="well well-sm">
                <h4><i class="fa fa-inr"></i> {{getTotalTax()}}/-</h4>
                <small>Total Tax</small>
            </div>
        </div>
    </div>

    <!--<div class="table-responsive">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tax Name</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="t in getMergedTaxes()">
                    <td>{{t.name}}</td>
                    <td>{{t.tax_amount}}</td>
                </tr>
            </tbody>

        </table>
    </div>-->

    <div class="table-responsive">
        <table class="table table-striped table-condensed" >
            <thead>
            <tr>
                <!--<th>ID</th>-->
                <!--<th>Bill Id</th>-->
                <th>Created</th>
                <th>Tab</th>
                <th class="text-center">Total Bill</th>
                <th class="text-center">Total Tax</th>
                <th>Void?</th>
                <th>Settled?</th>
                <th>Printed?</th>
                <th>Synced?</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="bill in bills">
                <!--<td>{{bill.id}}</td>-->
                <!--<td>{{bill.bill._id}}</td>-->
                <td>{{bill.bill._created | date: 'short'}}</td>
                <td>{{bill.bill.tab}}</td>
                <td width="10%" class="text-center"><i class="fa fa-inr"></i> {{bill.totalBill}}</td>
                <td width="10%" class="text-center"><i class="fa fa-inr"></i> {{bill.totalTax}}</td>
                <td>
                    <span ng-show="bill.isVoid === 'true'" class="label label-success">Yes</span>
                    <span ng-show="bill.isVoid === 'false'" class="label label-danger">No</span>
                </td>
                <td>
                    <span ng-show="bill.isSettled === 'true'" class="label label-success">Yes</span>
                    <span ng-show="bill.isSettled === 'false'" class="label label-danger">No</span>
                </td>
                <td>
                    <span ng-show="bill.isPrinted === 'true'" class="label label-success">Yes</span>
                    <span ng-show="bill.isPrinted === 'false'" class="label label-danger">No</span>
                </td>
                <td class="text-center">
                    <span ng-show="bill.isSynced === 'true'" class="label label-success">Yes</span>
                    <span ng-if="bill.isSynced === 'true'" class="label label-primary">{{bill.syncedOn | date: 'yy-MM-dd hh:mm:ss'}}</span>
                    <span ng-show="bill.isSynced === 'false'" class="label label-danger">No</span>
                </td>
                <td>
                    <a class="btn btn-info btn-xs" ng-click="cancel()"  ui-sref="billing.edit({tabId:bill.bill.tabId,billId:bill.billId})">Edit Bill</a>
                </td>
                <td>
                    <a class="btn btn-warning btn-xs" ng-click="rePrintBill(bill)">Re-Print Bill</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>
