<div class="modal-header">
    <h5 class="modal-title">Apply Passcode</h5>
</div>
<div class="modal-body">
    <div class="form-group">
        <input  ng-model="passCode" type="password" focus-me="true" ng-change="setKeyboardEvent()"  class="form-control"  style="font-size:15px;text-align: center;" numeric-only  />
    </div>
    <div class="bs-glyphicons">
        <ul class="bs-glyphicons-list">
            <li ng-click="setDigit(7)">
                <h3>7</h3>
                <!-- <span class="glyphicon-class"><i class="fa fa-inr"></i></span>-->
            </li>

            <li ng-click="setDigit(8)">
                <h3>8</h3>
                <!-- <span class="glyphicon-class"><i class="fa fa-inr"></i></span>-->
            </li>

            <li ng-click="setDigit(9)">
                <h3>9</h3>
                <!--<span class="glyphicon-class"><i class="fa fa-inr"></i></span>-->
            </li>
            <li ng-click="setDigit(4)">
                <h3>4</h3>
                <!--<span class="glyphicon-class"><i class="fa fa-inr"></i></span>-->
            </li>
            <li ng-click="setDigit(5)">
                <h3>5</h3>
               <!-- <span class="glyphicon-class"><i class="fa fa-inr"></i></span>-->
            </li>
            <li ng-click="setDigit(6)">
                <h3>6</h3>
                <!--<span class="glyphicon-class"><i class="fa fa-inr"></i></span>-->
            </li>
            <li ng-click="setDigit(1)">
                <h3>1</h3>
                <!--<span class="glyphicon-class"><i class="fa fa-inr"></i></span>-->
            </li>
            <li ng-click="setDigit(2)">
                <h3>2</h3>
                <!--<span class="glyphicon-class"><i class="fa fa-inr"></i></span>-->
            </li>
            <li ng-click="setDigit(3)">
                <h3>3</h3>
                <!--<span class="glyphicon-class"><i class="fa fa-inr"></i></span>-->
            </li>


            <li>
                <h3>&nbsp;</h3>
              <!--  <span class="glyphicon-class"><i class="fa fa-inr"></i></span>-->
            </li>

            <li ng-click="setDigit(0)">
                <h3>0</h3>
               <!-- <span class="glyphicon-class"><i class="fa fa-inr"></i></span>-->
            </li>

            <li>
                <h3>&nbsp;</h3>
                <!--<span class="glyphicon-class"><i class="fa fa-inr"></i></span>-->
            </li>

        </ul>
    </div>
</div>
<div class="modal-footer">
    <!--<button class="btn btn-primary" ng-click="applyPassCode()">Apply</button>-->
    <button class="btn btn-warning" ng-click="cancelPassCode()">Cancel</button>
</div>