<div class="modal-header">
  <h3 class="modal-title">Settle Bill - Total Bill Amount: <i class="fa fa-inr"></i> {{bill.getSumKotsAndTotalBill()-bill.getAdvanceBooking()}}</h3>
</div>
<div class="modal-body">
  <!--  <pre style="height:200px;">
       {{bill | json}}
   </pre> -->
  <div class="row">
    <div class="col-xs-3">
      <div class="well well-sm">
        <h4><i class="fa fa-inr"></i>{{bill.getSumKotsAndTotalBill()-bill.getAdvanceBooking()}}</h4>
        <span class="label label-success">Total Bill</span>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="well well-sm">
        <h4><i class="fa fa-inr"></i>{{bill.getTotalCash()}}</h4>
        <span class="label label-warning">Tendered </span>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="well well-sm">
        <h4><i class="fa fa-inr"></i>{{bill.getAmountRemaining()}}</h4>
        <span class="label label-danger">Remaining</span>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="well well-sm">
        <h4><i class="fa fa-inr"></i>{{bill.getReturnToCustomer()}}</h4>
        <span class="label label-default">Return To Customer</span>
      </div>
    </div>
  </div>

  <tabset justified="true">
    <tab select="bill.refreshAmount()"  class="{{tabClass('cash')}}" >
      <tab-heading>
        Cash
      </tab-heading>
      <div class="row">
        <div class="col-xs-6">
          <div style="margin-top:20px;"></div>
          <a class="btn btn-link" ng-click="bill.clearCash()"><i class="fa fa-times"></i> Clear Cash</a>

          <div class="bs-glyphicons">
            <ul class="bs-glyphicons-list">
              <li ng-click="bill.addCash(1)">
                <h3>1</h3>
                <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
              </li>
              <li ng-click="bill.addCash(2)">
                <h3>2</h3>
                <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
              </li>
              <li ng-click="bill.addCash(5)">
                <h3>5</h3>
                <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
              </li>
              <li ng-click="bill.addCash(10)">
                <h3>10</h3>
                <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
              </li>
              <li ng-click="bill.addCash(20)">
                <h3>20</h3>
                <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
              </li>
              <li ng-click="bill.addCash(50)">
                <h3>50</h3>
                <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
              </li>

              <li ng-click="bill.addCash(100)">
                <h3>100</h3>
                <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
              </li>

              <li ng-click="bill.addCash(500)">
                <h3>500</h3>
                <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
              </li>

              <!--<li ng-click="bill.addCash(1000)">
                <h3>1000</h3>
                <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
              </li>-->

               <li ng-click="bill.addCash(2000)">
                <h3>2000</h3>
                <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-xs-6">
          <div style="margin-top:20px;"></div>
          <div class="table-responsive"  style="font-size: 11px; float: left;">
            <table class="table table-striped ">
              <thead>
              <tr>
                <th>Denomination</th>
                <th>Count</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td height="10px;" style="height: 10px;"><strong >2000x</strong></td>
                <td><input type="text" numeric-only style="width:40px" ng-model="bill.denominations[2000]"

                ng-change="addManualCash(2000,bill.denominations[2000])"/>
                </td>
              </tr>
              <!--<tr>
                <td height="10px;" style="height: 10px;"><strong >1000x</strong></td>
                <td>{{bill.getDenominationCount()['1000'].length}}</td>
                <td><input type="text" ng-model="denominations[1000]" ng-change="addManualCash(1000,denominations[1000])"/>
                </td>
              </tr>-->
              <tr>
                <td><strong>500x</strong></td>
                <!--<td>{{bill.getDenominationCount()['500'].length}}</td>-->
                  <td><input type="text" numeric-only style="width:40px" ng-model="bill.denominations[500]"

                ng-change="addManualCash(500,bill.denominations[500])"/>
                </td>
              </tr>
              <tr>
                <td><strong>100x</strong></td>
                <!--<td>{{bill.getDenominationCount()['100'].length}}</td>-->
                 <td><input type="text" numeric-only style="width:40px" ng-model="bill.denominations[100]"

                ng-change="addManualCash(100,bill.denominations[100])"/>
                </td>
              </tr>
              <tr>
                <td><strong>50x</strong></td>
                <!--<td>{{bill.getDenominationCount()['50'].length}}</td>-->
                <td><input type="text" numeric-only style="width:40px" ng-model="bill.denominations[50]"

                ng-change="addManualCash(50,bill.denominations[50])"/>
                </td>
              </tr>
              <tr>
                <td><strong>20x</strong></td>
                <!--<td>{{bill.getDenominationCount()['20'].length}}</td>-->
                <td><input type="text" numeric-only style="width:40px" ng-model="bill.denominations[20]"

                ng-change="addManualCash(20,bill.denominations[20])"/>
                </td>
              </tr>
              </tbody></table>
          </div>
          <div style="float:right;font-size: 11px; ">
            <table class="table table-striped ">
              <thead>
              <tr>
                <th>Denomination</th>
                <th>Count</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><strong>10x</strong></td>
                <!--<td>{{bill.getDenominationCount()['10'].length}}</td>-->
                 <td><input type="text" numeric-only style="width:40px" ng-model="bill.denominations[10]"
                ng-change="addManualCash(10,bill.denominations[10])"/>
                </td>
              </tr>
              <tr>
                <td><strong>5x</strong></td>
                <!--<td>{{bill.getDenominationCount()['5'].length}}</td>-->
                 <td><input type="text" numeric-only style="width:40px" ng-model="bill.denominations[5]"
                ng-change="addManualCash(5,bill.denominations[5])"/>
                </td>
              </tr>
              <tr>
                <td><strong>2x</strong></td>
                <!--<td>{{bill.getDenominationCount()['2'].length}}</td>-->
                <td><input type="text" numeric-only style="width:40px" ng-model="bill.denominations[2]"
                ng-change="addManualCash(2,bill.denominations[2])"/>
                </td>
              </tr>
              <tr>
                <td><strong>1x</strong></td>
                <!--<td>{{bill.getDenominationCount()['1'].length}}</td>-->
                 <td><input type="text" numeric-only style="width:40px" ng-model="bill.denominations[1]"
                ng-change="addManualCash(1,bill.denominations[1])"/>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </tab>
    <tab select="bill.refreshAmount()" class="{{tabClass('creditCard')}}" >
      <tab-heading>
        Credit Card
      </tab-heading>
      <div style="margin-top:20px;"></div>
      <div class="row">
        <div class="col-xs-6">
          <div class="well well-sm">
            <form role="form" name="creditCardForm" ng-submit="bill.addCreditCardPayment(creditCardForm)" novalidate>
             <div class="form-group">
                <!--rajat-->
                <select ng-disabled='billSent||paymentDone' class="form-control" name="bankName" value="settleBankValue.name" ng-model="settleBankValue" ng-change="checkBankPaymentOption(settleBankValue.name)"
                        ng-options="set.name for set in bankSettings">
              </select>
              </div>
               <div class="form-group">
                <label style="min-width: 100px"  >
                  <input type="radio"  name="bankType"   value="VISA"   ng-model="settleBankType.name">
                  VISA
                </label>
                <label style="min-width: 100px" >
                  <input type="radio" name="bankType" value="MASTER"   ng-model="settleBankType.name">
                  MASTER
                </label>
              </div>

              <div class="form-group"  ng-if="!remove_card_details">
                <input type="text" class="form-control" placeholder="Name on Card" name="cc_name_on_card"
                       ng-model="bill.creditCardForm.name_on_card" ng-required="!remove_card_details">
              </div>
              <div class="form-group" ng-if="!remove_card_details">
                <input type="text" class="form-control" placeholder="CC #" name="card_card_number"
                       ng-model="bill.creditCardForm.card_number" ng-required="!remove_card_details"/>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Amount" numeric-only name="cc_amount"
                       ng-model="bill.creditCardForm.amount" required >
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-success">Add CC Payment</button>
              </div>

            </form>
          </div>
        </div>
        <div class="col-xs-6">
        <div class="table-responsive">
          <table class="table table-condensed tableLayoutProperty">
            <thead>
            <tr>
              <th>Bank</th>
              <th ng-if="!remove_card_details">Card Holder</th>
              <th ng-if="!remove_card_details">Number</th>
              <th>Amount</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cc in bill._creditCards">
            <td>{{cc.bankName}}({{cc.bankType}})</td>
              <td ng-if="!remove_card_details">{{cc.name_on_card}}</td>
              <td ng-if="!remove_card_details">{{cc.card_number}}</td>
              <td>{{cc.amount}}</td>
              <td>
                <a class="btn btn-xs" ng-click="bill.removeCreditCard($index)">Remove</a>
              </td>
            </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </tab>
    <tab select="bill.refreshAmount()" class="{{tabClass('debitCard')}}" >
      <tab-heading>
        Debit Card
      </tab-heading>

      <div style="margin-top:20px;"></div>
      <div class="row">
        <div class="col-xs-6">
          <div class="well well-sm">
            <form name="debitCardForm" role="form" ng-submit="bill.addDebitCardPayment(debitCardForm)" novalidate >
              <div class="form-group">
                <!--rajat-->
                <select ng-disabled='billSent||paymentDone' class="form-control" name="bankName" value="settleBankDValue.name" ng-model="settleBankDValue" ng-change="checkBankPaymentOption(settleBankDValue.name)"
                        ng-options="set.name for set in bankDSettings">
              </select>
              </div>
               <div class="form-group">
                <label style="min-width: 100px"  >
                  <input type="radio"  name="bankType"   value="VISA"   ng-model="settleBankDType.name">
                  VISA
                </label>
                <label style="min-width: 100px" >
                  <input type="radio" name="bankType" value="MASTER"   ng-model="settleBankDType.name">
                  MASTER
                </label>
              </div>

              <div class="form-group" ng-if="!remove_card_details">
                <input type="text" class="form-control" placeholder="Name on Card" name="db_name_on_card"
                       ng-model="bill.debitCardForm.name_on_card" ng-required="!remove_card_details">
                </input>
              </div>
              <div class="form-group" ng-if="!remove_card_details">
                <input type="text" class="form-control" placeholder="DB #" name="db_card_number"
                       ng-model="bill.debitCardForm.card_number" ng-required="!remove_card_details"/>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="dbAmount" numeric-only
                       ng-model="bill.debitCardForm.amount">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-success">Add DB Payment</button>
              </div>

            </form>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="table-responsive">

            <table class="table table-condensed tableLayoutProperty">
              <thead>
              <tr>
                <th>Bank</th>
                <th ng-if="!remove_card_details">Card Holder</th>
                <th ng-if="!remove_card_details">Number</th>
                <th>Amount</th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="db in bill._debitCards">
                <td>{{db.bankName}}({{db.bankType}})</td>
                <td ng-if="!remove_card_details">{{db.name_on_card}}</td>
                <td ng-if="!remove_card_details">{{db.card_number}}</td>
                <td>{{db.amount}}</td>
                <td>
                  <a class="btn btn-xs" ng-click="bill.removeDebitCard($index)">Remove</a>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </tab>

   <!--coupon tab start-->

   <!--coupon tab start-->
    <tab select="bill.refreshAmount()" class="{{tabClass('coupons')}}" >
      <tab-heading>
       Coupons
      </tab-heading>
<!--<pre>{{settleValue|json}}</pre>-->
      <div style="margin-top:20px;"></div>
      <div class="row">
        <div class="col-xs-6">
          <div class="well well-sm">
            <form name="couponForm"   role="form" ng-submit="bill.addCouponPayment(couponForm)" novalidate >
              <div class="form-group">

                <select  name="couponName" value="couponValue.name" ng-model="couponValue"  class="form-control"
                  ng-options="coupon.name for coupon in couponSettings">
                </select>

              </div>

              <div class="form-group">
                <input type="text" class="form-control" name="amount" numeric-only
                       ng-model="bill.couponForm.amount" required>
              </div>
              <div class="form-group">
                <button type="submit"  class="btn btn-success">Add Coupon Payment</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="table-responsive">

            <table class="table table-condensed">
              <thead>
              <tr>
                <th>Coupon Name</th>
                <th>Amount</th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="db in bill._coupons">
                <td>{{db.couponName}}</td>
                <!--<td>{{db.otherType}}</td>-->
                <td>{{db.amount}}</td>
                <td>
                  <a class="btn btn-xs" ng-click="bill.removeCoupon($index)">Remove</a>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </tab>
    <!--coupon tab end -->

    <tab select="bill.refreshAmount(true)" class="{{tabClassOther('others')}}" >
      <tab-heading>
        Online
      </tab-heading>
      <!--<pre>{{settleValue|json}}</pre>-->
      <div style="margin-top:20px;"></div>
      <div class="row">
        <div class="col-xs-6">
          <div class="well well-sm">
            <form name="onlineForm"   role="form" ng-submit="bill.addOnlinePayment(onlineForm)" novalidate >
              <div class="form-group">
                <!--rajat-->
                <select  class="form-control" name="onlineName" value="settleValueOnline.name" ng-model="settleValueOnline"
                  ng-options="set.name for set in settleSettings">
                </select>
                <!--rajat-->
              </div>
              <div class="form-group">
                <!--rajat-->
                <label style="min-width: 100px"  >
                  <input type="radio" name="onlineType"  value="COD"  ng-change="getOthersType()" ng-model="settleType.name">
                  COD
                </label>
                <!--rajat-->
                <label style="min-width: 100px" >
                  <input type="radio" name="onlineType" value="Online-Payment"  ng-change="getOthersType()" ng-model="settleType.name">
                  Online-Payment
                </label>
              </div>
              <div class="form-group">
                <input disabled="true" type="text" class="form-control" name="amount" numeric-only
                       ng-model="bill.onlineForm.amount" required >
              </div>
              <div class="form-group" >
                <button type="submit"  class="btn btn-success" >Add Online Payment</button>
                <!--rajat-->
                &nbsp;&nbsp;
               <!--  <button type="button" class="btn btn-success" ng-show="enableCheckStatus" ng-click="checkStatus(settleValue.name)">Check Status</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-danger" ng-show="transactionActive" ng-click="cancelBill(settleValue.name)">Cancel Bill</button> -->
                <!--rajat-->
              </div>
            </form>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="table-responsive">

            <table class="table table-condensed">
              <thead>
              <tr>

                <th>Online Name</th>
                <th>Type</th>
                <th>Amount</th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="db in bill._onlineCards">

                <td>{{db.onlineName}}</td>
                <td>{{db.onlineType}}</td>
                <td>{{db.amount}}</td>
                <td>
                  <!--rajat-->
                  <span>{{transactionStatus}}</span>
                  <a class="btn btn-xs"  ng-click="bill.removeOnline($index)">Remove</a>
                  <!--rajat-->
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </tab>
     <tab select="bill.refreshAmount()" class="{{tabClass('other')}}" >
      <tab-heading>
        Others
      </tab-heading>
      <!--<pre>{{settleValue|json}}</pre>-->
      <div style="margin-top:20px;"></div>
      <div class="row">
        <div class="col-xs-6">
          <div class="well well-sm">
            <form name="otherForm"   role="form" ng-submit="bill.addOthersPayment(otherForm)" novalidate >
              <div class="form-group">
                <!--rajat-->
                <select  class="form-control" name="otherName" value="settleValue.name" ng-model="settleValue"
                        ng-options="set.name for set in settleSettingsOther">
                </select>
                <!--rajat-->
              </div>
              <div class="form-group">
                <!--rajat-->
                <!-- <label style="min-width: 100px" ng-show="!onlinePayment" >
                  <input type="radio" ng-show="!onlinePayment" name="otherType"  value="COD"  ng-change="getOthersType()" ng-model="settleType.name">
                  COD
                </label> -->
                <!--rajat-->
                <!-- <label style="min-width: 100px" >
                  <input type="radio" name="otherType" value="Online-Payment"  ng-change="getOthersType()" ng-model="settleType.name">
                  Online-Payment
                </label> -->
              </div>
              <div class="form-group">
                <input  type="text" class="form-control" name="amount" numeric-only
                       ng-model="bill.otherForm.amount" required >
              </div>
              <div class="form-group" >
                <button type="submit"  class="btn btn-success" >Add Other Payment</button>
                <!--rajat-->
                &nbsp;&nbsp;
                <!--<button type="button" class="btn btn-success" ng-show="enableCheckStatus" ng-click="checkStatus(settleValue.name)">Check Status</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-danger" ng-show="transactionActive" ng-click="cancelBill(settleValue.name)">Cancel Bill</button>-->
               </div>
            </form>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="table-responsive">

            <table class="table table-condensed">
              <thead>
              <tr>

                <th>Other Name</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Cancel</th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="db in bill._otherCards">

                <td>{{db.otherName}}</td>
                <td>{{db.amount}}</td>
                <td><button class="btn btn-primary btn-xs" ng-click="checkStatus(db.otherName)">Status</button></td>
                <td><span class="glyphicon glyphicon-remove" style="color:red" ng-click="cancelPayment($index)"></span></td>
                <td>
                  <span>{{getTransactionStatus(db.otherName)}}</span>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </tab>

    <!-- <tab>
       <tab-heading>
         Smart Card
       </tab-heading>

       <div style="margin-top:20px;"></div>
       <div class="row">
         <div class="col-xs-6">
           <form role="form">
             <div class="form-group">
               <label for="exampleInputEmail1">Card Number</label>
               <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name on Card">
             </div>
           </form>
         </div>
       </div>

     </tab>
     <tab>
       <tab-heading>
         Coupons
       </tab-heading>

       <div style="margin-top:20px;"></div>
       <div class="row">
         <div class="col-xs-6">
           <form name="debitCardForm" role="form">
             <div class="form-group">
               <label for="exampleInputEmail1">Name</label>
               <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name on Card">
             </div>
             <div class="form-group">
               <label for="exampleInputPassword1">Coupon Number</label>
               <input type="password" class="form-control" id="exampleInputPassword1" placeholder="CC #">
             </div>
             <div class="form-group">
               <label for="exampleInputPassword1">Amount</label>
               <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Amount">
             </div>
           </form>
         </div>
       </div>
    </tab>
     <tab>
       <tab-heading>
         QuikWallet
       </tab-heading>
     </tab>-->

  </tabset>

</div>
<div class="modal-footer">
  <!--rajat-->
  <button class="btn btn-success btn-lg" ng-disabled="isSettlementDisabled()" ng-class='{disabledButton:(isSettlePressed) }' ng-click="applyOnBill({_isSettled:true}) ">Settle Bill</button>
  <button class="btn btn-warning"  ng-click="cancel()">Cancel</button>
</div>
