<!--<pre>
    {{$state.current.data.tables | json}}
</pre>-->


<div class="row" >
    <div class="col-md-12">
        <nav class="navbar navbar-default" style="margin: 0;">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a ng-show="!isTableFiltered" style="cursor: pointer;" ng-click="filterUnsettledTableBills()"><i class="fa fa-filter"></i> Filter By Unsettled Tables</a>
                            <a ng-show="isTableFiltered" style="cursor: pointer;" ng-click="clearFilterUnsettledTableBills()"><i class="fa fa-remove"></i> Remove Filter</a>
                        </li>

                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Goto Table #" ng-model="gotoTableNumber" numeric-only>
                        </div>
                        <a class="btn btn-info" ng-click="gotoTablePage()">Goto Table</a>
                    </form>
                    <form class="navbar-form navbar-left">
                        <ul class="pagination pull-right navbar-form" style="margin: 0;">
                            <li>
                                <ul class="pagination pagination-sm" style="margin: 0;">
                                    <li><a href="" ng-click="pagination.prevPage()">&laquo; Previous</a></li>
                                    <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
                                        <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
                                    </li>
                                    <li><a href="" ng-click="pagination.nextPage()">Next &raquo; </a></li>
                                </ul>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="well" style="min-height: 100%; max-height: 700px; overflow: auto;">
    <div class="row">
        <div class="col-md-12">
            <h5>Page# {{pagination.page + 1}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-6 col-sm-6 col-lg-3" ng-repeat="t in $state.current.data.tables | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">

                <div class="panel panel-info" ng-class="{'panel-success': t.bill._meaningOfLife}">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 ng-if="!t.bill"><i class="fa fa-cutlery"></i>
                                    Table# {{t.id}}</h4>
                                <h4 ng-if="t.bill"><i class="fa fa-cutlery"></i>
                                    {{t.id}} -
                                    <ng-pluralize count="t.covers"
                                                  when="{'0': 'covers',
                                                         'one': '1 cover',
                                                         'other': '{} covers'}">
                                    </ng-pluralize>

                                </h4>
                            </div>
                            <div class="col-md-6">
                                <div ng-if="!t.isLocked" class="input-group input-group-sm pull-right">
                                    <input type="text" class="form-control" placeholder="Covers" ng-model="t.covers" />
                                    <span ng-show="t.bill" class="input-group-btn">
                                        <a class="btn btn-success" ui-sref="billing.table.bill({tableId:t.id, covers:t.covers, tabId:tabId})"><i class="fa fa-chevron-right"></i></a>
                                    </span>
                                    <span ng-show="!t.bill" class="input-group-btn">
                                        <a class="btn btn-warning" ui-sref="billing.table.bill({tableId:t.id, covers:t.covers, tabId:tabId})"><i class="fa fa-chevron-right"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 ng-show="!t.bill._customer">No Customer</h5>
                                <h5 ng-show="t.bill._customer"><i class="fa fa-user"></i> <a ng-click="showTableCustomer()">{{t.bill._customer.firstname}} {{t.bill._customer.lastname}}</a></h5>
                            </div>
                            <div class="col-md-6">
                                <h4 ><i class="fa fa-inr"></i>
                                    <span ng-show="t.bill._items.length > 0">{{t.bill.getTotalBill()}}</span>
                                    <span ng-show="t.bill._kots.length > 0">{{t.bill.getKotsTotalBill()}}</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <div  class="btn-group" dropdown>
                                        <a class="btn btn-success" ng-click="openSettleBill('lg', t.bill)">Settle Bill</a>
                                        <a class="btn btn-default" ng-click="voidBill(t.bill)">Void Bill</a>
                                        <!--<a class="btn btn-default">Void KOT</a>-->
                                        <a class="btn btn-default dropdown-toggle" dropdown-toggle>
                                            <span class="caret"></span>
                                            <span class="sr-only">Split button!</span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <!--<li><a href="#">Transfer Table</a></li>-->
                                            <li><a ng-click="copyTableBill($index)">Copy Bill</a></li>
                                            <li><a ng-click="pasteTableBill($index)">Paste Bill</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#" ng-click="splitBill(t.bill,$index)">Split Bill</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <div style="font-size: 9px">
                                    <i class="fa fa-clock-o" ></i> {{t.bill._created | date:'yyyy-MM-dd hh:mm'}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span class="label label-default">Waiter:</span> {{t.bill._waiter.firstname}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Page# {{pagination.page + 1}}</h5>
        </div>
    </div>
</div>
