<!--<pre>
    {{$state.current.data.tables | json}}
</pre>-->


<div class="row" >
  <div class="col-md-12">

  </div>
</div>
<div  style="min-height: 100%; margin-top: 10px; overflow: auto;">
  <!-- <div class="row">
       <div class="col-md-12">
           <h5>Page# {{pagination.page + 1}}</h5>
       </div>
   </div>-->

  <div class="row">
    <div class="col-md-12">
      <div class="col-xs-4 col-sm-3 col-lg-2" ng-repeat="t in $state.current.data.tables ">
        <div style="min-height: 120px">

          <div  ng-class= "tableDClass(t.bill)"  context-menu="menuOptions(t.bill)" ui-sref="billing.table.bill({tableId:t.id, covers:t.covers, tabId:tabId})">
            <div class="table-red">
              <p class="billingtext1"><span ng-show="t.bill._covers>0"> {{t.bill._covers}}<!--/6--></span></p>
              <p class="billingtext2"><STRONG> {{t.id}}</STRONG></p>
              <p class="billingtext3">{{t.bill._customer.firstname}}</p>
            </div>
            <div class="table-white">
              <p class="billingtext4"><span ng-if="t.bill">{{getLapsedTime(t.bill,$index,$state.current.data.tables.length)}} </span></p>
              <p class="billingtext6"> <span ng-show="t.bill._kots.length > 0"><i class="fa fa-inr"></i> {{(t.bill.getTotalBill()+ t.bill.getKotsTotalBill()).toFixed(2)}}/-</span></p>
              <p class="billingtext5">{{t.bill._waiter.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
