<table class="table" style="max-width: 300px; font-family: 'Courier New', Courier, monospace;">
    <caption style="text-align: left; font-size:16px;"><strong>KOT # 1</strong></caption>
    <caption style="text-align: left;">Tab: <strong>Table</strong></caption>
    <caption style="text-align: left;"><strong>Table# - 1</strong></caption>
    <caption style="text-align: left;">Date: 2014-12-05 15:15:47</caption>
    <thead>
    <tr>
        <th style="text-align: left; border-bottom: 1px dotted #000000;">Item(s)</th>
        <th style="text-align: center;  border-bottom: 1px dotted #000000;" width="30%">Qty</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="text-align: left;">Butter Grill with lots of ghee JK n 170ML</td>
        <td style="text-align: center">2</td>
    </tr>
    <tr>
        <td style="text-align: left;">Butter Grill JK n 170ML</td>
        <td style="text-align: center">2</td>
    </tr>
    <tr>
        <td style="text-align: left; border-bottom: 1px dotted #000000; border-top: 1px dotted #000000;">
            <strong>TOTAL:</strong></td>
        <td style="text-align: center; border-bottom: 1px dotted #000000; border-top: 1px dotted #000000;">
            <strong>4</strong></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: left;"><strong>Comment</strong></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: left;"><i>{{currentKot.comment}}</i></td>
    </tr>
    </tbody>
</table>