body {
  margin-top: 0;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }

    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }

    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }



    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}

}

.slider div {
    width : 525px;
    height : 100px;
    display : block;
}
.slider div div {
    float : left;
    display:inline-block;
    width : 175px;
    height : 50px;
}

table.bill-table tr td {
    vertical-align: middle;
}

.billingHead .well {
    margin-bottom: 0;
}


/* Num Pad Blocks*/
.bs-glyphicons {
    /*margin: 0 -10px 20px;*/
    margin:0 auto;
    width: 100%;
    overflow: hidden;
    display: block;
}
.bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
}
.bs-glyphicons li {
    float: left;
    width: 33.33%;
    height: 78px;
    padding: 10px;
    font-size: 15px;
    line-height: 1.4;
    text-align: center;
    background-color: #E8E8E8;
    border: 1px solid #fff;
}

.bs-glyphicons-list li h3 {
    font-size: 14px;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;

}

.bs-glyphicons li:hover {
    color: #fff;
    background-color: #266294;
}

.modal-pad {
    width:400px;
}

@media (min-width: 769px) {
  .cartHeight{
    height: 295px
  }
    .bs-glyphicons {

        margin:0 auto;
        width: 260px;
    }

    .bs-glyphicons li {
        width: 12.5%;
        font-size: 15px;
    }

    .bs-glyphicons li {
        width: 12.5%;
        font-size: 15px;
    }
    .bs-glyphicons li {
        float: left;
        width: 33.33%;
        height: 78px;
        padding: 10px;
        font-size: 15px;
        line-height: 1.4;
        text-align: center;
        background-color: #E8E8E8;
        border: 1px solid #fff;
    }

}

.table-responsive.billing table {
    margin-bottom:0;
}


.ribbon {
    display: block;
    color: #fff;
    background-color: #72a9e5;
    padding: 2px 5px;
    position: absolute;
    bottom: 1%;
    min-width: 40px;
    text-decoration: none;
}
.ribbon.ribbon-right {
     right: 0;
     margin-right: -6px;
     -webkit-box-shadow: -1px 1px 2px rgba(0,0,0,0.5);
     -moz-box-shadow: -1px 1px 2px rgba(0,0,0,0.5);
     box-shadow: -1px 1px 2px rgba(0,0,0,0.5);
 }

.nav > li > a {
    text-decoration: none;
    background-color: #eee;
}


.repeated-item.ng-enter, .repeated-item.ng-move {
  -webkit-transition:5s linear all;
  -moz-transition:5s linear all;
  -o-transition:5s linear all;
  transition:5s linear all;
  opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}


/*.tableSlide div {
    width : 100%;
    height : 600px;
    background : #fff;
    display : block;
}*/
.tableSlide {
    float : left;
    min-width : 20%;
    height : 100px;
    margin-bottom: 10px;
    /*border-left: 1px solid blue;
    border-bottom: 1px solid blue;*/
}

@media (max-width: 1024px) {
  .tableSlide {
    float : left;
    min-width : 33.33%;
    height : 100px;
    /*border-left: 1px solid blue;
    border-bottom: 1px solid blue;*/
  }
}

#explorerAddOnItems a  {
  float: left;
  overflow: hidden;
}



#explorerItems {
  width:100%;
  height: 340px;
  display:inline-block;
  text-align: center;
}

#explorerAddOnItems {
  width:100%;
  height: 120px;
  display:inline-block;
  text-align: center;
}

#explorerCat {
  width:100%;
  height: 145px;
  display:inline-block;
  text-align: center;
}

#explorerAddOnCat {
  width:100%;
  height: 60px;
  display:inline-block;
  text-align: center;
  margin-top: 15px;
}

#explorerSCat {
  width:100%;
  height: 80px;
  display:inline-block;
  text-align: center;
}

.explorerItemsContainer {
  width: 96%;
  height: 100%;
  text-align: center;
  display:inline-block;
}

.explorerCatContainer {
  width:96%;
  height: 100%;
  text-align: center;
  display:inline-block;
}

.explorerSCatContainer {
  width:96%;
  height: 100%;
  text-align: center;
  display:inline-block;
}


/* Devices: 800px and less */
@media (max-width: 800px) {
  .cartHeight{
    height: 368px
  }
  #explorerItems {
    height:414px;
    text-align: center;
  }

  .explorerItemsContainer {
    height: 100%;
  }

  /* Item Button */
  .btn-default_p {
    width:33.33%;
  }

  /* Category Button */
  .s-class-cat {
    width: 33.33%;
  }

  .btn-primary_p {
    width: 100%;
  }

  .btn-secondry_p {
    width: 100%;
  }

  /* Arrow Keys */
  .slick-next, .slick-next:hover, .slick-next:focus {
    right: -24px;
  }

  .tableSlide {
    float : left;
    min-width : 50%;
    height : 100px;
    /*border-left: 1px solid blue;
    border-bottom: 1px solid blue;*/
  }
}

@media (min-width: 1030px) and (max-width: 1100px) {

  /* Item Button */
  .btn-default_p {
    width:20%;
  }

  /* Category Button */
  .s-class-cat {
    width: 20%;
  }

}

/* Explorer Items Pagination */

#explorerItems a  {
  float: left;
  overflow: hidden;
}
/* Explorer Items Pagination */

/* Category Items Pagination */
#explorerCat {
  /*min-height: 200px;*/
}
#explorerCat a {
  float:left;
  overflow: hidden;
}
/* Category Items Pagination */

/* Super Category Items Pagination */
#explorerSCat {
  /*min-height: 150px;*//* offline mode*/
}
.onlineCircle {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: green;
  opacity: 1;
}

.offlineCircle{
  width: 15px;
  height: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: red;
  opacity:1
}
#explorerSCat a {
  float:left;
  overflow: hidden;
}
/* added by rajat for delivery boy app*/
.app-modal-window .modal-dialog {
  width: 1280px;
}
/* Super Category Items Pagination */

