<!--<div ng-include="'components/navbar/navbar.html'"></div>-->
<!--
<pre>
    {{bill | json}}
</pre>
-->
<!--<div class="container-fluid">-->
   <!-- <div class="row">
        <div class="col-md-12">
            <div class="well well-sm" style="margin: 0px;">
                <div class="btn-group">
                    <a class="btn btn-success" ng-click="getSocketStatus()">Online</a>
                    <a class="btn btn-default" ng-click="showEditBill()"><i class="fa fa-bars"></i> Bills</a>
                    &lt;!&ndash;<a class="btn btn-danger" ng-click="logout()" href=""><i
                            class="fa fa-power-off"></i> Logout</a>&ndash;&gt;
                    &lt;!&ndash;<a class="btn btn-default" ng-click="showUnsettledBill()">Un-Settled <i class="fa fa-inr"></i> {{getUnSettlledBills()}}/-</a>&ndash;&gt;
                </div>
            </div>
        </div>
    </div>
    <div ng-cloak class="row">
        <div class="col-md-12">
            <tabset justified="true" type="">
                <tab ng-repeat="t in tabs" heading="{{t.tabName}}" ui-sref="{{t.route}}({tabId:'{{t._id}}'})" style="cursor: pointer !important;"></tab>
            </tabset>
            <div ng-cloak ui-view></div>
        </div>
    </div>-->
   <!--  <div class="row">
        <div class="col-md-12">
            <div class="well well-sm" style="margin: 0px;">
                <div class="btn-group">
                    <a class="btn btn-success" ng-click="getSocketStatus()">Online</a>
                    <a class="btn btn-default" ng-click="showEditBill()"><i class="fa fa-bars"></i> Bills</a>
                   &lt;!&ndash; <a class="btn btn-danger" ng-click="logout()" href=""><i
                            class="fa fa-power-off"></i> Logout</a>&ndash;&gt;
                    &lt;!&ndash;<a class="btn btn-default" ng-click="showUnsettledBill()">Un-Settled <i class="fa fa-inr"></i> {{getUnSettlledBills()}}/-</a>&ndash;&gt;
                </div>
            </div>
        </div>
    </div>-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-12">
          <div class="subheader" style="padding: 0 0 0 0; ">
            <div style="background: cadetblue;height:3px;margin-top: 0px;"></div>
            <div class="subheaderIn" >
              <div class="containerP">
                <div style="float: left;background: white;margin-top: 5px">
                  <img src="../assets/images/posist-logo.jpg">
                </div>

                <ul ng-repeat="t in tabs">
                  <li>
                    <!--<span class="badge" style="background: red;float: right;margin-top: 0px ;">250</span>-->
                    <a  ui-sref="{{t.route}}({tabId:'{{t._id}}'})" ng-model="tabs[$index].Selected" >
                      <img ng-src="../assets/images/icon1.png"  alt="" ng-show="t.tabType=='table'" />
                      <img ng-src="../assets/images/icon3.png"  alt="" ng-show="t.tabType=='delivery'" />
                      <img ng-src="../assets/images/icon2.png"  alt="" ng-show="t.tabType=='take_out'" />
                      {{t.tabName}} <span class="badge" ng-show="t._id==bill.tabId" style="margin-top: 5px ;background-color:#8e44ad;" >{{ bill.tabType=='table'?bill._tableId:bill.billNumber}}</span></a> </li>
                </ul>
              </div><!-- /container -->
            </div><!-- /subnavbarIn -->
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <div ng-cloak ui-view></div>
        </div>
      </div>


    </div>
  </div>
</div>


<!-- Bill Template -->
<script type="text/ng-template" id="_template_Bill.html">
    <table class="table" style="max-width: 300px; font-family: 'Courier New', Courier, monospace;">
        <caption style="text-align: center; font-size:16px;"><strong>{{currentUser.name}}</strong></caption>
        <caption style="text-align: center;"><strong>{{header}}</strong></caption>
        <caption style="text-align: center;"><strong>Bill# {{billNumber}}</strong></caption>
        <caption style="text-align: center;">Date: {{created | date:'yyyy-MM-dd HH:mm:ss'}}</caption>
        <thead>
        <tr>
            <th style="text-align: left; border-bottom: 1px dotted #000000;">Item(s)</th>
            <th style="text-align: center;  border-bottom: 1px dotted #000000;" width="30%">Qty</th>
            <th style="text-align: center;  border-bottom: 1px dotted #000000;" width="30%">Rate</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td style="text-align: left;">{{item.name}}</td>
            <td style="text-align: center">{{item.quantity}}</td>
            <td style="text-align: center">{{item.subtotal}}</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left; border-bottom: 1px dotted #000000; border-top: 1px dotted #000000;">
                <strong>SUB TOTAL:</strong></td>
            <td style="text-align: center; border-bottom: 1px dotted #000000; border-top: 1px dotted #000000;">
                <strong>{{totalAmount}}</strong></td>
        </tr>
        <tr ng-repeat="tax in taxes">
            <td colspan="2" style="text-align: left;">{{tax.name}}</td>
            <td style="text-align: center">{{tax.tax_amount}}</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left; border-bottom: 1px dotted #000000; border-top: 1px dotted #000000;">
                <strong>TOTAL Tax:</strong></td>
            <td style="text-align: center; border-bottom: 1px dotted #000000; border-top: 1px dotted #000000;">
                <strong>{{totalTax}}</strong></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left; border-bottom: 1px dotted #000000; border-top: 1px dotted #000000;">
                <strong>TOTAL:</strong></td>
            <td style="text-align: center; border-bottom: 1px dotted #000000; border-top: 1px dotted #000000;">
                <strong>{{(totalAmount - totalDiscount) + totalTax}}</strong></td>
        </tr>

        <tr>
            <td colspan="3" style="text-align: center;"><strong>{{footer}}</strong></td>
        </tr>
        </tbody>
    </table>
</script>

<!-- KOT Template -->
<script type="text/ng-template" id="_template_KOT.html">
    <table class="table" style="width: 300px; font-family: 'Courier New', Courier, monospace;">
        <caption style="text-align: center; font-size:16px;"><strong>KOT # {{bill._kot[index].kotNumber}}</strong></caption>
        <caption style="text-align: center;">Tab: <strong>{{bill.tab}}</strong></caption>
        <caption ng-if="isReprint" style="text-align: center;"><strong>Re-Print</strong></caption>
        <caption style="text-align: center;"><strong>Table# - {{parseInt(bill._tableId) + 1}}</strong></caption>
        <caption style="text-align: center;">{{bill._kots[index].created | date:'yyyy-MM-dd HH:mm:ss'}}</caption>
        <thead>
        <tr>
            <th style="text-align: left; border-bottom: 1px dotted #000000;">Item(s)</th>
            <th style="text-align: center;  border-bottom: 1px dotted #000000;" width="30%">Qty</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="kItem in bill._kots[index].items">
            <td style="text-align: left;">{{kItem.name}}</td>
            <td style="text-align: center">{{kItem.quantity}}</td>
        </tr>
        <tr>
            <td style="text-align: left; border-bottom: 1px dotted #000000; border-top: 1px dotted #000000;">
                <strong>TOTAL:</strong></td>
            <td style="text-align: center; border-bottom: 1px dotted #000000; border-top: 1px dotted #000000;">
                <strong>{{bill._kots[index].totalItems}}</strong></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left;"><strong>Comment:</strong></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left;"><i>{{bill._kots[index].comment}}</i></td>
        </tr>
        </tbody>
    </table>
</script>

<!--Delete KOT Template -->
<script type="text/ng-template" id="_template_KOT_Deleted.html">
  <table class="table" style="width: 300px; font-family: 'Courier New', Courier, monospace;">
      <caption style="text-align: center; font-size:16px;"><strong>KOT # {{bill._kots[index].kotNumber}}</strong></caption>
      <caption style="text-align: center;">Tab: <strong>{{bill.tab}}</strong></caption>
      <caption ng-if="isReprint" style="text-align: center;"><strong>Re-Print</strong></caption>
      <caption style="text-align: center;"><strong>Table# - {{parseInt(bill._tableId) + 1}}</strong></caption>
      <caption style="text-align: center;">{{bill._kots[index].created | date:'yyyy-MM-dd HH:mm:ss'}}</caption>
      <thead>
      <tr>
          <th style="text-align: left; border-bottom: 1px dotted #000000;">Item(s)</th>
          <th style="text-align: center;  border-bottom: 1px dotted #000000;" width="30%">Qty</th>
      </tr>
      </thead>
      <tbody>
      <!--<tr ng-repeat="kItem in bill._kots[index].deleteHistory[dIndex]">
          <td style="text-align: left;">{{kItem.name}}</td>
          <td style="text-align: center">{{kItem.quantity}}</td>
      </tr>-->
      <tr >
          <td style="text-align: left;">{{bill._kots[index].deleteHistory[dIndex].name}}</td>
          <td style="text-align: center">-{{bill._kots[index].deleteHistory[dIndex].quantity}}</td>
      </tr>
      <tr>
          <td style="text-align: left; border-bottom: 1px dotted #000000; border-top: 1px dotted #000000;">
              <strong>TOTAL:</strong></td>
          <td style="text-align: center; border-bottom: 1px dotted #000000; border-top: 1px dotted #000000;">
              <strong>-{{bill._kots[index].deleteHistory[dIndex].quantity}}</strong></td>
      </tr>
      <tr>
          <td colspan="2" style="text-align: left;"><strong>Comment:</strong></td>
      </tr>
      <tr>
          <td colspan="2" style="text-align: left;"><i>{{bill._kots[index].comment}}</i></td>
      </tr>
      </tbody>
  </table>
</script>
