<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4><span class="label label-success"><i class="fa fa-plug"></i> Online</span></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <tabset justified="true" type="pills">

                <tab>
                    <tab-heading>
                        <h4><i class="fa fa-bars"></i> Table</h4>
                    </tab-heading>
                    <hr/>
                    <div style="margin-top: 20px; display: block;"></div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="well" style="margin-bottom: 0;">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control" placeholder="Search Item...">
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive" style="overflow: auto; height:250px;">
                                <table class="table table-striped table-condensed">
                                    <tbody>
                                        <tr ng-repeat="item in items">
                                            <td>{{item.name}}</td>
                                            <td class="text-center"><a class="btn btn-default btn-sm">{{item.quantity}}</a></td>
                                            <td class="text-center"><a class="btn btn-default btn-sm">@ {{item.rate}}/-</a></td>
                                            <td class="text-center">{{getItemSubtotal(item)}}/-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="well" style="margin-bottom: 0;">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input type="text" ng-model="selectedItem" typeahead-on-select="getSelectedItem($item, $model, $label)" typeahead="customer.name for customer in customers | filter:$viewValue | limitTo:8" class="form-control" placeholder="Search Customer...">
                                    </div>
                                    <div class="col-xs-6">
                                       <div class="table-responsive">
                                           <table class="table">
                                               <tbody>
                                                   <tr>
                                                       <td>Subtotal</td>
                                                       <td><i class="fa fa-inr"></i>
                                                           {{getSubtotal()}}/-</td>
                                                   </tr>
                                                   <tr>
                                                       <td>Tax (Vat 12.5%)</td>
                                                       <td><i class="fa fa-inr"></i>
                                                           560</td>
                                                   </tr>
                                                   <tr>
                                                       <td><strong>Total</strong></td>
                                                       <td><i class="fa fa-inr"></i>
                                                           560</td>
                                                   </tr>
                                                   <tr>
                                                       <td><strong>TO PAY</strong></td>
                                                       <td><i class="fa fa-inr"></i>
                                                           560</td>
                                                   </tr>
                                               </tbody>
                                           </table>
                                       </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="row">
                                <div class="col-md-10">
                                    <slick slides-to-show=3 slides-to-scroll=3 init-onload=true data="categories" class="slider multiple-items">
                                        <div ng-repeat="category in categories">
                                            <div class="thumbnail">
                                                <div class="caption">
                                                    <h5> <i class="fa fa-lemon-o"></i> {{ category.name }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </slick>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <slick slides-to-show=3 slides-to-scroll=3 init-onload=true data="categories" class="slider multiple-items">
                                        <div ng-repeat="category in categories">
                                            <div class="thumbnail">
                                                <div class="caption">
                                                    <h5> <i class="fa fa-lemon-o"></i> {{ category.name }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </slick>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab>
                    <tab-heading>
                        <h4><i class="fa fa-bars"></i> Take Out</h4>
                    </tab-heading>
                    I've got an HTML heading, and a select callback. Pretty cool!
                </tab>
                <tab>
                    <tab-heading>
                        <h4><i class="fa fa-bars"></i> Delivery</h4>
                    </tab-heading>
                    I've got an HTML heading, and a select callback. Pretty cool!
                </tab>
            </tabset>
        </div>
    </div>
</div>