<div class="modal-header text-center">
  <h3 style="color:blue">Customer Phone</h3>
</div>
<div class="modal-body text-center">
  <p class="text-center"><b><i>Please Enter Customer Phone no</i></b></p>
  <br/>
  <input type="text" class="form-control" ng-model="phone" name="phone" maxlength="10"  />
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button"  ng-click="ok(phone)">OK</button>
  <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
</div>
<footer>
</footer>
</div>
