<!--
<div style="width: 126px;" ng-repeat="items in data | limitTo:12">
  <div ng-repeat="item in items">
    <div class="s-class-cat">
      <button type="button" class="btn btn-default_p ng-binding">{{item.name}}</button>
    </div>
  </div>
</div>
-->
