<div class="modal-header">
  <h3 class="modal-title text-center">Item Status in Kds</h3>
</div>
<div class="modal-body">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Item</th>
      <th>Punched Quantity</th>
      <th>Pending Quantity</th>
      <th>Done Quantity</th>
      <th>Bumped Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in items">
       <td ng-if="item.kotNumber" colspan='4' style="background-color:lightblue"><strong>{{item.kotNumber}}</strong></td>
       <td ng-if="!item.kotNumber">{{item.itemName}}</td>
       <td ng-if="!item.kotNumber">{{item.punchedQuantity}}</td>
       <td ng-if="!item.kotNumber">{{item.pendingQuantity}}</td>
       <td ng-if="!item.kotNumber">{{item.doneQuantity}}</td>
      <td ng-if="!item.kotNumber">{{item.bumpedQuantity}}</td>
    </tr>

    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
