<div class="modal-header">
  <h3 class="modal-title text-center">KDS update</h3>
</div>
<div class="modal-body">
  <table class="table">
    <thead>
    <tr>
      <th>Status</th>
      <th class="text-right">Time</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="update.tableNumber">
      <td><strong>Bill Number/Table Number</strong></td>
      <td class="text-right">{{update.tableNumber}}</td>
    </tr>
    <tr ng-if="update.tab">
      <td><strong>Tab</strong></td>
      <td class="text-right">{{update.tab}}</td>
    </tr>
    <tr ng-if="update.kotNumber">
      <td><strong>Kot Number</strong></td>
      <td class="text-right">{{update.kotNumber}}</td>
    </tr>
    <tr ng-if="update.itemName">
      <td><strong>Item</strong>
      <br/>
      <ul style="list-style-type=disc">
       <li style="color:grey;align:left" ng-repeat="addOn in kot.addOns"><span>{{addOn.name}}</span>&nbsp; &nbsp; <span>{{addOn.qty}}</span></li>
        </ul>
      </ul>
      </td>
      <td class="text-right">{{update.itemName}}</td>
    </tr>
    <tr ng-if="update.status && update.status.name">
      <td><strong>Status</strong></td>
      <td class="text-right" ng-if="update.status.name!='closed'">{{update.status.name}}<span ng-if="update.status.rejectionReason">due to {{rejectionReason}}</span></td>

      <td class="text-right" ng-if="update.status.name=='closed'">Done</td>
    </tr>
     <tr ng-if="update.status!='rejected' && update.status.quantity">
      <td><strong>quantity</strong></td>
      <td class="text-right">{{update.status.quantity}}</td>
    </tr>
    <tr ng-if="update.requiredQuantity">
     <td><strong>Punched Quantity</strong></td>
      <td class="text-right">{{update.requiredQty}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>