
<div class="modal-header ">
  Location
</div>
<div class="modal-body">
  <leaflet width="1250px" height="600px" center="center" markers="markers" ></leaflet>   <!--leaflet-->
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>
