



<script type="text/javascript" src="http://api.knowlarity.com:8088/socket.io/socket.io.js"></script>
<script type="text/javascript">
    var socket = io.connect('http://api.knowlarity.com:8088/');
    socket.emit('feedapp', '06743e85-5105-466a-850e-8704242a5105');
   /* var scope= window.parent.angular.element(window.frameElement).scope(); 
          scope.$apply(function () {
          scope.showCustomerCalling("{caller_id:'+918586936865'}");
            });*/
     socket.on('connect',function(data){
      console.log("connected");
    })
     socket.on("disconnect",function(data){
      console.log('socket disconnected');
     })
    socket.on('message', function(msg) { msg = msg.replace(/\'/g, '\"');
           console.log("socket",msg);
           //alert(msg);
          var scope= window.parent.angular.element(window.frameElement).scope(); 
          scope.$apply(function () {
          scope.showCustomerCalling(msg);
            });
           });    
</script>