<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'app/billing/_template_Bill.html'"></div>
<div style="margin-top: 10px;">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="well" style="max-height: 45px;padding: 5px;">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <!--<label>Deployment</label>-->
                            <select class="form-control" ng-change="onDeploymentChange()" ng-model="deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
                                <option value="">Select Deployment</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <p class="input-group">
                                <input type="text" class="form-control date" datepicker-popup="dd-MMMM-yyyy" ng-click="open($event)" ng-model="selectedDate.from" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="From Date" />
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <p class="input-group">
                                <input type="text" class="form-control date" datepicker-popup="dd-MMMM-yyyy" ng-click="openTo($event)" ng-model="selectedDate.to" is-open="openedTo" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="To Date" />
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <a ng-click="renderBills()" class="btn btn-primary">  Done  </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered">
                <thead>
                    <tr>

                        <th>Date</th>
                        <th>Bill No.</th>
                        <th>G.Amount</th>
                        <th>User</th>
                        <th>Tab</th>
                        <th>Items</th>
                        <th>Waiter/Delivery</th>
                        <th>Customer</th>
                        <th>Address</th>
                        <th>Re-Print</th>
                        <th>Void</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                        <tr ng-repeat="bill in bills">

                            <td>{{bill.created|date:"dd MMM yyyy HH:mm:ss"}}</td>
                            <td>{{bill.dBillNumber}}</td>
                            <td>{{bill.gTotalAmount}}</td>
                            <td>{{bill._currentUser.username.split('_')[1]}}</td>
                            <td>{{bill.tab}}</td>
                            <td>{{bill.gTotalItems}}</td>
                            <td>{{bill.waiterDelivery}}</td>
                            <td>{{bill._customer.firstname}}</td>
                            <td>{{bill._customer.address1}}</td>
                            <td>
                                <button type="button" ng-click="rePrintBill(bill)" class="btn btn-warning btn-xs"><i class="fa fa-print "></i></button>
                              </td>
                            <td>
                                <button type="button" ng-click="preVoidBill(bill)" class="btn btn-warning btn-xs">Void</button>
                            </td>
                            <td>
                                <button ng-disabled="isPermission('edit_past_bills')" type="button" ng-click="editBill(bill)" class="btn btn-warning btn-xs">Edit</button>
                            </td>
                        </tr>
                </tbody>
            </table>
            </div>

        </div>
    </div>
</div>
