<div ng-include="'components/navbar/navbar.html'"></div>
<div style="margin-top: 10px;">
    <div class="container-fluid" ng-class="{disabledButton:inProcess}">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-responsive table-condensed  ">
                            <tr>
                                <td>

                                        <label ng-class="{ 'btn btn-primary active':(selectedButton=='addAmount'), 'btn btn-default' :(selectedButton !='addAmount')} "  ng-click="doClick('addAmount')" style="margin-right:10px;margin-bottom: 20px; ">
                                       <i class="fa fa-credit-card"></i>     Swipe Card
                                        </label>
                                    <!-- <div id="note_reactivity" class="btn-group notes" data-toggle="buttons" style="margin-bottom: 20px; padding:10px; ">
                                         <label id="1" class="btn btn-primary active"  ng-click="doClick('addAmount')" style="margin-right:10px; ">
                                             <input type="radio">Add Amount
                                         </label>
                                         <label id="2" class="btn btn-primary" style="margin-right:10px;" ng-click="doClick('registration')" >
                                             <input type="radio">Registration
                                         </label>
                                         <label id="3" class="btn btn-primary" style="margin-right:10px;" ng-click="doClick('transfer')">
                                             <input type="radio">Transfer
                                         </label>
                                         <label id="4" class="btn btn-primary" style="margin-right:10px;" ng-click="doClick('refund')">
                                             <input type="radio">Refund
                                         </label>
                                     </div>-->
                                    <div style="margin-top: 00px;"
                                         ng-show="((selectedCardId=='') && (selectedButton!='transfer'))">
                                        <table>
                                            <tr>
                                                <td width="50px;">Card:</td>
                                                <td><input type="text" focus-me="{{setFocus.focusInput }}"
                                                           class="form-control" placeholder="swipe card.."
                                                           ng-enter="cardEntered()" ng-model="cardId"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div style="margin-top: 00px;"
                                         ng-show="((selectedMobile=='') && (selectedButton=='transfer'))">
                                        <table>
                                            <tr>
                                                <td  width="50px;">Mobile:</td>
                                                <td><input type="text" focus-me="{{setFocus.focusInputM }}"
                                                           class="form-control" placeholder="enter mobile.."
                                                           ng-enter="mobileEntered()" ng-model="mobile"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="row" style="margin-top: 10px;"
                                         ng-show="(selectedButton=='registration'&& selectedCardId!='')">
                                        <div class="col-md-10">
                                            <div class="well">
                                                <!--<pre>
                                                    {{taxForm | json}}
                                                </pre>-->
                                                <form role="form" name="registrationForm"
                                                      ng-submit="createRegistration(registrationForm)" novalidate>
                                                    <div class="form-group has-feedback"
                                                         ng-class="{'has-success':registrationForm.name.$valid && submitted,'has-error':registrationForm.name.$invalid && !registrationForm.name.$pristine}">
                                                        <label>Name</label>
                                                        <input type="text" focus-me="{{setFocus.form }}"
                                                               class="form-control" name="name"
                                                               ng-model="registration.name"
                                                               placeholder="Name.." required>
                                                        <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : registrationForm.name.$error.required}"></span>
                                                        <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : registrationForm.name.$valid}"></span>
                                                    </div>

                                                    <div class="form-group has-feedback"
                                                         ng-class="{'has-success':registrationForm.mobile.$valid && submitted,'has-error':registrationForm.mobile.$invalid && !registrationForm.mobile.$pristine}">
                                                        <label>Mobile Number</label>
                                                        <input type="text" class="form-control" name="mobile"
                                                               ng-model="registration.mobile"
                                                               placeholder="mobile number.." >
                                                        <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : registrationForm.mobile.$error.required }"></span>
                                                        <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : registrationForm.mobile.$valid}"></span>
                                                    </div>
                                                    <div class="form-group has-feedback">
                                                        <label>Form Number</label>
                                                        <input type="text" class="form-control" name="fNumber"
                                                               ng-model="registration.formNumber"
                                                               placeholder="Form number.." >
                                                    </div>

                                                    <div class="form-group has-feedback"
                                                         ng-class="{'has-success':registrationForm.amount.$valid && submitted,'has-error':registrationForm.amount.$invalid && !registrationForm.amount.$pristine}">
                                                        <label>Amount</label>
                                                        <input type="text" class="form-control" name="amount"
                                                               ng-model="registration.amount" placeholder="Amount.."
                                                               required />
                                                        <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : registrationForm.amount.$error.required}"></span>
                                                        <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : registrationForm.amount.$valid}"></span>
                                                    </div>
                                                    <div class="form-group has-feedback">
                                                        <select class="form-control" ng-model="registration.paymentType"
                                                                ng-options="paymentType for paymentType in paymentTypes">
                                                            <!--<option value="">Select Station Printer</option>-->
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-success"
                                                            ng-disabled="registrationForm.$invalid">
                                                        Create
                                                    </button>
                                                    <button type="reset" class="btn btn-success" ng-click="refreshForm(registrationForm)">
                                                            Cancel
                                                    </button>

                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 10px;"
                                         ng-show="(selectedButton=='addAmount'&& selectedCardId!='')">
                                        <div class="col-md-10">
                                            <div class="well">
                                                <table style=" border-collapse: separate;border-spacing: 10px 5px;">
                                                    <tr>
                                                        <td style="font-weight: bold">Card Id:</td>
                                                        <td>{{selectedCardId}}</td><td>
                                                        <label ng-click="showCardPayment();" class="btn btn-primary btn-sm">Show Transactions</label>

                                                    </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Security Amount:</td>
                                                        <td>{{sAmount}}</td>
                                                        <td></td>
                                                    </tr>
                                                   
                                                    <tr>
                                                        <td style="font-weight: bold">Current Balance:</td>
                                                        <td>{{addCard.balance}}</td><td>
                                                        <label ng-click="refundCardPayment();" class="btn btn-danger btn-sm">Refund</label>
                                                    </td>
                                                    </tr>
                                                    <tr style="font-weight: bold ;margin-top: 10px;">
                                                        <td style="font-weight: bold ;margin-top: 10px;">Add Balance:
                                                        </td>
                                                        <td><input style="max-width: 100px;" ng-model="addCard.addAmount" ng-enter="addCardD();"
                                                                   focus-me="{{setFocus.add}}" type="text"
                                                                   class="form-control" style="max-width: 200px"
                                                                   ></td><td></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold ;margin-top: 10px;">Payment Type:
                                                        </td>
                                                        <td>
                                                            <select class="form-control" ng-model="addCard.paymentType"
                                                                    ng-options="paymentType for paymentType in paymentTypes">
                                                                <!--<option value="">Select Station Printer</option>-->
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="2"><a class="btn btn-primary btn-sm" ng-click="addCardD();">Update </a>
                                                            &nbsp;&nbsp;&nbsp; <a class="btn btn-primary btn-sm"
                                                                                  ng-click="clearAddCard()">Cancel </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;"
                                         ng-show="(selectedButton=='refund'&& selectedCardId!='')">
                                        <div class="col-md-6">
                                            <div class="well">
                                                <table style=" border-collapse: separate;border-spacing: 10px 5px;">
                                                    <tr>
                                                        <td style="font-weight: bold">Card Id:</td>
                                                        <td>{{selectedCardId}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Current Balance:</td>
                                                        <td>{{rCard.balance}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a class="btn btn-primary btn-sm" ng-click="refundCard();">Refund </a>
                                                            &nbsp;&nbsp;&nbsp; <a class="btn btn-primary btn-sm"
                                                                                  ng-click="clearAddCard()">Cancel </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;"
                                         ng-show="(selectedButton=='transfer'&& selectedMobile!='')">
                                        <div class="col-md-9">
                                            <div class="well">
                                                <table style=" border-collapse: separate;border-spacing: 10px 5px;">
                                                    <tr>
                                                        <td style="font-weight: bold">Card Id:</td>
                                                        <td>{{tCard.detail.cardId}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Current Balance:</td>
                                                        <td>{{tCard.balance}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Mobile:</td>
                                                        <td>{{tCard.detail.mobile}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Name:</td>
                                                        <td>{{tCard.detail.name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Form Number:</td>
                                                        <td>{{tCard.detail.formNumber}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">New Card Id:</td>
                                                        <td><input type="text" ng-enter="transferCard()"
                                                                   focus-me="{{setFocus.trans}}" class="form-control"
                                                                   ng-model="newCardId"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><a class="btn btn-primary btn-sm" ng-click="transferCard()">Transfer </a>
                                                            &nbsp;&nbsp;&nbsp; <a class="btn btn-primary btn-sm"
                                                                                  ng-click="clearTransferCard()">Cancel </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td valign="top">
                                    <!--<label   style="margin-top:-50px; float:right;" ng-click="doClick('registration')" >-->

                                 <label ng-click="doClick('registration')" ng-class="{ 'btn btn-primary active':(selectedButton=='registration'), 'btn btn-default' :(selectedButton !='registration')} "    style="margin-top: 50px;">   <i class="glyphicon  glyphicon-plus-sign"
                                        style="margin-right: 3px;"></i>Register Card</label>
                                    <!-- </label>-->
                                    <br/><br/>
                                    <label ng-class="{ 'btn btn-primary active':(selectedButton=='transfer'), 'btn btn-default' :(selectedButton !='transfer')} "     ng-click="doClick('transfer')" >
                                  <i class="glyphicon glyphicon-share-alt " ></i>Transfer Card
                                    </label>
                                      <br/><br/>
                                    <label ng-class="{ 'btn btn-primary active':(selectedButton=='settleCards'), 'btn btn-default' :(selectedButton !='settleCards')} "     ng-click="doClick('settleCards')" >
                                  <i class="glyphicon glyphicon-remove-circle " ></i>Settle All Cards
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="showtrans"></div>
    </div>
</div>