<tabset>
	<tab heading="Consolidated" style="cursor:pointer;" ng-click="clearConsolidatedTab()">
		<div ng-cloak class="row">

			<div style="margin-top: 20px;"></div>
			<div  class="col-md-12">
				<div class="row">
					<!-- <pre>{{consolidatedForm | json}}</pre> -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Consolidated Variance Report</h3>
						</div>
						<div class="panel-body">
							<form name="formConsolidated" novalidate>
								<table class="table">
									<tr>
										<td>Select From :</td>
										<td>
											<input type="text" date-format  name="validFrom"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="consolidatedForm.fromDate" max-date="consolidatedForm.maxDate" is-open="consolidatedForm.fromDate.open" ng-click="consolidatedForm.fromDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true"  ng-required="true"close-text="Close" ng-change="checkDateGreater(consolidatedForm.fromDate);"/>
										</td>

										<td>Select To :</td>
										<td>
											<input type="text" date-format  name="validTo"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="consolidatedForm.toDate" max-date="consolidatedForm.maxDate" is-open="consolidatedForm.toDate.open" ng-click="consolidatedForm.toDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true"  ng-required="true"close-text="Close" ng-change="checkDateLesser(consolidatedForm.toDate);"/>
										</td>

									</tr>
									<tr>
										<td>Select Store</td>
										<td>
											<select  ng-model="consolidatedForm.store" ng-change="bindCategory_consolidatedForm(consolidatedForm.store)" ng-options="s.storeName for s in consolidatedForm.stores" class="form-control">
													<option value="" ng-if="false"></option>
													<!-- <option value="">Select All </option> -->
											</select>
										</td>
										<td>Select  Category</td>
										<td>
											<select  ng-model="consolidatedForm.category" ng-change="bindItems_consolidatedForm(consolidatedForm.category)" ng-options="s.categoryName for s in consolidatedForm.categories" class="form-control">
													<option value="">Select All</option>
											</select>
										</td>
										<!-- <td></td>
										<td> -->
											<!-- <a class="btn btn-success" ng-disabled="consolidatedForm.isSearch"  ng-click="openEmailModal(4)">Submit</a> -->
											<!-- <a class="btn btn-success" ng-disabled="consolidatedForm.isSearch"  ng-click="startSearch()">Submit</a>
											<div class="btn-group" ng-show="consolidatedForm.reportData.items.length>0">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    Export <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											    <li><a  style="cursor:pointer;"  ng-click="exportToPdf_consolidated()">PDF</a></li>
											    <li><a  style="cursor:pointer;" ng-click="exportToExcel_consolidated()">EXCEL</a></li>
											  </ul>
											</div>
										</td> -->
									</tr>
									<tr>
										<td>Select Items</td>
										<td>
											<select  ng-model="consolidatedForm.item"  ng-options="s.itemName for s in consolidatedForm.availableItems" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
										<td></td>
										<td>
											<a class="btn btn-success" ng-disabled="consolidatedForm.isSearch || !isPhysicalStock"  ng-click="startSearch()">Submit</a>
											<div class="btn-group" ng-show="consolidatedForm.reportData.items.length>0">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    Export <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											    <li><a  style="cursor:pointer;"  ng-click="exportToPdf_consolidated()">PDF</a></li>
											    <li><a  style="cursor:pointer;" ng-click="exportToExcel_consolidated()">EXCEL</a></li>
											  </ul>
											</div>
										</td>
									</tr>
								</table>
                <div class="alert alert-warning alert-dismissible" ng-show="consolidatedForm.reportData.errorMessage!= null" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Warning!</strong> {{consolidatedForm.reportData.errorMessage}}
                </div>
                <div class="alert alert-success alert-dismissible" ng-show="consolidatedForm.reportData.successMessage!= null" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Success!</strong> {{consolidatedForm.reportData.successMessage}}
                </div>
								<div id="consolidatedReport">
								<!--	<table class="table  table-curved" style="width:100%" border="1" ng-show="consolidatedForm.reportData.items.length>0">
										<thead>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Item Name</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Opening Stock Qty</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Purchases</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Consumption</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Wastage</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Closing Qty</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Physical Stock</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Variance</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Unit</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Variance(In %)</th>
										</thead>
										<tbody>
											<tr ng-repeat="i in consolidatedForm.reportData.items">
												<td>{{i.itemName}}</td>
												<td>{{i.openingQty}}</td>
												<td>{{i.purchaseQty}}</td>
												&lt;!&ndash; <td>{{i.totalSaleQty}}</td> &ndash;&gt;
												<td>{{i.consumptionQty}}</td>
												<td>{{i.wastageQty}}</td>
												<td>{{i.closingQty}}</td>
												<td>{{i.physicalQty}}</td>
												<td>{{i.varianceQty}}</td>
												<td>{{i.UnitName}}</td>
												<td>{{i.varianceInPercent}}</td>
											</tr>
										</tbody>
									</table>-->
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tab>

	<tab heading="Date Wise" style="cursor:pointer;" ng-click="clearDateWiseTab()">
		<div ng-cloak class="row">

			<div style="margin-top: 20px;"></div>
			<div  class="col-md-12">
				<div class="row">
					<!-- <pre>{{dateWiseForm | json}}</pre> -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Date Wise Variance</h3>
						</div>
						<div class="panel-body">
							<form name="formDateWise" novalidate>
								<table class="table">
									<tr>
										<td>Select From :</td>
										<td>
											<input type="text" date-format  name="validFrom"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="dateWiseForm.fromDate" max-date="dateWiseForm.maxDate" is-open="dateWiseForm.fromDate.open" ng-click="dateWiseForm.fromDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"close-text="Close" ng-readonly="true"  ng-change="checkDateGreater_DateWise(dateWiseForm.fromDate);"/>
										</td>

										<td>Select To :</td>
										<td>
											<input type="text" date-format  name="validTo"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="dateWiseForm.toDate" max-date="dateWiseForm.maxDate" is-open="dateWiseForm.toDate.open" ng-click="dateWiseForm.toDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"close-text="Close" ng-readonly="true"  ng-change="checkDateLesser_DateWise(dateWiseForm.toDate);"/>
										</td>

									</tr>
									<tr>
										<td>Select Store</td>
										<td>
											<select  ng-model="dateWiseForm.store" ng-change="bindCategory_DateWiseForm(dateWiseForm.store)" ng-options="s.storeName for s in dateWiseForm.stores"  class="form-control">
													<option value="" ng-if="false"></option>
													<!-- <option value="">Select All </option> -->
											</select>
										</td>
										<td>Select  Category</td>
										<td>
											<select  ng-model="dateWiseForm.category" ng-change="bindItems_DateWiseForm(dateWiseForm.category)" ng-options="s.categoryName for s in dateWiseForm.categories" class="form-control">
													<option value="">Select All</option>
											</select>
										</td>

									</tr>
									<tr>
										<td>Select Items</td>
										<td>
											<select  ng-model="dateWiseForm.item"  ng-options="s.itemName for s in dateWiseForm.availableItems" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
										<td></td>
										<td>
											<!-- <a class="btn btn-success"  ng-click="openEmailModal(5)">Submit</a> -->
											<a class="btn btn-success"  ng-disabled ="!isPhysicalStock"ng-click="startSearch_DateWise()">Submit</a>
											<div class="btn-group" ng-show="dateWiseForm.reportData.length>0">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    Export <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											    <li><a style="cursor: pointer;"  ng-click="exportToPdf_dateWise()">PDF</a></li>
											    <li><a  style="cursor: pointer;" ng-click="exportToExcel_dateWise()">EXCEL</a></li>
											    <!-- <li><a href="#">Something else here</a></li>
											    <li role="separator" class="divider"></li>
											    <li><a href="#">Separated link</a></li> -->
											  </ul>
											</div>
										</td>
									</tr>
								</table>
                <div class="alert alert-warning alert-dismissible" ng-show="dateWiseForm.reportData.errorMessage!= null" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Warning!</strong> {{dateWiseForm.reportData.errorMessage}}
                </div>

								<!-- <table class="table table-curved">
									<thead>
										<th colspan="2">Item Name</th>
										<th>Opening Stock Qty</th>
										<th>Purchases</th>
										<th>Consumption</th>
										<th>Wastage</th>
										<th>Closing Qty</th>
										<th>Physical Stock</th>
										<th>Variance</th>
										<th>Unit</th>
										<th colspan="2">Variance(In %)</th>
									</thead>
									<tbody>
										<tr ng-repeat="d in dateWiseForm.reportData">
											<td colspan="12">
												<div class="container-fluid">
													<span>{{d.date | date:'dd MMM yyyy'}}</span>
													<div class="row" ng-repeat="i in d.items">
														<div class="col-md-2">{{i.itemName}}</div>
														<div class="col-md-1">{{i.openingQty}}</div>
														<div class="col-md-1">{{i.totalPurchaseQty}}</div>
														<div class="col-md-1">{{i.totalSaleQty}}</div>
														<div class="col-md-1">{{i.totalWastageQty}}</div>
														<div class="col-md-1">{{i.closingQty}}</div>
														<div class="col-md-1">NA</div>
														<div class="col-md-1">NA</div>
														<div class="col-md-1">{{i.UnitName}}</div>
														<div class="col-md-2">NA</div>
													</div>
												</div>
												<table class="table table-curved">
													<tr>
														<td>{{d.date | date:'dd MMM yyyy'}}</td>
													</tr>
													<tr ng-repeat="i in d.items">
														<td>
															<table class="table table-curved">
																<tr>
																	<td>{{i.itemName}}</td>
																	<td>{{i.openingQty}}</td>
																	<td>{{i.totalPurchaseQty}}</td>
																	<td>{{i.totalSaleQty}}</td>
																	<td>{{i.totalWastageQty}}</td>
																	<td>{{i.closingQty}}</td>
																	<td>NA</td>
																	<td>NA</td>
																	<td>{{i.UnitName}}</td>
																	<td>NA</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</tbody>
								</table> -->
								<div id="dateWiseReport">
								<!--	<table class="table table-curved" style="width:100%" border="1" ng-show="dateWiseForm.reportData.length>0">
										<thead>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Item Name</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Opening Stock Qty</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Purchases</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Consumption</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Wastage</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Closing Qty</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Physical Stock</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Variance</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Unit</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Variance(In %)</th>
										</thead>
										<tbody>
											<tr ng-repeat-start="d in dateWiseForm.reportData">
												<td style="background-color:#abcabc" colspan="10">
													{{d.date | date:'dd MMM yyyy'}}
												</td>
											</tr>
											<tr ng-repeat-end ng-repeat-start="i in d.items">
												<td>{{i.itemName}}</td>
												<td>{{i.openingQty}}</td>
												&lt;!&ndash; <td>{{i.totalPurchaseQty}}</td> &ndash;&gt;
												<td>{{i.purchaseQty}}</td>
												&lt;!&ndash; <td>{{i.totalSaleQty}}</td> &ndash;&gt;
												<td>{{i.consumptionQty}}</td>
												&lt;!&ndash; <td>{{i.totalWastageQty}}</td> &ndash;&gt;
												<td>{{i.wastageQty}}</td>
												<td>{{i.closingQty}}</td>
												<td>{{i.physicalQty}}</td>
												<td>{{i.varianceQty}}</td>
												<td>{{i.UnitName}}</td>
												<td>{{i.varianceInPercent}}</td>
											</tr>
											<tr ng-repeat-end></tr>
										</tbody>
									</table>-->
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tab>

	
</tabset>
<script type="text/ng-template" id="emailModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Please provide an email!</h3>
    </div>
    <form name='emailForm' ng-submit='emailData.ok()'>
	    <div class="modal-body" id="modal-body">
			<div class="form-group">
				<label>Email Id: </label>
				<input class='form-control' type="email" ng-model='emailData.email' required/>
			</div>
			<div class="form-group">
				<label>Confirm Email Id: </label>
				<input stopccp class='form-control' type="email" ng-model='emailData.confirmEmail' required/>
			</div>
	    </div>
	    <div class="modal-footer">
	        <button class="btn btn-primary" type="submit" >submit</button>
	        <button class="btn btn-warning" type="button" ng-click="emailData.cancel()">Cancel</button>
	    </div>
    </form>
</script>