<h1>Roles & Permissions</h1>
<!--<pre>
    {{selectedPermissions | json}}
</pre>-->
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <form name="rolesForm" ng-submit="createRole(rolesForm)" novalidate>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group has-feedback" ng-class="{'has-success':rolesForm.roleName.$valid && submitRoleForm,'has-error':rolesForm.roleName.$invalid && !rolesForm.roleName.$pristine}">
                                <label>Role Name</label>
                                <input type="text" class="form-control" placeholder="Role Name" ng-model="roleForm.name" name="roleName" required>
                                <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : rolesForm.roleName.$error.required && (scForm.SsuperCategoryName.$dirty || submitRoleForm)}"></span>
                                <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : rolesForm.roleName.$valid }"></span>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">

                        <div class="col-xs-18 col-sm-4 col-md-4" ng-repeat="(key,value) in permissions | groupBy: 'group'">
                            <div class="thumbnail well">
                                <div class="caption">
                                    <label>
                                        <span style="font-size: 18px;"><input type="checkbox" ng-click="selectAll($event, key)"> {{key}}</span>
                                    </label>
                                    <div class="checkbox" ng-repeat="p in value">
                                        <label>
                                            <input type="checkbox" ng-click="setSelected($event, p)" ng-checked="isSelected(p)"> {{p.label}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="well">
                        <button ng-if="!roleForm.isEdit" type="submit" class="btn btn-lg btn-success">Create Role</button>
                        <button ng-if="roleForm.isEdit" type="submit" class="btn btn-lg btn-info">Update Role</button>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Role Name</th>
                                <th>&nbsp;</th>
                                <!--<th>&nbsp;</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="r in roles">
                                <td>{{$index + 1}}</td>
                                <td>{{r.name}}</td>
                                <td width="30%" class="text-center">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default" ng-click="editRole(r)"><i class="fa fa-pencil-square-o"></i></button>
                                        <button type="button" class="btn btn-default" ng-click="deleteRole(r)"><i class="fa fa-times"></i></button>
                                    </div>
                                </td>
                                <!--<td>&nbsp;</td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>