<div class="modal-header">
    <h3 class="modal-title">Edit Bill Detail</h3>

</div>
<div class="modal-body">
    <div class="form-group" ng-repeat="s in historys">
        <div class="form-group">

            <label for="date">Date : </label>
            <span>{{s.created |date :'dd MMM yyyy hh:mm'}}</span>
        </div>
        <div class="form-group">
            <label for="user">User : </label>
            <span>{{eHistory.user.username}}</span>
        </div>
        <div class="form-group">
            <label for="bill">Bill NO : </label>
            <span>{{eHistory.billNo}}</span>
        </div>
      <div class="form-group">
        <label for="bill">Invoice No: </label>
        <span>{{s.invoiceNumber==undefined?s.invoiceNumber='NA':s.invoiceNumber  }}</span>
      </div>
        <div class="form-group">
            <label for="billdate">Bill Date : </label>
            <span>{{eHistory.billDate |date :'dd MMM yyyy hh:mm'}}</span>
        </div>
        <table class="table table-curved" ng-show="s.items.length>0">
            <thead>
                <th>Item Name</th>
                <th>Qty</th>
                <th>Rate</th>
                <th>Vat Amount</th>
                <th>Status</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in s.items">
                    <td>
                        {{item.itemName}}
                    </td>
                    <td>
                        {{item.qty}}
                    </td>
                    <td>
                        {{item.itemPrice!=undefined?item.itemPrice:item.price }}
                    </td>
                    <td ng-if = "!item.vatAmount">
                        NA
                    </td>
                    <td ng-if = "item.vatAmount">
                        {{item.vatAmount}}
                    </td>
                    <td>
                        {{item.status}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal-footer">
    <!-- <button class="btn btn-success" ng-click="ok()">OK</button> -->
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>
