<tabset>
	<tab heading="Edit Entries" style="cursor:pointer;" ng-click="clearEditEntryTab()">
		<div ng-cloak class="row">

			<div style="margin-top: 20px;"></div>
			<div  class="col-md-12">
				<div class="row">
					<!-- <pre>{{editEntryForm | json}}</pre> -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Edit Entry</h3>
						</div>
						<div class="panel-body">
							<form name="formEditEntry" novalidate>
								<table class="table">
									<tr>
										<td>Select From :</td>
										<td>
											<input type="text" date-format  name="validFrom"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="editEntryForm.fromDate" max-date="editEntryForm.maxDate" is-open="editEntryForm.fromDate.open" ng-click="editEntryForm.fromDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"close-text="Close" ng-change="checkDateGreater(editEntryForm.fromDate);"/>
										</td>

										<td>Select To :</td>
										<td>
											<input type="text" date-format  name="validTo"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="editEntryForm.toDate" max-date="editEntryForm.maxDate" is-open="editEntryForm.toDate.open" ng-click="editEntryForm.toDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"close-text="Close" ng-change="checkDateLesser(editEntryForm.toDate);"/>
										</td>

									</tr>
									<tr>

										<td>Select Entry Type</td>
										<td>
											<select  ng-model="editEntryForm.entryType" ng-change="bindStore_editEntryForm(editEntryForm.entryType)" ng-init="editEntryForm.entryType=1"  class="form-control">
												<option value="1">StockEntry</option>
												<option value="2">StockSale</option>
												<option value="3">PhysicalStock</option>
												<option value="4">WastageEntry</option>
												<option value="5">StockTransfer</option>
												<option value="7">Intermediate Food Entry</option>
												<option value="11">Prepared Food Entry</option>
												<!-- <option value="6">OpeningStock</option>
                                                <option value="7">StockReturn</option>
                                                <optgroup></optgroup>ion value="8">StockReturnAccept</option> -->
											</select>
										</td>
										<td>Select Store</td>
										<td>
											<select  ng-model="editEntryForm.store" ng-change="bindVenRec_editEntryForm(editEntryForm.store)" ng-options="s.storeName for s in editEntryForm.stores" class="form-control">
												<option value="">Select All </option>
											</select>
										</td>
									</tr>
									<tr>
										<td ng-show="editEntryForm.entryType=='1' || editEntryForm.entryType=='2'">Select Vendor/Receiver</td>
										<td ng-show="editEntryForm.entryType=='1' || editEntryForm.entryType=='2'">
											<select  ng-model="editEntryForm.vendor" ng-change="bindCategory_physicalStockForm(editEntryForm.store)" ng-options="s.name for s in editEntryForm.vendorReceiver" class="form-control">
												<option value="">Select All </option>
											</select>
										</td>
										<td></td>
										<td>
											<a class="btn btn-success"  ng-click="startSearch()">Submit</a>
										</td>
									</tr>
								</table>

								<table class="table table-curved"  ng-show="editEntryForm.availableRecords.length>0">
									<thead>
									<th>Bill No</th>
                				  <th ng-show="editEntryForm.entryType=='1' || editEntryForm.entryType=='2'" >Invoice Number</th>
                				  <th ng-show="editEntryForm.entryType=='1'" >Batch Number</th>
									<th>Date</th>
									<th ng-show="editEntryForm.entryType=='1' || editEntryForm.entryType=='2'">Vendor/Receiver</th>
									<th>Total Qty</th>
									<th ng-show="editEntryForm.entryType=='1' || editEntryForm.entryType=='2'">Amount</th>
									<th ng-show="editEntryForm.entryType=='1' || editEntryForm.entryType=='2'">Dis. Amt.</th>
									<th ng-show="editEntryForm.entryType=='1' || editEntryForm.entryType=='2'">Vat</th>
									<th ng-show="editEntryForm.entryType=='1' || editEntryForm.entryType=='2'">Cartage</th>
									<th ng-show="editEntryForm.entryType=='1' || editEntryForm.entryType=='2'">Net Additional Charges</th>
									<th>Edit</th>
									<th>History</th>
									</thead>
									<tbody>
									<tr ng-repeat="item in editEntryForm.availableRecords | orderBy: 'created'">
					                    <td ng-show="editEntryForm.entryType=='1' && item.isPOEntry">
					                      PO-{{item.daySerialNumber}}
					                    </td>
										<td ng-show="editEntryForm.entryType=='1' && !item.isPOEntry">
											SE-{{resetSerialNumber==true?item.daySerialNumber:item.transactionNumber}}
										</td>
					                    <td ng-show="editEntryForm.entryType=='1' && !item.isPOEntry">
					                      {{item.invoiceNumber==undefined?'NA':item.invoiceNumber}}
					                    </td>
					                    <td ng-show="editEntryForm.entryType=='1' && !item.isPOEntry">
					                      {{item.batchNumber || 'NA'}}
					                    </td>
										<td ng-show="editEntryForm.entryType=='2'">
											SS-{{resetSerialNumber==true?item.daySerialNumber:item.transactionNumber}}
										</td>
					                    <td ng-show="editEntryForm.entryType=='2'">
					                      {{item.invoiceNumber==undefined?'NA':item.invoiceNumber}}
					                    </td>
										<td ng-show="editEntryForm.entryType=='3'">
											PH-{{resetSerialNumber==true?item.daySerialNumber:item.transactionNumber}}
										</td>

										<td ng-show="editEntryForm.entryType=='4'">
											WS-{{resetSerialNumber==true?item.daySerialNumber:item.transactionNumber}}
										</td>

										<td ng-show="editEntryForm.entryType=='5'">
											ST-{{resetSerialNumber==true?item.daySerialNumber:item.transactionNumber}}
										</td>

										<td ng-show="editEntryForm.entryType=='7'">
											IR-{{resetSerialNumber==true?item.daySerialNumber:item.transactionNumber}}
										</td>
										<td ng-show="editEntryForm.entryType=='11'">
											PE-{{resetSerialNumber==true?item.daySerialNumber:item.transactionNumber}}
										</td>

										<td>
											{{item.created |date :'dd MMM yyyy'}}
										</td>
										<td ng-show="editEntryForm.entryType=='1' || editEntryForm.entryType=='2'">
											{{item._store.vendor.vendorName}}  {{item._store.receiver.receiverName}}
										</td>
										<td>{{item.totalQty}}</td>
										<td ng-show="editEntryForm.entryType=='1' || editEntryForm.entryType=='2'">{{item.totalAmt}}</td>
										<td ng-show="editEntryForm.entryType=='1' || editEntryForm.entryType=='2'">{{item.totalDiscount}}</td>
										<td ng-show="editEntryForm.entryType=='1' || editEntryForm.entryType=='2'">{{item.totalVat}}</td>
										<td ng-show="editEntryForm.entryType=='1'">{{item.cartage}}</td>
										<td ng-show="editEntryForm.entryType=='1'">{{item.netAdditionalCharge || NA}}</td>
										<td>
											<a style="cursor:pointer;" ng-click="editEditEntryForm(item)"><i class="glyphicon glyphicon-edit"></i></a>
										</td>
										<td>
											<a style="cursor:pointer;" ng-click="historyEditEntryForm(item)"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-eye-open"></i></a>
										</td>
									</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tab>
</tabset>
