<div class="modal-header">
    <h3 class="modal-title">{{entry.templateType}}</h3>

</div>
<div class="modal-body">
    <div class="form-group">
        <label for="storeName">Template Name</label>
        <input type="text" name="storeName" ng-model="entry.templateName" ng-trim="true" class="form-control" required>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">OK</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>