<div class="modal-header">
    <h3 class="modal-title">Physical Stock</h3>

</div>
<div class="modal-body">
    <table class="table table-curved" id="printTable">
        <thead>
            <th>Items</th>
            <th>Qty</th>
            <th>Unit</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in transferItems">
                <td>{{item.itemName}}</td>
                <td>{{item.qty}}</td>
                <td>{{item.selectedUnit.unitName}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="print()">Print</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>