<div class="modal-header">
    <h3 class="modal-title">Stock Entry</h3>

</div>
<div class="modal-body">
    <table  id="printTable" class="table table-curved col-centered" style="width:100%">
        <thead>
            <th colspan="2">Good Receipt Note</th>
        </thead>
        <tbody>
            <tr>
                <td>Entry No:</td>
                <td>{{entry.entryNo}}</td>
            </tr>
            <tr>
                <td>Entry Date:</td>
                <td>{{entry.entryDate}}</td>
            </tr>
            <tr>
                <td>Store Location:</td>
                <td>{{store.storeLocation}}</td>
            </tr>
            <tr>
                <td>Store UID:</td>
                <td>{{store.storeUID}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table table-curved">
                        <thead>
                        <th>Code</th>
                            <th>Item Name</th>
                            <th>Unit</th>
                            <th>Rate</th>
                            <th>Quantity</th>
                            <th>Sub Total</th>
                            <th>Vat</th>
                            <th>Amount</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in transferItems">
                            <td>{{item.itemCode || '-'}}</td>
                                <td>{{item.itemName}}</td>
                                <td>{{item.selectedUnit.unitName}}</td>
                                <td >{{item.price}}</td>
                                <td>{{item.qty}}</td>
                                <td>{{(item.qty)*(item.price)}}</td>
                                <td>{{item.addedAmt}}</td>
                                <td>{{item.totalAmount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Total :</td><td>{{entry.total | currency:"&#8377;"}}</td>
            </tr>
            <tr>
                <td>(-) Discount :</td><td>{{entry.discount | currency:"&#8377;"}}</td>
            </tr>
            <tr>
                <td>Available Amount :</td><td>{{entry.availableAmt | currency:"&#8377;"}}</td>
            </tr>
            <tr>
                <td>(+) Vat :</td><td>{{entry.vat | currency:"&#8377;"}}</td>
            </tr>
            <tr>
                <td>(+) Cartage</td><td>{{entry.cartage | currency:"&#8377;"}}</td>
            </tr>
            <tr>
                <td>Grand Total :</td><td>{{entry.grandTotal | currency:"&#8377;"}}</td>
            </tr>
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="print()">Print</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>
