<div class="modal-header">
    <h3 class="modal-title">Stock Sale</h3>

</div>
<div class="modal-body">
    <table  id="printTable" class="table table-curved">
        <thead>
            <th colspan="2">Stock Sale Report</th>
        </thead>
        <tbody>
            <tr>
                <td>Sale No:</td>
                <td>{{entry.entryNo}}</td>
            </tr>
            <tr>
                <td>Sale Date:</td>
                <td>{{entry.entryDate}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table table-curved">
                        <thead>
                            <th>Item Name</th>
                            <th>Unit</th>
                            <th>Rate</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in transferItems">
                                <td>{{item.itemName}}</td>
                                <td>{{item.selectedUnit.unitName}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.qty}}</td>
                                <td>{{(item.qty)*(item.price)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Total :</td><td>{{entry.total}}</td>
            </tr>
            <tr>
                <td>(-) Discount :</td><td>{{entry.discount}}</td>
            </tr>
            <tr>
                <td>Available Amount :</td><td>{{entry.availableAmt}}</td>
            </tr>
            <tr>
                <td>(+) Vat :</td><td>{{entry.vat}}</td>
            </tr>
            <tr>
                <td>(+) Cartage</td><td>{{entry.cartage}}</td>
            </tr>
            <tr>
                <td>Grand Total :</td><td>{{entry.grandTotal}}</td>
            </tr>
        </tbody>
    </table>
    
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="print()">Print</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>