.stockEntryStatus_Ok{
	background-color: #03FD8C;
}
.stockEntryStatus_Error{
	background-color: #F57171;
}
.stockEntryStatus_Header{
	background-color: #000; color: #fff; border-radius: 5px;-webkit-border-radius:10px;
}

.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved th {
    border-top: none;
    background-color: #24242D; /*#337AB7;*/
    color: #fff;
}
.table-curved-hover  tr:hover {
    background-color: #03D6FC;
}
.error-message{
    color: red;
}

.table-curved th:first-child {
    border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
    border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}