<div class="modal-header">
    <h3 class="modal-title">Add/edit Instance</h3>
</div>
<div class="modal-body">
    <span style="font-size: 13px;font-style: italic;color:#808080;">Any changes made in mapping need to be saved</span><div></div>
    <div class="row">
        <div class="col-md-5">Swiggy </div>
        <div class="col-md-5"><input type="text" class="form-control" ng-model="mapOrder.swiggy" />  </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-5">Food Panda </div>
        <div class="col-md-5"><input type="text" class="form-control" ng-model="mapOrder.foodpanda" />  </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-5">Zomato </div>
        <div class="col-md-5"><input type="text" class="form-control" ng-model="mapOrder.zomato" />  </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-5">Lime Tray</div>
        <div class="col-md-5"><input type="text" class="form-control" ng-model="mapOrder.limetray" />  </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()">Save Deployment</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>