<div class="modal-header">
    <h3 class="modal-title">Add/edit Instance</h3>
</div>
<div class="modal-body">
    <span style="font-size: 13px;font-style: italic;color:#808080;">Any changes made in instances need to be saved</span>

    <div class="row">
        <div class="col-md-5">

            <div class="panel panel-default" style="margin-top: 20px;" >

                <div class="panel-heading"><span style="font-size: 14px;"> Create Instance.</span> </div>
                <div class="panel-body">
                    <div class="well">
                        <!--<pre>
                            {{taxForm | json}}
                        </pre>-->
                        <form role="form" name="instanceForm" ng-submit="createInstance(instanceForm)" novalidate>

                            <div class="form-group has-feedback"
                                 ng-class="{'has-success':instanceForm.name.$valid && submitted,'has-error':instanceForm.name.$invalid && !instanceForm.name.$pristine}">
                                <label>Name</label>
                                        <input type="text"  class="form-control" name="name" ng-model="instance.name"
                                                  placeholder="Instance name .." required />
                                <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' :instanceForm.name.$error.required||instanceForm.name.$viewValue.length>3}"></span>
                                <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : instanceForm.name.$valid ||instanceForm.name.$viewValue.length<4}"></span>
                            </div>
                            <div class="form-group has-feedback"
                                 ng-class="{'has-success':instanceForm.preFix.$valid && submitted,'has-error':instanceForm.preFix.$invalid && !instanceForm.preFix.$pristine}">
                                <label>Prefix</label>
                                <input type="text"  class="form-control" name="preFix" ng-model="instance.preFix"
                                       placeholder="Pre fix .." required />
                                <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' :instanceForm.preFix.$error.required||instanceForm.preFix.$viewValue.length>3}"></span>
                                <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : (instanceForm.preFix.$valid && (instanceForm.preFix.$viewValue.length<4))}"></span>

                            </div>
                            <div class="form-group has-feedback"
                                 ng-class="{'has-success':instanceForm.expiry.$valid && submitted,'has-error':instanceForm.expiry.$invalid && !instanceForm.expiry.$pristine}">
                                <label>Expiry</label>
                                <input type="text"  class="form-control" name="expiry" ng-model="instance.expiry"
                                       ng-focus="openDatePicker($event, 'toDate')" datepicker-popup="yyyy-MM-dd"  is-open="toDate"      placeholder="expiry.." required />
                                <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' :instanceForm.expiry.$error.required}"></span>
                                <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : instanceForm.expiry.$valid}"></span>
                            </div>
                            <!--<div class="form-group has-feedback"
                                 ng-class="{'has-success':smsTemplate.template.$valid && submitted,'has-error':smsTemplate.template.$invalid && !smsTemplate.template.$pristine}">
                                <label>Template Number</label>
                                <input type="text"  class="form-control" numeric-only name="templateNumber" ng-model="sms.templateNumber"
                                       placeholder="Template Number" required mongoose-error />
                                <p class="help-block" style="font-size: 10px" ng-show="smsTemplate.templateNumber.$error.mongoose">
                                    {{psErrors.templateNumber}}
                                </p>
                                <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' :smsTemplate.tNumber.$error.required}"></span>
                                <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : smsTemplate.tNumber.$valid}"></span>
                            </div>-->

                            <button type="submit" class="btn btn-success" ng-disabled="instanceForm.$invalid || instanceForm.preFix.$viewValue.length>3 || instanceForm.name.$viewValue.length>3">
                                <span ng-if="!instance.inEdit">Create Instance </span>
                                <span ng-if="instance.inEdit">Update Instance</span>
                            </button>
                            <a class="btn btn-danger" ng-show="sms.inEdit" ng-click="clearForm()">
                                Cancel
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="panel panel-default" style="margin-top: 20px;" >
                <div class="panel-heading"><span style="font-size: 14px;"> Show Instances.</span> </div>
                <div class="panel-body">
                   <!-- <ul class="pagination" style="margin: 0;">
                        <li>
                            <ul class="pagination pagination-sm" style="margin: 0;">
                                <li><a href="" ng-click="tPagination.prevPage()">&laquo; Previous</a></li>
                                <li ng-repeat="n in [] | range: tPagination.numPages" ng-class="{active: n == tPagination.page}">
                                    <a href="" ng-click="tPagination.toPageId(n)">{{n + 1}}</a>
                                </li>
                                <li><a href="" ng-click="tPagination.nextPage()">Next &raquo; </a></li>
                            </ul>
                        </li>
                    </ul>-->
                    <table class="table table-condensed table-striped table-responsive table-bordered table-curved  ">
                        <tr>
                            <th>#</th>  <th>name</th><th>prefix</th><th>Expiry</th><th></th><th></th>
                        </tr>
                        <tr  ng-repeat="instance in instances ">
                            <td>{{$index+1}}</td>
                            <td>{{instance.name}}</td><td>{{instance.preFix}}</td><td>{{instance.expiry|date : 'yyyy-MM-dd'}}</td>
                            <td><i class="glyphicon glyphicon-edit" ng-click="editInstance(instance)" /></td><td><i class="glyphicon glyphicon-trash" ng-click="deleteInstance($index)" /></td>
                        </tr>
                    </table>
                    <!--<ul class="pagination" style="margin: 0;">
                        <li>
                            <ul class="pagination pagination-sm" style="margin: 0;">
                                <li><a href="" ng-click="tPagination.prevPage()">&laquo; Previous</a></li>
                                <li ng-repeat="n in [] | range: tPagination.numPages" ng-class="{active: n == tPagination.page}">
                                    <a href="" ng-click="tPagination.toPageId(n)">{{n + 1}}</a>
                                </li>
                                <li><a href="" ng-click="tPagination.nextPage()">Next &raquo; </a></li>
                            </ul>
                        </li>
                    </ul>-->

                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()">Save Instances</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>