<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid">
    <tabset>
        <tab heading=" SMS Template">
            <div class="row">
                <div class="col-md-5">
                    <div class="panel panel-default" style="margin-top: 20px;" >
                        <div class="panel-heading"><span style="font-size: 14px;"> Create template.</span> </div>
                        <div class="panel-body">
                                <div class="well">
                                    <!--<pre>
                                        {{taxForm | json}}
                                    </pre>-->
                                    <form role="form" name="smsTemplate" ng-submit="createTemplate(smsTemplate)" novalidate>
                                        <div>
                                            <label>Type</label>
                                            <select class="form-control" ng-model="sms.type"  ng-change="checkType()" >
                                                <option value="Kot" >Kot</option>
                                                <option value="Dispatch" >Dispatch</option>
                                                <option value="Delivery" >Delivery</option>
                                                <option value="DeliveryBoy" >Delivery Boy</option>
                                                <option value="Sale" >Sale</option>
                                            </select>
                                        </div>
                                        <div class="form-group has-feedback"
                                             ng-class="{'has-success':smsTemplate.template.$valid && submitted,'has-error':smsTemplate.template.$invalid && !smsTemplate.template.$pristine}">
                                            <label>Template</label>
                                            <textarea type="text"  class="form-control" name="template" ng-model="sms.content"
                                                   placeholder="Template Content" required ></textarea>
                                            <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' :smsTemplate.template.$error.required}"></span>
                                            <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : smsTemplate.template.$valid}"></span>
                                        </div>
                                        <div class="form-group has-feedback"
                                             ng-class="{'has-success':smsTemplate.template.$valid && submitted,'has-error':smsTemplate.template.$invalid && !smsTemplate.template.$pristine}">
                                            <label>Template Number</label>
                                            <input type="text"  class="form-control" numeric-only name="templateNumber" ng-model="sms.templateNumber"
                                                      placeholder="Template Number" required mongoose-error />
                                            <p class="help-block" style="font-size: 10px" ng-show="smsTemplate.templateNumber.$error.mongoose">
                                                {{psErrors.templateNumber}}
                                            </p>
                                            <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' :smsTemplate.tNumber.$error.required}"></span>
                                            <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : smsTemplate.tNumber.$valid}"></span>
                                        </div>

                                        <button type="submit" class="btn btn-success" ng-disabled="smsTemplate.$invalid">
                                            <span ng-if="!sms.inEdit">Create Template </span>
                                            <span ng-if="sms.inEdit">Update Template</span>
                                        </button>
                                        <a class="btn btn-danger" ng-show="sms.inEdit" ng-click="clearSmsForm()">
                                            Cancel
                                        </a>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="panel panel-default" style="margin-top: 20px;" >
                        <div class="panel-heading"><span style="font-size: 14px;"> Show templates.</span> </div>
                        <div class="panel-body">
                            <ul class="pagination" style="margin: 0;">
                                <li>
                                    <ul class="pagination pagination-sm" style="margin: 0;">
                                        <li><a href="" ng-click="tPagination.prevPage()">&laquo; Previous</a></li>
                                        <li ng-repeat="n in [] | range: tPagination.numPages" ng-class="{active: n == tPagination.page}">
                                            <a href="" ng-click="tPagination.toPageId(n)">{{n + 1}}</a>
                                        </li>
                                        <li><a href="" ng-click="tPagination.nextPage()">Next &raquo; </a></li>
                                    </ul>
                                </li>
                            </ul>
                            <table class="table table-condensed table-striped table-responsive table-bordered table-curved  ">
                                <tr>
                                  <th>#</th>  <th>Type</th><th>Number</th><th>Content</th><th></th><th></th>
                                </tr>
                                <tr  ng-repeat="template in templates| startFrom: tPagination.page * tPagination.perPage | limitTo: tPagination.perPage ">
                                    <td>{{$index+1}}</td>
                                    <td>{{template.type}}</td><td>{{template.templateNumber}}</td><td>{{template.content}}</td>
                                    <td><i class="glyphicon glyphicon-edit" ng-click="editTemplate(template)" /></td><td><i class="glyphicon glyphicon-trash" ng-click="deleteTemplate(template)" /></td>
                                </tr>
                            </table>
                            <ul class="pagination" style="margin: 0;">
                                <li>
                                    <ul class="pagination pagination-sm" style="margin: 0;">
                                        <li><a href="" ng-click="tPagination.prevPage()">&laquo; Previous</a></li>
                                        <li ng-repeat="n in [] | range: tPagination.numPages" ng-class="{active: n == tPagination.page}">
                                            <a href="" ng-click="tPagination.toPageId(n)">{{n + 1}}</a>
                                        </li>
                                        <li><a href="" ng-click="tPagination.nextPage()">Next &raquo; </a></li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </tab>
        <tab heading="Deployment Setting" select="getDeployments()">
           <div class="panel panel-info">
               <div class="panel-heading">Deployment Management</div>
               <div class="panel-body">
                   <table class="table table-condensed table-striped table-responsive table-bordered table-filter">
                       <tr>
                           <th>S.No</th><th>Deployment Name</th><th>Tenant Name</th><th>Sub Domain</th>
                           <th>Created</th><th>Expiry</th><th>balance SMS</th><th></th><th></th><th></th><th></th><th>EmailOrder</th>
                       </tr>
                       <tr ng-repeat="dep in DeploymentsTenant">
                           <td>
                             {{$index+1}}
                           </td>
                           <td>
                               {{dep.name}}
                           </td>
                           <td>
                               {{dep.tenant.name}}
                           </td>
                           <td>
                               {{dep.tenant.subdomain}}
                           </td>
                           <td>
                               {{dep.created|date}}
                           </td>
                           <td></td>
                           <td>
                               {{dep.balanceSMS}}
                           </td>
                           <td>
                              <!-- <i class="btn btn-info">Add SMS</i>-->
                               <input type="text" ng-model="dep.smsCount" style="max-width: 80px;height: 30px;" numeric-only class="form-control"  ><i class="btn btn-info btn-xs" ng-click="addSMS($index)" ng-disabled="!(dep.smsCount>0)" >Add SMS</i>
                           </td>
                           <td><i class="btn btn-info">Extend Expiry</i></td>
                           <td><i class="btn btn-info">Disable</i></td>
                           <td><i class="btn btn-info" ng-click="createInstance(dep)" >Instance-{{dep.instances.length}}</i></td>
                           <td><i class="btn btn-info" ng-click="createEmailOrderMap(dep)" >Map</i></td>

                       </tr>
                   </table>
               </div>

           </div>
        </tab>
        <tab heading="Email Settings" select="getDeployments()">
            <div class="panel panel-info">
                <div class="panel-heading">Deployment Management</div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped  table-bordered table-filter">
                        <tr>
                            <th>S.No</th><th>Deployment Name</th><th>Tenant Name</th><th>Sub Domain</th>
                            <th>Created</th><th><span style="color:#0000ff  ; font-size: 11px">Feed in multiple email's for emailer seperated by ,(comma)   </span> </th>
                        </tr>
                        <tr ng-repeat="dep in DeploymentsTenantEmailers">
                            <td>
                                {{$index+1}}
                            </td>
                            <td>
                                {{dep.name}}
                            </td>
                            <td>
                                {{dep.tenant.name}}
                            </td>
                            <td>
                                {{dep.tenant.subdomain}}
                            </td>
                            <td>
                                {{dep.created|date}}
                            </td>
                            <td>
                                <!-- <i class="btn btn-info">Add SMS</i>-->
                                <input type="text" ng-model="dep.emails" style="height: 30px;"   class="form-control"  ng-change="changedRow($index)" >

                                <i class="btn btn-info btn-xs" ng-show="dep.isChanged" ng-click="updateEmails($index)"  >Update</i>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </tab>
        <tab heading="Settlement Settings" select="getSettlementMaster()">
            <div class="panel panel-info">
              <div class="panel-heading">Settlement Settings Master</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="panel panel-default" style="margin-top: 20px;" >
                                    <div class="panel-heading"><span style="font-size: 14px;"> Create template.</span> </div>
                                    <div class="panel-body">
                                        <div class="well">
                                            <!--<pre>
                                                {{taxForm | json}}
                                            </pre>-->
                                            <form role="form" name="settleForm" ng-submit="createSettle(settleForm)" novalidate>

                                                <div class="form-group has-feedback"
                                                     ng-class="{'has-success':settleForm.name.$valid && submitted,'has-error':settleForm.name.$invalid && !settleForm.name.$pristine}">
                                                    <label>Settle Name</label>
                                                      <input type="text"  class="form-control" name="name" ng-model="settle.name"
                                                        placeholder="Settlement name .." required ></input>
                                                    <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' :settleFrom.name.$error.required}"></span>
                                                    <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : settleFrom.name.$valid}"></span>
                                                </div>
                                                 <div class="form-group has-feedback"
                                                     ng-class="{'has-success':settleForm.isOnlineOrder.$valid && submitted,'has-error':settleForm.isOnlineOrder.$invalid && !settleForm.isOnlineOrder.$pristine}">
                                                    <label>
                                                      <input type="checkbox"   name="isOnlineOrder" ng-model="settle.isOnlineOrder"
                                                         ></input>
                                                    Is Online Order</label>
                                                </div>
                                               
                                                <div class="form-group has-feedback"
                                                     ng-class="{'has-success':settleFrom.name.$valid && submitted,'has-error':settleFrom.name.$invalid && !settleFrom.name.$pristine}">
                                                   </div>

                                                <button type="submit" class="btn btn-success" ng-disabled="settleForm.$invalid">
                                                    <span ng-if="!settle.inEdit">Create  </span>
                                                    <span ng-if="settle.inEdit">Update </span>
                                                </button>
                                                <a class="btn btn-danger" ng-show="settle.inEdit" ng-click="clearSettleForm(settleForm)">
                                                    Cancel
                                                </a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="panel panel-default" style="margin-top: 20px;" >
                                    <div class="panel-heading"><span style="font-size: 14px;"> Show templates.</span> </div>
                                    <div class="panel-body">
                                        <table class="table table-condensed table-striped table-responsive table-bordered table-curved  ">
                                            <tr>
                                                <th>#</th>  <th>Settle Name</th><th>Is Online</th> <th></th><th></th>
                                            </tr>
                                            <tr  ng-repeat="set in settles">
                                                <td>{{$index+1}}</td>
                                                <td>{{set.name}}</td>
                                                <td>{{set.isOnlineOrder}}</td>
                                                <td><i class="glyphicon glyphicon-edit" ng-click="editSettle(set)" /></td>
                                                <td><i class="glyphicon glyphicon-trash" ng-click="deleteSettle(set)" /></td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">Bank Settings Master</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="panel panel-default" style="margin-top: 20px;" >
                                    <div class="panel-heading"><span style="font-size: 14px;"> Create Bank Master.</span> </div>
                                    <div class="panel-body">
                                        <div class="well">
                                            <!--<pre>
                                                {{taxForm | json}}
                                            </pre>-->
                                            <form role="form" name="settleBankForm" ng-submit="createSettleBank(settleForm)" novalidate>

                                                <div class="form-group has-feedback"
                                                     ng-class="{'has-success':settleBankForm.name.$valid && submitted,'has-error':settleBankForm.name.$invalid && !settleBankForm.name.$pristine}">
                                                    <label>Bank Name</label>
                                                      <input type="text"  class="form-control" name="name" ng-model="settleBank.name"
                                                        placeholder="Bank name .." required ></input>
                                                    <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' :settleBankForm.name.$error.required}"></span>
                                                    <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : settleBankForm.name.$valid}"></span>
                                                </div>
                                                <div class="form-group has-feedback"
                                                     ng-class="{'has-success':settleBankForm.name.$valid && submitted,'has-error':settleBankForm.name.$invalid && !settleBankForm.name.$pristine}">
                                                   </div>

                                                <button type="submit" class="btn btn-success" ng-disabled="settleBankForm.$invalid">
                                                    <span ng-if="!settleBank.inEdit">Create  </span>
                                                    <span ng-if="settleBank.inEdit">Update </span>
                                                </button>
                                                <a class="btn btn-danger" ng-show="settleBank.inEdit" ng-click="clearSettleBankForm(settleBankForm)">
                                                    Cancel
                                                </a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="panel panel-default" style="margin-top: 20px;" >
                                    <div class="panel-heading"><span style="font-size: 14px;"> Show banks.</span> </div>
                                    <div class="panel-body">
                                        <table class="table table-condensed table-striped table-responsive table-bordered table-curved  ">
                                            <tr>
                                                <th>#</th>  <th>Bank Name</th><th></th><th></th>
                                            </tr>
                                            <tr  ng-repeat="set in settleBanks">
                                                <td>{{$index+1}}</td>
                                                <td>{{set.name}}</td>
                                                <td><i class="glyphicon glyphicon-edit" ng-click="editSettleBank(set)" /></td>
                                                <td><i class="glyphicon glyphicon-trash" ng-click="deleteSettleBank(set)" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </tab>
        <tab heading="CRM Settings" select="CRMSettings()">

       <div >
       <table><tr><td>Search subdomain:</td><td colspan="2">
       <div class="form-group" ng-class="{disabledButton:isDeploymentRendered}">
       <span class="input-group-btn">
              <input type="text" style="width:300px;" class="form-control" placeholder="subdomain.." id="txtSearchTenant"
                     type="text"
                     ng-model="selectedTenant"
                     typeahead="tenant as tenant.subdomain for tenant  in getTenants($viewValue)"
                     typeahead-on-select="getSelectedTenant($item, $model, $label);"
                     typeahead-focus-first="false"
                     class="form-control"
                     ng-enter="tenantSearchEnter(selectedTenant)"
                     
              /></span>
              <!-- </td><td> -->
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" ng-click="tenantSearchEnter(selectedTenant)">Add
                </button>
              </span>
              <div>
              </td></tr>
              <tr ng-if="isDeploymentRendered"><td>Select Deployments:</td><td colspan="2">
              <span >
               <label class="checkbox checkbox-inline" ng-repeat="dep in deploymentsCustomer">
                    <input type="checkbox" checklist-model="deploymentsCustomerSelected" checklist-value="dep">
                    {{dep.name}}
                  </label>
                  </span>
                  </td>
                  </tr>
            <tr ng-if="isDeploymentRendered"><td></td><td colspan="2">
              <label class="btn btn-primary" ng-click="save_deployments()" >Save/Update </label>
              <label class="btn btn-danger" ng-click="cancel_deployments()">Cancel </label>
            </td></tr>
                  </table>
           </div>

           <br/>
           <table class="table table-responsive table-condensed table-bordered table-striped" >
             <tr ng-repeat="ten in cgs">
               <td valign="top">{{ten.tenant.subdomain}}</td><td valign="top">
                 <div class="row" id="exp" style="padding:4px;">
                      <div ng-repeat="dep in ten.deployments">
                          <div class="col-md-3">
                               <div class="btn btn-default" >   {{dep.name}} </div>
                          </div>
                      </div>
                  </div>
               </td>
             </tr>
           </table>
        </tab>
        <!-- <tab heading="Stock Deletion" ng-click = "resetTransactionsTab()">
                <div class="panel panel-default">
                    <div class="panel-heading" style=" background-color: light blue; font-style: white">
                        Transaction Deletion Panel
                    </div>
                    <div class="panel-body">
                      <form name = 'form_stockMasterUser' ng-submit="getStockTransactions(form_stockMasterUser)" novalidate>
                            <table class="table col-md-6" >
                            
                            <tr>
                            
                                <td class="col-md-2">
                                <label >Tenant Name: </label>
                                <input type="text" name="tenantName" class="form-control" ng-model="transactionsTab.stockTransactionForm.tenant" ng-model-options="{debounce: 700}" typeahead="tenant as tenant.name for tenant in getTenantName($viewValue)" typeahead-on-select="getDeploymentName(transactionsTab.stockTransactionForm.tenant._id)" typeahead-no-results="noResults" ng-disabled = "transactionsTab.disableTenantAndDeployment"/>
                                </td>
                              
                            <td class="col-md-2">
                            <label  >Deployment Name: </label>
                            <select class="form-control" name="deploymentName" ng-model="transactionsTab.stockTransactionForm.deployment_id" ng-options="deployment._id as deployment.name for deployment in transactionsTab.deployments" ng-disabled = "transactionsTab.disableTenantAndDeployment" ng-change = "disableTenant()" required>
                            <option value="">Select Deployment</option>
                                    </select>
                                  </td>
                                  </tr>
                            <br>
                            <br>
                            <tr>
                              <td class="col-md-2">
                                <label for = "fromDate"  >Start Date: </label>

                                <input type="text" name = "fromDate" class="form-control" datepicker-popup="dd-MMMM-yyyy" style="height: 30px;" ng-model="transactionsTab.stockTransactionForm.fromDate" ng-click="openCalender($event,'modFrom')" ng-disabled = "transactionsTab.tenantNotSelected"  is-open="dateCal.modFrom" datepicker-options="dateOptions"  close-text="Close"  />
                                  
                              </td >

                              <td class="col-md-2">
                                  <label for = "toDate" class="control-label">End Date : </label>

                                  <input type="text" name = "toDate" class="form-control" datepicker-popup="dd-MMMM-yyyy" style="height: 30px;" ng-model="transactionsTab.stockTransactionForm.toDate" ng-click="openCalender($event,'modTo')" ng-disabled = "transactionsTab.tenantNotSelected"  is-open="dateCal.modTo" datepicker-options="dateOptions"  close-text="Close"  />
                                  
                                  
                              </td>
                            </tr>
                            <br>
                            <br>
                            <tr>
                              <td class="col-md-2">
                                <label for="transactionType" >Transaction Type :</label>
                              <select class="form-control" name="transactionType" ng-model="transactionsTab.stockTransactionForm.transactionType" ng-options="type.type as type.transactionName for type in stockTransactionType" ng-disabled = "transactionsTab.tenantNotSelected" required>
                              <option value="">Select Type</option>
                                      </select>
                              </td>    
                              <td class="col-md-2">
                                <label></label>
                                <button type ="submit" name = "submit" ng-disabled = "transactionsTab.tenantNotSelected" class="btn btn-success form-control" >Success</button>
                              </td>
                              </tr>
                              <tr>
                              <td class="col-md-2">
                              
                                <button type ="button" name = "deleteAll" ng-hide = "transactionsTab.tenantNotSelected" class="btn btn-danger form-control"  ng-confirm-message="Are you sure you want to delete All transactions of this deployment?" ng-confirm-condition="true" ng-confirm-click="deleteTransactionModal(null, 'Complete', null)">Delete All</button>
                              </td>
                          </tr>
                          </table>
                            </tbody> 
                      </form>
                    </div>
                    <div>
                    <table class="table table-bordered col-md-12" ng-show = "transactionsTab.transactions.length > 0">
                          <thead>
                            <th colspan="1">#</th>
                            <th colspan="2">Created</th>
                            <th colspan="5">TransactionType</th>
                            <th colspan="3">No. of Items</th>
                            <th colspan="1">Delete</th>
                          </thead>
                          <tbody>
                            <tr ng-repeat = "transaction in transactionsTab.transactions">
                              <td colspan="1">{{$index + 1}}</td>
                              <td colspan="2">{{transaction.transactionTime}}</td>
                              <td colspan="5">{{transaction.transactionName}}</td>
                              <td colspan="3">{{transaction.numberOfItems}}</td>
                              <td colspan="1"><a ng-confirm-message="Are you sure you want to delete this transaction?" ng-confirm-condition="true" ng-confirm-click="deleteTransactionModal(transaction, 'Single' , $index)"><i class="glyphicon glyphicon-trash"></i></a></td>
                            </tr>
                          
                    </table>
                </div>
                </div>
            </tab> -->
    </tabset>
</div>
</div>
<script type="text/ng-template" id="deleteTransaction.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete Transaction</h3>
    </div>
    <div class="modal-body">
        <div class="form-inline">
          <label for ="comment">Comment :</label>
          <input type = "text" name = "comment" class="form-control" ng-model= "deletionForm.comment">
        </div>
        <div class="form-inline">
          <label for ="password">Password :</label>
          <input type = "password" name = "password" class="form-control" ng-model= "deletionForm.password">
        </div>
    </div>
    <div class="modal-footer">
        <div style="float: right;">
          <button class="btn btn-danger" ng-click="removeTransaction()">
          <i ng-if= "deletionType == 'Single'">Delete Transaction</i>
          <i ng-if= "deletionType == 'Complete'">Delete All Transaction</i>
          </button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>