<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Posist POS</h1>
    <p class="lead">Kick-start your next restaurant with Posist.<br><i class='fa fa-spinner fa-2x'></i>Attempting to sign in...</p>
    <img src="assets/images/posist-symbol-icon.png" alt="Posist POS">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
     <!-- <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>-->
      <div style="margin-top: 20px"></div>
      <!-- <div class="well well-sm">
        <a class="btn btn-success btn-lg btn-block" href="/signup">Signup</a>
      </div> -->
    </div>
  </div>

  <!--<form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>-->
</div>

<footer class="footer">
  <div class="container">
      <p>&copy; Posist Technologies 2017</p>
  </div>
</footer>
