<tabset>
	
		<div ng-cloak class="row">

			<div style="margin-top: 20px;"></div>
			<div  class="col-md-12">
				<div class="row">
					<!-- <pre>{{purchaseConsumptionForm | json}}</pre> -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Issue And Receipt Report</h3>
						</div>
						<div class="panel-body">
							<form name="formPurchaseConsumption" novalidate>
								<table class="table">
									<tr>
										<td>Select From :</td>
										<td>
											<input type="text" date-format  name="validFrom"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="purchaseConsumptionForm.fromDate" max-date="purchaseConsumptionForm.maxDate" is-open="purchaseConsumptionForm.fromDate.open" ng-click="purchaseConsumptionForm.fromDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true" ng-required="true"close-text="Close" ng-change="checkDateGreater(purchaseConsumptionForm.fromDate);"/>
										</td>

										<td>Select To :</td>
										<td>
											<input type="text" date-format  name="validTo"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="purchaseConsumptionForm.toDate" max-date="purchaseConsumptionForm.maxDate" is-open="purchaseConsumptionForm.toDate.open" ng-click="purchaseConsumptionForm.toDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true"  ng-required="true"close-text="Close" ng-change="checkDateLesser(purchaseConsumptionForm.toDate);"/>
										</td>

									</tr>
									<tr>
										<td>Select Store</td>
										<td>
											<select  ng-model="purchaseConsumptionForm.store" ng-change="bindCategory_purchaseConsumptionForm(purchaseConsumptionForm.store)" ng-options="s.storeName for s in purchaseConsumptionForm.stores" class="form-control">
													<option value="" ng-if="false"></option>
													<!-- <option value="">Select All </option> -->
											</select>
										</td>
										<td>Select  Category</td>
										<td>
											<select  ng-model="purchaseConsumptionForm.category" ng-change="bindItems_purchaseConsumptionForm(purchaseConsumptionForm.category)" ng-options="s.categoryName for s in purchaseConsumptionForm.categories" class="form-control">
													<option value="">Select All</option>
											</select>

										<!-- <td> -->
											<!-- <a class="btn btn-success" ng-disabled="purchaseConsumptionForm.isSearch"  ng-click="openEmailModal(1)">Submit</a> -->
											<!-- <a class="btn btn-success" ng-disabled="purchaseConsumptionForm.isSearch"  ng-click="startSearch()">Submit</a>
											<div class="btn-group" ng-show="purchaseConsumptionForm.reportData.items.length>0">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    Export <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											    <li><a  style="cursor:pointer;"  ng-click="exportToPdf_purchaseConsumption()">PDF</a></li>
											    <li><a  style="cursor:pointer;" ng-click="exportToExcel_purchaseConsumption()">EXCEL</a></li>
											  </ul>
											</div>
										</td> -->
									</tr>
									<tr>
										<td>Select Items</td>
										<td>
											<select  ng-model="purchaseConsumptionForm.item"  ng-options="s.itemName for s in purchaseConsumptionForm.availableItems" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
										<td></td>
										<td>
											<a class="btn btn-success" ng-disabled="purchaseConsumptionForm.isSearch || !isPhysicalStock"  ng-click="startSearch()">Submit</a>
											<div class="btn-group" ng-show="purchaseConsumptionForm.reportData.items.length>0">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    Export <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											    <li><a  style="cursor:pointer;"  ng-click="exportToPdf_purchaseConsumption()">PDF</a></li>
											    <li><a  style="cursor:pointer;" ng-click="exportToExcel_purchaseConsumption()">EXCEL</a></li>
											  </ul>
											</div>
										</td>
									</tr>
								</table>
								<div class="alert alert-warning alert-dismissible" ng-show="purchaseConsumptionForm.reportData.errorMessage!= null" role="alert">
								  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								  <strong>Warning!</strong> {{purchaseConsumptionForm.reportData.errorMessage}}
								</div>
								<div class="alert alert-success alert-dismissible" ng-show="purchaseConsumptionForm.reportData.successMessage!= null" role="alert">
								  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								  <strong>Success!</strong> {{purchaseConsumptionForm.reportData.successMessage}}
								</div>
								<div id="consumptionReport">
									
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	

	
</tabset>

<script type="text/ng-template" id="emailModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Please provide an email!</h3>
    </div>
    <form name='emailForm' ng-submit='emailData.ok()'>
	    <div class="modal-body" id="modal-body">
			<div class="form-group">
				<label>Email Id: </label>
				<input stopccp class='form-control' type="email" ng-model='emailData.email' required/>
			</div>
			<div class="form-group">
				<label>Confirm Email Id: </label>
				<input stopccp class='form-control' type="email" ng-model='emailData.confirmEmail' required/>
			</div>
	    </div>
	    <div class="modal-footer">
	        <button class="btn btn-primary" type="submit" >submit</button>
	        <button class="btn btn-warning" type="button" ng-click="emailData.cancel()">Cancel</button>
	    </div>
    </form>
</script>
