<div class="dialog-background" ng-show="progressflag">
  <progressbar class="dialog-loading-icon" max="100" animate="true" class="progress-striped active"
               value="progressvalue">{{(progressvalue|number:2)*1}}%completed
  </progressbar>
</div>
<div>
  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class=" fixed-header row posist-header">
    <img src="assets/images/posist-glificon-logo.png" alt="Posist">
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="padding-top:4%">

      <div class="well  connect-div text-center" align="center">
        <p class="input-group">
          <input type="text" placeholder="Connect to Tally Server" class="form-control" ng-disabled="connectflag==1"
                 name="hosturl" ng-model="hosturl"/>
              <span class="input-group-btn" ng-show="connectflag!=1">
                <button type="button" class="btn btn-success connect-btn" ng-click="connect()">
                  <b><i><span> Connect</span></i></b></button>
              </span>
        <span class="input-group-btn" ng-show="connectflag==1">
          <button type="button" class="btn btn-success" ng-click="disconnect()"><b><i><span style="color:black">Disconnect</span></i></b>
          </button>
        </span>
        </p>
        <span ng-show="connectflag==1"><b><i>Connected</i></b><span class="glyphicon glyphicon-ok text-success"></span></span>
        <span ng-show="connectflag==-1"><b><i></i>Error in connection</b></i><span
          class="glyphicon glyphicon-remove text-danger"></span></span>
      </div>


      <form role="form" name="myform" class="well" novalidate>

        <div class="form-group"
             ng-class="{ 'has-error': myform.voucherOption.$touched && myform.voucherOption.$invalid }">
          <label>Billing/stock</label>
          <select class="form-control" name="voucherOption" ng-model="form.voucherOption" required>
            <option value="Billing">Billing</option>
            <option value="Stock">Stock</option>
          </select>
          <span ng-show="myform.voucherOption.$error.required && myform.voucherOption.$touched" class="help-block">Please Select an option</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': myform.startDate.$touched && myform.StartDate.$invalid }">
          <label>Start Date</label>

          <p class="input-group">
            <input type="text" class="form-control date dateText" name="myform.startDate"
                   datepicker-popup="dd-MMMM-yyyy" disabled ng-model="form.startDate" is-open="startDateOpened"
                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)" max-date="maxdate"
                   close-text="Close" required/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click=" open1($event)"><i
                                  class="glyphicon glyphicon-calendar text-primary"></i></button>
                            </span>
          </p>
          <span ng-show="myform.startDate.$error.required && myform.startDate.$touched" class="help-block">Please Select Start Date</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': myform.endDate.$touched && myform.endDate.$invalid }">
          <label>End Date</label>

          <p class="input-group">
            <input type="text" class="form-control date dateText" name="myform.endDate" datepicker-popup="dd-MMMM-yyyy"
                   disabled ng-model="form.endDate" is-open="endDateOpened" datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)" close-text="Close" min-date="form.startDate" max-date="maxdate"
                   required/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2($event)"><i
                                  class="glyphicon glyphicon-calendar text-primary"></i></button>
                            </span>
          </p>
          <span ng-show="myform.endDate.$error.required && myform.endDate.$touched" class="help-block">Please Select End Date</span>
        </div>

        <div class="form-group" ng-show="form.voucherOption=='Billing'"
             ng-class="{ 'has-error': myform.option.$touched && myform.option.$invalid }">
          <label>Option</label>
          <select class="form-control" name="option" ng-model="form.option" ng-required="form.voucherOption=='Billing'">
            <option value="all">All</option>
            <option value="Selected Bills">Selected Bills</option>
          </select>
          <span ng-show="myform.option.$error.required && myform.option.$touched" class="help-block">Please Select an option</span>
        </div>

    <span ng-show="form.option =='Selected Bills' && form.voucherOption=='Billing'">
    <div class="form-group">
      <label>First Bill</label>
      <input type="number" class="form-control" name="invoicefrom" ng-model="form.invoicefrom"
             ng-required="form.option=='Selected Bills'" min="0">
    </div>

    <div class="form-group">
      <label>Last Bill</label>
      <input type="number" class="form-control" name="invoiceto" ng-model="form.invoiceto"
             ng-required="form.option=='Selected Bills'" min="{{form.invoicefrom}}">
    </div>
    </span>
        <br/>

        <div align="center">
          <button type="button" ng-click="init()" class="btn btn-primary transfer-btn form-control"
                  ng-disabled='myform.$invalid || connectflag!=1'><span class="text-center"><b><i>ADD VOUCHERS</i></b></span>
          </button>
        </div>

        <br ng-if="flag==1 && connectflag==1"/>

        <div class="text-center">
          <span ng-show="flag==1 && connectflag==1 && form.voucherOption=='Billing'"><br/><b><i>Records
            Processed:{{tallypush.length}}<br/>Vouchers created:{{created}}({{(created/tallypush.length)*100}}%)</i></b></span>
          <span ng-show="flag==1 && connectflag==1 && form.voucherOption=='Stock'"><b><i>Records
            Processed:{{stockbills.length}}<br/>Vouchers
            created:{{created}}({{(created/stockbills.length)*100}}%)</i></b></span>
        </div>
      </form>

    </div>
    <div class="col-md-3">
      <!--  <button type="button" class="btn btn-primary" ng-click="getBills()">GET bills</button>-->
    </div>
  </div>

  <script type="text/ng-template" id="tallypushEmptyModal.html">
    <div class="modal-header text-center">
      <h3 style="color:blue">Empty</h3>
    </div>
    <div class="modal-body text-center">
      <p><b><i>No Data Found in your Selection</i></b></p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
  </script>
  <footer>
  </footer>
</div>

<script>
  $(document).ready(function () {
    $('.dialog-background').height($(document).height());
    $('.dialog-background img').css('margin-top', (3 / 4) * $(document).height());
    console.log($(document).height());
    /*console.log((3/4)*$(document).height());*/
    console.log($('.dialog-background img').css('margin-top'));
  });
</script>
