

.posist-header {
  position: relative;
  text-align: center;
  padding:15px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}


.dialog-background{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.dialog-loading-icon {
  margin: auto;
  margin-top: 25%;
  background:transparent;
  display: block;
  height: 30px;
  width: 50%;
  font-weight:bold;
}






