<!--<div ng-include="'components/navbar/navbar.html'"></div>-->

<div class="container" class="loginscreen">
    <div class="login-container">
        <div id="output"></div>
        <div class="avatar"></div>
        <div ng-if="error != null" class="alert alert-danger">
            <p>{{error}}</p>
        </div>
        <div class="form-box">
            <form class="form" name="form" ng-submit="login(form)" novalidate>
                <input name="username" type="text" placeholder="Username" ng-model="user.username" ng-virtual-keyboard="{ numberPad: true,  relative: false}" required>
                <input name="password" type="password" placeholder="Password" ng-model="user.password" ng-virtual-keyboard="{ numberPad: true,  relative: false}" required>
                <button class="btn btn-info btn-block login" type="submit"><i
                        class="fa fa-sign-in"></i> Login & Rock!</button>
            </form>
        </div>
    </div>
</div>
