<div class="container-fluid">
    <div class="page-header">
        <h1><i class="fa fa-cutlery"></i> Master Store
            <small>Setup</small>
        </h1>
    </div>
    <div class="jumbotron">
        <wizard on-finish="finishedWizard()" hide-indicators="true">

            <!-- Step: Welcome -->
            <wz-step title="Welcome">
                <h2>Welcome, we will guide you in setting up your STORE.</h2>

                <p>Please click next to Start. :-)</p>
                <a href="#" class="btn btn-primary btn-lg" wz-next="hidekitchenMain()" value="Continue" role="button">Start »</a>
                <!-- <input type="submit" wz-next value="Continue" /> -->
            </wz-step>
            <!-- Step: Store  -->
            <wz-step title="Store">
                <div style="margin-top: 10px;"></div>
                <h3><i class="fa fa-cogs"></i> Configure Store</h3>
                <div class="row">
                    <div class="col-md-6">
						<div class="panel panel-default">
							<!--  <pre>{{storeForm | json}}</pre>  -->
							<div class="panel-heading">
								<h3 class="panel-title">Create Store</h3>
							</div>
							<div class="panel-body">
								<form name="formStore" ng-submit="createStore(formStore)" novalidate>
									<div class="form-group">
										<label for="storeName">Store Name</label>
										<input type="text" name="storeName" ng-model="storeForm.storeName" ng-trim="true" class="form-control" required>
									</div>
									<div ng-show="formStore.storeName.$error.mongoose" style="color:red;">{{formStore.storeName.$error.mongoose}}</div>
									<div class="form-group">
										<label for="storeLocation">Store Location</label>
										<input type="text" ng-model="storeForm.storeLocation" name="storeLocation" ng-trim="true" class="form-control" >
									</div>
									<div class="form-group">
										<label for="storeUID">Store UID</label>
										<input type="text" name="storeUID" ng-model="storeForm.storeUID" ng-trim="true" class="form-control" >
									</div>
									<div class="form-group">
										<label class="checkbox-inline"  ng-hide="storeForm.hideKitchen" >
                      						<input type="checkbox" ng-model="storeForm.isKitchen" > Is Kitchen Store
                    					</label>
                    					<label class="checkbox-inline"  ng-hide="storeForm.hideMainStore" >
                    						<input type="checkbox" ng-model="storeForm.isMain">Is Main Store
                    					</label>
									</div>
										<!-- <modal lolo="modal1" modal-body="body" modal-footer="footer" modal-header="header" ng-click-right-button="myRightButton()"></modal>
      									<a href="#{{modal1}}" role="button" class="btn btn-success" data-toggle="modal">Launch Demo Modal</a> -->
									<button type="submit" class="btn btn-success"  ng-disabled="formStore.$invalid">
                                         <span ng-if="!storeForm.isEdit">Create </span>
                                        <span ng-if="storeForm.isEdit">Update </span>
                                        
                                    </button>
                                    <a class="btn btn-danger" ng-show="storeForm.isEdit" ng-click="clearStoreForm()">
                                         Cancel
                                    </a>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Available Store</h3>
							</div>
							<div class="panel-body">
								<div>
									<a ng-click="removeSelectedStore()" mouseover="DeleteSelectedStore" ng-show="storeSelectAll"><i class="glyphicon glyphicon-trash"></i></a>
								</div>
								<div>
									<label>
										<span ng-show="storeForm.isMessage" style="color:red">
											{{storeForm.message}}
										</span>
									</label>
								</div>
								<div class="form-group">
									<ul class="pagination" style="margin: 0;">
					                    <li>
					                        <ul class="pagination" style="margin: 0;">
					                            <li><a href="" ng-click="storePagination.prevPage()">&laquo; Previous</a></li>
					                            <li ng-repeat="n in [] | range: storePagination.numPages" ng-class="{active: n == storePagination.page}">
					                                <a href="" ng-click="storePagination.toPageId(n)">{{n + 1}}</a>
					                            </li>
					                            <li><a href="" ng-click="storePagination.nextPage()">Next &raquo; </a></li>
					                        </ul>
					                    </li>
					                </ul>
        						</div>
								<table class="table table-curved">
									<thead>
										<tr>
											<th>
												<input type="checkbox" ng-model="storeSelectAll" ng-click="checkAllStore()">
											</th>
											<th>#</th>
											<th>Name</th>
											<th>Location</th>
											<th>UID </th>
											<th>Kitchen</th>
											<th>Main</th>
											<th>&nbsp;</th>
											<th>&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<!-- <tr ng-repeat="s in stores"> -->
										<tr ng-repeat="s in stores | startFrom: storePagination.page * storePagination.perPage | limitTo: storePagination.perPage | orderBy: 'storeName'">
											<td>
												<input type="checkbox" ng-model="s.selected">
											</td>
											<td>{{$index + 1}}</td>
											<td>{{s.storeName}}</td>
											<td>{{s.storeLocation}}</td>
											<td>{{s.storeUID}}</td>
											<td>
												<label class="checkbox-inline">                            
													<input type="checkbox" ng-disabled="true" ng-model="s.isKitchen" >
												</label>
											</td>
											<td>
												<label class="checkbox-inline">                            
													<input type="checkbox" ng-disabled="true" ng-model="s.isMain" > 
												</label>
											</td>
											<td>
												<a ng-click="editStore(s)"><i class="glyphicon glyphicon-edit"></i></a>
												

											</td>
											<td><a ng-confirm-message="Are you sure for Delete?" ng-confirm-condition="true" ng-confirm-click="removeStore(s)"><i class="glyphicon glyphicon-trash"></i></a>

											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
                <hr/>
                <div class="well">
                    <a class="btn btn-default" wz-previous>« Previous Step - Welcome</a>
                    <a class="btn btn-lg btn-warning" wz-next="clearCategoryTab()">Next Step - Categorys »</a>
                </div>
            </wz-step>

            <!-- Step: Category  -->
            <wz-step title="Category">
                <div style="margin-top: 10px;"></div>
                <h3><i class="fa fa-cogs"></i> Configure Category</h3>
                <div class="row">
                    <div class="col-md-6">
						<!--<pre>
							{{stockCategoryForm | json}}
						</pre>-->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Create Category</h3>
							</div>
							<div class="panel-body">
								<form name="formStockCategory" ng-submit="createStockCategory(formStockCategory)" novalidate>
									<div class="form-group">
										<label for="storeName">Store Name</label>
										<select  name="storeName" ng-model="stockCategoryForm.store"
                                    		ng-options="s.storeName for s in stores" class="form-control" required>
                                			<option value="">Select Store</option>
                            			</select>
									</div>
									<div class="form-group">
										<label for="categoryName">Category Name</label>
										<input type="text" ng-model="stockCategoryForm.categoryName" name="categoryName" ng-trim="true" class="form-control" required>
									</div>
									<div ng-show="formStockCategory.categoryName.$error.mongoose" style="color:red;">{{formStockCategory.categoryName.$error.mongoose}}</div>
									<div class="form-group">
										<label for="discription">Category Discription</label>
										<textarea rows="5" class="form-control" cols="150" name="discription" ng-model="stockCategoryForm.discription" ng-trim="true"></textarea>
									</div>
									<button type="submit" class="btn btn-success"  ng-disabled="formStockCategory.$invalid">
                                         <span ng-if="!stockCategoryForm.isEdit">Create </span>
                                        <span ng-if="stockCategoryForm.isEdit">Update </span>
                                        
                                    </button>
                                    <a class="btn btn-danger" ng-show="stockCategoryForm.isEdit" ng-click="clearStockCategoryForm()">
                                         Cancel
                                    </a>
								</form>

							</div>
						</div>
					</div>


					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Available Category</h3>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<ul class="pagination" style="margin: 0;">
					                    <li>
					                        <ul class="pagination" style="margin: 0;">
					                            <li><a href="" ng-click="categoryPagination.prevPage()">&laquo; Previous</a></li>
					                            <li ng-repeat="n in [] | range: categoryPagination.numPages" ng-class="{active: n == categoryPagination.page}">
					                                <a href="" ng-click="categoryPagination.toPageId(n)">{{n + 1}}</a>
					                            </li>
					                            <li><a href="" ng-click="categoryPagination.nextPage()">Next &raquo; </a></li>
					                        </ul>
					                    </li>
					                </ul>
        						</div>
								<table class="table  table-curved">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Description</th>
											<th>Store Name</th>
											<th>&nbsp;</th>
											<th>&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<!-- <tr ng-repeat="s in stockCategories"> -->
										<tr ng-repeat="s in stockCategories | startFrom: categoryPagination.page * categoryPagination.perPage | limitTo: categoryPagination.perPage | orderBy: 'categoryName'">
											<td>{{$index + 1}}</td>
											<td>{{s.categoryName}}</td>
											<td>{{s.discription}}</td>
											<td>{{s.store.storeName}}</td>
											<td><a ng-click="editStockCategory(s)"><i class="glyphicon glyphicon-edit"></i></a></td>
											<td><a ng-confirm-message="Are you sure for Delete?" ng-confirm-condition="true" ng-confirm-click="removeStockCategory(s)"><i class="glyphicon glyphicon-trash"></i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
                <hr/>
                <div class="well">
                    <a class="btn btn-default" wz-previous="clearStoreTab()">« Previous Step - Stores</a>
                    <a class="btn btn-lg btn-warning" wz-next="clearUnitsTab()">Next Step - Units »</a>
                </div>
            </wz-step>


            <!-- Step: Units  -->
            <wz-step title="Units">
                <div style="margin-top: 10px;"></div>
                <h3><i class="fa fa-cogs"></i> Configure Units</h3>
                <div class="row">
                    <div class="col-md-6">
					<!--<pre>{{stockUnitsForm | json}}</pre>-->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Stock Units</h3>
						</div>
						<div class="panel-body">
							<form name="formStockUnits" ng-submit="submitStockUnits(formStockUnits)" novalidate>
								<div class="form-group">
									<label for="unitName">Unit Name</label>
									<input type="text" name="unitName" class="form-control" ng-model="stockUnitsForm.unitName" required>
								</div>
								<div ng-show="formStockUnits.unitName.$error.mongoose" style="color:red;">{{formStockUnits.unitName.$error.mongoose}}</div>
								<div class="form-group">
									<label for="baseUnit">Base Unit</label>
									<select name="baseUnit" ng-model="stockUnitsForm.baseUnit" class="form-control" ng-options="s.name for s in baseUnits" required>
										<option value="">Select Base Unit</option>
									</select>
									<span class="help-block" ng-show="formStockUnits.baseUnit.$error.required && formStockUnits.baseUnit.$dirty">
                						Select a base unit !
            						</span>
								</div>
								<div class="form-group">
									<label for="conFactor">Conversion Factor</label>
									<input type="text" name="conFactor" class="form-control" ng-model="stockUnitsForm.conversionFactor"  smart-float1 required>
									<span class="help-block" ng-show="formStockUnits.conFactor.$error.float">
                						Invalid Conversion Factor
            						</span>
								</div>
								<button type="submit" class="btn btn-success"  ng-disabled="formStockUnits.$invalid">
                                         <span ng-if="!stockUnitsForm.isEdit">Create </span>
                                        <span ng-if="stockUnitsForm.isEdit">Update </span>
                                        
                                </button>
                                <a class="btn btn-danger" ng-show="stockUnitsForm.isEdit" ng-click="clearStockUnitForm()">
                                    Cancel
                                </a>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Available Units</h3>
							</div>

							<div class="panel-body">
								<div class="form-group">
									<input type="text" ng-model="searchUnits.unitName" placeholder="Search Units" class="form-control">
								</div>
								<div class="form-group">
									<ul class="pagination" style="margin: 0;">
					                    <li>
					                        <ul class="pagination" style="margin: 0;">
					                            <li><a href="" ng-click="unitPagination.prevPage()">&laquo; Previous</a></li>
					                            <li ng-repeat="n in [] | range: unitPagination.numPages" ng-class="{active: n == unitPagination.page}">
					                                <a href="" ng-click="unitPagination.toPageId(n)">{{n + 1}}</a>
					                            </li>
					                            <li><a href="" ng-click="unitPagination.nextPage()">Next &raquo; </a></li>
					                        </ul>
					                    </li>
					                </ul>
        						</div>
								<div class="table-responsive">
									<table class="table table-curved">
										<thead>
											<tr>
												<th>#</th>
												<th>Unit Name</th>
												<th>Conversion Factor</th>
												<th>Base Unit</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											<!-- <tr ng-repeat="s in stockUnits | filter: searchUnits "> -->
											<tr ng-repeat="s in stockUnits |filter: searchUnits| startFrom: unitPagination.page * unitPagination.perPage | limitTo: unitPagination.perPage | orderBy: 'unitName'">
												<td>{{$index + 1}}</td>
												<td>{{s.unitName}}</td>
												<td>{{s.conversionFactor}}</td>
												<td>{{s.baseUnit.name}}</td>
												<td><a ng-click="editStockUnits(s)"><i class="glyphicon glyphicon-edit"></i></a></td>
												<td><a ng-confirm-message="Are you sure for Delete?" ng-confirm-condition="true" ng-confirm-click="removeStockUnits(s)"><i class="glyphicon glyphicon-trash"></i></a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
				</div>
                </div>
                <hr/>
                <div class="well">
                    <a class="btn btn-default" wz-previous="clearCategoryTab()">« Previous Step - Categorys</a>
                    <a class="btn btn-lg btn-warning" wz-next="clearItemsTab()">Next Step - Items »</a>
                </div>
            </wz-step>

            <!-- Step: Items  -->
            <wz-step title="Items">
                <div style="margin-top: 10px;"></div>
                <h3><i class="fa fa-cogs"></i> Configure Items</h3>
                <div class="row">
                    <div class="col-md-6">
					<!-- <pre>{{stockItemsForm | json}}</pre> -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Stock Items</h3>
						</div>
						<div class="panel-body">
							<form name="formStockItems" ng-submit="submitStockItems(formStockItems)" novalidate>
								<div class="form-group">
									<ul id="{{key}}" ng-show="stockItemsForm.{{key}}" ng-repeat="(key, value) in stockUnits | groupBy: 'baseUnit.name'" style="list-style-type: none;"  >
  										<b style="margin-left:-50px;color:#3287E0;">Unit Type: {{ key }}</b>
  										<li ng-repeat="u in value">
  											<label for="{{u._id}}">
  												<input type="checkbox" ng-change="disableOthersGroup(key,u._id)" id="{{u._id}}" ng-model="stockItemsForm.Unit[u._id]" >
  												{{ u.unitName }} ({{u.conversionFactor}})
  											</label>    										 
  										</li>
									</ul>
								</div>
								<div class="form-group">
									<label for="itemName">Item Name</label>
									<input type="text" name="itemName" class="form-control" ng-trim="true" ng-model="stockItemsForm.itemName" required>
								</div>
								<div ng-show="formStockItems.itemName.$error.mongoose" style="color:red;">{{formStockItems.itemName.$error.mongoose}}</div>
								<button type="submit" class="btn btn-success"  ng-disabled="formStockItems.$invalid">
                                         <span ng-if="!stockItemsForm.isEdit">Create Item</span>
                                        <span ng-if="stockItemsForm.isEdit">Update Item</span>
                                        
                                </button>
                                <a class="btn btn-danger" ng-show="stockItemsForm.isEdit" ng-click="clearStockItemForm()">
                                    Cancel
                                </a>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Available Items</h3>
							</div>

							<div class="panel-body">
								<!--<pre>{{stockItemsPUnit | json}}</pre>-->
								<div class="form-group">
									<input type="text" ng-model="searchItems.itemName" placeholder="Search Items" class="form-control">
								</div>
								<div class="form-group">
									<ul class="pagination" style="margin: 0;">
					                    <li>
					                        <ul class="pagination" style="margin: 0;">
					                            <li><a href="" ng-click="itemPagination.prevPage()">&laquo; Previous</a></li>
					                            <li ng-repeat="n in [] | range: itemPagination.numPages" ng-class="{active: n == itemPagination.page}">
					                                <a href="" ng-click="itemPagination.toPageId(n)">{{n + 1}}</a>
					                            </li>
					                            <li><a href="" ng-click="itemPagination.nextPage()">Next &raquo; </a></li>
					                        </ul>
					                    </li>
					                </ul>
        						</div>
								<table class="table  table-curved">
									<thead>
										<tr>
											<th>#</th>
											<th>Item Name</th>
											<th>Units</th>
											<th>Preferred Unit</th>
											<th>&nbsp;</th>
											<th>&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<!-- <tr ng-repeat="s in stockItems | filter: searchItems:strict "> -->
										<tr ng-repeat="s in stockItems |filter: searchItems:strict| startFrom: itemPagination.page * itemPagination.perPage | limitTo: itemPagination.perPage | orderBy: 'itemName'">
											<td>{{$index + 1}}</td>
											<td>{{s.itemName}}</td>
											<td >
												<span ng-repeat="i in s.units">
													{{i.unitName}},
												</span>												
											</td>
											<td>
												<select   ng-model="s.preferedUnit" ng-options="sa._id as sa.unitName for sa in s.units" ng-change="updatePreferedUnit(s.preferedUnit,s)" class="form-control">
													<option value="">Select</option>
													<!--<option id="sa._id" ng-repeat="sa in s.units" value="{{sa.unitName}}" ng-selected="sa.selected">{{sa.unitName}}</option>-->
												</select>
											</td>
											<td><a ng-click="editStockItems(s)"><i class="glyphicon glyphicon-edit"></i></a></td>
											<td><a ng-confirm-message="Are you sure for Delete?" ng-confirm-condition="true" ng-confirm-click="removeStockItems(s)"><i class="glyphicon glyphicon-trash"></i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
				</div>
                </div>
                <hr/>
                <div class="well">
                    <a class="btn btn-default" wz-previous="clearUnitsTab()">« Previous Step - Units</a>
                    <a class="btn btn-lg btn-warning" wz-next="clearItemsInStoreTab()">Next Step - Items to store »</a>
                </div>
            </wz-step>

            <!-- Step: Items to Store  -->
            <wz-step title="Items to store">
                <div style="margin-top: 10px;"></div>
                <h3><i class="fa fa-cogs"></i> Configure Items to store </h3>
                <div class="row">
                    <div class="col-md-6">
					<!--<pre>{{AssignItemToStoreForm | json}}</pre>-->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Add Item to Store</h3>
						</div>
						<div class="panel-body">
							<form name="formAssignItemToStore" ng-submit="transferToStore(formAssignItemToStore)" novalidate>
								<!--<div ng-repeat="s in stores">-->
									<div class="form-group">
										<label for="storeName">Store</label>
										<select  name="storeName" ng-change="OnStoreChange(AssignItemToStoreForm.store)" ng-model="AssignItemToStoreForm.store"
	                                    		ng-options="ss.storeName for ss in stores" class="form-control">
	                                			<option value="">Select Store</option>
	                            		</select>								
									</div>
									<div class="form-group">
										<label for="categoryName">Category</label>
										<select name="categoryName" class="form-control" ng-change="OnCategoryChange(AssignItemToStoreForm.category)" ng-model="AssignItemToStoreForm.selectedCategory" ng-options="c.categoryName for c in AssignItemToStoreForm.category">
											<option value="">Select Category</option>
										</select>										
									</div>
									<div class="form-group">
										<label for="itemName">Item Name</label>
										<select name="itemName" class="form-control" ng-model="AssignItemToStoreForm.selectedItem" ng-options="i.itemName for i in AssignItemToStoreForm.items">
											<option value="">Select Item</option>
										</select>
									</div>
									<button type="submit" class="btn btn-success"  ng-disabled="formAssignItemToStore.$invalid">
                                         <span>Transfer</span>                                        
                                	</button>
								<!--</div>-->
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Available Items</h3>
							</div>

							<div class="panel-body">
								<div class="form-group">
									<input type="text" ng-model="searchItems1.itemName" placeholder="Search Items" class="form-control">
								</div>
								<div ng-show="AssignItemToStoreForm.selectedCategory.item.length > 0" class="form-group">
									<ul class="pagination" style="margin: 0;">
					                    <li>
					                        <ul class="pagination" style="margin: 0;">
					                            <li><a href="" ng-click="siPagination.prevPage()">&laquo; Previous</a></li>
					                            <li ng-repeat="n in [] | range: siPagination.numPages" ng-class="{active: n == siPagination.page}">
					                                <a href="" ng-click="siPagination.toPageId(n)">{{n + 1}}</a>
					                            </li>
					                            <li><a href="" ng-click="siPagination.nextPage()">Next &raquo; </a></li>
					                        </ul>
					                    </li>
					                </ul>
        						</div>
								<table class="table table-curved">
									<thead>
										<tr>
											<th>#</th>
											<th>Item Name</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<!-- <tr ng-repeat="s in AssignItemToStoreForm.selectedCategory.item | filter: searchItems1:strict "> -->
										<tr ng-repeat="s in AssignItemToStoreForm.selectedCategory.item |filter: searchItems1:strict | startFrom: siPagination.page * siPagination.perPage | limitTo: siPagination.perPage | orderBy: 'itemName'">
											<td>{{$index + 1}}</td>
											<td>{{s.itemName}}</td>
											<td><a ng-confirm-message="Are you sure for Delete?" ng-confirm-condition="true" ng-confirm-click="removeTransferedStockItems(s,AssignItemToStoreForm.store)"><i class="glyphicon glyphicon-trash"></i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
				</div>
                </div>
                <hr/>
                <div class="well">
                    <a class="btn btn-default" wz-previous="clearItemsTab()">« Previous Step - Items</a>
                    <a class="btn btn-lg btn-warning" wz-next="clearVendorTab()">Next Step - Vendor »</a>
                </div>
            </wz-step>


            <!-- Step: Vendors  -->
            <wz-step title="Vendors">
                <div style="margin-top: 10px;"></div>
                <h3><i class="fa fa-cogs"></i> Configure Vendors</h3>
                <div class="row">
                    <div class="col-md-12">
			<div style="margin-top:20px;"></div>
			<div class="row">
				<div class="col-md-12">
					<!-- <pre>{{createVendorForm | json}}</pre> -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Create Vendor</h3>
						</div>
						<div class="panel-body">
							<form name="formCreateVendor" ng-submit="createVendor(formCreateVendor)" novalidate>
								<div class="form-group">
									<label for="storeName">Store </label>
									<select  name="storeName" ng-disabled="createVendorForm.disableStore" ng-change="OnStoreChange_VendorForm(createVendorForm.store)" ng-model="createVendorForm.store"
	                                    		ng-options="ss.storeName for ss in stores" class="form-control">
	                                			<option value="">Select Store</option>
	                            		</select>
								</div>
								<div class="form-group">
									<span>Select Category </span>
									<span ng-repeat="c in createVendorForm.category">
										<label for="{{c._id}}">
											<input type="checkbox" name="{{c._id}}" ng-change="vendorChk_Changed(c._id)" ng-model="createVendorForm.selectedCategory[c._id]">
											{{c.categoryName}}
										</label>
									</span>
								</div>
								<div class="form-group">
									<label for="deploymentName">Deployment</label>
									<select name="deploymentName" ng-change="depChange_CreateVendor(createVendorForm.deployments)" ng-options="d.name for d in deployment" ng-model="createVendorForm.deployments" class="form-control">
										<option value="">Select Deployment</option>
									</select>
								</div>
								<div class="form-group">
									<label for="vendorName">Vendor Name</label>
									<input type="text" name="vendorName" ng-disabled="createVendorForm.isHO" ng-model="createVendorForm.vendorName" class="form-control" required>
								</div>
								<div ng-show="formCreateVendor.vendorName.$error.mongoose" style="color:red;">{{formCreateVendor.vendorName.$error.mongoose}}</div>
								<div class="form-group">
									<label for="contactPerson">Contact Person</label>
									<input type="text" ng-model="createVendorForm.contactPerson" class="form-control">
								</div>
								<div class="form-group">
									<label for="contactNumber">Contact Number</label>
									<input type="text" ng-model="createVendorForm.contactNumber" class="form-control">
								</div>
								<div class="form-group">
									<label for="address">Address</label>
									<input type="text" ng-model="createVendorForm.address" class="form-control">
								</div>
								<div class="form-group">
									<label for="tinNumber">Tin Number</label>
									<input type="text" ng-model="createVendorForm.tinNumber" class="form-control">
								</div>
								<div class="form-group">
									<label for="serviceTaxNumber">Service Tax Number</label>
									<input type="text" ng-model="createVendorForm.serviceTaxNumber" class="form-control">
								</div>
								<div class="form-group">
									<label for="emailid">Email-Id</label>
									<input type="email" ng-model="createVendorForm.email" name="emailid" class="form-control">
								</div>
								<div ng-show="formCreateVendor.emailid.$error.email" style="color:red;">
									Not a valid Email
								</div>
								<!--<div ng-show="formStockItems.itemName.$error.mongoose" style="color:red;">{{formStockItems.itemName.$error.mongoose}}</div>-->
								<button type="submit" class="btn btn-success"  ng-disabled="formCreateVendor.$invalid">
                                         <span ng-if="!createVendorForm.isEdit">Create Vendor</span>
                                        <span ng-if="createVendorForm.isEdit">Update Vendor</span>
                                        
                                </button>
                                <a class="btn btn-danger" ng-show="createVendorForm.isEdit" ng-click="clearCreateVendorForm()">
                                    Cancel
                                </a>
							</form>
						</div>
					</div>
				</div>

				<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Available Vendors</h3>
							</div>

							<div class="panel-body">
								<div class="form-group">
									<input type="text" ng-model="searchVendor.vendorName" placeholder="Search Vendor" class="form-control">
								</div>
								<div ng-show="createVendorForm.availableVendor.length > 0" class="form-group">
									<ul class="pagination" style="margin: 0;">
					                    <li>
					                        <ul class="pagination" style="margin: 0;">
					                            <li><a href="" ng-click="venPagination.prevPage()">&laquo; Previous</a></li>
					                            <li ng-repeat="n in [] | range: venPagination.numPages" ng-class="{active: n == venPagination.page}">
					                                <a href="" ng-click="venPagination.toPageId(n)">{{n + 1}}</a>
					                            </li>
					                            <li><a href="" ng-click="venPagination.nextPage()">Next &raquo; </a></li>
					                        </ul>
					                    </li>
					                </ul>
        						</div>
								<table class="table table-curved">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Contact Person</th>
											<th>Ph.Nos</th>
											<th>Address</th>
											<th>TinNo</th>
											<th>EmailId</th>
											<th>ServiceTaxNo</th>
											<th>Category</th>
											<th>VendorType</th>
											<th></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<!-- <tr ng-repeat="s in createVendorForm.availableVendor | filter: searchVendor:strict "> -->
										<tr ng-repeat="s in createVendorForm.availableVendor  |filter: searchVendor:strict | startFrom: venPagination.page * venPagination.perPage | limitTo: venPagination.perPage | orderBy: 'vendorName'">
											<td>{{$index + 1}}</td>
											<td>{{s.vendorName}}</td>
											<td>{{s.contactPerson}}</td>
											<td>{{s.contactNumber}}</td>
											<td>{{s.address}}</td>
											<td>{{s.tinNumber}}</td>
											<td>{{s.email}}</td>
											<td>{{s.serviceTaxNumber}}</td>
											<td>
												<span ng-repeat="p in s.pricing.category">
													{{p.categoryName}}
												</span>
											</td>
											<td>{{s.type}}</td>
											<td><a ng-click="editVendors(s)"><i class="glyphicon glyphicon-edit"></i></a></td>
											<td><a ng-confirm-message="Are you sure for Delete?" ng-confirm-condition="true" ng-confirm-click="removeVendors(s)"><i class="glyphicon glyphicon-trash"></i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
				</div>

				
				<div class="col-md-12">
			<div style="margin-top:20px;"></div>
			<div class="row">
				<!-- <pre>{{vendorPricing | json}}</pre>  -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Set Vendor Pricing</h3>
					</div>
					<div class="panel-body">
						<form name="formVendorPricing" ng-submit="updateVendorPricing()" novalidate>
							<!-- <select name="deploymentName" ng-options="d.name for d in deployment" ng-change="onDepChange_vendorPricing()" ng-model="vendorPricing.deployments" class="form-control ">
							<option value="">Select Deployment</option>
						</select> -->
						<table class="table col-md-6">
							<thead>
								<tr>
									<th>Store </th>
									<th>Category</th>
									<th>Vendor</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<select  name="storeName"  ng-model="vendorPricing.store" ng-change="OnStoerChange_vendorPricing(vendorPricing.store)"
	                                    		ng-options="ss.storeName for ss in stores" class="form-control">
	                        <option value="">Select Store</option>
						</select>
									</td>
									<td>
										<select  name="categoryName"  ng-model="vendorPricing.category" ng-change="onCategoryChange_vendorPricing(vendorPricing.category)"
	                                    		ng-options="s.categoryName for s in vendorPricing.store.category" class="form-control">
	                        <option value="">Select Category</option>
						</select>
									</td>
									<td>
										<select  name="vendorName"  ng-model="vendorPricing.vendor" ng-change="onvendorChnage_VendorPricing(vendorPricing.vendor)"
	                                    		ng-options="s.vendorName for s in vendorPricing.availableVendor" class="form-control">
	                        <option value="">Select Vendor</option>
						</select>
									</td>
								</tr>
							</tbody>
						</table>
						
						
						

						<table class="table table-curved">
							<thead>
								<tr>
									<th>#</th>
									<th>Item Name</th>
									<th>Unit</th>
									<th>Price</th>
									<th>FromDate</th>
									<th>ToDate</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s in vendorPricing.categorys.item ">
									<td>{{$index + 1}}</td>
									<td>{{s.itemName}}</td>
									<td>
										<select name="unitName" ng-change="setPrefferedUnit_VendorPricing((vendorPricing.unit[s._id]),s._id)" id="s._id" ng-model="vendorPricing.unit[s._id]" ng-options="u.unitName for u in s.units" class="form-control">
												<option value="">Select Unit</option>
											</select>
									</td>
									<td><input type="text" id="s._id" ng-model="s.price" name="price" class="form-control"></td>
									<td>
                                        <!-- <input type="text" id="s._id" ng-model="s.fromDate" name="fromDate" class="form-control"> -->
                                        <input type="text" class="form-control" datepicker-popup="{{'dd-MMM-yyyy'}}"
								            name="s._id" ng-model="s.fromDate" ng-click="s.isopen[s._id] = true"
								            is-open="s.isopen[s._id]" datepicker-options="dateOptions" 
								            ng-required="true" close-text="Close" />
                                        <!-- <input  id="s._id" class="form-control"
									        type="date"
									        id="test"
									        name="birthdate"
									        ng-model="s.fromDate"
									        popup="d MMM yyyy"
									        options="dateOptions"
									        opened="opened"
									        custom-datepicker/> -->
									</td>
									<td>
										<!-- <input type="text" id="s._id"  ng-model="s.toDate" name="toDate" class="form-control"> -->
										<input type="text" class="form-control" datepicker-popup="{{'dd-MMM-yyyy'}}"
								            name="s.itemName" ng-model="s.toDate" ng-click="s.isopen[s.itemName] = true"
								            is-open="s.isopen[s.itemName]" datepicker-options="dateOptions" 
								            ng-required="true" close-text="Close" />
                                        <!-- <input id="s._id" class="form-control"
									        type="date"
									        id="test"
									        name="birthdate"
									        ng-model="s.toDate"
									        popup="d MMM yyyy"
									        options="dateOptions"
									        opened="opened"
									        custom-datepicker/> -->
									</td>
								</tr>
							</tbody>
						</table>
						<button type="submit" class="btn btn-success"  ng-disabled="vendorPricing.disableSubmit">
                                         <span>Save / Update</span>                                        
                        </button>
                                <a class="btn btn-danger"  ng-click="clearVendorPricingForm()">
                                    Cancel
                                </a>
						</form>
						
					</div>
				</div>
			</div>
		</div>
			</div>
		</div>
                </div>
                <hr/>
                <div class="well">
                    <a class="btn btn-default" wz-previous="clearItemsInStoreTab()">« Previous Step - Items to store</a>
                    <a class="btn btn-lg btn-warning" wz-next>Next Step - Receipes »</a>
                </div>
            </wz-step>

            <!-- Step: Receipes  -->
            <wz-step title="Recipe">
                <div style="margin-top: 10px;"></div>
                <h3><i class="fa fa-cogs"></i> Configure Receipes</h3>
                <div class="row">
                    <div class="col-md-12">
						<div class="panel panel-default">
							<!-- <pre>{{receipeForm | json}}</pre> -->
							<div class="panel-heading">
								<h3 class="panel-title">Create Recipe</h3>
							</div>
							<div class="panel-body">
								<form name="formReceipe" ng-submit="createStockRecipe(formReceipe)" novalidate>
									<div class="form-group">
										<label for="category">Select Category</label>
										<select name="Icategory" class="form-control" ng-change="bindItems_receipeForm(receipeForm.category)" ng-options="c.categoryName for c in categories" ng-model="receipeForm.category" required>
											<option value="">Select Category</option>
										</select>
									</div>
									<table>
										<thead>
											<th>Select Menu Items</th>
											<th>Qty</th>
											<th>Units</th>
											<th></th>
										</thead>	
										<tbody>
											<tr>
												<td>
													<select class="form-control" ng-change="OnItemChange(receipeForm.selectedItem)" ng-model="receipeForm.selectedItem" ng-options="i.name for i in receipeForm.items">
														<option value="">Select Menu Items</option>
													</select>
												</td>
												<td>
													<input type="text" name="qty" ng-model="receipeForm.selectedItem.quantity" class="form-control" required>
												</td>
												<td>
													<select name="iUnit" class="form-control" ng-model="receipeForm.selectedUnit" ng-options="u.unitName for u in receipeForm.units" required>
														<option value="">Select Units</option>
													</select>
												</td>
												<td>
													<button type="submit" class="btn btn-success"  ng-disabled="formReceipe.$invalid">Update</button>
												</td>
											</tr>
										</tbody>
									</table>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-12" ng-show="receipeForm.showReceipeForm">
						<div class="panel panel-default">
							<!-- <pre>{{receipeDetailForm | json}}</pre> -->
							<div class="panel-heading">
								<h3 class="panel-title">Recipe Detail</h3>
							</div>
							<div class="panel-body">
								<form name="formReceipeDetails" ng-submit="submitRecipeDetails(formReceipeDetails)">
									<div class="form-group">
										<table>
											<thead>
												<th>Item Name</th>
												<th>Qty</th>
												<th>Units</th>
												<th></th>
											</thead>
											<tbody>
												<tr>
													<td>
														 <input type="text" id="f_1" ng-enter="goNext(2)" ng-model="receipeDetailForm.selectedItem" typeahead="s.itemName for s in receipeDetailForm.stockItems | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select='OnItemChange_receipeDetailForm($item, $model, $label)'>
													</td>
													<td>
														<input id="f_2" type="text" ng-enter="goNext(3)" ng-model="receipeDetailForm.quantity" class="form-control" required>
													</td>
													<td>
														<select name="sUNits" id="f_3" class="form-control" ng-model="receipeDetailForm.selectedUnits" ng-enter="submitRecipeDetails(formReceipeDetails)" ng-options="u.unitName for u in receipeDetailForm.units" required>
															<option value="" >
																Select
															</option>
														</select>
													</td>
													<td>
														<button type="submit" class="btn btn-success"  ng-disabled="formReceipeDetails.$invalid">Add</button>	
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</form>

								<table class="table table-curved">
									<thead>
										<th>#</th>
										<th>Item Name</th>
										<th>Quantity</th>
										<th>Unit Name</th>
										<th></th>
									</thead>
									<tbody>
										<tr ng-repeat="i in availableReceipe">
											<td>{{$index+1}}</td>
											<td>{{i.itemName}}</td>
											<td>{{i.quantity}}</td>
											<td>{{i.selectedUnitName}}</td>
											<td><a ng-confirm-message="Are you sure for Delete?" ng-confirm-condition="true" ng-confirm-click="removeRecipeDetails(i)"><i class="glyphicon glyphicon-trash"></i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
                <hr/>
                <div class="well">
                    <a class="btn btn-default" wz-previous="clearVendorTab()">« Previous Step - Vendors</a>
                    <a class="btn btn-lg btn-warning" wz-next="clearPhysicalStockTab()">Next Step - Opening Stock »</a>
                </div>
            </wz-step>

            <!-- Step: Opening Stock  -->
            <wz-step title="Opening Stock">
                <div style="margin-top: 10px;"></div>
                <h3><i class="fa fa-cogs"></i> Configure Opening Stock</h3>
                <div class="row">
                    <div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Opening Stock</h3>
							<div align="right">
								<span>
												<a class="btn btn-danger" ng-click="resetPhysicalStockTab()">
													<span ng-if="!physicalStockForm.isEdit">Reset </span>
                                        			<span ng-if="physicalStockForm.isEdit">Edit</span>
												</a>
								</span></div>
						</div>
						<div class="panel-body">
							<form name="formPhysicalStock" ng-submit="submitPhysicalStock(formPhysicalStock)" novalidate>
								<table class="table">
									<tr>
										<td>Bill No</td>
										<td>
											<span  ng-show="physicalStockForm.showBill">
												{{physicalStockForm.tempBillNo}}
											</span>
										</td>

										<td>Bill Date</td>
										<td>
											<input type="text" date-format ng-disabled="physicalStockForm.isSaved" name="validFrom"
                                                                           class="form-control"
                                                                           datepicker-popup="{{'dd-MMM-yyyy'}}"
                                                                           ng-model="physicalStockForm.billDate"
                                                                           max-date="physicalStockForm.maxDate"
                                                                           is-open="physicalStockForm.billDate.open"
                                                                           ng-click="physicalStockForm.billDate.open = true"
                                                                           ng-change="tempBill_physicalStockForm(physicalStockForm.billDate)"
                                                                           datepicker-options="dateOptions"
                                                                           date-disabled="disabled(date, mode)"
                                                                           ng-required="true"
                                                                           close-text="Close"/>
										</td>

									</tr>
									<tr>

										<td>Select Store</td>
										<td>
											<select ng-disabled="physicalStockForm.isSaved"  ng-model="physicalStockForm.store" ng-change="bindCategory_physicalStockForm(physicalStockForm.store)" ng-options="s.storeName for s in stores" class="form-control">
													<option value="">Select Store </option>
												</select>
										</td>
										<td></td>										
										<td></td>
									</tr>
									<tr>
										<td colspan="12">
											<span >Select Category</span>
											<table class="table responsive">
												<tr>
													<td  ng-repeat="c in physicalStockForm.availableCategory">
															<label for="{{c._id}}">
															<input   ng-disabled="physicalStockForm.isSaved" type="checkbox" id="{{c._id}}" ng-model="physicalStockForm.selectedCategory[c._id]" ng-change="bindItems_physicalStockForm(c._id)">
															{{c.categoryName}}
														</label>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<table class="table">
										<tr>
											<td>
												<input  ng-disabled="physicalStockForm.isSaved" type="text" id="ts_ss" ng-enter="goNext(fs_11)" ng-model="physicalStockForm.itemToAdd" typeahead="item.itemName for item in physicalStockForm.remainingItems | filter:$viewValue | limitTo:8" class="form-control" placeholder="Search items to add in current list " typeahead-on-select='addRemainingItem_physicalStockForm($item, $model, $label)'>
											</td>
										</tr>
								</table>
								<table class="table table-curved"  ng-show="physicalStockForm.availableItems.length>0">
									<thead>
										<th ng-hide="physicalStockForm.isSaved"></th>
										<th>Item Name</th>
										<th>Unit</th>
										<th>Enter Quantity</th>
									</thead>
									<tbody>
										<tr ng-repeat="item in physicalStockForm.availableItems">
											<td  ng-hide="physicalStockForm.isSaved">
												<a  ng-disabled="physicalStockForm.isSaved"  style="cursor:pointer;" ng-click="deleteSelectedItemPhysicalForm(item)"><i class="glyphicon glyphicon-remove"></i></a>
											</td>
											<td>
												{{item.itemName}}
											</td>
											<td>
												<select name="unitName" ng-disabled="physicalStockForm.isSaved"   ng-change="slectedUnit_physicalStockForm(physicalStockForm.selectedUnits)" ng-model="physicalStockForm.selectedUnits[item._id]"  ng-options="u.unitName for u in item.units" class="form-control">
													<option value="">Select Unit</option>
												</select>
											</td>
											<td >
												<input type="text" ng-disabled="physicalStockForm.isSaved" s id="phy_{{$index+1}}1"  ng-enter="goNextPhysicalStock({{$index+2}}1)" ng-model="item.qty" class="form-control" float>
											</td>											
										</tr>
									</tbody>
								</table>
								<button id="submitPhysicalStock" type="submit" class="btn btn-success"  ng-disabled="physicalStockForm.enableSubmit">
                                         <span ng-if="!physicalStockForm.isPrint">Submit </span>
                                        	<span ng-if="physicalStockForm.isPrint">Print </span>
                                </button>							
							</form>
						</div>
					</div>
                </div>
                <hr/>
                <div class="well">
                    <a class="btn btn-default" wz-previous>« Previous Step - Recipes</a>
                    <a class="btn btn-lg btn-warning" wz-next="onFinishWizard()">Finish, you are ready to Start!</a>
                </div>
            </wz-step>
        </wizard>
    </div>
</div>
