<!--<pre>{{isNew|json}}</pre>-->
<div class="modal-header">
    <h3 class="modal-title">Create/Update DataList</h3>
</div>

<form name="dateListForm" >
<div style="padding: 5px;" class="form-inline">
    <table>
        <tr><td>Data List Name:</td><td> <input type="text"  ng-disabled=!isNew class="form-control" name="name" ng-model="dateListName"  placeholder="Date List Name" required="true"></input>
            <span  style="font-size: 10px;color:red;font-style: italic;" ng-show="dateListForm.name.$error.required && dateListForm.$dirty ">
                * required.
            </span></td></tr>
        <tr><td>Repeat:</td><td> <select class="form-control" ng-model="repeat" >
            <option value="daily" >No Repeat</option>
            <option value="monthly" >Monthly</option>
            <option value="yearly">Yearly</option>
        </select></td></tr>
    </table>

</div>

<div >
    <multiple-date-picker disallow-back-past-months=(isNew) days-selected="selectedDays" day-click="logInfos" />
</div>
<div class="modal-footer">
    <a class="btn btn-primary" ng-click="saveUpdate()" ng-disabled="!dateListForm.$valid" >Update/Create</a>
    <a class="btn btn-danger" ng-click="cancel()" >Cancel</a>
</div>
</form>
