<div class="modal-header">
    <h3 class="modal-title">Create New Deployment</h3>
</div>
<form name="dForm" ng-submit="ok(dForm)" novalidate>
    <div class="modal-body">
      <!--<pre>
        {{deploymentForm | json}}
      </pre>-->

        <div class="form-group">


            <div class="form-group has-feedback"
                 ng-class="{'has-success':dForm.dName.$valid && submittedDepForm,'has-error':dForm.dName.$invalid && dForm.dName.$dirty}">
                <label>Outlet Name</label>
                <input type="text" name="dName" ng-model="deploymentForm.name" placeholder="Outlet Name"
                       class="form-control" required focus-me />
                <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : dForm.dName.$error.required }"></span>
                <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : dForm.dName.$valid }"></span>
            </div>
        </div>

        <div class="form-group">
            <label>Mobile</label>
            <input type="text" name="dMobile" ng-model="deploymentForm.mobile" placeholder="Mobile"
                   class="form-control" numeric-only/>
        </div>

        <div class="form-group">
            <label>Telephone</label>
            <input type="text" name="dTelephone" ng-model="deploymentForm.telephone" placeholder="Telephone"
                   class="form-control" numeric-only/>
        </div>

        <div class="form-group">
            <label>Address Line 1</label>
            <input type="text" name="dAddressLine1" ng-model="deploymentForm.address1" placeholder="Address Line 1"
                   class="form-control"/>
        </div>

        <div class="form-group">
            <label>Address Line 2</label>
            <input type="text" name="dAddressLine2" ng-model="deploymentForm.address2" placeholder="Address Line 2"
                   class="form-control"/>
        </div>

        <div class="form-group">
            <label>City</label>
            <input type="text" name="dCity" ng-model="deploymentForm.city" placeholder="City" class="form-control"/>
        </div>

        <div class="form-group">
            <label>State</label>
            <input type="text" name="sState" ng-model="deploymentForm.state" placeholder="State" class="form-control"/>
        </div>

        <div class="form-group">
            <label>Is Base Kitchen</label>
            <input type="checkbox" name="dBaseKitchen" ng-model="deploymentForm.isBaseKitchen" />
        </div>


    </div>
    <div class="modal-footer">
         

        <button class="btn btn-success" type="submit">Create</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
