<div class="modal-header">
    <h3 class="modal-title">Show Codes</h3>
</div>
<div class="row" id="exp" style="padding:2px;">
    <div ng-repeat="code in codes">
        <div class="col-md-2">
             <div class="btn btn-default" >   {{code}} </div>
        </div>
    </div>
</div>

<div id="exportable"  style="visibility: hidden;height: 0px">
    <!--<table width="20%" border="1" cellpadding="0" cellspacing="0" >

        <tr>
            <th>{{offerCode.name}}</th>
            <th>Valid From</th>
            <th>Valid To</th>
        </tr>

        <tr ng-repeat="code in codes">
            <td>{{code}}</td>
            <td>{{offerCode.validFrom|date:'dd MMM yyyy'}}</td>
            <td>{{offerCode.validTo|date:'dd MMM yyyy'}}</td>
        </tr>

    </table>-->
</div>
</div>
<div class="modal-footer">
    <input type="button" class="btn btn-primary btn-xs" value="Export" ng-click="exportToExcel()" style="float:left" >   <a> <i class="btn btn-primary" ng-click="cancel()">Close</i></a>
</div>