<tabset>
	<tab heading="Requirement" style="cursor:pointer;" ng-click="clearRequirementTab()">
		<div ng-cloak class="row">
			<div style="margin-top: 20px;"></div>
			<div  class="col-md-12">
				<div class="row">
					<!-- <pre>{{requirementForm | json}}</pre> -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Requirement Report</h3>
						</div>
						<div class="panel-body">
							<form name="formRequirement" novalidate>
								<table class="table">
									<tr>
										<td>Select From :</td>
										<td>
											<input type="text" date-format  name="validFrom"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="requirementForm.fromDate" max-date="requirementForm.maxDate" is-open="requirementForm.fromDate.open" ng-click="requirementForm.fromDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true"  ng-required="true"close-text="Close" ng-change="checkDateGreater(requirementForm.fromDate);"/>
										</td>

										<td>Select To :</td>
										<td>
											<input type="text" date-format  name="validTo"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="requirementForm.toDate" max-date="requirementForm.maxDate" is-open="requirementForm.toDate.open" ng-click="requirementForm.toDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true"  ng-required="true"close-text="Close" ng-change="checkDateLesser(requirementForm.toDate);"/>
										</td>

									</tr>
									<tr ng-hide="isBaseKitchen">
										<td >Select Vendor</td>
										<td>
											<select  ng-model="requirementForm.vendor" ng-change="bindItems(requirementForm.vendor)" ng-options="s.vendorName for s in requirementForm.vendors" class="form-control">
									 				<option value="">Select All </option>
											</select>
										</td>
										<td>Select Items</td>
										<td>
											<select  ng-model="requirementForm.items"  ng-options="s.itemName for s in requirementForm.availableItems" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
									</tr>
									<tr ng-show="isBaseKitchen">
										<td>Select OutLet</td>
										<td>
											<select  ng-model="requirementForm.outlet"  ng-options="s.name for s in requirementForm.availableOutlets" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
									</tr>
									<tr>
										<td colspan="4">
											<a class="btn btn-success"  ng-click="startSearchRequirement()">Submit</a>

											<div class="btn-group" ng-show="requirementForm.reportData.length >0 || requirementForm.reportDataBK.length >0">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    Export <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											    <li><a  style="cursor:pointer;"  ng-click="exportToPdf_requirement()">PDF</a></li>
											    <li><a  id="req" style="cursor:pointer;" ng-click="exportToExcel_requirement()">CSV</a></li>
											    <!-- <li><a href="#">Something else here</a></li>
											    <li role="separator" class="divider"></li>
											    <li><a href="#">Separated link</a></li> -->
											  </ul>
											</div>
										</td>
									</tr>
								</table>

								<div id="requirementReport">
									<table class="table table-curved" style="width:100%" border="1" ng-show="requirementForm.reportData.length>0">
										<thead>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" ></th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff"  colspan="3">Requested Req.</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff"  colspan="6">Supplied Req.</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff"  colspan="6">Received Req.</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff"  colspan="2">Suspense</th>
										</thead>
										<tbody>
											<tr >
												<td style="background-color:#abc123">ItemName</td>

												<td style="background-color:#abc123">Qty</td>
												<td style="background-color:#abc123">Unit</td>
												<td style="background-color:#abc123">Comment</td>

												<td style="background-color:#abc123">Date</td>
												<td style="background-color:#abc123">Qty</td>
												<td style="background-color:#abc123">Unit</td>
												<td style="background-color:#abc123">UnitPrice</td>
												<td style="background-color:#abc123">Amount</td>
												<td style="background-color:#abc123">Comment</td>

												<td style="background-color:#abc123">Date</td>
												<td style="background-color:#abc123">Qty</td>
												<td style="background-color:#abc123">Unit</td>
												<td style="background-color:#abc123">UnitPrice</td>
												<td style="background-color:#abc123">Amount</td>
												<td style="background-color:#abc123">Comment</td>

												<td style="background-color:#abc123">Qty</td>
												<td style="background-color:#abc123">Amount</td>
											</tr>
										</tbody>
										<tbody ng-repeat="r in requirementForm.reportData">
											<tr>
												<td style="background-color:#D8EFE5" colspan="18">Date:  {{r.created | date:'dd MMM yyyy hh:mm a'}}</td>
											</tr>
											<tr>
												<td style="background-color:#abc456" colspan="18">Req No: IN-{{r.billNo}}</td>
											</tr>
											<tr>
												<td style="background-color:#abcabd" colspan="18">Requester: {{r.vendorName}}</td>
											</tr>
											<tr ng-repeat="i in r.items">
												<td>{{i.itemName}}</td>

												<td>{{i.qty}}</td>
												<td>{{i.selectedUnit.unitName}}</td>
												<td>{{i.comment}}</td>

												<td>{{r.supplyDate | date:'dd MMM yyyy hh:mm a'}}</td>
												<td>{{i.supplyQty}}</td>
												<td>{{i.sUnitName}}</td>
												<td>{{i.sPrice}}</td>
												<td>{{i.sAmount}}</td>
												<td>{{i.supplyComment}}</td>

												<td>{{r.receiveDate | date:'dd MMM yyyy hh:mm a'}}</td>
												<td>{{i.receiveQty}}</td>
												<td>{{i.rUnitName}}</td>
												<td>{{i.rPrice}}</td>
												<td>{{i.rAmount}}</td>
												<td>{{i.receiveComment}}</td>

												<td>{{i.suspenceQty}}</td>
												<td>{{i.suspencePrice}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div id="requirementReportBK">
									<table class="table table-curved" style="width:100%" border="1" ng-show="requirementForm.reportDataBK.length>0">
										<thead>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" ></th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff"  colspan="3">Requested Req.</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff"  colspan="6">Supplied Req.</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff"  colspan="6">Received Req.</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff"  colspan="2">Suspense</th>
										</thead>
										<tbody>
											<tr >
												<td style="background-color:#abc123">ItemName</td>

												<td style="background-color:#abc123">Qty</td>
												<td style="background-color:#abc123">Unit</td>
												<td style="background-color:#abc123">Comment</td>

												<td style="background-color:#abc123">Date</td>
												<td style="background-color:#abc123">Qty</td>
												<td style="background-color:#abc123">Unit</td>
												<td style="background-color:#abc123">UnitPrice</td>
												<td style="background-color:#abc123">Amount</td>
												<td style="background-color:#abc123">Comment</td>

												<td style="background-color:#abc123">Date</td>
												<td style="background-color:#abc123">Qty</td>
												<td style="background-color:#abc123">Unit</td>
												<td style="background-color:#abc123">UnitPrice</td>
												<td style="background-color:#abc123">Amount</td>
												<td style="background-color:#abc123">Comment</td>

												<td style="background-color:#abc123">Qty</td>
												<td style="background-color:#abc123">Amount</td>
											</tr>
										</tbody>
										<tbody ng-repeat="r in requirementForm.reportDataBK">
											<tr>
												<td style="background-color:#D8EFE5" colspan="18">Date:  {{r.created | date:'dd MMM yyyy hh:mm a'}}</td>
											</tr>
											<tr>
												<td style="background-color:#abc456" colspan="18">Req No: IN-{{r.billNo}}</td>
											</tr>
											<tr>
												<td style="background-color:#abcabd" colspan="18">Requester: {{r.deploymentName}}</td>
											</tr>
											<tr ng-repeat="i in r.items">
												<td>{{i.itemName}}</td>

												<td>{{i.qty}}</td>
												<td>{{i.selectedUnit.unitName}}</td>
												<td>{{i.comment}}</td>

												<td>{{r.supplyDate | date:'dd MMM yyyy hh:mm a'}}</td>
												<td>{{i.supplyQty}}</td>
												<td>{{i.sUnitName}}</td>
												<td>{{i.sPrice}}</td>
												<td>{{i.sAmount}}</td>
												<td>{{i.supplyComment}}</td>

												<td>{{r.receiveDate | date:'dd MMM yyyy hh:mm a'}}</td>
												<td>{{i.receiveQty}}</td>
												<td>{{i.rUnitName}}</td>
												<td>{{i.rPrice}}</td>
												<td>{{i.rAmount}}</td>
												<td>{{i.receiveComment}}</td>

												<td>{{i.suspenceQty}}</td>
												<td>{{i.suspencePrice}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tab>

	<tab heading="Requirement Supply" style="cursor:pointer;" ng-click="clearRequirementSupplyTab()">
		<div ng-cloak class="row">
			<div style="margin-top: 20px;"></div>
			<div  class="col-md-12">
				<div class="row">
					<!-- <pre>{{requirementSupplyForm | json}}</pre> -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Requirement Supply Report</h3>
						</div>
						<div class="panel-body">
							<form name="formRequirementSupply" novalidate>
								<table class="table">
									<tr>
										<td>Select From :</td>
										<td>
											<input type="text" date-format  name="validFrom"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="requirementSupplyForm.fromDate" max-date="requirementSupplyForm.maxDate" is-open="requirementSupplyForm.fromDate.open" ng-click="requirementSupplyForm.fromDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true"  ng-required="true"close-text="Close" ng-change="checkDateGreater_requirementSupplyForm(requirementSupplyForm.fromDate);"/>
										</td>

										<td>Select To :</td>
										<td>
											<input type="text" date-format  name="validTo"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="requirementSupplyForm.toDate" max-date="requirementSupplyForm.maxDate" is-open="requirementSupplyForm.toDate.open" ng-click="requirementSupplyForm.toDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true"  ng-required="true"close-text="Close" ng-change="checkDateLesser_requirementSupplyForm(requirementSupplyForm.toDate);"/>
										</td>

									</tr>

                  <tr ng-hide="isBaseKitchen">
										<td >Select Vendor</td>
										<td>
											<!-- <select  ng-model="requirementSupplyForm.outlet"  ng-options="s.name for s in requirementSupplyForm.availableOutlets" class="form-control">
													<option value="">Select All </option>
											</select> -->
											<select  ng-model="requirementSupplyForm.outlet"  ng-options="s.vendorName for s in requirementSupplyForm.vendors" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
                  </tr>
                  <tr ng-show="isBaseKitchen">
                    <td>Select OutLet</td>
                    <td>
                      <select  ng-model="requirementSupplyForm.outlet"  ng-options="s.name for s in requirementSupplyForm.availableOutlets" class="form-control">
                        <option value="">Select All </option>
                      </select>
                    </td>
                  </tr>

                    <tr>
										<td colspan="4">
											<a class="btn btn-success"  ng-click="startSearchSupplyRequirement()">Submit</a>

											<div class="btn-group" ng-show="requirementSupplyForm.reportData.length >0 || requirementSupplyForm.reportDataBK.length >0">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    Export <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											    <li><a  style="cursor:pointer;"  ng-click="exportToPdf_requirementSupply()">PDF</a></li>
											    <li><a  id="reqSupply" style="cursor:pointer;" ng-click="exportToExcel_requirementSupply()">CSV</a></li>
											    <!-- <li><a href="#">Something else here</a></li>
											    <li role="separator" class="divider"></li>
											    <li><a href="#">Separated link</a></li> -->
											  </ul>
											</div>
										</td>
									</tr>
								</table>

								<div id="requirementSupplyReport">

									<table class="table table-curved" style="width:100%" border="1" ng-show="requirementSupplyForm.reportData.length>0">
										<thead>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" ></th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff"  colspan="3">Requested Req.</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff"  colspan="6">Supplied Req.</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff"  colspan="6">Received Req.</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff"  colspan="2">Suspense</th>
										</thead>
										<tbody>
											<tr>
												<td  style="background-color:#abc123">ItemName</td>

												<td  style="background-color:#abc123">Qty</td>
												<td  style="background-color:#abc123">Unit</td>
												<td  style="background-color:#abc123">Comment</td>

												<td  style="background-color:#abc123">Date</td>
												<td  style="background-color:#abc123">Qty</td>
												<td  style="background-color:#abc123">Unit</td>
												<td  style="background-color:#abc123">UnitPrice</td>
												<td  style="background-color:#abc123">Amount</td>
												<td  style="background-color:#abc123">Comment</td>

												<td  style="background-color:#abc123">Date</td>
												<td  style="background-color:#abc123">Qty</td>
												<td  style="background-color:#abc123">Unit</td>
												<td  style="background-color:#abc123">UnitPrice</td>
												<td  style="background-color:#abc123">Amount</td>
												<td  style="background-color:#abc123">Comment</td>

												<td  style="background-color:#abc123">Qty</td>
												<td  style="background-color:#abc123">Amount</td>
											</tr>
										</tbody>
										<tbody ng-repeat="r in requirementSupplyForm.reportData">
											<tr>
												<td  style="background-color:#D8EFE5" colspan="18">Date:  {{r.created | date:'dd MMM yyyy hh:mm a'}}</td>
											</tr>
											<tr>
												<td  style="background-color:#abc456" colspan="18">Req No: IN-{{r.billNo}}</td>
											</tr>
											<tr>
												<td  style="background-color:#accbad" colspan="18">Requester: {{r.vendorName}}</td>
											</tr>
											<tr ng-repeat="i in r.items">
												<td>{{i.itemName}}</td>

												<td>{{i.qty}}</td>
												<td>{{i.selectedUnit.unitName}}</td>
												<td>{{i.comment}}</td>

												<td>{{r.supplyDate | date:'dd MMM yyyy hh:mm a'}}</td>
												<td>{{i.supplyQty}}</td>
												<td>{{i.sUnitName}}</td>
												<td>{{i.sPrice}}</td>
												<td>{{i.sAmount}}</td>
												<td>{{i.supplyComment}}</td>

												<td>{{r.receiveDate | date:'dd MMM yyyy hh:mm a'}}</td>
												<td>{{i.receiveQty}}</td>
												<td>{{i.rUnitName}}</td>
												<td>{{i.rPrice}}</td>
												<td>{{i.rAmount}}</td>
												<td>{{i.receiveComment}}</td>

												<td>{{i.suspenceQty}}</td>
												<td>{{i.suspencePrice}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div id="requirementSupplyReportBk">
									<table  class="table table-curved" style="width:100%" border="1" ng-show="requirementSupplyForm.reportDataBK.length>0">
										<thead>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" ></th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff"  colspan="3">Requested Req.</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff"  colspan="6">Supplied Req.</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff"  colspan="6">Received Req.</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff"  colspan="2">Suspense</th>
										</thead>
										<tbody>
											<tr>
												<td  style="background-color:#abc123">ItemName</td>

												<td  style="background-color:#abc123">Qty</td>
												<td  style="background-color:#abc123">Unit</td>
												<td  style="background-color:#abc123">Comment</td>

												<td  style="background-color:#abc123">Date</td>
												<td  style="background-color:#abc123">Qty</td>
												<td  style="background-color:#abc123">Unit</td>
												<td  style="background-color:#abc123">UnitPrice</td>
												<td  style="background-color:#abc123">Amount</td>
												<td  style="background-color:#abc123">Comment</td>

												<td  style="background-color:#abc123">Date</td>
												<td  style="background-color:#abc123">Qty</td>
												<td  style="background-color:#abc123">Unit</td>
												<td  style="background-color:#abc123">UnitPrice</td>
												<td  style="background-color:#abc123">Amount</td>
												<td  style="background-color:#abc123">Comment</td>

												<td  style="background-color:#abc123">Qty</td>
												<td  style="background-color:#abc123">Amount</td>
											</tr>
										</tbody>
										<tbody ng-repeat="r in requirementSupplyForm.reportDataBK">
											<tr>
												<td  style="background-color:#D8EFE5" colspan="18">Date:  {{r.created | date:'dd MMM yyyy hh:mm a'}}</td>
											</tr>
											<tr>
												<td  style="background-color:#abc456" colspan="18">Req No: IN-{{r.billNo}}</td>
											</tr>
											<tr>
												<td  style="background-color:#accbad" colspan="18">Requester: {{r.vendorName}}</td>
											</tr>
											<tr ng-repeat="i in r.items">
												<td>{{i.itemName}}</td>

												<td>{{i.qty}}</td>
												<td>{{i.selectedUnit.unitName}}</td>
												<td>{{i.comment}}</td>

												<td>{{r.supplyDate | date:'dd MMM yyyy hh:mm a'}}</td>
												<td>{{i.supplyQty}}</td>
												<td>{{i.sUnitName}}</td>
												<td>{{i.sPrice}}</td>
												<td>{{i.sAmount}}</td>
												<td>{{i.supplyComment}}</td>

												<td>{{r.receiveDate | date:'dd MMM yyyy hh:mm a'}}</td>
												<td>{{i.receiveQty}}</td>
												<td>{{i.rUnitName}}</td>
												<td>{{i.rPrice}}</td>
												<td>{{i.rAmount}}</td>
												<td>{{i.receiveComment}}</td>

												<td>{{i.suspenceQty}}</td>
												<td>{{i.suspencePrice}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tab>
</tabset>
