<h1>Step 1: Tabs</h1>
		        <p>You can create Tabs here! For example, "Table", "Delivery", "Take Out", "Car"</p>

		        <div class="row">
		        	<div class="col-md-6">
		        		<div class="panel panel-default">
				            <div class="panel-heading">
				              <h3 class="panel-title">Create Tabs</h3>
				            </div>
				            <div class="panel-body">
				            	<form name="tabForm" role="form" ng-submit="submitTabForm(tabForm)">
								  <div class="form-group">
								    <label for="tab_name">Tab Name</label>
								    <input type="text" class="form-control" ng-model="tabForm.tabName" placeholder="Tab Name">
								  </div>
								  <div class="form-group">
								    <label for="exampleInputPassword1">Tab Details</label>
								    <textarea class="form-control" ng-model="tabForm.tabDetails" placeholder="Tab Details"></textarea>
								  </div>
								  <div class="form-group">
								    <div class="radio">
									  <label>
									    <input type="radio" ng-model="tabForm.tabType" value="Table" checked>
									    Table
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" ng-model="tabForm.tabType" value="Take Out">
									    Take Out
									  </label>
									</div>
									<div class="radio disabled">
									  <label>
									    <input type="radio" ng-model="tabForm.tabType" value="Delivery">
									    Delivery
									  </label>
									</div>
								  </div>
								  <button type="submit" class="btn btn-success">Submit</button>
								</form>
				            </div>
			          	</div>
		        	</div>
		        	<div class="col-md-6">
		        		<h4>List of created Tabs</h4>
		        		<ul class="list-group">
				            <li class="list-group-item" ng-repeat="tab in tabs">
				            	<a ng-click="removeTab()"><i class="glyphicon glyphicon-trash"></i></a> {{tab.tabName}}
				            </li>
			          	</ul>
		        	</div>
		        </div>