<div class="container-fluid">
    <div class="page-header">
        <h1><i class="fa fa-cutlery"></i> Master
            <small>Setup</small>
        </h1>
    </div>
    <div class="jumbotron">
        <wizard on-finish="finishedWizard()" hide-indicators="true">

            <!-- Step: Welcome -->
            <wz-step title="Welcome">
                <h2>Welcome, we will guide you in setting up your POS.</h2>

                <p>Please click next to Start. :-)</p>
                <a href="#" class="btn btn-primary btn-lg" wz-next value="Continue" role="button">Start »</a>
                <!-- <input type="submit" wz-next value="Continue" /> -->
            </wz-step>

            <!--<wz-step title="Deployments">
                <h2>Outlets/ Locations</h2>
                <p>Create your deployments/location here! Example: "Rohini (East)", "Netaji Subhas Place"</p>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <a style="margin-bottom:20px;" class="btn btn-lg btn-success" ng-click="addDeployement()">Add Location</a>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xs-18 col-sm-6 col-md-6" ng-repeat="d in deployments">
                        <div class="thumbnail">
                            &lt;!&ndash;<img src="http://placehold.it/500x300" alt="">&ndash;&gt;
                            <div class="caption">
                                <h4>{{d.name}}</h4>
                                &lt;!&ndash;<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>&ndash;&gt;
                                <div class="form-group">
                                    <label>Outlet Name</label>
                                    <input type="text" ng-model="d.name" placeholder="Type a Location" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Mobile</label>
                                    <input type="text" ng-model="d.mobile" ng-value="d.mobile" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label>Telephone</label>
                                    <input type="text" ng-model="d.telephone" ng-value="d.telephone" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label>Address Line 1</label>
                                    <input type="text" ng-model="d.address1" ng-value="d.address1" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label>Address Line 2</label>
                                    <input type="text" ng-model="d.address2" ng-value="d.address2" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" ng-model="d.city" ng-value="d.city" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" ng-model="d.state" ng-value="d.state" class="form-control" />
                                </div>

                                &lt;!&ndash;<p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>&ndash;&gt;
                            </div>
                        </div>
                    </div>

                </div>

                <div class="well">
                    <a class="btn btn-default" wz-previous>« Previous Step</a>
                    <a class="btn btn-lg btn-warning" wz-next="createDeployments()">Next Step »</a>
                </div>

            </wz-step>-->

            <!-- Step: Tabs -->
            <wz-step title="Tabs">
                <h2>Step 1: Tabs</h2>
                <!-- <pre>
                {{tabs | json}}
                </pre> -->
                <p>You can create Tabs here! For example, "Table", "Delivery", "Take Out", "Car"</p>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Create Tabs</h3>
                            </div>
                            <div class="panel-body">
                                <form name="form" role="form" ng-submit="submitTabForm(form)" novalidate>

                                    <div class="form-group has-feedback" ng-class="{ 'has-success': form.tabName.$valid && submitted,
                                            'has-error': form.tabName.$invalid && submitted && !form.tabName.$pristine}">
                                        <label for="tabName">Tab Name</label>
                                        <input id="tabName" type="text" class="form-control" name="tabName"
                                               ng-model="tabForm.tabName" ng-trim="true" placeholder="Tab Name"
                                               required/>
                                        <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : form.tabName.$invalid && submitted }"></span>
                                        <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : form.tabName.$valid && submitted }"></span>

                                        <p class="help-block" ng-show="form.tabName.$error.required && submitted">
                                            A tab name is required
                                        </p>
                                    </div>
                                    <div class="form-group has-feedback" ng-class="{ 'has-success': form.tabDetails.$valid && submitted,
                                            'has-error': form.tabDetails.$invalid && submitted && !form.tabDetails.$pristine}">
                                        <label for="tabDetails">Tab Details</label>
                                        <input id="tabDetails" class="form-control" name="tabDetails"
                                               ng-model="tabForm.tabDetails" ng-trim="true"
                                               placeholder="Tab Details">
                                        <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : form.tabDetails.$invalid && submitted }"></span>
                                        <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : form.tabDetails.$valid && submitted }"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="radio">
                                            <label>
                                                <input name="tabType" type="radio" ng-model="tabForm.tabType"
                                                       value="table"
                                                       ng-required="!tabForm.tabType">
                                                Table
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input name="tabType" type="radio" ng-model="tabForm.tabType"
                                                       value="take_out"
                                                       ng-required="!tabForm.tabType">
                                                Take Out
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input name="tabType" type="radio" ng-model="tabForm.tabType"
                                                       value="delivery"
                                                       ng-required="!tabForm.tabType">
                                                Delivery
                                            </label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success">Create Tab</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Tabs</h4>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Details</th>
                                <th>Type</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="tab in tabs">
                                <td>{{$index + 1}}</td>
                                <td>{{tab.tabName}}</td>
                                <td>{{tab.tabDetails}}</td>
                                <td>{{tab.tabType}}</td>
                                <td><a ng-click="removeTab(tab)"><i class="glyphicon glyphicon-trash"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr/>
                <div class="well">
                    <a class="btn btn-default" wz-previous>« Previous Step</a>
                    <a class="btn btn-lg btn-warning" wz-next>Next Step »</a>
                </div>
                <!-- <input type="submit" wz-next value="Go on" /> -->
            </wz-step>

            <!-- Step: Categories -->
            <wz-step title="Categories">
                <h2>Step 2: Categories</h2>

                <p>You can create Tabs here! For example, "Table", "Delivery", "Take Out", "Car"</p>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">1. Super Categories</h3>
                            </div>
                            <div class="panel-body">
                                <form name="scForm" ng-submit="submitSuperCategoryForm(scForm)" novalidate>
                                    <div class="form-group">
                                        <label for="superCatergoryName">Super Category Name</label>
                                        <input type="text" name="superCategoryName"
                                               ng-model="superCategoryForm.superCategoryName"
                                               class="form-control" id="superCatergoryName"
                                               placeholder="Super Category Name"
                                               required>

                                        <p class="help-block"
                                           ng-show="scForm.superCategoryName.$error.required && submitsupercategory"> A
                                            super
                                            category name is required
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="superCategoryStation">Station</label>
                                        <select id="superCategoryStation" name="superCategoryStation"
                                                ng-model="superCategoryForm.superCategoryStation"
                                                ng-options="station.name for station in stations" class="form-control"
                                                required>
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success">Create</button>
                                </form>
                                <hr/>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Super Category</th>
                                        <th>Station</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="sc in superCategories">
                                        <td>{{$index + 1}}</td>
                                        <td>{{sc.superCategoryName}}</td>
                                        <td>{{sc.superCategoryStation.name}}</td>
                                        <td><a ng-click="removeSuperCategory(sc)"><i
                                                class="glyphicon glyphicon-trash"></i></a></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div ng-show="superCategories.length != 0" class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">2. Categories</h3>
                            </div>
                            <div class="panel-body">
                                <form name="category" ng-submit="submitCategoryForm(category)" novalidate>
                                    <div class="form-group">
                                        <label for="categoryName">Category Name</label>
                                        <input type="type" name="categoryName" ng-model="categoryForm.categoryName"
                                               class="form-control"
                                               id="categoryName" placeholder="Category Name" required>

                                        <p class="help-block"
                                           ng-show="category.categoryName.$error.required && submittedcategory"
                                                > A category name is required
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="superCategory">Super Category</label>
                                        <select id="superCategory" name="superCategory"
                                                ng-model="categoryForm.superCategory"
                                                ng-options="sc.superCategoryName for sc in superCategories"
                                                class="form-control">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success">Create</button>
                                </form>
                                <hr/>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Category</th>
                                        <th>Super Category</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="c in categories">
                                        <td>{{$index + 1}}</td>
                                        <td>{{c.categoryName}}</td>
                                        <td>{{c.superCategory.superCategoryName}}</td>
                                        <td><a ng-click="removeCategory(c)"><i
                                                class="glyphicon glyphicon-trash"></i></a></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="well">
                    <a class="btn btn-default" wz-previous>« Previous Step</a>
                    <a class="btn btn-lg btn-warning" wz-next>Next Step »</a>
                </div>
            </wz-step>

            <!-- Step: Categories to Tabs -->
            <wz-step title="Map Categories to Tabs">
                <h2>Step 3: Assign Categories to Tabs</h2>

                <p>Here you can assign different categories under Tabs.</p>

                <div class="row">
                    <div class="col-md-12">

                        <form name="tabMapCategories" novalidate>

                            <div class="panel panel-default" ng-repeat="t in tabs">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{$index + 1}}. {{t.tabName}}</h3>
                                </div>
                                <div class="panel-body">

                                    <div
                                            multi-select
                                            input-model="tabCategories[$index]"
                                            on-item-click="addCategoryToTab(data, $index)"
                                            button-label="icon categoryName"
                                            item-label="icon categoryName"
                                            tick-property="selected"
                                            orientation="vertical"
                                            default-label="Please Select Category"
                                            directive-id="multiSelectFull_{{t.tabName}}"
                                            output-model="t.categories"
                                            >
                                    </div>

                                </div>

                                <!--<button class="btn btn-success" ng-click="saveTabMapCategories(tabMapCategories)">Save Mapping</button>-->
                            </div>
                        </form>
                    </div>
                </div>


                <hr/>
                <div class="well">
                    <a class="btn btn-default" wz-previous>« Previous Step</a>
                    <a class="btn btn-lg btn-warning" wz-next="mapItemToTab()">Next Step »</a>
                </div>
            </wz-step>

            <!-- Step: Menu Items -->
            <wz-step title="Menu Items">
                <h2>Step 4: Menu Items</h2>

                <p>You can create your Menu Items here!</p>

                <!-- <pre>
                     {{items | json}}
                 </pre>-->

                <form name="menuItems" ng-submit="addMenuItems(menuItems)" novalidate>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="well">
                                <h4>Item Details</h4>

                                <div class="form-group">
                                    <label>Item Name</label>
                                    <input type="text" name="itemName" ng-model="itemForm.name" class="form-control"
                                           placeholder="Item Name" required>

                                    <p class="help-block"
                                       ng-show="menuItems.itemName.$error.required && submitteditem && (itemForm.$pristine)">
                                        A item name is required
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" name="itemDescription" ng-model="itemForm.description"
                                           class="form-control"
                                           placeholder="Item Description">
                                </div>
                                <div class="form-group">
                                    <label>Category</label>
                                    <select name="itemCategory" ng-model="itemForm.category"
                                            ng-options="c.categoryName for c in categories" class="form-control"
                                            required>
                                        <option value="">Select Category</option>
                                    </select>

                                    <p class="help-block" ng-show="menuItems.category.$error.required && submitteditem">
                                        A category name is required
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Item Number</label>
                                    <input type="text" name="itemNumber" text={{getItemNumber}}
                                           ng-model="itemForm.number"
                                           class="form-control"
                                           placeholder="Item Number" required>

                                    <p class="help-block" ng-show="menuItems.number.$error.required && submitteditem">
                                        A item number is required
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Rate</label>
                                    <input type="text" name="itemRate" ng-model="itemForm.rate" class="form-control"
                                           placeholder="Rate" float required>

                                    <p class="help-block" ng-show="menuItems.rate.$error.required && submitteditem">
                                        A rate is required
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well">
                                <h4>For Stock Purpose</h4>

                                <div class="form-group">
                                    <label>Quantity</label>
                                    <input type="text" name="itemQuantity" ng-model="itemForm.quantity"
                                           class="form-control"
                                           placeholder="Quantity">
                                </div>
                                <div class="form-group">
                                    <label>Unit</label>
                                    <select ng-model="itemForm.unit"
                                            ng-options="unit for unit in units" class="form-control">
                                        <option value="">Select Unit</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success btn-success">Add Item</button>
                        </div>
                    </div>
                </form>

                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Item List</h4>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Item Name</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Item Number</th>
                                <th>Rate</th>
                                <th>Qty</th>
                                <th>Unit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in items">
                                <td>{{$index + 1}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.category.categoryName}}</td>
                                <td>{{item.number}}</td>
                                <td>{{item.rate}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.unit}}</td>
                                <td><a ng-click="removeItem(item)"><i class="glyphicon glyphicon-trash"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr/>
                <div class="well">
                    <a class="btn btn-default" wz-previous>« Previous Step</a>
                    <a class="btn btn-lg btn-warning" wz-next>Next Step »</a>
                </div>
            </wz-step>

            <!-- Step: Define Items under each Tab -->
            <wz-step title="Items for Each Tab">
                <h2>Step 5: Items in each Tab </h2>

                <p>Define Menu Item details for each Tab</p>
    <pre>
        {{tabs | json}}
    </pre>
                <div class="row">
                    <div class="col-md-12">
                        <tabset>
                            <tab ng-repeat="tab in tabs" heading="{{tab.tabName}}" active="tab.active"
                                 disabled="tab.disabled">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th style="min-width: 200px;">Name</th>
                                            <th style="min-width: 200px;">Description</th>
                                            <th style="min-width: 100px;">Category</th>
                                            <th style="min-width: 100px;">Number</th>
                                            <th style="min-width: 80px;">Rate</th>
                                            <th style="min-width: 80px;">Qty</th>
                                            <th style="min-width: 80px;">Weight</th>
                                            <th style="min-width: 80px;">Unit</th>
                                            <th style="min-width: 80px;">Shelf Life (Days)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in tab.items">
                                            <td>{{$index + 1}}</td>
                                            <td><input type="text" ng-value="item.name" ng-model="item.name"
                                                       class="form-control"/>
                                            </td>
                                            <td><input type="text" ng-value="item.description"
                                                       ng-model="item.description"
                                                       class="form-control"/></td>
                                            <!--<td>{{item.category.superCategory.superCategoryName}} -> {{item.category.categoryName}}</td>-->
                                            <!--  <td>{{item.category.categoryName}}</td> -->
                                            <td><select ng-model="item.category"
                                                        ng-options="c as c.categoryName  for c in categories track by c._id"
                                                        class="form-control">

                                            </select></td>
                                            <td><input type="text" ng-value="item.number" ng-model="item.number"
                                                       class="form-control"/></td>
                                            <td><input type="text" ng-value="item.rate" ng-model="item.rate"
                                                       class="form-control"/>
                                            </td>
                                            <td><input type="text" ng-value="item.quantity" ng-model="item.quantity"
                                                       class="form-control"/></td>
                                            <td><input type="text" ng-value="item.weight" ng-model="item.weight"
                                                       class="form-control"/></td>
                                            <td><input type="text" ng-value="item.unit" ng-model="item.unit"
                                                       class="form-control"/>
                                            </td>
                                            <td><input type="text" ng-value="item.shelflife" ng-model="item.shelflife"
                                                       class="form-control"/></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </tab>
                        </tabset>

                    </div>
                </div>

                <hr/>
                <div class="well">
                    <a class="btn btn-default" wz-previous>« Previous Step</a>
                    <a class="btn btn-lg btn-warning" wz-next="mapTabsToItem()">Next Step »</a>
                </div>
            </wz-step>

            <!-- Step: Taxation -->
            <wz-step title="Taxation">
                <h2>Step 6: Taxation</h2>

                <p>You can create your Billing Tax structure here! For example, "Vat", "Service Charge"</p>

                <div class="row">
                    <div class="col-md-6">
                        <div class="well">
                            <form role="form" name="taxFormStruc" ng-submit="createTax(taxFormStruc)">
                                <div class="form-group">
                                    <label>Tax Name</label>
                                    <input type="text" class="form-control" name="taxName" ng-model="taxForm.name"
                                           placeholder="Tax Name" required>

                                    <p class="help-block" ng-show="taxForm.name.$error.required && submittedtax">
                                        A tax name is required
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Tax Details</label>
                                    <input type="text" class="form-control" name="taxDetails" ng-model="taxForm.details"
                                           placeholder="Tax Details">
                                </div>
                                <div class="form-group">
                                    <label>Type</label>

                                    <div class="radio">
                                        <label>
                                            <input name="taxType" type="radio" ng-model="taxForm.type" value="fixed"
                                                   required/>
                                            Fixed Amount
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input name="taxType" type="radio" ng-model="taxForm.type" value="percent"
                                                   required/>
                                            Percentage
                                        </label>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label>Rate</label>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" ng-model="taxForm.rate"
                                                   placeholder="Tax Rate"
                                                   integer required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Priority</label>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" ng-model="taxForm.priority"
                                                   placeholder="Tax Priority"/>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success">Create Tax</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Details</th>
                                    <th>Rate</th>
                                    <th>Type</th>
                                    <th>Priority</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="tax in taxes">
                                    <td>{{tax.name}}</td>
                                    <td>{{tax.details}}</td>
                                    <td>{{tax.rate}}</td>
                                    <td>{{tax.type}}</td>
                                    <td>{{tax.priority}}</td>
                                    <td><a ng-click="removeTax(tax)"><i class="glyphicon glyphicon-trash"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <hr/>
                <div class="well">
                    <a class="btn btn-default" wz-previous>« Previous Step</a>
                    <a class="btn btn-lg btn-warning" wz-next>Next Step »</a>
                </div>

            </wz-step>

            <!-- Step: Assign Tax to Items -->
            <wz-step title="Assign Tax to Items">
                <h2>Step 7: Assign Tax to Items</h2>

                <p>You can assign Tax on Items here.</p>

                <div class="row">
                    <div class="col-md-12">
            <pre>
                {{tabs | json}}
            </pre>
                        <tabset>
                            <tab ng-repeat="tab in tabs" heading="{{tab.tabName}}" active="tab.active"
                                 disabled="tab.disabled">

                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Item Name</th>
                                            <th>Category</th>
                                            <th ng-repeat="tax in taxes">{{tax.name}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!--  <tr ng-repeat="(key,value) in tab.items | groupBy:'item.category.categoryName' "> -->
                                        <tr ng-repeat="item in tab.items  ">
                                            <td>{{$index + 1}}</td>
                                            <td>{{item.name}}</td>
                                            <td>{{item.category.superCategory.superCategoryName}} »
                                                {{item.category.categoryName}}
                                            </td>
                                            <!--   <td ng-repeat="tax in item.taxes">
                                                 <input type="checkbox" ng-model="tax.selected" ng-value="tax" ng-change="setTax($parent.$parent.$index,$parent.$index, $index, tax)" /> {{tax.name}}
                                             </td> -->
                                            <td ng-repeat="tax in item.taxes">
                                                <input type="checkbox" ng-model="tax.selected" ng-value="tax"/>
                                                {{tax.name}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </tab>
                        </tabset>

                        <!--<pre>
                            {{selectedItemTax | json}}
                           &lt;!&ndash; {{tabs | json}}&ndash;&gt;
                        </pre>-->
                    </div>
                </div>


                <hr/>
                <div class="well">
                    <a class="btn btn-default" wz-previous>« Previous Step</a>
                    <a class="btn btn-lg btn-warning" wz-next="MapTabwiseTaxesToItems()">Next Step »</a>
                </div>
            </wz-step>

            <!-- Step: Offers -->
            <wz-step title="Offers">
                <h2>Step 7: Offers</h2>

                <p>You can create Offers here! For example, "1:1 Offer", "20% Off"</p>

                <!--<pre>
                    {{tabs | json}}
                </pre>-->
                <!--  <pre>
                               {{items | json}}
                           </pre> -->
                <div class="row">
                    <div class="col-md-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Offer Creation Wizard</h3>
                            </div>
                            <div class="panel-body">
                                <!-- Sub Wizard for Offers -->
                                <wizard on-finish="finishedWizardOffer()" hide-indicators="true">
                                    <wz-step title="Offer Name">
                                        <h3>Definition</h3>

                                        <div class="row">
                                            <form name="offer" novalidate>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Offer Name</label>
                                                        <input type="text" class="form-control" placeholder="Offer Name"
                                                               ng-model="offerForm.name">
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Valid From</label>

                                                                <div class="input-group">
                                                                    <input type="text" name="validFrom"
                                                                           class="form-control"
                                                                           datepicker-popup="{{format}}"
                                                                           ng-model="offerForm.validFrom"
                                                                           is-open="offerForm.validFrom.open"
                                                                           ng-click="offerForm.validFrom.open = true"
                                                                           datepicker-options="dateOptions"
                                                                           date-disabled="disabled(date, mode)"
                                                                           ng-required="true"
                                                                           close-text="Close"/>
                                                                    <!--<span class="input-group-btn">
                                                                        <button type="button" class="btn btn-default"
                                                                                ng-click="open($event, 'opened1')"><i
                                                                                class="glyphicon glyphicon-calendar"></i></button>
                                                                    </span>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Valid To</label>

                                                                <div class="input-group">
                                                                    <input type="text" name="validTo"
                                                                           class="form-control"
                                                                           datepicker-popup="{{format}}"
                                                                           ng-model="offerForm.validTo"
                                                                           is-open="offerForm.validTo.open"
                                                                           ng-click="offerForm.validTo.open = true"
                                                                           datepicker-options="dateOptions"
                                                                           date-disabled="disabled(date, mode)"
                                                                           ng-required="true"
                                                                           close-text="Close"/>
                                                                    <!--<span class="input-group-btn">
                                                                        <button type="button" class="btn btn-default"
                                                                                ng-click="open($event, 'opened2')"><i
                                                                                class="glyphicon glyphicon-calendar"></i></button>
                                                                    </span>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Begin Time</label>
                                                                <timepicker ng-model="offerForm.beginTime"></timepicker>
                                                            </div>
                                                        </div>
                                                        <div class-="col-md-6">
                                                            <div class="form-group">
                                                                <label>End Time</label>
                                                                <timepicker ng-model="offerForm.endTime"></timepicker>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label>Days</label>
                                                                </div>
                                                                <label class="checkbox-inline" ng-repeat="day in days">
                                                                    <input name="selectedDays[]" type="checkbox"
                                                                           value="{{day}}"
                                                                           ng-checked="selectedDays.indexOf(day) > -1"
                                                                           ng-click="toggleDaySelection(day)"> {{day}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label>For Tabs</label>
                                                                </div>
                                                                <label class="checkbox-inline" ng-repeat="tab in tabs">
                                                                    <input name="selectedTabs[]" type="checkbox"
                                                                           value="{{tab.tabName}}"
                                                                           ng-checked="selectedTabs.indexOf(tab.tabName) > -1"
                                                                           ng-click="toggleTabSelection(tab.tabName)">
                                                                    {{tab.tabName}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label>Date List</label>
                                                                </div>
                                                                <label class="radio-inline">
                                                                    <input type="radio" ng-model="offerForm.dateList"
                                                                           ng-true-value="include"> Include
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" ng-model="offerForm.datelist"
                                                                           ng-true-value="exclude"> Exclude
                                                                </label>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <hr/>

                                        <a class="btn btn-info" wz-next>Next »</a>
                                    </wz-step>


                                    <wz-step title="Offer Criteria">
                                        <h3>Offer Criteria</h3>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <form role="form">
                                                    <div class="form-group">
                                                        <label>Minimum Bill Amount</label>
                                                        <input type="text" class="form-control"
                                                               ng-model="offerForm.minBillAmount"
                                                               placeholder="Min Bill Amount"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Minimum Item Count</label>
                                                        <input type="text" class="form-control"
                                                               ng-model="offerForm.minItemCount"
                                                               placeholder="Min Item Count"/>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" ng-model="offerForm.sameOrLess"
                                                                   ng-true-value="1" ng-false-value="0"/>
                                                            Offer Item should be same or less value
                                                        </label>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="radio-inline">
                                                                <input type="radio"
                                                                       ng-model="offerForm.itemsIncludeOrExclude"
                                                                       value="include"> Include
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio"
                                                                       ng-model="offerForm.itemsIncludeOrExclude"
                                                                       value="exclude"> Exclude
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row" ng-repeat="line in offerForm.criteriaLines">
                                                    <div style="margin-top: 20px;"></div>
                                                    <div class="col-md-9">
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <select ng-model="offerForm.selectedCategory[$index]"
                                                                        ng-change="populateItems($index)"
                                                                        ng-options="c.categoryName for c in categories"
                                                                        class="form-control">
                                                                    <option value=''>Select</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <select ng-model="offerForm.selectedCategory[$index].items"
                                                                        ng-options="item.name for item in offerForm.filteredOfferItems[$index]"
                                                                        class="form-control">
                                                                    <option value=''>Select</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <input type="text" class="form-control"
                                                                       ng-model="offerForm.selectedCategory[$index].quantity"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a ng-click="addCriteriaLine()" class="btn btn-success btn-sm"
                                                   style="margin-top:20px;">Add Line</a>
                                            </div>


                                        </div>

                                        <hr/>
                                        <a class="btn btn-default" wz-previous>« Previous</a>
                                        <a class="btn btn-info" wz-next>Next »</a>
                                    </wz-step>


                                    <wz-step title="Offer Definition">
                                        <h3>Offer Type Definition</h3>
                            <pre>
                                {{offerForm | json}}
                            </pre>
                                        <div class="row">
                                            <div class="col-md-3">

                                                <div class="checkbox">
                                                    <label>
                                                        <input type="radio" ng-model="offerForm.offerType"
                                                               value="amount"/> Amount
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="radio" ng-model="offerForm.offerType"
                                                               value="percentage"/> Percentage
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="radio" ng-model="offerForm.offerType"
                                                               value="item"/> Item
                                                    </label>
                                                </div>

                                            </div>
                                        </div>

                                        <p>Even more steps!!</p>
                                        <a class="btn btn-default" wz-previous>« Previous</a>
                                        <a class="btn btn-info" wz-next>Next »</a>
                                    </wz-step>


                                    <wz-step title="Offer Definition">
                                        <h3>Codes</h3>

                                        <div class="row">
                                            <div class="col-md-12">

                                            </div>
                                        </div>
                                        <p>Even more steps!!</p>
                                        <a class="btn btn-default" wz-previous>« Previous</a>
                                        <a class="btn btn-info" wz-next="onFinishOfferCreation()">Next »</a>
                                    </wz-step>
                                </wizard>
                            </div>
                        </div>
                    </div>
                </div>


                <hr/>
                <div class="well">
                    <a class="btn btn-default" wz-previous>« Previous Step</a>
                    <a class="btn btn-lg btn-success" wz-next="onFinishWizard()">Finish</a>
                </div>

            </wz-step>

        </wizard>
    </div>
</div>
