<div class="container-fluid">
  <div class="page-header">
    <h3><i class="fa fa-cutlery"></i> Master Deployment
      <small>Setup</small></h3>
  </div>
  <div class="jumbotron">
   <!-- <h2 class="page-header"><i class="fa fa-cutlery"></i> Master Deployment
      <small>Setup</small>
    </h2>-->
    <div style="margin-bottom: 20px;"></div>

    <wizard on-finish="finishedWizard()" hide-indicators="true">

      <!-- Step: Welcome -->
      <wz-step title="Welcome">
        <h2>Welcome, we will guide you in setting up your POS.</h2>

        <p>Please click next to Start. :-)</p>
        <a href="#" class="btn btn-primary btn-lg" wz-next value="Continue" role="button">Start »</a>
        <!-- <input type="submit" wz-next value="Continue" /> -->
      </wz-step>

      <!-- Step: Settings -->
      <wz-step title="Settings">
        <div style="margin-top: 10px;"></div>
        <h3><i class="fa fa-cogs"></i> Configure Settings</h3>

        <div class="row">
          <div class="col-md-4" ng-repeat="(key,value) in deployment.settings | groupBy: 'group'">
            <div class="panel panel-default">
              <div class="panel-heading">{{key}}</div>
              <div class="panel-body">
                <div class="form-group" ng-repeat="s in value">
                    <label><input type="checkbox" ng-checked="s.selected" ng-model="s.selected"/>
                        {{s.label}}</label>

                    <input class="form-control" type="text" ng-if="fieldType(s) === 'text'" ng-model="s.value"/>
                    <timepicker ng-if="fieldType(s) === 'timepicker'" ng-model="s.value" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
                    <div style="clear: both;"></div>
                    <label ng-if="s.tabs.length > 0" ng-repeat="forTab in s.tabs" class="checkbox-inline">
                      <input type="checkbox" ng-checked="forTab.selected" ng-model="forTab.selected"> {{forTab.tabLabel}}
                    </label>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!--<div class="row">
            <div class="col-md-12">
                <div class="panel-footer">
                    <a ng-click="updateDeploymentSettings()" class="btn btn-success btn-lg">Update</a>
                </div>
            </div>
        </div>-->
        <hr/>
        <div class="well">
          <a class="btn btn-default" wz-previous>« Previous Step - Welcome</a>
          <a class="btn btn-lg btn-warning" wz-next="updateDeploymentSettings()">Next Step - Print Stations »</a>
        </div>
      </wz-step>

      <!-- Step: Stations -->
      <wz-step title="Stations">
        <!--  <pre>
        {{printStation|json }}
        </pre>
        -->
        <div style="margin-top: 10px;"></div>
        <h3>Print Stations</h3>
        <hr/>
        <div class="row">
          <div class="col-md-6">
            <form name="stationForm" ng-submit="createPrintStation(stationForm)" novalidate>

              <div class="form-group has-feedback" ng-class="{ 'has-success': stationForm.stationName.$valid && submittedStation,
                                                'has-error': stationForm.stationName.$invalid && submittedStation && !stationForm.stationName.$pristine}">
                <label>Station Name</label>
                <input type="text" class="form-control" name="stationName" ng-model="printStation.stationName"
                       placeholder="Station Name" ng-trim="true" required mongoose-error/>
                <span
                  ng-class="{'glyphicon glyphicon-remove form-control-feedback' : stationForm.stationName.$invalid && !stationForm.stationName.$pristine }"></span>
                <span
                  ng-class="{'glyphicon glyphicon-ok form-control-feedback' : stationForm.stationName.$valid }"></span>

                <p class="help-block" ng-show="stationForm.stationName.$error.mongoose">
                  {{psErrors.stationName}}
                </p>
              </div>
              <div class="form-group">
                <label>Station Printer</label>
                <select class="form-control" ng-model="printStation.stationPrinter"
                        ng-options="printer for printer in systemPrinters">
                  <option value="">Select Station Printer</option>
                </select>
              </div>
              <div class="form-group">
                <label>Description</label>
                        <textarea class="form-control" name="stationDescription"
                                  ng-model="printStation.stationDescription"></textarea>
              </div>
              <button type="submit" class="btn btn-success">
                <span ng-if="!printStation.psInEdit">Create </span>
                <span ng-if="printStation.psInEdit">Update </span>
              </button>
            </form>
          </div>
          <div class="col-md-6">
            <div class="table-responsive">
              <table class="table table-condensed">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Station</th>
                  <th>Printer</th>
                  <th>Description</th>
                  <th>&nbsp;</th>
                  <!--<th>Categories</th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="station in stations">
                  <th>{{$index + 1}}</th>
                  <td>{{station.stationName}}</td>
                  <td>{{station.stationPrinter}}</td>
                  <td>{{station.stationDescription}}</td>
                  <td>
                    <a class="btn btn-link" ng-click="editPrintStation(station)">Edit</a>
                    <a class="btn btn-link" ng-click="deletePrintStation(station)">Delete</a>
                  </td>
                  <!--<td><a class="btn btn-link" ng-click="openStationCategoriesModal($index)">Categories</a></td>-->
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <hr/>
        <div class="well">
          <a class="btn btn-default" wz-previous>« Previous Step - Settings</a>
          <a class="btn btn-lg btn-warning" wz-next>Next Step - Categories »</a>
        </div>

      </wz-step>

      <!-- Step: Categories -->
      <wz-step title="Categories">

        <div style="margin-top: 20px;"></div>
        <h3>Super Categories/ Categories</h3>
        <hr/>
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">1. Super Categories</h3>
              </div>
              <div class="panel-body">
                <!--<pre>
                    {{scErrors | json}}
                </pre>-->

                <form name="scForm" ng-submit="submitSuperCategoryForm(scForm)" novalidate>
                  <div class="form-group has-feedback"
                       ng-class="{'has-success':scForm.superCategoryName.$valid   && submitted,'has-error':scForm.superCategoryName.$invalid && scForm.superCategoryName.$dirty}">
                    <label for="superCatergoryName">Super Category Name</label>
                    <input type="text" name="superCategoryName" ng-model="superCategoryForm.superCategoryName"
                           class="form-control" id="superCatergoryName" placeholder="Super Category Name"
                           required mongoose-error>
                    <span
                      ng-class="{'glyphicon glyphicon-remove form-control-feedback' : scForm.superCategoryName.$error.required && (scForm.superCategoryName.$dirty || submitted)}"></span>
                    <span
                      ng-class="{'glyphicon glyphicon-ok form-control-feedback' : scForm.superCategoryName.$valid }"></span>

                    <p class="help-block" ng-show="scForm.superCategoryName.$error.mongoose">
                      {{scErrors.superCategoryName}}
                    </p>
                  </div>
                  <button type="submit" class="btn btn-success" ng-disabled="scForm.$invalid">
                    <span ng-if="!superCategoryForm.scInEdit">Create </span>
                    <span ng-if="superCategoryForm.scInEdit">Update </span>
                  </button>
                  <a class="btn btn-danger" ng-show="superCategoryForm.scInEdit"
                     ng-click="clearSuperCategoryForm()">
                    Cancel
                  </a>
                </form>
                <hr/>
                <table class="table">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Super Category</th>
                    <th>Station</th>
                    <th>&nbsp;</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="sc in superCategories">
                    <td>{{$index + 1}}</td>
                    <td>{{sc.superCategoryName}}</td>
                    <td>{{sc.superCategoryStation.stationName}}</td>
                    <td><a ng-click="editSuperCategory(sc)"><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a ng-click="removeSuperCategory(sc)"><i class="glyphicon glyphicon-trash"></i></a></td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">2. Categories</h3>
              </div>
              <div class="panel-body">
                <form name="category" ng-submit="submitCategoryForm(category)" novalidate>
                  <div class="form-group has-feedback"
                       ng-class="{'has-success':category.categoryName.$valid && submitted,'has-error':category.categoryName.$invalid && !category.categoryName.$pristine}">
                    <label for="categoryName">Category Name</label>
                    <input type="type" name="categoryName" ng-model="categoryForm.categoryName"
                           class="form-control"
                           id="categoryName" placeholder="Category Name" required mongoose-error>
                    <span
                      ng-class="{'glyphicon glyphicon-remove form-control-feedback' : category.categoryName.$error.required }"></span>
                    <span
                      ng-class="{'glyphicon glyphicon-ok form-control-feedback' : category.categoryName.$valid }"></span>

                    <p class="help-block" ng-show="category.categoryName.$error.mongoose">
                      {{cErrors.categoryName}}
                    </p>
                  </div>
                  <div class="form-group has-feedback"
                       ng-class="{'has-success':category.superCategory.$valid   && submitted,'has-error':category.superCategory.$invalid && !category.superCategory.$pristine}">
                    <label for="superCategory">Super Category</label>
                    <!--   <select id="superCategory" name="superCategory" ng-model="categoryForm.superCategory"
                              ng-options="sc.superCategoryName for sc in superCategories" class="form-control" required>
                          <option value="">Select</option>
                      </select> -->
                    <select id="superCategory" name="superCategory" ng-model="categoryForm.superCategory"
                            ng-options="supercategory.superCategoryName for supercategory in superCategories track by supercategory._id"
                            class="form-control" required>
                      <option value="">Select</option>
                    </select>
                  </div>
                  <div class="form-group has-feedback"
                       ng-class="{'has-success':categoryForm.categoryStation.$valid && submitted,'has-error':categoryForm.categoryStation.$invalid && !categoryForm.categoryStation.$pristine}">
                    <label for="categoryStation">Station</label>
                    <select id="categoryStation" name="categoryStation"
                            ng-model="categoryForm.categoryStation"
                            ng-options="station.stationName for station in stations track by station._id"
                            class="form-control">
                      <option value="">Select</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-success" ng-disabled="category.$invalid">
                    <span ng-if="!categoryForm.catInEdit">Create </span>
                    <span ng-if="categoryForm.catInEdit">Update </span>

                  </button>
                  <a class="btn btn-danger" ng-show="categoryForm.catInEdit" ng-click="clearCatCategoryForm()">
                    Cancel
                  </a>
                </form>
                <hr/>
                <table class="table">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Category</th>
                    <th>Super Category</th>
                    <th>Station</th>
                    <th>&nbsp;</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="c in categories">
                    <td>{{$index + 1}}</td>
                    <td>{{c.categoryName}}</td>
                    <td>{{c.superCategory.superCategoryName}}</td>
                    <td>{{c.categoryStation.stationName}}</td>
                    <td><a ng-click="editCategory(c)"><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a ng-click="removeCategory(c)"><i class="glyphicon glyphicon-trash"></i></a></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="well">
          <a class="btn btn-default" wz-previous>« Previous Step - Station</a>
          <a class="btn btn-lg btn-warning" wz-next>Next Step - Tabs »</a>
        </div>
      </wz-step>

      <!-- Step: Tabs -->
      <wz-step title="Tabs">
        <h3>Tabs</h3>
        <hr/>
        <div class="row">
          <div class="col-md-6">
            <form name="formTab" role="form" style="margin-top:20px;" ng-submit="submitTabForm(formTab)" novalidate>

              <div class="form-group has-feedback" ng-class="{ 'has-success': formTab.tabName.$valid && submitted,
                                                'has-error': formTab.tabName.$invalid && submitted && !formTab.tabName.$pristine}">
                <label for="tabName">Tab Name</label>
                <input id="tabName" type="text" class="form-control" name="tabName"
                       ng-model="tabForm.tabName" ng-trim="true" placeholder="Tab Name"
                       required/>
                <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : formTab.tabName.$invalid}"></span>
                <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : formTab.tabName.$valid }"></span>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-success': formTab.tabDetails.$valid && submitted,
                                                'has-error': formTab.tabDetails.$invalid && submitted && !formTab.tabDetails.$pristine}">
                <label for="tabDetails">Tab Details</label>
                <input id="tabDetails" class="form-control" name="tabDetails"
                       ng-model="tabForm.tabDetails" ng-trim="true"
                       placeholder="Tab Details">
                <span
                  ng-class="{'glyphicon glyphicon-remove form-control-feedback' : formTab.tabDetails.$invalid   }"></span>
                <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : formTab.tabDetails.$valid }"></span>
              </div>
              <div class="form-group"
                   ng-class="{'has-success': formTab.tabType.$valid && submitted, 'has-error': formTab.tabType.$invalid && submitted && !formTab.tabType.$pristine}">
                <div class="radio">
                  <label>
                    <input name="tabType" type="radio" ng-model="tabForm.tabType" value="table"
                           ng-required="!tabForm.tabType">
                    Table
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input name="tabType" type="radio" ng-model="tabForm.tabType" value="take_out"
                           ng-required="!tabForm.tabType">
                    Take Out
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input name="tabType" type="radio" ng-model="tabForm.tabType" value="delivery"
                           ng-required="!tabForm.tabType">
                    Delivery
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-success" ng-disabled="formTab.$invalid">
                <span ng-if="!tabForm.tabInEdit">Create Tab</span>
                <span ng-if="tabForm.tabInEdit">Update Tab</span>
              </button>
              <a class="btn btn-danger" ng-show="tabForm.tabInEdit" ng-click="clearTabForm()">
                Cancel
              </a>
            </form>
          </div>
          <div class="col-md-6">
            <h4>Tabs</h4>
            <table class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Details</th>
                <th>Type</th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="tab in tabs">
                <td>{{$index + 1}}</td>
                <td>{{tab.tabName}}</td>
                <td>{{tab.tabDetails}}</td>
                <td>{{tab.tabType}}</td>
                <td><a ng-click="editTab(tab)"><i class="glyphicon glyphicon-edit"></i></a></td>
                <td><a ng-click="removeTab(tab)"><i class="glyphicon glyphicon-trash"></i></a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <hr/>
        <div class="well">
          <a class="btn btn-default" wz-previous>« Previous Step - Categories</a>
          <a class="btn btn-lg btn-warning" wz-next="ManagerTabTax()">Next Step - Taxation »</a>
        </div>
        <!-- <input type="submit" wz-next value="Go on" /> -->
      </wz-step>

      <!-- Step: Taxation -->
      <wz-step title="Taxation">
        <div style="margin-top: 20px;"></div>
        <h3>Taxation</h3>
        <hr/>
        <div class="row">
          <div class="col-md-12">
            <tabset>
              <tab>
                <tab-heading>Taxes</tab-heading>
                <div class="row">
                  <div class="col-md-6">

                    <div class="well">
                      <!--<pre>
                          {{taxForm | json}}
                      </pre>-->
                      <form role="form" name="taxFormStruc" ng-submit="createTax(taxFormStruc)" novalidate>
                        <div class="form-group has-feedback"
                             ng-class="{'has-success':taxFormStruc.taxName.$valid && submitted,'has-error':taxFormStruc.taxName.$invalid && !taxFormStruc.taxName.$pristine}">
                          <label>Tax Name</label>
                          <input type="text" class="form-control" name="taxName" ng-model="taxForm.name"
                                 placeholder="Tax Name" required ng-minlength="3">
                          <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : taxFormStruc.taxName.$error.required}"></span>
                          <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : taxFormStruc.taxName.$valid}"></span>
                        </div>
                        <div class="form-group has-feedback"
                             ng-class="{'has-success':taxFormStruc.taxDetails.$valid && submitted,'has-error':taxFormStruc.taxDetails.$invalid && !taxFormStruc.taxDetails.$pristine}">
                          <label>Tax Details</label>
                          <input type="text" class="form-control" name="taxDetails"
                                 ng-model="taxForm.details"
                                 placeholder="Tax Details"/>
                          <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : taxFormStruc.taxDetails.$error.required}"></span>
                          <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : taxFormStruc.taxDetails.$valid}"></span>
                        </div>
                        <div class="form-group">
                          <label>Type</label>

                          <div class="radio">
                            <label>
                              <input name="taxType" type="radio" ng-required="!taxForm.taxType"
                                     ng-model="taxForm.type" value="fixed"/>
                              Fixed Amount
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input name="taxType" ng-required="!taxForm.taxType" type="radio"
                                     ng-model="taxForm.type" value="percentage"/>
                              Percentage
                            </label>
                          </div>
                        </div>
                        <div>
                          <label>Applicable On</label>

                          <!--  <div class="checkbox" ng-repeat="tab in tabs">
                               <label>
                                   <input type="checkbox" ng-click="setSelectedTabOnTax($event, tab)" ng-selected="isSelectedTabOnTax(tab)"/> {{tab.tabName}}

                               </label>
                           </div>
                           -->
                          <div class="checkbox" ng-repeat="tab in tabForTax">
                            <label>
                              <input type="checkbox" ng-model=tab.selected ng-click="initiateTabs()"/>
                              {{tab.tabName}}

                            </label>
                          </div>
                        </div>
                        <div class="form-group">

                          <div class="form-group has-feedback"
                               ng-class="{'has-success':taxFormStruc.taxRate.$valid && submitted,'has-error':taxFormStruc.taxRate.$invalid && !taxFormStruc.taxRate.$pristine}">
                            <label>Tax Rate</label>
                            <input type="text" class="form-control" name="taxRate"
                                   ng-model="taxForm.value" placeholder="Tax Value"
                                   required numeric-only/>
                            <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : taxFormStruc.taxRate.$error.required}"></span>
                            <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : taxFormStruc.taxRate.$valid}"></span>
                          </div>

                        </div>

                        <button type="submit" class="btn btn-success" ng-disabled="taxFormStruc.$invalid">
                          <span ng-if="!taxForm.taxInEdit">Create Tax </span>
                          <span ng-if="taxForm.taxInEdit">Update Tax</span>
                        </button>
                        <a class="btn btn-danger" ng-show="taxForm.taxInEdit" ng-click="clearTaxForm()">
                          Cancel
                        </a>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="table-responsive">
                      <table class="table table-condensed">
                        <thead>
                        <tr>
                          <th>Name</th>
                          <th>Details</th>
                          <th>Rate</th>
                          <th>Type</th>
                          <th>Applied On</th>
                          <th>&nbsp;</th>
                          <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="tax in taxes">
                          <td>{{tax.name}}</td>
                          <td>{{tax.details}}</td>
                          <td>{{tax.value}}</td>
                          <td>{{tax.type}}</td>
                          <td>
                            <span ng-repeat="tab in tax.tabs">{{tab.tabName}}, </span>
                          </td>
                          <td><a ng-click="editTaxes(tax)"><i class="glyphicon glyphicon-edit"></i></a>
                          </td>
                          <td><a ng-click="removeTaxes(tax)"><i class="glyphicon glyphicon-trash"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </tab>
              <!--   <tab>
                    <tab-heading>Cascading Taxes (Tax on Tax)</tab-heading>

                    <div style="margin-top: 10px;"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div ng-repeat="tax in taxes" class="col-md-4">
                                <div class="well well-sm">
                                    <h4>{{tax.name}}</h4>
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="t in taxes | removeWith:{_id:tax._id}"><input type="checkbox" ng-click="setCascadingTax(t,tax)"  /> {{t.name}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well well-sm">
                                <a class="btn btn-success" ng-click="updateAllTaxes()">Update Taxes</a>
                            </div>
                        </div>
                    </div>

                </tab> -->
              <tab select="MapCascadingTax()">
                <tab-heading>Cascading Taxes (Tax on Tax)</tab-heading>

                <div style="margin-top: 10px;"></div>

                <div class="row">
                  <div class="col-md-12">
                    <div ng-repeat="tax in cascadingTaxes" class="col-md-12">
                      <h4>{{tax.name}}</h4>

                      <div class="well well-sm">

                        <ul class="list-group">
                          <div class="row">
                            <div class="col-md-6">
                              <h5>Available Taxes</h5>
                              <!--  <li class="list-group-item"  ng-show=!t.selected ng-repeat="t in tax.cascadingTaxes"><input type="checkbox" selected="false" ng-click="t.selected=true"  /> {{t.name}}</li> -->
                              <!-- <a class="list-group-item" href=""  ng-click="t.selected=true"  ng-show=!t.selected ng-repeat="t in tax.cascadingTaxes"><label  > {{t.name}}&nbsp;&nbsp;&nbsp;  </label></a>
                               -->
                              <a class="list-group-item" href="" ng-click="
                                                          removeCascadingTax(tax,t,false)" ng-show=!t.selected
                                 ng-repeat="t in tax.cascadingTaxes"><label> {{t.name}}&nbsp;&nbsp;&nbsp;  </label></a>
                            </div>
                            <div class="col-md-6">
                              <h5>Applied Taxes</h5>
                              <a class="list-group-item" href=""
                                 ng-click="removeCascadingTax(tax,t,true)" ng-show=t.selected
                                 ng-repeat="t in tax.cascadingTaxes"><label style="color:Red">
                                {{t.name}}&nbsp;&nbsp;&nbsp; X </label></a>

                              <div/>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<div class="row">
                  <div class="col-md-12">
                    <div class="well well-sm">
                      <a class="btn btn-success" ng-click="updateAllTaxes()">Update Taxes</a>
                    </div>
                  </div>
                </div>-->

              </tab>
            </tabset>
          </div>

        </div>
        <hr/>
        <div class="well">
          <a class="btn btn-default" wz-previous>« Previous Step - Tabs</a>
          <a class="btn btn-lg btn-warning" wz-next="updateAllTaxes()">Next Step - Menu Items »</a>
        </div>

      </wz-step>

      <!-- Step: Menu Items -->
      <wz-step title="Menu Items">
        <div style="margin-top: 20px;"></div>

        <h3>Menu Items</h3>
        <hr/>
        <!--<pre>
          {{csv.result}}
        </pre>-->
        <alert type="info" close="">
          <h4>Add New Item / Import Items</h4>

          <p>You may click on <strong>Add New Item</strong> to add a new item. Do you already maintain a list of menu
            items created in CSV format? Click on <strong>Import Menu Items</strong>
            to add those items.</p>

          <p>
            <a class="btn btn-success" ng-model="isCollapsedItemForm" ng-click="toggleItemFormCollapse()"
               btn-checkbox><i class="fa fa-plus"></i> Add New Item</a>
            <!-- <button type="file" ng-file-select ng-file-change="uploadMenuImportFile(menuImportFile)" ng-multiple="false"
                     ng-model="menuImportFile" ng-rejected-file-model="rejectedFile" accept="*.csv" class="btn btn-info">
                 <i class="fa fa-upload"></i> Import Menu Items
             </button>-->
            <a class="btn btn-info" ng-click="toggleImportForm()"><i class="fa fa-upload"></i> Import Menu Items</a>
            <a class="btn btn-default" ng-click="downloadItemImportTemplate()">Download Template</a>
          </p>
          <!--<progressbar ng-show="showProgress" animate="true" value="fileImportProgress" type="success"><b>{{fileImportProgress}}%</b>
          </progressbar>-->
        </alert>

        <div class="well well-sm" collapse="isCollapsedImportForm">
          <h3>Import CSV</h3>
          <ng-csv-import
            class="import"
            content="csv.content"
            header="csv.header"
            headerVisible="true"
            separator="csv.separator"
            done="onFinishImport"
            result="csv.result"></ng-csv-import>
          <a class="btn btn-danger btn-sm" ng-click="toggleImportForm()">Cancel</a>
        </div>
        <!--<pre>{{items | json}}</pre>-->
        <div collapse="isCollapsedItemForm">
          <form name="menuItems" ng-submit="addMenuItems(menuItems)" novalidate>
            <div class="row">
              <!--<pre>
                  {{itemForm | json}}
              </pre>-->
              <div class="col-md-8">
                <div class="well">
                  <h4>Item Details</h4>

                  <div class="form-group has-feedback"
                       ng-class="{'has-success':menuItems.itemName.$valid && submitted,'has-error':menuItems.itemName.$invalid && !menuItems.itemName.$pristine}">
                    <label>Item Name</label>
                    <input type="text" name="itemName" ng-model="itemForm.name" class="form-control"
                           placeholder="Item Name" required focus-me="{{!isCollapsedItemForm}}">
                    <span
                      ng-class="{'glyphicon glyphicon-remove form-control-feedback' : menuItems.itemName.$error.required }"></span>
                    <span
                      ng-class="{'glyphicon glyphicon-ok form-control-feedback' : menuItems.itemName.$valid }"></span>
                  </div>
                  <div class="form-group has-feedback"
                       ng-class="{'has-success': menuItems.itemDescription.$valid && submitted, 'has-error': menuItems.itemDescription.$invalid && !menuItems.itemDescription.$pristine}">
                    <label>Description</label>
                    <input type="text" name="itemDescription" ng-model="itemForm.description" class="form-control"
                           placeholder="Item Description">
                    <span
                      ng-class="{'glyphicon glyphicon-remove form-control-feedback' : menuItems.itemDescription.$error.required }"></span>
                    <span
                      ng-class="{'glyphicon glyphicon-ok form-control-feedback' : menuItems.itemDescription.$valid }"></span>
                  </div>
                  <div class="form-group"
                       ng-class="{'has-success':menuItems.itemCategory.$valid && submitted,'has-error':menuItems.itemCategory.$invalid && !menuItems.itemCategory.$pristine}">
                    <label>Category</label>
                    <select name="itemCategory" ng-model="itemForm.category"
                            ng-options="c.categoryName for c in categories" class="form-control" required>
                      <option value="">Select Category</option>
                    </select>

                  </div>
                  <div class="form-group has-feedback"
                       ng-class="{'has-success': menuItems.itemNumber.$valid && submitted, 'has-error': menuItems.itemNumber.$invalid && !menuItems.itemNumber.$pristine}">
                    <label>Item Number</label>
                    <input type="text" name="itemNumber" ng-model="itemForm.number" class="form-control"
                           placeholder="Item Number" numeric-only required>
                    <span
                      ng-class="{'glyphicon glyphicon-remove form-control-feedback' : menuItems.itemNumber.$error.required }"></span>
                    <span
                      ng-class="{'glyphicon glyphicon-ok form-control-feedback' : menuItems.itemNumber.$valid }"></span>
                  </div>
                  <div class="form-group has-feedback"
                       ng-class="{'has-success': menuItems.itemRate.$valid && submitted, 'has-error': menuItems.itemRate.$invalid && !menuItems.itemRate.$pristine}">
                    <label>Rate</label>
                    <input type="text" name="itemRate" ng-model="itemForm.rate" class="form-control"
                           placeholder="Rate" numeric-only required>
                    <span
                      ng-class="{'glyphicon glyphicon-remove form-control-feedback' : menuItems.itemRate.$error.required }"></span>
                    <span
                      ng-class="{'glyphicon glyphicon-ok form-control-feedback' : menuItems.itemRate.$valid }"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="well">
                  <h4>For Stock Purpose</h4>

                  <div class="form-group has-feedback"
                       ng-class="{'has-success': menuItems.itemQuantity.$valid && submitted, 'has-error': menuItems.itemQuantity.$invalid && !menuItems.itemQuantity.$pristine}">
                    <label>Quantity</label>
                    <input type="text" name="itemQuantity" ng-model="itemForm.quantity" class="form-control"
                           placeholder="Quantity" float>

                    <span
                      ng-class="{'glyphicon glyphicon-remove form-control-feedback' : menuItems.itemQuantity.$error.required }"></span>
                    <span
                      ng-class="{'glyphicon glyphicon-ok form-control-feedback' : menuItems.itemQuantity.$valid }"></span>
                  </div>
                  <div class="form-group has-feedback"
                       ng-class="{'has-success':menuItems.itemUnit.$valid && submitted , 'has-error': menuItems.itemUnit.$invalid && submitted && !menuItems.itemUnit.$pristine}">
                    <label>Unit</label>
                    <select ng-model="itemForm.unit" name="itemUnit"
                            ng-options="unit for unit in units" class="form-control">
                      <option value="">Select Unit</option>
                    </select>
                    <span
                      ng-class="{'glyphicon glyphicon-remove form-control-feedback' : menuItems.itemUnit.$error.required }"></span>
                    <span
                      ng-class="{'glyphicon glyphicon-ok form-control-feedback' : menuItems.itemUnit.$valid }"></span>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-success btn-lg" ng-disabled="menuItems.$invalid">
                  <span ng-if="!itemForm.menuItemsInEdit">Add Item </span>
                  <span ng-if="itemForm.menuItemsInEdit">Update Item</span>
                </button>
                <a class="btn btn-danger" ng-show="itemForm.menuItemsInEdit" ng-click="clearMenuItemsInEditForm()">
                  Cancel
                </a>
                <a class="btn btn-link" ng-if="!itemForm.menuItemsInEdit" ng-click="toggleItemFormCollapse()">Cancel</a>
              </div>
            </div>
          </form>
        </div>


        <hr/>
        <h4>Item List</h4>

        <div class="row">
          <div class="col-md-12">
            <ul class="pagination" style="margin: 0;">
              <li>
                <ul class="pagination pagination-sm" style="margin: 0;">
                  <li><a href="" ng-click="itemPagination.prevPage()">&laquo; Previous</a></li>
                  <li ng-repeat="n in [] | range: itemPagination.numPages"
                      ng-class="{active: n == itemPagination.page}">
                    <a href="" ng-click="itemPagination.toPageId(n)">{{n + 1}}</a>
                  </li>
                  <li><a href="" ng-click="itemPagination.nextPage()">Next &raquo; </a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <table class="table table-striped">
              <thead>
              <tr>
                <th>Item Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Item Number</th>
                <th>Rate</th>
                <th>Qty</th>
                <th>Unit</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr
                ng-repeat="item in items | startFrom: itemPagination.page * itemPagination.perPage | limitTo: itemPagination.perPage | orderBy: 'name'">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.category.categoryName}}</td>
                <td>{{item.number}}</td>
                <td>{{item.rate}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.unit}}</td>
                <td><a ng-click="editItems(item)"><i class="glyphicon glyphicon-edit"></i></a></td>
                <td><a ng-click="removeItem(item)"><i class="glyphicon glyphicon-trash"></i></a></td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="pagination" style="margin: 0;">
              <li>
                <ul class="pagination pagination-sm" style="margin: 0;">
                  <li><a href="" ng-click="itemPagination.prevPage()">&laquo; Previous</a></li>
                  <li ng-repeat="n in [] | range: itemPagination.numPages"
                      ng-class="{active: n == itemPagination.page}">
                    <a href="" ng-click="itemPagination.toPageId(n)">{{n + 1}}</a>
                  </li>
                  <li><a href="" ng-click="itemPagination.nextPage()">Next &raquo; </a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div style="margin-bottom: 30px;"></div>

        <hr/>
        <div class="well">
          <a class="btn btn-default" wz-previous>« Previous Step - Taxation</a>
          <a class="btn btn-lg btn-warning" wz-next="mapCategoriesToTab()">Next Step - Map Categories to Tab »</a>
        </div>
      </wz-step>

      <!-- Step: [Tabs -> Categories] -->
      <wz-step title="Tab -> Categories">
        <div style="margin-top: 20px;"></div>
        <h3>Tab <i class="fa fa-random"></i> Categories Mapping</h3>
        <hr/>
        <!--<pre>
            {{tabs | json}}
        </pre>-->
        <form name="tabMapCategories" novalidate>

          <div class="panel panel-default" ng-repeat="t in tabs">
            <div class="panel-heading">
              <h3 class="panel-title">{{$index + 1}}. {{t.tabName}}</h3>
            </div>
            <div class="panel-body">
              <div
                multi-select
                input-model="t.masterCategories"
                on-item-click="addCategoryToTab(data, $index)"
                button-label="icon categoryName"
                item-label="icon categoryName"
                tick-property="selected"
                orientation="vertical"
                default-label="Please Select Category"
                directive-id="multiSelectFull_{{t.tabName}}"
                output-model="t.categories"
                >
              </div>
            </div>

          </div>
         <!-- <div class="panel panel-footer">
            <a class="btn btn-success" ng-click="mapCatToTab()"> Assign Categories to Tabs</a>
          </div>-->
        </form>

        <hr/>
        <div class="well">
          <a class="btn btn-default" wz-previous>« Previous Step - Menu Items</a>
          <!--<a class="btn btn-lg btn-warning" wz-next="mapItemToTab()">Next Step - Map Items to Tab »</a>-->
          <a class="btn btn-lg btn-warning" wz-next="gettingStartedFinishTabCatMap()">Next Step - Map Items to Tab »</a>
        </div>
      </wz-step>

      <!-- Step: [Tabs -> Items] -->
      <wz-step title="Tab -> Items">
        <div style="margin-top:20px"></div>
        <h3>Tab <i class="fa fa-random"></i> Items Mapping</h3>
        <hr/>
        <!--<pre>
          {{tabs | json }}
        </pre>
       -->
        <h3 ng-show="!ifItemMappedToTab"><i class="fa fa-spinner fa-spin"></i> <!--<img style="background: #0055aa; opacity: .5; padding: 10px; width:64px; vertical-align: middle;" ng-src="assets/images/oval.svg"/>--> Proccessing, please wait...</h3>
        <div ng-show="ifItemMappedToTab" class="col-md-12">
          <tabset>
            <tab ng-repeat="tab in tabs" heading="{{tab.tabName}}" active="tab.active"
                 disabled="tab.disabled">
              <!--<pre style="height: 300px; overflow: auto;">
                  {{tab.items | json}}
              </pre>-->
              <div class="row">
                <div class="col-md-12">
                  <ul class="pagination" style="margin: 0;">
                    <li>
                      <ul class="pagination pagination-sm" style="margin: 0;">
                        <li><a href="" ng-click="tab.itemTabPagination.prevPage()">&laquo; Previous</a></li>
                        <li ng-repeat="n in [] | range: tab.itemTabPagination.numPages"
                            ng-class="{active: n == tab.itemTabPagination.page}">
                          <a href="" ng-click="tab.itemTabPagination.toPageId(n)">{{n + 1}}</a>
                        </li>
                        <li><a href="" ng-click="tab.itemTabPagination.nextPage()">Next &raquo; </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-striped table-condensed">
                      <thead>
                      <tr>
                        <th style="min-width: 300px;">Name</th>
                        <!--    <th style="min-width: 200px;">Taxes</th> -->
                        <th style="min-width: 100px;">Category</th>
                        <th style="min-width: 100px;">Number</th>
                        <th style="min-width: 80px;">Rate</th>
                        <th style="min-width: 80px;">Qty</th>
                        <th style="min-width: 80px;">Weight</th>
                        <th style="min-width: 80px;">Unit</th>
                        <th style="min-width: 80px;">Shelf Life (Days)</th>
                        <!--<th style="min-width: 80px;">Assign Tax</th>-->
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in tab.items | startFrom: tab.itemTabPagination.page * tab.itemTabPagination.perPage | limitTo: tab.itemTabPagination.perPage | orderBy: 'name'">
                        <!--  <tr ng-repeat="item in getItemByTab(tab._id)">
                         -->

                        <td>
                          <!--<input type="text" ng-value="item.name" ng-model="item.name" class="form-control"/>-->

                          {{item.name}}
                          <small>{{item.description}}</small>


                        </td>
                        <!--     <td width="20%">
                                <div multi-select
                                     input-model="item.masterTaxes"
                                     button-label="icon name"
                                     item-label="icon name"
                                     tick-property="selected"
                                     orientation="horizontal"
                                     default-label="Please Select Tax"
                                     directive-id="multiSelectFull_{{t.name}}"
                                     output-model="item.taxes"
                                >

                                </div>
                                <input type="text" ng-value="item.description" ng-model="item.description"
                                       class="form-control"/></td>-->
                        <!--<td>{{item.category.superCategory.superCategoryName}} -> {{item.category.categoryName}}</td>-->
                        <!--  <td>{{item.category.categoryName}}</td> -->
                        <td>
                          <!--<select ng-model="item.category"
                                      ng-options="c as c.categoryName  for c in categories track by c._id"
                                      class="form-control">

                          </select>-->
                          {{item.category.categoryName}}
                        </td>
                        <td><input type="text" ng-value="item.number" disabled="true" ng-model="item.number"
                                   class="form-control"/></td>
                        <td><input type="text" ng-value="item.rate" ng-model="item.rate"
                                   class="form-control"/>
                        </td>
                        <td><input type="text" ng-value="item.quantity" disabled="true" ng-model="item.quantity"
                                   class="form-control"/></td>
                        <td><input type="text" ng-value="item.weight" disabled="true" ng-model="item.weight"
                                   class="form-control"/></td>
                        <td><input type="text" ng-value="item.unit" disabled="true" ng-model="item.unit"
                                   class="form-control"/>
                        </td>
                        <td><input type="text" ng-value="item.shelflife" disabled="true" ng-model="item.shelflife"
                                   class="form-control"/></td>
                        <td>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <ul class="pagination" style="margin: 0;">
                    <li>
                      <ul class="pagination pagination-sm" style="margin: 0;">
                        <li><a href="" ng-click="tab.itemTabPagination.prevPage()">&laquo; Previous</a></li>
                        <li ng-repeat="n in [] | range: tab.itemTabPagination.numPages"
                            ng-class="{active: n == tab.itemTabPagination.page}">
                          <a href="" ng-click="tab.itemTabPagination.toPageId(n)">{{n + 1}}</a>
                        </li>
                        <li><a href="" ng-click="tab.itemTabPagination.nextPage()">Next &raquo; </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>


            </tab>
          </tabset>
          <!--<div class="panel panel-footer">
            <a class="btn btn-success" ng-click="mapTabsToItem()">Save Item for each Tab</a>
          </div>-->
        </div>
        <hr/>

        <div class="well" style="clear: both;">
          <a class="btn btn-default" wz-previous>« Previous Step - Map Categories to Tab</a>
          <a class="btn btn-lg btn-warning" wz-next="gettingStartedFinishTabItemsMap()">Next Step - Map Taxes to Items »</a>
        </div>
      </wz-step>

      <!-- Step: [Items -> Taxes] -->
      <wz-step title="Items -> Taxes">
        <div style="margin-top:20px"></div>
        <h3>Item -> Taxes Mapping</h3>
        <hr/>
        <h3 ng-show="!ifItemTaxToTab"><i class="fa fa-spinner fa-spin"></i>  Proccessing, please wait...</h3>
        <div ng-show="ifItemTaxToTab" class="col-md-12">
          <tabset>
            <tab ng-repeat="tab in tempTab" heading="{{tab.tabName}}" active="tab.active"
                 disabled="tab.disabled">
              <!--<pre style="height: 300px; overflow: auto;">
                  {{tab.items | json}}
              </pre>-->

              <div class="row">
                <div class="col-md-12">
                  <ul class="pagination" style="margin: 0;">
                    <li>
                      <ul class="pagination pagination-sm" style="margin: 0;">
                        <li><a href="" ng-click="tab.itemTabPagination.prevPage()">&laquo; Previous</a></li>
                        <li ng-repeat="n in [] | range: tab.itemTabPagination.numPages"
                            ng-class="{active: n == tab.itemTabPagination.page}">
                          <a href="" ng-click="tab.itemTabPagination.toPageId(n)">{{n + 1}}</a>
                        </li>
                        <li><a href="" ng-click="tab.itemTabPagination.nextPage()">Next &raquo; </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th style="min-width: 200px;">Name</th>
                        <th ng-repeat="tax in tab.taxes" style="min-width: 100px;"><input type="checkbox"
                                                                                          ng-model=tax.selectedtax
                                                                                          ng-click="CheckAllTaxes(tax._id,tab._id)">&nbsp;&nbsp;{{tax.name}}
                        </th>

                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in tab.items | startFrom: tab.itemTabPagination.page * tab.itemTabPagination.perPage | limitTo: tab.itemTabPagination.perPage | orderBy: 'name'">
                        <!--  <tr ng-repeat="item in getItemByTab(tab._id)">
                         -->
                        <td>
                          {{$index + 1}}
                        </td>
                        <td>
                          <!--<input type="text" ng-value="item.name" ng-model="item.name" class="form-control"/>-->

                          {{item.name}}
                          <small>{{item.description}}</small>


                        </td>
                        <td ng-repeat="tax in item.masterTaxes"><input type="checkbox"
                                                                       ng-model="tax.selected" /></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <ul class="pagination" style="margin: 0;">
                    <li>
                      <ul class="pagination pagination-sm" style="margin: 0;">
                        <li><a href="" ng-click="tab.itemTabPagination.prevPage()">&laquo; Previous</a></li>
                        <li ng-repeat="n in [] | range: tab.itemTabPagination.numPages"
                            ng-class="{active: n == tab.itemTabPagination.page}">
                          <a href="" ng-click="tab.itemTabPagination.toPageId(n)">{{n + 1}}</a>
                        </li>
                        <li><a href="" ng-click="tab.itemTabPagination.nextPage()">Next &raquo; </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>

            </tab>
          </tabset>
          <!--<div class="panel panel-footer">
            <a class="btn btn-success" ng-click="saveTaxesToItem()">Save Taxes for each Item</a>
          </div>-->
        </div>
        <hr/>
        <div class="well" style="clear: both;">
          <a class="btn btn-default" wz-previous="mapItemTaxToTab()">« Previous Step - Map Taxes to Items</a>
          <a class="btn btn-lg btn-warning" wz-next="onFinishWizard()">Finish, you are ready to Start!</a>
        </div>
      </wz-step>
    </wizard>
  </div>
</div>
