<tabset>
	<tab heading="Intermediate Consumption" style="cursor:pointer;" ng-click="clearPurchaseConsumptionTab()">
		<div ng-cloak class="row">

			<div style="margin-top: 20px;"></div>
			<div  class="col-md-12">
				<div class="row">
					<!-- <pre>{{purchaseConsumptionForm | json}}</pre> -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Intermediate Consumption Summary</h3>
						</div>
						<div class="panel-body">
							<form name="formPurchaseConsumption" novalidate>
								<table class="table">
									<tr>
										<td>Select From :</td>
										<td>
											<input type="text" date-format  name="validFrom"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="purchaseConsumptionForm.fromDate" max-date="purchaseConsumptionForm.maxDate" is-open="purchaseConsumptionForm.fromDate.open" ng-click="purchaseConsumptionForm.fromDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true" ng-required="true"close-text="Close" ng-change="checkDateGreater(purchaseConsumptionForm.fromDate);"/>
										</td>

										<td>Select To :</td>
										<td>
											<input type="text" date-format  name="validTo"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="purchaseConsumptionForm.toDate" max-date="purchaseConsumptionForm.maxDate" is-open="purchaseConsumptionForm.toDate.open" ng-click="purchaseConsumptionForm.toDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true"  ng-required="true"close-text="Close" ng-change="checkDateLesser(purchaseConsumptionForm.toDate);"/>
										</td>

									</tr>
									<tr>
										<td>Select Store</td>
										<td>
											<select  ng-model="purchaseConsumptionForm.store" ng-change="bindCategory_purchaseConsumptionForm(purchaseConsumptionForm.store)" ng-options="s.storeName for s in purchaseConsumptionForm.stores" class="form-control">
													<option value="" ng-if="false"></option>
													<!-- <option value="">Select All </option> -->
											</select>
										</td>
										<td>Select  Category</td>										
										<td>
											<select  ng-model="purchaseConsumptionForm.category" ng-change="bindItems_purchaseConsumptionForm(purchaseConsumptionForm.category)" ng-options="s.categoryName for s in purchaseConsumptionForm.categories" class="form-control">
													<option value="">Select All</option>
											</select>
										</td>
										
									</tr>
									<tr>
										<td>Select Items</td>
										<td>
											<select  ng-model="purchaseConsumptionForm.item"  ng-options="s.itemName for s in purchaseConsumptionForm.availableItems" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
										<td></td>
										<td>
											<a class="btn btn-success" ng-disabled="purchaseConsumptionForm.isSearch"  ng-click="startSearch()">Submit</a>
											<div class="btn-group" ng-show="purchaseConsumptionForm.reportData.items.length>0">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    Export <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											    <li><a  style="cursor:pointer;"  ng-click="exportToPdf_purchaseConsumption()">PDF</a></li>
											    <li><a  style="cursor:pointer;" ng-click="exportToExcel_purchaseConsumption()">EXCEL</a></li>
											    <!-- <li><a href="#">Something else here</a></li>
											    <li role="separator" class="divider"></li>
											    <li><a href="#">Separated link</a></li> -->
											  </ul>
											</div>
										</td>
									</tr>
								</table>
								<div class="alert alert-warning alert-dismissible" ng-show="purchaseConsumptionForm.reportData.errorMessage!= null" role="alert">
								  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								  <strong>Warning!</strong> {{purchaseConsumptionForm.reportData.errorMessage}}
								</div>
								<div id="purchaseConsumptionReport">
									<table class="table  table-curved" border="1" style="width:100%">
										<thead>
											<th style="background-color:#24242D;font-weight:bold;color:#fff"></th>
											<th colspan="4" style="background-color:#24242D;font-weight:bold;color:#fff">Opening Balance</th>
											<th colspan="3" style="background-color:#24242D;font-weight:bold;color:#fff">Purchase</th>
											<th colspan="3" style="background-color:#24242D;font-weight:bold;color:#fff">Normal Consumption</th>
											<th colspan="3" ng-hide="true" style="background-color:#24242D;font-weight:bold;color:#fff">NC Consumption</th>
											<th colspan="4" style="background-color:#24242D;font-weight:bold;color:#fff">Closing Balance</th>
										</thead>
										<tbody>
											<tr>
												<td style="background-color: #abcabc;font-weight: bold;">Item Name</td>
												<td style="background-color: #abcabc;font-weight: bold;">Date</td>
												<td style="background-color: #abcabc;font-weight: bold;">Qty</td>
												<td style="background-color: #abcabc;font-weight: bold;">Unit</td>
												<td style="background-color: #abcabc;font-weight: bold;">Value</td>

												<td style="background-color: #abcabc;font-weight: bold;">Qty</td>
												<td style="background-color: #abcabc;font-weight: bold;">Unit</td>
												<td style="background-color: #abcabc;font-weight: bold;">Value</td>

												<td style="background-color: #abcabc;font-weight: bold;">Qty</td>
												<td style="background-color: #abcabc;font-weight: bold;">Unit</td>
												<td style="background-color: #abcabc;font-weight: bold;">Value</td>

												<td ng-hide="true" style="background-color: #abcabc;font-weight: bold;">Qty</td>
												<td ng-hide="true" style="background-color: #abcabc;font-weight: bold;">Unit</td>
												<td ng-hide="true" style="background-color: #abcabc;font-weight: bold;">Value</td>

												<td style="background-color: #abcabc;font-weight: bold;">Date</td>
												<td style="background-color: #abcabc;font-weight: bold;">Qty</td>
												<td style="background-color: #abcabc;font-weight: bold;">Unit</td>
												<td style="background-color: #abcabc;font-weight: bold;">Value</td>
											</tr>
											<tr ng-repeat="r in purchaseConsumptionForm.reportData.items">
												<td>{{r.itemName}}</td>
												<td>{{r.openingDate | date:'dd MMM yyyy'}}</td>
												<td>{{r.openingQty}}</td>
												<td>{{r.UnitName}}</td>
												<td>{{r.openingAmt}}</td>

												<!-- <td>{{r.totalPurchaseQty+r.totalTransferQty}}</td> -->
												<td>{{r.purchaseQty}}</td>
												<td>{{r.UnitName}}</td>
												<td>{{r.purchaseAmount}}</td>
												<!-- <td>{{r.totalPurchaseAmount+r.totalTransferAmount}}</td> -->

												<!-- <td>{{r.totalSaleQty+r.totalWastageQty}}</td> -->
												<td>{{r.consumptionQty}}</td>
												<td>{{r.UnitName}}</td>
												<td>{{r.consumptionAmount}}</td>
												<!-- <td>{{r.totalSaleAmount+r.totalWastageAmt}}</td> -->

												<td ng-hide="true">NA</td>
												<td ng-hide="true">NA</td>
												<td ng-hide="true">NA</td>

												<td>{{r.closingDate | date:'dd MMM yyyy'}}</td>
												<td>{{r.closingQty}}</td>
												<td>{{r.UnitName}}</td>
												<td>{{r.closingAmount}}</td>
											</tr>
										</tbody>
									</table>				
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tab>
	<tab heading="Date Wise Variance" style="cursor:pointer;" ng-click="clearDateWiseTab()">
		<div ng-cloak class="row">

			<div style="margin-top: 20px;"></div>
			<div  class="col-md-12">
				<div class="row">
					<!-- <pre>{{dateWiseForm | json}}</pre> -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Date Wise Variance</h3>
						</div>
						<div class="panel-body">
							<form name="formDateWise" novalidate>
								<table class="table">
									<tr>
										<td>Select From :</td>
										<td>
											<input type="text" date-format  name="validFrom"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="dateWiseForm.fromDate" max-date="dateWiseForm.maxDate" is-open="dateWiseForm.fromDate.open" ng-click="dateWiseForm.fromDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"close-text="Close" ng-readonly="true"  ng-change="checkDateGreater_DateWise(dateWiseForm.fromDate);"/>
										</td>

										<td>Select To :</td>
										<td>
											<input type="text" date-format  name="validTo"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="dateWiseForm.toDate" max-date="dateWiseForm.maxDate" is-open="dateWiseForm.toDate.open" ng-click="dateWiseForm.toDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"close-text="Close" ng-readonly="true"  ng-change="checkDateLesser_DateWise(dateWiseForm.toDate);"/>
										</td>

									</tr>
									<tr>
										<td>Select Store</td>
										<td>
											<select  ng-model="dateWiseForm.store" ng-change="bindCategory_DateWiseForm(dateWiseForm.store)" ng-options="s.storeName for s in dateWiseForm.stores"  class="form-control">
													<option value="" ng-if="false"></option>
													<!-- <option value="">Select All </option> -->
											</select>
										</td>
										<td>Select  Category</td>										
										<td>
											<select  ng-model="dateWiseForm.category" ng-change="bindItems_DateWiseForm(dateWiseForm.category)" ng-options="s.categoryName for s in dateWiseForm.categories" class="form-control">
													<option value="">Select All</option>
											</select>
										</td>
										
									</tr>
									<tr>
										<td>Select Items</td>
										<td>
											<select  ng-model="dateWiseForm.item"  ng-options="s.itemName for s in dateWiseForm.availableItems" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
										<td></td>
										<td>
											<a class="btn btn-success"  ng-click="startSearch_DateWise()">Submit</a>

											<div class="btn-group" ng-show="dateWiseForm.reportData.length>0">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    Export <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											    <li><a  style="cursor:pointer;"  ng-click="exportToPdf_dateWise()">PDF</a></li>
											    <li><a  style="cursor:pointer;" ng-click="exportToExcel_dateWise()">EXCEL</a></li>
											  </ul>
											</div>
										</td>
									</tr>
								</table>
										
								<div id="dateWiseReport">
									<table class="table table-curved" style="width:100%" border="1" ng-show="dateWiseForm.reportData.length>0">
										<thead>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Item Name</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Opening Stock Qty</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Purchases</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Consumption</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Wastage</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Closing Qty</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Physical Stock</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Variance</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Unit</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Variance(In %)</th>
										</thead>
										<tbody>
											<tr ng-repeat-start="d in dateWiseForm.reportData">
												<td style="background-color:#abcabc" colspan="10">
													{{d.date | date:'dd MMM yyyy'}}
												</td>
											</tr>
											<tr ng-repeat-end ng-repeat-start="i in d.items">
												<td>{{i.itemName}}</td>
												<td>{{i.openingQty}}</td>
												<td>{{i.purchaseQty}}</td>
												<td>{{i.consumptionQty}}</td>
												<td>{{i.wastageQty}}</td>
												<td>{{i.closingQty}}</td>
												<td>{{i.physicalQty}}</td>
												<td>{{i.varianceQty}}</td>
												<td>{{i.UnitName}}</td>
												<td>{{i.varianceInPercent}}</td>
											</tr>
											<tr ng-repeat-end></tr>
										</tbody>
									</table>		
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tab>
</tabset>
