<!--<div ng-include="'components/navbar/navbar.html'"></div>-->

<div class="container" class="loginscreen">
    <div class="login-container">
        <div id="output"></div>
        <div class="avatar"></div>
        <div ng-if="errors.other" class="alert alert-danger">
            <p>{{errors.other}}</p>
        </div>
        <div class="form-box">
            <form class="form" name="form" ng-submit="activateUser(form)" novalidate>
                <label>Activation Id</label>
                <input name="authId" type="text" ng-model="authForm.authId" required>
                <button class="btn btn-info btn-block login" type="submit"><i
                        class="fa fa-sign-in"></i> Activate!</button>
            </form>
        </div>
    </div>
</div>
