<div class="page-header">
     <h1>Customers <a class="btn btn-info" ng-click="openCustomerModal()"><i class="fa fa-location-arrow"></i> Add New Customer</a></h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-xs-18 col-sm-4 col-md-4" ng-repeat="c in customers">
            <div class="thumbnail">
                <div class="caption">
                    <h4>{{c.firstname}} {{c.lastname}}</h4>
                    <p>
                        <h5>Mobile : {{c.mobile}}</h5>
                        <h5>Email :{{c.email}}</h5>
                    </p>

                    <p>
                        <!--<a class="btn btn-primary btn-sm" role="button">
                        	<i class="fa fa-cogs"></i> Manage Customer</a>-->
                        	<!--ui-sref=".deploymentDetails({deploymentId:d._id})" -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
