<script type="text/ng-template" id="_template_Bill.html">
  <style type="text/css">
       @media print 
    {
      body
          {
            margin: 2mm;
          }
       @page
       {
          table { page-break-inside:auto;}
          tr    { page-break-inside:avoid; page-break-after:auto }

       }
     }
    </style>
  <table class="table" style="font-family: 'Courier New', Courier, monospace;width:100%; padding-bottom-bottom:25px; font-weight:bold; font-size:13px">
    <caption ng-if="bill.rePrint && bill.rePrint.length>1" style="text-align: left; border-bottom: 1px solid #000000;"><strong>Duplicate Bill</strong></caption>
    <caption style="text-align: left;margin-top:2px; border-top: 1px solid #000000;">{{header}}</caption>
    <caption style="text-align: left; border-top: 1px dotted #000000;" ng-if="bill.tabType=='table'">Type: {{bill.tab}}  /  TableNo: {{bill._tableId}}</caption>
    <caption style="text-align: left; border-top: 1px dotted #000000;" ng-if="bill.tabType!='table'">Type: {{bill.tab}}</caption>
    <caption style="text-align: left; border-top: 1px dotted #000000;">Bill Number: {{bill.billNumber}}</caption>
    <caption style="text-align: left;" ng-if="bill._waiter.firstname && bill.tabType=='table'">Steward: {{bill._waiter.firstname+' '+bill._waiter.lastname}}</caption>
    <caption style="text-align: left;" ng-if="bill._delivery.firstname && bill.tabType!='table'">Delivery Boy: {{bill._delivery.firstname+' '+bill._delivery.lastname}}</caption>
    <caption style="text-align: left;" ng-if="!bill._waiter.firstname && bill.tabType=='table'">Steward: --None--</caption>
    <caption style="text-align: left;" ng-if="!bill._delivery.firstname && bill.tabType!='table'">Delivery Boy: --None--</caption>
    <caption style="text-align: left; ">Date: {{bill._created | date:'yyyy-MM-dd HH:mm:ss'}}</caption>
    <caption style="text-align: left;" ng-if="bill.rePrint && bill.rePrint.length>1">RePrintTime: {{bill.rePrint[bill.rePrint.length-1].printTime | date:'yyyy-MM-dd HH:mm:ss'}}</caption>
    <caption style="text-align: left; border-bottom: 1px dotted #000000;">Kots:<span ng-repeat="kot in bill._kots track by $index">{{kot.kotNumber}}<span ng-if="$index<bill._kots.length-1">, </span> </span></caption>
    <caption style="text-align: left; border-bottom: 1px dotted #000000;" ng-if="bill._customer.mobile">Customer Details</caption>
    <caption style="text-align: left;" ng-if="bill._customer.firstname">Name: {{bill._customer.firstname}}</caption>
    <caption style="text-align: left;" ng-if="bill._customer.address1">Add: {{bill._customer.address1}},</caption>
    <caption style="text-align: left;" ng-if="bill._customer.address2">{{bill._customer.address2}}, {{bill._customer.city}}, {{bill._customer.state}}, {{bill._customer.postCode}}</caption>
    <caption style="text-align: left; border-bottom: 1px dotted #000000;" ng-if="bill._customer.mobile">Mobile: {{bill._customer.mobile}}</caption>
    <thead>
    <tr>
      <th style="text-align: left; border-bottom: 1px dotted #000000;"  >Item(s)</th>
      <th style="text-align: center;border-bottom: 1px dotted #000000;">Qty</th>
      <th style="text-align: right;border-bottom: 1px dotted #000000;">Amt</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in items">
      <td width="70%" style="text-align: left; word-break:break-word;">{{item.name}}<span ></span></td>
      <td width="10%" style="text-align: center">{{item.quantity}}</td>
      <td width="20%" style="text-align: right">{{item.subtotal}}</td>
    </tr>
    <tr>
      <td style="text-align: left;border-top: 1px dotted #000000;">
        <strong>Total Qty: </strong></td>
      <td style="text-align: center; border-top: 1px dotted #000000;">
        <strong>{{bill.aggregation.totalItems}}</strong></td>
      <td style="text-align: center; border-top: 1px dotted #000000;">
      </td>
    </tr>
    <tr>
      <td width="70%">
        <strong>Sub Total: </strong></td>
      <td>
      </td>
      <td style="text-align: right;">
        <strong>{{totalAmount}}</strong></td>
    </tr>
    <tr>
      <td width="70%" style="text-align: left;">
        <strong>Discount: </strong></td>
      <td style="text-align: center;">
      </td>
      <td style="text-align: right;">
        <strong>{{totalDiscount.toFixed(2)}}</strong></td>
    </tr>
    <tr ng-repeat="tax in bill._kotsTaxes">
      <td width="70%" style="text-align: left;">{{tax.name}}:</td>
      <td style="text-align: center;">
      </td>
      <td style="text-align: right">{{tax.tax_amount.toFixed(2)}}</td>
    </tr>
    <tr>
      <td width="70%" style="text-align: left; border-top: 1px dotted #000000;">
        <strong>Round Off:</strong></td>
      <td style="text-align: center; border-top: 1px dotted #000000;">
      </td>
      <td style="text-align: right; border-top: 1px dotted #000000;">
        <strong ng-if="(totalAmount.toFixed(0)+totalTax.toFixed(2)-totalDiscount.toFixed(0)).toFixed(0)-(totalAmount.toFixed(0)+totalTax.toFixed(2)-totalDiscount.toFixed(0))>0">+{{((totalAmount.toFixed(2)+totalTax.toFixed(2)-totalDiscount.toFixed(2)).toFixed(0)-(totalAmount.toFixed(2)+totalTax.toFixed(2)-totalDiscount.toFixed(2))).toFixed(2)}}</strong>
        <strong ng-if="(totalAmount.toFixed(0)+totalTax.toFixed(2)-totalDiscount.toFixed(0)).toFixed(0)-(totalAmount.toFixed(0)+totalTax.toFixed(2)-totalDiscount.toFixed(0))<0">{{((totalAmount.toFixed(2)+totalTax.toFixed(2)-totalDiscount.toFixed(2)).toFixed(0)-(totalAmount.toFixed(2)+totalTax.toFixed(2)-totalDiscount.toFixed(2))).toFixed(2)}}</strong>
        </td>
    </tr>
    <tr>
      <td width="70%" style="text-align: left;border-bottom: 1px dotted #000000;">
        <strong>GRAND TOTAL:</strong></td>
      <td style="text-align: center;">
      </td>
      <td style="text-align: right;border-bottom: 1px dotted #000000;">
        <strong>{{disableRoundoff?(totalAmount.toFixed(2)+totalTax.toFixed(2)-totalDiscount.toFixed(2)).toFixed(2):(totalAmount.toFixed(2)+totalTax.toFixed(2)-totalDiscount.toFixed(2)).toFixed(0)}}</strong>
      </td>

    </tr>

    <tr>
      <td colspan="3" style="text-align: center; border-top: 1px dotted #000000;"><strong>{{footer}}</strong></td>
    </tr>
    <tr>
      <td colspan="3" style="text-align: center; border-top: 1px dotted #000000;"><strong>Powered by - POSist</strong></td>
    </tr>
    </tbody>
  </table>
</script>