/*@import url(http://fonts.googleapis.com/css?family=Ubuntu);*/
/**
 * Bootstrap Fonts
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/**
 *Font Awesome Fonts
 */

@font-face {
  font-family: 'FontAwesome';
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@page {
  size: 5.5in 8.5in;  
  margin: 70pt 60pt 70pt;
}
.modal {
  display: block;
}

.tablePropertyLayout{
  table-layout:fixed;
  width:100%;
  word-wrap:break-word;
}
.panel-heading.collapsed .panel-title:after {
  font-family: FontAwesome;
  content: '\f054';
  position: absolute;
  right: 30px;
}
/*.panel-heading .panel-title:after {
  font-family: FontAwesome;
  content: '\f078';
  position: absolute;
  right: 30px;
}*/

/**
 * App-wide Styles
 */
 @media (max-width: 992px) {
   .navbar-header {
       float: none;
   }
   .navbar-left,.navbar-right {
       float: none !important;
   }
   .navbar-toggle {
       display: block;
   }
   .navbar-collapse {
       border-top: 1px solid transparent;
       box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
   }
   .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    }
   .navbar-collapse.collapse {
       display: none!important;
   }
   .navbar-nav {
       float: none!important;
    margin-top: 7.5px;
    }
.navbar-nav>li {
       float: none;
   }
   .navbar-nav>li>a {
       padding-top: 10px;
       padding-bottom: 10px;
   }
   .collapse.in{
  display:block !important;
}
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


#grid_container {
  margin: 50px auto;
  width: 500px;
  height: 500px;
  padding: 10px;
  border: black solid 1px;
}

#grid {
  overflow-x:scroll;
  height: 100%;
}
.gridAddress {
  overflow-x:scroll;
  height: 100%;
}
.grid_row {
  clear: both;
  height: 250px;
  white-space: nowrap;
  float: left;
  clear: left;
  padding-top: 14px;
}
.module, .header{
  padding: 10px;
  display: inline;
  margin-right: 4px;
  /*float: left;*/
}

.splitClass1{
  vertical-align: middle;margin-bottom:200px;margin-left: -45px
}

.splitClass2{
  vertical-align: middle;margin-bottom:200px;margin-left: 25px
}

.s-class  {

  width : 700px;
  height : 145px;
  background : #fff;
  display : block;
}
.i-class  {
  width : 700px;
  height : 360px;
  background : #fff;
  display : block;
}
.s-class  div div {
  float : left;
  width : 115px;
  height : 75px;
}
.s-class-cat{
  float : left;
  width : 16.66%;
  height : 70px; !important;
}

/*New Billing Design*/
body {
  /*-webkit-user-select: none;*/
  font-family: 'Open Sans', sans-serif;
  background: #f8f8f8;

}
/*a{color:#555;}
a:hover{color:#e20000;}*/
.header{width: 100%;text-align: center;padding:0;}
.logo{float:left;}

.subheader {
  margin-top: -50px;
  background: #fff;
  font-size: 10px;
  color: #fff;
  height:55px;
  text-transform: uppercase;
}

.subheaderIn{height:55px;padding-top:2px;border-bottom: solid 2px #006db8; }
/*.subheader .containerP > ul {display: inline-block;height: 30px;padding: 0;margin: 0;line-height:50px;}
.subheader .containerP > ul > li {  float: left;min-width: 90px;height: 50px;padding: 0;margin: 0;text-align: center;list-style: none;}
/*.subheader .containerP > ul > li > a {border:solid 1px; border-color:#c1c1c1;border-bottom: #ffffff; display: block;height: 50px;padding: 0 10px 0 10px;font-size: 12px;font-weight: bold;color: #32404e;background:#fff;border-radius:5px 5px 0 0; margin:0 2px;}
.subheader .containerP > ul > li > a:hover {color: #fff;text-decoration: none;background:#2baab1;}
.subheader .containerP > ul > li.active > a {color: #383838;}

.tabButtonSelected{cursor: pointer; border:solid 1px; border-color:#c1c1c1;border-bottom: #ffffff; display: block;height: 50px;padding: 0 2px 0 2px;font-size: 10px;font-weight: bold;color: #fff;text-decoration: none;background:#2baab1;border-radius:5px 5px 0 0; margin:0 2px;}
*/
@media (max-width: 700px) {
  body {
    background: #f8f8f8;
  }
  .splitHeight{
    max-height: 450px;
  }
  .subheader .containerP > ul {display: inline-block;height: 30px;padding: 0;margin: 0;line-height:50px;}
  .subheader .containerP > ul > li > a:hover {color: #fff;text-decoration: none;background:#2baab1;}
  .subheader .containerP > ul > li.active > a {color: #383838;}
  .subheader .containerP > ul > li {  float: left;min-width: 70px;height: 50px;padding: 0;margin: 0;text-align: center;list-style: none;}

  .tabButton{ cursor: pointer; border:solid 1px; border-color:#c1c1c1;border-bottom: #ffffff; display: block;height: 50px;padding: 0 2px 0 2px;font-size: 10px;font-weight: bold;color: #32404e;background:#fff;border-radius:5px 5px 0 0; margin:0 2px;}
  .tabButtonSelected{cursor: pointer; border:solid 1px; border-color:#c1c1c1;border-bottom: #ffffff; display: block;height: 50px;padding: 0 2px 0 2px;font-size: 10px;font-weight: bold;color: #fff;text-decoration: none;background:#2baab1;border-radius:5px 5px 0 0; margin:0 2px;}


  .tabButton img {
    width: 32px;
    height: 32px;
  }

  .tabButtonSelected img {
    width:32px;
    height:32px;
  }

  .slick-slide {
    width: 80px;
    display: block;
  }

  .s-class-cat  a {
    font-size: 10px;
  }

}

.content{margin:5px 0;padding:0;}
.widget{min-height: 202px; margin:0 0 10px 0;padding:7px 7px 15px 15px;border: solid 1px #f1f1f1;}
.widgetItems{min-height: 407px; margin:0 0 10px 0;padding:7px 7px 15px 15px;border: solid 1px #f1f1f1;}

.btn-default_p{

  background: #efefef;
  border:solid 1px #cacaca;
  width:16.66%;
  height:65px;
  font-size:12px;
  margin:0 0 5px 0;
  background:-moz-linear-gradient(top, #efefef 0%, #fff 100%); /* FF3.6+ */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top, #efefef 0%,#fff 100%); /* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top, #efefef 0%,#fff 100%); /* Opera11.10+ */
  background:-ms-linear-gradient(top, #efefef 0%,#fff 100%); /* IE10+ */
  background:linear-gradient(top, #efefef 0%,#fff 100%); /* W3C */
  margin-bottom:4px;white-space: normal;
  color: #000000;
  word-wrap:break-word;
}
.btn-default_p:hover, .btn-default_p:active, .btn-default_p:focus{background: #fff;
  background:-moz-linear-gradient(top, #fff 0%, #efefef 100%); /* FF3.6+ */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top, #fff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top, #fff 0%,#efefef 100%); /* Opera11.10+ */
  background:-ms-linear-gradient(top, #fff 0%,#efefef 100%); /* IE10+ */
  background:linear-gradient(top, #fff 0%,#efefef 100%); /* W3C */}

.btn-primary_p{
  background: #2e9ce8;
  border:solid 1px #cacaca;
  width:100%;
  min-height:70px;
  font-size:13px;
  margin:0 0 2px 0;
  background:-moz-linear-gradient(top, #2e9ce8 0%, #026fba 100%); /* FF3.6+ */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e9ce8), color-stop(100%,#2e9ce8)); /* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top, #2e9ce8 0%,#026fba 100%); /* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top, #2e9ce8 0%,#026fba 100%); /* Opera11.10+ */
  background:-ms-linear-gradient(top, #2e9ce8 0%,#026fba 100%); /* IE10+ */
  background:linear-gradient(top, #2e9ce8 0%,#026fba 100%); /* W3C */
  color:white;
  margin-bottom:4px;white-space: normal;
}
.btn-primary_p:hover, .btn-primary:active, .btn-primary_p:focus{color:#fff;background: #2e9ce8;border:solid 1px #cacaca;}
.btn-primary_p_s{
  background: #003b63;
  border:solid 1px #cacaca;
  width:100%;
  min-height:70px;
  font-size:13px;
  margin:0 0 2px 0;
  background:-moz-linear-gradient(top, #003b63 0%, #003b63 100%); /* FF3.6+ */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e9ce8), color-stop(100%,#2e9ce8)); /* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top, #003b63 0%,#003b63 100%); /* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top, #003b63 0%,#003b63 100%); /* Opera11.10+ */
  background:-ms-linear-gradient(top, #003b63 0%,#003b63 100%); /* IE10+ */
  background:linear-gradient(top, #003b63 0%,#003b63 100%); /* W3C */
  color:white;
  margin-bottom:4px;white-space: normal;
}
.btn-primary_p_s:hover, .btn-primary_s:active, .btn-primary_p_s:focus{color:#fff;background: #003b63;border:solid 1px #cacaca;}

.btn-secondry_p{
  background: #3f566c;
  border:solid 1px #cacaca;
  width:100%;
  min-height:80px;
  font-size:13px;
  margin:0 0 5px 0;
  color:#fff;
  background:-moz-linear-gradient(top, #3f566c 0%, #32414f 100%); /* FF3.6+ */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f566c), color-stop(100%,#3f566c)); /* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top, #3f566c 0%,#32414f 100%); /* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top, #3f566c 0%,#32414f 100%); /* Opera11.10+ */
  background:-ms-linear-gradient(top, #3f566c 0%,#32414f 100%); /* IE10+ */
  background:linear-gradient(top, #3f566c 0%,#32414f 100%); /* W3C */
  margin-bottom:4px;white-space: normal;
}
.btn-secondry_p:hover, .btn-secondry_p:active, .btn-secondry_p:focus{color:#fff;background: #3f566c;}

.btn-secondry_p_s{
  background: #04818d;
  border:solid 1px #cacaca;
  width:100%;
  min-height:80px;
  font-size:13px;
  margin:0 0 5px 0;
  color:#fff;
  background:-moz-linear-gradient(top, #04818d 0%, #04818d 100%); /* FF3.6+ */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#04818d), color-stop(100%,#04818d)); /* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top, #04818d 0%,#04818d 100%); /* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top, #04818d 0%,#04818d 100%); /* Opera11.10+ */
  background:-ms-linear-gradient(top, #04818d 0%,#04818d 100%); /* IE10+ */
  background:linear-gradient(top, #04818d 0%,#04818d 100%); /* W3C */
  margin-bottom:4px;white-space: normal;
}
.btn-secondry_p_s:hover, .btn-secondry_p_s:active, .btn-secondry_p_s:focus{color:#fff;background: #04818d;}

/*.footer{background:#444;height:50px;text-align:right;line-height:50px;color:#fff;}*/


/*--responsive design--*/
.widgetBox{/*margin:0 7px 10px 0;*/padding:7px;border-top: solid 4px #c1c1c1;border-left:solid 1px #cfdbe2;border-right:solid 1px #cfdbe2;border-bottom:solid 1px #cfdbe2;width:49%;min-height:280px;}
.widgetBox2{margin:0 0 5px 0;padding:0 0 0 0 ;border-top: solid 4px #c1c1c1;border-left:solid 1px #cfdbe2;border-right:solid 1px #cfdbe2;border-bottom:solid 1px #cfdbe2;}
.widgetBox2 ul{width:100%;margin:0;padding:0;}
.widgetBox2 ul > li{display:inline-block;width:48%;margin:0;font-size:14px;}
.widgetBox2 .total{border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;margin:10px 0 20px 0;padding:5px 0;line-height:30px;}
.content .widgetBox txt, .widgetBox2 txt {
  background: #23b7e5;
  padding: 5px 7px;
  display: inline-block;
  color: #FFF;
  font-weight: 600;
  font-size: 12px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  text-align: center;
}

.commentButton
{
  border: solid 1px;
  padding: 0 0 0 0;
  text-align: center;
  color:white;
  line-height: 24px;
  width: 120px;
  height: 24px;
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
  background-image: url(../assets/images/kot-comment.png);
  border-width: 0px;
  background-position: center;
}


.slick-next:before, .slick-prev:before {
  content: '' !important;
}

.slick-next, .slick-next:hover, .slick-next:focus {
  top:43% !important;
  content: '';
  right: -18px;
  background-color: transparent;
  width: 40px;
  height: 110px;
  background: url("../assets/images/arrow-right.png") no-repeat left top transparent;
}

.slick-prev, .slick-prev:hover, .slick-prev:focus {
  top:43% !important;
  left:10px;
  background-color: transparent;
  width: 40px;
  height: 110px;
  background: url("../assets/images/arrow-left.png") no-repeat left top transparent;
}

.catSlick-prev, .catSlick-prev:hover, .catSlick-prev:focus {
  top:32% !important;
}
.catSlick-next, .catSlick-next:hover, .catSlick-next:focus {
  top:32% !important;
}

.sCatSlick-next, .sCatSlick-next:hover, .sCatSlick-next:focus {
  top:23% !important;
}

.sCatSlick-prev, .sCatSlick-prev:hover, .sCatSlick-prev:focus {
  top:23% !important;
}

.itemExplorer .slick-list {
  min-height: 350px !important;
}

.slick-dots {
  bottom:-30px;
}

.cust-ddress{
  font-weight: bold;
  min-width: 100px;
}

/* Table CSS Starts Here */

.table-main-blue {
  cursor: pointer;
  border: 1px solid #fff;
  padding: 3px;
  background: #a9dbeb;
  width: 200px;
  height: 100px;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}
.table-main-grey {
  cursor: pointer;
  border: 1px solid #fff;
  padding: 3px;
  background: #ebebeb;
  width: 200px;
  height: 100px;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}
.table-main-green {
  cursor: pointer;
  border: 1px solid #fff;
  padding: 3px;
  background: #b3eabd;
  width: 200px;
  height: 100px;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}
.table-main-violet {
  cursor: pointer;
  border: 1px solid #fff;
  padding: 3px;
  background: #d9d4f9;
  width: 200px;
  height: 100px;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}
.table-main-red {
  cursor: pointer;
  border: 1px solid #fff;
  padding: 3px;
  background:deeppink;
  width: 200px;
  height: 100px;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

.table-main-red p{line-height:32px;}

.table-red{

  width: 90px;
  height: 92px;
  float: left;
  color:#fff;
  padding-left:3px;
  text-align:center;
}

.table-white{
  background: white;
  width: 90px;
  height: 92px;
  float: right;
  color:#666;
  font-weight:bold;
  font-size:11px;
  padding-left:3px;
  text-align:center;
  border-radius: 0 4px 4px 0;
}

.billingtext1{color:#fff;margin:0;line-height:32px;font-size:22px;min-height: 32px}
.billingtext2{color:#000;margin:0;line-height:40px;font-size:36px;}
.billingtext3{font-size:12px;margin:0 0;max-height: 25px;}
.billingtext4{font-size:14px;margin:0 0 0 0;min-height: 32px;line-height: 32px;}
.billingtext5{font-size:12px;margin:0 0 0 0;min-height: 32px;line-height: 32px;}
.billingtext6{font-size:12px;margin:0 0 0 0;min-height: 32px; line-height: 32px;font-size: 11px;}

.billingtext7{font-size:16px;margin:0 0 0 0;min-height: 32px;line-height: 32px;}
/*Table CSS Ends Here*/


/* Dashboard CSS */
#dashboard {
  padding-left: 175px;
  padding-left: 0;
  min-height: 800px;
}
#dashboard .panel-default {
  border-color: #cee3f0;
}
#dashboard .panel-heading h3 {
  font-size:13px;font-weight:normal;
}
#dashboard .panel-heading h3.blue {
  color:#0061a3;
}
#dashboard .panel-heading h3.blue span {
  color:#5cb85c;float:right;
}
#dashboard .panel-heading h3.red {
  color:#c0392b;}
#dashboard .panel-heading h3.red span {
  float:right;
}
#dashboard .panel-heading h3.green{
  color:#3f7577;
}

/* Top Navigation */
.posistNavBar {
  background:#fff;
  min-height:50px;
  border-bottom: solid 1px #3498db;
  border-top: solid 3px #2baab1;
}


#dashboard .navbar {
  background:#fff;
  min-height:50px;
  border-bottom: solid 1px #3498db;
  border-top: solid 3px #2baab1;
}
#dashboard .navbar .navbar-toggle {
  background-color:#000;
}
#dashboard .top-nav {
  padding: 0 15px;
}
#dashboard .top-nav>li {
  display: inline-block;float: left;
}
#dashboard .top-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999;
}
#dashboard .top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {
  color: #2baab1;
  background-color: transparent;
}

#dashboard .top-nav>.open>.dropdown-menu {
  border: solid 1px red;
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0,0,0,.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

#dashboard .top-nav>.open>.dropdown-menu>li>a {
  white-space: normal;
}

#wrapper {
  padding-left: 0;
}
#dashboard .page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff;
  margin-top: -15px;
}
#dashboard .huge {
  font-size: 50px;
  line-height: normal;
}
#dashboard .side-nav>li>ul {
  padding: 0;
}
#dashboard .side-nav>li>ul>li>a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;color: #999;
}
#dashboard .side-nav>li>ul>li>a:hover {
  color: #fff;
}

#dashboard .infoBar {
  min-height:60px;
  padding-top:33px;
  margin-bottom:20px;
  /*-webkit-box-shadow: 0 6px 5px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
}
#dashboard .infoBar ul{
  border: solid 0px red;
  background:#f1f1f1;
  margin:-15px 0 0 0;
  padding:0;
}
#dashboard .infoBar ul li {
  display:inline-block;
  padding:16px 10px;
  border-left:solid 1px #ccc;
}
#dashboard .infoBar ul li a {
  font-size:12px;
}

#dashboard .infoBar label {
  margin-right:10px;
}

#dashboard .well {
  margin:15px 0 0 0;
  padding:7px;
  border-radius:0;
}

#dashboard .panel-body {
  padding:5px;
}

#dashboard .panel-heading {
  padding: 8px 0 8px 5px;
}
/* Dashboard CSS */


.aside-nav a {
  cursor: pointer;
}

/* Custom Colored Panels */

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: #5cb85c;
}

.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}

.panel-green a {
  color: #5cb85c;
}

.panel-green a:hover {
  color: #3d8b3d;
}

.panel-red {
  border-color: #d9534f;
}

.panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}

.panel-red a {
  color: #d9534f;
}

.panel-red a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}

.panel-yellow a {
  color: #f0ad4e;
}

.panel-yellow a:hover {
  color: #df8a13;
}

.page-wrapper {
  margin-top: -65px;
}

.dashboard_toptab{
  border:1px solid #25729a;
  font-size:12px;
  font-family:arial, helvetica, sans-serif;
  padding: 22px 20px 0px 20px;
  text-decoration:none;
  display:inline-block;
  font-weight:bold;
  color: #FFFFFF;
  background-color: #006db8; height: 44px;
}

.dashboard_toptab:hover{
  border:1px solid #363d4c;
  background-color: #4b546a;
}

.marginTop-10 {
  margin-top: 10px !important;
}

@media(min-width:700px) {
  .splitHeight{
    max-height: 200px;
  }

  .subheader .containerP > ul {display: inline-block;height: 30px;padding: 0;margin: 0;line-height:50px;}
  .subheader .containerP > ul > li > a:hover {color: #fff;text-decoration: none;background:#2baab1;}
  .subheader .containerP > ul > li.active > a {color: #383838;}
  .subheader .containerP > ul > li {  float: left;min-width: 90px;height: 50px;padding: 0;margin: 0;text-align: center;list-style: none;}

  .tabButton{ cursor: pointer; border:solid 1px; border-color:#c1c1c1;border-bottom: #ffffff; display: block;height: 50px;padding: 0 10px 0 10px;font-size: 12px;font-weight: bold;color: #32404e;background:#fff;border-radius:5px 5px 0 0; margin:0 2px;}
  .tabButtonSelected{cursor: pointer; border:solid 1px; border-color:#c1c1c1;border-bottom: #ffffff; display: block;height: 50px;padding: 0 10px 0 10px;font-size: 12px;font-weight: bold;color: #fff;text-decoration: none;background:#2baab1;border-radius:5px 5px 0 0; margin:0 2px;}

  #dashboard {
    padding-left: 175px;
  }
  #dashboard .page-wrapper {
    padding: 0px;
  }

  .side-nav {
    position: fixed;
    top: 54px;
    left: 175px;
    width: 175px;
    margin: 0 0 0 -175px !important;
    border: none;border-radius: 0;
    background-color: #f8f8f8;
    border-right: solid 1px #d6d6d6;
    border-bottom: solid 1px #d6d6d6;
  }
  .side-nav>li>a {
    width: 175px;
    border: solid 0px red;
  }
  .side-nav li a:hover, .side-nav li a:focus, .side-nav li a:active {
    outline: none;
    background-color: #2baab1 !important;
    color:#000;
  }


}

.block .stepHeader.stepOpen {
  z-index: 1;
  background-color: #6394ce;
  background-image: -moz-linear-gradient(#6394ce,#395fa2);
  background-image: -webkit-linear-gradient(#6394ce,#395fa2);
  background-image: linear-gradient(#6394ce,#395fa2);
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #000;
}
.block .stepHeader {
  padding: 1.2em 0 1.2em 0;
  border-radius: 0.3em 0.3em 0 0;
  z-index: 2;
}

/*Offer css start here*/

.disabledButton {
  pointer-events: none;
  opacity: 0.6;
}
.offer-style-10{
  max-width:99%;
  padding:5px 0px 10px 20px;
  margin:0px auto 10px auto;
  background: #FFF;
  border-radius: 0px 0px 10px 10px;
  -webkit-border-radius:0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.offer {
  max-width:99%;
  margin-left:5px;
}
.offer h1{
  padding: 10px 10px 5px 5px;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  /*color: #fff;*/
  /*color:darkblue;*/
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 18px 'Arial', Arial;
  /*background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
  background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
  background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
  background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
  background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
  background-image: linear-gradient(to bottom, #3093c7, #1c5a85);*/
  border:1px solid #d7dada;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

  color: #828282;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 16px 'Arial', Arial;
  background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
  background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);

  -webkit-margin-before: 0px;
  -webkit-margin-after: 2px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;

}
.offer_selected {
  max-width:99%;
  margin-left:5px;
}
.offer_selected h1{
  padding: 10px 10px 5px 5px;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  color: #fff;
  /*color:darkblue;*/
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 18px 'Arial', Arial;
  background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
  background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
  background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
  background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
  background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
  background-image: linear-gradient(to bottom, #3093c7, #1c5a85);
  border:1px solid #d7dada;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

  /*color: #828282;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 16px 'Arial', Arial;
  background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
  background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);*/

  -webkit-margin-before: 0px;
  -webkit-margin-after: 2px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;

}
.offer-style-10 p{
  display: block;
  font: 13px Arial, Helvetica, sans-serif;
  color: #888;
}
.offer_head_button{
  /* border:1px solid #1c3b4b; -webkit-border-radius: 3px; -moz-border-radius: 5px;border-radius: 5px;font-size:16px;font-family:arial, helvetica, sans-serif; padding: 4px 8px 4px 8px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
   background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
   background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
   background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
   background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
   background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
   background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);*/

  border:1px solid #1c3b4b; -webkit-border-radius: 3px; -moz-border-radius: 5px;border-radius: 5px;font-size:16px;font-family:arial, helvetica, sans-serif; padding: 4px 8px 4px 8px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
  background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
  background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
  background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
  background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
  background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
  background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
}
.offer_head_button_unselected {
  /* border:1px solid #a0a0a0;
   background-color: #bababa; background-image: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#575757));
   background-image: -webkit-linear-gradient(top, #bababa, #575757);
   background-image: -moz-linear-gradient(top, #bababa, #575757);
   background-image: -ms-linear-gradient(top, #bababa, #575757);
   background-image: -o-linear-gradient(top, #bababa, #575757);
   background-image: linear-gradient(to bottom, #bababa, #575757);*/
  border:1px solid #ccc; -webkit-border-radius: 3px; -moz-border-radius: 5px;border-radius: 5px;font-size:16px;font-family:arial, helvetica, sans-serif; padding: 4px 8px 4px 8px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
  background-color: #d3d3d3; background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
  background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
  background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
  background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
  background-image: -o-linear-gradient(top, #d3d3d3, #707070);
  background-image: linear-gradient(to bottom, #d3d3d3, #707070);

}
.offer-style-edit{
  max-width:99%;
  padding:10px;
  margin:10px auto;
  background: #FFF;
  border-radius: 5px;
  -webkit-border-radius:5px;
  -moz-border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.Or_offer_btn_circle {
  border:1px solid #ee6462; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:15px;font-family:arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px; text-decoration:none;font-weight:bold; color: #fff;background-color: #ee6462;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  line-height: 1.428571429;
  border-radius: 15px;
}

.Or_offer_btn_circle:hover {
  border:1px solid #ee6462; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:15px;font-family:arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px; text-decoration:none;font-weight:bold; color: #fff;background-color: #e44b4d;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  line-height: 1.428571429;
  border-radius: 15px;
}
.and_offer_btn_circle {
  border:1px solid #c7c7c7; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:15px;font-family:arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px; text-decoration:none;font-weight:bold; color: #fff;background-color: #c7c7c7;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  line-height: 1.428571429;
  border-radius: 15px;
}
.buy_offer_h1{
  font-size:28px;font-family:arial, helvetica, sans-serif;font-weight:bold; color: #1d979e;
}
.offer_done_btn_circle {
  border:1px solid #d7dada; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:15px;font-family:arial, helvetica, sans-serif;
  padding: 10px 10px 5px 10px; text-decoration:none;font-weight:bold; color: #fff;background-color: #4ba614;
  width: 20px;
  height: 25px;
  text-align: center;
  line-height: 1.428571429;
  border-radius: 25px;
}

.offer_done_btn_circle:hover {
  border:1px solid #363d4c; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:15px;font-family:arial, helvetica, sans-serif;
  padding: 10px 10px 5px 10px; text-decoration:none;font-weight:bold; color: #fff;
  width: 20px;
  height: 25px;
  text-align: center;
  line-height: 1.428571429;
  border-radius: 25px;
  background-color: #4b546a; background-image: -webkit-gradient(linear, left top, left bottom, from(#4b546a), to(#2c354b));
  background-image: -webkit-linear-gradient(top, #4b546a, #2c354b);
  background-image: -moz-linear-gradient(top, #4b546a, #2c354b);
  background-image: -ms-linear-gradient(top, #4b546a, #2c354b);
  background-image: -o-linear-gradient(top, #4b546a, #2c354b);
  background-image: linear-gradient(to bottom, #4b546a, #2c354b);
}
.offer_btn_circle {
  border:1px solid #d7dada; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:15px;font-family:arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px; text-decoration:none;font-weight:bold; color: #1f5676;background-color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  line-height: 1.428571429;
  border-radius: 20px;
  outline:none;
}
/*.offer_btn_circle:hover {
    border:1px solid #d7dada; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:15px;font-family:arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px; text-decoration:none;font-weight:bold; color: #fff;background-color: #2678a8;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    line-height: 1.428571429;
    border-radius: 20px;
}*/
.offer_btn_circle_selected {
  border:1px solid #d7dada; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:15px;font-family:arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px; text-decoration:none;font-weight:bold; color: #fff;background-color: #2678a8;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  line-height: 1.428571429;
  border-radius: 20px;
  outline:none;
}
/*.offer_btn_circle_selected:hover {
    border:1px solid #d7dada; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:15px;font-family:arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px; text-decoration:none;font-weight:bold; color: #1f5676;background-color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    line-height: 1.428571429;
    border-radius: 20px;
}*/
.offer_dotted_border{border:dotted 1px #e4e4e4;  }



.offer_show_box{border:dotted 1px #e4e4e4; background:#ffffff; border-radius: 5px;}
.show-content-head1{margin:0; margin-top:10px; padding:0; padding-left:10px; font-family:sans-serif;color:#404040;font-size:14px; font-weight: bold;}
.show-content-head2{margin:0; margin-top:5px; padding:0; padding-left:10px; padding-bottom:10px; font-family:sans-serif;color:#0088cc;font-size:12px; font-weight: bold;}
.show-content-Text{margin:0; margin-top:5px; padding:0; padding-left:10px; padding-bottom:10px; font-family:sans-serif;color:#5a5a5a;font-size:14px;}
.show-offer-livetext{margin:0; margin-top:10px; padding:0; padding-left:10px; padding-bottom:10px; font-family:sans-serif;color:#27a700;font-size:20px;}
.show-offer-redtext{margin:0; margin-top:10px; padding:0; padding-left:10px; font-family:sans-serif;color:#eb4040;font-size:14px;font-weight: bold;}

.show_offer_day {border:1px solid #d7dada; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:13px;font-family:arial, helvetica, sans-serif;padding: 5px 5px 5px 5px; text-decoration:none;font-weight:bold; color: #838383;background-color: #fff;width: 25px;height: 25px;text-align:center;padding: 2px 0;line-height: 1.428571429;border-radius: 13px;outline:none;}

.show_offer_day_select {border:1px solid #0088cc; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:13px;font-family:arial, helvetica, sans-serif;padding: 5px 5px 5px 5px; text-decoration:none;font-weight:bold; color: #fff;background-color: #0088cc;width: 25px;height: 25px;text-align:center;padding: 2px 0;line-height: 1.428571429;border-radius: 13px;outline:none;}

.show_offer_button{border:1px solid #c4c4c4; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;  font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block; text-align: left; font-weight:bold; color: #848484;background-color: #ededee;}

.show_offer_button:hover{border:1px solid #c4c4c4; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;  font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block; text-align: left; font-weight:bold; color: #848484;background-color: #fff;}
.disble_apply_offer_box{border:solid 1px #e4e4e4; border-left-color:#cecece; border-left-width: 5px; border-top-color: #fff; background:#fff;}
.disble_apply_offer_box h2{ font-family: 'Open Sans', sans-serif; color:#a3a3a3; padding-left: 10px; margin:10px 0 0 0;font-size:18px;text-transform:uppercase;}
.disble_apply_offer_box p{ font-family: 'Open Sans', sans-serif; color:#b6b6b6; padding-left: 10px; margin:10px 0 10px 0;font-size:12px;}

.disble_apply_offer_boxB{border:solid 1px #e4e4e4; border-left-color:#cecece; border-left-width: 5px; border-top-color: #fff; background:#fff;min-height: 70px;}
.disble_apply_offer_boxB h2{ font-family: 'Open Sans', sans-serif; color:#a3a3a3; padding-left: 3px; margin:3px 0 0 0;font-size:15px;text-transform:uppercase;}
.disble_apply_offer_boxB p{ font-family: 'Open Sans', sans-serif; color:#b6b6b6; padding-left: 3px; margin:3px 0 3px 0;font-size:11px;}

.add_offer_benifits h2{ font-family: 'Open Sans', sans-serif; color:#1e1e1e; padding-left: 10px; margin:10px 0 0 0;font-size:30px;text-transform:uppercase;}
.add_offer_benifits h3{ font-family: 'Open Sans', sans-serif; color:#2da9b1; padding-left: 10px; margin:10px 0 10px 0;font-size:14px;text-transform:uppercase;}
.add_offer_benifits_box{border:solid 1px #e4e4e4; background:#fff; height: 85px; border-top-color: #fff; padding-top: 10px; padding-bottom: 20px;}

.modal-backdrop{
  bottom: 0;
  position: fixed;
}


.select2 > .select2-choice.ui-select-match {
  /* Because of the inclusion of Bootstrap */
  height: 29px;
}

.selectize-control > .selectize-dropdown {
  top: 36px;
}

/*.thumbnail { height: 280px !important; }*/
.btn-droppable { width: 180px; height: 30px; padding-left: 4px; }
.btn-draggable { width: 160px; }
.lvl-over {
  /* applied to a drop target when a draggable object is over it */
  border: 2px dashed black ;
}
/*

.lvl-target {
    */
/*
    applied to all drop targets when a drag operation begins
    removed when the drag operation ends
    used to indicate drop targets on a page
    *//*

    background-color: #ddd;
    opacity: .5;
}
*/

[draggable] {
  /* not applied by the directive, but useful to indicate a draggable element */
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
  border:1px solid black;
}

.bodycontainer { max-height: 1000px; width: 100%; margin: 0; overflow-y: auto; }
.table-scrollable { margin: 0; padding: 0; }
.picker-day.holiday:not(.picker-selected){
  background-color: #00ffa2;
  color: #fff;
}

/*if my holiday isn't clickable (it's the case in the demo)*/
.picker-day.holiday.picker-off{
  background-color: #00a267;
  color: #fff;
  cursor: default;
}

/*my birthday, is clickable*/
.picker-day.birthday:not(.picker-selected){
  background-color: #ded100;
  color: #000;
}
.showKeyboard{display: block;}
.hideKeyboard{display: none;}

.dialog-background{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.dialog-loading-icon {

    background:transparent;
    border-radius: 13px;
    display: block;
    height: 100px;
    line-height: 100px;
    margin: 0;
    padding: 1px;
    text-align: center;
    width: 100px;
    color:green;
    font-size: -webkit-xxx-large;
    font-weight:bold;
}
.dialog-loading-wrapper {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: 0 none;
        height: 100%;
        left: 10%;
        right: 10%;
        position: fixed;
        top: 25%;
        width: 80%;
        z-index: 9999999;
    }
    .selectedItem{
        background: rgba(43, 170, 177, 0.5);
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Modal Header */
.modal-header-n {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body-n {padding: 2px 16px;}

/* Modal Footer */
.modal-footer-n {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content-n {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.2s;
  animation-name: animatetop;
  animation-duration: 0.2s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
.tableLayoutProperty{
 table-layout:fixed;
 width:100%;
 word-wrap:break-word;

}

.table-main-seagreen {
  cursor: pointer;
  border: 1px solid #fff;
  padding: 3px;
  background: lightseagreen;
  width: 200px;
  height: 100px;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

.item-class-red{
 background:red
}

#scrollable-dropdown-menu ul {
    max-height: 200px;
    overflow-y: auto;
 }