<div class="container-fluid">
  <div class="row" ng-show="!loading">
    <h3><i class="fa fa-spinner fa-spin" style="margin-left: 10px;"></i> Loading offer Data, please wait...</h3>
  </div>
  <div ng-show="loading">
    <div ng-class="{offer_selected:(openedStage>0),offer:(openedStage<=0)}" ng-if="offerShow.defineOffer" ng-disabled="disableOffer.defineOffer"><h1><span ng-class="{offer_head_button:(openedStage>0),offer_head_button_unselected:(!openedStage>0)}">1</span>&nbsp; <span ng-show="id==null">Create Offer</span>  <span ng-show="id!=null">Edit Offer</span></h1></div>
    <div id="defineoffer" ng-class="{disabledButton:disableOffer.defineOffer}"  class="slideable">
      <div class="offer-style-10">
        <div class="row">
          <div class="col-md-12">

            <div class="row"  style="margin-bottom: 10px">
              <div class="col-md-2">
                Offer Name:
              </div>
              <div class="col-md-6">
                <input class="form-control" ng-model="offer.name" ></input>
              </div>
            </div>
            <div class="row" style="margin-bottom: 10px">
              <div class="col-md-2">
                Offer Tabs:
              </div>
              <div class="col-md-6" style="vertical-align:middle">
                <div class="form-inline">
                  <label class="checkbox checkbox-inline" ng-repeat="tab in tabTypes">
                    <input type="checkbox" checklist-model="offer.tabs" checklist-value="tab">
                    {{tab}}
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                Offer Type:
              </div>
              <div class="col-md-6">
                <div class="radio" >
                  <div class="form-inline" style="margin-bottom: 10px" >
                    <label style="min-width: 100px;">
                      <input type="radio" name="offerType" ng-change="getOfferType()" value="percent" ng-model="offer.type.name" checked >
                      % age
                    </label>
                    <input type="text" ng-change="clearOfferComplimentary()" class="form-control" ng-show="offer.type.name=='percent'" numeric-only  ng-model="offer.type.value" ></input>
                    <span ng-show="offer.type.name=='percent' && offer.type.value==100">  <label ><input  ng-model="offer.complimentary" type="checkbox"></input> Is Complimentry</label></span>
                  </div>
                  <div class="form-inline" style="margin-bottom: 10px">
                    <label style="min-width: 100px" >
                      <input type="radio" name="offerType" value="amount"  ng-change="getOfferType()" ng-model="offer.type.name">
                      Amount
                    </label>
                    <input type="text" class="form-control" ng-show="offer.type.name=='amount'" numeric-only ng-model="offer.type.value" ></input>
                  </div>
                  <div class="form-inline" style="margin-bottom: 10px">
                    <label >
                      <input type="radio" name="offerType" value="item" ng-change="getOfferType()" ng-model="offer.type.name">
                      Item Based
                    </label>
                  </div>
                  <div class="form-inline"  style="margin-bottom: 10px">
                    <label >
                      <input type="radio" name="offerType" value="comboOffer" ng-change="getOfferType()" ng-model="offer.type.name">
                      Combo Offer
                    </label>
                  </div>
                 <!--  <label >
                    <input type="radio" name="offerType" value="leastValueItem" ng-change="getOfferType()" ng-model="offer.type.name">
                    Least Value Item Free
                  </label> -->
                </div>
              </div>
            </div>
          </div>
          <div style="float: right;margin-right: 40px" >
            <a><i class="btn btn-danger" ng-click="dynamicHandler(1,'#editoffer','#defineoffer','#criteria')" ng-class="{disabledButton:disableOffer.defineOffer}" >Next</i></a>
          </div>
        </div>
      </div>
    </div>
    <div id="editoffer" ng-click="openEditOffer('#defineoffer',1,'#editoffer')" ng-class="{disabledButton:disableOffer.defineOffer}"  class="slideable">
      <div class="offer-style-edit">
        <div class="row">
          <div class="col-md-1 offer_done_btn_circle" style="border: solid 1px; height:40px;width: 40px;margin-left: 15px; ">
            <!--  <div class="offer_done_btn_circle">-->
            <i class="glyphicon glyphicon-ok"></i>
            <!--</div>-->
          </div>
          <div class="col-md-11">
            <div class="row" style="color:#808080;">
              <div class="col-md-4" >
                {{offer.name}}
              </div>
              <div class="col-md-4" >
                Offer Type:<span ng-show="offer.type.name=='percent'" >% age</span> <span ng-show="offer.type.name=='amount'" >Amount </span><span ng-show="offer.type.name=='item'" >Item wise</span>
                <span ng-show="offer.type.name=='comboOffer'" >Combo Offer</span>
              </div>
              <div class="col-md-4" >
                <div class="form-inline">
                  <span  ng-repeat="tab in offer.tabs" style="color: #e17474;font-size: 15px; font-weight: bold;">{{tab}}&nbsp;&nbsp;</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4" ></div>
              <div class="col-md-4" >
                <span ng-show="!(offer.type.name=='item' || offer.type.name=='comboOffer')" >Offer Value:</span> <span ng-show="offer.type.name=='percent'" >{{offer.type.value}} %</span> <span ng-show="offer.type.name=='amount'" ><i class="fa fa-inr"></i>&nbsp;{{offer.type.value}} </span>
              </div>
              <div class="col-md-4" ></div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-class="{offer_selected:(openedStage>1),offer:(openedStage<=1)}"  ng-if="offerShow.criteria" ng-disabled="disableOffer.criteria"><h1><span ng-class="{offer_head_button:(openedStage>1),offer_head_button_unselected:(openedStage<=1)}">2</span>&nbsp;<span ng-show="id==null">Criteria</span>  <span ng-show="id!=null">Edit Criteria</span> </h1></div>
    <div  id="criteria" ng-class="{disabledButton:disableOffer.criteria}" class="slideable" >
      <div class="offer-style-10">
        <!-- <div class="row" ng-if="offer.type.name!='comboOffer'"> -->
        <div class="row" >
          <div class="col-md-12">
            <div style="border:1px solid #CCCCCC; padding: 5px;margin-left: -15px;margin-right: 5px;" ng-if="offer.type.name!='comboOffer'">
              <div class="row" >
                <div class="col-md-10">
                  <div class="form-inline" style="margin-bottom: 10px">
                    <div class="row">
                      <div class="col-md-4">
                        Min. Bill Amount:&nbsp;&nbsp;<input type="text" class="form-control" style="max-width: 80px" numeric-only ng-model="offer.minBillAmount" ></input>
                      </div>
                      <div class="col-md-4">
                        Min. Item Count:&nbsp;&nbsp;<input type="text" class="form-control" style="max-width: 80px" numeric-only ng-model="offer.minItemCount" ></input>
                      </div>
                      <div class="col-md-4" ng-if="offer.type.name=='item'">
                        <label style="font-weight: 100"> <input type="checkbox" ng-disabled="offer.getLeastValueItem"  ng-model="offer.getItemOnly" >&nbsp;&nbsp; Only GET Item</label>&nbsp;&nbsp;
                          <label style="font-weight: 100"> <input type="checkbox" ng-disabled="offer.getItemOnly"  ng-model="offer.getLeastValueItem" >&nbsp;&nbsp; GET Least Value Item Free</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" ng-show="offer.type.name!='item'">
                <div class="col-md-6" >
                  <div class="form-inline">
                    <label>
                      <input type="radio" name="offerapplicable" checked>
                      Offer Applicable On:
                    </label>
                    <select class="form-control" ng-change="changeApplicable()" ng-model="offer.applicable.on" >
                      <option value="complete" class="">Complete Bill</option>
                      <option value="item"  >Item Wise</option>
                      <option value="itemCriteria"  >Item Criteria</option>
                      
                    </select>
                    <label style="margin-left: 10px;" ng-class="{disabledButton: applicableItems[0].length>0}"  ng-show="offer.applicable.on=='itemCriteria'"><input ng-model="offer.applicable.isExclude" type="checkbox"  >
                      Exclude Category/Item
                      </input></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" ng-show="!(offer.type.name=='item' || offer.type.name=='comboOffer')">
              <!--<pre style="height: 50px;">{{applicableItems}}</pre>-->
              <div class="col-md-12">
                <br/>
                <div ng-show="(offer.applicable.on=='item'||offer.applicable.on=='itemCriteria') " style="margin-bottom: 10px;height: 350px;overflow-y:scroll;overflow-x: hidden;border-bottom: inset; " class="wrapper">

                  <div class="row "  ng-repeat="appItem in applicableItems[0]">
                    <div class="col-md-1"><i class="fa fa-minus-circle fa-2x" ng-click="removeItem($index,0)" ></i></div><div class="col-md-1">  <span class="buy_offer_h1">BUY</span></div>
                    <div class="disabledButton">
                      <div class="col-md-2">
                        <select  class="form-control"  style="max-width: 200px">
                          <option value="" >{{appItem.category.categoryName}}</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <select ng-if="appItem.item.name!=null" class="form-control"  style="max-width: 200px">
                          <option value="" >{{appItem.item.name}}</option>
                        </select>
                        <select ng-if="appItem.item.name==null" class="form-control"  style="max-width: 200px">
                          <option value="" >--Any--</option>
                        </select>
                      </div>
                      <div class="col-md-4 form-inline">
                        <input type="text" ng-show="!offer.applicable.isExclude" style="max-width: 50px;" class="form-control" ng-model="appItem.quantity"></input>
                                        <span style="margin-left: 10px;font-weight: 100;" ng-show="appItem.limit=='min'||appItem.limit=='upto'">
                                            <label >Limit: {{appItem.limit}}</label>
                                        </span>
                      </div>
                      <div class="col-md-2">
                        <button type="button" class="and_offer_btn_circle"  ng-show="appItem.relation=='or'"   >Or</button>
                        <button type="button" class="and_offer_btn_circle" ng-show="appItem.relation=='and'"  >&</button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-1"></div> <div class="col-md-1"><span class="buy_offer_h1">BUY</span></div>
                    <div class="col-md-2">
                      <select class="form-control" ng-model="applicableItem[0].category" style="max-width: 200px" ng-options="cat.categoryName for cat in availableCategories[0] ">
                        <option value="" >Select Category</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <select class="form-control" ng-model="applicableItem[0].item" style="max-width: 200px" ng-options="item.name for item in availableItems[0]|filter:filterByCategory ">
                        <option value="" >Select Item</option>
                      </select>
                    </div>
                    <div class="col-md-4 form-inline"  >
                      <input type="text" ng-show="!offer.applicable.isExclude" class="form-control" placeholder="Qty"  style="max-width: 50px;" ng-model="applicableItem[0].quantity" numeric-only></input>
                      <!--    <label style="font-weight: 100; margin-left: 10px;"  ng-show="applicableItem[0].quantity>0 && offer.applicable.on=='item'">
                             <input type="checkbox"  ng-model="addLimit" ng-change="clearLimit()" />Limit
                         </label>-->
                      &nbsp;&nbsp;
                                            <span ng-if="addLimit">
                                                <label style="font-weight: 100;"><input type="radio" name="limit" ng-model="applicableItem[0].limit" value="min" />Min</label>
                                                <label style="font-weight: 100;"><input type="radio" name="limit" ng-model="applicableItem[0].limit" value="upto" />UpTo</label>
                                            </span>
                    </div>

                    <div class="col-md-2">
                      <button type="button" class="Or_offer_btn_circle" ng-show="applicableItem[0].relation=='or'" ng-click="addItem('or',0)" >Or</button>
                      <button type="button" class="Or_offer_btn_circle" ng-show="applicableItem[0].relation=='and' && offer.applicable.on!='item'" ng-click="addItem('and',0)">&</button>
                      <button type="button" class="Or_offer_btn_circle" ng-show="applicableItem[0].relation=='' && (!offer.applicable.isExclude)" ng-click="addItem('or',0)" >Or</button>
                      <button type="button" class="Or_offer_btn_circle" ng-show="applicableItem[0].relation=='' &&  offer.applicable.on!='item'" ng-click="addItem('and',0)">&</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" ng-show="offer.type.name=='item'">
              <div class="col-md-12">
                <br/>
                <div  style="margin-bottom: 10px;height: 350px;overflow-y:scroll;overflow-x: hidden;border-bottom: inset; " class="wrapper">
                  <div class="row">
                    <div class="col-md-5" ng-if="!offer.getItemOnly" >
                      <div style="text-align: center;"><span class="buy_offer_h1">BUY</span> 
                      </div>
                      
                      <!-- Least Value Item Offer Buy -->
                      <div class="form-inline" style="margin-bottom: 10px;" ng-if="offer.getLeastValueItem">
                      <span><label>  Add Items for Quantity:</label> </span><span>  <input class="form-control" type="text" style=" height: 30px;" ng-model="offer.leastItemValueCount.buyQuantity" name="freequantity" numeric-only></input></span>
                      </div>
                      <!-- Least Value Item Offer Ends -->

                      <div class="row "  ng-repeat="appItem in applicableItems[1]">
                        <div class="col-md-1">
                          <i class="fa fa-minus-circle fa-2x" ng-click="removeItem($index,1)" ></i>
                        </div>
                        <div class="col-md-11" style="margin-left: 0px;">
                          <div class="disabledButton form-inline">
                            <select ng-if="appItem.category.categoryName!=null" class="form-control"  style="width: 150px">
                              <option value="" >{{appItem.category.categoryName}}</option>
                            </select>
                            <select ng-if="appItem.category.categoryName==null" class="form-control"  style="width: 150px">
                              <option value="" >--Any--</option>
                            </select>
                            <select class="form-control" ng-show="appItem.item.name!=null"  style="width: 150px">
                              <option value="" >{{appItem.item.name}}</option>
                            </select>
                            <select ng-show="appItem.item.name==null  " class="form-control"  style="width: 150px">
                              <option value="" >--Any--</option>
                            </select>
                            <input type="text" class="form-control" style="width: 70px"  ng-if="!offer.getLeastValueItem" ng-model="appItem.quantity"></input>
                            <!--  <button type="button" class="and_offer_btn_circle"  ng-show="appItem.relation=='or'"   >Or</button>
                              <button type="button" class="and_offer_btn_circle" ng-show="appItem.relation=='and'"  >&</button>
                           -->
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-1" ></div>
                        <div class="col-md-11 form-inline" style="margin-left: 0px;">
                          <select class="form-control" ng-model="applicableItem[1].category" style="width: 150px" ng-options="cat.categoryName for cat in availableCategories[1] ">
                            <option value="" >Select Category</option>
                          </select>
                          <select class="form-control" ng-model="applicableItem[1].item" style="width: 150px" ng-options="item.name for item in availableItems[1]|filter:filterByCategory1 ">
                            <option value="" >Select Item</option>
                          </select>
                          <input type="text"  ng-if="!offer.getLeastValueItem"  class="form-control" style="width: 70px"  ng-model="applicableItem[1].quantity" placeholder="Qty" numeric-only></input>
                        </div></div>
                      <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                          <button type="button" class="Or_offer_btn_circle" ng-show="applicableItem[1].relation=='or'" ng-click="addItem('or',1)" >Or</button>
                          <button type="button" class="Or_offer_btn_circle"  ng-if="!offer.getLeastValueItem" ng-show="applicableItem[1].relation=='and'" ng-click="addItem('and',1)">&</button>
                          <button type="button" class="Or_offer_btn_circle" ng-show="applicableItem[1].relation==''" ng-click="addItem('or',1)" >Or</button>
                          <button type="button" class="Or_offer_btn_circle"  ng-if="!offer.getLeastValueItem" ng-show="applicableItem[1].relation==''" ng-click="addItem('and',1)">&</button>

                        </div>
                      </div>
                    </div>
                    <!-- <pre>{{applicableItems[2]|json}}</pre>-->
                    <div class="col-md-7">
                      <div style="text-align: center;"><span class="buy_offer_h1">GET</span></div>
                      <!-- Least Value Item Offer Buy -->
                      <div  ng-if="offer.getLeastValueItem" class="form-inline" style="margin-bottom: 10px;text-align: center;">
                      <span><label>  Get free Quantity:</label> </span><span>  <input class="form-control" type="text" style=" height: 30px;" ng-model="offer.leastItemValueCount.getQuantity" name="getFreeQuantity" d></input></span>
                      </div>
                      <!-- Least Value Item Offer Ends -->

                      <div class="row "  ng-if="!offer.getLeastValueItem" ng-repeat="appItem in applicableItems[2]">
                        <div class="col-md-1">
                          <i class="fa fa-minus-circle fa-2x" ng-click="removeItem($index,2)" ></i>
                        </div>
                        <div class="col-md-11" style="margin-left: 0px;"  ng-if="!doffer.getLeastValueItem">
                          <div class="disabledButton form-inline">
                            <select ng-if="appItem.category.categoryName!=null"  class="form-control"  style="width: 150px">
                              <option value="" >{{appItem.category.categoryName}}</option>
                            </select>
                            <select ng-if="appItem.category.categoryName==null||appItem.category.categoryName==''"  class="form-control"  style="width: 150px">
                              <option value="" >--Any--</option>
                            </select>
                            <select ng-show="appItem.item.name!=null" class="form-control"  style="width: 150px">
                              <option value="" >{{appItem.item.name}}</option>
                            </select>
                            <select ng-show="appItem.item.name==null" class="form-control"  style="width: 150px">
                              <option value="" >--Any--</option>
                            </select>
                            <input type="text" class="form-control" style="width: 70px" ng-model="appItem.quantity"></input>
                            <!--   <button type="button" class="and_offer_btn_circle"  ng-show="appItem.relation=='or'"   >Or</button>
                               <button type="button" class="and_offer_btn_circle" ng-show="appItem.relation=='and'"  >&</button>
                                -->
                            Discount: <span ng-show="appItem.discountType=='amount'"><i class="fa fa-inr" ></i>&nbsp;&nbsp;</span><label>{{appItem.value}}</label><span ng-show="appItem.discountType=='percent'">%age</span>
                          </div>
                        </div>
                      </div>
                      <div class="row"  ng-if="!offer.getLeastValueItem">
                        <div class="col-md-1" ></div>
                        <div class="col-md-11 form-inline" style="margin-left: 0px;">
                          <select class="form-control" ng-model="applicableItem[2].category" style="width: 150px" ng-options="cat.categoryName for cat in availableCategories[2] ">
                            <option value="" >Select Category</option>
                          </select>
                          <select class="form-control" ng-model="applicableItem[2].item" style="width: 150px" ng-options="item.name for item in availableItems[2]|filter:filterByCategory2 ">
                            <option value="" >Select Item</option>
                          </select>

                          <input type="text" class="form-control" style="width: 50px" placeholder="Qty" ng-model="applicableItem[2].quantity" numeric-only />
                          <input type="text" class="form-control" style="width: 60px" placeholder="Val"  ng-model="applicableItem[2].value" numeric-only />
                          <select class="form-control" ng-change="changeDiscountType()" ng-model="applicableItem[2].discountType" style="width:100px">
                            <option value="percent">Percent</option>
                            <option value="amount">Amount</option>
                          </select>
                        </div></div>
                      <div class="row"  ng-if="!offer.getLeastValueItem"><div class="col-md-12" style="text-align: center">

                        <button type="button" class="Or_offer_btn_circle" ng-show="applicableItem[2].relation=='or'" ng-click="addItem('or',2)" >Or</button>
                        <button type="button" class="Or_offer_btn_circle" ng-show="applicableItem[2].relation=='and'" ng-click="addItem('and',2)">&</button>
                        <button type="button" class="Or_offer_btn_circle" ng-show="applicableItem[2].relation==''" ng-click="addItem('or',2)" >Or</button>
                        <button type="button" class="Or_offer_btn_circle" ng-show="applicableItem[2].relation==''" ng-click="addItem('and',2)">&</button>

                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <label>
                <input type="checkbox"  ng-model="offer.sameOrLess" >
                Same or less value
              </label>
            </div>
          <div class="row" ng-show="offer.type.name=='comboOffer'">
              <div class="col-md-12">
                <br/>
                <div  style="margin-bottom: 10px;height: 350px;overflow-y:scroll;overflow-x: hidden;border-bottom: inset; " class="wrapper">
                  <div class="row">
                    <div class="col-md-7"  >
                      <div style="text-align: center;"><span class="buy_offer_h1">Combo Items</span> 
                      </div>
                      
                   
                      <div class="row "  ng-repeat="appItem in applicableItems[1]">
                        <div class="col-md-1" style="text-align: center;">
                          <i class="fa fa-minus-circle fa-2x" ng-click="removeItem($index,1)" ></i>
                        </div>
                        <div class="col-md-9" style="margin-left: 0px;text-align: center;">
                          <div class="disabledButton form-inline">
                            <select ng-if="appItem.category.categoryName!=null" class="form-control"  style="width: 150px">
                              <option value="" >{{appItem.category.categoryName}}</option>
                            </select>
                            <select ng-if="appItem.category.categoryName==null" class="form-control"  style="width: 150px">
                              <option value="" >--Any--</option>
                            </select>
                            <select class="form-control" ng-show="appItem.item.name!=null"  style="width: 150px">
                              <option value="" >{{appItem.item.name}}</option>
                            </select>
                            <select ng-show="appItem.item.name==null  " class="form-control"  style="width: 150px">
                              <option value="" >--Any--</option>
                            </select>
                            <!--<input type="text" class="form-control" style="width: 70px"  ng-if="!offer.getLeastValueItem" ng-model="appItem.quantity"></input>
                              <button type="button" class="and_offer_btn_circle"  ng-show="appItem.relation=='or'"   >Or</button>
                              <button type="button" class="and_offer_btn_circle" ng-show="appItem.relation=='and'"  >&</button>
                           -->
                          </div>
                        </div>
                        <div class="col-md-2" >
                        <label ng-if="isReplaceComboSelected(appItem.item.isReplaceable)">
                         <input   type="checkbox" name="replaceableItem" ng-model="appItem.item.isReplaceable" >
                          </input>Replace </label>
                        </div> 
                        
                      </div>
                      <div class="row" >
                        <div class="col-md-1" ></div>
                        <div class="col-md-9 form-inline" style="margin-left: 0px;text-align: center;">
                          <select class="form-control" ng-model="applicableItem[1].category" style="width: 150px" ng-options="cat.categoryName for cat in availableCategories[1] ">
                            <option value="" >Select Category</option>
                          </select>
                          <select class="form-control" ng-model="applicableItem[1].item" style="width: 150px" ng-options="item.name for item in availableItems[1]|filter:filterByCategory1 ">
                            <option value="" >Select Item</option>
                          </select>

                        </div></div>
                      <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                          <button type="button" class="Or_offer_btn_circle" ng-show="applicableItem[1].relation=='or'" ng-click="addItem('or',1)" >Or</button>
                          <button type="button" class="Or_offer_btn_circle" ng-show="applicableItem[1].relation==''" ng-click="addItem('or',1)" >Or</button>
                   
                        </div>
                      </div>
                    </div>
                    <!-- <pre>{{applicableItems[2]|json}}</pre>-->
                    <div class="col-md-5" ng-if="isReplaceItemSelected()">
                      <div style="text-align: center;"><span class="buy_offer_h1">Replace Item With</span></div>
                     
                      <div class="row "  ng-if="!offer.getLeastValueItem" ng-repeat="appItem in applicableItems[2]">
                        <div class="col-md-1">
                          <i class="fa fa-minus-circle fa-2x" ng-click="removeItem($index,2)" ></i>
                        </div>
                        <div class="col-md-11" style="margin-left: 0px;text-align: center;"  >
                          <div class="disabledButton form-inline">
                            <select ng-if="appItem.category.categoryName!=null"  class="form-control"  style="width: 150px">
                              <option value="" >{{appItem.category.categoryName}}</option>
                            </select>
                            <select ng-if="appItem.category.categoryName==null||appItem.category.categoryName==''"  class="form-control"  style="width: 150px">
                              <option value="" >--Any--</option>
                            </select>
                            <select ng-show="appItem.item.name!=null" class="form-control"  style="width: 150px">
                              <option value="" >{{appItem.item.name}}</option>
                            </select>
                            <select ng-show="appItem.item.name==null" class="form-control"  style="width: 150px">
                              <option value="" >--Any--</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row"  >
                        <div class="col-md-1" ></div>
                        <div class="col-md-11 form-inline" style="margin-left: 0px;text-align: center;">
                          <select class="form-control" ng-model="applicableItem[2].category" style="width: 150px" ng-options="cat.categoryName for cat in availableCategories[2] ">
                            <option value="" >Select Category</option>
                          </select>
                          <select class="form-control" ng-model="applicableItem[2].item" style="width: 150px" ng-options="item.name for item in availableItems[2]|filter:filterByCategory2 ">
                            <option value="" >Select Item</option>
                          </select>
                        </div></div>
                      <div class="row"  ><div class="col-md-12" style="text-align: center">
                        <button type="button" class="Or_offer_btn_circle" ng-show="applicableItem[2].relation=='or'" ng-click="addItem('or',2)" >Or</button>
                        <button type="button" class="Or_offer_btn_circle" ng-show="applicableItem[2].relation==''" ng-click="addItem('or',2)" >Or</button>
                        
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-inline">
             <span class="form-group" style="font-weight: bold"> Combo Amount:</span><span class="form-group">  <input type="text" style="width: 100px;height: 30px;" numeric-only  class="form-control"  ng-model="offer.comboAmount" ></span>
              </div>
            </div>
                
         
          </div>
          <div style="float: right;margin-right: 40px;">
            <a><i class="btn btn-danger" ng-click="dynamicHandler(2,'#editcriteria','#criteria','#offerItem')" ng-class="{disabledButton:disableOffer.criteria}"  >Next</i></a>
          </div>
        </div>
      </div>
    </div>
    <div id="editcriteria" ng-click="openEditOffer('#criteria',2,'#editcriteria')" ng-class="{disabledButton:disableOffer.criteria}" class="slideable"  class="slideable">
      <div class="offer-style-edit">
        <div class="row">
          <div class="col-md-1 offer_done_btn_circle" style="border: solid 1px; height:40px;width: 40px;margin-left: 15px; ">
            <!--  <div class="offer_done_btn_circle">-->
            <i class="glyphicon glyphicon-ok"></i>
            <!--</div>-->
          </div>
          <div class="col-md-11">
            <!--<pre>{{applicableItems}}</pre>-->
            <div class="row" style="color:#808080;">
              <div class="col-md-5" >
                <span ng-show="offer.type.name=='item'||offer.applicable.on=='itemCriteria' ||offer.applicable.on=='itemCriteria'" style="font-family: arial, helvetica, sans-serif;font-size: 15px;color: #e17474;font-weight: bold">BUY</span>
              </div>
              <div class="col-md-5" >
                <span ng-show="offer.type.name=='item'" style="font-family: arial, helvetica, sans-serif;font-size: 15px;color: #e17474;font-weight: bold">GET</span>
                <span ng-show="offer.applicable.on=='complete'&& offer.type.name!='item' && offer.type.name!='comboOffer' " style="color: #808080">Offer Applicable On :Complete Bill</span>
              </div>
              <div class="col-md-2" >
                <span ng-show="offer.minBillAmount!=null">MinBillAmount:{{offer.minBillAmount}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5" >
                <div ng-show="(offer.applicable.on=='item'||offer.applicable.on=='itemCriteria')&& offer.type.name!='item'">
                  <span  >  1. {{applicableItems[0][0].category.categoryName}}</span>
                  <span ng-show="applicableItems[0][0].item.name!=null">  => {{applicableItems[0][0].item.name}}</span>
                </div>
                <div ng-show="offer.type.name=='item' || offer.type.name=='comboOffer'">
                  <span ng-show="applicableItems[0][0].category.categoryName!=null">  1. {{applicableItems[1][0].category.categoryName}}</span>
                  <span ng-show="applicableItems[0][0].category.categoryName==null" >  1. Any of items</span>
                  <span ng-show="applicableItems[1][0].item.name!=null">  => {{applicableItems[1][0].item.name}}</span>
                </div>
              </div>
              <div class="col-md-5" >
                <div ng-show="offer.type.name=='item' || offer.type.name=='comboOffer'">
                  <span > 1. {{applicableItems[2][0].category.categoryName}}</span>
                  <span ng-show="applicableItems[2][0].item.name!=null" >  => {{applicableItems[2][0].item.name}}</span>   &nbsp; <span style="color: red" ng-click="openApplicableItems()"></span>
                  ..more
                </div>
              </div>
              <div class="col-md-2" >
                <span ng-show="offer.minItemCount!=null">MinItemCount:{{offer.minItemCount}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-class="{offer_selected:(openedStage>2),offer:(openedStage<=2)}"  ng-if="offerShow.offerItem" ng-class="{disabledButton:disableOffer.offerItem}"><h1><span ng-class="{offer_head_button:(openedStage>2),offer_head_button_unselected:(openedStage<=2)}">3</span>&nbsp; <span ng-show="id==null">Vaidation</span>  <span ng-show="id!=null">Edit Validation</span></h1></div>
    <div  id="offerItem" ng-class="{disabledButton:disableOffer.offerItem}" class="slideable" >
      <div class="offer-style-10">

        <div  >
          <table style="margin: 10px; border-collapse: separate;border-spacing: 0 1em;">
            <tr >
              <td width="10%">Date </td>
              <td width="20%"  >
                <div class="form-inline">
                  <input type="text" ng-disabled="offer.valid.checkBoxes.selectedNoDates" ng-modal="offer.valid.date.startDate" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-click="openValidFrom($event)" ng-model="offer.valid.date.startDate" is-open="openedValidFrom" datepicker-options="dateOptions"  close-text="Close" placeholder="From Date" />
                  <button type="button" ng-disabled="offer.valid.checkBoxes.selectedNoDates" class="btn btn-default" ng-click="openValidFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>
              </td>
              <td width="20%" >
                <div class="form-inline">
                  <input type="text" ng-disabled="offer.valid.checkBoxes.selectedNoDates" ng-modal="offer.valid.date.endDate" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-click="openValidTo($event)" ng-model="offer.valid.date.endDate" is-open="openedValidTo" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="To Date" />
                  <button type="button" ng-disabled="offer.valid.checkBoxes.selectedNoDates" class="btn btn-default" ng-click="openValidTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>
              </td>
              <td width="10%">
                <label >
                  <input type="checkbox" ng-click="clearDates()" ng-model="offer.valid.checkBoxes.selectedNoDates"  ></input>
                  No Date Range
                </label>
              </td>
            </tr>
            <tr style="margin-bottom: 10px;">
              <td width="10%">Time </td>
              <td colspan="2" width="40%">
                <table><tr><td>
                  <timepicker ng-model="offer.valid.time.startTime"  hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                </td><td>
                  To
                </td><td>
                  <timepicker ng-model="offer.valid.time.endTime"  hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                </td></tr></table>
              </td>
              <td width="10%">
                <label >
                  <input type="checkbox" ng-click="clearTime()" ng-model="offer.valid.checkBoxes.validAllTime"  ></input>
                  Valid for 24 Hrs
                </label>
              </td>
            </tr>
            <tr style="margin-bottom: 10px;">
              <td width="10%">Days </td>
              <td colspan="2" width="40%">
                <div ng-disabled="offer.valid.checkBoxes.selectedAllDays">
                  <button type="button" name="sunday" ng-click="addOfferDay('sunday')" ng-class="{'offer_btn_circle': offer.valid.days.indexOf('sunday') == -1,'offer_btn_circle_selected': (offer.valid.days.indexOf('sunday') != -1)}"  class="offer_btn_circle">S</button>
                  <button type="button" name="monday" ng-click="addOfferDay('monday')"  ng-class="{'offer_btn_circle': offer.valid.days.indexOf('monday') == -1,'offer_btn_circle_selected': (offer.valid.days.indexOf('monday') != -1)}" >M</button>
                  <button type="button" name="tuesday" ng-click="addOfferDay('tuesday')"   ng-class="{'offer_btn_circle': offer.valid.days.indexOf('tuesday') == -1,'offer_btn_circle_selected': (offer.valid.days.indexOf('tuesday') != -1)}" >T</button>
                  <button type="button" name="wednesday" ng-click="addOfferDay('wednesday')"  ng-class="{'offer_btn_circle': offer.valid.days.indexOf('wednesday') == -1,'offer_btn_circle_selected': (offer.valid.days.indexOf('wednesday') != -1)}" >W</button>
                  <button type="button" name="thursday" ng-click="addOfferDay('thursday')"  ng-class="{'offer_btn_circle': offer.valid.days.indexOf('thursday') == -1,'offer_btn_circle_selected': (offer.valid.days.indexOf('thursday') != -1)}" >T</button>
                  <button type="button" name="friday" ng-click="addOfferDay('friday')"  ng-class="{'offer_btn_circle': offer.valid.days.indexOf('friday') == -1,'offer_btn_circle_selected': (offer.valid.days.indexOf('friday') != -1)}" >F</button>
                  <button type="button" name="saturday" ng-click="addOfferDay('saturday')"  ng-class="{'offer_btn_circle': offer.valid.days.indexOf('saturday') == -1,'offer_btn_circle_selected': (offer.valid.days.indexOf('saturday') != -1)}" >S</button>
                </div>
              <td width="10%">
                <label >
                  <input type="checkbox" ng-click="updateAllDays()" ng-model="offer.valid.checkBoxes.selectedAllDays" ></input>
                  All days
                </label>
              </td>
            </tr>
            <tr>
              <td width="10%">Date List</td>
              <td colspan="2" width="40%">
                <label >
                  <input type="radio" name="dateListIncludeExclude" value="Include" ng-model="offer.valid.behaviourDateList" >
                  Include
                </label>
                <label >
                  <input type="radio" name="dateListIncludeExclude" value="Exclude" ng-model="offer.valid.behaviourDateList"  >
                  Exclude
                </label>
              </td>
              <td width="10%">
                <label >
                  <input type="checkbox" ng-click="noDateList()" ng-model="offer.valid.checkBoxes.noDateListMod"  ></input>
                  No Date List
                </label>
              </td>
            </tr>
            <tr>
              <td width="10%"></td>
              <td colspan="2" width="40%">
                <a ><i  ng-click="openCreateDateList()" ><i class="fa fa-plus"></i> Create Date List</i> </a>
                <a style="margin-left: 30px;"  ><i ng-disabled="offer.valid.checkBoxes.noDateListMod" ng-click="showDateLists()"><i class="fa fa-folder-open"></i>Select Date Lists </i></a>
              </td>
              <td width="10%">

              </td>
            </tr>
            <tr ng-show="selectedDateLists.length>0">
              <td width="10%"></td>
              <td colspan="2" width="40%">
                <h1 style="margin:0; margin-top:10px; padding:0; padding-left:10px; padding-bottom:10px; font-family:sans-serif;color:#1d979e;font-size:24px;">{{offer.valid.behaviourDateList}} dates for this offer.</h1>
                <div  style="margin-bottom: 10px;height: 350px;overflow-y:scroll;overflow-x: hidden;border-bottom: inset; " class="wrapper offer_dotted_border">
                  <div ng-repeat="dateList in offer.valid.dateLists" style="padding: 5px;" >
                    <div style=" padding:0; padding-left:10px; padding-bottom:5px; font-family:sans-serif;color:#1d979e;font-size:18px;">{{dateList.name}}<span ng-show="dateList.repeat!=null">({{dateList.repeat}})</span></div>
                                          <span ng-if="dateList.repeat==null||dateList.repeat=='daily'" ng-repeat="date in dateList.dates">
                                              <label  style="font-family:arial, helvetica, sans-serif;color:#656565;font-size:13px;color: #00aaeb;text-transform: uppercase; margin: 5px 0;font-size: 14px;font-weight: 700;" >
                                                <input type="checkbox" ng-model="date.selected"  >
                                                {{date.date|date :'dd MMM yyyy'}}&nbsp;&nbsp;
                                              </label>
                                          </span>
                                             <span ng-if="dateList.repeat=='monthly'" ng-repeat="date in dateList.dates">
                                              <label  style="font-family:arial, helvetica, sans-serif;color:#656565;font-size:13px;color: #00aaeb;text-transform: uppercase; margin: 5px 0;font-size: 14px;font-weight: 700;" >
                                                <input type="checkbox" ng-model="date.selected"  >
                                                {{date.date|date :'dd '}}&nbsp;&nbsp;
                                              </label>
                                          </span>
                                             <span ng-if="dateList.repeat=='yearly'" ng-repeat="date in dateList.dates">
                                              <label  style="font-family:arial, helvetica, sans-serif;color:#656565;font-size:13px;color: #00aaeb;text-transform: uppercase; margin: 5px 0;font-size: 14px;font-weight: 700;" >
                                                <input type="checkbox" ng-model="date.selected"  >
                                                {{date.date|date :'dd MMM'}}&nbsp;&nbsp;
                                              </label>
                                          </span>
                  </div>
                </div>
              </td>
              <td width="10%">

              </td>
            </tr>
          </table>

          <div style="clear: both;padding-bottom: 30px;">
                        <span style="float: right;margin-right: 40px; ">
                            <a><i class="btn btn-danger" ng-click="dynamicHandler(3,'#editofferitem','#offerItem','#code')" ng-disabled="disableOffer.offerItem" >Next</i></a>
                        </span>
          </div>
          <!--<div style="float: right;margin-right: 40px; ">
          <a><i class="btn btn-danger" ng-click="dynamicHandler(3,'#editofferitem','#criteria','#offerItem')" ng-class="{disabledButton:disableOffer.offerItem}"  >Select Codes</i></a>
      </div>-->
        </div>
      </div>
    </div>
    <div id="editofferitem" ng-click="openEditOffer('#offerItem',3,'#editofferitem')" ng-class="{disabledButton:disableOffer.offerItem}" class="slideable"  class="slideable">
      <div class="offer-style-edit">
        <div class="row">
          <div class="col-md-1 offer_done_btn_circle" style="border: solid 1px; height:40px;width: 40px;margin-left: 15px; ">
            <!--  <div class="offer_done_btn_circle">-->
            <i class="glyphicon glyphicon-ok"></i>
            <!--</div>-->
          </div>
          <div class="col-md-11">
            <!--<pre>{{applicableItems}}</pre>-->
            <div class="row" style="color:#808080;">
              <div class="col-md-3" >
                Valid Dates
              </div>
              <div class="col-md-3" >
                Valid Times
              </div>
              <div class="col-md-3" >
                <span ng-show="offer.valid.days.length>0">   Days </span>
              </div>
              <div class="col-md-3" >
                <span ng-show="offer.valid.dateLists.length>0">   Date List</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3" >
                <span ng-show="!(offer.valid.date.startDate==''||offer.valid.date.startDate==null)">   {{offer.valid.date.startDate| date :  'dd MMM yyyy'}}-{{offer.valid.date.endDate| date :  'dd MMM yyyy'}}</span>
                <span ng-show="offer.valid.date.startDate==''||offer.valid.date.startDate==null">All days</span>
              </div>
              <div class="col-md-3" >
                {{offer.valid.time.startTime|date :'shortTime'}}-{{offer.valid.time.endTime|date :'shortTime'}}
              </div>
              <div class="col-md-3" style="font-size: 17px;color: indianred;font-weight: bold" >
                <span ng-show="offer.valid.days.indexOf('sunday')!=-1">S</span>
                <span ng-show="offer.valid.days.indexOf('monday')!=-1">M</span>
                <span ng-show="offer.valid.days.indexOf('tuesday')!=-1">T</span>
                <span ng-show="offer.valid.days.indexOf('wednesday')!=-1">W</span>
                <span ng-show="offer.valid.days.indexOf('thursday')!=-1">T</span>
                <span ng-show="offer.valid.days.indexOf('friday')!=-1">F</span>
                <span ng-show="offer.valid.days.indexOf('saturday')!=-1">S</span>
              </div>
              <div class="col-md-3" >
                {{offer.valid.dateLists[0].name}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-class="{offer_selected:(openedStage>3),offer:(openedStage<=3)}"  ng-if="offerShow.code" ng-class="{disabledButton:disableOffer.code}" ><h1><span ng-class="{offer_head_button:(openedStage>3),offer_head_button_unselected:(openedStage<=3)}">4</span>&nbsp; <span ng-show="id==null">Create Codes</span>  <span ng-show="id!=null">Edit Codes</span></h1></div>
    <div  id="code" ng-class="{disabledButton:disableOffer.code}" class="slideable" >
      <div class="offer-style-10">
        <div class="row form-inline" style="margin-bottom: 10px;" >
          <div class="col-md-4">
            Select List:<select class="form-control" ng-change="changeOfferCode()" ng-model="offer.code.codeList" ng-options="code.name for code in offerCodes" >
            <option value="">--Select Code List--</option>
          </select>
          </div>
          <div class="col-md-3">
            Usage:<input  type="text" numeric-only  ng-disabled="(offer.valid.checkBoxes.isUnlimited)||(offer.code.codeList.name==null)" class="sm form-control" style="width:60px;" ng-model="offer.code.uses" />Times
          </div>
          <div class="col-md-2" >
            <input type="checkbox"  ng-click="clearCode()" ng-model="offer.valid.checkBoxes.isUnlimited" />
            Unlimited Usage
          </div>
        </div>
        <div style="clear: both;padding-bottom: 30px;">
                <span style="float: left;margin-left: 20px;">
                    <a><i class="btn btn-primary" ng-click="createCodesModal()"><i class="fa fa-plus"></i> Create Code </i></a>
                </span>
                        <span style="float: right;margin-right: 20px;">
                            <a><i class="btn btn-danger" ng-click="publishOffer()" ng-class="{disabledButton:disableOffer.code}" ng-disabled="offerPublished" > <span ng-show="id==null">Publish Offer</span>  <span ng-show="id!=null">Save Edited Offer </span></i></a>
                        </span>
        </div>
      </div>
      <!--<pre>{{offer|json}}</pre>-->
    </div>
  </div>
</div>
