<div class="modal-header">
    <h3 class="modal-title">Create Offer Code</h3>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well">
            <!--<pre>
                {{taxForm | json}}
            </pre>-->
            <form role="form" name="codeFormStruc" ng-submit="createCodes(codeFormStruc)" novalidate>
                <div class="form-group has-feedback"
                     ng-class="{'has-success':codeFormStruc.codeName.$valid && submitted,'has-error':codeFormStruc.codeName.$invalid && !codeFormStruc.codeName.$pristine}">
                    <label>Code List Name</label>
                    <input type="text" class="form-control" name="codeName" ng-model="codeForm.name"
                           placeholder="Code Name" required >
                    <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : codeFormStruc.codeName.$error.required}"></span>
                    <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : codeFormStruc.codeName.$valid}"></span>
                </div>
                <div>
                    <label>Valid From</label>
                    <p class="input-group">
                        <input type="text" class="form-control date"
                               ng-model="codeForm.validFrom"
                               datepicker-popup="dd-MMMM-yyyy" ng-click="open($event)"
                               is-open="datePicker.openedFrom" datepicker-options="dateOptions"
                               close-text="Close"
                               placeholder="Valid From Date"/>
                                           <span class="input-group-btn">
                                             <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                           </span>
                </div>

                <div class="form-group ">
                    <!--ng-class="{'has-success':codeFormStruc.validTo.$valid && submitted,'has-error':codeFormStruc.validTo.$invalid && !codeFormStruc.validTo.$pristine}"
                    -->
                    <label>Valid To</label>
                    <p class="input-group">
                        <input type="text" class="form-control date"
                               datepicker-popup="dd-MMMM-yyyy" ng-click="openTo($event,'openedTo')"
                               is-open="datePicker.openedTo" datepicker-options="dateOptions"
                               ng-model="codeForm.validTo"
                               close-text="Close"
                               placeholder="Valid To Date"/>
                                             <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                             </span>
                        <!--<span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : codeFormStruc.validTo.$error.required}"></span>
                        <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : codeFormStruc.validTo.$valid}"></span>-->
                </div>
                <div class="form-group has-feedback"
                     ng-class="{'has-success':codeFormStruc.totalCodes.$valid && submitted,'has-error':taxFormStruc.totalCodes.$invalid && !taxFormStruc.totalCodes.$pristine}">
                    <label>Total Codes Required</label>
                    <input type="text" class="form-control" name="totalCodes"
                           ng-model="codeForm.noOfCodes" placeholder="Total Codes Required"
                           required numeric-only/>
                    <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : codeFormStruc.totalCodes.$error.required}"></span>
                    <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : codeFormStruc.totalCodes.$valid}"></span>
                </div>
                <div class="form-group has-feedback"
                     ng-class="{'has-success':codeFormStruc.codePrefix.$valid && submitted,'has-error':codeFormStruc.codePrefix.$invalid && !codeFormStruc.codePrefix.$pristine}">
                    <label>Code Prefix(max 5 alpha numeric)</label>
                    <input type="text" class="form-control" name="codePrefix"
                           ng-model="codeForm.codePrefix" placeholder="Code Prefix"
                           ng-maxlength="5" ng-pattern="/[a-zA-Z0-9\.]*/" />
                    <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : codeFormStruc.codePrefix.$error.required}"></span>
                    <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : codeFormStruc.codePrefix.$valid}"></span>
                </div>
                <button type="submit" class="btn btn-success" ng-disabled="codeFormStruc.$invalid">
                    <span ng-if="!codeForm.codeInEdit">Create Code </span>
                    <span ng-if="codeForm.codeInEdit">Update Code</span>
                </button>
                <a class="btn btn-danger" ng-show="codeForm.codeInEdit" ng-click="clearCodeForm()">
                    Cancel
                </a>
            </form>
        </div>
    </div>
  <!--  <div class="col-md-6">
        <div class="table-responsive" >
            <table class="table table-condensed table-responsive">
                <thead>
                <th>Name</th>
                <th>From </th>
                <th> To</th>
                <th>T. Codes</th>
                <th>Prefix</th>
                <th>Show</th>
                <th>Delete</th>

                </thead>
                <tbody>
                <tr ng-repeat="offerCode in offerCodes">
                    <td>{{offerCode.name}}</td>
                    <td>{{offerCode.validFrom| date:"dd MMM yyyy"}}</td>
                    <td>{{offerCode.validTo| date:"dd MMM yyyy"}}</td>
                    <td>{{offerCode.noOfCodes}}</td>
                    <td>{{offerCode.codePrefix}}</td>
                    <td align="center"><i class="btn btn-default btn-xs" ng-click="showOfferCodes(offerCode)" >show</i> <div> <i class="fa fa-show" ng-click="openDataListModal(dateList,false);"></i> </div> </td>
                    &lt;!&ndash;<td><div> <i class="fa fa-edit" ng-click="openDataListModal(dateList,false);"></i> </div></td>&ndash;&gt;
                    <td align="center"><div> <i class="fa fa-remove" ng-click="deleteOfferCode(offerCode)"></i></div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>-->
</div>
<div class="modal-footer">
    <a class="btn btn-danger" ng-click="cancel()" >Cancel</a>
</div>
