<!--<pre>{{isNew|json}}</pre>-->
<div class="modal-header">
    <h3 class="modal-title">Select DataList</h3>
</div>
<div class="form-inline">
    <label class="checkbox checkbox-inline" style="width:150px;margin-left: 10px; " ng-repeat="datelist in dateLists">
        <input type="checkbox" checklist-model="dateListsSelected" checklist-value="datelist" />
        {{datelist.name}}
    </label>
</div>
<div class="modal-footer">
    <a class="btn btn-primary" ng-click="close()"  >Close</a>
    <a class="btn btn-danger" ng-click="cancel()" >Cancel</a>
</div>

