<div class="container-fluid">
    <div class="row" ng-show="!loading">
        <h3><i class="fa fa-spinner fa-spin" style="margin-left: 10px;"></i> Loading offer Data, please wait...</h3>
    </div>

    <div ng-show="loading" class="row" style="padding: 5px;margin-bottom: 10px;"><div class="col-md-12" >
    <div style="float: right;"><a ng-if="isPermission('create_offer')" class="btn btn-primary" ng-click="goToCreate()"><i class="fa fa-plus"> Create </i> </a></div>
</div> </div>
    <div ng-repeat="offer in offers" >
<div class="offer_show_box" style="min-height: 30px;margin-bottom: 5px;">
    <div class="row">
        <div class="col-md-12">
            <div><div style="float: left">
    <h3 style="margin:0; margin-top:10px; padding:0; padding-left:10px; padding-bottom:10px; font-family:sans-serif;color:#404040;font-size:16px;"><i class="fa fa-fire"></i> {{offer.name}}&nbsp; !</h3>
            </div><div style="float: right">
                <a><i ng-if="isPermission('edit_offer')" class="btn btn-default btn-sm" ui-sref="offer.create.edit({id:offer._id})" >Edit</i></a>
                <a><i ng-if="isPermission('delete_offer')" class="btn btn-default btn-sm" ng-click="deleteOffer(offer)" >Delete</i></a>
            </div></div>
</div></div>
    <div class="row">
        <div class="col-md-3">
            <div class="show-content-head1">
                {{offer.valid.time.startTime|date :  'h:mma'}}-{{offer.valid.time.endTime|date :  'h:mma'}}
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <button type="button" ng-class="{show_offer_day:offer.valid.days.indexOf('sunday')==-1,show_offer_day_select:offer.valid.days.indexOf('sunday')!=-1}">S</button>
                <button type="button" ng-class="{show_offer_day:offer.valid.days.indexOf('monday')==-1,show_offer_day_select:offer.valid.days.indexOf('monday')!=-1}">M</button>
                <button type="button" ng-class="{show_offer_day:offer.valid.days.indexOf('tuesday')==-1,show_offer_day_select:offer.valid.days.indexOf('tuesday')!=-1}">T</button>
                <button type="button" ng-class="{show_offer_day:offer.valid.days.indexOf('wednesday')==-1,show_offer_day_select:offer.valid.days.indexOf('wednesday')!=-1}">W</button>
                <button type="button" ng-class="{show_offer_day:offer.valid.days.indexOf('thursday')==-1,show_offer_day_select:offer.valid.days.indexOf('thursday')!=-1}">T</button>
                <button type="button" ng-class="{show_offer_day:offer.valid.days.indexOf('friday')==-1,show_offer_day_select:offer.valid.days.indexOf('friday')!=-1}">F</button>
                <button type="button" ng-class="{show_offer_day:offer.valid.days.indexOf('saturday')==-1,show_offer_day_select:offer.valid.days.indexOf('saturday')!=-1}">S</button>

            </div>
        </div>
        <div class="col-md-3">
            <span class="show-offer-redtext" ng-repeat="tab in offer.tabs">{{tab}}&nbsp; </span>
        </div>
        <div class="col-md-3">
            <span ng-if="offer.type.name!=item && offer.applicable.on=='complete'" class="show-content-Text">
                 <span ng-show="offer.type.name=='percent'" >{{offer.type.value}} %</span> <span ng-show="offer.type.name=='amount'" ><i class="fa fa-inr"></i>&nbsp;{{offer.type.value}} </span> &nbsp; <span ng-show="offer.applicable.on=='complete' && offer.minBillAmount!=null">off &nbsp;<i class="fa fa-inr"></i> {{offer.minBillAmount}}&nbsp; Min Bill Amount.</span>
            </span>
            <span ng-if="offer.type.name=='item' || offer.applicable.on=='item'" class="show-content-Text">
                <span style="font-size:11px;">
                    <span style="color: red">Buy:</span>    <span > {{offer.applicable.items[0].category.categoryName}}</span>
                     <span ng-show="offer.applicable.items[0].category.categoryName==null" > --Any of items--</span>
                    <span ng-show="offer.applicable.items[0].item.name!=null">  => {{offer.applicable.items[0].item.name}}<span ng-show="offer.applicable.items.length>1"> ..+{{offer.applicable.items.length-1}}</span></span>
                </span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="show-content-head2">
                <span ng-show="!(offer.valid.date.startDate==''||offer.valid.date.startDate==null)">   {{offer.valid.date.startDate| date :  'dd MMM yyyy'}}-{{offer.valid.date.endDate| date :  'dd MMM yyyy'}}</span>
                <span ng-show="offer.valid.date.startDate==''||offer.valid.date.startDate==null">All dates</span>

            </div>
        </div>
        <div class="col-md-3">
            <div ng-show="offer.valid.dateLists.length>0" class="show-content-head2" >
               {{offer.valid.dateLists[0].name}}<span ng-show="offer.valid.dateLists.length>1">..+{{offer.valid.dateLists.length-1}}</span>

            </div>
        </div>
        <div class="col-md-3">
            <div>
                <div  class="show-content-head2">
                    {{offer.code.codeList.name}}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div ng-show="(offer.type.name=='item' || offer.applicable.on=='item') && (offer.offerApplied.items.length>0)" class="show-content-Text">
                <div style="font-size:11px;">
                    <span style="color: red">Get:</span>    <span > {{offer.offerApplied.items[0].category.categoryName}}</span>
                    <span ng-show="offer.offerApplied.items[0].item.name!=null">  => {{offer.offerApplied.items[0].item.name}} <span ng-show="offer.offerApplied.items.length>1"> ..+  {{offer.offerApplied.items.length-1}}</span></span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>