<tabset>
  <tab heading="Generate Demand">
    <div   ng-cloak class="row">
      <div class="col-md-12">
        <div style="margin-top: 20px;"></div>
        <div class="row">
          <div  class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Demand</h3>
                <div style="float:right;margin-top:-25px">
												<span>
													<a class="btn btn-danger" ng-click="resetLNDemandForm()">
                            <span ng-if="!indentGrnOrderForm.isEdit">Reset </span>
                          </a>
												</span>
                </div>
              </div>
              <div class="panel-body">
                <form  name="demandForm" ng-submit="submitDemand(demandForm)" novalidate>
                  <div class="panel panel-default col-md-12">
                    <table class="table">
                      <tr>
                        <td>Bill No</td>
                        <td>
                          {{lnDemandForm.billNumber}}
                        </td>
                        <td>Bill Date</td>
                        <td>
                          <input type="text" date-format ng-disabled="lnDemandForm.isSaved || true" name="validFrom"
                                 class="form-control"
                                 datepicker-popup="{{'dd-MMM-yyyy'}}"
                                 ng-model="lnDemandForm.billDate"
                                 max-date="lnDemandForm.maxDate"
                                 is-open="lnDemandForm.billDate.open"
                                 ng-click="lnDemandForm.billDate.open = true"
                                 ng-required="true"
                                 ng-readonly="true"
                                 close-text="Close"/>
                        </td>
                      </tr>
                      <tr>
                        <td>Select Store</td>
                        <td>
                          <!--<pre>{{lnStores}}</pre>-->
                          <select class="form-control" ng-options="store.storeName for store in lnStores" ng-model="lnDemandForm.store" required
                            ng-change="onStoreChange(lnDemandForm.store)" ng-disabled="allowSubmit">
                            <option value="">Select Store </option>
                          </select>
                        </td>
                        <td>Select Vendor</td>
                        <td>
                          <!--<pre>{{lnDemandForm.store}}</pre>-->
                          <select class="form-control" ng-options="vendor as vendor.vendorName for vendor in lnVendors" ng-model="lnDemandForm.vendor" required
                            ng-change="onVendorChange(lnDemandForm.vendor)"  ng-disabled="allowSubmit">
                            <option value="">Select Vendor</option>
                          </select>
                        </td>

                      </tr>
                    </table>
                  </div>
                  <table class="table">
                    <tr>
                      <td>
                        <input ng-disabled="allowSubmit" type="text" id="f_1" typeahead="item.itemName for item in availableItems | filter:{itemName: $viewValue} | limitTo:8" class="form-control" placeholder="Search items to add in current list " typeahead-on-select='addToDemandItems($item, $model, $label)' ng-model="lnDemandForm.tempItem">
                      </td>
                    </tr>
                  </table>
                  <div>
                    <table class="table table-curved" ng-show="lnDemandForm.items.length > 0">
                      <thead>
                      <th></th>
                      <th>Item Name</th>
                      <th>Units</th>
                      <th>Available Qty</th>
                      <th>Quantity</th>
                      <th>Unit Price</th>
                      <th>comment</th>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in lnDemandForm.items">
                        <td>
                          <a style="cursor:pointer;" ng-click="removeItem(item, $index)"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                        <td>
                          {{item.itemName}}
                        </td>
                        <td>
                          <select ng-disabled="allowSubmit" name="name" class="form-control" ng-model="item.selectedUnit" ng-options="unit.unitName for unit in item.units"
                           ng-change="adjustPriceWithUnit(item)">
                            <option value="">Select Unit</option>
                          </select>
                        </td>
                        <td>{{10}}</td>
                        <td>
                          <input ng-disabled="allowSubmit" type="text" class="form-control" ng-model="item.qty" float>
                        </td>
                        <td>
                          <input ng-disabled="allowSubmit" type="text" class="form-control" ng-model="item.price" float>
                        </td>
                        <td>
                          <input ng-disabled="allowSubmit" type="text" class="form-control" ng-model="item.comment">
                        </td>
                      </tr>
                      </tbody>

                    </table>


                    <button id="submitEntry" type="submit" class="btn btn-success" ng-disabled="demandForm.$invalid">

                      <span>Submit & Print</span>
                    </button>

                    <div style="float:right;" ng-show="false">
                      <a class="btn btn-success" ng-disabled="indentGrnOrderForm.enableSubmit" ng-click="createEntryTemplate()">Add as template</a>
                    </div>
                  </div>
                  <div class="error-message" ng-show="indentGrnOrderForm.unitsMissing">
                    Some Items with undefined units are not available for you to order at the moment.
                  </div>
                  <!-- ng-if="indentGrnOrderForm.sumOfItems > 0" ng-hide="true" -->
                  <div  id="lnDemand" class="table-responsive" ng-hide="true" >

                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-border">
                          <tr rowspacing="0">
                            <td colspan="3" style="text-align: center;">
                              {{setting.title}}
                            </td>

                          </tr>
                          <tr>
                            <td colspan="3" style="text-align: center;">---------------------------------------</td>
                          </tr>
                          <tr>
                            <td colspan="3" style="text-align: center;">
                              {{setting.address}}
                            </td>
                          </tr>
                          <tr>
                            <td colspan="3" style="text-align: center;">
                              <hr>
                            </td>
                          </tr>
                          <tr>
                            <td width="34%">&nbsp;</td>
                            <td width="41%">&nbsp;</td>
                            <td width="25%">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="48%"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                    <tr class="h3">
                                      <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>{{currentDeployment.name}}</strong></td>
                                    </tr>
                                    <tr>
                                      <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{setting.title}}</td>
                                    </tr>
                                    <tr>
                                      <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{setting.address}}</td>
                                    </tr>
                                  </table>
                              </table>
                            </td>
                          </tr>
                        </table>
                        </td>
                      </tr>
                      <tr>
                        <td height="40" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#00000; border:dotted 1px #999999; ">LN Demand Order</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                            <tr>
                              <td width="50%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Demand Number</td>
                              <!-- <td width="27%" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Date</td>
                                                    <td width="24%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">PO Number</td> -->
                              <td width="50%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Demand Date</td>
                            </tr>
                            <tr class="content-text">
                              <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{lnDemandForm.billNumber}}</td>
                              <!-- <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{today | date: 'dd-MMM-yyyy'}}</td> -->
                              <!-- 	<td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">PO {{indentGrnDeliveryChallanForm.daySerialNumber}}</td> -->
                              <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;" >{{lnDemandForm.billDate | date: 'dd-MMM-yyyy'}}</td>
                            </tr>
                          </table></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="48%"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                              <tr class="h3">
                                <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>To</strong></td>
                              </tr>
                              <tr>
                                <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{lnDemandForm.vendor.vendorName}}</td>
                              </tr>
                              <tr>
                                <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">
                                  {{lnDemandForm.vendor.contactNumber}}
                                  <br>
                                  {{lnDemandForm.vendor.address}}
                                </td>
                              </tr>
                            </table></td>
                            <td width="2%">&nbsp;</td>
                            <td width="50%" valign="top">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                <tr class="h3">
                                  <td width="35%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>Store Location</strong></td>
                                  <td width="65%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{lnDemandForm.store.storeLocation}}</td>
                                </tr>
                                <tr class="content-text">
                                  <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>Store UID</strong></td>
                                  <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{lnDemandForm.store.storeUID}}</td>
                                </tr>
                              </table></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td height="5"></td>
                      </tr>
                      <tr bgcolor="#FFFFFF">
                        <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">

                          <thead style='background-color:#CFFFE9;'>
                          <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Item Name</th>
                          <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Unit</th>
                          <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Quantity</th>
                          <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;" ng-if="showPricing">Rate</th>
                          <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;" ng-if="showPricing">Amount</th>
                          </thead>

                          <tr ng-repeat="item in lnDemandForm.items ">
                            <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{item.itemName}}</td>
                            <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{item.selectedUnit.unitName}}</td>
                            <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{item.qty}}</td>
                            <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;" ng-if="showPricing">{{item.price}}</td>
                            <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;" ng-if="showPricing">{{item.qty * item.price}}</td>
                          </tr>

                          <br/>
                          <br/>
                          <hr/>
                          </br>
                        </table></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>

                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="44%">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                  <tr class="content-text">
                                    <td bgcolor="#EEEEEE" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;color:#00000; border:solid 1px #999999;">
                                      Vat No :{{setting.vatTin}}
                                      <br>
                                      Tin No :{{setting.taxTin}}
                                    </td>
                                  </tr>
                                </table>
                              </td>
                              <td width="4%">&nbsp;</td>
                              <td width="2%">&nbsp;</td>
                              <td width="50%" valign="top">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                  <tr style="padding-left: 10%" class="content-text">
                                    <td height="30" class="table-border" bgcolor="#EEEEEE">
                                      Authorised Signature_________________
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="44%"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                              <tr class="content-text">
                                <td bgcolor="#EEEEEE" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;color:#00000; border:dotted 1px #999999;"><p>I hereby certify that my registration certificate under/.......................</p></td>
                              </tr>
                            </table></td>

                            <td width="4%">&nbsp;</td>
                            <td width="2%">&nbsp;</td>
                            <td width="50%" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                              <tr class="content-text">
                                <td height="30" class="table-border" bgcolor="#EEEEEE"><p>{{settings.billRightFooter}}</p></td>
                              </tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                          <tr class="content-text">
                            <td bgcolor="#EEEEEE" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;color:#00000; border:dotted 1px #999999; text-align: center;"><p>{{settings.billFooter}}</p></td>
                          </tr>
                        </table></td>
                      </tr>
                    </table>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>

  <tab heading="Receive Demand">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div class="margin-top:20px;"></div>
        <div class="row">
          <div class="col-md-12">
            <div>
              <table class="table table-curved table-curved-hover ">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Demand Date</th>
                  <th>Demand No</th>
                  <th>User Name</th>
                  <th>Supply Date</th>
                  <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="demand in suppliedDemands| orderBy:'-created'" style="cursor:pointer;" ng-if="!demand.isReceived">
                  <td>{{$index+1}}</td>
                  <td>{{demand.created | date:'dd MMM yyyy @ h:mma'}}</td>
                  <td>LN -{{demand.demandBillNumber}}</td>
                  <td>{{demand.user.username}}</td>
                  <td>{{demand.supplyDate | date:'dd MMM yyyy @ h:mma'}}</td>
                  <td><a href="#" ng-click="openSuppliedDemand(demand)">Open</a></td>
                </tr>
                </tbody>
              </table>
              <br/>
              <br/>
            </div>
            <div ng-show="receiveLNDemandForm.items.length > 0">

              <table class="table table-curved">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Item Name</th>
                  <th>Asked Qty</th>
                  <th>Unit</th>
                  <th>Asked Comment</th>
                  <th>Supplied Qty</th>
                  <th>Supplier Comment</th>
                  <th>Rate</th>
                  <th>Received Qty</th>
                  <th>Receiver Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in receiveLNDemandForm.items">
                  <td>{{$index+1}}</td>
                  <td>{{item.itemName}}</td>
                  <td>{{item.qty}}</td>
                  <td>{{item.selectedUnit.unitName}}</td>
                  <td>{{item.comment}}</td>
                  <td>{{item.suppliedQty}}</td>
                  <td>{{item.supplierComment}}</td>
                  <td>{{item.supplyRate}}</td>
                  <td>
                    <input type="text" ng-model="item.receivedQty" class="form-control" float="">
                  </td>
                  <td>
                    <input type="text" ng-model="item.receiverComment"  class="form-control">
                  </td>
                </tr>
                </tbody>
              </table>
              <div>
                <button id="submitChallan" ng-click="submitDemandReceipt()" class="btn btn-success">
                  <span >Submit</span>
                </button>
                <!-- <div ng-if="InvalidItems.length > 0" class="error-message">Items marked red do not have their categories assigned to Kitchen. Please visit Store Management and add categories to respective Kitchens for this transaction to complete.
                              </div> -->

              </div>



              <!-- <div id="deliveryChallanGenerated" ng-if="indentGrnDeliveryChallanForm.sumOfItems > 0" ng-hide="true">


                              <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                  <tr>
                                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tr>
                                              <td width="34%">&nbsp;</td>
                                              <td width="41%">&nbsp;</td>
                                              <td width="25%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>

                                                      <td><h3>{{currentDeployment.name}}</h3></td>
                                                  </tr>
                                                  <tr>
                                                      <td height="5"></td>
                                                  </tr>
                                                  <tr>
                                                      <td><td height="5"><h5>{{currentDeployment.address1}} {{currentDeployment.address2}} {{currentDeployment.city}} {{currentDeployment.state}}</h5></td></td>
                                                  </tr>
                                                  <tr>
                                                      <td height="5"></td>
                                                  </tr>
                                              </table></td>
                                          </tr>
                                      </table></td>
                                  </tr>
                                  <tr>
                                      <td bgcolor="#666666" height="1"></td>
                                  </tr>
                                  <tr>
                                      <td height="40" align="center" bgcolor="#EEEEEE" class="h1">DELIVERY CHALLAN</td>
                                  </tr>
                                  <tr>
                                      <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                      <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                          <tr class="h3">
                                              <td width="21%" height="30" class="table-border">Indent Number</td>
                                              <td width="27%" height="30" class="table-border">Date</td>
                                              <td width="24%" height="30" class="table-border">PO Number</td>
                                              <td width="28%" height="30" class="table-border">PO Date</td>
                                          </tr>
                                          <tr class="content-text">
                                              <td height="30" class="table-border">{{indentGrnDeliveryChallanForm.daySerialNumber}}</td>
                                              <td height="30" class="table-border">{{today | date: 'dd-MMM-yyyy'}}</td>
                                              <td height="30" class="table-border">PO {{indentGrnDeliveryChallanForm.daySerialNumber}}</td>
                                              <td height="30" class="table-border">{{indentGrnDeliveryChallanForm.created | date: 'dd-MMM-yyyy'}}</td>
                                          </tr>
                                      </table></td>
                                  </tr>
                                  <tr>
                                      <td height="30">&nbsp;</td>
                                  </tr>
                                  <tr>
                                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tr>
                                              <td width="48%"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                                  <tr class="h3">
                                                      <td width="21%" height="30" class="table-border">To</td>
                                                  </tr>
                                                  <tr class="content-text">
                                                      <td height="30" class="table-border">{{indentGrnDeliveryChallanForm.deploymentName}}</td>
                                                  </tr>
                                                  <tr class="content-text">
                                                      <td height="30" class="table-border">{{indentGrnDeliveryChallanForm.deploymentAddress}}</td>
                                                  </tr>
                                              </table></td>
                                              <td width="2%">&nbsp;</td>
                                              <td width="50%" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                                  <tr class="h3">
                                                      <td width="35%" height="30" class="table-border">Store Location</td>
                                                      <td width="65%" height="30" class="content-text">{{indentGrnDeliveryChallanForm.store.storeLocation}}</td>
                                                  </tr>
                                                  <tr class="content-text">
                                                      <td height="30" class="h3">Store UID</td>
                                                      <td height="30" class="table-border">{{indentGrnDeliveryChallanForm.store.storeUID}}</td>
                                                  </tr>
                                              </table></td>
                                          </tr>
                                      </table></td>
                                  </tr>
                                  <tr>
                                      <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                      <td bgcolor="#999999" height="5"></td>
                                  </tr>
                                  <tr>
                                      <td bgcolor="#F0F0F0"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">

                                          <thead style='background-color:#CFFFE9;'>
                                              <th width="20%">Item Name</th>
                                              <th width="20%">Qunatity</th>
                                              <th width="20%">Rate</th>
                                              <th width="20%">Amount</th>
                                          </thead>

                                          <tr ng-repeat="item in indentGrnDeliveryChallanForm.items ">
                                              <td width="20%" text-align="center">{{item.itemName}}</td>
                                              <td width="20%" text-align="center">{{item.qty}}</td>
                                              <td width="20%" text-align="center">{{item.price}}</td>
                                              <td width="20%" text-align="center">{{item.qty * item.price}}</td>
                                          </tr>

                                          <br/>
                                          <br/>
                                          <hr/>

                                      </br>
                                      <tr><td width="50%"></td><td width="25%"><strong>Total: </strong></td><td width="25%">{{indentGrnDeliveryChallanForm.sumOfItems}}</td></tr>


                                  </table></td>
                              </tr>
                              <tr>
                                  <td>&nbsp;</td>
                              </tr>

                              <tr>
                                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                          <td width="48%"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                              <tr class="h3">
                                                  <td width="7%" class="table-border">1</td>
                                                  <td width="44%" class="table-border"> Vat</td>
                                                  <td width="49%" height="30" class="table-border">{{settings.vatTin}}</td>
                                              </tr>
                                              <tr class="content-text">
                                                  <td class="table-border">2</td>
                                                  <td class="table-border">Tax CST</td>
                                                  <td height="30" class="table-border">{{settings.taxTin}}</td>
                                              </tr>

                                          </table></td>
                                          <td width="2%">&nbsp;</td>
                                          <td width="50%" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                              <tr class="h3">
                                                  <td width="7%" class="table-border">3</td>
                                                  <td width="49%" height="30" class="table-border">All amounts above are in Rs.</td>
                                              </tr>
                                              <tr class="content-text">
                                                  <td class="table-border">4</td>
                                                  <td height="30" class="table-border">All disputes are subect to jurisdiction only.</td>
                                              </tr>

                                          </table></td>
                                      </tr>
                                  </table></td>
                              </tr>
                              <tr>

                                  <tr>
                                      <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tr>
                                              <td width="44%"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                                  <tr class="content-text">
                                                      <td bgcolor="#EEEEEE" height="30" class="table-border"><p>I hereby certify that my registration certificate under/.......................</p></td>
                                                  </tr>
                                              </table></td>

                                              <td width="4%">&nbsp;</td>
                                              <td width="2%">&nbsp;</td>
                                              <td width="50%" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                                  <tr class="content-text">
                                                      <td height="30" class="table-border" bgcolor="#EE600E"><p>{{settings.billRightFooter}}</p></td>
                                                  </tr>
                                              </table></td>
                                          </tr>
                                      </table></td>
                                  </tr>
                                  <tr>
                                      <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                      <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                          <tr class="content-text">
                                              <td bgcolor="#EEEEEE" height="30" class="table-border"><p>{{settings.billFooter}}</p></td>
                                          </tr>
                                      </table></td>
                                  </tr>
                              </table>
                          </div> -->
              <div id="deliveryChallanGenerated" ng-show="indentGrnDeliveryChallanForm.sumOfItems > 0">
                <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td colspan="3" style="text-align: center;">
                          {{setting.title}}
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align: center;">---------------------------------------</td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align: center;">
                          {{setting.address}}
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align: center;">
                          <hr>
                        </td>
                      </tr>
                      <tr>
                        <td width="34%">&nbsp;</td>
                        <td width="41%">&nbsp;</td>
                        <td width="25%">


                          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                            <tr class="h3">
                              <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>{{currentDeployment.name}}</strong></td>
                            </tr>
                            <tr>
                              <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{setting.title}}</td>
                            </tr>
                            <tr>
                              <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{setting.address}}</td>
                            </tr>
                          </table>
                          <!--   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                     <tr>

                                                         <td><h3>{{currentDeployment.name}}</h3></h></td>
                                                     </tr>
                                                     <tr>
                                                         <td height="5"></td>
                                                     </tr>
                                                     <tr>
                                                         <td height="5">
                                                             <h5> {{setting.title}}</h5>
                                                         </td>
                                                     </tr>
                                                     <tr>
                                                         <td height="5">
                                                             <h5> {{setting.address}}</h5>
                                                         </td>
                                                     </tr>
                                                     <tr>
                                                         <td height="5"></td>
                                                     </tr>
                                                 </table>-->
                        </td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="40" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#00000; border:dotted 1px #999999; ">DELIVERY CHALLAN</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                      <tr>
                        <td  width="50%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Indent Number</td>
                        <td  width="50%" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Date</td>
                      </tr>
                      <tr class="content-text">
                        <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">IN -{{indentGrnDeliveryChallanForm.daySerialNumber}}</td>
                        <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{today | date: 'dd-MMM-yyyy'}}</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="48%"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                          <tr class="h3">
                            <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>To</strong></td>
                          </tr>
                          <tr>
                            <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{indentGrnDeliveryChallanForm.deploymentName}}</td>
                          </tr>
                          <tr>
                            <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{indentGrnDeliveryChallanForm.deploymentAddress}}</td>
                          </tr>
                        </table></td>
                        <td width="2%">&nbsp;</td>
                        <td width="50%" valign="top">
                          <!-- <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                                      <tr class="h3">
                                                          <td width="35%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>Store Location</strong></td>
                                                          <td width="65%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{indentGrnDeliveryChallanForm.store.storeLocation}}</td>
                                                      </tr>
                                                      <tr class="content-text">
                                                          <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>Store UID</strong></td>
                                                          <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{indentGrnDeliveryChallanForm.store.storeUID}}</td>
                                                      </tr>
                                                  </table> -->
                        </td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="5"></td>
                  </tr>
                  <tr bgcolor="#FFFFFF">
                    <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">

                      <thead style='background-color:#CFFFE9;'>
                      <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Item Name</th>
                      <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Quantity</th>
                      <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;" ng-if="showPricing">Rate</th>
                      <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;" ng-if="showPricing">Amount</th>
                      </thead>

                      <tr ng-repeat="item in indentGrnDeliveryChallanForm.items ">
                        <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{item.itemName}}</td>
                        <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{item.supplyQty}}</td>
                        <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;" ng-if="showPricing">{{item.price}}</td>
                        <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;" ng-if="showPricing">{{item.supplyQty * item.price}}</td>
                      </tr>

                      <br/>
                      <br/>
                      <hr/>

                      </br>
                      <tr ng-if="showPricing">
                        <td colspan="3" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999; text-align: right;"><strong>Total: </strong>
                        </td>
                        <td  height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{indentGrnDeliveryChallanForm.sumOfItems}}
                        </td>
                      </tr>

                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>

                  <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="44%"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                          <tr class="h3">
                            <td width="5%" height="30" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>1</strong></td>
                            <td width="46%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"> Vat</td>
                            <td width="49%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{settings.vatTin}}</td>
                          </tr>
                          <tr>
                            <td height="30" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>2</strong></td>
                            <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">Tax CST</td>
                            <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{settings.taxTin}}</td>
                          </tr>
                        </table></td>
                        <td width="6%">&nbsp;</td>
                        <td width="50%" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                          <tr class="h3">
                            <td width="6%" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>3</strong></td>
                            <td width="94%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">All amounts above are in Rs.</td>
                          </tr>
                          <tr>
                            <td align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>4</strong></td>
                            <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">All disputes are subect to jurisdiction only.</td>
                          </tr>

                        </table></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>

                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="44%"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                          <tr class="content-text">
                            <td bgcolor="#EEEEEE" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;color:#00000; border:dotted 1px #999999;"><p>I hereby certify that my registration certificate under/.......................</p></td>
                          </tr>
                        </table></td>

                        <td width="4%">&nbsp;</td>
                        <td width="2%">&nbsp;</td>
                        <td width="50%" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                          <tr class="content-text">
                            <td height="30" class="table-border" bgcolor="#EEEEEE">
                              <span style="font-weight: bold;">Authorized Signature______________________</span>
                              <p>{{settings.billRightFooter}}</p>
                            </td>
                          </tr>
                        </table></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                      <tr class="content-text">
                        <td bgcolor="#EEEEEE" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;color:#00000;text-align: center; border:dotted 1px #999999;"><p>{{settings.billFooter}}</p></td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>
  <tab heading="Dump Management">

  </tab>
</tabset>
