<tabset>
	<tab heading="Entry Report" style="cursor:pointer;" ng-click="clearEditEntryTab()">
		<div ng-cloak class="row">

			<div style="margin-top: 20px;"></div>
			<div  class="col-md-12">
				<div class="row">
					<!-- <pre>{{editEntryForm | json}}</pre> -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Entry Report</h3>
						</div>
						<div class="panel-body">
							<form name="formEditEntry" novalidate>
								<table class="table">
									<tr>
										<td>Select From :</td>
										<td>
											<input type="text" date-format  name="validFrom"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="editEntryForm.fromDate" max-date="editEntryForm.maxDate" is-open="editEntryForm.fromDate.open" ng-click="editEntryForm.fromDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"close-text="Close" ng-readonly="true"  ng-change="checkDateGreater(editEntryForm.fromDate);"/>
										</td>

										<td>Select To :</td>
										<td>
											<input type="text" date-format  name="validTo"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="editEntryForm.toDate" max-date="editEntryForm.maxDate" is-open="editEntryForm.toDate.open" ng-click="editEntryForm.toDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"close-text="Close" ng-readonly="true"  ng-change="checkDateLesser(editEntryForm.toDate);"/>
										</td>

									</tr>
									<tr>

										<td>Select Entry Type</td>
										<td>
											<select  ng-model="editEntryForm.entryType" ng-change="bindStore_editEntryForm(editEntryForm.entryType)" ng-init="editEntryForm.entryType=1"  class="form-control">
													<option value="1">StockEntry</option>
											        <option value="2">StockSale</option>
											        <option value="3">Physical Stock</option>
											        <option value="4">Wastage</option>
											        <option value="5">Stock Transfer</option>
											        <option value="6">Opening Stock</option>
											        <option value="7">Intermediate Entry</option>
											        <option value="10">Intermediate Opening</option>
											        <option value="11">Finished Food Entry</option>
											        <option value="13">Finished Food Opening</option>
											</select>
										</td>
										<td>Select Store</td>
										<td>
											<select  ng-model="editEntryForm.store" ng-change="bindVenRec_editEntryForm(editEntryForm.store)" ng-options="s.storeName for s in editEntryForm.stores" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
									</tr>
									<tr>
										<td ng-show="editEntryForm.hideVendorReceiver">Select Vendor/Receiver</td>
										<td ng-show="editEntryForm.hideVendorReceiver">
											<select  ng-model="editEntryForm.vendor" ng-change="bindItems(editEntryForm.store,editEntryForm.vendor)" ng-options="s.name for s in editEntryForm.vendorReceiver" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
										<!-- <td>Select Items</td>
										<td>
											<select  ng-model="editEntryForm.items"  ng-options="s.itemName for s in editEntryForm.availableItems" class="form-control">
													<option value="">Select All </option>
											</select>
										</td> -->
									</tr>
									<tr>
										<td colspan="4">
											<a class="btn btn-success"  ng-click="startSearch()">Submit</a>
											<div class="btn-group" ng-show="editEntryForm.reportData.length>0 || editEntryForm.rptPhysicalWastageTransfer.length>0 || editEntryForm.rptTransfer.length ">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    Export <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											    <li><a  style="cursor:pointer;"  ng-click="exportToPdf(editEntryForm.entryType)">PDF</a></li>
											    <li><a id="excel" style="cursor:pointer;" ng-click="exportToExcel(editEntryForm.entryType)">CSV</a></li>
											    <!-- <li><a href="#">Something else here</a></li>
											    <li role="separator" class="divider"></li>
											    <li><a href="#">Separated link</a></li> -->
											  </ul>
											</div>
										</td>
									</tr>
								</table>
								<div id="stockEntrySaleReport">
									<table class="table table-curved" style="width:100%" border="1" ng-show="editEntryForm.reportData.length>0">
										<thead>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Item Code</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Item Name</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Units</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Unit Name</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Unit Price</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Total</th>
										</thead>
										<tbody>
											<tr ng-repeat-start="item in editEntryForm.reportData">
												<td colspan="6" style="background-color: #CDF5E3; font-weight:bold;" ng-click="item.collapseRows = !item.collapseRows" class="collapsible-row">
													<b>{{item.storeName}}</b>
													<span ng-class="{'caret':!item.collapseRows, 'right-caret':item.collapseRows}"></span>
												</td>
											</tr>
											<tr ng-repeat-start="v in item.vendor" ng-show="!item.collapseRows">
												<td colspan="6" style="background-color: #B9FCDD; font-weight:bold;" ng-click="v.collapseRows = !v.collapseRows" class="collapsible-row">
													<b>{{v.vendorName}}</b>
													<span ng-class="{'caret':!v.collapseRows, 'right-caret':v.collapseRows}"></span>
												</td>
											</tr>
											<tr  ng-repeat-start="b in v.billData | orderBy: 'billDate'" ng-hide="item.collapseRows || v.collapseRows">
												<td colspan="3" ng-click="b.collapseRows = !b.collapseRows" class="collapsible-row">
													<b>BillNo: {{b.billNo}}</b> &nbsp; &nbsp;
                 						         <b ng-show="b.invoiceNumber">        Invoice No: {{b.invoiceNumber}}</b> &nbsp; &nbsp;
                 						         <b ng-show="b.batchNumber">        Batch No.: {{b.batchNumber}}</b>
													<span ng-class="{'caret':!b.collapseRows, 'right-caret':b.collapseRows}"></span>
												</td>
												<td colspan="3" ng-click="b.collapseRows = !b.collapseRows" class="collapsible-row"><b>Bill Date: {{b.billDate | date:'dd MMM yyyy hh:mm a'}}</b>
													<span ng-class="{'caret':!b.collapseRows, 'right-caret':b.collapseRows}"></span>
												</td>
											</tr>

											<tr ng-repeat="itm in b.items" ng-hide="item.collapseRows || v.collapseRows || b.collapseRows">
												<td>{{itm.itemCode || '-'}}</td>
												<td>
													{{itm.itemName}}
												</td>
												<td>
													{{itm.qty}}
												</td>
												<td>
													{{itm.calculateInUnits[2].unitName}}
												</td>
												<td >
													{{itm.price}}
												</td>
												<!-- <td>{{(itm.price)*(itm.qty)}}</td> -->
												<td>{{itm.total}}</td>

											</tr>
											<tr ng-hide="item.collapseRows || v.collapseRows || b.collapseRows">
												<td colspan="2" style="text-align:right;background-color: #8A59EA;">
													<b>Bill Wise Total</b>
												</td>
												<td style="text-align:right;background-color: #8A59EA;"><b>{{b.totalQty}}</b></td>
												<td colspan="2" style="text-align:right;background-color: #8A59EA;">
													<b>Total</b>
												</td>
												<td style="text-align:right;background-color: #8A59EA;"><b>{{b.total}}</b></td>
											</tr>
											<tr ng-hide="item.collapseRows || v.collapseRows || b.collapseRows">
												<td colspan="5" style="text-align:right;">
													<b>(-) Discount</b>
												</td>
												<td>
													<b>{{b.discount}}</b>
												</td>
											</tr>
											<tr ng-hide="item.collapseRows || v.collapseRows || b.collapseRows">
												<td colspan="5" style="text-align:right;">
													<b>(+)  Vat+Service Charge</b>
												</td>
												<td>
													<b>{{b.vatSCharge}}</b>
												</td>
											</tr>
											<tr ng-hide="item.collapseRows || v.collapseRows || b.collapseRows || b.charges.length <= 0" ng-repeat = "charge in b.charges">
												<td colspan="5" style="text-align:right;">
													<b ng-if = "charge.operationType == 'additive'">
													(+) {{charge.chargeName}}</b>
													<b ng-if = "charge.operationType == 'deductive'"> 
													(-) {{charge.chargeName}}</b>
												</td>
												<td>
													<b>{{charge.chargableAmount}}</b>
												</td>
											</tr>
											<!-- <tr ng-hide="item.collapseRows || v.collapseRows || b.collapseRows">
												<td colspan="5" style="text-align:right;">
													<b>(+) Net Additional Charge</b>
												</td>
												<td>
													<b>{{b.netAdditionalCharge}}</b>
												</td>
											</tr> -->
											<tr ng-hide="item.collapseRows || v.collapseRows || b.collapseRows">
												<td colspan="5" style="text-align:right;">
													<b>Cartage</b>
												</td>
												<td>
													<b>{{b.cartage}}</b>
												</td>
											</tr>
											<tr ng-hide="item.collapseRows || v.collapseRows || b.collapseRows || b.isEntry">
												<td colspan="5" style="text-align:right;">
													<b>Payment</b>
												</td>
												<td>
													<b>{{b.payment}}</b>
												</td>
											</tr>
											<tr ng-hide="item.collapseRows || v.collapseRows || b.collapseRows">
												<td colspan="5" style="text-align:right;">
													<b>Grand Total</b>
												</td>
												<td>
													<b>{{b.gt}}</b>
												</td>
											</tr >
											<tr ng-repeat-end></tr>
											<tr ng-hide="item.collapseRows || v.collapseRows">
												<td colspan="2" style="text-align:right; background-color: #8ECCF9;">
													<b>Vendor/Receiver Wise Total</b>
												</td>
												<td  style="background-color: #8ECCF9;">
													<b>{{v.totalQty}}</b>
												</td>
												<td colspan="2"  style="background-color: #8ECCF9;"></td>
												<td  style="background-color: #8ECCF9;">
													<b>{{v.totalAmt}}</b>
												</td>
											</tr>
											<tr ng-repeat-end></tr>
											<tr ng-hide="item.collapseRows">
												<td colspan="2" style="text-align:right;background-color: #1CF291;">
													<b>Store Wise Total</b>
												</td>
												<td style="background-color: #1CF291;"><b>{{item.totalQty}}</b></td>
												<td style="background-color: #1CF291;" colspan="2"></td>
												<td style="background-color: #1CF291;"><b>{{item.totalAmt}}</b></td>
											</tr>
											<tr ng-repeat-end ></tr>
										</tbody>
										<!-- <tbody ng-repeat="item in editEntryForm.reportData">
											<tr>
												<td colspan="6" style="background-color: #CDF5E3">
													<b>{{item.storeName}}</b>
												</td>
											</tr>
											<tr ng-repeat="v in item.vendor">
												<td colspan="6">
													<table class="table table-curved">
														<tr>
															<td colspan="6" style="background-color: #B9FCDD;">
																<b>{{v.vendorName}}</b>
															</td>
														</tr>
														<tr ng-repeat="b in v.billData | orderBy: 'billDate'">
															<td colspan="6">
																<table class="table table-curved" >
																	<tr style="background-color: #B5E3FD;">
																		<td colspan="3">
																			<b>BillNo: {{b.billNo}}</b>
																		</td>
																		<td colspan="3">
																			<b>Bill Date: {{b.billDate | date:'dd MMM yyyy'}}</b>
																		</td>
																	</tr>
																	<tr ng-repeat="itm in b.items">
																		<td></td>
																		<td>
																			{{itm.itemName}}
																		</td>
																		<td>
																			{{itm.qty}}
																		</td>
																		<td>
																			{{itm.calculateInUnits[2].unitName}}
																		</td>
																		<td >
																			{{itm.price}}
																		</td>
																		<td>{{(itm.price)*(itm.qty)}}</td>
																	</tr>
																	<tr>
																		<td colspan="2" style="text-align:right;">
																			<b>Bill Wise Total</b>
																		</td>
																		<td><b>{{b.totalQty}}</b></td>
																		<td colspan="2" style="text-align:right;">
																			<b>Total</b>
																		</td>
																		<td><b>{{b.total}}</b></td>
																	</tr>
																	<tr>
																		<td colspan="5" style="text-align:right;">
																			<b>(-) Discount</b>
																		</td>
																		<td>
																			<b>{{b.discount}}</b>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="5" style="text-align:right;">
																			<b>(+)  Vat+Service Charge</b>
																		</td>
																		<td>
																			<b>{{b.vatSCharge}}</b>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="5" style="text-align:right;">
																			<b>Grand Total</b>
																		</td>
																		<td>
																			<b>{{b.gt}}</b>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="5" style="text-align:right;">
																			<b>Payment</b>
																		</td>
																		<td>
																			<b>{{b.payment}}</b>
																		</td>
																	</tr>
																</table>
															</td>
														</tr>
														<tr style="background-color: #8ECCF9;">
															<td colspan="2" style="text-align:right;">
																<b>Vendor/Receiver Wise Total</b>
															</td>
															<td>
																<b>{{v.totalQty}}</b>
															</td>
															<td colspan="2"></td>
															<td>
																<b>{{v.totalAmt}}</b>
															</td>
														</tr>
													</table>
												</td>
											</tr>
											<tr style="background-color: #1CF291;">
												<td colspan="2" style="text-align:right;">
													<b>Store Wise Total</b>
												</td>
												<td><b>{{item.totalQty}}</b></td>
												<td colspan="2"></td>
												<td><b>{{item.totalAmt}}</b></td>
											</tr>
										</tbody> -->
									</table>
								</div>


								<div id="physicalWastageTransferReport">
									<table class="table table-curved"  style="width:100%" border="1" ng-show="editEntryForm.rptPhysicalWastageTransfer.length>0">
										<thead>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Item Code</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Item Name</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Quanity</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Unit Name</th>
										</thead>
										<thead>
											<tr ng-repeat-start="item in editEntryForm.rptPhysicalWastageTransfer">
												<td colspan="4"  ng-click="item.collapseRows = !item.collapseRows" class="collapsible-row" style="background-color:#CDF5E3;font-weight:bold;" >
												<!-- <pre>{{item}}</pre> -->
													<b>{{item.storeName}}</b>
													<span ng-class="{'caret':!item.collapseRows, 'right-caret':item.collapseRows}"></span>
												</td>
											</tr>
											<tr ng-repeat-start="b in item.billData | orderBy: 'billDate'" ng-show="!item.collapseRows" >
												<td colspan="2" ng-click="b.collapseRows = !b.collapseRows" class="collapsible-row" style="background-color:#abc123;">
													<b>BillNo:  {{b.billNo}}</b>
													   <b ng-show="b.invoiceNumber">        Invoice No: {{b.invoiceNumber}}</b>
													<span ng-class="{'caret':!b.collapseRows, 'right-caret':b.collapseRows}"></span>
												</td>
												<td colspan="1" ng-click="b.collapseRows = !b.collapseRows" class="collapsible-row" style="background-color: #abc123">
													<b>Bill Date: {{b.billDate | date:'dd MMM yyyy hh:mm a'}}</b>
													<span ng-class="{'caret':!b.collapseRows, 'right-caret':b.collapseRows}"></span>
												</td>
												<td colspan="1" ng-click="b.collapseRows = !b.collapseRows" class="collapsible-row" style="background-color: #abc123">
													<span ng-if="b.toStore">
													<b>Transferred To: {{b.toStore}}</b>
													<span ng-class="{'caret':!b.collapseRows, 'right-caret':b.collapseRows}"></span>
													</span>
												</td>
											</tr>
											<tr  ng-repeat-start="itm in b.items" ng-hide="item.collapseRows || b.collapseRows">
												<td>{{itm.itemCode || '-'}}</td>
												<td>
													{{itm.itemName}}{{itm.name}}
												</td>
												<td>
													{{itm.qty}}
												</td>
												<td>
													{{itm.calculateInUnits[2].unitName}} <!-- {{itm.selectedUnit.unitName}} -->
												</td>
											</tr>
											<tr ng-repeat-end></tr>
											<tr ng-hide="item.collapseRows || b.collapseRows">
												<td  colspan="2" style="text-align:right;background-color: #FFF26C;">
													<b>Bill Wise Total</b>
												</td>
												<td style="text-align:right;background-color: #FFF26C;"><b>{{b.totalQty}}</b></td>
												<td  style="text-align:right;background-color: #FFF26C;">

												</td>
											</tr>
											<tr ng-repeat-end></tr>
											<tr ng-hide="item.collapseRows">
												<td colspan="2" style="text-align:right;background-color: #abcabc;">
													<b>Store Wise Total</b>
												</td>
												<td style="text-align:right;background-color: #abcabc;"><b>{{item.totalQty}}</b></td>
												<td style="text-align:right;background-color: #abcabc;"><b>{{item.totalAmt}}</b></td>
											</tr>
											<tr ng-repeat-end></tr>
										</thead>
										<!-- <tbody ng-repeat="item in editEntryForm.rptPhysicalWastageTransfer">
											<tr>
												<td colspan="4" style="background-color: #CDF5E3">
													<b>{{item.storeName}}</b>
												</td>
											</tr>
											<tr ng-repeat="b in item.billData | orderBy: 'billDate'">
												<td colspan="4">
													<table class="table table-curved" >
														<tr style="background-color: #B5E3FD;">
															<td colspan="2">
																<b>BillNo:  {{b.billNo}}</b>
															</td>
															<td colspan="2">
																<b>Bill Date: {{b.billDate | date:'dd MMM yyyy'}}</b>
															</td>
														</tr>
														<tr ng-repeat="itm in b.items">
															<td></td>
															<td>
																{{itm.itemName}}
															</td>
															<td>
																{{itm.qty}}
															</td>
															<td>
																{{itm.calculateInUnits[2].unitName}}
															</td>
														</tr>
														<tr>
															<td  colspan="2" style="text-align:right;">
																<b>Bill Wise Total</b>
															</td>
															<td><b>{{b.totalQty}}</b></td>
															<td  style="text-align:right;">

															</td>
														</tr>
													</table>
												</td>
											</tr>
											<tr style="background-color: #1CF291;">
												<td style="text-align:right;">
													<b>Store Wise Total</b>
												</td>
												<td><b>{{item.totalQty}}</b></td>
												<td></td>
												<td><b>{{item.totalAmt}}</b></td>
											</tr>
										</tbody> -->
									</table>
								</div>

								<div id="transferReport">
									<table class="table table-curved"  style="width:100%" border="1" ng-show="editEntryForm.rptTransfer.length>0">
										<thead>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Item Code</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Item Name</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Quanity</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Price</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Unit Name</th>
										</thead>
										<thead>
											<tr ng-repeat-start="item in editEntryForm.rptTransfer" >
												<td colspan="5"  ng-click="item.collapseRows = !item.collapseRows"  class="collapsible-row" style="background-color:#CDF5E3;font-weight:bold;" >
												<!-- <pre>{{item}}</pre> -->
													<b>From Store - </b><b>{{item.storeName}}</b>
													<span ng-class="{'caret':!item.collapseRows, 'right-caret':item.collapseRows}"></span>
												</td>
											</tr>
											<tr ng-repeat-start="b in item.billData | orderBy: 'billDate'" ng-show="!item.collapseRows" >
												<td colspan="2" ng-click="b.collapseRows = !b.collapseRows" class="collapsible-row" style="background-color:#abc123;">
													<b>BillNo:  {{b.billNo}}</b>
													   <b ng-show="b.invoiceNumber">        Invoice No: {{b.invoiceNumber}}</b>
													<span ng-class="{'caret':!b.collapseRows, 'right-caret':b.collapseRows}"></span>
												</td>
												<td colspan="1" ng-click="b.collapseRows = !b.collapseRows" class="collapsible-row" style="background-color: #abc123">
													<b>Bill Date: {{b.billDate | date:'dd MMM yyyy hh:mm a'}}</b>
													<span ng-class="{'caret':!b.collapseRows, 'right-caret':b.collapseRows}"></span>
												</td>
												<td colspan="2" ng-click="b.collapseRows = !b.collapseRows" class="collapsible-row" style="background-color: #abc123">
													<span ng-if="b.toStore">
													<b>Transferred To: {{b.toStore}}</b>
													<span ng-class="{'caret':!b.collapseRows, 'right-caret':b.collapseRows}"></span>
													</span>
												</td>
											</tr>
											<tr  ng-repeat-start="itm in b.items" ng-hide="item.collapseRows || b.collapseRows">
												<td>{{itm.itemCode || '-'}}</td>
												<td>
													{{itm.itemName}}{{itm.name}}
												</td>
												<td>
													{{itm.qty}}
												</td>
												<td ng-if="transfer(itm)">
													{{ itm.price==0?"N.A.":itm.price }}
												</td>
												<td>
													{{itm.calculateInUnits[2].unitName}} <!-- {{itm.selectedUnit.unitName}} -->
												</td>
											</tr>
											<tr ng-repeat-end></tr>
											<tr ng-hide="item.collapseRows || b.collapseRows" style="text-align:right;background-color: #FFF26C;" >
												<td colspan="2">
													<b>Bill Wise Total</b>
												</td>
												<td colspan="1" ><b style="float:left">{{b.totalQty}}</b></td>
												<td ><b style="float:left">{{b.total==0? "N.A.":b.total}}</b></td>
												<td></td>
											</tr>
											<tr ng-repeat-end></tr>
											<tr ng-hide="item.collapseRows" style="text-align:right;background-color: #abcabc;">
												<td colspan="2" >
													<b>Store Wise Total</b>
												</td>
												<td ><b style="float:left">{{item.totalQty}}</b></td>
												<td ><b style="float:left">{{item.totalPrice}}</b></td>
												<td></td>
											</tr>
											<tr  ng-repeat-end></tr>
										</thead>
										<!-- <tbody ng-repeat="item in editEntryForm.rptPhysicalWastageTransfer">
											<tr>
												<td colspan="4" style="background-color: #CDF5E3">
													<b>{{item.storeName}}</b>
												</td>
											</tr>
											<tr ng-repeat="b in item.billData | orderBy: 'billDate'">
												<td colspan="4">
													<table class="table table-curved" >
														<tr style="background-color: #B5E3FD;">
															<td colspan="2">
																<b>BillNo:  {{b.billNo}}</b>
															</td>
															<td colspan="2">
																<b>Bill Date: {{b.billDate | date:'dd MMM yyyy'}}</b>
															</td>
														</tr>
														<tr ng-repeat="itm in b.items">
															<td></td>
															<td>
																{{itm.itemName}}
															</td>
															<td>
																{{itm.qty}}
															</td>
															<td>
																{{itm.calculateInUnits[2].unitName}}
															</td>
														</tr>
														<tr>
															<td  colspan="2" style="text-align:right;">
																<b>Bill Wise Total</b>
															</td>
															<td><b>{{b.totalQty}}</b></td>
															<td  style="text-align:right;">

															</td>
														</tr>
													</table>
												</td>
											</tr>
											<tr style="background-color: #1CF291;">
												<td style="text-align:right;">
													<b>Store Wise Total</b>
												</td>
												<td><b>{{item.totalQty}}</b></td>
												<td></td>
												<td><b>{{item.totalAmt}}</b></td>
											</tr>
										</tbody> -->
									</table>
								</div>



								<table class="table table-curved"  ng-show="editEntryForm.availableRecords.length>0">
									<thead>
										<th>Bill No</th>
										<th>Date</th>
										<th>Vendor/Receiver</th>
										<th>Total Qty</th>
										<th>Amount</th>
										<th>Paid Amt</th>
										<th>Due Amt</th>
										<th>View/Update</th>
									</thead>
									<tbody>
										<tr ng-repeat="item in editEntryForm.availableRecords | orderBy: 'created'">
											<td>
												{{item.daySerialNumber}}
											</td>
											<td>
												{{item.created |date :'dd MMM yyyy'}}
											</td>
											<td>
												{{item._store.vendor.vendorName}}  {{item._store.receiver.receiverName}}
											</td>
											<td>{{item.totalQty}}</td>
											<td>{{item.totalAmt}}</td>
											<td>{{item.totalPaid}}</td>
											<td>{{item.totalDue}}</td>
											<td>
												<a style="cursor:pointer;" ng-click="UpdateVendorPatment(item)"><i class="glyphicon glyphicon-edit"></i></a>
									 			</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tab>
</tabset>
