<div class="modal-header">
    <h3 class="modal-title">New Customer</h3>
<div class="modal-body">
    <!-- <pre>
        {{newCustomer | json}}
    </pre> -->
    <form role="form" name="newCustomerForm" novalidate>
        <div class="row form-group">
            <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="First Name" ng-model="newCustomer.firstname" required>
            </div>
            <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Last Name" ng-model="newCustomer.lastname" required>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-12">
                <input type="text" class="form-control" name="custEmail" placeholder="Email" ng-model="newCustomer.email" required ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/">
                <p class="help-block" ng-show="newCustomerForm.custEmail.$error.pattern && newCustomerForm.$dirty">
                    Please enter a valid Email
                </p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-12">
                <input type="text" name="custMobile" class="form-control" placeholder="Mobile Number" ng-model="newCustomer.mobile" ng-pattern="/^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4}$/" required>
                <p class="help-block" ng-show="newCustomerForm.custMobile.$error.pattern && newCustomerForm.$dirty">
                   Please enter a valid mobile number
                </p>
            </div>
        </div>


        <div ng-repeat="address in newCustomer.addresses">
        <hr/>
          <!-- Text input-->
          <div class="row form-group">
            <div class="col-sm-10">
              <select class="form-control" ng-model="address.type" ng-options="type for type in addressTypes">
                <option value="">Select Address Type</option>
              </select>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-10">
              <input type="text" ng-model="address.line1" placeholder="Address Line 1" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="row form-group">
            <div class="col-sm-10">
              <input type="text" ng-model="address.line2"  placeholder="Address Line 2" class="form-control">
            </div>
          </div>
          <!-- Text input-->
          <div class="row form-group">
            <div class="col-sm-10">
              <input type="text" ng-model="address.city"  placeholder="City" class="form-control">
            </div>
          </div>
          <!-- Text input-->
          <div class="row form-group">
            <div class="col-sm-4">
              <input type="text" ng-model="address.state"  placeholder="State" class="form-control">
            </div>
            <div class="col-sm-4">
              <input type="text" ng-model="address.postcode"  placeholder="Post Code" class="form-control">
            </div>
          </div>
          <!-- Text input-->
          <div class="row form-group">
            <div class="col-sm-10">
              <input type="text" ng-model="address.country" disabled placeholder="Country" class="form-control">
            </div>
          </div>
        </div>

        <div class="well-sm">
            <a class="btn btn-info" ng-click="addAddress()">Add Address</a>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="createNewCustomer(newCustomerForm)">Create New Customer</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</div>