
<div >
    <!-- Navigation -->
    <div ng-include="'components/navbar/navbar.html'"></div>
</div>

<div  style="margin: 20px;">
    <progressbar ng-show="progress>0" class="progress-striped active" value="progress" type="primary">{{progress}}%</progressbar>
    <!--<div>{{status}} </div>-->
    <div ng-show="totalAmount>0">Total Amount:{{totalAmount}} &nbsp; Adjusted:{{amountAdjusted}}</div>
</div>

    <div ng-show="isDeployment" ng-class="{disabledButton:disableModification==true}">
    <div class="container-fluid" style="margin:10px;">
        <tabset>
            <tab heading="Modification" select="SelectedType('modification')" >
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-weight: bold">
                        Bill Modification
                    </div>
                    <div class="panel-body">
                        <div class="form-inline">
                         Start Date:   <input type="text"  class="form-control" datepicker-popup="dd-MMMM-yyyy" style="height: 30px;" ng-model="billModify.modification.fromDate" ng-click="openCalender($event,'modFrom')"  is-open="dateCal.modFrom" datepicker-options="dateOptions"  close-text="Close"  />
                            <button type="button"  class="btn btn-default" ng-click="openCalender($event,'modFrom')"  style="height: 30px;"><i class="glyphicon glyphicon-calendar"></i></button>

                            <!--Start Date:  <input type="text" class="form-control" style="height: 30px;"></input>-->
                        </div>
                        <div class="form-inline" style="margin-top: 5px;">
                            End Date : <input type="text"  class="form-control" datepicker-popup="dd-MMMM-yyyy" style="height: 30px;" ng-model="billModify.modification.toDate" ng-click="openCalender($event,'modTo')"  is-open="dateCal.modTo" datepicker-options="dateOptions"  close-text="Close"  />
                            <button type="button"  class="btn btn-default" ng-click="openCalender($event,'modTo')"  style="height: 30px;"><i class="glyphicon glyphicon-calendar"></i></button>

                        </div>
                        <div class="form-inline" style="margin-top: 5px;">
                            Bill Amount:<input type="text" numeric-only ng-model="billModify.modification.billAmount" class="form-control" style="width: 100px; height: 30px;"></input>
                            <span style="margin-left: 20px;"><input type="radio" ng-model="billModify.modification.type" ng-selected="billModify.modification.type==percent"  name="manipulateType" value="percent"> Percent</input> <input style="margin-left: 10px;" type="radio"  ng-model="billModify.modification.type"  ng-selected="billModify.modification.type==amount" name="manipulateType" value="amount"> Amount</input> </span>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Deletion" select="SelectedType('deletion')" >
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-weight: bold">
                        Bill Deletion
                    </div>
                    <div class="panel-body">
                        <tabset>
                            <tab heading="Date Wise" select="DeletionType('datewise')" >
                                <div style="margin: 10px;">
                                    <div class="form-inline">
                                        Start Date:
                                        <input type="text"  class="form-control" datepicker-popup="dd-MMMM-yyyy" style="height: 30px;" ng-model="billModify.deletion.dateWise.fromDate" ng-click="openCalender($event,'delDateFrom')"  is-open="dateCal.delDateFrom" datepicker-options="dateOptions"  close-text="Close"  />
                                        <button type="button"  class="btn btn-default" ng-click="openCalender($event,'delDateFrom')"  style="height: 30px;"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                    <div class="form-inline" style="margin-top: 5px;">
                                        End Date : <input type="text"  class="form-control" datepicker-popup="dd-MMMM-yyyy" style="height: 30px;" ng-model="billModify.deletion.dateWise.toDate" ng-click="openCalender($event,'delDateTo')"  is-open="dateCal.delDateTo" datepicker-options="dateOptions"  close-text="Close"  />
                                        <button type="button"  class="btn btn-default" ng-click="openCalender($event,'delDateTo')"  style="height: 30px;"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                </div>
                            </tab>
                            <!--<tab heading="Item Wise" select="DeletionType('itemwise')">
                                <div style="margin: 10px;">
                                    <div class="form-inline">
                                        Start Date:
                                        <input type="text"  class="form-control" datepicker-popup="dd-MMMM-yyyy" style="height: 30px;" ng-model="billModify.deletion.itemWise.fromDate" ng-click="openCalender($event,'delItemFrom')"  is-open="dateCal.delItemFrom" datepicker-options="dateOptions"  close-text="Close"  />
                                        <button type="button"  class="btn btn-default" ng-click="openCalender($event,'delItemFrom')"  style="height: 30px;"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                    <div class="form-inline" style="margin-top: 5px;">
                                        End Date :
                                        <input type="text"  class="form-control" datepicker-popup="dd-MMMM-yyyy" style="height: 30px;" ng-model="billModify.deletion.itemWise.toDate" ng-click="openCalender($event,'delItemTo')"  is-open="dateCal.delItemTo" datepicker-options="dateOptions"  close-text="Close"  />
                                        <button type="button"  class="btn btn-default" ng-click="openCalender($event,'delItemTo')" style="height: 30px;"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                    <div style="font-size: 14px;font-weight: bold">
                                        Add Item
                                    </div>
                                    <div>
                                        &lt;!&ndash;<input type="text" class="form-control"></input>&ndash;&gt;
                                   &lt;!&ndash;     <selectize config='myConfig' options='myOptions' ng-model="myModel"></selectize>&ndash;&gt;

                                        <ui-select multiple ng-model="multipleItem.items" theme="select2"  ng-click="" style="width: 300px;">
                                            <ui-select-match placeholder="Select colors...">{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="item  in items  | filter:$select.search">
                                                {{item.name}}
                                            </ui-select-choices>
                                        </ui-select>
                                        &lt;!&ndash;<p>Selected: {{multipleItem.items}}</p>&ndash;&gt;



                                    </div>
                                </div>
                            </tab>-->
                            <tab heading="Bill Wise" select="DeletionType('billwise')">
                                <div style="margin: 10px;">
                                    <div class="form-inline">
                                        Start Date:
                                        <input type="text"  class="form-control" datepicker-popup="dd-MMMM-yyyy" style="height: 30px;" ng-model="billModify.deletion.billWise.fromDate" ng-click="openCalender($event,'delBillFrom')"  is-open="dateCal.delBillFrom" datepicker-options="dateOptions"  close-text="Close"  />
                                        <button type="button"  class="btn btn-default" ng-click="openCalender($event,'delBillFrom')" style="height: 30px;"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                    <div style="font-weight: bold">Select Bill Series:</div>
                                    <div class="form-inline">
                                        From :  <input type="text" class="form-control" style="height: 30px;" numeric-only  ng-model="billModify.deletion.billWise.serialFrom"></input>
                                    </div>
                                    <div class="form-inline" style="margin-top: 5px;">
                                        UpTo :  <input type="text" class="form-control" style="height: 30px;" numeric-only ng-model="billModify.deletion.billWise.serialTo"></input>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>

            </tab>
            <tab heading="History" select="SelectedType('history')" >
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-weight: bold">
                        You can reverse changes to original between dates.
                    </div>
                    <div class="panel-body">
                        <div style="margin: 10px;">
                            <div class="form-inline">
                                Start Date:
                                <input type="text"  class="form-control" datepicker-popup="dd-MMMM-yyyy" style="height: 30px;" ng-model="billModify.history.fromDate" ng-click="openCalender($event,'historyFrom')"  is-open="dateCal.historyFromDate" datepicker-options="dateOptions"  close-text="Close"  />
                                <button type="button"  class="btn btn-default" ng-click="openCalender($event,'hostoryFrom')"  style="height: 30px;"><i class="glyphicon glyphicon-calendar"></i></button>
                            </div>
                            <div class="form-inline" style="margin-top: 5px;">
                                End Date :
                                <input type="text"  class="form-control" datepicker-popup="dd-MMMM-yyyy" style="height: 30px;" ng-model="billModify.history.toDate" ng-click="openCalender($event,'historyTo')"  is-open="dateCal.historyToDate" datepicker-options="dateOptions"  close-text="Close"  />
                                <button type="button"  class="btn btn-default" ng-click="openCalender($event,'historyTo')" style="height: 30px;"><i class="glyphicon glyphicon-calendar"></i></button>
                            </div>
                            <div class="form-inline" style="margin-top: 5px;">
                                <button class="btn btn-primary" ng-click="reverseTransaction()">Reverse Transaction Set</button>
                            </div>
                            </div>
                    </div>
                </div>

            </tab>
        </tabset>
            <div ng-hide="selectedHead=='history'">
                    <div style="font-weight: bold;margin:5px; ">
                        Do you want to include the following in modification.
                    </div>

                    <div>
                      <!--  <input type="checkbox"  >
                            Smart Card
                        </input>
                        <input type="checkbox">
                            Credit Card
                        </input>
                        <input type="checkbox">
                            Full Coupon
                        </input>
                        <input type="checkbox">
                            Debit Card
                        </input>-->
                        <div class="form-inline">
                            <label class="checkbox checkbox-inline" ng-repeat="card in cards">
                                <input type="checkbox" checklist-model="selectedCards" checklist-value="card">
                                {{card}}
                            </label>
                            <!--<pre>{{selectedCards|json}}</pre>-->
                        </div>
                    </div>
                <button class="btn btn-primary" ng-click="doWork()" style="margin-top: 10px;">Submit</button>
            </div>
    </div>
</div>