<div class="modal-header">
    <h3 class="modal-title">Customer Analysis ... </h3>
    <button target="_blank" class="btn btn-warning "  ng-click="exportToExcel('divCustomerHistoryId')" ng-disabled="crmForm"><i class="fa fa-file-excel-o"></i> Download Customer</button>
    <button type="btn btn-primary" style="float:right" ng-click="cancel()">X</button>
</div>
<div class="modal-body">
  <div class="row" style="margin:0px">
    <div class="col-md-6 well well-sm">Frequency : {{bill.totalBills}}</div>
    <div class="col-md-6 well well-sm">Average Covers : {{bill.covers.toFixed(2)}}</div>
  </div>
  <div class="row" style="margin:0px">
    <div class="col-md-6 well well-sm">Average Amount : Rs.{{bill.avgAmount.toFixed(2)}}</div>
    <div class="col-md-6 well well-sm">Total Amount : Rs.{{bill.totalAmount.toFixed(2)}}</div>
  </div>
  <!-- <div class="row well well-sm" style="margin:0px">
    <span ng-repeat="item in topItems" class="address">{{item.name}} - {{item.count}}, </span>
  </div>
  <div class="row well well-sm" style="margin:0px">
    <span ng-repeat="cat in topCategories" class="address">{{cat.name}} - {{cat.count}}, </span>
  </div> -->
  <!-- <div class="row" style="margin:0px">
    <div class="hc-pie-chart col-md-6" items="topItems" title="'Top Items'"></div>
  </div> -->
  <div class="row" ng-show="orderHistory.length>0">
    <div class="col-md-6" id="container" style="width: 440px; height: 300px; margin: 0 auto; border:1px solid black;"></div>
    <div class="col-md-6" id="container1" style="width: 440px; height: 300px; margin: 0 auto; border:1px solid black;"></div>
  </div>
  <h3 class="modal-title">Order History</h3>
  <div class="panel-body" style="max-height:500px; overflow-y:auto;">
      <div ng-repeat="order in orderHistory track by $index">
          <div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="panel-title text-left col-md-4"><h3 style="margin:0"><span class="label label-default">#{{isResetDaily.selected?order.daySerialNumber:order.serialNumber}}</span><span class="label label-default">{{order.created | date:"MM/dd/yyyy 'at' h:mma"}}</span></h3></div>
                  <div class="col-md-4">
                    <h3 style="margin:0"><span class="label label-default">Net Amt : Rs.{{order.totalAmount.toFixed(2)}}</span><span class="label label-default" ng-if="order.covers">Covers : {{order.covers}}</span></h3>
                  </div>

                  <div class="col-md-4 text-right" ng-if="order.payments.cash.length>0">Payment Modes:<br>
                    <div ng-repeat="card in order.payments.cards" ng-if="card.totalAmount>0"><span class="label label-default">{{card.cardType}} : Rs.{{card.totalAmount}}</span><br /></div>
                    <span class="label label-default" ng-if="order.payments.cash.length>0">cash : Rs.{{getTotal(order.payments.cash)}}</span></div>
                </div>
              </div>
              <div class="panel-body">
                <a href="#" ng-repeat="item in order.items">{{item.name}}<span ng-if="item.addOns.length>0">(<span ng-repeat="addOn in item.addOns track by $index">{{addOn.name}}:{{addOn.quantity}}<span ng-if="$index<item.addOns.length-1">, </span></span>)</span><span class="badge">{{item.qty}}</span>&nbsp;&nbsp;&nbsp;</a><!--
                <span ng-repeat="item in order.items" class="address">{{item.name}} - {{item.qty}}, </span> -->
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary" ng-show="orderHistory.length<=0">
          <div class="panel-heading">
            <div class="row">
            <h3 class="panel-title text-left col-md-10">No Orders.</h3>
          </div>
        </div>
        <div class="row" style="display:none;">
        <div class="col-md-12">
          <div id="divCustomerHistoryId">
            <div class="bodycontainer scrollable" ng-if="customersBillHistory.length>0">
              <table class="table table-responsive table-condensed table-striped table-bordered table-scrollable"
                     border="1">
                <tr>
                  <th>Name</th>
                  <th>Mobile</th>
                  <th>Phone</th>
                  <th>Address 1</th>
                  <th>Address2</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Pin</th>
                  <th>Email</th>
                  <th>Bill No.</th>
                  <th>Covers</th>
                  <th>Item</th>
                  <th>Quantity</th>
                  <th>Rate</th>
                  <th>Total</th>
                  <th>Category Name</th>
                  <th>Created</th>
                  <th>Tab Name</th>
                </tr>
                <tr ng-repeat="bill in customersBillHistory track by $index">
                  <td>{{bill.name?bill.name:"NA"}}</td>
                  <td>{{bill.mobile?bill.mobile:"NA"}}</td>
                  <td>{{bill.phone?bill.phone:"NA"}}</td>
                  <td>{{bill.address1?bill.address1:"NA"}}</td>
                  <td>{{bill.address2?bill.address2:"NA"}}</td>
                  <td>{{bill.city?bill.city:"NA"}}</td>
                  <td>{{bill.state?bill.state:"NA"}}</td>
                  <td>{{bill.postCode?bill.postCode:"NA"}}</td>
                  <td>{{bill.email?bill.email:"NA"}}</td>
                  <td>{{isResetDaily.selected?bill.daySerialNumber:bill.serialNumber}}</td>
                  <td>{{bill.covers?bill.covers:"NA"}}</td>
                  <td>{{bill.item?bill.item:"NA"}}</td>
                  <td>{{bill.qty?bill.qty:"NA"}}</td>
                  <td>{{bill.rate?bill.rate:"NA"}}</td>
                  <td>{{bill.priceQuantity?bill.priceQuantity:"NA"}}</td>
                  <td>{{bill.catName?bill.catName:"NA"}}</td>
                  <td>{{bill.created?bill.created:"NA" | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                  <td>{{bill.tab?bill.tab:"NA"}}</td>
                </tr>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
