<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid" style="margin:10px">
  <div class="well" style="padding: 7px; ">
    <div class="row">
      <div class="col-md-3 form-inline">
        <input type="text" class="form-control date" datepicker-popup="dd-MMMM-yyyy"
               ng-click="open($event)" ng-model="selectedDate.from" is-open="opened" datepicker-options="dateOptions"
               date-disabled="disabled(date, mode)" close-text="Close" placeholder="From Date"/>
        <button type="button" class="btn btn-default" ng-click="open($event)"><i
          class="glyphicon glyphicon-calendar"></i></button>
      </div>
      <div class="col-md-3 form-inline">
        <input type="text" class="form-control date" datepicker-popup="dd-MMMM-yyyy"
               ng-click="openTo($event)" ng-model="selectedDate.to" is-open="openedToo" datepicker-options="dateOptions"
               date-disabled="disabled(date, mode)" close-text="Close" placeholder="To Date"/>
        <button type="button" class="btn btn-default" ng-click="openTo($event)"><i
          class="glyphicon glyphicon-calendar"></i></button>
      </div>
      <div class="col-md-2"><input type="text" placeholder="Name" ng-model="customerFilter.name" class="form-control">
      </div>
      <div class="col-md-2"><input type="text" placeholder="Mobile/Phone" ng-model="customerFilter.mobile"
                                   class="form-control"></div>
      <div class="col-md-2"><input type="text" placeholder="Address" ng-model="customerFilter.address"
                                   class="form-control"></div>
      <!-- <div class="col-md-2" ><a class="btn btn-primary btn-sm" ng-click="searchCustomer()"> GO </a></div> -->
    </div>
    <div class="row" style="margin-top:10px">
      <div class="col-md-6">
        <div class="form-group col-md-6">
          <label>Item Category:</label>
          <select class="form-control" multiple="multiple" size="7" style="min-width: 170px"
                  ng-click="addSelected(categoryFilter)"
                  ng-model="categoryFilter"
                  ng-options="category.id as category.name for category in categories"></select>
        </div>
        <div class="form-group col-md-6">
          <label>Items:</label>
          <select class="form-control" multiple="multiple" size="7" style="min-width: 170px" ng-model="itemsFilter"
                  ng-click="addSelectedItems(itemsFilter)"
                  ng-options="item.id as item.name for item in selectedItems"></select>
        </div>
      </div>
      <div class="col-md-6" style="margin-top:24px">
        <div class="col-md-6 form-inline">
          <input type="text" class="form-control date" datepicker-popup="dd-MMMM-yyyy"
                 ng-click="openDOB($event)" ng-model="customerFilter.dob" is-open="openedTo"
                 datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"
                 placeholder="DOB"/>
          <button type="button" class="btn btn-default" ng-click="openDOB($event)"><i
            class="glyphicon glyphicon-calendar"></i></button>
        </div>
        <div class="col-md-6 form-inline">
          <input type="text" class="form-control date" datepicker-popup="dd-MMMM-yyyy"
                 ng-click="openMA($event)" ng-model="customerFilter.anniversary" is-open="openedT"
                 datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"
                 placeholder="Anniversary"/>
          <button type="button" class="btn btn-default" ng-click="openMA($event)"><i
            class="glyphicon glyphicon-calendar"></i></button>
        </div>
        <div class="col-md-4" style="margin-top:10px">
          <div class="form-group">
            <label for="email">Amount:</label>
            <div class="row form-inline">
            <select class="form-control" style="width:25%" ng-model="customerFilter.amountType">
              <option value="=">=</option>
              <option value="<="> &#8804;</option>
              <option vlaue="<">&#60;</option>
              <option value=">=">&#8805;</option>
              <option value=">">></option>
            </select>
            <input type="number" class="form-control" style="width:50%" ng-model="customerFilter.amountValue">
          </div>
          </div>
        </div>
        <div class="col-md-4" style="margin-top:10px">
          <div class="form-group">
            <label for="email">Frequency:</label>
            <div class="row form-inline">
            <select class="form-control" style="width:25%" ng-model="customerFilter.frequencyType">
              <option value="=">=</option>
              <option value="<="> &#8804;</option>
              <option vlaue="<">&#60;</option>
              <option value=">=">&#8805;</option>
              <option value=">">></option>
            </select>
            <input type="number" style="width:50%" class="form-control" ng-model="customerFilter.frequencyValue"></div>
          </div>
        </div>
        <div class="col-md-4" style="margin-top:10px">
          <div class="form-group">
            <label>Total:</label>
            <input type="number" class="form-control" ng-model="customerFilter.total">
          </div>
        </div>
        <!-- <div class="col-md-6" style="margin-top:10px">
        <button class="btn btn-primary" ng-click="searchCustomer()"
                ng-disabled="crmForm.disable"> GO
        </button></div>
        <div class="col-md-6" style="margin-top:10px">
        <button target="_blank" class="btn btn-warning "
                ng-click="exportToExcel('divCustomerId')" ng-disabled="crmForm.exportDisable"><i
          class="fa fa-file-excel-o"></i> Download Excel
        </button></div> -->
      </div>
    </div>
    <button class="btn btn-primary" ng-click="searchCustomer()" ng-disabled="crmForm.disable">GO</button>
    <button target="_blank" class="btn btn-warning " ng-click="exportToExcel('divCustomerId')" ng-disabled="crmForm.exportDisable"><i class="fa fa-file-excel-o"></i> Download Excel</button>
    <button target="_blank" class="btn btn-warning "
            ng-click="exportToExcelForOrderHistory('divBillCustomerId')" ng-disabled="crmForm.exportDisableForOrderHistory"><i
      class="fa fa-file-excel-o"></i> Download Excel with Order history
    </button>
    <button target="_blank" class="btn btn-warning "
            ng-click="exportToExcelForSelected('divSelectedCustomerId')" ng-disabled="crmForm.exportDisableForSelected"><i
      class="fa fa-file-excel-o"></i> Download Selected Customers
    </button>
  </div>
  <!-- <div style="clear: both;margin-top: 5px;">
  <a  style="position: relative; float: right; margin-bottom: 5px;margin-top: -10px;" target="_blank" class="btn btn-warning pull-right"  ng-click="exportToExcel('divCustomerId')"><i class="fa fa-file-excel-o"></i> Download Excel</a>
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <div>
        <!-- <div style="max-height: 50px; overflow-y:scroll;overflow-x: auto">-->
        <div ng-if="customersBillData.length>0">
          <table class="table table-condensed table-striped table-bordered table-scrollable"
                 infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance="0" border="1">
            <tr>
              <th>Name</th>
              <th>Mobile</th>
              <th>Phone</th>
              <th>Address 1</th>
              <th>Address2</th>
              <th>City</th>
              <th>State</th>
              <th>Pin</th>
              <th>Email</th>
              <th>Frequency</th>
              <th>Avg. Covers</th>
              <th>Avg. Amount</th>
              <th>Total Amount</th>
              <th>Delete</th>
              <th></th>
            </tr>
            <tr ng-repeat="bill in customersBillData track by $index">
              <td><a href=""><i class="glyphicon glyphicon-user" ng-click="showCustomerDetail(bill.customer,$index)">
                {{bill.customer.firstname?bill.customer.firstname:"NA"}} </i></a></td>
              <td>{{bill.customer.mobile?bill.customer.mobile:"NA"}}</td>
              <td>{{bill.customer.phone?bill.customer.phone:"NA"}}</td>
              <td>{{bill.customer.address1?bill.customer.address1:"NA"}}</td>
              <td>{{bill.customer.address2?bill.customer.address2:"NA"}}</td>
              <td>{{bill.customer.city?bill.customer.city:"NA"}}</td>
              <td>{{bill.customer.state?bill.customer.state:"NA"}}</td>
              <td>{{bill.customer.postCode?bill.customer.postCode:"NA"}}</td>
              <td>{{bill.customer.email?bill.customer.email:"NA"}}</td>
              <td>{{bill.totalBills?bill.totalBills:"NA"}}</td>
              <td>{{bill.covers?bill.covers.toFixed(2):"NA"}}</td>
              <td>{{bill.avgAmount?bill.avgAmount.toFixed(2):"NA"}}</td>
              <td>{{bill.totalAmount?bill.totalAmount.toFixed(2):"NA"}}</td>
              <td><a class="btn btn-link"><i class="glyphicon glyphicon-trash"
                                             ng-click="deleteCustomer($index)"></i></a></td>
              <td><a class="btn btn-link" ng-click="getOrderHistory(bill.customer.customerId,bill.totalBills,bill.covers,bill.avgAmount,bill.totalAmount)">Order History</a></td>
            </tr>
          </table>
          <div style="text-align:center"><button class="btn btn-primary" ng-click="nextPage()">Load More</a></button>
        </div>
      </div>

    </div>
  </div>
  <div class="row" style="display:none;">
    <div class="col-md-12">
      <div id="divCustomerId">
        <div class="bodycontainer scrollable" ng-if="customersBill.length>0">
          <table class="table table-responsive table-condensed table-striped table-bordered table-scrollable"
                 border="1">
            <tr>
              <th>Name</th>
              <th>Mobile</th>
              <th>Phone</th>
              <th>Address 1</th>
              <th>Address2</th>
              <th>City</th>
              <th>State</th>
              <th>Pin</th>
              <th>Email</th>
              <th>Frequency</th>
              <th>Avg. Covers</th>
              <th>Avg. Amount</th>
              <th>Total Amount</th>
            </tr>
            <tr ng-repeat="bill in customersBill track by $index">
              <td>{{bill.customer.firstname?bill.customer.firstname:"NA"}}</td>
              <td>{{bill.customer.mobile?bill.customer.mobile:"NA"}}</td>
              <td>{{bill.customer.phone?bill.customer.phone:"NA"}}</td>
              <td>{{bill.customer.address1?bill.customer.address1:"NA"}}</td>
              <td>{{bill.customer.address2?bill.customer.address2:"NA"}}</td>
              <td>{{bill.customer.city?bill.customer.city:"NA"}}</td>
              <td>{{bill.customer.state?bill.customer.state:"NA"}}</td>
              <td>{{bill.customer.postCode?bill.customer.postCode:"NA"}}</td>
              <td>{{bill.customer.email?bill.customer.email:"NA"}}</td>
              <td>{{bill.totalBills?bill.totalBills:"NA"}}</td>
              <td>{{bill.covers?bill.covers.toFixed(2):"NA"}}</td>
              <td>{{bill.avgAmount?bill.avgAmount.toFixed(2):"NA"}}</td>
              <td>{{bill.totalAmount?bill.totalAmount.toFixed(2):"NA"}}</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
  <div class="row" style="display:none;">
    <div class="col-md-12">
      <div id="divSelectedCustomerId">
        <div class="bodycontainer scrollable" ng-if="customersBillData.length>0">
          <table class="table table-responsive table-condensed table-striped table-bordered table-scrollable"
                 border="1">
            <tr>
              <th>Name</th>
              <th>Mobile</th>
              <th>Phone</th>
              <th>Address 1</th>
              <th>Address2</th>
              <th>City</th>
              <th>State</th>
              <th>Pin</th>
              <th>Email</th>
              <th>Frequency</th>
              <th>Avg. Covers</th>
              <th>Avg. Amount</th>
              <th>Total Amount</th>
            </tr>
            <tr ng-repeat="bill in customersBillData track by $index">
              <td>{{bill.customer.firstname?bill.customer.firstname:"NA"}}</td>
              <td>{{bill.customer.mobile?bill.customer.mobile:"NA"}}</td>
              <td>{{bill.customer.phone?bill.customer.phone:"NA"}}</td>
              <td>{{bill.customer.address1?bill.customer.address1:"NA"}}</td>
              <td>{{bill.customer.address2?bill.customer.address2:"NA"}}</td>
              <td>{{bill.customer.city?bill.customer.city:"NA"}}</td>
              <td>{{bill.customer.state?bill.customer.state:"NA"}}</td>
              <td>{{bill.customer.postCode?bill.customer.postCode:"NA"}}</td>
              <td>{{bill.customer.email?bill.customer.email:"NA"}}</td>
              <td>{{bill.totalBills?bill.totalBills:"NA"}}</td>
              <td>{{bill.covers?bill.covers.toFixed(2):"NA"}}</td>
              <td>{{bill.avgAmount?bill.avgAmount.toFixed(2):"NA"}}</td>
              <td>{{bill.totalAmount?bill.totalAmount.toFixed(2):"NA"}}</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
  <div class="row" style="display:none;">
    <div class="col-md-12">
      <div id="divBillCustomerId">
        <div class="bodycontainer scrollable" ng-if="customersBill.length>0">
          <table class="table table-responsive table-condensed table-striped table-bordered table-scrollable"
                 border="1">
            <tr>
              <th>Name</th>
              <th>Mobile</th>
              <th>Phone</th>
              <th>Address 1</th>
              <th>Address2</th>
              <th>City</th>
              <th>State</th>
              <th>Pin</th>
              <th>Email</th>
              <th>Bill No.</th>
              <th>Covers</th>
              <th>Item</th>
              <th>Quantity</th>
              <th>Rate</th>
              <th>Total</th>
              <th>Category Name</th>
              <th>Created</th>
              <th>Tab Name</th>
            </tr>
            <tr ng-repeat="bill in customersBill track by $index">
              <td>{{bill.name?bill.name:"NA"}}</td>
              <td>{{bill.mobile?bill.mobile:"NA"}}</td>
              <td>{{bill.phone?bill.phone:"NA"}}</td>
              <td>{{bill.address1?bill.address1:"NA"}}</td>
              <td>{{bill.address2?bill.address2:"NA"}}</td>
              <td>{{bill.city?bill.city:"NA"}}</td>
              <td>{{bill.state?bill.state:"NA"}}</td>
              <td>{{bill.postCode?bill.postCode:"NA"}}</td>
              <td>{{bill.email?bill.email:"NA"}}</td>
              <td>{{isResetDaily.selected?bill.daySerialNumber:bill.serialNumber}}</td>
              <td>{{bill.covers?bill.covers:"NA"}}</td>
              <td>{{bill.item?bill.item:"NA"}}</td>
              <td>{{bill.qty?bill.qty:"NA"}}</td>
              <td>{{bill.rate?bill.rate:"NA"}}</td>
              <td>{{bill.priceQuantity?bill.priceQuantity:"NA"}}</td>
              <td>{{bill.catName?bill.catName:"NA"}}</td>
              <td>{{bill.created?bill.created:"NA" | date:"MM/dd/yyyy 'at' h:mma"}}</td>
              <td>{{bill.tab?bill.tab:"NA"}}</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
