<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid" style="margin:10px">
    <div class="panel panel-primary" style="width: 50%">
        <div class="panel-heading"><span style="font-size: 16px;font-weight: bold"> Customer data upload.</span> </div>
        <div class="panel-body">
                <div class="row" ng-show="!loading" style="margin-left: 10px;">
                    <h3><i class="fa fa-spinner fa-spin"></i> Uploading customer data, please wait...</h3>
                    <div style="margin-left: 40px;font-weight: bold">Customer data processed:<span style="color: Red;font-size: 16px;">{{pCount}}</span> /<span style="color:blueviolet;font-size: 16px;">{{tCount}}</span></div>
                </div>
                <div ng-show="loading">
                        <ng-csv-import
                                class="import"
                                content="csv.content"
                                header="csv.header"
                                headerVisible="true"
                                separator="csv.separator"
                                done="onFinishImport"
                                result="csv.result">

                        </ng-csv-import>
                </div>
        </div>
    </div>
</div>
<!--
<table border="1" cellpadding="0" cellpadding="0">
    <tr><th>Name</th><th>flat</th><th>street</th><th>city</th><th>state</th><th>mobile</th> <th>phone</th></tr>
    <tr ng-repeat="customer in customers" >
    <td>{{customer.name}}</td>
        <td>{{customer.flat}}</td>
        <td>{{customer.street}}</td>
        <td>{{customer.city}}</td>
        <td>{{customer.state}}</td><td>{{customer.mobile}}</td><td>{{customer.phone}}</td>
    </tr>
</table>-->
