
<nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavbarCtrl">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a style="width:175px; display:inline-block;" href="/"><img style="height:50px;" src="assets/images/dashboard-posist-logo.png" /></a>
        </div>


     <!--   <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/dashboard')}"><a href="/dashboard/time"><i
                        class="fa fa-tachometer"></i> Dashboard</a></li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/billing')}"><a href="/billing"><i
                        class="fa fa-shopping-cart"></i> Billing</a></li>
                <li ng-show="isLoggedIn() && !isUser()" ng-class="{active: isActive('/reports')}"><a href="/reports"><i
                        class="fa fa-area-chart"></i> Reports</a></li>
                <li  ng-show="isLoggedIn()" ng-class="{active: isActive('/CRM')}"><a href="/CRM"><i
                        class="glyphicon glyphicon-user"></i>CRM</a></li>
                <li ng-show="isLoggedIn() && isUserPermission('Reports')" ng-class="{active: isActive('/reports')}"><a href="/findbill"><i class="fa fa-search"></i> Find Bill</a></li>
            </ul>
        </div>

        <ul class="nav navbar-right top-nav">
            <li class="dropdown" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">
                    {{currentUser.name}}<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-class="{active: isActive('/admin')}">
                        <a href="/admin/deployments">
                            <i class="fa fa-cogs"></i> Administration
                        </a>
                    </li>
                    <li ng-if="isUserPermission('Menu')" ng-class="{active: isActive('/offer')}"><a href="/offer/show"><i
                            class="fa fa-cogs"></i> Offer</a></li>
                    <li ng-class="{active: isActive('/logout')}">
                        <a ng-click="logout()" href="">
                            <i class="fa fa-power-off"></i> Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
-->
    <div class="navbar-header">
    <ul class="nav navbar-nav">
    <li ng-show="isLoggedIn()" ng-class="{active: isActive('/dashboard')}"><a href="/dashboard/time"><i
            class="fa fa-tachometer"></i> Dashboard</a></li>
    <li ng-show="isGroupPermission('Billing')" ng-class="{active: isActive('/billing')}"><a href="/billing"><i
            class="fa fa-shopping-cart"></i> Billing</a></li>
    <li ng-show="isGroupPermission('Expenses')" ng-class="{active: isActive('/expenses')}"><a href="/expenses"><i
            class="fa fa-money"></i> Expenses</a></li>
    <li ng-show="isGroupPermission('CRM')" ng-class="{active: isActive('/customers')}"><a href="/customers"><i
            class="fa fa-users"></i> Customers</a></li>
                 <!-- modified -->
    <li ng-show="isLoggedIn() && isGroupPermission('Stock')" ng-class="{active: isActive('/stock')}"><a href="/stock"><i
            class="fa fa-cubes"></i> Stock</a></li>
      <!-- end -->
    <li ng-show="isLoggedIn() && !isUser()" ng-class="{active: isActive('/reports')}"><a href="/reports"><i
            class="fa fa-area-chart"></i> Reports</a></li>
    <li ng-show="isLoggedIn() && isUserPermission('Reports')" ng-class="{active: isActive('/findbill')}"><a href="/findbill"><i class="fa fa-search"></i> Find Bill</a></li>

    </ul>
</div>
    <ul ng-show="isLoggedIn()" class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown>
            <a ng-show="isLoggedIn()" href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">{{ currentUser.name }} <span class="caret"></span></a>
            <ul ng-show="isLoggedIn()" class="dropdown-menu" role="menu">
                <li ng-if="isGroupPermission('Menu,Settings,Users')" ng-class="{active: isActive('/admin')}"><a href="/admin/deployments"><i
                        class="fa fa-cogs"></i> Administration</a></li>
                <li ng-if="isGroupPermission('Offers')" ng-class="{active: isActive('/offer')}"><a href="/offer/show"><i
                        class="fa fa-cogs"></i> Offer</a></li>
                <li  ng-show="isGroupPermission('CRM')"  ng-class="{active: isActive('/CRM')}"><a href="/CRM"><i
                        class="glyphicon glyphicon-user"></i>CRM</a></li>
                <li   ng-class="{active: isActive('/accounts')}"><a href="/accounts"><i
                        class="glyphicon glyphicon-user"></i>Accounts</a></li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a ng-click="logout()" href=""><i
                        class="fa fa-power-off"></i> Logout</a></li>
            </ul>
        </li>
    </ul>
    </nav>
