
<nav class="navbar navbar-default navbar-fixed-top posistNavBar" role="navigation" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="width:175px; display:inline-block;" ng-href="/dashboard">
                <img style="height: 50px;" src="assets/images/dashboard-posist-logo.png"/>
            </a>
            <button class="visible-xs visible-sm pull-left navbar-toggle" style="margin-left:15px;" type="button" ng-click="showReportAside()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="visible-xs navbar-brand btn btn-default"><i class="fa fa-bars"></i></a> -->
        </div>
        <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <!--<li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                    <a ng-href="{{item.link}}">{{item.title}}</a>
                </li>-->

                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/dashboard')}"><a href="/dashboard/time"><i
                        class="fa fa-tachometer"></i> Dashboard</a></li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/billing')}"><a href="/billing"><i
                        class="fa fa-shopping-cart"></i> Billing</a></li>
                <li ng-show="isAdmin()" ng-class="{active: isActive('/expenses')}"><a href="/expenses"><i
                        class="fa fa-money"></i> Expenses</a></li>
                <li ng-show="isAdmin()" ng-class="{active: isActive('/customers')}"><a href="/customers"><i
                        class="fa fa-users"></i> Customers</a></li>
                <li ng-show="isAdmin() " ng-class="{active: isActive('/stock')}"><a href="/stock"><i
                        class="fa fa-cubes"></i> Stock</a></li>
                <li ng-show="isLoggedIn() && !isUser()" ng-class="{active: isActive('/reports')}"><a href="/reports"><i
                        class="fa fa-area-chart"></i> Reports</a></li>
                <li ng-show="isLoggedIn() && isUserPermission('Reports')" ng-class="{active: isActive('/findbill')}"><a href="/findbill"><i class="fa fa-search"></i> Find Bill</a></li>
            </ul>
            
            <ul ng-show="isLoggedIn()" class="nav navbar-nav navbar-right">
                <li class="dropdown" dropdown>
                    <a ng-show="isLoggedIn()" href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">{{ currentUser.name }} <span class="caret"></span></a>
                    <ul ng-show="isLoggedIn()" class="dropdown-menu" role="menu">
                        <li ng-if="!isUser()" ng-class="{active: isActive('/admin')}"><a href="/admin/deployments"><i
                                class="fa fa-cogs"></i> Administration</a></li>
                        <li  ng-show="isLoggedIn()" ng-class="{active: isActive('/CRM')}"><a href="/CRM"><i
                                class="glyphicon glyphicon-user"></i>CRM</a></li>
                        <li   ng-class="{active: isActive('/accounts')}"><a href="/accounts"><i
                                class="glyphicon glyphicon-user"></i>Accounts</a></li>
                        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a ng-click="logout()" href=""><i
                                class="fa fa-power-off"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!-- <li ng-show="showSignupButton()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li> -->
                <li ng-hide="showSignupButton() || isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
                <!--<li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p></li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span
                        class="glyphicon glyphicon-cog"></span></a></li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a>-->
                </li>
            </ul>
        </div>
    </div>
</nav>
