<div class="modal-header">
  <h5 class="modal-title">Add in the weight.</h5>
</div>
<div class="modal-body">
  <!-- <pre>
       {{bill._items[itemIndex] | json}}
   </pre>-->

  <div class="bs-glyphicons">
    <a style="width:100%;height: 30px" class="btn btn-primary btn-sm">{{amountT}}</a>
    <ul class="bs-glyphicons-list">
      <li ng-click="setAmount('1', itemIndex)">
        <h3>1</h3>
      </li>
      <li ng-click="setAmount('2', itemIndex)">
        <h3>2</h3>
      </li>
      <li ng-click="setAmount('3', itemIndex)">
        <h3>3</h3>

      </li>
      <li ng-click="setAmount('4', itemIndex)">
        <h3>4</h3>

      </li>
      <li ng-click="setAmount('5', itemIndex)">
        <h3>5</h3>

      </li>
      <li ng-click="setAmount('6', itemIndex)">
        <h3>6</h3>

      </li>

      <li ng-click="setAmount('7', itemIndex)">
        <h3>7</h3>

      </li>

      <li ng-click="setAmount('8', itemIndex)">
        <h3>8</h3>

      </li>

      <li ng-click="setAmount('9', itemIndex)">
        <h3>9</h3>

      </li>

      <li ng-click="setAmount('0', itemIndex)">
        <h3>0</h3>

      </li>

      <li ng-click="delete()">
        <h3>del</h3>

      </li>


      <li style="font-size: 20px" ng-click="reset()">
        <h3>Reset</h3>

      </li>


    </ul>
  </div>



</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="applyOnBill()">Apply</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
