<div class="modal-header">
<!--<pre>{{bill|json}}</pre>-->
    <h3 class="modal-title">Bill Transfer from  {{bill.tab}} of table number:{{bill._tableId}}</h3>
</div>
<div class="modal-body">
	<table class="table">
		<thead>
			<tr>
				<th>To Tab</th>
				<th> On Table</th>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td>
				<select  ng-change=""
						 ng-model="tabs.tabName"
						 ng-options="tab._id as tab.tabName for tab in tabs  ">
					<option value="">Select Table</option>
				</select>
			</td>
			<td> </td>
		</tr>
		</tbody>
		<tfoot>
		</tfoot>
	</table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>