<div class="modal-header">
    <h5 class="modal-title">Change KOT Quantity - {{bill._kots[kotIndex].items[kotItemIndex].name}}</h5>
</div>
<div class="modal-body">
    <div ng-show="errorMessage.length>0" class="alert alert-danger">
        <p>{{errorMessage}}</p>
    </div>
    <div class="form-group">
        <label>Removed Qty: {{reducedQty}}</label>
    </div>
    <div class="form-group">
        <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
            <a class="btn btn-danger" ng-click="incrementQty()"><i class="fa fa-plus"></i></a>
            <a class="btn btn-default">{{bill._kots[kotIndex].items[kotItemIndex].quantity}}</a>
            <a class="btn btn-danger" ng-click="decrementQty()"><i class="fa fa-minus"></i></a>
        </div>
    </div>
    <div class="form-group">
        <label>Comment</label>
        <textarea ng-model="comment" ng-click="errorMessage=null" class="form-control"></textarea>
    </div>
    <a class="btn btn-primary" ng-click="changeQty()">Change</a>
    <a class="btn btn-primary" ng-click="changeQtyRemoveAll()">Remove All Item</a>
</div>
<div class="modal-footer">

    <a class="btn btn-warning" ng-click="cancel()">Cancel</a>
</div>