<div class="modal-header">
    <h3 class="modal-title">Add Comment</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <textarea ng-model="comment" class="form-control"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="addComment()">Add Comment</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>