
<div class="modal-header">
  <h4 class="modal-title">Express Offer and Comment for - {{bill._items[itemIndex].name}}</h4>
</div>
<div class="modal-body">
  <div class="well">

<div class="row">
  <div class="col-sm-8">
    <form name="discountsF" class="form-inline" novalidate>
      <div class="form-group">
        <div class="row" ng-class="{disabledButton:(!discountStatus)}">
          <div class="col-sm-6">
            <input type="radio" name="discountType" ng-model="discountForm.type" value="percentage"/> %
            <input type="radio" name="discountType" ng-model="discountForm.type" value="fixed"/> Amt
            <!--  <p  class="help-block" style="color: red;font-size: 11px;" ng-show="discountsF.discountType.$error.required && discountsF.$dirty && submittedDiscForm">
                  Please select discount type
              </p>-->
          </div>
          <div class="col-sm-6">
            <input type="text" name="discountValue"  id="discountValue"
                   class="form-control" placeholder="Percent / Amount"
                   numeric-only ng-model="discountForm.value"/>
            <!-- <p class="help-block" style="color: red;font-size: 11px;" ng-show="discountsF.discountValue.$error.required && discountsF.$dirty && submittedDiscForm">
                 A value is required :-P
             </p>-->

          </div>
        </div>
        <div class="row" style="margin-top: 10px;" ng-class="{disabledButton:(!discountStatus)}">
          <div class="col-sm-6">
            Comment for Discount:
          </div>
          <div class="col-sm-6">
            <input type="text" name="discountComment" class="form-control" id="commentDiscount"
                   ng-focus="getFocused('commentDiscount')" ng-disabled="itemOffer.offer.name!=null"
                   placeholder="Comment" ng-model="discountForm.comment"/>

            <!--  <p class="help-block" style="color: red;font-size: 11px;" ng-show="discountsF.discountComment.$error.required && discountsF.$dirty && submittedDiscForm">
                  Comment is required
              </p>-->

          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-6">
            Item Comment:
          </div>
          <div class="col-sm-6">
            <input type="text" name="itemComment" class="form-control" id="itemComment"
                   ng-focus="getFocused('itemComment')" placeholder="Item Wise Comment"
                   ng-model="discountForm.itemComment"/>
          </div>
        </div>
        <!--    <div class="input-group-addon">
                <label class="radio-inline">
                    <input type="radio" name="discountType" ng-model="discountForm.type" value="percentage" required /> %
                </label>
                <label class="radio-inline">
                    <input type="radio" name="discountType" ng-model="discountForm.type" value="fixed" required /> Amt
                </label>
            </div>
            <input type="text" name="discountValue" class="form-control" placeholder="Percent / Amount" numeric-only ng-model="discountForm.value" required />
        </div>
        <div>
        Comment for discount: <input type="text" name="discountComment" class="form-control" placeholder="Comment" ng-model="discountForm.comment" required />
        </div>-->


      </div>
    </form>
  </div>
  <div class="col-sm-4" style="overflow-y: scroll;max-height:150px">
    <table class="table table-striped table-condensed bill-table table-bordered">
      <thead style="font-size: 12px;font-weight: bold">
      <tr style="border:thin">
        <td width="32px">
        </td>
        <td>Name</td>
        <td class="text-center" width="72px">Quantity</td>
      </tr>
      </thead>


      <tbody>
      <tr ng-repeat="addon in tempAddOn|reverse">
        <td width="2%">
          <a class="btn btn-danger btn-xs" ng-click="deleteAddon(addon)"><i
            class="fa fa-minus"></i></a>
        </td>
        <td>
          <div style="font-size: 13px"> {{addon.name}}</div>
        </td>
        <td class="text-center">
          <div class="btn-group" role="group" aria-label="...">
            <!--<a ng-click="bill.incrementQuantity((bill._items.length-1) - $index)"
               class="btn btn-success btn-xs"><i
              class="fa fa-plus"></i></a>-->
            <!--   <a class="btn btn-default btn-sm" ng-click="openItemQuantityModal('sm', item, $index)">{{item.quantity}}</a>-->
            <a class="btn btn-default btn-xs">{{addon.quantity}}</a>
            <!--<a ng-click="bill.decrementQuantity((bill._items.length-1)- $index)" class="btn btn-danger btn-xs"><i
                    class="fa fa-minus"></i></a>-->
            <!--<a ng-click="decrementBillQty((bill._items.length-1)- $index)" class="btn btn-danger btn-xs"><i
              class="fa fa-minus"></i></a>-->
          </div>

        </td>
      </tr>
      </tbody>
    </table>

  </div>

</div>

      <hr>
      <span style="font-size: 15px; padding: 5px;color: #008000">Click on add on name to add quantity</span>

    <!--  <div class="row" style="margin-top: 18px;">
        <div class="col-sm-12">
          <div ng-repeat="item in addons" ng-if="$index % 3 == 0" class="row">
            <div style="padding: 3px;" class="col-xs-4"
                 ng-repeat="item in addons.slice($index, ($index+3 > addons.length ?addons.length : $index+3))">
              <a ng-click="deleteAddon(item)" class="btn btn-danger btn-sm">X</a><span ng-click="addAddonItem(item)"
                                                                                       class="btn btn-default btn-sm"
                                                                                       style="margin-left: -2px;margin-right: -2px">  <em>{{item.name}}</em></span><a
              class="btn btn-primary btn-sm">{{item.quantity>0?item.quantity:0}}</a>
            </div>
          </div>
        </div>
      </div>-->


   
  <div class="row">
      <div class="col-md-12">
        <div id="explorerAddOnItems" ng-class="{disabledButton:isBillingOn}">
          <div class="explorerItemsContainer" mn-touch swipe-left='addonPagination.nextPage()'
               swipe-right='addonPagination.prevPage()'>

            <div
              ng-repeat="item in filteredAddOn | startFrom: addonPagination.page * addonPagination.perPage | limitTo: addonPagination.perPage">
              <a ng-click="addAddonItem(item)" class="btn btn-default_p">{{item.name}}</a>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <a ng-click='addonPagination.nextPage()' class='slick-next'>Next</a>
        <a ng-click='addonPagination.prevPage()' class='slick-prev'>Prev</a>
        <!-- <a class="btn btn-primary" ng-click="slickHandleItems.gotoNextSlide()">Slick Next</a>
        <a class="btn btn-primary" ng-click="slickHandleItems.gotoPrevSlide()">Slick Prev</a> -->
      </div>
    </div>

<div class="row">
            <div class="col-md-12">
              <div id="explorerAddOnCat">
                <div class="explorerCatContainer" mn-touch swipe-left='addoncategoryPagination.nextPage()'
                     swipe-right='addoncategoryPagination.prevPage()'>
                  <div
                    ng-repeat="cat in addoncategoryItems | startFrom: addoncategoryPagination.page * addoncategoryPagination.perPage | limitTo: addoncategoryPagination.perPage">
                    <div class="s-class-cat">
                      <a
                        ng-class="{true:'btn btn-primary_p',false:'btn btn-primary_p_s'}[lastFilteredCategory!=cat.categoryName]"
                        ng-click="addonFilter(cat.categoryName)">{{cat.categoryName}}</a>
                    </div>
                  </div>
                </div>
              </div>
              <a ng-click='addoncategoryPagination.nextPage()' class='slick-next catSlick-next'>Next</a>
              <a ng-click='addoncategoryPagination.prevPage()' class='slick-prev catSlick-prev'>Prev</a>
              <!-- <a class="btn btn-info" ng-click="slickHandleCategories.gotoNextSlide()">Slick Next</a>
              <a class="btn btn-info" ng-click="slickHandleCategories.gotoPrevSlide()">Slick Prev</a> -->
            </div>
          </div>



  </div>





  </div>
  <!--

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Type</th>
            <th>Value/ Amount</th>
            <th>Comment</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="d in bill._items[itemIndex].discounts">
            <td width="10%">
                <span ng-if="d.type === 'percentage'">%</span>
                <span ng-if="d.type === 'fixed'">Amount</span>
            </td>
            <td width="25%">{{d.value}}</td>
            <td>{{d.comment}}</td>
            <td class="text-right"><a style="cursor: pointer;" ng-click="removeDiscount($index)">Remove</a></td>
        </tr>
        </tbody>
    </table>
-->


</div>
<div class="modal-footer">
  <!--<button class="btn btn-primary" ng-click="applyOnBill()">Apply</button>-->
  <a class="btn btn-success" ng-click="addDiscount(discountsF)"> Add </a>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

