<div class="modal-header">
  <h5 class="modal-title">Select Complimentary Head</h5>
</div>
<div class="modal-body">
  <select class="form-control"  ng-change="changeWaiterDelivery(head)"
            ng-model="head"
            ng-options="head for head  in heads">
      <!-- <option value="">Select Delivery</option> -->
    </select>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="clickEvent()">Apply</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
