<div class="modal-header">
    <h3 class="modal-title">Add Cover</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <input type="text" numeric-only ng-model="covers" class="form-control"  ng-virtual-keyboard="numKeyboard" />
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="addCover()">Add Covers</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>