<div class="modal-header">
    <h3 class="modal-title">Express Offer</h3>
</div>
<div class="modal-body">
    
 <div class="well">
    <form name="discountsF" class="form-inline" novalidate>
      <div class="form-group">
        <div class="row" >
          <div class="col-sm-6">
            <input type="radio" name="discountType" ng-model="discountForm.type" selected="true" value="percentage"/> %
            <input type="radio" name="discountType" ng-model="discountForm.type" value="fixed"/> Amt
            
          </div>
          <div class="col-sm-6">
            <input type="text" name="discountValue"  id="discountValue"
                    class="form-control" placeholder="Percent / Amount"
                   numeric-only ng-model="discountForm.value"/>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;" >
          <div class="col-sm-6">
            Comment for Discount:
          </div>
          <div class="col-sm-6">
            <input type="text" name="discountComment" class="form-control" id="commentDiscount"
                   
                   placeholder="Comment" ng-model="discountForm.comment"/>
	      </div>
        </div>
      </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="apply()">Apply Offer</button>
    <button class="btn btn-warning btn-sm" ng-click="cancel()">Cancel</button>
</div>