<div class="modal-header">
    <h3 class="modal-title">Kot Options</h3>
</div>
<div class="modal-body">

        <a class="btn btn-danger" ng-click="clickEvent('void')"><i class="glyphicon glyphicon-remove"></i> Void Kot </a> &nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary" ng-click="clickEvent('print')"><i class="glyphicon glyphicon-print"></i> RePrint Kot </a>&nbsp;&nbsp;&nbsp;
        <a ng-show="!isCard" class="btn btn-default" ng-click="clickEvent('copy')"><i class="glyphicon glyphicon-copy"></i> Copy Kot </a>

</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>