<div class="modal-header">
    <h3 class="modal-title">Map Items</h3>
</div>
<!--<pre>{{masterItemsS|json}}</pre>-->
<div class="modal-body">

    <div class="form-group">
        <table class="table table-bordered table-condensed table-striped ">
            <tr><th>Ordered Item</th><th>Menu Item</th></tr>
            <tr ng-repeat="item in umpItems">
       <!-- <div ng-repeat="item in umpItems">-->
         <td>
            {{ item.name }}
         </td><td>
              <input style="height: 30px;" type="text" typeahead-on-select="getSearchItemSelect($item, $model, $label)"
                   focus-me="{{setFocus.focusItem}}" ng-model="item.mapName"
                   name="itemName"
                   typeahead="item.name as label(item.name,item.number) for item in masterItemsS  | filter: $viewValue  | limitTo:10"
                   class="form-control " placeholder="Search Item..." />
            </td>
        <!--</div>-->
        </tr></table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()">Submit</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>