<div class="modal-header">
    <h3 class="modal-title">{{bill._items[itemIndex].name}} - {{bill._items[itemIndex].quantity}} ~ <i class="fa fa-inr"></i> {{bill._items[itemIndex].subtotal}}</h3>
</div>
<div class="modal-body">
   <!-- <pre>
        {{bill._items[itemIndex] | json}}
    </pre>-->
    <tabset justified="true">
        <tab>
            <tab-heading>Qty</tab-heading>
            <div class="well well-sm">
                <div class="form-group">
                    <input type="text" ng-model="bill._items[itemIndex].quantity" class="form-control" />
                </div>

            </div>
        </tab>
        <tab>
            <tab-heading>
               By Weight
            </tab-heading>
            <div class="bs-glyphicons">
                <ul class="bs-glyphicons-list">
                    <li ng-click="bill.setWeight(0.001, itemIndex)">
                        <h3>1</h3>
                        <span class="glyphicon-class">Gram</span>
                    </li>
                    <li ng-click="bill.setWeight(0.002, itemIndex)">
                        <h3>2</h3>
                        <span class="glyphicon-class">Grams</span>
                    </li>
                    <li ng-click="bill.setWeight(0.005, itemIndex)">
                        <h3>5</h3>
                        <span class="glyphicon-class">Grams</span>
                    </li>
                    <li ng-click="bill.setWeight(0.010, itemIndex)">
                        <h3>10</h3>
                        <span class="glyphicon-class">Grams</span>
                    </li>
                    <li ng-click="bill.setWeight(0.020, itemIndex)">
                        <h3>20</h3>
                        <span class="glyphicon-class">Grams</span>
                    </li>
                    <li ng-click="bill.setWeight(0.050, itemIndex)">
                        <h3>50</h3>
                        <span class="glyphicon-class">Grams</span>
                    </li>

                    <li ng-click="bill.setWeight(0.100, itemIndex)">
                        <h3>100</h3>
                        <span class="glyphicon-class">Grams</span>
                    </li>

                    <li ng-click="bill.setWeight(0.200, itemIndex)">
                        <h3>200</h3>
                        <span class="glyphicon-class">Grams</span>
                    </li>

                    <li ng-click="bill.setWeight(0.500, itemIndex)">
                        <h3>500</h3>
                        <span class="glyphicon-class">Grams</span>
                    </li>

                    <li ng-click="bill.setWeight(1, itemIndex)">
                        <h3>1</h3>
                        <span class="glyphicon-class">Kilo</span>
                    </li>

                    <li ng-click="bill.setWeight(2, itemIndex)">
                        <h3>2</h3>
                        <span class="glyphicon-class">Kilos</span>
                    </li>

                    <li ng-click="bill.setWeight(5, itemIndex)">
                        <h3>5</h3>
                        <span class="glyphicon-class">Kilos</span>
                    </li>
                    <li ng-click="bill.setWeight(10, itemIndex)">
                        <h3>10</h3>
                        <span class="glyphicon-class">Kilos</span>
                    </li>
                    <li ng-click="bill.setWeight(20, itemIndex)">
                        <h3>20</h3>
                        <span class="glyphicon-class">Kilos</span>
                    </li>
                    <li ng-click="bill.setWeight(50, itemIndex)">
                        <h3>50</h3>
                        <span class="glyphicon-class">Kilos</span>
                    </li>


                </ul>
            </div>
        </tab>

        <tab>
            <tab-heading>By Rate</tab-heading>
            <div class="bs-glyphicons">
                <ul class="bs-glyphicons-list">
                    <li ng-click="bill.setRate(1,itemIndex)">
                        <h3>1</h3>
                        <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
                    </li>
                    <li ng-click="bill.setRate(2,itemIndex)">
                        <h3>2</h3>
                        <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
                    </li>
                    <li ng-click="bill.setRate(5,itemIndex)">
                        <h3>5</h3>
                        <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
                    </li>
                    <li ng-click="bill.setRate(10,itemIndex)">
                        <h3>10</h3>
                        <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
                    </li>
                    <li ng-click="bill.setRate(20,itemIndex)">
                        <h3>20</h3>
                        <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
                    </li>
                    <li ng-click="bill.setRate(50,itemIndex)">
                        <h3>50</h3>
                        <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
                    </li>

                    <li ng-click="bill.setRate(100,itemIndex)">
                        <h3>100</h3>
                        <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
                    </li>

                    <li ng-click="bill.setRate(200,itemIndex)">
                        <h3>200</h3>
                        <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
                    </li>

                    <li ng-click="bill.setRate(500,itemIndex)">
                        <h3>500</h3>
                        <span class="glyphicon-class"><i class="fa fa-inr"></i></span>
                    </li>



                </ul>
            </div>
        </tab>
    </tabset>



</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="applyOnBill()">Apply</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>