<div class="modal-header">
    <h4 class="modal-title">Change Item Details - {{bill._items[itemIndex].name}}</h4>
</div>
<div class="modal-body">
    <!--<pre>
        {{bill._items[itemIndex] | json}}
    </pre>-->
    <tabset justified="true">
        <tab>
            <tab-heading>
                <i class="fa fa-bars"></i> Express Discount
            </tab-heading>
            <div class="well">
                <!--<div class="form-group">
                    <label>Discount Percentage</label>

                    <div class="input-group">
                        <input type="text" ng-model="bill._items[itemIndex].discount" class="form-control">
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Discount Comment</label>
                    <input type="text" ng-model="bill._items[itemIndex].discountComment" class="form-control">
                </div>-->

                <form name="discountsF" class="form-inline" novalidate>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <label class="radio-inline">
                                    <input type="radio" name="discountType" ng-model="discountForm.type" value="percentage" required /> %
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="discountType" ng-model="discountForm.type" value="fixed" required /> Amt
                                </label>
                            </div>
                            <input type="text" name="discountValue" class="form-control" placeholder="Percent / Amount" numeric-only ng-model="discountForm.value" required />
                            <input type="text" name="discountComment" class="form-control" placeholder="Comment" ng-model="discountForm.comment" required />
                        </div>
                        <p class="help-block" ng-show="discountsF.discountType.$error.required && discountsF.$dirty && submittedDiscForm">
                            Please select a Type of discount
                        </p>
                        <p class="help-block" ng-show="discountsF.discountComment.$error.required && discountsF.$dirty && submittedDiscForm">
                            Comment is required
                        </p>
                        <p class="help-block" ng-show="discountsF.discountValue.$error.required && discountsF.$dirty && submittedDiscForm">
                            A value is required :-P
                        </p>
                    </div>
                </form>
            </div>
            <a class="btn btn-success" ng-click="addDiscount(discountsF)">+ Add Discount</a>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Value/ Amount</th>
                        <th>Comment</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in bill._items[itemIndex].discounts">
                    <td width="10%">
                        <span ng-if="d.type === 'percentage'">%</span>
                        <span ng-if="d.type === 'fixed'">Amount</span>
                    </td>
                    <td width="25%">{{d.value}}</td>
                    <td>{{d.comment}}</td>
                    <td class="text-right"><a style="cursor: pointer;" ng-click="removeDiscount($index)">Remove</a></td>
                </tr>
                </tbody>
            </table>


        </tab>
        <!--<tab>
          <tab-heading>
            <i class="fa fa-bars"></i> Taxation
          </tab-heading>
         &lt;!&ndash;  <pre>
                {{taxes | json}}
          </pre> &ndash;&gt;
          <div class="well">
            <div class="checkbox" ng-repeat="tax in taxes">
              <label>
                <input type="checkbox" ng-click="setSelectedTax($event, tax)">
                {{tax.name}}
              </label>
            </div>
          </div>
        </tab>-->
    </tabset>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="applyOnBill()">Apply</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>