<div class="modal-header">
    <h3 class="modal-title">Select reason for rejection</h3>
</div>
<div class="modal-body">
    <div class="form-group">
    	<select ng-model="selectedReason" class="form-control">
	    	<option ng-repeat="reason in reasons" value="{{reason}}">{{reason}}</option>
	    </select>
        <!-- <select ng-options="reason.name for reason in reasons" class="form-control" ng-model="selectedReason"></select> -->
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()">Submit</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>