<div class="modal-header">
    <h3 class="modal-title">Card Transactions</h3>
</div>
<div class="modal-body">
    <div  id='showtrans1' style="max-height: 500px;overflow-x: auto;"></div>
</div>
<div class="modal-footer">

    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>