<!--<pre>{{offers|json}}</pre>-->
<div class="modal-header" style="max-height: 40px;">
    <h4 class="modal-title">Apply Offer</h4>
</div>
<div class="modal-body">
    <div style="max-height: 480px;overflow-y:scroll;overflow-x: hidden ">
        <div ng-repeat="offer in offers">
            <!-- <a class="btn btn-default" ng-disabled="!offer.isValidated" ng-click="ok(offer)">   {{offer.offer.name}}</a>-->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="disble_apply_offer_box" ng-click="ok(offer)" style="height: 83px;">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>{{offer.offer.name}}</h2>

                                <p>
                                    Applicable between time <span style="color: #000000">   {{offer.offer.valid.time.startTime|date :  'h:mma'}}-{{offer.offer.valid.time.endTime|date :  'h:mma'}}</span>
                                    days
                                    <span style="font-size: 10px;">
                                        <button type="button"
                                                ng-class="{show_offer_day:offer.offer.valid.days.indexOf('sunday')!=-1,show_offer_day_select1:offer.offer.valid.days.indexOf('sunday')==-1}">
                                            S
                                        </button>
                                        <button type="button"
                                                ng-class="{show_offer_day:offer.offer.valid.days.indexOf('monday')!=-1,show_offer_day_select1:offer.offer.valid.days.indexOf('monday')==-1}">
                                            M
                                        </button>
                                        <button type="button"
                                                ng-class="{show_offer_day:offer.offer.valid.days.indexOf('tuesday')!=-1,show_offer_day_select1:offer.offer.valid.days.indexOf('tuesday')==-1}">
                                            T
                                        </button>
                                        <button type="button"
                                                ng-class="{show_offer_day:offer.offer.valid.days.indexOf('wednesday')!=-1,show_offer_day_select1:offer.offer.valid.days.indexOf('wednesday')==-1}">
                                            W
                                        </button>
                                        <button type="button"
                                                ng-class="{show_offer_day:offer.offer.valid.days.indexOf('thursday')!=-1,show_offer_day_select1:offer.offer.valid.days.indexOf('thursday')==-1}">
                                            T
                                        </button>
                                        <button type="button"
                                                ng-class="{show_offer_day:offer.offer.valid.days.indexOf('friday')!=-1,show_offer_day_select1:offer.offer.valid.days.indexOf('friday')==-1}">
                                            F
                                        </button>
                                        <button type="button"
                                                ng-class="{show_offer_day:offer.offer.valid.days.indexOf('saturday')!=-1,show_offer_day_select1:offer.offer.valid.days.indexOf('saturday')==-1}">
                                            S
                                        </button>

                                </span>
                                    and
                                    <span
                                        ng-show="!(offer.offer.valid.date.startDate==''||offer.offer.valid.date.startDate==null)">between   {{offer.offer.valid.date.startDate| date :  'dd MMM yyyy'}}-{{offer.offer.valid.date.endDate| date :  'dd MMM yyyy'}}
                                    </span>
                                    <span ng-show="offer.offer.valid.date.startDate==''||offer.offer.valid.date.startDate==null">on <span
                                            style="color:#000000">All Dates</span> </span>

                                    valid on <span style="color: #000000" ng-repeat="tab in offer.offer.tabs">{{tab}}&nbsp; </span>

                <span ng-if="offer.offer.type.name!=item && offer.offer.applicable.on=='complete'" class="show-content-Text">
                     <span ng-show="offer.offer.type.name=='percent'">{{offer.type.value}} %</span>
                <span ng-show="offer.offer.type.name=='amount'"><i class="fa fa-inr"></i>&nbsp;{{offer.offer.type.value}} </span> &nbsp; <span ng-show="offer.offer.applicable.on=='complete' && offer.offer.minBillAmount!=null">off &nbsp;<i
                    class="fa fa-inr"></i> {{offer.offer.minBillAmount}}&nbsp; Min Bill Amount.
                </span>
                </span>
            <span ng-if="offer.offer.type.name=='item' || offer.offer.applicable.on=='item' || offer.offer.applicable.on=='itemCriteria'"
                  class="show-content-Text">
                <span style="font-size:11px;">
                    <span style="color: red">Buy:</span>    <span> {{offer.offer.applicable.items[0].category.categoryName}}</span>
                     <span ng-show="offer.offer.applicable.items[0].category.categoryName==null"> --Any of items--</span>
                    <span ng-show="offer.offer.applicable.items[0].item.name!=null">  => {{offer.applicable.items[0].item.name}}<span
                            ng-show="offer.applicable.items.length>1"> ..+{{offer.applicable.items.length-1}}</span></span>
                </span>
            </span>


                            <span ng-show="offer.valid.dateLists.length>0" class="show-content-head2">
                                {{offer.offer.valid.dateLists[0].name}}<span
                                    ng-show="offer.offer.valid.dateLists.length>1">..+{{offer.offer.valid.dateLists.length-1}}</span>

                            </span>
                                <span class="show-content-head2">
                                    {{offer.offer.code.codeList.name}}
                                </span>
                                    <span ng-show="(offer.offer.type.name=='item' || offer.offer.applicable.on=='item') && (offer.offer.offerApplied.items.length>0)"
                                        class="show-content-Text">
                                        <span style="font-size:11px;">
                                            <span style="color: red">Get:</span>    <span> {{offer.offer.offerApplied.items[0].category.categoryName}}</span>
                                            <span ng-show="offer.offer.offerApplied.items[0].item.name!=null">  => {{offer.offer.offerApplied.items[0].item.name}} <span
                                                    ng-show="offer.offer.offerApplied.items.length>1"> ..+  {{offer.offer.offerApplied.items.length-1}}</span></span>
                                        </span>
                                    </span>
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="modal-footer" style="max-height: 40px;margin-bottom: 5px;">
      <span style="float: left">
          <span ng-repeat="offer in appliedOffers">
              <button class="btn btn-danger btn-xs" ng-click="scrapOfferFromBill(offer)" >{{offer.name}}&nbsp;&nbsp; <i class="fa fa-trash-o"></i></button>
          </span>
      </span>
            <button style="margin-top: -5px" class="btn btn-warning btn-sm" ng-click="cancel()">Cancel</button>
        </div>
