

<div class="modal-header">
    <h5 class="modal-title">Split Bill</h5>
    <button type="button" class="close" ng-click="cancel()" ng-show="windowWidth<1030" style="float:right;margin-top:-25px;">&times;</button>
</div>
<div class="modal-body" style="overflow-x:auto;max-height:550px;width:auto">
  <!-- <div ng-if="windowWidth>1040" ng-repeat="(key,value) in sItems" class="header" >

      <select   multiple="multiple" size="10" style="min-width: 200px" ng-click="addSelected(key,value.Selected)" ng-dblclick="shiftRight(key,value.Selected)"
                ng-model="value.Selected"
                ng-options="item._id as item.name for item in value"></select>
      <div ng-repeat="item._id as item.name for item in value">{{item}}</div>

      <button  class="btn btn-danger" ng-click="shiftRightAll(key,value.Selected)"
        ng-show="!(sItems[key].length==1)"      style="vertical-align: middle;margin-bottom:110px;margin-left: 25px" >SRT </button>
      <button ng-show="key<sItems.length-1" class="btn btn-primary" ng-click="shiftLeft(key,value.Selected)"
     ng-class="{'splitClass2':(sItems[key].length==1),'splitClass1':!(sItems[key].length==1)}"> SLT </button>

  </div> -->
  <div id="grid" ng-if="windowWidth>1040">
    <div class="grid_row">
        <tabset>
          <tab heading="Normal Split" ng-click="splitByCategory(0)">
              <div ng-repeat="(key,value) in sItems" class="header" >
                  <span><b><i class="fa fa-inr"></i> {{rate[$index]}}</b></span>
                  <select   multiple="multiple" size="10" style="min-width: 200px" ng-click="addSelected(key,value.Selected)" ng-dblclick="shiftRight(key,value.Selected)"
                            ng-model="value.Selected"
                            ng-options="item._id as item.name for item in value"></select>
                  <div ng-repeat="item._id as item.name for item in value">{{item}}</div>

                  <button  class="btn btn-danger" ng-click="shiftRightAll(key,value.Selected)"
                    ng-show="!(sItems[key].length==1)"      style="vertical-align: middle;margin-bottom:110px;margin-left: 25px" >SRT </button>

                <!--  <button ng-show="key<sItems.length-1" class="btn btn-primary" ng-click="shiftLeft(key,value.Selected)"
                      ng-class="{'splitClass1':(value.Selected.length>1),'splitClass2':!(value.Selected.length>1)}"><<</button>
                    -->
                  <button ng-show="key<sItems.length-1" class="btn btn-primary" ng-click="shiftLeft(key,value.Selected)"
                 ng-class="{'splitClass2':(sItems[key].length==1),'splitClass1':!(sItems[key].length==1)}"> SLT </button>

                  <!--<pre>{{value.Selected|json}}</pre>-->
              </div>
          </tab>
          <tab heading="Split By Category" ng-click="splitByCategory(1)">
               <div ng-repeat="(key,value) in sItems" class="header" >
                  <span><b><i class="fa fa-inr"></i> {{rate[$index]}}</b></span>
                  <select   multiple="multiple" size="10" style="min-width: 200px" ng-click="addSelected(key,value.Selected)" ng-dblclick="shiftRight(key,value.Selected)"
                            ng-model="value.Selected"
                            ng-options="item._id as item.name for item in value"></select>
                  <div ng-repeat="item._id as item.name for item in value">{{item}}</div>

                  <button  class="btn btn-danger" ng-click="shiftRightAll(key,value.Selected)"
                    ng-show="!(sItems[key].length==1)"      style="vertical-align: middle;margin-bottom:110px;margin-left: 25px" >SRT </button>
                  <button ng-show="key<sItems.length-1" class="btn btn-primary" ng-click="shiftLeft(key,value.Selected)"
                 ng-class="{'splitClass2':(sItems[key].length==1),'splitClass1':!(sItems[key].length==1)}"> SLT </button>

              </div>
          </tab>
           <tab heading="Split By Food and Liquor" ng-click="splitByCategory(2)">
               <div ng-repeat="(key,value) in sItems" class="header" >
                  <span><b><i class="fa fa-inr"></i> {{rate[$index]}}</b></span>
                  <select   multiple="multiple" size="10" style="min-width: 200px" ng-click="addSelected(key,value.Selected)" ng-dblclick="shiftRight(key,value.Selected)"
                            ng-model="value.Selected"
                            ng-options="item._id as item.name for item in value"></select>
                  <div ng-repeat="item._id as item.name for item in value">{{item}}</div>

                  <button  class="btn btn-danger" ng-click="shiftRightAll(key,value.Selected)"
                    ng-show="!(sItems[key].length==1)"      style="vertical-align: middle;margin-bottom:110px;margin-left: 25px" >SRT </button>
                  <button ng-show="key<sItems.length-1" class="btn btn-primary" ng-click="shiftLeft(key,value.Selected)"
                 ng-class="{'splitClass2':(sItems[key].length==1),'splitClass1':!(sItems[key].length==1)}"> SLT </button>

              </div>
          </tab>
        </tabset>
    </div>
  </div>  

  
  <div ng-if="windowWidth<=1040" ng-repeat="(key,value) in sItems" class="col-sm-6 col-xs-6" style="margin-bottom:2%" >
      <a href=""  ng-if="key>0" class="col-sm-1 col-xs-1" style="padding:0px;" ng-click="shiftLeftTab(key)"><img src="../assets/images/arrow-left.jpg"></a>
      <div class="col-sm-10 col-xs-10"  style="border:1px solid #d7d7d7;margin:0;min-height:150px;max-height:150px;overflow:auto;padding:0;">
        <!-- <a href=""  ng-if="key>0" class="col-sm-1 col-xs-1" style="padding:0px;" ng-click="shiftLeftTab(key)"><img src="../assets/images/arrow-left.jpg"></a> -->
        <div style="border-bottom:1px solid #d7d7d7;color:white; font-size:15px;background-color:#2BAAB1;text-align:center"><span class="glyphicon glyphicon-user"></span>  Customer - {{$index + 1}}</div>
        <div ng-repeat="item in value" style="text-align:center;" ng-class="{'selectedItem': item.ticked}">
          <!-- <input type="checkbox" class="splitCheck" ng-model="item.ticked" id="{{item._id}}"> -->
          <label id="{{item._id}}" ng-click="item.ticked=!item.ticked"  style="color:#707070; font-size:15px;">
            {{item.name}}
          </label>
        </div>
      </div>
      <a href="" class="col-sm-1 col-xs-1" ng-click="shiftRightAllTab(key,value)" style="padding:0px;" ng-if="!(sItems[key].length==1)"><img src="../assets/images/arrow-right.jpg"></a>
  </div> 
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="split()">Split</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>