<div class="modal-header">
    <h3 class="modal-title">Add Taxes</h3>
</div>
<div class="modal-body">
    <!-- <pre>
        {{bill | json}}
    </pre> -->
    <div class="well">
      <div class="checkbox" ng-repeat="tax in taxes">
        <label>
          <input type="checkbox" ng-click="setSelectedTaxSubtotal($event, tax)" ng-checked="isSelectedSubtotalTax(tax)">
          {{tax.name}}
        </label>
      </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary">Update</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>