<div class="modal-header">
    <h3 class="modal-title">Taxes in Bill</h3>
</div>
<div class="modal-body">
	<table class="table">
		<thead>
			<tr>
				<th>Tax Name</th>
				<th class="text-right">Amount</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="tax in consolidatedTax">
				<td><strong>{{tax.name}}</strong></td>

				<td class="text-right">{{tax.tax_amount | number: 2}} &nbsp;
<span ng-if="removeTaxFlag"style="color:red" class="glyphicon glyphicon-minus-sign" ng-click="removeTax($index)"> </span></td>
			</tr>
			<tr ng-repeat="charge in bill.charges.detail">
				<td><strong>{{charge.name}}</strong></td>

				<td class="text-right">{{charge.amount | number: 2}} &nbsp;
				<span  style="color:red" class="glyphicon glyphicon-minus-sign" ng-click="removeCharge($index)"> </span></td>
			</tr>
			<tr ng-if="bill.charges.deleted.length>0">
				<td  colspan="2" style="color: green">===Apply Deleted Charges=== </td>
			</tr>
			<tr ng-repeat="charge in bill.charges.deleted">
				<td><strong>{{charge.name}}</strong></td>
				<td class="text-right">{{charge.amount | number: 2}} &nbsp;
				<span  style="color:red" class="glyphicon glyphicon-plus-sign" ng-click="addCharge($index)"> </span></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>Total</td>
				<td class="text-right">{{((consolidatedTax | sumByKey:'tax_amount')  + (bill.charges.amount))|number:2}}
	
				</td>
			</tr>
		</tfoot>
	</table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
