<div class="modal-header">
    <h5 class="modal-title">Add in the weight.</h5>
</div>
<div class="modal-body">
            <div class="bs-glyphicons">
                <a style="width:100%; height: 30px" class="btn btn-primary btn-sm">{{weightT}}</a>
                <ul class="bs-glyphicons-list">
                    <li ng-click="setWeight(0.001, itemIndex)">
                        <h3>1</h3>
                        <span class="glyphicon-class">Gram</span>
                    </li>
                    <li ng-click="setWeight(0.002, itemIndex)">
                        <h3>2</h3>
                        <span class="glyphicon-class">Grams</span>
                    </li>
                    <li ng-click="setWeight(0.005, itemIndex)">
                        <h3>5</h3>
                        <span class="glyphicon-class">Grams</span>
                    </li>
                    <li ng-click="setWeight(0.010, itemIndex)">
                        <h3>10</h3>
                        <span class="glyphicon-class">Grams</span>
                    </li>
                    <li ng-click="setWeight(0.020, itemIndex)">
                        <h3>20</h3>
                        <span class="glyphicon-class">Grams</span>
                    </li>
                    <li ng-click="setWeight(0.050, itemIndex)">
                        <h3>50</h3>
                        <span class="glyphicon-class">Grams</span>
                    </li>

                    <li ng-click="setWeight(0.100, itemIndex)">
                        <h3>100</h3>
                        <span class="glyphicon-class">Grams</span>
                    </li>

                    <li ng-click="setWeight(0.200, itemIndex)">
                        <h3>200</h3>
                        <span class="glyphicon-class">Grams</span>
                    </li>

                    <li ng-click="setWeight(0.500, itemIndex)">
                        <h3>500</h3>
                        <span class="glyphicon-class">Grams</span>
                    </li>

                    <li ng-click="setWeight(1, itemIndex)">
                        <h3>1</h3>
                        <span class="glyphicon-class">Kilo</span>
                    </li>

                    <li ng-click="setWeight(2, itemIndex)">
                        <h3>2</h3>
                        <span class="glyphicon-class">Kilos</span>
                    </li>

                    <li ng-click="setWeight(5, itemIndex)">
                        <h3>5</h3>
                        <span class="glyphicon-class">Kilos</span>
                    </li>
                    <li ng-click="setWeight(10, itemIndex)">
                        <h3>10</h3>
                        <span class="glyphicon-class">Kilos</span>
                    </li>
                    <li ng-click="setWeight(20, itemIndex)">
                        <h3>20</h3>

                    </li>
                    <li style="font-size: 20px" ng-click="reset()">
                        <h3>Reset</h3>
                    </li>

                </ul>
            </div>



</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="applyOnBill()">Apply</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
