<div class="modal-header">
    <h3 class="modal-title">Advance Booking Date Wise..</h3>
</div>
<div>
    <table class="table table-condensed table-responsive table-striped">
        <tr>
            <th>#</th><th>Date Time</th><th>Tab</th><th>Customer</th><th>Amount</th>
            <!--<th>Show</th>-->
            <th>Edit</th><th>Remove</th>
        </tr>
        <tr ng-repeat="booking in bookings">
            <td>{{$index+1}}</td><td>{{booking.advance.datetime |date:'medium'}}</td><td>{{booking.tab}}</td><td>{{booking._customer.firstname}}</td><td>{{calculateAdvanceAmount(booking)| number: 2}}</td>
            <!--<td><i class="glyphicon glyphicon-open"></i> </td>-->
            <td><i class="glyphicon glyphicon-edit" ng-click="editBooking(booking)"></i> </td><td><i class="glyphicon glyphicon-trash" ng-click="deleteBooking(booking)"></i> </td>
        </tr>
    </table>
    <div >

    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-danger" ng-click="cancel()" >Cancel</a>
</div>
