<div class="modal-header">
    <h3 class="modal-title">Add Comment</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="form-inline">
            <label>Advance Amount:</label>
            <input type="text" class="form-control" numeric-only ng-model="advance.amount" required>
        </div>
    </div>
    <div class="form-group">
       <div class="form-inline">
        <label >Select Date Time:</label>
       <!-- <input type="text" class="form-control " ng-model="advance.datetime" required>-->
           <input type="text" class="form-control" placeholder="Shedule datetime" ng-focus="openDatePicker($event, 'toDate')" datepicker-popup="yyyy-MM-dd h:mm a" ng-model="advance.datetime" is-open="toDate"  />
       </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="(((advance.amount==''))||(advance.datetime=='')||(advance.amount<0)||(advance.amount==' '))" ng-click="submit()">Submit</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
