<div class="modal-header">
    <h3 class="modal-title">Advance Booking</h3>
</div>
<div>
    <multiple-date-picker  days-selected="selectedDays"  day-click="logInfos"   />
</div>
<div class="modal-footer">
    <a class="btn btn-danger" ng-click="cancel()" >Cancel</a>
</div>
