<div class="modal-header">
    <h3 class="modal-title">Unlock All Bills</h3>
</div>
<div class="modal-body">
    <div class="form-group">
       <!-- <a  class="btn btn-primary btn-sm" >Unlock All Bills</a>-->
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="unlock()">Unlock Bills</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>