<!-- <pre>
{{selectedDate | json}}
</pre> -->
<div id="dashboard" class="page-wrapper">
	<div class="container-fluid">

		<!-- Filters -->
	    <div class="row">
	      <div class="infoBar">

	          <div class="col-md-4 col-xs-4" ng-if="showCompareView === false">
	            <div class="form-inline">
	              <div class="form-group">
	                <label>Outlet</label>
	                <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
	                  <option value="">Select Deployment</option>
	                </select>
	              </div>
	            </div>
	          </div>

	          <div class="col-md-4 col-xs-4">
	          	<div class="form-inline">
	          		<div class="form-group">
	          			<label>Time Slot</label>
	          			<input date-range-picker class="form-control date-picker" type="text" ng-model="selectedDate" options="datePickerOptions" ng-change="changeDateRange(selectedDate)" />
	          		</div>
	          	</div>
	          </div>

	      </div>
	    </div>
	    <!-- Filters -->

	    <div class="dashBoardContainer" ng-if="report.isGenerated">

	    	<div class="row">
	    		<div class="col-md-6 col-xs-12">
	    			<div id="container-graph-NewRepeatCustomersDaily">
	                	<div class="hc-chart" chart-object="graphDataCusomtersNewRepeatDaily"></div>
	              	</div>
	    		</div>
	    		<div class="col-md-6 col-xs-12">
	    			<div id="container-graph-NewCustomers">
	                	<div class="hc-chart" chart-object="graphDataCustomersNew"></div>
	              	</div>
	    		</div>
	    	</div>

	    	<div class="row">
	    		<div class="col-md-12">
	    			<div style="height:50px;">&nbsp;
	    				<hr/>
	    			</div>
	    		</div>
	    	</div>
	    	
	    	<div class="row">
	    		<div class="col-md-6">
	    			<div id="container-graph-StackedNewRepeatCustomers">
	    				<div class="hc-chart" chart-object="graphDataStackNewRepeatCustomers"></div>
	    			</div>
	    		</div>

	    		<div class="col-md-6">
	    			<div id="container-graph-RepeatCustomers">
	    				<div class="hc-chart" chart-object="graphDataCustomersRepeat"></div>
	    			</div>
	    		</div>
	    	</div>

	    	<!-- <div class="row">
	    		<div class="col-md-12">
	    			<div class="table-responsive">

	    				<table class="table table-bordered table-condensed">
	    					<thead>
	    						<tr>
	    							<th>Day</th>
	    							<th>Total Bills</th>
	    							<th>Total Customers</th>
	    							<th>New Customers</th>
	    							<th>Repeat Customers</th>
	    						</tr>
	    					</thead>
	    					<tbody>
	    						<tr ng-repeat="day in groupedCustomerData">
	    							<td>{{day.day[0]}}-{{day.day[1]+1}}-{{day.day[2]}}</td>
	    							<td>{{day.totalBills}}</td>
	    							<td>{{day.totalCustomers}}</td>
	    							<td>{{day.totalNewCustomers}}</td>
	    							<td>{{day.totalRepeatCustomers}}</td>
	    						</tr>
	    					</tbody>
	    				</table>

	    			</div>
	    		</div>
	    	</div> -->

	    </div>





	</div>
</div>