<!-- <pre height="200px;">
  {{report.filters | json}}
</pre> -->

<div id="dashboard" class="page-wrapper" infinite-scroll="gotoNextDash()" infinite-scroll-distance="0">
  <div class="container-fluid">

    <!-- Filters -->
    <div class="row">
      <div class="infoBar">

        <div class="col-md-3 col-xs-4">
            <div class="form-inline">
              <div class="form-group">
                <label>Outlet</label>
                <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
                  <option value="">Select Deployment</option>
                </select>
              </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-4">
            <div class="form-inline">
              <div class="form-group">
                <label>Time Slot</label>
                <input date-range-picker class="form-control date-picker" type="text" ng-model="selectedDate" options="datePickerOptions" ng-change="changeDateRange(selectedDate)" />
              </div>
            </div>
        </div>

        <!-- <div class="col-md-3 col-xs-4">
            <div class="form-inline">
              <div class="form-group">
                <label>Time Slot</label>
                <select class="form-control" ng-change="onDateRangeChange()" ng-model="report.filters.autoDateRange">
                  <option value="-1">Select Date Range</option>
                  <option value="today">Today</option>
                  <option value="yesterday">Yesterday</option>
                </select>
              </div>
            </div>
        </div> -->

        <!-- <div class="col-md-3">
          <div class="form-group">
            <a type="button" ng-click="generateDashServiceType()" class="btn btn-primary">Generate</a>
          </div>
        </div> -->


      </div>
    </div>
    <!-- Filters -->

    <!-- <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">

          <div class="panel-heading" style="padding: 5px 0 0 5px;">
            <strong>{{getCurrentDate()}}</strong>
          </div>

          <div class="panel-body">
            <div class="col-md-12">
              <h5><strong>Sales</strong></h5>
              <div class="row">
                <div class="col-xs-4"><i class="fa fa-rupee fa-fw"></i> 1,23,432</div>
                <div class="col-xs-8 text-right"><i class="fa fa-rupee fa-fw"></i> 2,00,000</div>
              </div>
              <progressbar style="height:8px !important;" class="progress-striped" value="80" type="success"></progressbar>
            </div>

          </div>

        </div>
      </div>
    </div> -->

    <div class="dashBoardContainer" ng-show="hasData === false" ng-if="hasData === false">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-warning" role="alert">
            <strong>Nothing Found!</strong> Sorry, we couldn't find any data for the selected Outlet. Please try another Outlet or Time Slot!
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="report.isGenerated">
      <!-- Sales - Service Type -->
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h1 class="panel-title" id="panel-title">
              <i class="fa fa-calendar-o"></i> <strong>{{getCurrentDate()}}</strong> - Sales by Service Type
            </h1>
          </div>
          <div class="panel-body">
            <div id="container-graph-SalesByTabs">
              <div class="hc-chart" chart-object="graphDataSalesServiceType"></div>
            </div>
              <!-- <div class="hc-pie" items="graphData" title="Tab Breakdown" options="{title: 'Total Sales by Tab'}"></div> -->

          </div>
        </div>
      </div>
    </div>


  </div>
</div>


