<div id="dashboard" class="page-wrapper" infinite-scroll="gotoNextDash()" infinite-scroll-distance="0">
	<div class="container-fluid">
			
		<!-- Filters -->
    <div class="row">
      <div class="infoBar">

          <div class="col-md-4 col-xs-4" ng-if="showCompareView === false">
            <div class="form-inline">
              <div class="form-group">
                <label>Outlet</label>
                <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
                  <option value="">Select Deployment</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-4" ng-if="showCompareView === false">
            <div class="form-inline">
              <div class="form-group">
                <label>Time Slot</label>
                <input date-range-picker class="form-control date-picker" type="text" ng-model="selectedDate" options="datePickerOptions" ng-change="changeDateRange(selectedDate)" />
              </div>
            </div>
          </div>

      </div>
    </div>
    <!-- Filters -->

    <div class="dashBoardContainer" ng-if="hasData === false">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-warning" role="alert">
            <strong>Nothing Found!</strong> Sorry, we couldn't find any data for the selected Outlet. Please try another Outlet or Time Slot!
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="hasData === true">
    	<div class="col-md-6">
    		<div id="container-graph-TableNumberNetSales">
				<div class="hc-chart" chart-object="graphDataTableNumberNetSales"></div>
			</div>
    	</div>
    	<!-- <div class="col-md-6">
    		<div id="container-graph-TableOccupancy">
				<div class="hc-chart" chart-object="graphDataTableOccupancy"></div>
			</div>
    	</div> -->
    </div>




	</div>
</div>