<!-- <pre height="200px;">
  {{report.filters | json}}
</pre> -->

<div id="dashboard" class="page-wrapper">
  <div class="container-fluid">

    <!-- Filters -->
    <div class="row">
      <div class="infoBar">

          <div class="col-md-4 col-xs-4" ng-if="showCompareView === false">
            <div class="form-inline">
              <div class="form-group">
                <label>Outlet</label>
                <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
                  <option value="">Select Deployment</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-4" ng-if="showCompareView === false">
            <div class="form-inline">
              <div class="form-group">
                <label>Time Slot</label>
                <input date-range-picker class="form-control date-picker" type="text" ng-model="selectedDate" options="datePickerOptions" ng-change="changeDateRange(selectedDate)" />
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-4">
            <div class="form-group">
              <a ng-if="showCompareView === false" ng-click="compareSalesModal()" class="btn btn-primary"><i class="fa fa-arrows-h"></i> Compare</a>
              <a ng-if="showCompareView === true" ng-click="clearCompare()" class="btn btn-warning"><i class="fa fa-times"></i> Cancel Compare</a>
            </div>
          </div>

      </div>
    </div>
    <!-- Filters -->

    <div class="dashBoardContainer" ng-if="hasData === false">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-warning" role="alert">
            <strong>Nothing Found!</strong> Sorry, we couldn't find any data for the selected Outlet. Please try another Outlet or Time Slot!
          </div>
        </div>
      </div>
    </div>


    <!-- Dashboard Container -->
    <div class="dashBoardContainer" ng-if="report.isGenerated && showCompareView === false && hasData === true">

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-info">

            <div class="panel-heading" style="padding: 5px 0 0 5px;">
              <strong>{{ todaysDate | date: 'dd-MMM-yy hh:mm a'}}</strong>
            </div>

            <div class="panel-body">

              <div class="col-md-6">
                <h5><strong>Net Sales</strong></h5>
                <div class="row">
                  <div class="col-xs-4"><i class="fa fa-rupee fa-fw"></i> {{todaySaleData.totalSale | number: 2}}</div>
                  <div class="col-xs-8 text-right"><i class="fa fa-rupee fa-fw"></i> {{expectedSales.day | number: 2}}</div>
                </div>
                <progressbar style="height:8px !important;" class="progress-striped" value="progressExpectedDaySale" type="success"></progressbar>
              </div>

              <!-- <div class="col-md-4">
                <h5><strong>Expenses</strong></h5>
                <div class="row">
                  <div class="col-xs-4"><i class="fa fa-rupee fa-fw"></i> 1,23,432</div>
                  <div class="col-xs-8 text-right"><i class="fa fa-rupee fa-fw"></i> {{expectedSales.timeRange | number: 2}}</div>
                </div>
                <progressbar style="height:8px !important;" class="progress-striped" value="80" type="warning"></progressbar>
              </div> -->

              <div class="col-md-2">
                <h5><strong>Average Bills</strong></h5>
                <h3><i class="fa fa-rupee fa-fw"></i> {{todaySaleData.avg | number:2}}</h3>
              </div>

              <div class="col-md-2">
                <h5><strong>Bills/Covers</strong></h5>
                <h3>{{todaySaleData.totalBills}}/{{todaySaleData.totalCovers}}</h3>
              </div>

            </div>

            <!-- Begin Month Data -->
            <div class="panel-heading" style="padding: 5px 0 0 5px;">
              <strong>{{ newReport.filters.fromDate | date: 'dd-MMM-yy hh:mm a'}} - {{ newReport.filters.toDate | date: 'dd-MMM-yy hh:mm a'}}</strong>
            </div>

            <div class="panel-body">
              <div class="col-md-6">
                <h5><strong>Net Sales</strong></h5>
                <div class="row">
                  <div class="col-xs-4"><i class="fa fa-rupee fa-fw"></i> {{saleFromBeginMonth | number: 2}}</div>
                  <div class="col-xs-8 text-right"><i class="fa fa-rupee fa-fw"></i> {{expectedSales.timeRange | number: 2}}</div>
                </div>
                <progressbar style="height:8px !important;" class="progress-striped" value="progressExpectedTimeRangeSale" type="success"></progressbar>
              </div>

              <!-- <div class="col-md-4">
                <h5><strong>Expenses</strong></h5>
                <div class="row">
                  <div class="col-xs-4"><i class="fa fa-rupee fa-fw"></i> 1,23,432</div>
                  <div class="col-xs-8 text-right"><i class="fa fa-rupee fa-fw"></i> 2,00,000</div>
                </div>
                <progressbar style="height:8px !important;" class="progress-striped" value="80" type="warning"></progressbar>
              </div> -->

              <div class="col-md-2">
                <h5><strong>Average Bills</strong></h5>
                <h3><i class="fa fa-rupee fa-fw"></i> {{saleAvgFromBeginMonth | number:2}}</h3>
              </div>

              <div class="col-md-2">
                <h5><strong>Bills/Covers</strong></h5>
                <h3>{{billsFromBeginMonth}}/{{coversFromBeginMonth}}</h3>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h1 class="panel-title" id="panel-title">
                <i class="fa fa-calendar-o"></i> {{getCurrentDate()}} - Sales Hourly
              </h1>
            </div>
            <div class="panel-body">
              <div id="container-graph-SalesHourly">
                <div class="hc-chart" chart-object="graphDataSalesHourly"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- Sales Hourly -->
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h1 class="panel-title" id="panel-title">
                <i class="fa fa-calendar-o"></i> {{getCurrentDate()}} - Orders (Bills) Hourly
              </h1>
            </div>
            <div class="panel-body">
              <div id="container-graph-OrdersHourly">
                <div class="hc-chart" title="Invoice Details" chart-object="graphDataOrdersHourly" options="{title: 'Total Sales by Tab'}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Dashboard Container -->



    <!-- Compare View -->
    <div class="dashBoardContainer" ng-if="showCompareView">
      <div style="border-bottom: 1px solid rgb(215, 215, 215); margin: 0 0 10px 0;">
        <h3>
          Comparing Outlets 
          <small><i class="fa fa-calendar-o"></i> Showing:
            <strong>{{compareSlot.startDate | date: 'dd-MMM-yyyy'}}</strong> to
            <strong>{{compareSlot.endDate | date: 'dd-MMM-yyyy'}}</strong>
          </small>
        </h3>
      </div>

      <!-- <pre>
        {{compareSlot | json}}
      </pre> -->

      <!-- Tabular Data -->
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th width="15%">Particulars</th>
                  <th ng-repeat="outlet in compareViewCols">{{outlet.name}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td width="15%">Net Sales</td>
                  <td ng-repeat="outlet in compareViewCols">
                    <i class="fa fa-rupee fa-fw"></i> {{outlet.saleData.totalNet | number: 2}}
                    <span ng-if="outlet.error"><i>No Data</i></span>
                  </td>
                </tr>
                <tr>
                  <td width="15%">Covers</td>
                  <td ng-repeat="outlet in compareViewCols">
                    {{outlet.covers}}
                    <span ng-if="outlet.error"><i>No Data</i></span>
                  </td>
                </tr>
                <tr>
                  <td width="15%">Average Bill Amount</td>
                  <td ng-repeat="outlet in compareViewCols">
                    <i class="fa fa-rupee fa-fw"></i> {{outlet.avgBills.daily[0].avg_amount | number: 2}}
                    <span ng-if="outlet.error"><i>No Data</i></span>
                  </td>
                </tr>
                <tr>
                  <td width="15%">No. Of Bills</td>
                  <td ng-repeat="outlet in compareViewCols">
                    {{outlet.avgBills.daily[0].noOfBills}}
                    <span ng-if="outlet.error"><i>No Data</i></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Tabular Data -->

      <!-- Compare Graphs -->
      <div class="row" ng-if="hasChartData === true">

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Sale Across Outlets</div>
            <div class="panel-body">
              <div id="container-graph-CompareSalesHourly">
                <div class="hc-chart" chart-object="graphCompareOutletSaleHourly"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">No. of Bills (Orders)</div>
            <div class="panel-body">
              <div id="container-graph-CompareOrders">
                <div class="hc-chart" chart-object="graphCompareOutletOrders"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- Graphs -->

    </div>
    <!-- Compare View -->
    

  </div>
</div>

