<tabset>
  <tab heading="Settings" style="cursor:pointer;">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div style="margin-top: 20px;"></div>
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Stock Settings</h3>
              </div>
              <!-- <pre>{{stockSettingForm | json}}</pre> -->
              <div class="panel-body">
                <form name="formSetting" ng-submit="submitSettings(formSetting)" novalidate>
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" ng-model="stockSettingForm.title" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label for="address">Customer Address</label>
                    <textarea name="address" ng-model="stockSettingForm.address" class="form-control"  cols="500" rows="4"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="billFooter">Bill Footer</label>
                    <textarea name="billFooter" ng-model="stockSettingForm.billFooter" class="form-control"  cols="500" rows="4"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="billLeftFooter">Bill Left Footer</label>
                    <textarea name="billLeftFooter" ng-model="stockSettingForm.billLeftFooter" class="form-control"  cols="500" rows="4"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="billRightFooter">Bill Right Footer</label>
                    <textarea name="billRightFooter" ng-model="stockSettingForm.billRightFooter" class="form-control"  cols="500" rows="4"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="vatTin">VAT TIN</label>
                    <input type="text" name="vatTin" ng-model="stockSettingForm.vatTin" class="form-control" >
                  </div>
                  <div class="form-group">
                    <label for="taxTin">TAX TIN</label>
                    <input type="text" name="taxTin" ng-model="stockSettingForm.taxTin" class="form-control" >
                  </div>
                  <div class="form-group">
                    <label for="documentationCharge">Documentation Charge</label>
                    <input type="text" name="documentationCharge" ng-model="stockSettingForm.documentationCharge" class="form-control" >
                  </div>
                  <div class="form-group">
                    <!-- <label for="isPhysicalStock">
                      <input type="checkbox" name="isPhysicalStock" ng-model="stockSettingForm.isPhysicalStock" class="form-control" >
                      Physical Stock
                    </label>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <label for="isFinishedFood">
                      <input type="checkbox" name="isFinishedFood" ng-model="stockSettingForm.isFinishedFood" class="form-control" >
                      Finished Food
                    </label>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <label for="isYieldEnabled">
                      <input type="checkbox" name="isYieldEnabled" ng-model="stockSettingForm.isYieldEnabled" class="form-control" >
                      Yield
                    </label> -->
                  </div>
                  <button type="submit" class="btn btn-success"  ng-disabled="formSetting.$invalid">
                    <span>Save</span>
                  </button>
                  <a class="btn btn-danger"  ng-click="cancelSettingForm()">
                    Cancel
                  </a>

                </form>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Stock Properties</h3>
              </div>
              <!-- <pre>{{stockPropertyForm |json}}</pre> -->
              <div class="panel-body">
                <form name="formProperty" ng-submit="submitProperty(formProperty)" novalidate>
                  <div class="col-md-12">
                  <div class="col-md-4">
                    <div class="form-group" style="text-align:center">
                      <label for="isHidePricing">
                        <input type="checkbox" class="form-control" ng-model="stockPropertyForm.isHidePricing" name="isHidePricing" >
                        Hide Pricing
                      </label>
                      <div ng-show="stockPropertyForm.isHidePricing" ng-repeat="u in userType">
                        <label class="checkbox-inline" >
                          <input  id="{{u.type}}" type="checkbox" ng-model="stockPropertyForm.userHidePricing[u.type]">
                          {{u.type}}
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group" style="text-align:center">
                      <label for="isEditPricing">
                        <input type="checkbox" class="form-control" ng-model="stockPropertyForm.isEditPricing" name="isEditPricing" >
                        Enable Edit Pricing
                      </label>
                      <div ng-show="stockPropertyForm.isEditPricing" ng-repeat="u in userType">
                        <label class="checkbox-inline" >
                          <input  id="{{u.type}}" type="checkbox" ng-model="stockPropertyForm.userEditPricing[u.type]">
                          {{u.type}}
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group" style="text-align:center">
                      <label for="resetSerialNumber" >
                        <input type = "checkbox" class="form-control" ng-model="stockPropertyForm.resetSerialNumber" name="resetSerialNumber">
                        Reset Serial Number
                      </label>
                    </div>
                  </div>
                  </div>
                  <div class="col-md-12">
                  <div class="col-md-4">
                    <div class="form-group" style="text-align:center">
                      <label for="isPhysicalStock">
                      <input type="checkbox" name="isPhysicalStock" ng-model="stockPropertyForm.isPhysicalStock" class="form-control" >
                      Physical Stock
                    </label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group" style="text-align:center">
                      <label for="isYieldEnabled">
                      <input type="checkbox" name="isYieldEnabled" ng-model="stockPropertyForm.isYieldEnabled" class="form-control">
                      Yield Costing
                    </label>
                    </div>
                  </div>
                   <div class="col-md-4">
                    <div  class="form-group" style="text-align:center">
                      <label for="dropdownComments">
                        <input type = "checkbox" class="form-control" ng-model="stockPropertyForm.dropdownComments" name="dropdownComments">
                        Dropdown Comments
                      </label>
                    </div>
                  </div>
                  </div>
                  </br></br></br>
                  <div class="col-md-12">
                    <div class="form-group" style="text-align:center">
                  <button type="submit" class="btn btn-success"  ng-disabled="formProperty.$invalid">
                    <span>Update Settings</span>
                  </button>
                  <!-- <a class="btn btn-danger"  ng-click="cancelPropertyForm()">
                    Cancel
                  </a> -->
                  </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>
</tabset>
