<!--<pre>
  {{  customerAddresses|json}}
</pre>-->
<div class="modal-header">
    <h3 class="modal-title">Select Customer Address</h3>
</div>
<div class="modal-body">
    <!--<div class="gridAddress">


            <div ng-repeat="(key,value) in addresses"  class="grid_row" >

              <div style="min-width: 200px;min-height: 200px" class="header" >
                 Address Type:
               {{value.line1}}<br/>
                 {{value.line2}}<br/>
                {{value.city+"-"+address.postCode}}<br/>
                {{value.state}}<br/>
                    <button  class="btn btn-danger"
                            >Select </button>
               </div>

        </div>
    </div>-->

    <div id="grid">
        <div class="grid_row">


            <div ng-repeat="(key,value) in addresses"  >
                <div style="clear: both">
                <div   style="min-width: 300px;min-height: 150px;border: 1px solid #c0c0c0; float: left;margin-top: 10px">
                <div style="margin-top: 2px">    <i class="fa fa-map-marker"> </i>&nbsp;&nbsp;{{value.type}}
                    <button  class="btn btn-danger btn-xs" ng-click="selectedAddress(value)" >Select </button>
               </div>
                <div style="background-color:#cccccc;height: 1px;margin-top:5px; "></div>
                <div  class="header">
               Line 1:     {{value.line1}}
                    <br/>
                Line 2:    {{value.line2}}
                    <br/>
                 City  :   {{value.city}}
                    <span ng-show="value.postCode.length>0">-</span>
                    {{value.postCode}}
            <br/>
                    {{value.state}}

                </div>
                </div>
                </div>

               <!-- <div   style="min-width: 200px;min-height: 120px;border: 1px solid #006666;background-color:#cccccc">

            <div>    <div class="cust-ddress">  Address Type:</div>{{value.addressType}}</div>
           <div class="cust-ddress">  Line 1:</div>
                  {{value.line1}}<br/>
        <div class="cust-ddress">  Line 2:</div>      {{value.line2}}<br/>
              <div class="cust-ddress"> City:</div>
                      {{value.city}}<br/>
              <div class="cust-ddress">     State:</div>
                      {{value.state}}<br/>
                <div class="cust-ddress">   Post Code:</div> {{value.postCode}}<br/>-->

                </div>
                <!--  <button ng-show="key<sItems.length-1" class="btn btn-primary" ng-click="shiftLeft(key,value.Selected)"
                      ng-class="{'splitClass1':(value.Selected.length>1),'splitClass2':!(value.Selected.length>1)}"><<</button>
                    -->

                <!--<pre>{{value.Selected|json}}</pre>-->
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
