
<div class="modal-header">
    <h3 class="modal-title">Search Customer</h3>
</div>
<div class="modal-body">
    <form class="form-inline" name="customerForm" ng-show="windowWidth<1030">
            <div class="form-group col-sm-12 col-xs-12 col-md-12">
              <input type="text" class="form-control xs" style="width: 80%" placeholder="Mobile Number/Name"
                     type="text"
                     ng-model="selectedCustomer"
                     typeahead="customer.name as getFullname(customer) for customer in getCustomersQuery($viewValue)"
                     typeahead-min-length="3"
                     typeahead-on-select="getSelectedCustomer($item, $model, $label)"
                     class="form-control"
                     ng-enter="customerSearchEnter(selectedCustomer)"
                />
              <button class="btn" style="background-color: #2BAAB1;color: white;"
                      ng-click="customerSearchEnter(selectedCustomer)" type="submit">Search</button>
            </div>
          </form>

          <div style="margin-top: 10px; " ng-show="windowWidth<1030">
            <div class="col-xs-12 col-sm-12 col-xs-12 col-md-12">
              
              <div class="panel panel-danger" style="background-color: #e1e1e1;">
                <div class="panel-heading" style="height: 30px;padding: 0 0 0 0;color:#000000; line-height: 25px; ">
                  <div class="panel-title " style="padding: 3px 5px 0 10px ">
                    <a ng-click="customerModal()">
                      <span class="glyphicon glyphicon-user"></span> {{bill._customer.firstname }}
                      <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a class="btn btn-default btn-xs" style="float: right;"
                       ng-click="bill = {}">X</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-12" style="padding: 0 0 0 0;margin-top: -10px;font-size: 13px;color: #006666">
                <i class="fa fa-mobile" style="font-size: larger"></i>&nbsp;
                {{bill._customer.mobile}}
                <div ng-show="bill._customer.phone.length>0"> {{bill._customer.phone}}</div>
                <br/>
                <i class="fa fa-map-marker"> </i>&nbsp;{{bill._customer.addType}}
                <div style="float:right;" ng-show="billCustomer.addresses.length>0">
                  <button ng-click="selectAddresses(billCustomer.addresses)" class="btn btn-primary btn-xs ">
                    Change
                  </button>
                </div>
                <div style="background-color:#cccccc;height: 1px;margin-top:5px; "></div>
                <div style="min-height: 60px">
                  {{bill._customer.address1}}
                  <br/>
                  {{bill._customer.address2}}
                  <br/>
                  {{bill._customer.city}}
                  <span ng-show="bill._customer.postCode.length>0">-</span>
                  {{bill._customer.postCode}}

                  <div style="float:right;">
                    <button ng-click="showCustomerMore(bill._customer)" class="btn btn-primary btn-xs"
                            style="background-color: #0d3349">More
                    </button>
                  </div>
                </div>

                <div style="background-color:#cccccc;height: 1px;margin-top:2px;padding: 0 0 0 0; "></div>
                  <div style="margin-bottom: -20px" ng-show="bill._customer.detail.gTotal>0">
                  <table style="font-size: 11px;" class="table table-responsive table-condensed table-bordered table-striped itemTable">
                     <tr>
                      <th>
                         Favourite Items
                     </th>
                      <th>Total Amount</th>
                     </tr>
                      <tr>
                          <td width="50%">
                            {{bill._customer.detail.topItems[0].itemName}}
                          </td>
                          <td width="50%">
                            T.Amount:<i class="fa fa-inr"></i> {{ bill._customer.detail.gTotal}}
                          </td>
                      </tr>
                      <tr>
                          <td width="50%">{{bill._customer.detail.topItems[1].itemName}}</td>
                          <td width="50%">M.Amount:<i class="fa fa-inr"></i> {{bill._customer.detail.month}}</td>
                      </tr>
                      <tr>
                          <td width="50%">{{bill._customer.detail.topItems[2].itemName}}</td>
                          <td width="50%">LastBillAmt:<i class="fa fa-inr"></i> {{bill._customer.detail.lBill}}</td>
                      </tr>
                  </table>
                  </div>
              </div>

            </div>
          </div> 
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>