
<div class="panel panel-default ">
    <div class="panel-heading">Customer Address </div>
</div>
        <table>
        <tr><td>Email:</td><td>{{customer.email }}</td></tr>
        <tr><td>DOB:</td><td>{{customer.DOB }}</td></tr>
        <tr><td>Marriage Anniverssary:</td><td>{{customer.MA }}</td></tr>
    </table>


   <!-- <div class="panel-footer">-->

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Close</button>

</div>

       <!--</div>-->

