<div class="modal-header">
    <h3 class="modal-title">Customer Detail</h3>
</div>
<div class="modal-body" >
    <!-- <pre>
        {{newCustomer | json}}
    </pre>-->
    <form name="newCustomerForm"   novalidate>
        <div class="row form-group form-inline">
            <div class="col-sm-6 col-xs-12">
                Mobile: <input type="text" name="customerMobile" class="form-control"
                               ng-model="newCustomer.mobile"

                    >
                <!--<p ng-show="newCustomerForm.customerMobile.$error.pattern && newCustomerForm.$dirty">Please enter a valid mobile number</p>-->
            </div>
            <div class="col-sm-6 col-xs-12">
                Phone: <input type="text" name="customerPhone" class="form-control"
                              ng-model="newCustomer.phone" >
                <!--<p ng-show="newCustomerForm.customerMobile.$error.pattern && newCustomerForm.$dirty">Please enter a valid mobile number</p>-->
            </div>
        </div>
        <div class="row form-group form-inline">
            <div class="col-sm-6 col-xs-12  ">
                Name:      <input type="text" class="form-control" name="customerFirstname"
                                  ng-model="newCustomer.firstname" required>
            </div>
            <!--<div class="col-lg-6">
                <input type="text" class="form-control" name="customerLastname" placeholder="Last Name"
                       ng-model="newCustomer.lastname" required>
            </div>-->
            <div class="col-sm-6  col-xs-12">
                Email: <input type="text" class="form-control form-inline" name="customerEmail" ng-model="newCustomer.email" >

            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12 col-xs-12  ">
                <select class="form-control"   ng-model="newCustomer.addType" ng-options=" add.type as  add.type for add in addressTypes" ></select>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2">
                        Line1:
                    </div>
                    <div class="col-sm-10">
                        <input type="text" name="address1" ng-model="newCustomer.address1" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <!-- Text input-->
        <div class="row form-group">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2">
                        Line2:
                    </div>
                    <div class="col-sm-10">
                        <input type="text" ng-model="newCustomer.address2"  class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <!-- Text input-->
        <div class="row form-group">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2">
                        City:
                    </div>
                    <div class="col-sm-10">
                        <input type="text" ng-model="newCustomer.city"  class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <!-- Text input-->
        <div class="row form-group ">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2">
                        State:
                    </div>
                    <div class="col-sm-4">
                        <input type="text" ng-model="newCustomer.state"  class="form-control">
                    </div>
                    <div class="col-sm-2">
                        Postal:
                    </div>

                    <div class="col-sm-4">
                        <input type="text" ng-model="newCustomer.postCode"  class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row form-group ">
            <div class="col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-2">
                        DOB:
                    </div>

                    <div class="col-sm-4">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-click="open($event)"
                                   ng-model="newCustomer.DOB" is-open="opened" min-date="minDate" max-date="maxDate"
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                   close-text="Close" />
                        </p>
                        <!--<p ng-show="newCustomerForm.customerMobile.$error.pattern && newCustomerForm.$dirty">Please enter a valid mobile number</p>-->
                    </div>
                    <!--</div>

                    <div class="row form-group">-->

                    <div class="col-sm-2">
                        MA:
                    </div>

                    <div class="col-sm-4">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-click="openMA($event)"
                                   ng-model="newCustomer.MA" is-open="opened2" min-date="minDate" max-date="maxDateMA"
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                   close-text="Close" />
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div ng-repeat="address in newCustomer.addresses">
            <hr/>
            <ng-form name="address[$index]">
                <!-- Text input-->
                <div class="row form-group">
                    <div class="col-sm-10">
                        <!-- <select class="form-control"   >
                             <option value="Residence" ng-model="address.type" ng-options="add.t as add.name for add in [{t:0,name:'Residence'},{t:1,name:'Office'}]" selected="true"></option>
                            &lt;!&ndash; <option value="office" >Office</option>&ndash;&gt;
                         </select>-->
                    </div>
                </div>

                <!--Start-->
                <div class="row form-group ">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                Line1:
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="address1" ng-model="address.line1" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Text input-->
                <div class="row form-group">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                Line2:
                            </div>
                            <div class="col-sm-10">
                                <input type="text" ng-model="address.line2"  class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Text input-->
                <div class="row form-group">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                City:
                            </div>
                            <div class="col-sm-10">
                                <input type="text" ng-model="address.city"  class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Text input-->
                <div class="row form-group ">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                State:
                            </div>
                            <div class="col-sm-4">
                                <input type="text" ng-model="address.state"  class="form-control">
                            </div>
                            <div class="col-sm-2">
                                Postal:
                            </div>

                            <div class="col-sm-4">
                                <input type="text" ng-model="address.postcode"  class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <!--End-->
                

                <!--  <div class="row form-group">
                      <div class="col-sm-10">
                          <input type="text" name="address_line1[{{$index}}]" ng-model="address.line1" placeholder="Address Line 1" class="form-control" >
                          <span class="alert error" ng-show="address[$index].address_line1[$index].$error.required">Address is required</span>
                      </div>
                  </div>

                  &lt;!&ndash; Text input&ndash;&gt;
                  <div class="row form-group">
                      <div class="col-sm-10">
                          <input type="text" ng-model="address.line2" placeholder="Address Line 2" class="form-control">
                      </div>
                  </div>
                  &lt;!&ndash; Text input&ndash;&gt;
                  <div class="row form-group">
                      <div class="col-sm-10">
                          <input type="text" ng-model="address.city" placeholder="City" class="form-control">
                      </div>
                  </div>
                  &lt;!&ndash; Text input&ndash;&gt;
                  <div class="row form-group">
                      <div class="col-sm-4">
                          <input type="text" ng-model="address.state" placeholder="State" class="form-control">
                      </div>
                      <div class="col-sm-4">
                          <input type="text" ng-model="address.postcode" placeholder="Post Code" class="form-control">
                      </div>
                  </div>
                  &lt;!&ndash; Text input&ndash;&gt;
                  <div class="row form-group">
                      <div class="col-sm-10">
                          <input type="text" ng-model="address.country" disabled placeholder="Country"
                                 class="form-control">
                      </div>
                  </div>-->
            </ng-form>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="newCustomer.fakeCustomer">Mark Fake</label>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="updateCustomer(newCustomerForm)">Create/Update</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>