<div class="modal-header">
    <h3 class="modal-title">New Customer</h3>
</div>
<div class="modal-body">
    <!-- <pre>
        {{newCustomer | json}}
    </pre>-->
    <form name="newCustomerForm"   novalidate>
      <div class="row form-group form-inline">
            <div class="col-sm-6 col-xs-6">
               Mobile: <input type="text" name="customerMobile" class="form-control" placeholder="Mobile Number"
                       ng-model="newCustomer.mobile" numeric-only id="mobile" ng-focus="getFocused('mobile')"
                       ng-virtual-keyboard="numKeyboard" >

                <!--<p ng-show="newCustomerForm.customerMobile.$error.pattern && newCustomerForm.$dirty">Please enter a valid mobile number</p>-->
            </div>
          <div class="col-sm-6 col-xs-6">
              Phone: <input type="text" name="customerPhone" class="form-control" placeholder="Phone Number"
                             ng-model="newCustomer.phone" numeric-only id="phone" ng-focus="getFocused('phone')"
                             ng-virtual-keyboard="numKeyboard">
              <!--<p ng-show="newCustomerForm.customerMobile.$error.pattern && newCustomerForm.$dirty">Please enter a valid mobile number</p>-->
          </div>
        </div>
        <div class="row form-group form-inline">
            <div class="col-sm-6 col-xs-6">
                Name:      <input type="text" class="form-control" name="customerFirstname" placeholder="Name"
                                  ng-model="newCustomer.firstname"
                                  id="name"
                                  ng-virtual-keyboard="alphaKeyboard" ng-focus="getFocused('name')"
                                  required >
            </div>
            <!--<div class="col-lg-6">
                <input type="text" class="form-control" name="customerLastname" placeholder="Last Name"
                       ng-model="newCustomer.lastname" required>
            </div>-->
            <div class="col-sm-6  col-xs-6">
                Email: <input type="text" class="form-control form-inline" name="customerEmail" placeholder="Email" id="email" ng-focus="getFocused('email')"
                              ng-pattern="/\S+@\S+\.\S+/" ng-model="newCustomer.email" ng-virtual-keyboard="alphaKeyboard">

                <p ng-show="newCustomerForm.customerEmail.$error.pattern && newCustomerForm.$dirty" >Please enter a valid
                    email address</p>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12 col-xs-12">
                <select class="form-control"   ng-model="newCustomer.addType" ng-options=" add.type as  add.type for add in addressTypes" ></select>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2 col-xs-2">
                    Line1:
                    </div>
                    <div class="col-sm-10 col-xs-10">
                        <input type="text" name="address1" ng-model="newCustomer.address1" id="line1" ng-focus="getFocused('line1')" placeholder="Address Line 1" class="form-control" ng-virtual-keyboard="alphaKeyboard">
                    </div>
                </div>
            </div>
        </div>
        <!-- Text input-->
        <div class="row form-group">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2 col-xs-2">
                        Line2:
                    </div>
                    <div class="col-sm-10 col-xs-10">
                        <input type="text" ng-model="newCustomer.address2" id="line2" ng-focus="getFocused('line2')" placeholder="Address Line 2" class="form-control" ng-virtual-keyboard="alphaKeyboard">
                </div>
                    </div>
            </div>
        </div>
        <!-- Text input-->
        <div class="row form-group">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2 col-xs-2">
                        City:
                    </div>
                    <div class="col-sm-10 col-xs-10">
                        <input type="text" ng-model="newCustomer.city" id="city" ng-focus="getFocused('city')" placeholder="City" class="form-control" ng-virtual-keyboard="alphaKeyboard">
                    </div>
                </div>
            </div>
        </div>
        <!-- Text input-->
        <div class="row form-group ">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2 col-xs-2">
                        State:
                    </div>
                    <div class="col-sm-4 col-xs-4">
                        <input type="text" ng-model="newCustomer.state" id="state" ng-focus="getFocused('state')" placeholder="State" class="form-control" ng-virtual-keyboard="alphaKeyboard">
                    </div>
                    <div class="col-sm-2 col-xs-2">
                        Postal:
                    </div>

                    <div class="col-sm-4 col-xs-4">
                        <input type="text" ng-model="newCustomer.postCode" id="pin" ng-focus="getFocused('pin')" placeholder="Post Code" class="form-control"  ng-virtual-keyboard="numKeyboard">
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row form-group ">
            <div class="col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-2 col-xs-2">
                        DOB:
                    </div>

                    <div class="col-sm-4 col-xs-4">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-click="open($event)"
                                   ng-model="newCustomer.DOB" is-open="opened" min-date="minDate" max-date="maxDate"
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                    close-text="Close" placeholder="Date Of Birth"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                        <!--<p ng-show="newCustomerForm.customerMobile.$error.pattern && newCustomerForm.$dirty">Please enter a valid mobile number</p>-->
                    </div>
                    <!--</div>

                    <div class="row form-group">-->

                    <div class="col-sm-2 col-xs-2">
                        MA:
                    </div>

                    <div class="col-sm-4 col-xs-4">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-click="openMA($event)"
                               ng-model="newCustomer.MA" is-open="opened2" min-date="minDate" max-date="maxDateMA"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                close-text="Close" placeholder="Marriage Anniverssary"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openMA($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                    </p>
                    </div>
                </div>
        </div>
        </div>

        <div ng-repeat="address in newCustomer.addresses">
            <hr/>
            <ng-form name="address[$index]">
                <!-- Text input-->
                <div class="row form-group">
                    <div class="col-sm-10 col-xs-10">
                       <!-- <select class="form-control"   >
                            <option value="Residence" ng-model="address.type" ng-options="add.t as add.name for add in [{t:0,name:'Residence'},{t:1,name:'Office'}]" selected="true"></option>
                           &lt;!&ndash; <option value="office" >Office</option>&ndash;&gt;
                        </select>-->
                        <select class="form-control"   ng-model="address.type" ng-options=" add.type as  add.type for add in addressTypes" >
                            <!-- <option value="office" >Office</option>-->
                        </select>
                    </div>
                    <div class="col-sm-2 col-xs-2">
                        <button class="btn btn-danger" ng-click="deleteAddress($index)">Delete</button>
                    </div>
                </div>

                <!--Start-->
                <div class="row form-group ">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2 col-xs-2">
                                Line1:
                            </div>
                            <div class="col-sm-10 col-xs-10">
                                <input type="text" name="address1" ng-model="address.line1" id="line12" ng-focus="getFocused('line12')" placeholder="Address Line 1" class="form-control" ng-virtual-keyboard="alphaKeyboard">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Text input-->
                <div class="row form-group">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2 col-xs-2">
                                Line2:
                            </div>
                            <div class="col-sm-10 col-xs-10">
                                <input type="text" ng-model="address.line2" placeholder="Address Line 2" id="line22" ng-focus="getFocused('line22')" class="form-control" ng-virtual-keyboard="alphaKeyboard">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Text input-->
                <div class="row form-group">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2 col-xs-2">
                                City:
                            </div>
                            <div class="col-sm-10 col-xs-10">
                                <input type="text" ng-model="address.city" placeholder="City" id="city2" ng-focus="getFocused('city2')" class="form-control" ng-virtual-keyboard="alphaKeyboard">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Text input-->
                <div class="row form-group ">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2 col-xs-2">
                                State:
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <input type="text" ng-model="address.state" placeholder="State" id="state2" ng-focus="getFocused('state2')" class="form-control" ng-virtual-keyboard="alphaKeyboard">
                            </div>
                            <div class="col-sm-2 col-xs-2">
                                Postal:
                            </div>

                            <div class="col-sm-4 col-xs-4">
                                <input type="text" ng-model="address.postcode" id="pin2" ng-focus="getFocused('pin2')" placeholder="Post Code" class="form-control"  ng-virtual-keyboard="numKeyboard">
                            </div>
                        </div>
                    </div>
                </div>

                <!--End-->


              <!--  <div class="row form-group">
                    <div class="col-sm-10">
                        <input type="text" name="address_line1[{{$index}}]" ng-model="address.line1" placeholder="Address Line 1" class="form-control" >
                        <span class="alert error" ng-show="address[$index].address_line1[$index].$error.required">Address is required</span>
                    </div>
                </div>

                &lt;!&ndash; Text input&ndash;&gt;
                <div class="row form-group">
                    <div class="col-sm-10">
                        <input type="text" ng-model="address.line2" placeholder="Address Line 2" class="form-control">
                    </div>
                </div>
                &lt;!&ndash; Text input&ndash;&gt;
                <div class="row form-group">
                    <div class="col-sm-10">
                        <input type="text" ng-model="address.city" placeholder="City" class="form-control">
                    </div>
                </div>
                &lt;!&ndash; Text input&ndash;&gt;
                <div class="row form-group">
                    <div class="col-sm-4">
                        <input type="text" ng-model="address.state" placeholder="State" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" ng-model="address.postcode" placeholder="Post Code" class="form-control">
                    </div>
                </div>
                &lt;!&ndash; Text input&ndash;&gt;
                <div class="row form-group">
                    <div class="col-sm-10">
                        <input type="text" ng-model="address.country" disabled placeholder="Country"
                               class="form-control">
                    </div>
                </div>-->
            </ng-form>
        </div>

        <div class="well-sm">
            <a class="btn btn-info btn-xs" ng-click="addAddress()">Add Address</a>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="createNewCustomer(newCustomerForm)">Create/Update</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>