<tabset>
	<tab heading="Vendor Payment" style="cursor:pointer;" ng-click="clearEditEntryTab()">
		<div ng-cloak class="row">

			<div style="margin-top: 20px;"></div>
			<div  class="col-md-12">
				<div class="row">
					<!-- <pre>{{editEntryForm | json}}</pre> -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Vendor Payment</h3>
						</div>
						<div class="panel-body">
							<form name="formEditEntry" novalidate>
								<table class="table">
									<tr>
										<td>Select From :</td>
										<td>
											<input type="text" date-format  name="validFrom"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="editEntryForm.fromDate" max-date="editEntryForm.maxDate" is-open="editEntryForm.fromDate.open" ng-click="editEntryForm.fromDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"close-text="Close" ng-readonly="true"  ng-change="checkDateGreater(editEntryForm.fromDate);"/>
										</td>

										<td>Select To :</td>
										<td>
											<input type="text" date-format  name="validTo"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="editEntryForm.toDate" max-date="editEntryForm.maxDate" is-open="editEntryForm.toDate.open" ng-click="editEntryForm.toDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"close-text="Close" ng-readonly="true"  ng-change="checkDateLesser(editEntryForm.toDate);"/>
										</td>

									</tr>
									<tr>

										<td>Select Entry Type</td>										
										<td>
											<select  ng-model="editEntryForm.entryType" ng-change="bindStore_editEntryForm(editEntryForm.entryType)" ng-init="editEntryForm.entryType=1"  class="form-control">
													<option value="1">StockEntry</option>
											        <option value="2">StockSale</option>
											</select>
										</td>
										<td>Select Store</td>
										<td>
											<select  ng-model="editEntryForm.store" ng-change="bindVenRec_editEntryForm(editEntryForm.store)" ng-options="s.storeName for s in editEntryForm.stores" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
									</tr>
									<tr>
										<td>Select Vendor/Receiver</td>
										<td>
											<select  ng-model="editEntryForm.vendor" ng-change="bindCategory_physicalStockForm(editEntryForm.store)" ng-options="s.name for s in editEntryForm.vendorReceiver" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
										<td></td>
										<td>
											<a class="btn btn-success"  ng-click="startSearch()">Submit</a>

											<div class="btn-group" ng-show="editEntryForm.availableRecords.length>0">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    Export <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											    <li><a  style="cursor:pointer;"  ng-click="exportToPdf_vendorPayment()">PDF</a></li>
											    <li><a  style="cursor:pointer;" ng-click="exportToExcel_vendorPayment()">EXCEL</a></li>
											    <!-- <li><a href="#">Something else here</a></li>
											    <li role="separator" class="divider"></li>
											    <li><a href="#">Separated link</a></li> -->
											  </ul>
											</div>
										</td>
									</tr>
								</table>

								<div id="vendorPaymentReport">
									<table class="table table-curved"style="width:100%" border="1"  ng-show="editEntryForm.availableRecords.length>0">
										<thead>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Bill No</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Invoice No</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Batch No</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Date</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Total Qty</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Amount</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Paid Amt</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Due Amt</th>
										</thead>
										<tbody>
											<tr ng-repeat-start="item in editEntryForm.availableRecords ">
												<td  style="background-color:#abcabc;font-weight:bold;" colspan="8">{{item.entryType}}</td>								
											</tr>
											<tr ng-repeat-start="v in item.vendors">
												<td style="background-color:#80D0E2;font-weight:bold;" colspan="8">{{v.vendorName}}</td>
											</tr>
											<tr ng-repeat-start="b in v.bills">
												<td>{{b.billNo}}</td>
												<td>{{b.invoiceNumber==undefined?'NA':b.invoiceNumber}}</td>
												<td>{{b.batchNumber || 'NA'}}</td>
												<td>{{b.billDate | date: 'dd MMM yyyy HH:mm a'}}</td>
												<td>{{b.qty}}</td>
												<td>{{b.amount}}</td>
												<td>{{b.paid}}</td>
												<td>{{b.due}}</td>
											</tr>
											<tr ng-repeat-end></tr>
											<tr>
												<td style="background-color:#89EAC6;font-weight:bold;" colspan="4">
													Total
												</td>
												<td style="background-color:#89EAC6;font-weight:bold;" >{{v.qty}}</td>
												<td style="background-color:#89EAC6;font-weight:bold;" >{{v.amount}}</td>
												<td style="background-color:#89EAC6;font-weight:bold;" >{{v.paid}}</td>
												<td style="background-color:#89EAC6;font-weight:bold;" >{{v.due}}</td>
											</tr>
											<tr ng-repeat-end></tr>
											<tr>
												<td  style="background-color:#abc123;font-weight:bold;" colspan="4">
													Grand Total
												</td>
												<td style="background-color:#abc123;font-weight:bold;" >{{item.qty}}</td>
												<td style="background-color:#abc123;font-weight:bold;" >{{item.amount}}</td>
												<td style="background-color:#abc123;font-weight:bold;" >{{item.paid}}</td>
												<td style="background-color:#abc123;font-weight:bold;" >{{item.due}}</td>
											</tr>
											<tr ng-repeat-end></tr>
										</tbody>
									</table>				
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tab>
</tabset>