<div class="modal-header">
    <h3 class="modal-title">Compare Outlets</h3>
</div>
<div class="modal-body">
	<div class="alert alert-info" ng-if="showLoader">
      <i class="fa fa-spinner fa-spin"></i> <strong>Please wait while we prepare your compare...</strong>
    </div>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label>Outlet 1</label>
				<select class="form-control" ng-change="onCompareDeploymentChange(0)" ng-model="outlets[0]['report']['filters']['deployment_id']" ng-options="deployment._id as deployment.name for deployment in deployments">
	              	<option value="">Select Deployment</option>
	            </select>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label>Outlet 2</label>
				<select class="form-control" ng-change="onCompareDeploymentChange(1)" ng-model="outlets[1]['report']['filters']['deployment_id']" ng-options="deployment._id as deployment.name for deployment in deployments">
	              	<option value="">Select Deployment</option>
	            </select>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label>Outlet 3</label>
				<select class="form-control" ng-change="onCompareDeploymentChange(2)" ng-model="outlets[2]['report']['filters']['deployment_id']" ng-options="deployment._id as deployment.name for deployment in deployments">
	              	<option value="">Select Deployment</option>
	            </select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label>Time Slot</label>
				<!-- <select class="form-control" ng-change="onCompareTimeSlotChange()" ng-model="selectedTimeSlot">
	              	<option selected value="today">Today</option>
	              	<option value="yesterday">Yesterday</option>
	            </select> -->
	            <input date-range-picker class="form-control date-picker" type="text" ng-model="selectedDate" options="datePickerOptions" ng-change="changeDateRange(selectedDate)" />
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="compareWithSelected()">Start Compare</button>
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>