<div id="dashboard">
    <!-- Navigation -->
    <div ng-include="'components/navbar/navbarDashboard.html'"></div>

    <!-- Side Navigation -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="#" ng-click="isSalesNavCollapsed = !isSalesNavCollapsed">
                    <i class="fa fa-fw fa-bar-chart-o"></i> Sales <i class="fa fa-fw fa-caret-down"></i>
                </a>
                <ul collapse="isSalesNavCollapsed" id="sales" class="collapse">
                    <li><a ui-sref="dashboardNew.dash_time">Time</a></li>
                    <li><a ui-sref="dashboardNew.dash_menuItems">Menu Items</a></li>
                    <li><a ui-sref="dashboardNew.dash_serviceType">Service Type</a></li>
                    <li><a ui-sref="dashboardNew.dash_staffWaiters">Staff - Waiters</a></li>
                </ul>
            </li>
            <li>
                <a href="#" ng-click="isUtilizationNavCollapsed = !isUtilizationNavCollapsed"><i class="fa fa-fw fa-dashboard"></i> Utilization <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="utilization" collapse="isUtilizationNavCollapsed" class="collapse">
                    <li><a ui-sref="dashboardNew.dash_tableOccupancy">Table Occupancy</a></li>
                    <!-- <li><a href="#">Delivery team occupancy</a></li>
                    <li><a href="#">Sales by Staff</a></li> -->
                </ul>
            </li>
            <!-- <li>
                <a href="#" ng-click="isInventoryNavCollapsed = !isInventoryNavCollapsed"><i class="fa fa-fw fa-line-chart"></i> Inventory  <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="inventory" collapse="isInventoryNavCollapsed" class="collapse">
                    <li><a href="#">Stock Consumption</a></li>
                    <li><a href="#">Vendors - Procurement Value</a></li>
                    <li><a href="#">Stock Value</a></li>
                    <li><a href="#">Wastage Tracking</a></li>
                </ul>
            </li> -->
            <li>
                <a href="#" ng-click="isCustomerNavCollapsed = !isCustomerNavCollapsed"><i class="fa fa-fw fa-users"></i> Customers<i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="customer" collapse="isCustomerNavCollapsed" class="collapse">
                    <li><a ui-sref="dashboardNew.dash_firstTimeCustomer">First time Customers</a></li>
                    <!-- <li><a href="#">Repeat Customers</a></li>
                    <li><a href="#">CRM overview</a></li> -->
                </ul>
            </li>
        </ul>
    </div>
    <!-- Side Navigation -->


    <!-- Inject Child State View -->
    <div ui-view="" autoscroll="true"></div>
    <!-- Inject Child State View -->
    
    
</div>