
<div ng-include="'components/navbar/navbar.html'"></div>
<div class="row affix-row">
  <div class="col-sm-3 col-md-2 affix-sidebar">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav" id="sidenav01">
            <li class="active">
              <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
                <h4>
                  Dashboard

                </h4>
              </a>
            </li>
            <li>
              <a href="#" ng-click="isCollapsed = !isCollapsed">
                <i class="fa fa-bar-chart"></i> Sales <i class="fa" ng-class="{'fa-arrow-right': isCollapsed, 'fa-arrow-down': !isCollapsed}"></i>
              </a>
              <div collapse="isCollapsed" style="height: 0px;">
                <ul class="nav nav-list">
                  <li><a ui-sref="dashboardNew.dash_time">Time</a></li>
                  <li><a ui-sref="dashboardNew.dash_menuItems">Menu Items</a></li>
                  <li><a ui-sref="dashboardNew.dash_serviceType">Service Type</a></li>
                  <li><a ui-sref="dashboardNew.dash_staffWaiters">Staff - Waiters</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-md-10 affix-content">
    <div class="container reports">
      <div ui-view=""></div>
    </div>
  </div>
</div>
