<tabset>
	<tab heading="Re-Order Report" style="cursor:pointer;" ng-click="clearReOrderTab()">
		<div ng-cloak class="row">

			<div style="margin-top: 20px;"></div>
			<div  class="col-md-12">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Re-Order Report</h3>
						</div>
						<div class="panel-body">
							<form name="formPurchaseConsumption" novalidate>
								<table class="table">
									<tr>
										<td>Select Store</td>
										<td>
											<select  ng-model="purchaseConsumptionForm.store" ng-change="bindCategory_purchaseConsumptionForm(purchaseConsumptionForm.store)" ng-options="s.storeName for s in purchaseConsumptionForm.stores" class="form-control">
													<option value="" ng-if="false"></option>
											</select>
										</td>
										<td>Select  Category</td>										
										<td>
											<select  ng-model="purchaseConsumptionForm.category" ng-change="bindItems_purchaseConsumptionForm(purchaseConsumptionForm.category)" ng-options="s.categoryName for s in purchaseConsumptionForm.categories" class="form-control">
													<option value="">Select All</option>
											</select>
										</td>
										
									</tr>
									<tr>
										<td>Select Items</td>
										<td>
											<select  ng-model="purchaseConsumptionForm.item"  ng-options="s.itemName for s in purchaseConsumptionForm.availableItems" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
										<td></td>
										<td>
											<a class="btn btn-success" ng-disabled="purchaseConsumptionForm.isSearch"  ng-click="startSearch()">Submit</a>
											<div class="btn-group" ng-show="purchaseConsumptionForm.reportData.items.length>0">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    Export <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											    <li><a  style="cursor:pointer;"  ng-click="exportToPdf_purchaseConsumption()">PDF</a></li>
											    <li><a  style="cursor:pointer;" ng-click="exportToExcel_purchaseConsumption()">EXCEL</a></li>
											    <!-- <li><a href="#">Something else here</a></li>
											    <li role="separator" class="divider"></li>
											    <li><a href="#">Separated link</a></li> -->
											  </ul>
											</div>
										</td>
									</tr>
								</table>
								<div class="alert alert-warning alert-dismissible" ng-show="purchaseConsumptionForm.reportData.errorMessage!= null" role="alert">
								  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								  <strong>Warning!</strong> {{purchaseConsumptionForm.reportData.errorMessage}}
								</div>
								<div id="purchaseConsumptionReport">
									<table class="table  table-curved" border="1" style="width:100%">
										<thead>
										<th  style="background-color:#24242D;font-weight:bold;color:#fff">Item Code</th>
											<th  style="background-color:#24242D;font-weight:bold;color:#fff">Item Name</th>
											<th  style="background-color:#24242D;font-weight:bold;color:#fff">Re-Order Level</th>
											<th  style="background-color:#24242D;font-weight:bold;color:#fff">Available Qty</th>
											<th  style="background-color:#24242D;font-weight:bold;color:#fff">Unit</th>
										</thead>
										<tbody>
											<tr ng-repeat="r in purchaseConsumptionForm.reportData">
											<!-- <tr ng-repeat="r in purchaseConsumptionForm.reportData.items"> -->
												<td>{{r.itemCode || '-'}}</td>
												<td>{{r.itemName}}</td>
												<td>{{r.reorderLevel}}</td>
												<td>{{r.closingQty}}</td>
												<td>{{r.UnitName}}</td>
											</tr>
										</tbody>
									</table>				
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tab>
</tabset>
