<tabset>
	<tab heading="POS TO Vendor" style="cursor:pointer;">
		<div ng-cloak class="row">
			<div class="col-md-12">
				<div style="margin-top: 20px;"></div>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<form name="formDLF" ng-submit="createDLF(formDLF)" novalidate>
						             <fieldset>
                                      <legend><b>Brand Details</b></legend>
										<div class="form-group">
											<label for="brandName">Brand Name</label>
											<input type="text" name="brandName" ng-model="dlfForm.brandName" ng-trim="true" class="form-control" required>
										</div>
										<div ng-show="formDLF.brandName.$error.mongoose" style="color:red;">{{formDLF.brandName.$error.mongoose}}</div>
										<div class="form-group">
											<label for="leaseNumber">Lease No</label>
											<input type="text" ng-model="dlfForm.leaseNumber" name="leaseNumber" ng-trim="true" class="form-control" required>
										</div>
										<div class="form-group">
											<label for="dlfTenantId">Tenant-Id</label>
											<input type="text" name="dlfTenantId" ng-model="dlfForm.dlfTenantId" ng-trim="true" class="form-control" required>
										</div>
									  </fieldset>
                                       
                                     <fieldset>
                                      <legend><b>FTP Settings</b></legend>
										<div class="form-group">
											<label for="vendorName">Vendor Name</label>
											<input type="text" name="vendorName" ng-model="dlfForm.ftpSettings.vendorName" ng-trim="true" class="form-control" required>
										</div>
																				
										<div class="form-group">
											<label for="hostAddress">ftp Server Address</label>
											<input type="text" ng-model="dlfForm.ftpSettings.hostAddress" name="hostAddress" ng-trim="true" class="form-control" required>
										</div>
										<div class="form-group">
											<label for="username">Ftp Username</label>
											<input type="text" name="username" ng-model="dlfForm.ftpSettings.username" ng-trim="true" class="form-control" required>
										</div>
										<div class="form-group">
											<label for="password">Ftp Password</label>
											<input type="text" name="password" ng-model="dlfForm.ftpSettings.password" ng-trim="true" class="form-control" required>
										</div>
										<div class="form-group checkbox">
											<label>
												<input type="checkbox" name="auto_sync" ng-model="dlfForm.autoSync">
												<b>Auto Sync</b>, I would like to automatically send bill details at end of day sale.
											</label>
										</div>
									  </fieldset>

										<button type="submit" class="btn btn-success"  ng-disabled="formDLF.$invalid">
	                                         <!--<span ng-if="!dlfForm.isEdit">Create </span>
	                                        <span ng-if="dlfForm.isEdit">Update </span>-->
	                                        Save
	                                    </button>
	                                    <a class="btn btn-danger" ng-click="clearStoreForm()">
	                                         Reset
	                                    </a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</tab>

	<tab heading="POS TO MI"  style="cursor:pointer;">
		<div ng-cloak class="row">
			<div style="margin-top: 20px;"></div>
			<div class="col-md-12">
				<div class="row">
					<div class="panel-body">
             <!--</div>-->
            <form name="formPosToMI" novalidate>
								<table class="table">
									<tr>
										<td>Select From :</td>
										<td>
											<input type="text" date-format  name="validFrom" class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="pos2MiForm.fromDate" max-date="pos2MiForm.maxDate" is-open="pos2MiForm.fromDate.open" ng-click="pos2MiForm.fromDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true" ng-required="true" close-text="Close" ng-change="checkDateGreater(pos2MiForm.fromDate);"/>
										</td>

										<td>Select To :</td>
										<td>
											<input type="text" date-format  name="validTo"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="pos2MiForm.toDate" max-date="pos2MiForm.maxDate" is-open="pos2MiForm.toDate.open" ng-click="pos2MiForm.toDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true"  ng-required="true" close-text="Close" ng-change="checkDateLesser(pos2MiForm.toDate);"/>
										</td>
										<td>
											<a class="btn btn-success" ng-disabled="formPosToMI.$invalid" ng-click="startSearch()">Submit</a>
										</td>
									</tr>
								</table>
							</form>
						</div>
				</div>
			</div>
		</div>
	</tab>

	<!--<tab heading="FTP Settings" style="cursor:pointer;">
		<div ng-cloak class="row">
			<div class="col-md-12">
				<div style="margin-top: 20px;"></div>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<form name="ftp" novalidate>
										<div class="form-group">
											<label for="vendorName">Vendor Name</label>
											<input type="text" name="ftp.vendorName" ng-model="ftpForm.vendorName" ng-trim="true" class="form-control" required>
										</div>
																				
										<div class="form-group">
											<label for="hostAddress">ftp Server Address</label>
											<input type="text" ng-model="ftpForm.hostAddress" name="ftp.hostAddress" ng-trim="true" class="form-control" required>
										</div>
										<div class="form-group">
											<label for="username">Ftp Username</label>
											<input type="text" name="ftp.username" ng-model="ftpForm.username" ng-trim="true" class="form-control" required>
										</div>
										<div class="form-group">
											<label for="password">Ftp Password</label>
											<input type="text" name="ftp.password" ng-model="ftpForm.password" ng-trim="true" class="form-control" required>
										</div>
										<button type="button"  ng-click="updateFtpSettings()" class="btn btn-success"  ng-disabled="ftp.$invalid || !dlfForm._id">Save
	                                    </button>
	                                    <button class="btn btn-danger" ng-click="clearFtpForm()">
	                                         Reset
	                                    </button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</tab>-->
</tabset>


