<tabset>
	<tab heading="Item Wise" style="cursor:pointer;" ng-click="clearItemWiseTab()">
		<div ng-cloak class="row">

			<div style="margin-top: 20px;"></div>
			<div  class="col-md-12">
				<div class="row">
					<!-- <pre>{{itemWiseForm | json}}</pre> -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Item Wise Wastage</h3>
						</div>
						<div class="panel-body">
							<form name="formItemWiseWastage" novalidate>
								<table class="table">
									<tr>
										<td>Start Date :</td>
										<td>
											<input type="text" date-format  name="validFrom"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="itemWiseForm.fromDate" max-date="itemWiseForm.maxDate" is-open="itemWiseForm.fromDate.open" ng-click="itemWiseForm.fromDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"close-text="Close" ng-readonly="true"  ng-change="checkDateGreater(itemWiseForm.fromDate);"/>
										</td>

										<td>End Date :</td>
										<td>
											<input type="text" date-format  name="validTo"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="itemWiseForm.toDate" max-date="itemWiseForm.maxDate" is-open="itemWiseForm.toDate.open" ng-click="itemWiseForm.toDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"close-text="Close" ng-readonly="true"  ng-change="checkDateLesser(itemWiseForm.toDate);"/>
										</td>

									</tr>
									<tr>
										<td>Select Type</td>
										<td>
											<select  ng-model="itemWiseForm.entryType" ng-change="binditems_ItemForm(itemWiseForm.entryType)" ng-init="itemWiseForm.entryType=1"  class="form-control">
													<option value="1">Raw Material</option>
											        <option value="2">Processed Items</option>
											</select>
										</td>
										<td>Select Items</td>
										<td>
											<select  ng-model="itemWiseForm.item"  ng-options="s.itemName for s in itemWiseForm.availableItems" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>

									</tr>
									<tr>
									<td>Select Wastage Type</td>
										<td>
											<select  ng-model="itemWiseForm.wastageEntryType" ng-init="itemWiseForm.wastageEntryType=1" class="form-control">
											
													<option value="1">Wastage</option>
													<option value="2">Re-Use</option>
											</select>
										</td>
										<td></td>
										<td>
											<a class="btn btn-success"  ng-click="startSearch_ItemWise()">Submit</a>
											<div class="btn-group" ng-show="itemWiseForm.reportData.length>0">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    Export <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											    <li><a  style="cursor:pointer;"  ng-click="exportToPdf_itemWise()">PDF</a></li>
											    <li><a  style="cursor:pointer;" ng-click="exportToExcel_itemWise()">EXCEL</a></li>
											    <!-- <li><a href="#">Something else here</a></li>
											    <li role="separator" class="divider"></li>
											    <li><a href="#">Separated link</a></li> -->
											  </ul>
											</div>
										</td>	
									</tr>
									<tr>
										
									</tr>
								</table>
								<div id="itemWiseReport">
									<table class="table table-curved" style="width:100%" border="1">
										<thead>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" colspan="2">Invoice No.</th>
											<!-- <th style="background-color:#24242D;font-weight:bold;color:#fff" >Type</th> -->
											<th style="background-color:#24242D;font-weight:bold;color:#fff" colspan="2">Date</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" colspan="4">Unit Name</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" colspan="4">Quantity</th>
										</thead>
										<tbody ng-repeat="itm in itemWiseForm.reportData" ng-hide='checkBills(itm.bills)'>
											<tr ng-click="itm.collapseRows = !itm.collapseRows" class="collapsible-row">
											<td style="background-color:#abcabc;" colspan="1">
													<b> {{itm.itemCode || '-'}}</b>
													</td>
												<td style="background-color:#abcabc;" colspan="1">
													<b> {{itm.itemName}}</b>
													<span ng-class="{'caret':!itm.collapseRows, 'right-caret':itm.collapseRows}"></span>
												</td>
												<td style="background-color:#abcabc;" colspan="10"></td>
											</tr>
											<tr ng-repeat="b in itm.bills" ng-show="!itm.collapseRows">
												<td colspan="2">{{b.billNo}}</td>
												<!-- <td>{{b.wastageEntryType}}</td> -->
												<td colspan="2">{{b.created | date:'dd MMM yyyy @ hh:mm a'}}</td>
												<td colspan="4">{{b.UnitName}}</td>
												<td colspan="4">{{b.totalQty}}</td>
											</tr>
											<tr>
												<td colspan="6" style="text-align:right;background-color:#9FB0E6;"><b>Item Wise Total</b></td>
												<td colspan="6" style="text-align:right;background-color:#9FB0E6;"><b>{{calculateSum(itm.bills)}}</b></td>
											</tr>
										</tbody>
										<tbody>
											<tr>
												<td colspan="6" style="text-align:right;background-color:#52E052;"><b>Grand Total</b></td>
												<td colspan="6" style="text-align:right;background-color:#52E052;"><b>{{calculateGrandTotal(itemWiseForm.reportData)}}</b></td>
											</tr>
										</tbody>
									</table>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tab>

	<tab heading="Day Wise" style="cursor:pointer;" ng-click="clearStockSummaryTab()">
		<div ng-cloak class="row">

			<div style="margin-top: 20px;"></div>
			<div  class="col-md-12">
				<div class="row">
					<!-- <pre>{{dayWiseForm | json}}</pre> -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Day Wise Wastage</h3>
						</div>
						<div class="panel-body">
							<form name="formDayWiseWastage" novalidate>
								<table class="table">
									<tr>
										<td>Start Date :</td>
										<td>
											<input type="text" date-format  name="validFrom"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="dayWiseForm.fromDate" max-date="dayWiseForm.maxDate" is-open="dayWiseForm.fromDate.open" ng-click="dayWiseForm.fromDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"close-text="Close" ng-readonly="true"  ng-change="checkDateGreater_DayWise(dayWiseForm.fromDate);"/>
										</td>

										<td>End Date :</td>
										<td>
											<input type="text" date-format  name="validTo"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="dayWiseForm.toDate" max-date="dayWiseForm.maxDate" is-open="dayWiseForm.toDate.open" ng-click="dayWiseForm.toDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"close-text="Close" ng-readonly="true"  ng-change="checkDateLesser_DayWise(dayWiseForm.toDate);"/>
										</td>
										<td>
											<a class="btn btn-success"  ng-click="startSearch_DayWise()">Submit</a>
											<div class="btn-group" ng-show="dayWiseForm.reportData.length>0">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    Export <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											    <li><a  style="cursor:pointer;"  ng-click="exportToPdf_dayWise()">PDF</a></li>
											    <li><a  style="cursor:pointer;" ng-click="exportToExcel_dayWise()">EXCEL</a></li>
											    <!-- <li><a href="#">Something else here</a></li>
											    <li role="separator" class="divider"></li>
											    <li><a href="#">Separated link</a></li> -->
											  </ul>
											</div>
										</td>
									</tr>
								</table>
								<div id="dayWiseReport">
									<table class="table table-curved" style="width:100%" border="1">
										<thead>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Date</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Bill. No.</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Item Name</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Item Code</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Unit Name</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Wastage Quantity</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Re-Use Quantity</th>
										</thead>
										<tbody>
														
											<tr ng-repeat-start="d in dayWiseForm.reportData">
												<td  style="background-color:#abcabc" colspan="7"  ng-click="d.collapseRows = !d.collapseRows" class="collapsible-row">
													<b>{{d.date | date:'dd MMM yyyy @ hh:mm a'}}</b>
													<span ng-class="{'caret':!d.collapseRows, 'right-caret':d.collapseRows}"></span>
												</td>
											</tr>
											<tr ng-repeat-start="t in d.Type" ng-show="!d.collapseRows">
												<td colspan="7" style="background-color:#abc123" ng-click="t.collapseRows = !t.collapseRows" class="collapsible-row">
													<b>{{t.itemType}}</b>
													<span ng-class="{'caret':!t.collapseRows, 'right-caret':t.collapseRows}"></span>
												</td>
											</tr>
											<tr ng-repeat-start="i in t.items" ng-hide="d.collapseRows || t.collapseRows">

												<td>{{i.created | date:'dd MMM yyyy'}}</td>
												<td ng-if="i.wastageEntryType =='Wastage'">WS-{{resetSerialNumber==true?i.billNo:i.transactionNumber}}</td>
												<td ng-if="i.wastageEntryType =='Re-Use'">RU-{{resetSerialNumber==true?i.billNo:i.transactionNumber}}</td>
												<td ng-if="i.wastageEntryType ==undefined">RS-{{resetSerialNumber==true?i.billNo:i.transactionNumber}}</td>
												<td>{{i.itemName}}</td>
												<td>{{i.itemCode || '-'}}</td>
												<td>{{i.UnitName}}</td>
												<td>{{i.returnWastageQuantity}}</td>
												<td>{{i.returnAcceptQuantity}}</td>
											</tr>
											<tr ng-repeat-end></tr>
											<tr ng-repeat-end></tr>
											<tr ng-repeat-end></tr>
											<!-- <tr ng-repeat="d in dayWiseForm.reportData">
												<td colspan="4">
													<table class="table table-curved">
														<tr><td>{{d.date | date:'dd MMM yyyy'}}</td></tr>
														<tr ng-repeat="t in d.Type">
															<td>
																<table class="table table-curved">
																	<tr><td>{{t.itemType}}</td></tr>
																	<tr ng-repeat="i in t.items">
																		<td>{{i.created | date:'dd MMM yyyy'}}</td>
																		<td>{{i.itemName}}</td>
																		<td>{{i.UnitName}}</td>
																		<td>{{i.totalQty}}</td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</td>
											</tr> -->
										</tbody>
									</table>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tab>
</tabset>
