<tabset>
            <tab heading="Stock Deletion" ng-click = "resetTransactionsTab()">
                <div class="panel panel-default">
                    <div class="panel-heading" style=" background-color: light blue; font-style: white">
                        Transaction Deletion Panel
                    </div>
                    <div class="panel-body">
	                    <form name = 'form_stockMasterUser' ng-submit="getStockTransactions(form_stockMasterUser)" novalidate>
	                        <div class="col-md-6 form-inline" style="margin: 10px;">
		                        
		                        <div  class="form-group">
		                        	<div class="col-md-6">
				                        <label class="control-label" for = "tenantName">Tenant Name: </label>
				                        <input type="text" name="tenantName" class="form-control" ng-model="transactionsTab.stockTransactionForm.tenant" ng-model-options="{debounce: 700}" typeahead="tenant as tenant.name for tenant in getTenantName($viewValue)" typeahead-on-select="getDeploymentName(transactionsTab.stockTransactionForm.tenant._id)" typeahead-no-results="noResults" ng-disabled = "transactionsTab.disableTenantAndDeployment"/>
				                        <button type="button"  class="btn btn-default" ng-click="resetTransactionsTab()" ng-show = "transactionsTab.showResetButton"  style="height: 30px;"><i class="glyphicon glyphicon-remove"></i></button>
			                        </div>
			                        <div class="col-md-6">
				                        <label class="control-label" for="deploymentName">DeploymentName :</label>
						                
						                <select class="form-control" name="deploymentName" ng-model="transactionsTab.stockTransactionForm.deployment_id" ng-options="deployment._id as deployment.name for deployment in transactionsTab.deployments" ng-disabled = "transactionsTab.disableTenantAndDeployment" ng-change = "disableTenant()" required>
						                <option value="">Select Deployment</option>
		                                </select>
	                                </div>
		                        </div>

		                        <div class="form-group">
			                        <div class="col-md-6">
			                         	<label for = "fromDate" class = "control-label" >Start Date: </label>

			                         	<input type="text" name = "fromDate" class="form-control" datepicker-popup="dd-MMMM-yyyy" style="height: 30px;" ng-model="transactionsTab.stockTransactionForm.fromDate" ng-click="openCalender($event,'modFrom')" ng-disabled = "transactionsTab.tenantNotSelected"  is-open="dateCal.modFrom" datepicker-options="dateOptions"  close-text="Close"  />
			                            
			                            <button type="button"  class="btn btn-default" ng-click="openCalender($event,'modFrom')" ng-disabled = "transactionsTab.tenantNotSelected"  style="height: 30px;"><i class="glyphicon glyphicon-calendar" required></i></button>
			                        </div>

			                        <div class="col-md-6">
			                            <label for = "toDate" class="control-label" >End Date : </label>

			                            <input type="text" name = "toDate" class="form-control" datepicker-popup="dd-MMMM-yyyy" style="height: 30px;" ng-model="transactionsTab.stockTransactionForm.toDate" ng-click="openCalender($event,'modTo')" ng-disabled = "transactionsTab.tenantNotSelected"  is-open="dateCal.modTo" datepicker-options="dateOptions"  close-text="Close"  />
			                            
			                            <button type="button"  class="btn btn-default" ng-click="openCalender($event,'modTo')" ng-disabled = "transactionsTab.tenantNotSelected"  style="height: 30px;"><i class="glyphicon glyphicon-calendar" required></i></button>
			                        </div>
		                        </div>
		                        <div class="form-group">
			                        <div class="col-md-6">
				                        <label for="transactionType" class="control-label">Transaction Type :</label>
						                  <select class="form-control" name="transactionType" ng-model="transactionsTab.stockTransactionForm.transactionType" ng-options="type.type as type.transactionName for type in stockTransactionType" ng-disabled = "transactionsTab.tenantNotSelected" required>
						                  <option value="">Select Type</option>
		                                  </select>
		                            </div>    
			                        <div class="col-md-6">
			                           	<label class="control-label" ng-show = "transactionsTab.tenantNotSelected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
			                           	<label class="control-label" ng-hide = "transactionsTab.tenantNotSelected"></label>
			                        	<button type ="submit" name = "submit" ng-disabled = "transactionsTab.tenantNotSelected" class="btn btn-success form-control" style="margin-top: 8%">Success</button>
			                        	<button type ="button" name = "deleteAll" ng-hide = "transactionsTab.tenantNotSelected" class="btn btn-danger form-control" style="margin-top: 8%" ng-confirm-message="Are you sure you want to delete All transactions of this deployment?" ng-confirm-condition="true" ng-confirm-click="deleteTransactionModal(null, 'Complete', null)">Delete All</button>
			                        </div>
			                    </div>
	                        </div> 
	                    </form>
                    </div>
                    <div>
		                <table class="table table-bordered col-md-12" ng-show = "transactionsTab.transactions.length > 0">
		                    	<thead>
		                    		<th colspan="1">#</th>
		                    		<th colspan="2">Created</th>
		                    		<th colspan="5">TransactionType</th>
		                    		<th colspan="3">No. of Items</th>
		                    		<th colspan="1">Delete</th>
		                    	</thead>
		                    	<tbody>
		                    		<tr ng-repeat = "transaction in transactionsTab.transactions">
		                    			<td colspan="1">{{$index + 1}}</td>
		                    			<td colspan="2">{{transaction.transactionTime}}</td>
		                    			<td colspan="5">{{transaction.transactionName}}</td>
		                    			<td colspan="3">{{transaction.numberOfItems}}</td>
		                    			<td colspan="1"><a ng-confirm-message="Are you sure you want to delete this transaction?" ng-confirm-condition="true" ng-confirm-click="deleteTransactionModal(transaction, 'Single' , $index)"><i class="glyphicon glyphicon-trash"></i></a></td>
		                    		</tr>
		                    	</tbody>
		                </table>
	            	</div>
                </div>
            </tab>
</tabset>

<script type="text/ng-template" id="deleteTransaction.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete Transaction</h3>
    </div>
    <div class="modal-body">
        <div class="form-inline">
        	<label for ="comment">Comment :</label>
        	<input type = "text" name = "comment" class="form-control" ng-model= "deletionForm.comment">
        </div>
        <div class="form-inline">
        	<label for ="password">Password :</label>
        	<input type = "password" name = "password" class="form-control" ng-model= "deletionForm.password">
        </div>
    </div>
    <div class="modal-footer">
        <div style="float: right;">
        	<button class="btn btn-danger" ng-click="removeTransaction()">
        	<i ng-if= "deletionType == 'Single'">Delete Transaction</i>
        	<i ng-if= "deletionType == 'Complete'">Delete All Transaction</i>
        	</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
