<tabset>
    <tab heading="Purchase Detail Report" style="cursor:pointer;" ng-click="clearPurchaseSummary()">
        <div ng-cloak class="row">
            <div style="margin-top: 20px;"></div>
            <div class="col-md-12">
                <div class="row">
                    <!-- <pre>{{purchaseDetailForm | json}}</pre> -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Purchase Detail Report</h3>
                        </div>
                        <div class="panel-body">
                            <form name="formPurchaseDetail" novalidate>
                                <table class="table">
                                    <tr>
                                        <td>Select From :</td>
                                        <td>
                                            <input type="text" date-format name="validFrom" class="form-control" datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="purchaseDetailForm.fromDate" max-date="purchaseDetailForm.maxDate" is-open="purchaseDetailForm.fromDate.open" ng-click="purchaseDetailForm.fromDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true" ng-required="true" close-text="Close" ng-change="checkDateGreater(purchaseDetailForm.fromDate);" />
                                        </td>
                                        <td>Select To :</td>
                                        <td>
                                            <input type="text" date-format name="validTo" class="form-control" datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="purchaseDetailForm.toDate" max-date="purchaseDetailForm.maxDate" is-open="purchaseDetailForm.toDate.open" ng-click="purchaseDetailForm.toDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true" ng-required="true" close-text="Close" ng-change="checkDateLesser(purchaseDetailForm.toDate);" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Select Store</td>
                                        <td>
                                            <select ng-model="purchaseDetailForm.store" ng-change="bindItems_PurchaseDetail(purchaseDetailForm.store)" ng-options="s.storeName for s in purchaseDetailForm.stores" class="form-control">
                                                <option value="">Select All </option>
                                            </select>
                                        </td>
                                        <td>Select Item</td>
                                        <td>
                                            <select ng-model="purchaseDetailForm.item" ng-options="s.itemName for s in purchaseDetailForm.availableItems" class="form-control">
                                                <option value="">Select All </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <a class="btn btn-success" ng-click="startSearch()">Submit</a>
                                            <div class="btn-group" ng-show="purchaseDetailForm.reportData.length>0">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Export <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a style="cursor:pointer;" ng-click="exportToPdf_purchaseDetail()">PDF</a></li>
                                                    <li><a style="cursor:pointer;" ng-click="exportToExcel_purchaseDetail()">EXCEL</a></li>
                                                    <!-- <li><a href="#">Something else here</a></li>
											    <li role="separator" class="divider"></li>
											    <li><a href="#">Separated link</a></li> -->
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div id="purchaseDetailReport">
                                    <table class="table table-curved" style="width:100%" border="1" ng-show="purchaseDetailForm.reportData.length>0">
                                        <thead>
                                            <th colspan="1" style="background-color:#24242D;font-weight:bold;color:#fff">Date</th>
                                            <th colspan="1" style="background-color:#24242D;font-weight:bold;color:#fff">BillNo</th>
                                            <th colspan="1" style="background-color:#24242D;font-weight:bold;color:#fff">Invoice No.</th>
                                            <th colspan="1" style="background-color:#24242D;font-weight:bold;color:#fff">Batch No.</th>
                                            <th colspan="1" style="background-color:#24242D;font-weight:bold;color:#fff">Quantity</th>
                                            <th colspan="1" style="background-color:#24242D;font-weight:bold;color:#fff">Unit</th>
                                            <th colspan="1" style="background-color:#24242D;font-weight:bold;color:#fff">Amount</th>
                                            <th colspan="1" style="background-color:#24242D;font-weight:bold;color:#fff">Discount</th>
                                            <!-- <th style="background-color:#24242D;font-weight:bold;color:#fff">S Charge</th> -->
                                            <th colspan="1" style="background-color:#24242D;font-weight:bold;color:#fff">Vat</th>
                                            <th colspan="1" style="background-color:#24242D;font-weight:bold;color:#fff">Cartage</th>
                                            <th colspan="1" style="background-color:#24242D;font-weight:bold;color:#fff">Net Additional Charge</th>
                                            <th colspan="2" style="background-color:#24242D;font-weight:bold;color:#fff">Total</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="item in purchaseDetailForm.reportData">
                                                <td colspan="12" style="background-color:#abcabc;font-weight:bold;">
                                                    {{item.itemCode || ''}} - {{item.itemName}}
                                                </td>
                                            </tr>
                                            <tr ng-repeat-start="b in item.bills">
                                                <td colspan="1">{{b.billDate | date:'dd MMM yyyy HH:mm a'}}</td>
                                                <td colspan="1">{{b.billNo}}</td>
                                                <td colspan="1">{{b.invoiceNumber==undefined ?'NA':b.invoiceNumber}}</td>
                                                <td>{{b.batchNumber || 'NA'}}</td>
                                                <td colspan="1">{{b.qty}}</td>
                                                <td colspan="1">{{b.unitName}}</td>
                                                <td colspan="1">{{b.amount}}</td>
                                                <td colspan="1">{{b.discount}}</td>
                                                <!-- <td>{{b.serviceCharge}}</td> -->
                                                <td colspan="1">{{b.vat}}</td>
                                                <td colspan="1">{{b.cartage}}</td>
                                                <td colspan="1">{{b.netAdditionalCharge}}</td>
                                                <td colspan="2">{{b.total}}</td>
                                            </tr>
                                            <tr ng-repeat-end></tr>
                                            <tr ng-repeat-end></tr>
                                            <tr>
                                                <td colspan="6" style="background-color:#abc123;font-weight:bold;text-align:right">
                                                    <b>Grand Total</b>
                                                </td>
                                                <td style="background-color:#abc123;">{{purchaseDetailForm.reportData.grandTotal.amount}}</td>
                                                <td style="background-color:#abc123;">{{purchaseDetailForm.reportData.grandTotal.discount}}</td>
                                                <!-- <td style="background-color:#abc123;">{{purchaseDetailForm.reportData.grandTotal.serviceCharge}}</td> -->
                                                <td style="background-color:#abc123;">{{purchaseDetailForm.reportData.grandTotal.vat}}</td>
                                                <td style="background-color:#abc123;">{{purchaseDetailForm.reportData.grandTotal.cartage}}</td>
                                                <td style="background-color:#abc123;">{{purchaseDetailForm.reportData.grandTotal.netAdditionalCharge}}</td>
                                                <td style="background-color:#abc123;">{{purchaseDetailForm.reportData.grandTotal.total}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
</tabset>
