<tabset>
	
		<div ng-cloak class="row">
			<div style="margin-top: 20px;"></div>
			<div  class="col-md-12">
				<div class="row">
					<!-- <pre>{{requirementForm | json}}</pre> -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Consolidated Inventory Report</h3>
						</div>
						<div class="panel-body">
							<form name="formRequirement" novalidate>
								<table class="table">
									<tr>
										<td>Select From :</td>
										<td>
											<input type="text" date-format  name="validFrom"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="requirementForm.fromDate" max-date="requirementForm.maxDate" is-open="requirementForm.fromDate.open" ng-click="requirementForm.fromDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true"  ng-required="true"close-text="Close" ng-change="checkDateGreater(requirementForm.fromDate);"/>
										</td>

										<td>Select To :</td>
										<td>
											<input type="text" date-format  name="validTo"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="requirementForm.toDate" max-date="requirementForm.maxDate" is-open="requirementForm.toDate.open" ng-click="requirementForm.toDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true"  ng-required="true"close-text="Close" ng-change="checkDateLesser(requirementForm.toDate);"/>
										</td>

									</tr>
									
									<tr ng-show="isBaseKitchen">
										<td>Select OutLet</td>
										<td>
											<select  ng-model="requirementForm.outlet"  ng-options="s.name for s in requirementForm.availableOutlets" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
									</tr>
									<tr>
										<td colspan="4">
											<a class="btn btn-success"  ng-click="startSearchRequirement()">Submit</a>

											<div class="btn-group" ng-show="requirementForm.reportData.length >0 || requirementForm.reportDataBK.length >0">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    Export <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											    <li><a  style="cursor:pointer;"  ng-click="exportToPdf_requirement()">PDF</a></li>
											    <li><a  id="req" style="cursor:pointer;" ng-click="exportToExcel_requirement()">CSV</a></li>
											    <!-- <li><a href="#">Something else here</a></li>
											    <li role="separator" class="divider"></li>
											    <li><a href="#">Separated link</a></li> -->
											  </ul>
											</div>
										</td>
									</tr>
								</table>

								
								<div id="requirementReportBK">
									<table class="table table-curved" style="width:100%" border="1" ng-show="requirementForm.reportDataBK.length>0">
										<thead>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" ></th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Unit Name</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Rate</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Quantity Indented</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff" >Quantity Dispatched</th>
										</thead>
										
										<tbody ng-repeat="r in requirementForm.reportDataBK">
											<tr>
												<td style="background-color:#abcabd" colspan="5">{{r.categoryName}}</td>
											</tr>
											<tr ng-repeat="i in r.item">
												<td>{{i.itemName}}</td>
												<td>{{i.selectedUnit.unitName}}</td>
												<td>{{ i.subTotal  | number :2}}</td>
												<td>{{i.qty}}</td>

												<td>{{i.supplyQty}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</form>
						</div>
				</div>
			</div>
		</div>
	

	
</tabset>
