<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Register :-)</h1>
        </div>
        <div class="col-sm-12">
            <form class="form" name="form" ng-submit="register(form)" novalidate>

                <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
                    <label>Company Name</label>

                    <input type="text" name="name" class="form-control" ng-model="regForm.name"
                           required/>

                    <p class="help-block" ng-show="form.name.$error.required && submitted">
                        A name is required
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.outlet.$valid && submitted,
                                            'has-error': form.outlet.$invalid && submitted }">
                    <label>Outlet</label>

                    <input type="text" name="outlet" class="form-control" ng-model="regForm.outlet"
                           required/>

                    <p class="help-block" ng-show="form.outlet.$error.required && submitted">
                        Outlet name is required
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
                    <label>Email</label>

                    <input type="email" name="email" class="form-control" ng-model="regForm.email"
                           required
                           mongoose-error/>

                    <p class="help-block" ng-show="form.email.$error.email && submitted">
                        Doesn't look like a valid email.
                    </p>

                    <p class="help-block" ng-show="form.email.$error.required && submitted">
                        What's your email address?
                    </p>

                    <p class="help-block" ng-show="form.email.$error.mongoose">
                        {{ errors.email }}
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.subdomain.$valid && submitted,
                                            'has-error': form.subdomain.$invalid && submitted }">
                    <label>Subdomain</label>
                    <div class="input-group">
                        <div class="input-group-addon">https://</div>
                        <input type="text" name="subdomain" class="form-control" ng-model="regForm.subdomain"

                               required wc-unique="{key:regForm.subdomain, property:'subdomain'}" mongoose-error nospace />
                        <div class="input-group-addon">.posist.net</div>
                    </div>

                    <p class="help-block" ng-show="form.subdomain.$error.required && submitted">
                        Sub-Domain is required
                    </p>
                    <p class="help-block" ng-show="form.subdomain.$error.mongoose">
                        {{ errors.subdomain }}
                    </p>

                </div>

                <div class="form-group" ng-class="{ 'has-success': form.username.$valid && submitted,
                                            'has-error': form.username.$invalid && submitted }">
                    <label>Username</label>

                    <input type="text" name="username" class="form-control" ng-model="regForm.username"
                           required mongoose-error nospace />

                    <p class="help-block" ng-show="form.username.$error.required && submitted">
                        Username is required
                    </p>
                    <p class="help-block" ng-show="form.username.$error.mongoose">
                        {{ errors.username }}
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
                    <label>Password</label>

                    <input type="password" name="password" class="form-control" ng-model="regForm.password"
                           ng-minlength="3"
                           required
                           mongoose-error/>
                    <p class="help-block" ng-show="form.password.$error.required && submitted">
                        Password is required
                    </p>
                    <p class="help-block"
                       ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                        Password must be at least 3 characters.
                    </p>

                    <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ errors.password }}
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.mobile.$valid && submitted,
                                            'has-error': form.mobile.$invalid && submitted }">
                    <label>Mobile Number</label>

                    <input type="text" name="mobile" class="form-control" ng-model="regForm.mobile"
                           required mask="9999999999" data-mask-placeholder="" />

                    <p class="help-block" ng-show="form.mobile.$error.required && submitted">
                        Mobile Number is required
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.telephone.$valid && submitted,
                                            'has-error': form.telephone.$invalid && submitted }">
                    <label>Telephone Number</label>

                    <input type="text" name="telephone" class="form-control" ng-model="regForm.telephone" mask="(999) 999-9999" data-mask-placeholder=""
                           />

                    <p class="help-block" ng-show="form.telephone.$error.required && submitted">
                        Telephone Number is required
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.address1.$valid && submitted,
                                            'has-error': form.address1.$invalid && submitted }">
                    <label>Adress 1</label>

                    <input type="text" name="address1" class="form-control" ng-model="regForm.address1"
                           required/>

                    <p class="help-block" ng-show="form.address1.$error.required && submitted">
                        Address Line is required
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.address2.$valid && submitted,
                                            'has-error': form.address2.$invalid && submitted }">
                    <label>Adress 2</label>

                    <input type="text" name="address2" class="form-control" ng-model="regForm.address2"
                           required/>

                    <p class="help-block" ng-show="form.address2.$error.required && submitted">
                        Address Line is required
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.city.$valid && submitted,
                                            'has-error': form.city.$invalid && submitted }">
                    <label>City</label>

                    <input type="text" name="city" class="form-control" ng-model="regForm.city"
                           required/>

                    <p class="help-block" ng-show="form.city.$error.required && submitted">
                        City is required
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.state.$valid && submitted,
                                            'has-error': form.state.$invalid && submitted }">
                    <label>State</label>

                    <input type="text" name="state" class="form-control" ng-model="regForm.state"
                           required/>

                    <p class="help-block" ng-show="form.state.$error.required && submitted">
                        State is required
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.country.$valid && submitted,
                                            'has-error': form.country.$invalid && submitted }">
                    <label>Country</label>

                    <input type="text" name="country" class="form-control" ng-model="regForm.country"
                           required/>

                    <p class="help-block" ng-show="form.country.$error.required && submitted">
                        Country is required
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.pan.$valid && submitted,
                                            'has-error': form.pan.$invalid && submitted }">
                    <label>Pan #</label>

                    <input type="text" name="pan" class="form-control" ng-model="regForm.pan"
                           />

                    <p class="help-block" ng-show="form.pan.$error.required && submitted">
                        Pan is required
                    </p>
                </div>



                <div>
                    <button class="btn btn-info btn-lg btn-login" type="submit">
                        <i class="fa fa-plus-square fa-lg"></i> Create Account
                    </button>
                    <!--<a class="btn btn-default btn-lg btn-register" href="/login">
                      Login
                    </a>-->
                </div>

                <hr>
                <!--<div>
                  <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
                    <i class="fa fa-facebook"></i> Connect with Facebook
                  </a>
                  <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
                    <i class="fa fa-google-plus"></i> Connect with Google+
                  </a>
                  <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
                    <i class="fa fa-twitter"></i> Connect with Twitter
                  </a>
                </div>-->
            </form>
        </div>
    </div>
    <hr>
</div>

<script type="text/ng-template" id="newTenantEmailTemplate">
    <h4>Dear {{tenantName}},</h4>
    <p>Thank You for chosing Posist as your next generation POS platform!</p>
    <p>To start using Posist and unlock all the power under the hood, please activate your email by clicking on the link below.</p>
    <h4>Activation Link:</h4>
    <p><a href="{{activationLink}}">{{activationLink}}</a></p>
    <p>Thank you,</p>
    <p>Posist Team</p>
</script>
