<div class="page-header">
  <h3>Average Billing</h3>
</div>

<!--<pre>
  {{report.filters | json}}
</pre>-->

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>From</label>
            <input type="text" class="form-control" placeholder="From Date" ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd" ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>To</label>
            <input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')" datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Period</label>
            <select class="form-control" ng-model="report.filters.byTab">
              <option value="">Select Tab Type</option>
              <option value="table">Table</option>
              <option value="takeout">Take Out</option>
              <option value="delivery">Delivery</option>
            </select>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" ng-click="getReportAverageBill()">Generate Report</a>

    </div>
  </div>
</div>
<!-- Filter View -->

<!-- <pre style="height: 100px; overflow: auto;">
  {{rows['daily'] | json}}
</pre>
<pre style="height: 100px; overflow: auto;">
  {{report.filters | json}}
</pre> -->

<!-- Report View -->
<div class="row" ng-if="rows['daily'].length > 0 && report.isGenerated">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <!-- <a target="_blank" class="btn btn-warning pull-right" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a> -->
      </div>
    </div>

    <tabset>

      <tab heading="Daily">

        <div class="hc-line" chartdata="chartdata['daily']" title="Average Amount (Daily)" options="{title: 'Avg Amount (Daily)'}"></div>

        <div style="overflow-x: auto;">
          <table class="table table-condensed table-bordered table-striped">
            <thead>
            <tr class="warning">
              <th colspan="3">Average Bill Amount & Time (Daily)</th>
            </tr>
            <tr>
              <th>Date</th>
              <th>Amount</th>
              <th ng-if="report.filters.byTab === 'delivery'">Preparation Time</th>
              <th>
                <span ng-if="report.filters.byTab != 'delivery'">Time</span>
                <span ng-if="report.filters.byTab === 'delivery'">Delivered Time</span>
              </th>
            </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in rows['daily']">
                <td>{{row.date}}</td>
                <td>{{row.avg_amount | number: 2}}</td>
                <td ng-if="report.filters.byTab === 'delivery'">{{row.avg_prepTime}}</td>
                <td>{{row.avg_time}}</td>
              </tr>
            </tbody>
            <!-- <tfoot>
              <tr>
                <td>Total</td>
                <td>{{rows['daily'] | sumByKey:'avg_amount' | number: 2}}</td>
                <td>&nbsp</td>
              </tr>
            </tfoot> -->
          </table>
        </div>
      </tab>

      <tab heading="Weekly">
        <table class="table table-condensed table-bordered table-striped">
          <thead>
          <tr class="warning">
            <th colspan="3">Average Bill Amount & Time (Weekly)</th>
          </tr>
          <tr>
            <th>Week Range</th>
            <th>Amount</th>
            <th ng-if="report.filters.byTab === 'delivery'">Preparation Time</th>
            <th>
              <span ng-if="report.filters.byTab != 'delivery'">Time</span>
              <span ng-if="report.filters.byTab === 'delivery'">Delivered Time</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in rows['weekly']">
            <td>{{row.from | date: 'dd-MMM-yy'}} - {{row.to | date: 'dd-MMM-yy'}}</td>
            <td>{{row.amount | number: 2}}</td>
            <td ng-if="report.filters.byTab === 'delivery'">{{row.prepTime}}</td>
            <td>{{row.time}}</td>
          </tr>
          </tbody>
          <!-- <tfoot>
          <tr>
            <td>Total</td>
            <td>{{rows['weekly'] | sumByKey:'amount' | number: 2}}</td>
            <td>&nbsp</td>
          </tr>
          </tfoot> -->
        </table>
      </tab>

      <tab heading="Monthly">
        <table class="table table-condensed table-bordered table-striped">
          <thead>
          <tr class="warning">
            <th colspan="3">Average Bill Amount & Time (Monthly)</th>
          </tr>
          <tr>
            <th>Month Range</th>
            <th>Amount</th>
            <th ng-if="report.filters.byTab === 'delivery'">Preparation Time</th>
            <th>
              <span ng-if="report.filters.byTab != 'delivery'">Time</span>
              <span ng-if="report.filters.byTab === 'delivery'">Delivered Time</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in rows['monthly']">
            <td>{{row.from | date: 'dd-MMM-yy'}} - {{row.to | date: 'dd-MMM-yy'}}</td>
            <td>{{row.amount | number: 2}}</td>
            <td ng-if="report.filters.byTab === 'delivery'">{{row.prepTime}}</td>
            <td>{{row.time}}</td>
          </tr>
          </tbody>
          <!-- <tfoot>
          <tr>
            <td>Total</td>
            <td>{{rows['monthly'] | sumByKey:'amount' | number: 2}}</td>
            <td>&nbsp</td>
          </tr>
          </tfoot> -->
        </table>
      </tab>

      <tab heading="Quarterly">
        <table class="table table-condensed table-bordered table-striped">
          <thead>
          <tr class="warning">
            <th colspan="3">Average Bill Amount & Time (Quarterly)</th>
          </tr>
          <tr>
            <th>Quarter Range</th>
            <th>Amount</th>
            <th ng-if="report.filters.byTab === 'delivery'">Preparation Time</th>
            <th>
              <span ng-if="report.filters.byTab != 'delivery'">Time</span>
              <span ng-if="report.filters.byTab === 'delivery'">Delivered Time</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in rows['quarterly']">
            <td>{{row.from | date: 'dd-MMM-yy'}} - {{row.to | date: 'dd-MMM-yy'}}</td>
            <td>{{row.amount | number: 2}}</td>
            <td ng-if="report.filters.byTab === 'delivery'">{{row.prepTime}}</td>
            <td>{{row.time}}</td>
          </tr>
          </tbody>
          <!-- <tfoot>
          <tr>
            <td>Total</td>
            <td>{{rows['quarterly'] | sumByKey:'amount' | number: 2}}</td>
            <td>&nbsp</td>
          </tr>
          </tfoot> -->
        </table>
      </tab>

      <tab heading="Half Yearly">
        <table class="table table-condensed table-bordered table-striped">
          <thead>
          <tr class="warning">
            <th colspan="3">Average Bill Amount & Time (Half Yearly)</th>
          </tr>
          <tr>
            <th>Half Yearly Range</th>
            <th>Amount</th>
            <th ng-if="report.filters.byTab === 'delivery'">Preparation Time</th>
            <th>
              <span ng-if="report.filters.byTab != 'delivery'">Time</span>
              <span ng-if="report.filters.byTab === 'delivery'">Delivered Time</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in rows['half_yearly']">
            <td>{{row.from | date: 'dd-MMM-yy'}} - {{row.to | date: 'dd-MMM-yy'}}</td>
            <td>{{row.amount | number: 2}}</td>
            <td ng-if="report.filters.byTab === 'delivery'">{{row.prepTime}}</td>
            <td>{{row.time}}</td>
          </tr>
          </tbody>
          <!-- <tfoot>
          <tr>
            <td>Total</td>
            <td>{{rows['half_yearly'] | sumByKey:'amount' | number: 2}}</td>
            <td>&nbsp</td>
          </tr>
          </tfoot> -->
        </table>
      </tab>

      <tab heading="Yearly">
        <table class="table table-condensed table-bordered table-striped">
          <thead>
          <tr class="warning">
            <th colspan="3">Average Bill Amount & Time (Yearly)</th>
          </tr>
          <tr>
            <th>Year Range</th>
            <th>Amount</th>
            <th ng-if="report.filters.byTab === 'delivery'">Preparation Time</th>
            <th>
              <span ng-if="report.filters.byTab != 'delivery'">Time</span>
              <span ng-if="report.filters.byTab === 'delivery'">Delivered Time</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in rows['yearly']">
            <td>{{row.from | date: 'dd-MMM-yy'}} - {{row.to | date: 'dd-MMM-yy'}}</td>
            <td>{{row.amount | number: 2}}</td>
            <td ng-if="report.filters.byTab === 'delivery'">{{row.prepTime}}</td>
            <td>{{row.time}}</td>
          </tr>
          </tbody>
          <!-- <tfoot>
          <tr>
            <td>Total</td>
            <td>{{rows['yearly'] | sumByKey:'amount' | number: 2}}</td>
            <td>&nbsp</td>
          </tr>
          </tfoot> -->
        </table>
      </tab>

    </tabset>
  </div>
</div>
<!-- Report View -->

