<div class="page-header" ng-init="fetchSessions()">
  <h3>Bill-Wise Sales Report</h3>
</div>

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id"
                    ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>From Date</label>
            <input type="text" class="form-control" placeholder="Date" ng-focus="openDatePicker($event, 'fromDate')"
                   datepicker-popup="yyyy-MM-dd" ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>To Date</label>
            <input type="text" class="form-control" placeholder="Date" ng-focus="openDatePicker($event, 'toDate')"
                   datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true"/>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" ng-click="getBillwiseSalesReport()">Generate Report</a>
    </div>
    <div style="float: right; margin-top: 5px; margin-right: 20px;">
      <button class="btn btn-primary" ng-click="exportToCsv()" style="float:left">Export</button>
    </div>
  </div>
</div>
<br/>
<div class="table table-responsive" style="overflow-x: auto;">
  <div id="iteReportECons">

  </div>
</div>