<div class="page-header">
  <h3>Call Details Report</h3>
</div>

<!-- Filter View -->
<div>
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </div>
        </div>
        <!--<div class="col-md-3">
          <div class="form-group">
            <label>Super Category</label>
            <select class="form-control" ng-change="onSuperCategoryChange()"  ng-model="report.filters.superCategory_id" ng-options="scat.superCategoryName as scat.superCategoryName for scat in _superCategories">
              <option value="">Select Super Category</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Category</label>
            <select class="form-control" ng-model="report.filters.category_id" ng-options="cat.categoryName as cat.categoryName for cat in _categories">
              <option value="">Select Category</option>
            </select>
          </div>
        </div>-->
      </div>
      <!--<div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="radio-inline">
              <input type="radio" ng-model="report.filters.byCutoffTime" value="true"> By Reset Time
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="report.filters.byCutoffTime" value="false"> By Custom Time Range
            </label>
          </div>
        </div>
      </div>-->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>From</label>
            <input type="text" class="form-control" placeholder="From Date" ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd" ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>To</label>
            <input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')" datepicker-popup="yyyy-MM-dd" min-date="report.filters.fromDate" ng-model="report.filters.toDate" is-open="toDate" ng-required="true" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        <div class="form-group">
          <label>Filters</label>
          <div
            multi-select
            input-model="report.callFilters"
             output-model="report.selectedCallFilters"
            orientation="false"
            item-label="name"
            button-label="name"
            tick-property="ticked"
            group-property="msGroup"
            default-label="Select Filters"
          >
          </div>
          </div>
          </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Search By Number</label>
         <input type="text" class="form-control" ng-model="searchKey"/>
            </div>
          </div>
        </div>
        </div>
      </div>
      &nbsp;&nbsp;
      <a class="btn btn-primary" ng-click="getCallDetailsReport('order')">Generate Report</a>
    </div>
  </div>
<a  ng-if="report.calls.length" style="position: relative; float: right;" target="_blank" class="btn btn-warning pull-right"  ng-click="exportToExcelDynamic('CallDetailsDiv')"><i class="fa fa-file-excel-o"></i> Download Excel</a>
</div>
<br/>
<br/>
<!-- Filter View -->

<!-- Report View -->
<div ng-if="report.calls.length>0" id="CallDetailsDiv">


  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Number</th>
      <!--<th>Customer Name</th>-->
      <th class="text-center">Customer Number</th>
      <th class="text-center">Time</th>
      <!--<th>End Time</th>-->
      <th class="text-center">Call Duration</th>
      <th class="text-center">Call Type</th>
      <th class="text-center">Action</th>
      <th class="text-center">Recording</th>
    </tr>
    </thead>
    <tbody>
    <tr  ng-repeat="data in report.calls">
      <td ng-if="data.dateGroup" colspan="8" style="background-color:lightblue"><strong><i>{{data.dateGroup|date:'dd-MMM-yy '}}</i></strong></td>
        <td ng-if="data.numberGroup" colspan="8" style="background-color:greenyellow"><strong><i>{{"Bill Number: "+data.billNumber}}&nbsp;&nbsp;&nbsp;&nbsp;{{"Time: "+(data.time|date:'hh:mm:ss a')}}</i></strong></td>
      <td align="center" ng-if="data._source" >{{data._source.name}}</td>
      <td align="center" ng-if="data._source">{{data._source.number}}</td>
      <!--<td>{{data._source._cm}}</td>-->
      <td align="center" ng-if="data._source">{{data._source.caller_number_raw}}</td>
      <td align="center" ng-if="data._source">{{data._source.start_time|date: 'hh:mm:ss a'}}</td>
      <!--<td>{{data._source.end_time|date: 'dd/MM/yy hh:mm:ss a'}}</td>-->
      <td align="center" ng-if="data._source">{{data._source.duration}}</td>
      <td align="center" ng-if="data._source">{{data._source.event}}</td>
      <td  align="center" ng-if="data._source">{{data._source.status}}</td>
      <td align="center" ng-if="data._source.fileurl" ><a href="" ng-click="getRecording($index)">Listen</a></td>
      <td align="center" ng-if="!data._source.fileurl&& data._source">Not Available</td>
    </tr>
    </tbody>
  </table>
</div>

  <pagination class="pagination-sm" total-items="totalCalls" ng-model="callPageNo" ng-change="loadMoreData(callPageNo)" items-per-page="callsPerPage"></pagination>
<!-- Report View -->
  </div>
