<div class="page-header" ng-init="fetchSessions()">
  <h3>Cashier Wise Report</h3>
</div>

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id"
                    ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>From Date</label>
            <input type="text" class="form-control" placeholder="Date" ng-focus="openDatePicker($event, 'fromDate')"
                   datepicker-popup="yyyy-MM-dd" ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>To Date</label>
            <input type="text" class="form-control" placeholder="Date" ng-focus="openDatePicker($event, 'toDate')"
                   datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true"/>
          </div>
        </div>
        <div class="col-md-3 form-group" ng-if="currentUser.length>0" >
          <label>Users</label>
          <select class="form-control" ng-options="currentUser for currentUser in currentUser"  ng-model="report.filters.User" ng-change="onUserChange()">
            <option value="">All Users</option>
          </select>
         
        </div>

           <div class="col-md-12">
          <div class="form-group">
            <div class="radio-inline">
              <label><input type="radio" name="repTypeForDaily" ng-model="repTypeForDaily" required value="Detail">Detail</label>
            </div>
            <div class="radio-inline">
              <label><input type="radio" name="repTypeForDaily" ng-model="repTypeForDaily" required value="Consolidated">Consolidated</label>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="row">-->
      <!--<div class="col-md-6">-->
      <!--<div class="form-group">-->
      <!--<label>From</label>-->
      <!--<input type="text" class="form-control" placeholder="From Date"-->
      <!--ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd"-->
      <!--ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true"/>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-6">-->
      <!--<div class="form-group">-->
      <!--<label>To</label>-->
      <!--<input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')"-->
      <!--datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true"/>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <a class="btn btn-primary" ng-click="getCashierWiseCardReport()">Generate Report</a>
    </div>
    <div style="float: right; margin-top: 5px; margin-right: 20px;"> <button class="btn btn-primary" ng-click="exportToCsv()" style="float:left">Export</button></div>
  


  </div>
</div>
<br/>
<div class="row" ng-show="!loading">
  <h3><i class="fa fa-spinner fa-spin"></i> Processing Report Data, please wait...</h3>
</div>

<div style="clear: both; width: 100%;" id="iteReportECons" class="table-responsive">
 
</div>