<div class="page-header">
  <h3>Item Category Breakdown Report</h3>
</div>
<!--<pre>
  {{report.filters | json}}
</pre>-->

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id"
                    ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>From</label>
            <input type="text" class="form-control" placeholder="From Date"
                   ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd"
                   ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true" ng-change="onDateRangeChange()"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>To</label>
            <input ng-init="onDateRangeChange()" type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')"
                   datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true" ng-change="onDateRangeChange()"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Super Category</label>
            <select class="form-control" ng-change="onSuperCategoryChange()" ng-model="report.filters.superCategory_id"
                    ng-options="scat.superCategory as scat.superCategory for scat in superCategoriesFromBills">
              <option value="">All Super Category</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Category</label>
            <select class="form-control" ng-model="report.filters.category_id"
                    ng-options="cat.categoryName as cat.categoryName for cat in _categoriesFromBills">
              <option value="">All Category</option>
            </select>
          </div>
        </div>
      </div>
      <div ng-if="report.filters.byCutoffTime === 'false'" class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Start Time</label>
            <timepicker ng-model="report.filters.startTime" hour-step="1" minute-step="1"
                        show-meridian="true"></timepicker>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>End Time</label>
            <timepicker ng-model="report.filters.endTime" hour-step="1" minute-step="1"
                        show-meridian="true"></timepicker>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" ng-click="getReportItemCategory()">Generate Report</a>

    </div>
  </div>
</div>
<!-- Filter View -->

<!-- Graph -->
<div class="row" ng-if="bills.length > 0 && report.isGenerated==true" >
  <div class="col-md-12">
    <div class="hc-pie" items="graphData" title="Item Category Breakdown" options="{title: 'Total Sales by Tab'}"></div>
  </div>
</div>
<!-- Graph -->

<!-- Switch Report: Daywise/Consolidated -->
<!-- Switch Report: Daywise/Consolidated -->

<!-- Report View: Daywise -->
<div class="row" ng-if="bills.length > 0 && report.filters.type === 'daywise' && report.isGenerated==true">
  <a target="_blank" class="btn btn-warning pull-right" ng-click="exportToCsvForCategory()"><i
    class="fa fa-file-excel-o"></i> Download Excel</a>

  <div class="col-md-12">
    <div class="table-responsive" style="overflow-x: auto;" id="p">
      <table>
        <tr width="100%">
          <td width="100%">
            <table width="100%" class="table table-condensed table-responsive table-bordered table-striped" border="1"
                   ng-repeat="(billDay, dayItems) in bills | groupBy:'billDay'">
              <thead>
              <tr width="100%">
                <th colspan="5">
                  <h3><i class="fa fa-calendar-o"></i> {{billDay | date:'fullDate'}}

                  </h3>
                </th>
              </tr>
              </thead>
              <tbody ng-repeat="(superCategory, sCategoryItems) in dayItems | groupBy:'superCategory'">
              <tr width="100%">
                <td style="padding: 0px;">
                  <table width="100%" class="table table-condensed">
                    <thead>
                    <tr width="100%" style="background-color: #7CAEDA;">
                      <th colspan="7"><strong>Super Category Name: {{superCategory}}</strong></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr width="100%" ng-repeat="(category, categoryItems) in sCategoryItems | groupBy:'category'">
                      <td style="padding: 0;">
                        <table width="100%" class="table table-condensed" style="margin-bottom: 0;">
                          <thead>
                          <tr width="100%" style="background-color: #D0C2DF;">
                            <th colspan="{{10 + report.allTaxes.length}}"><i class="fa fa-list-ul"></i> <strong>Category
                              Name: {{category}}</strong></th>
                          </tr>
                          <tr class="info" width="100%">
                            <th>Item Name</th>
                            <th class="text-center">Qty</th>
                            <th class="text-center">Comp.</th>
                            <th class="text-center">Non Comp.</th>
                            <th class="text-center" ng-if="!report.filters.discountValue">Total Amount</th>
                            <th class="text-center" ng-if="!report.filters.discountValue">Discount</th>
                             <th class="text-center"  ng-if="!report.filters.discountValue">Net Amount</th>
                              <th class="text-center"  ng-if="report.filters.discountValue">NetAmount</th>
                            <th class="text-center" ng-repeat="t in report.allTaxes">{{t.name}}</th>
                            <th class="text-center">Total Tax</th>
                            <th class="text-center">Gross Amount</th>
                            <th class="text-center">Round Off</th>
                            <th class="text-center">G. Total</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr ng-repeat="item in categoryItems" width="100%">
                            <td>{{item.name}}</td>
                            <td class="text-center" width="10%">{{item.totalQty}}</td>
                            <td class="text-center" width="10%">{{item.complementaryItemQty}}</td>
                            <td class="text-center" width="10%">{{item.nonComplementaryItemQty}}</td>
                            <td class="text-center" ng-if="!report.filters.discountValue" width="10%">{{item.totalAmountNoDiscount | number: 2}}</td>
                            <td class="text-center" ng-if="report.filters.discountValue" width="10%">{{(item.totalAmountNoDiscount - item.totalDiscount) | number: 2}}</td>
                            
                            <td class="text-center" ng-if="!report.filters.discountValue" width="10%">{{item.totalDiscount | number: 2}}</td>
                             <td class="text-center" ng-if="!report.filters.discountValue" width="10%">{{item.totalAmount | number: 2}}</td>
                            <td class="text-center"  width="10%" ng-repeat="t in report.allTaxes">{{getTax(t.id, item) |
                              number: 2}}
                            </td>
                            <td class="text-center" width="10%">{{item.totalTax | number: 2}}</td>
                            <td class="text-center" width="10%">{{item.net | number: 2}}</td>
                            <td class="text-center" width="10%">{{item.roundOff | number: 2}}</td>
                            <td class="text-center" width="10%">{{item.afterRoundOff | number: 2}}</td>
                          </tr>
                          <tr style="background-color: #D0C2DF; border-bottom: 2px solid #0f0f0f;" width="100%">
                            <td><strong>Category Total</strong></td>
                            <td class="text-center" width="10%"><strong>{{categoryItems | sumByKey:'totalQty'}}</strong>
                            </td>
                            <td class="text-center" width="10%"><strong>{{categoryItems |
                              sumByKey:'complementaryItemQty'}}</strong></td>
                            <td class="text-center" width="10%"><strong>{{categoryItems |
                              sumByKey:'nonComplementaryItemQty'}}</strong></td>
                            <td class="text-center" ng-if="report.filters.discountValue" width="10%"><strong>{{categoryItems | sumByKey:'discountAmount' |
                              number: 2}}</strong></td>
                              <td class="text-center" ng-if="!report.filters.discountValue" width="10%"><strong>{{categoryItems | sumByKey:'totalAmountNoDiscount' |
                              number: 2}}</strong></td>
                            <td class="text-center" ng-if="!report.filters.discountValue" width="10%"><strong>{{categoryItems | sumByKey:'totalDiscount' |
                              number: 2}}</strong></td>
                              <td class="text-center" ng-if="!report.filters.discountValue" width="10%"><strong>{{categoryItems | sumByKey:'totalAmount' |
                              number: 2}}</strong></td>
                            <td class="text-center" ng-repeat="t in report.allTaxes"><strong>{{getTotalTaxRows(t.id,
                              categoryItems) | number: 2}}</strong></td>
                            <td class="text-center"><strong>{{categoryItems | sumByKey:'totalTax' | number: 2}}</strong>
                            </td>
                            <td class="text-center"><strong>{{categoryItems | sumByKey:'net' | number: 2}}</strong></td>
                            <td class="text-center"><strong>{{categoryItems | sumByKey:'roundOff' | number: 2}}</strong>
                            </td>
                            <td class="text-center"><strong>{{categoryItems | sumByKey:'afterRoundOff' | number:
                              2}}</strong></td>
                          </tr>
                          </tbody>

                          <tr ng-if="$last" style="background-color: #7CAEDA;" width="100%">
                            <td><strong>Super Category Total</strong></td>
                            <td class="text-center" width="10%"><strong>{{sCategoryItems |
                              sumByKey:'totalQty'}}</strong></td>
                            <td class="text-center" width="10%"><strong>{{sCategoryItems |
                              sumByKey:'complementaryItemQty'}}</strong></td>
                            <td class="text-center" width="10%"><strong>{{sCategoryItems |
                              sumByKey:'nonComplementaryItemQty'}}</strong></td>
                            <td class="text-center" ng-if="report.filters.discountValue" width="10%"><strong>{{sCategoryItems | sumByKey:'discountAmount' |
                              number: 2}}</strong></td>
                              <td class="text-center" ng-if="!report.filters.discountValue" width="10%"><strong>{{sCategoryItems | sumByKey:'totalAmountNoDiscount' |
                              number: 2}}</strong></td>
                            <td class="text-center" ng-if="!report.filters.discountValue" width="10%"><strong>{{sCategoryItems | sumByKey:'totalDiscount' |
                              number: 2}}</strong></td>
                               <td class="text-center" ng-if="!report.filters.discountValue" width="10%"><strong>{{sCategoryItems | sumByKey:'totalAmount' |
                              number: 2}}</strong></td>
                            <td class="text-center" width="10%" ng-repeat="t in report.allTaxes"><strong>{{getTotalTaxRows(t.id,
                              sCategoryItems) | number: 2}}</strong></td>
                            <td class="text-center" width="10%"><strong>{{sCategoryItems | sumByKey:'totalTax' | number:
                              2}}</strong></td>
                            <td class="text-center" width="10%"><strong>{{sCategoryItems | sumByKey:'net' | number:
                              2}}</strong></td>
                            <td class="text-center" width="10%"><strong>{{sCategoryItems | sumByKey:'roundOff' | number:
                              2}}</strong></td>
                            <td class="text-center" width="10%"><strong>{{sCategoryItems | sumByKey:'afterRoundOff' |
                              number: 2}}</strong></td>
                          </tr>

                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr width="100%">
          <td width="100%">
            <table class="table" style="margin-top: -44px;" width="100%">
              <tr style="background-color: #E4E4E4; border-top: 2px solid #919191; border-bottom: 4px solid #919191;" width="100%">
                <th>Grand Total</th>
                <th class="text-center" width="12%"><strong>{{bills | sumByKey :'totalQty'}}</strong></th>
                <th class="text-center" width="10%"><strong>{{bills | sumByKey :'complementaryItemQty'}}</strong></th>
                <th class="text-center" width="10%"><strong>{{bills | sumByKey :'nonComplementaryItemQty'}}</strong></th>
                <th class="text-center" ng-if="report.filters.discountValue" width="10%"><strong>{{bills | sumByKey :'discountAmount' | number: 2}}</strong></th>
                <th class="text-center" ng-if="!report.filters.discountValue"   width="10%"><strong>{{bills | sumByKey :'totalAmountNoDiscount' | number: 2}}</strong></th>
                <th class="text-center" ng-if="!report.filters.discountValue" width="10%"><strong>{{bills | sumByKey :'totalDiscount' | number: 2}}</strong></th>
                 <th class="text-center" ng-if="!report.filters.discountValue" width="10%"><strong>{{bills | sumByKey :'totalAmount' | number: 2}}</strong></th>
                </th>
                <th class="text-center" width="10%" ng-repeat="t in report.allTaxes"><strong>{{getTotalTaxRows(t.id,
                  bills) | number: 2}}</strong></th>
                <th class="text-center" width="10%"><strong>{{bills | sumByKey :'totalTax' | number: 2}}</strong></th>
                <th class="text-center" width="10%"><strong>{{bills | sumByKey :'net' | number: 2}}</strong></th>
                <th class="text-center" width="10%"><strong>{{bills | sumByKey :'roundOff' | number: 2}}</strong></th>
                <th class="text-center" width="10%"><strong>{{bills | sumByKey :'afterRoundOff' | number: 2}}</strong>
                </th>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script>
  function setColumnWidthPercent(elem, numTaxes){
    var width = (100/(numTaxes + 9));
    console.log(width);
    elem.style.width = width + "%";
  }
</script>
<!-- Report View: Consolidated -->
