<div class="page-header">
  <h3>Compare Waiters</h3>
</div>

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id"
                    ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>From</label>
            <input type="text" class="form-control" placeholder="From Date"
                   ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd"
                   ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>To</label>
            <input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')"
                   datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true"/>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" ng-click="getReportCompareWaiters()">Generate Report</a>
    </div>
  </div>
  <div style="float: right; margin-top: 5px;"> <input type="button" class="btn btn-primary btn-xs" value="Export" ng-click="exportCompareWaiterReportToExcel()" style="float:left"></div>


</div>

<div class="row" ng-show="!loading">
  <h3><i class="fa fa-spinner fa-spin"></i> Processing Report Data, please wait...</h3>
</div>

<div style="clear: both; overflow-x: auto; width: 100%;" id="chart" ng-show="showCampareReports"></div>

<div style="clear: both;" id="iteReportECons">
    <div class="table-responsive" style="overflow-x: auto;" ng-show="showCampareReports">
      <table class="table table-bordered" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
        <thead>
        <tr>
          <th><label><input type="checkbox" ng-model="checked" ng-change="onAllWaiterCheckChange()" value="true"/></label></th>
          <th>Waiter</th>
          <th>Total Bills</th>
          <th>% Bills Served</th>
          <th>Tables Void</th>
          <th>Total Kots</th>
          <th>Kots Void</th>
          <th>Items Cancelled</th>
          <th>% Items Cancelled</th>
          <th>%Bills Discount Given</th>
          <th>Covers</th>
          <th>APC</th>
          <th>APT</th>
          <th>Total Revenue</th>
          <th>Turn Around Time</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="report in waiterReports">
          <td><label><input type="checkbox" ng-model="report.checked" ng-change="onWaiterCheckChange(report, $index)" value="true"/></label></td>
          <td>{{report.waiterName}}</td>
          <td><span ng-show="report.checked">{{utils.roundNumber(report.numBills)}}</span></td>
          <td><span ng-show="report.checked">{{utils.roundNumber(report.numBillsServedPercent, 2)}}</span></td>
          <td><span ng-show="report.checked">{{utils.roundNumber(report.tablesVoid)}}</span></td>
          <td><span ng-show="report.checked">{{utils.roundNumber(report.numKots)}}</span></td>
          <td><span ng-show="report.checked">{{utils.roundNumber(report.kotsVoid)}}</span></td>
          <td><span ng-show="report.checked">{{utils.roundNumber(report.itemsCancelled)}}</span></td>
          <td><span ng-show="report.checked">{{utils.roundNumber(report.percentItemsCancelled, 2)}}</span></td>
          <td><span ng-show="report.checked">{{utils.roundNumber(report.discount.discountedBillsPercent, 2)}}</span></td>
          <td><span ng-show="report.checked">{{utils.roundNumber(report.numPeople)}}</span></td>
          <td><span ng-show="report.checked">{{utils.roundNumber(report.avgPerCover, 2)}}</span></td>
          <td><span ng-show="report.checked">{{utils.roundNumber(report.avgPerTable, 2)}}</span></td>
          <td><span ng-show="report.checked">{{utils.roundNumber(report.totalRevenue)}}</span></td>
          <td><span ng-show="report.checked">{{report.avgTableTurAroundTimeHrs}}</span></td>
        </tr>
        </tbody>
        <tr ng-repeat="report in excludedReports">
          <td><div class="checkbox"><label><input type="checkbox" ng-model="report.checked" ng-change="onWaiterCheckChange(report, $index)" value="true"/></label></div></td>
          <td>{{report.waiterName}}</td>
          <td><span ng-hide="report.checked">-</span></td>
          <td><span ng-hide="report.checked">-</span></td>
          <td><span ng-hide="report.checked">-</span></td>
          <td><span ng-hide="report.checked">-</span></td>
          <td><span ng-hide="report.checked">-</span></td>
          <td><span ng-hide="report.checked">-</span></td>
          <td><span ng-hide="report.checked">-</span></td>
          <td><span ng-hide="report.checked">-</span></td>
          <td><span ng-hide="report.checked">-</span></td>
          <td><span ng-hide="report.checked">-</span></td>
          <td><span ng-hide="report.checked">-</span></td>
          <td><span ng-hide="report.checked">-</span></td>
          <td><span ng-hide="report.checked">-</span></td>
        </tr>
        <tr>
          <th style="background-color: palegoldenrod"></th>
          <th style="background-color: palegoldenrod">Restaurant Average</th>
          <th style="background-color: palegoldenrod">{{utils.roundNumber(total.numBills)}}</th>
          <th style="background-color: palegoldenrod">{{utils.roundNumber(total.numBillsServedPercent, 2)}}</th>
          <th style="background-color: palegoldenrod">{{utils.roundNumber(total.tablesVoid)}}</th>
          <th style="background-color: palegoldenrod">{{utils.roundNumber(total.numKots)}}</th>
          <th style="background-color: palegoldenrod">{{utils.roundNumber(total.kotsVoid)}}</th>
          <th style="background-color: palegoldenrod">{{utils.roundNumber(total.itemsCancelled)}}</th>
          <th style="background-color: palegoldenrod">{{utils.roundNumber(total.percentBillsItemsCancelled, 2)}}</th>
          <th style="background-color: palegoldenrod">{{utils.roundNumber(total.discount.discountedBillsPercent, 2)}}</th>
          <th style="background-color: palegoldenrod">{{utils.roundNumber(total.numPeople)}}</th>
          <th style="background-color: palegoldenrod">{{utils.roundNumber(total.avgPerCover, 2)}}</th>
          <th style="background-color: palegoldenrod">{{utils.roundNumber(total.avgPerTable, 2)}}</th>
          <th style="background-color: palegoldenrod">{{utils.roundNumber(total.totalRevenue)}}</th>
          <th style="background-color: palegoldenrod">{{total.avgTableTurAroundTimeHrs}}</th>
        </tr>
      </table>
    </div>
  </div>
</div>
