<div class="page-header">
  <h3>ItemWise Consolidate</h3>
</div>

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>From</label>
            <input type="text" class="form-control" placeholder="From Date"
                   ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd"
                   ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>To</label>
            <input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')"
                   datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true"/>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" ng-click="getConsilidateReportItemCategory()">Generate Report</a>
      <br/>
      <hr/>
       <div class="row" ng-if="superCategoriesForConsolidatedItemwise.length > 0">
        <div class="col-md-12">
          <h4>Category Filters</h4>
        </div>
        <div class="col-md-3 form-group">
          <label>Supercategory</label>
          <select class="form-control" ng-options="supercategory.superCategory for supercategory in superCategoriesForConsolidatedItemwise" ng-model="report.filters.selectedSupercategory" ng-change="onSuperCategoryChangeForConsolidatedItemWise()">
            <option value="">All Supercategories</option>
          </select>
        </div>
        <div class="col-md-3 form-group">
          <label>Category</label>
          <select class="form-control" ng-options="category.categoryName for category in availbleCategoriesForConsolidatedItewise" ng-model="report.filters.selectedCategory" ng-change="onCategoryChangeForConsolidatedItemWise()">
            <option value="">All Categories</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-show="!loading">
  <h3><i class="fa fa-spinner fa-spin"></i> Processing Report Data, please wait...</h3>
</div>

<div style="float: right; margin-top: 5px;"><input type="button" class="btn btn-primary btn-xs" value="Export" ng-click="exportToCsv()" style="float:left"></div>

<div style="clear: both;">
    <div id="iteReportECons" ng-show="showBillCustomerReport" style="overflow-x: auto;"></div>
</div>
