<div class="page-header">
  <h3>Coupon Report</h3>
</div>

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>From</label>
            <input type="text" class="form-control" placeholder="From Date"
                   ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd"
                   ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>To</label>
            <input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')"
                   datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true"/>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <div class="radio-inline">
              <label><input type="radio" name="repType" ng-model="coupon.repType" required value="Detail">Detail</label>
            </div>
            <div class="radio-inline">
              <label><input type="radio" name="repType" ng-model="coupon.repType" required value="Consolidated">Consolidated</label>
            </div>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" ng-click="getCouponReports()">Generate Report</a>
    </div>
  </div>
</div>

<div class="row" ng-show="!loading">
  <h3><i class="fa fa-spinner fa-spin"></i> Processing Report Data, please wait...</h3>
</div>

<div style="float: right; margin-top: 5px;"> <input type="button" class="btn btn-primary btn-xs" value="Export" ng-click="exportToCsv()" style="float:left"></div>

<div style="clear: both;">
  <div class="table-responsive" style="clear: both;">
    <div id="iteReportECons"></div>
  </div>
</div>
