<h3>Download Details </h3>


<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">

<!-- Filter View -->
      <div class="modal-body">
        <table class="table">
          <tr>
            <th>Sr No</th>
            <th>Req Time</th>
            <th> From Date</th>
            <th> To Date </th>
            <th> Report Name </th>
            <th>download</th>
          </tr>
          <tr ng-repeat="download in downloadDetails track by $index">
            <td>{{$index+1}}</td>
            <td>{{download.date|date: 'dd/MM/yy H:mm:ss a'}}</td>
            <td>{{download.fromDate| date: 'dd/MM/yy'}}</td>
            <td>{{download.toDate| date: 'dd/MM/yy'}}</td>
            <td>{{download.reportType}}</td>
            <td><a class="glyphicon glyphicon-download-alt"  target="_blank"  ng-href="/api/uploads/{{download.filename}}"></a></td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>

<!--<input type="button" class="btn btn-primary btn-xs" value="Export" ng-click="exportToExcelPaymentDetail()" style="float:left">-->


