<div class="page-header" ng-init="fetchSessions()">
  <h3>Enterprise Settlement Report</h3>
</div>

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Select Deployments</label>
            <div class="form-inline" style="margin-bottom: 15px;">
                <label class="checkbox checkbox-inline" ng-repeat="dep in Entdeployments">
                  <input type="checkbox" checklist-model="reportEnt.dep" checklist-value="dep._id">
                  {{dep.name}}
                </label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>From Date</label>
            <input type="text" class="form-control" placeholder="Date" ng-focus="openDatePicker($event, 'fromDate')"
                   datepicker-popup="yyyy-MM-dd" ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>To Date</label>
            <input type="text" class="form-control" placeholder="Date" ng-focus="openDatePicker($event, 'toDate')"
                   datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true"/>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" ng-click="getEnterpriseSettlementReport()">Generate Report</a>
    </div>
    <div style="float: right; margin-top: 5px; margin-right: 20px;">
      <button class="btn btn-primary" ng-click="exportToCsv()" style="float:left">Export</button>
    </div>
  </div>
</div>
<br/>
<div class="table table-responsive" style="overflow-x: auto;">
  <div id="iteReportECons">

  </div>
</div>