<div class="page-header">
  <h3>Food Costing Report</h3>
</div>

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id"
                    ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>From</label>
            <input type="text" class="form-control" placeholder="From Date"
                   ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd"
                   ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>To</label>
            <input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')"
                   datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true"/>
          </div>
        </div>
        <br/>

        <div class="col-md-12">
          <label class="radio-inline">
            <input type="radio" name="reportType" value="consolidated" ng-model="fCForm.reportType"
                   ng-change="checkConsolidatedOrCategoryWise()"/>Consolidated
          </label>
          <label class="radio-inline">
            <input type="radio" name="reportType" value="category" ng-model="fCForm.reportType"
                   ng-change="checkConsolidatedOrCategoryWise()"/>Supercategory/Category Wise
          </label>
        </div>
      </div>
      <br/>

      <div class="row" ng-show="fCForm.isCategoryWise">
        <div class="col-md-1">
          <label>Super Category</label>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <select class="form-control" ng-change="onSuperCategoryChange()" ng-model="report.filters.superCategory_id"
                    ng-options="scat.superCategoryName as scat.superCategoryName for scat in _superCategories">
              <option value="">Consolidated</option>
            </select>
          </div>
        </div>
        <div class="col-md-1">
          <label>Category</label>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <select class="form-control" ng-model="report.filters.category_id"
                    ng-options="cat.categoryName as cat.categoryName for cat in _categories">
              <option value="">Consolidated</option>
            </select>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" ng-click="getFoodCostingReport()">Generate Report</a>
    </div>
  </div>
</div>

<div class="row" ng-show="!loading">
  <h3><i class="fa fa-spinner fa-spin"></i> Processing Report Data, please wait...</h3>
</div>

<div style="float: right; margin-top: 5px;"><input type="button" class="btn btn-primary btn-xs" value="Export"
                                                   ng-click="exportToExcel()" style="float:left"></div>

<div style="clear: both;">
  <div class="table-responsive" style="overflow-x: auto;">
    <div id="consolidatedFoodCosting" ng-if="showConsolidatedFoodReport">
      <table class="table table-bordered">
        <tr>
          <th style="background-color: black; color: white; font-size: 17px;"><span><i
            class="glyphicon glyphicon-calendar"></i></span> Date
          </th>
          <th style="background-color: black; color: white; font-size: 17px;">Restaurant Sale</th>
          <th style="background-color: black; color: white; font-size: 17px;">Ideal Food Cost</th>
        </tr>
        <tr ng-repeat="(date, total) in consolidatedTotal">
          <td>{{date}}</td>
          <td>{{total.restaurantSale}}</td>
          <td>{{total.idealFoodCost}}</td>
        </tr>
        <tfoot>
        <tr>
          <th style="font-size: 17px;">Total</th>
          <th style="font-size: 17px;">{{getConsolidatedTotal().restaurantSale}}</th>
          <th style="font-size: 17px;">{{getConsolidatedTotal().idealFoodCost}}</th>
        </tr>
        </tfoot>
      </table>
    </div>

    <div id="supercategoryFoodCosting" ng-if="showSupercategoryFoodReport">

      <table class="table table-bordered" ng-repeat="(supercategory, categories) in superCategoryTotal"
             ng-if="report.filters.superCategory_id == null || supercategory == report.filters.superCategory_id">
        <tr>
          <th style="background-color: #00a267; font-size: 18px;" colspan="3" class="text-center">
            {{supercategory}}
          </th>
        </tr>
        <tbody ng-repeat="(category, dates) in categories"
               ng-if="report.filters.category_id == null || category == report.filters.category_id">
        <tr>
          <th colspan="3"><span><i class="glyphicon glyphicon-cutlery"></i></span> {{category}}</th>
        </tr>
        <tr>
          <th style="background-color: black; color: white; font-size: 15px;"><span><i
            class="glyphicon glyphicon-calendar"></i></span> Date
          </th>
          <th style="background-color: black; color: white; font-size: 15px;">Restaurant Sale</th>
          <th style="background-color: black; color: white; font-size: 15px;">Ideal Food Cost</th>
        </tr>
        <tr ng-repeat="(date, total) in dates">
          <td style="width: 33%;">{{total.date}}</td>
          <td style="width: 33%;">{{total.restaurantSale}}</td>
          <td style="width: 33%;">{{total.idealFoodCost}}</td>
        </tr>
        <tr>
          <th style="width: 33%;">Category Total</th>
          <th style="width: 33%;">{{getCategoryTotal(dates).restaurantSale}}</th>
          <th style="width: 33%;">{{getCategoryTotal(dates).idealFoodCost}}</th>
        </tr>
        </tbody>
        <tr>
          <th style="width: 33%;">Supercategory Total</th>
          <th style="width: 33%;">{{getSuperCategoryTotal(categories).restaurantSale}}</th>
          <th style="width: 33%;">{{getSuperCategoryTotal(categories).idealFoodCost}}</th>
        </tr>
      </table>
      <table class="table table-bordered">
        <tfoot>
        <tr>
          <th style="width: 33%;">Total</th>
          <th style="width: 33%;">{{getGrandTotal(superCategoryTotal).restaurantSale}}</th>
          <th style="width: 33%;">{{getGrandTotal(superCategoryTotal).idealFoodCost}}</th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
