<div class="page-header">
  <h3>Hourly Sales Report</h3>
</div>

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>From</label>
            <input type="text" class="form-control" placeholder="From Date"
                   ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd"
                   ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>To</label>
            <input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')"
                   datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true"/>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" ng-click="getHourlySalesReport()">Generate Report</a>
      <div class="row">
 <div class="col-md-6">
   <div class="form-group">
      <label>Tab Type</label>
        <select class="form-control"  ng-model="report.filters.tabType" ng-options="tab.tabName as tab.tabName for tab in _tabs">
        <option value="">Select Tab Type</option>
          </select>
         </div>
         </div>
        </div>
    </div>
  </div>
</div>

<div class="row" ng-show="!loading">
  <h3><i class="fa fa-spinner fa-spin"></i> Processing Report Data, please wait...</h3>
</div>

<div style="float: right; margin-top: 5px;"> <input type="button" class="btn btn-primary btn-xs" value="Export" ng-click="exportToCsv()" style="float:left"></div>

<div style="clear: both; overflow-x: auto;" class="table-responsive">
    <div id="iteReportECons" ng-show="showHourlySalesReport">



    </div>
</div>
