<div class="page-header">
  <h3>Bill Item Detail Report</h3>
</div>

<!-- <div class="row">
  <div class="col-md-12">
    <div class="well">
      <form class="form-inline">
        <div class="form-group">
          <label>From</label>

          <div class="input-group">
            <input type="text" class="form-control" placeholder="From Date"
                   ng-focus="openDatePicker($event, 'invoiceDetails_From')" datepicker-popup="yyyy-MM-dd"
                   ng-model="filter_invoiceDetails.fromDate" is-open="invoiceDetails_From" ng-required="true"/>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
        <div class="form-group">
          <label>To</label>

          <div class="input-group">
            <input type="text" class="form-control" placeholder="To Date"
                   ng-focus="openDatePicker($event, 'invoiceDetails_To')" datepicker-popup="yyyy-MM-dd"
                   ng-model="filter_invoiceDetails.toDate" is-open="invoiceDetails_To" ng-required="true"/>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="getReportInvoiceDetails('invoiceDetails', filter_invoiceDetails)">
          Generate Report
        </button>
      </form>
    </div>
  </div>
</div> -->

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id"
                    ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </div>
        </div>
        <!--<div class="col-md-3">
          <div class="form-group">
            <label>Super Category</label>
            <select class="form-control" ng-change="onSuperCategoryChange()"  ng-model="report.filters.superCategory_id" ng-options="scat.superCategoryName as scat.superCategoryName for scat in _superCategories">
              <option value="">Select Super Category</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Category</label>
            <select class="form-control" ng-model="report.filters.category_id" ng-options="cat.categoryName as cat.categoryName for cat in _categories">
              <option value="">Select Category</option>
            </select>
          </div>
        </div>-->
      </div>
      <!--<div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="radio-inline">
              <input type="radio" ng-model="report.filters.byCutoffTime" value="true"> By Reset Time
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="report.filters.byCutoffTime" value="false"> By Custom Time Range
            </label>
          </div>
        </div>
      </div>-->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>From</label>
            <input type="text" class="form-control" placeholder="From Date"
                   ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd"
                   ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>To</label>
            <input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')"
                   datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true"/>
          </div>
        </div>
      </div>
      <!-- <div ng-if="report.filters.byCutoffTime === 'false'" class="row">
         <div class="col-md-3">
           <div class="form-group">
             <label>Start Time</label>
             <timepicker ng-model="report.filters.startTime" hour-step="1" minute-step="15" show-meridian="false"></timepicker>
           </div>
         </div>
         <div class="col-md-3">
           <div class="form-group">
             <label>End Time</label>
             <timepicker ng-model="report.filters.endTime" hour-step="1" minute-step="15" show-meridian="false"></timepicker>
           </div>
         </div>
       </div>-->
      <label style="font-weight: 100;"><input type="checkbox" ng-model="report.filters.isComplimentary">&nbsp;Complimentary
      </label>
      <a class="btn btn-primary" ng-click="getReportInvoiceDetailsTemp()">Generate Report</a>

    </div>
  </div>
</div>
<!-- Filter View -->

<!-- <pre style="height:300px;">
  {{bills | json}}
</pre>
<pre style="height:300px;">
  {{globalTaxes | json}}
</pre> -->
<div ng-if="showReport" class="row">
  <div class="col-md-12">
    <div class="hc-pie" title="Invoice Details" items="graphData" options="{title: 'Total Sales by Tab'}"></div>
    <a  style="position: relative; float: right;" target="_blank" class="btn btn-warning pull-right"
        ng-click="exportToCsvForInvoice()"><i class="fa fa-file-excel-o"></i> Download Excel</a>
  </div>
</div>

<div class="row">
  <!-- <a ng-if="isExcelDownloadReady" style="position: relative; float: right;" target="_blank" class="btn btn-warning pull-right"
     ng-click="exportToExcelDynamic('invoiceDetailReportID')"><i class="fa fa-file-excel-o"></i> Download Excel</a> -->
  <div class="col-md-12">
    <div class="table-responsive" style="overflow-x: auto;" id="iteReportECons">

    </div>

  </div>
</div>
<!--<div ng-if="bills.length > 0" id="main-stats">

  &lt;!&ndash; <div class="row stats-row">

     <div class="col-md-4 col-sm-4 col-xs-12 stat">
       <div class="data">
         <span class="number"><i class="fa fa-inr"></i> 2457</span>
       </div>
       <span class="date">Total Sales</span>
     </div>

     <div class="col-md-4 col-sm-4 col-xs-12 stat">
       <div class="data">
         <span class="number"><i class="fa fa-inr"></i> 2457</span>
       </div>
       <span class="date">Total Taxes</span>
     </div>

     <div class="col-md-4 col-sm-4 col-xs-12 stat">
       <div class="data">
         <span class="number"><i class="fa fa-inr"></i> 2457</span>
       </div>
       <span class="date">Total Discounts</span>
     </div>

   </div>&ndash;&gt;

  <div class="row stats-row">
    <div class="col-md-6 col-sm-6 stat">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th class="text-center" colspan="{{3 + globalTaxes.length}}">Items Across All Tabs</th>
        </tr>
        <tr>
          <th>Name</th>
          <th class="text-center">Qty</th>
          <th class="text-center">Amount</th>
          &lt;!&ndash;<th class="text-center" ng-repeat="tax in globalTaxes">{{tax.name}}</th>&ndash;&gt;
        </tr>
        </thead>
        <tr ng-repeat="itemQ in aggregates.itemQty">
          <td class="text-left">{{itemQ.name}}</td>
          <td class="text-center">{{itemQ.qty}}</td>
          <td class="text-center"><i class="fa fa-inr"></i> {{itemQ.amount}}</td>
          &lt;!&ndash;<td class="text-center" ng-repeat="tax in globalTaxes">0</td>&ndash;&gt;
        </tr>
      </table>
    </div>
    <div class="col-md-6 col-sm-6 stat">
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
          <tr>
            <th class="text-center" colspan="2">Items By Tab</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <tabset>
                <tab ng-repeat="(group,items) in aggregates.tabTotals | groupBy:'tab'">
                  <tab-heading>{{group}}</tab-heading>
                  <table style="margin: 0;" class="table table-condensed">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th class="text-right">Qty</th>
                      <th class="text-right">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items">
                      <td class="text-left">{{item.name}}</td>
                      <td width="20%">{{item.quantity}}</td>
                      <td width="20%"><i class="fa fa-inr"></i> {{item.subtotal}}</td>
                    </tr>
                    </tbody>
                  </table>
                </tab>
              </tabset>
            </td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>

</div>-->
