<div class="page-header">
    <h3>Item Wise Enterprise Report</h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
          <div class="well" style="padding-top: 0px;padding-bottom:0px;">
          <!--  <div ng-repeat="dep in deployments">
                <label ><input type="checkbox" >&nbsp;{{dep.name}} </label>
            </div>-->
              <h4>Select Deployments</h4>
              <div class="form-inline" style="margin-bottom: 15px;">
                  <label class="checkbox checkbox-inline" ng-repeat="dep in Entdeployments">
                      <input type="checkbox" checklist-model="reportEnt.dep" checklist-value="dep._id">
                      {{dep.name}}
                  </label>
              </div>

                <table class="table table-responsive table-condensed" >
                    <tr><td><label> From:</label></td><td>  <input type="text"  class="form-control" placeholder="From Date" ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd" ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true" />
                        </td><td><label> To:</label><td>
                            <input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')" datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true" />
                        </td><td>
                            <i class="btn btn-primary" ng-click="getItemWiseEnterprise()">Submit</i>
                        </td>
                    </tr>
                </table>
          </div>
    </div>
    </div>
 <!--<table class="table  table-striped table-condensed table-bordered ">
     <tr>
         <th>S.No#</th><th>Item</th><th style="min-width: 100px;" colspan="2" ng-repeat="dt in dates">{{dt|date}}</th>
       <tr>  <th colspan="2"></th><th ng-repeat="dt in dates"><th>qty</th><th>total</th></th></tr>
     </tr>
 </table>-->
    <div class="row" ng-show="!loading">
        <h3><i class="fa fa-spinner fa-spin"></i> Processing Report Data, please wait...</h3>
    </div>
    <div  ng-show="loading">
            <tabset>
                <tab>
                  <tab-heading>Deployment Wise</tab-heading>
                    <div style="float: right; margin-top: 5px;"> <input type="button" class="btn btn-primary btn-xs" value="Export" ng-click="exportToExcelD()" style="float:left"></div>
                       <div style="clear: both;">
                            <div style="max-width: 1000px;overflow: scroll;">
                                <div id="iteReportE"></div>
                            </div>
                       </div>
                </tab>
                <tab>
                <tab-heading>Category Wise</tab-heading>
                <div style="float: right; margin-top: 5px;"> <input type="button" class="btn btn-primary btn-xs" value="Export" ng-click="exportToExcelCat()" style="float:left"></div>
                <div style="clear: both;">
                    <div style="max-width: 1000px;overflow: scroll;">
                        <div id="iteReportECat"></div>
                    </div>
                </div>
                </tab>
                <tab>
                <tab-heading>Consolidated </tab-heading>
                <div style="float: right; margin-top: 5px;"> <input type="button" class="btn btn-primary btn-xs" value="Export" ng-click="exportToExcel()" style="float:left"></div>
                    <div style="clear: both;">
                        <div style="max-width: 1000px;overflow: scroll;">
                            <div id="iteReportECons"></div>
                        </div>
                    </div>
                </tab>
        </tabset>
    </div>
</div>