<div class="page-header">
  <h3>KOT Delete History Report</h3>
</div>

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>From</label>
            <input type="text" class="form-control" placeholder="From Date" ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd" ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>To</label>
            <input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')" datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true" />
          </div>
        </div>
      </div>
      <a class="btn btn-primary" ng-click="getReportKotDeleteHistory()">Generate Report</a>

    </div>
  </div>
</div>
<!-- Filter View -->


<!-- Report View -->
<div ng-if="rows.length > 0" class="row">
  <div class="hc-pie" items="graphData" title="KOT Delete History" options="{title: 'KOT Delete History By Date'}"></div>
  <div>
    <a target="_blank" class="btn btn-warning pull-right"  ng-click="exportToExcelDynamic('divKotHistoryId')" ><i class="fa fa-file-excel-o"></i> Download Excel</a>
  </div>

  <div class="col-md-12">
   <!-- <a target="_blank" class="btn btn-warning pull-right" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a>-->
    <div id="divKotHistoryId">
    <div class="table-responsive" style="clear: both; overflow-x: auto;">
      <table class="table table-striped table-bordered table-condensed" style="border:solid 1px ">
        <thead>
          <tr>
            <th colspan="10">
           <!--   <a target="_blank" class="btn btn-warning pull-right" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a>
           -->
            </th>
          </tr>
        </thead>
        <tbody ng-repeat="(closeTime, closeTimeRows) in rows | groupBy:'closeTime'">
          <tr class="info">
            <td colspan="10">
              <span style="font-size: 18px;"><i class="fa fa-calendar-o"></i> <strong>{{closeTime | date: 'dd-MMM-yyyy'}}</strong></span>
            </td>
          </tr>
          <tr>
            <td colspan="10" style="padding: 0px;">
              <table style="margin-bottom: 0px;border:solid 1px" class="table table-striped table-bordered"  ng-repeat="kotsInBill in closeTimeRows | groupBy:'serialNumber' | toArray:true | orderBy:min">
                <thead>
                  <tr>
                    <th style="width:50px;">KOT#</th>
                    <th style="width:150px;">Item</th>
                    <th style="width:80px;">Order Time</th>
                    <th style="width:80px;">Delete Time</th>
                    <th style="width:80px;">Rate</th>
                    <th style="width:80px;">Quantity</th>
                    <th style="width:80px;">Total</th>
                    <th style="width:80px;">Cancel Made/Unmade</th>
                    <th style="width:200px;">Comment</th>
                    <th style="width:130px;">Username</th>
                    <th style="width:130px;">Deletion User</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="danger">
                    <td colspan="11">Bill#: <strong>{{kotsInBill.$key}}</strong> Bill Close Time: <strong>{{kotsInBill[0]._time}}</strong></td>
                  </tr>
                  <tr ng-repeat="item in kotsInBill">
                    <td style="width:50px;">{{item.kotNumber}}</td>
                    <td style="width:150px;">{{item.name}}</td>
                    <td style="width:80px;">{{item.openTime | date:'dd/MM/yy hh:mm a'}}</td>
                    <td style="width:80px;">{{item.deleteTime | date:'dd/MM/yy hh:mm a'}}</td>
                    <td style="width:80px;">{{item.rate | number: 2}}</td>
                    <td style="width:80px;">{{item.quantity | number: 2}}</td>
                    <td style="width:80px;">{{item.subtotal | number: 2}}</td>
                    <td style="width:80px;">{{item.cmade}}</td>
                    <td style="width:200px;">{{item.comment}}</td>
                    <td style="width:130px;">{{item.username}}</td>
                    <td style="width:130px;">{{item.deleteUser}}</td>
                  </tr>
                  <tr class="danger">
                    <td colspan="2"><strong>Bill Total</strong></td>
                    <td style="width:80px;">&nbsp;</td>
                    <td style="width:80px;">&nbsp;</td>
                    <td style="width:80px;">&nbsp;</td>
                    <td style="width:80px;"><strong>{{kotsInBill | sumByKey:'quantity' | number: 2}}</strong></td>
                    <td style="width:80px;"><strong>{{kotsInBill | sumByKey:'subtotal' | number: 2}}</strong></td>
                    <td style="width:80px;">&nbsp;</td>
                    <td style="width:200px;">&nbsp;</td>
                    <td style="width:130px;">&nbsp;</td>
                    <td style="width:130px;">&nbsp;</td>
                  </tr>
                  <tr ng-if="$last" class="info">
                    <td colspan="2"><strong>Day Total</strong></td>
                    <td style="width:80px;">&nbsp;</td>
                    <td style="width:80px;">&nbsp;</td>
                    <td style="width:80px;">&nbsp;</td>
                    <td style="width:80px;"><strong>{{closeTimeRows | sumByKey:'quantity' | number: 2}}</strong></td>
                    <td style="width:80px;"><strong>{{closeTimeRows | sumByKey:'subtotal' | number: 2}}</strong></td>
                    <td style="width:80px;">&nbsp;</td>
                    <td style="width:200px;">&nbsp;</td>
                    <td style="width:130px;">&nbsp;</td>
                    <td style="width:130px;">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr ng-if="$last" class="active">
            <td style="width:365px;"><strong>Grand Total</strong></td>
            <td style="width: 70px;"><strong>{{rows | sumByKey:'quantity' | number: 2}}</strong></td>
            <td style="width: 65px;"><strong>{{rows | sumByKey:'subtotal' | number: 2}}</strong></td>
            <td style="width: 150px;">&nbsp;</td>
            <td style="width: 130px;">&nbsp;</td>
            <td style="width: 130px;">&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Report View -->
</div>
