<div class="page-header">
  <h3>Online/Other Payment Detail Report</h3>
</div>

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>From</label>
            <input type="text" class="form-control" placeholder="From Date"
                   ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd"
                   ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>To</label>
            <input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')"
                   datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true"/>
          </div>
        </div>
           <div class="col-md-12">
          <div class="form-group">
            <div class="radio-inline">
              <label><input type="radio" name="repType" ng-model="repType" required value="online">Online Detail</label>
            </div>
            <div class="radio-inline">
              <label><input type="radio" name="repType" ng-model="repType" required value="other">Other Detail</label>
            </div>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" ng-click="selectReportDetail()">Generate Report</a>
    </div>
  </div>
</div>

<div class="row" ng-show="!loading">
  <h3><i class="fa fa-spinner fa-spin"></i> Processing Report Data, please wait...</h3>
</div>

<div style="float: right; margin-top: 5px;"> <input type="button" class="btn btn-primary btn-xs" value="Export" ng-click="exportToCsv()" style="float:left"></div>

<div style="clear: both;">
  <div class="table-rsponsive" style="overflow-x: auto;">
    <div id="iteReportECons">
      <!-- <div ng-repeat="(key, value) in  grpOtherPaymentByCloseTime">
        <table class="table table-bordered">
          <caption  style="background-color: #7CAEDA; font-size: 20px; font-weight: bold; padding: 10px;">{{key}}</caption>
          <thead>
            <tr>
              <th class="text-center">Bill #</th>
              <th class="text-center">COD</th>
              <th class="text-center">Online Payment</th>
            </tr>
          </thead>
          <tbody ng-repeat="(k, bills) in value">
            <tr>
              <th style="background-color: #ccd232;" colspan="3"><i class="glyphicon glyphicon-calendar"></i> <strong>{{k}}</strong></th>
            </tr>
            <tr ng-repeat="bill in bills">
              <td class="text-center">{{bill.billNumber}}</td>
              <td class="text-center">{{bill.codAmount}}</td>
              <td class="text-center">{{bill.onlinePaymentAmount}}</td>
            </tr>
            <tr class="info">
              <td align="right">Day Total</td>
              <td class="text-center">{{getDayTotal(bills).codAmount}}</td>
              <td class="text-center">{{getDayTotal(bills).onlinePaymentAmount}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td align="right">Grand Total</td>
              <td class="text-center">{{getGrandTotalOtherPayments(value).codAmount}}</td>
              <td class="text-center">{{getGrandTotalOtherPayments(value).onlinePaymentAmount}}</td>
            </tr>
          </tfoot>
        </table>
        <hr/>
      </div> -->
    </div>
  </div>
</div>
