<h3>Payment Details Report</h3>

<!-- <div class="page-header">

  <div class="row">
    <div class="col-md-3">
      <h3>Payment Details Report</h3>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Deployment</label>
        <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
          <option value="">Select Deployment</option>
        </select>
        <span class="label label-info" ng-if="report.filters.cutOffTimeSetting != ''">Reset Time: {{report.filters.cutOffTimeSetting | date: 'hh:mm:ss a'}}</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Date Range</label>
        <input date-range-picker class="form-control date-picker" type="text" ng-model="selectedDate" options="datePickerOptions" ng-change="changeDateRange(selectedDate)" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
          <label>&nbsp;</label>
          <a class="btn btn-primary form-control" ng-click="getReportPaymentDetails()">Generate Report</a>
      </div>
    </div>
  </div>
</div> -->


<!-- <pre>
  {{report.filters | json}}
</pre> -->

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <div class="row">
        <div class="col-sm-3 col-md-3 col-xs-12">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id"
                    ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
            <span class="label label-info" ng-if="report.filters.cutOffTimeSetting != ''">Reset Time: {{report.filters.cutOffTimeSetting | date: 'hh:mm:ss a'}}</span>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-6">
          <div class="form-group">
            <label>Date Range</label>
            <input date-range-picker class="form-control date-picker" type="text" ng-model="selectedDate"
                   options="datePickerOptions" ng-change="changeDateRange(selectedDate)"/>
          </div>
        </div>
        <div class="col-sm-3 col-md-2 col-xs-4">
          <div class="form-group">
            <label style="font-weight: 100;"><input type="checkbox" ng-model="report.filters.isComplimentary">&nbsp;Complimentary
            </label>
            <a class="btn btn-primary form-control" ng-click="getReportPaymentDetails()">Generate Report</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Filter View -->

<div ng-if="showReport" class="row">
  <div class="hc-pie" items="graphData" title="Payment Details" options="{title: 'Payment Details by Close Day'}"></div>
<!-- <a ng-if="isExcelDownloadReady" style="position: relative; float: right;" target="_blank" class="btn btn-warning pull-right"
     ng-click="exportToExcelDynamic('paymentReportId')"><i class="fa fa-file-excel-o"></i> Download Excel</a>-->
  <a  style="position: relative; float: right;" target="_blank" class="btn btn-warning pull-right"
     ng-click="exportToCsv()"><i class="fa fa-file-excel-o"></i> Download Excel</a>
</div>

<div class="col-md-12">
  <div style="overflow-x: auto;">

    <div>
      <div id="iteReportECons">

      </div>
      <ul class="pagination" style="margin-left: 40%">
        <li ng-repeat="i in report.filters.pageArray"><a href="#" ng-class="{active: i == report.filters.currentPage}" ng-click="getNextPage(i)">{{i}}</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- <script type="text/ng-template" id="download.html">
  <div class="modal-header">
    <h3>Download</h3>
  </div>
  <div class="modal-body">
    <table class="table">
      <tr>
        <th>Sr No</th>
        <th> From Date</th>
        <th> To Date </th>
        <th> filename </th>
      <th>download</th>
      </tr>
      <tr ng-repeat="download in form track by $index">
        <td>{{$index+1}}</td>
        <td>{{download.fromDate| date: 'dd/MM/yy'}}</td>
        <td>{{download.toDate| date: 'dd/MM/yy'}}</td>
        <td>{{download.filename}}</td>
       <td><a class="glyphicon glyphicon-download-alt"  target="_blank"  ng-href="/api/uploads/{{download.filename}}"></a></td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <input type="button" value="OK" class="btn btn-primary" ng-click="cancel()"/>
  </div>
</script> -->
<!--<input type="button" class="btn btn-primary btn-xs" value="Export" ng-click="exportToExcelPaymentDetail()" style="float:left">-->

