<div class="page-header">
  <h3>Tab/ User/ Waiter Breakdown Report</h3>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Report Type</label>
            <select class="form-control" ng-change="onTabUserWaiterBDReportTypeChange()" ng-model="report.filters.breakDownBy">
              <option value="">Select Type</option>
              <option value="tabtype">By Tab</option>
              <option value="user">By User</option>
              <option value="waiter">By Waiter</option>
              <option value="delivery">By Delivery</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>From</label>
            <input type="text" class="form-control" placeholder="From Date" ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd" ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>To</label>
            <input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')" datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true" />
          </div>
        </div>
      </div>
      <div class="row" ng-if="report.filters.breakDownBy === 'tabtype'">
        <div class="col-md-6">
          <div class="form-group">
            <label>Tab Type</label>
            <select class="form-control"  ng-model="report.filters.tabType" ng-options="tab.tabName as tab.tabName for tab in _tabs">
              <option value="">Select Tab Type</option>
            </select>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" ng-click="getReportTabUserWaiterBreakdown()">Generate Report</a>
    </div>
  </div>
</div>

<!-- <pre style="height: 200px;">
  {{report.filters | json}}
</pre> -->

<!-- Report View: By Tab Type -->
<div class="row" ng-if="rows['consolidated'].length > 0 && report.filters.breakDownBy === 'tabtype'">
  <div class="col-md-12">
    <div class="hc-pie" items="graphData" title="Tab Breakdown" options="{title: 'Total Sales by Tab'}"></div>
    <table class="table">
        <tr>
          <td><a ng-if="isExcelDownloadReady" style="position: relative; float: right;" target="_blank" class="btn btn-warning pull-right" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a></td>
        </tr>
    </table>
    <tabset>
      <tab heading="Consolidated">
        <!--<pre style="height: 100px;">
          {{rows['consolidated'] | json}}
        </pre>-->
        <div class="table table-responsive" style="overflow-x: auto;">
          <!--<table class="table table-condensed">
            <tbody>
            <tr>
              <td><a target="_blank" class="btn btn-warning pull-right" ng-if="isExcelDownloadReady" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a></td>
            </tr>
            </tbody>
          </table>-->
          <table class="table table-condensed table-striped">
            <thead>
            <tr class="warning">
              <th colspan="{{report.allTaxes.length + 10}}" class="text-center" style="font-size: 20px;">Tabs Consolidated</th>
            </tr>
            <tr class="info">
              <th>Tab Name</th>
              <th class="text-center">No of Bills</th>
              <th class="text-center">Amount</th>
              <th class="text-center">Discount</th>
              <th class="text-center" ng-repeat="t in report.allTaxes">{{t.name}}</th>
              <th class="text-center">Gross Amount</th>
              <th class="text-center">RoundOff</th>
              <th class="text-center">G. Total</th>
              <th class="text-center">Cash</th>
              <th class="text-center">Credit Card</th>
              <th class="text-center">Debit Card</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in rows['consolidated']">
              <td><strong>{{row.tab | capitalize}}</strong></td>
              <td class="text-center">{{row.noOfBills}}</td>
              <td class="text-center">{{row.totalAmount | number: 2}}</td>
              <td class="text-center">{{row.totalDiscount  | number: 2}}</td>
              <td class="text-center" ng-repeat="t in report.allTaxes">{{getTax(t.id, row) | number: 2}}</td>
              <td width="10%" class="text-right">{{row.totalNet  | number: 2}}</td>
              <td class="text-center">{{row.roundOff | number: 2}}</td>
              <td class="text-center">{{row.afterRoundOff | number: 2}}</td>
              <td class="text-center">{{row.totalCash | number: 2}}</td>
              <td class="text-center">{{row.totalCreditCard | number: 2}}</td>
              <td class="text-center">{{row.totalDebitCard | number: 2}}</td>
            </tr>
            <tr style="font-size: 18px;" class="success">
              <td><strong>Total</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'noOfBills'}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalAmount' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalDiscount' | number: 2}}</strong></td>
              <td class="text-center" ng-repeat="t in report.allTaxes"><strong>{{getTotalTaxRows(t.id, rows['consolidated']) | number: 2}}</strong></td>
              <td width="10%" class="text-right"><strong>{{rows['consolidated'] | sumByKey: 'totalNet' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'roundOff' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'afterRoundOff' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalCash' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalCreditCard' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalDebitCard' | number: 2}}</strong></td>
            </tr>
            </tbody>
          </table>
          <!--<table class="table table-condensed">
            <tbody>
            <tr>
              <td><a target="_blank" class="btn btn-warning pull-right" ng-if="isExcelDownloadReady" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a></td>
            </tr>
            </tbody>
          </table>-->

        </div>
      </tab>
      <tab heading="Item Wise">
        <div class="table-responsive" style="overflow-x: auto;">
          <table class="table table-condensed">
            <tbody ng-repeat="(tab, tabItems) in rows['itemwise'] | groupBy:'tab'">
              <tr class="info">
                <td style="font-size: 20px;">{{tab}}</td>
              </tr>
              <tr>
                <td style="padding:0;">
                  <table class="table table-condensed" style="margin-bottom:0;">
                    <thead>
                      <tr>
                        <th width="40%">Item Name</th>
                        <th>Rate</th>
                        <th width="10%" class="text-right">Quantity</th>
                        <th width="10%" class="text-right">Subtotal</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="tabItem in tabItems">
                        <td width="40%">{{tabItem.name}}</td>
                        <td>{{tabItem.rate}}</td>
                        <td width="10%" class="text-right">{{tabItem.quantity}}</td>
                        <td width="10%" class="text-right">{{tabItem.subtotal | number: 2}}</td>
                      </tr>
                      <tr class="warning">
                        <td colspan="2"><strong>Tab Total</strong></td>
                        <td width="10%" class="text-right"><strong>{{tabItems | sumByKey:'quantity' | number: 2}}</strong></td>
                        <td width="10%" class="text-right">{{tabItems | sumByKey:'subtotal' | number: 2}}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td style="padding:0;">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th width="40%"><span style="font-size:16px;">Grand Total</span></th>
                        <th>&nbsp;</th>
                        <th width="10%" class="text-right">{{rows['itemwise'] | sumByKey: 'quantity'}}</th>
                        <th width="10%" class="text-right">{{rows['itemwise'] | sumByKey: 'subtotal' | number: 2}}</th>
                      </tr>
                    </thead>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab heading="Detail">
        <!-- <pre style="height:100px;">
          {{rows['detail'] | json}}
        </pre> -->
        <div class="table-responsive" style="overflow-x: auto;">
          <!--<table class="table table-condensed">
            <thead>
            <tr>
              <th>Export Options:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><a target="_blank" class="btn btn-warning" ng-if="isExcelDownloadReady" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a></td>
            </tr>
            </tbody>
          </table>-->
          <table class="table table-condensed table-bordered">
            <tbody ng-repeat="(tab, tabBills) in rows['detail'] | groupBy:'tab'">
              <tr class="info">
                <td class="text-center"><strong style="font-size: 18px;">{{tab | capitalize}}</strong></td>
              </tr>
              <tr>
                <td style="padding: 0;">
                  <table class="table table-condensed table-bordered">
                    <thead>
                      <tr>
                        <th class="text-center">Bill #</th>
                        <th class="text-center">Open Time</th>
                        <th class="text-center">Table #</th>
                        <th class="text-center">Covers</th>
                        <th class="text-center">Close Time</th>
                        <th class="text-center">Total Amount</th>
                        <th class="text-center">Discount</th>
                        <th class="text-center" ng-repeat="tax in report.allTaxes">{{tax.name}}</th>
                        <th class="text-center">Gross Amount</th>
                        <th class="text-center">Cash</th>
                        <th class="text-center">Credit Card</th>
                        <th class="text-center">Debit Card</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="(key, bills) in tabBills | groupBy: 'closeTime'">
                      <tr style="background-color: #ccd232;">
                        <td colspan="{{11 + report.allTaxes.length}}"><i class="fa fa-calendar"></i> <strong><i>{{key | date:'dd-MMM-yy'}}</i></strong></td>
                      </tr>
                      <tr ng-repeat="bill in bills" ng-class-odd="success" ng-class-even="info">
                        <td class="text-center">{{bill.serialNumber}}</td>
                        <td width="10%" class="text-center">{{bill._created | date: 'H:mm:ss a'}}</td>
                        <td width="10%" class="text-center">{{bill._tableId}}</td>
                        <td width="10%" class="text-center">{{bill._covers}}</td>
                        <td width="10%" class="text-center">{{bill._closeTime | date:'H:mm:ss a'}}</td>
                        <td width="10%" class="text-center">{{bill.totalAmount | number: 2}}</td>
                        <td width="10%" class="text-center">{{bill.totalDiscount | number: 2}}</td>
                        <td width="10%" class="text-center" ng-repeat="tax in report.allTaxes">{{getBillTax(tax.id, bill) | number: 2}}</td>
                        <td width="10%" class="text-center">{{bill.totalNet | number: 2}}</td>
                        <td width="10%" class="text-center">{{bill.totalCash | number: 2}}</td>
                        <td width="10%" class="text-center">{{bill.totalCreditCardAmount | number: 2}}</td>
                        <td width="10%" class="text-center">{{bill.totalDebitCardAmount | number: 2}}</td>
                      </tr>
                      <tr class="info">
                        <td><strong>Tab Total</strong></td>
                        <td width="10%">&nbsp;</td>
                        <td width="10%">&nbsp;</td>
                        <td width="10%">&nbsp;</td>
                        <td width="10%">&nbsp;</td>
                        <td width="10%" class="text-center"><strong>{{getTotalAmount(bills) | number: 2}}</strong></td>
                        <td width="10%" class="text-center"><strong>{{getTotalDiscount(bills) | number: 2}}</strong></td>
                        <td width="10%" class="text-center" ng-repeat="tax in report.allTaxes"><strong>{{getTotalTax(tax.id, bills) | number: 2}}</strong></td>
                        <td width="10%" class="text-center"><strong>{{getTotalNet(bills) | number: 2}}</strong></td>
                        <td width="10%" class="text-center"><strong>{{getTotalCash(bills) | number: 2}}</strong></td>
                        <td width="10%" class="text-center"><strong>{{getTotalCreditCardAmount(bills) | number: 2}}</strong></td>
                        <td width="10%" class="text-center"><strong>{{getTotalDebitCardAmount(bills) | number: 2}}</strong></td>
                      </tr>

                    </tbody>
                    <tbody>
                      <tr ng-if="$last" class="danger">
                        <td><strong>Grand Total</strong></td>
                        <td width="10%"></td>
                        <td width="10%"></td>
                        <td width="10%" ></td>
                        <td width="10%" ></td>
                        <td width="10%" class="text-center"><strong>{{ rows['detail'] | sumByKey: 'totalAmount' | number: 2}}</strong></td>
                        <td width="10%" class="text-center"><strong>{{ rows['detail'] | sumByKey: 'totalDiscount' | number: 2}}</strong></td>
                        <td width="10%" class="text-center" ng-repeat="tax in report.allTaxes"><strong>{{getTotalTax(tax.id, rows['detail']) | number: 2}}</strong></td>
                        <td width="10%" class="text-center"><strong>{{getTotalNet(rows['detail']) | number: 2}}</strong></td>
                        <td width="10%" class="text-center"><strong>{{getTotalCash(rows['detail']) | number: 2}}</strong></td>
                        <td width="10%" class="text-center"><strong>{{getTotalCreditCardAmount(rows['detail']) | number: 2}}</strong></td>
                        <td width="10%" class="text-center"><strong>{{getTotalDebitCardAmount(rows['detail']) | number: 2}}</strong></td>
                      </tr>
                    </tbody>

                  </table>
                </td>
              </tr>

            </tbody>
          </table>
          <table class="table table-condensed table-bordered">



          </table>

        </div>
      </tab>
    </tabset>
  </div>
</div>
<!-- Report View: By Tab Type -->

<!-- Report View By User -->
<div class="row" ng-if="rows['consolidated'].length > 0 && report.filters.breakDownBy === 'user'">
  <div class="col-md-12">
    <div class="hc-pie" items="graphData" title="User Breakdown" options="{title: 'Total Sales by User'}"></div>
    <table class="table">
      <tr>
        <td><a ng-if="isExcelDownloadReady" style="position: relative; float: right;" target="_blank" class="btn btn-warning pull-right" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a></td>
      </tr>
    </table>
    <tabset>
      <tab heading="Consolidated">
        <div class="table table-responsive" style="overflow-x: auto;">
          <!--<table class="table table-condensed">
            <tbody>
            <tr>
              <td><a target="_blank" class="btn btn-warning pull-right" ng-if="isExcelDownloadReady" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a></td>
            </tr>
            </tbody>
          </table>-->
          <table class="table table-condensed table-striped">
            <thead>
            <tr class="warning">
              <th colspan="{{report.allTaxes.length + 10}}" class="text-center" style="font-size: 20px;">User Consolidated</th>
            </tr>
            <tr class="info">
              <th>User</th>
              <th class="text-center">No of Bills</th>
              <th class="text-center">Amount</th>
              <th class="text-center">Discount</th>
              <th class="text-center" ng-repeat="t in report.allTaxes">{{t.name}}</th>
              <th class="text-center">Gross Amount</th>
              <th class="text-center">RoundOff</th>
              <th class="text-center">G. Total</th>
              <th class="text-center">Cash</th>
              <th class="text-center">Credit Card</th>
              <th class="text-center">Debit Card</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in rows['consolidated']">
              <td><strong>{{row.user | capitalize}}</strong></td>
              <td class="text-center">{{row.noOfBills}}</td>
              <td class="text-center">{{row.totalAmount | number: 2}}</td>
              <td class="text-center">{{row.totalDiscount  | number: 2}}</td>
              <td class="text-center" ng-repeat="t in report.allTaxes">{{getTax(t.id, row) | number: 2}}</td>
              <td width="10%" class="text-right">{{row.totalNet  | number: 2}}</td>
              <td class="text-center">{{row.roundOff | number: 2}}</td>
              <td class="text-center">{{row.afterRoundOff | number: 2}}</td>
              <td class="text-center">{{row.totalCash}}</td>
              <td class="text-center">{{row.totalCreditCard}}</td>
              <td class="text-center">{{row.totalDebitCard}}</td>
            </tr>
            <tr style="font-size: 18px;" class="success">
              <td><strong>Total</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'noOfBills'}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalAmount' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalDiscount' | number: 2}}</strong></td>
              <td class="text-center" ng-repeat="t in report.allTaxes"><strong>{{getTotalTaxRows(t.id, rows['consolidated']) | number: 2}}</strong></td>
              <td width="10%" class="text-right"><strong>{{rows['consolidated'] | sumByKey: 'totalNet' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'roundOff' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'afterRoundOff' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalCash' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalCreditCard' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalDebitCard' | number: 2}}</strong></td>
            </tr>
            </tbody>
          </table>
          <!--<table class="table table-condensed">
            <tbody>
            <tr>
              <td><a target="_blank" class="btn btn-warning pull-right" ng-if="isExcelDownloadReady" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a></td>
            </tr>
            </tbody>
          </table>-->

        </div>
      </tab>
      <tab heading="Item Wise">
        <div class="table-responsive" style="overflow-x: auto;">
          <table class="table table-condensed">
            <tbody ng-repeat="(username, usernameItems) in rows['itemwise'] | groupBy:'username'">
              <tr class="info">
                <td style="font-size: 20px;">{{username}}</td>
              </tr>
              <tr>
                <td style="padding:0;">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th width="40%">Item Name</th>
                        <th>Rate</th>
                        <th width="10%" class="text-right">Quantity</th>
                        <th width="10%" class="text-right">Subtotal</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="userItem in usernameItems">
                        <td width="40%">{{userItem.name}}</td>
                        <td>{{userItem.rate}}</td>
                        <td width="10%" class="text-right">{{userItem.quantity}}</td>
                        <td width="10%" class="text-right">{{userItem.subtotal | number: 2}}</td>

                      </tr>
                      <tr class="warning">
                        <td colspan="2"><strong>Total</strong></td>
                        <td width="10%" class="text-right"><strong>{{usernameItems | sumByKey:'quantity' | number: 2}}</strong></td>
                        <td width="10%" class="text-right"><strong>{{usernameItems | sumByKey:'subtotal' | number: 2}}</strong></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td style="padding:0;">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th width="40%"><span style="font-size:16px;">Grand Total</span></th>
                        <th>&nbsp;</th>
                        <th width="10%" class="text-right">{{rows['itemwise'] | sumByKey: 'quantity'}}</th>
                        <th width="10%" class="text-right">{{rows['itemwise'] | sumByKey: 'subtotal' | number: 2}}</th>
                      </tr>
                    </thead>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab heading="Detail">
        <div class="table-responsive" style="overflow-x: auto;">
          <!--<table class="table table-condensed">
            <thead>
            <tr>
              <th>Export Options:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><a target="_blank" class="btn btn-warning" ng-if="isExcelDownloadReady" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a></td>
            </tr>
            </tbody>
          </table>-->
          <table class="table table-condensed table-bordered">
            <tbody ng-repeat="(user, userBills) in rows['detail'] | groupBy:'user'">
            <tr class="info">
              <td class="text-center"><strong style="font-size: 18px;">{{user | capitalize}}</strong></td>
            </tr>
            <tr>
              <td style="padding: 0;">
                <table class="table table-condensed table-bordered">
                  <thead>
                  <tr>
                    <th class="text-center">Bill #</th>
                    <th class="text-center">Open Time</th>
                    <th class="text-center">Table #</th>
                    <th class="text-center">Covers</th>
                    <th class="text-center">Close Time</th>
                    <th class="text-center">Total Amount</th>
                    <th class="text-center">Discount</th>
                    <th class="text-center" ng-repeat="tax in report.allTaxes">{{tax.name}}</th>
                    <th class="text-center">Gross Amount</th>
                    <th class="text-center">Cash</th>
                    <th class="text-center">Credit Card</th>
                    <th class="text-center">Debit Card</th>
                  </tr>
                  </thead>
                  <tbody ng-repeat="(key, bills) in userBills | groupBy: 'closeTime'">
                  <tr style="background-color: #ccd232;">
                    <td colspan="{{11 + report.allTaxes.length}}"><i class="fa fa-calendar"></i> <strong><i>{{key | date:'dd-MMM-yy'}}</i></strong></td>
                  </tr>
                  <tr ng-repeat="bill in bills" ng-class-odd="success" ng-class-even="info">
                    <td class="text-center">{{bill.serialNumber}}</td>
                    <td width="10%" class="text-center">{{bill._created | date: 'H:mm:ss a'}}</td>
                    <td width="10%" class="text-center">{{bill._tableId}}</td>
                    <td width="10%" class="text-center">{{bill._covers}}</td>
                    <td width="10%" class="text-center">{{bill._closeTime | date:'H:mm:ss a'}}</td>
                    <td width="10%" class="text-center">{{bill.totalAmount | number: 2}}</td>
                    <td width="10%" class="text-center">{{bill.totalDiscount | number: 2}}</td>
                    <td width="10%" class="text-center" ng-repeat="tax in report.allTaxes">{{getBillTax(tax.id, bill) | number: 2}}</td>
                    <td width="10%" class="text-center">{{bill.totalNet | number: 2}}</td>
                    <td width="10%" class="text-center">{{bill.totalCash | number: 2}}</td>
                    <td width="10%" class="text-center">{{bill.totalCreditCardAmount | number: 2}}</td>
                    <td width="10%" class="text-center">{{bill.totalDebitCardAmount | number: 2}}</td>
                  </tr>
                  <tr class="info">
                    <td colspan="2"><strong>User Total</strong></td>
                    <td width="10%">&nbsp;</td>
                    <td width="10%">&nbsp;</td>
                    <td width="10%">&nbsp;</td>
                    <td width="10%" class="text-center"><strong>{{getTotalAmount(bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalDiscount(bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center" ng-repeat="tax in report.allTaxes"><strong>{{getTotalTax(tax.id, bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalNet(bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalCash(bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalCreditCardAmount(bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalDebitCardAmount(bills) | number: 2}}</strong></td>
                  </tr>

                  </tbody>
                  <tbody>
                  <tr ng-if="$last" class="danger">
                    <td colspan="2"><strong>Grand Total</strong></td>
                    <td width="10%"></td>
                    <td width="10%" ></td>
                    <td width="10%" ></td>
                    <td width="10%" class="text-center"><strong>{{ rows['detail'] | sumByKey: 'totalAmount' | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{ rows['detail'] | sumByKey: 'totalDiscount' | number: 2}}</strong></td>
                    <td width="10%" class="text-center" ng-repeat="tax in report.allTaxes"><strong>{{getTotalTax(tax.id, rows['detail']) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalNet(rows['detail']) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalCash(rows['detail']) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalCreditCardAmount(rows['detail']) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalDebitCardAmount(rows['detail']) | number: 2}}</strong></td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </tab>
    </tabset>
  </div>
</div>
<!-- Report View By User -->

<!-- Report View By Waiter -->
<div class="row" ng-if="rows['consolidated'].length > 0 && report.filters.breakDownBy === 'waiter'">
  <div class="col-md-12">
    <div class="hc-pie" items="graphData" title="Waiter Breakdown" options="{title: 'Total Sales by Waiter'}"></div>
    <table class="table">
      <tr>
        <td><a ng-if="isExcelDownloadReady" style="position: relative; float: right;" target="_blank" class="btn btn-warning pull-right" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a></td>
      </tr>
    </table>
    <tabset>
      <tab heading="Consolidated">
        <div class="table table-responsive" style="overflow-x: auto;">
          <!--<table class="table table-condensed">
            <tbody>
            <tr>
              <td><a target="_blank" class="btn btn-warning pull-right" ng-if="isExcelDownloadReady" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a></td>
            </tr>
            </tbody>
          </table>-->
          <table class="table table-condensed table-striped">
            <thead>
            <tr class="warning">
              <th colspan="{{report.allTaxes.length + 10}}" class="text-center" style="font-size: 20px;">Waiter Consolidated</th>
            </tr>
            <tr class="info">
              <th>Waiter</th>
              <th class="text-center">No of Bills</th>
              <th class="text-center">Amount</th>
              <th class="text-center">Discount</th>
              <th class="text-center" ng-repeat="t in report.allTaxes">{{t.name}}</th>
              <th class="text-center">Gross Amount</th>
              <th class="text-center">RoundOff</th>
              <th class="text-center">G. Total</th>
              <th class="text-center">Cash</th>
              <th class="text-center">Credit Card</th>
              <th class="text-center">Debit Card</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in rows['consolidated']">
              <td><strong>{{row.waiter | capitalize}}</strong></td>
              <td class="text-center">{{row.noOfBills}}</td>
              <td class="text-center">{{row.totalAmount | number: 2}}</td>
              <td class="text-center">{{row.totalDiscount  | number: 2}}</td>
              <td class="text-center" ng-repeat="t in report.allTaxes">{{getTax(t.id, row) | number: 2}}</td>
              <td width="10%" class="text-right">{{row.totalNet  | number: 2}}</td>
              <td class="text-center">{{row.roundOff | number: 2}}</td>
              <td class="text-center">{{row.afterRoundOff | number: 2}}</td>
              <td class="text-center">{{row.totalCash}}</td>
              <td class="text-center">{{row.totalCreditCard}}</td>
              <td class="text-center">{{row.totalDebitCard}}</td>
            </tr>
            <tr style="font-size: 18px;" class="success">
              <td><strong>Total</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'noOfBills'}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalAmount' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalDiscount' | number: 2}}</strong></td>
              <td class="text-center" ng-repeat="t in report.allTaxes"><strong>{{getTotalTaxRows(t.id, rows['consolidated']) | number: 2}}</strong></td>
              <td width="10%" class="text-right"><strong>{{rows['consolidated'] | sumByKey: 'totalNet' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'roundOff' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'afterRoundOff' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalCash' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalCreditCard' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalDebitCard' | number: 2}}</strong></td>
            </tr>
            </tbody>
          </table>
          <!--<table class="table table-condensed">
            <tbody>
            <tr>
              <td><a target="_blank" class="btn btn-warning pull-right" ng-if="isExcelDownloadReady" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a></td>
            </tr>
            </tbody>
          </table>-->

        </div>
      </tab>
      <tab heading="Item Wise">
        <div class="table-responsive" style="overflow-x: auto;">
                    <table class="table table-condensed">
            <tbody ng-repeat="(waitername, waiternameItems) in rows['itemwise'] | groupBy:'waitername'">
              <tr class="info">
                <td style="font-size: 20px;">{{waitername}}</td>
              </tr>
              <tr>
                <td style="padding:0;">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th width="40%">Item Name</th>
                        <th>Rate</th>
                        <th width="10%" class="text-right">Quantity</th>
                        <th width="10%" class="text-right">Subtotal</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="waiterItem in waiternameItems">
                        <td width="40%">{{waiterItem.name}}</td>
                        <td>{{waiterItem.rate}}</td>
                        <td width="10%" class="text-right">{{waiterItem.quantity}}</td>
                        <td width="10%" class="text-right">{{waiterItem.subtotal | number: 2}}</td>
                      </tr>
                      <tr class="warning">
                        <td width="10%"><strong>Total</strong></td>
                        <td width="10%">&nbsp;</td>
                        <td width="10%" class="text-right"><strong>{{waiternameItems | sumByKey: 'quantity'}}</strong></td>
                        <td width="10%" class="text-right">{{waiternameItems | sumByKey:'subtotal' | number: 2}}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td style="padding:0;">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th width="40%"><span style="font-size:16px;">Grand Total</span></th>
                        <th>&nbsp;</th>
                        <th width="10%" class="text-center">{{rows['itemwise'] | sumByKey: 'quantity'}}</th>
                        <th width="10%" class="text-right">{{rows['itemwise'] | sumByKey: 'subtotal' | number: 2}}</th>
                      </tr>
                    </thead>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab heading="Detail">
        <div class="table-responsive" style="overflow-x: auto;">
          <!--<table class="table table-condensed">
            <thead>
            <tr>
              <th>Export Options:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><a target="_blank" class="btn btn-warning" ng-if="isExcelDownloadReady" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a></td>
            </tr>
            </tbody>
          </table>-->
          <table class="table table-condensed table-bordered">
            <tbody ng-repeat="(waiter, waiterBills) in rows['detail'] | groupBy:'waiter'">
            <tr class="info">
              <td class="text-center"><strong style="font-size: 18px;">{{waiter | capitalize}}</strong></td>
            </tr>
            <tr>
              <td style="padding: 0;">
                <table class="table table-condensed table-bordered">
                  <thead>
                  <tr>
                    <th class="text-center">Bill #</th>
                    <th class="text-center">Open Time</th>
                    <th class="text-center">Table #</th>
                    <th class="text-center">Covers</th>
                    <th class="text-center">Close Time</th>
                    <th class="text-center">Total Amount</th>
                    <th class="text-center">Discount</th>
                    <th class="text-center" ng-repeat="tax in report.allTaxes">{{tax.name}}</th>
                    <th class="text-center">Gross Amount</th>
                    <th class="text-center">Cash</th>
                    <th class="text-center">Credit Card</th>
                    <th class="text-center">Debit Card</th>
                  </tr>
                  </thead>
                  <tbody ng-repeat="(key, bills) in waiterBills | groupBy: 'closeTime'">
                  <tr style="background-color: #ccd232;">
                    <td colspan="{{11 + report.allTaxes.length}}"><i class="fa fa-calendar"></i> <strong><i>{{key | date:'dd-MMM-yy'}}</i></strong></td>
                  </tr>
                  <tr ng-repeat="bill in bills" ng-class-odd="success" ng-class-even="info">
                    <td class="text-center">{{bill.serialNumber}}</td>
                    <td width="10%" class="text-center">{{bill._created | date: 'H:mm:ss a'}}</td>
                    <td width="10%" class="text-center">{{bill._tableId}}</td>
                    <td width="10%" class="text-center">{{bill._covers}}</td>
                    <td width="10%" class="text-center">{{bill._closeTime | date:'H:mm:ss a'}}</td>
                    <td width="10%" class="text-center">{{bill.totalAmount | number: 2}}</td>
                    <td width="10%" class="text-center">{{bill.totalDiscount | number: 2}}</td>
                    <td width="10%" class="text-center" ng-repeat="tax in report.allTaxes">{{getBillTax(tax.id, bill) | number: 2}}</td>
                    <td width="10%" class="text-center">{{bill.totalNet | number: 2}}</td>
                    <td width="10%" class="text-center">{{bill.totalCash | number: 2}}</td>
                    <td width="10%" class="text-center">{{bill.totalCreditCardAmount | number: 2}}</td>
                    <td width="10%" class="text-center">{{bill.totalDebitCardAmount | number: 2}}</td>
                  </tr>
                  <tr class="info">
                    <td colspan="2"><strong>Waiter Total</strong></td>
                    <td width="10%">&nbsp;</td>
                    <td width="10%">&nbsp;</td>
                    <td width="10%">&nbsp;</td>
                    <td width="10%" class="text-center"><strong>{{getTotalAmount(bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalDiscount(bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center" ng-repeat="tax in report.allTaxes"><strong>{{getTotalTax(tax.id, bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalNet(bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalCash(bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalCreditCardAmount(bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalDebitCardAmount(bills) | number: 2}}</strong></td>
                  </tr>

                  </tbody>
                  <tbody>
                  <tr ng-if="$last" class="danger">
                    <td colspan="2"><strong>Grand Total</strong></td>
                    <td width="10%"></td>
                    <td width="10%" ></td>
                    <td width="10%" ></td>
                    <td width="10%" class="text-center"><strong>{{ rows['detail'] | sumByKey: 'totalAmount' | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{ rows['detail'] | sumByKey: 'totalDiscount' | number: 2}}</strong></td>
                    <td width="10%" class="text-center" ng-repeat="tax in report.allTaxes"><strong>{{getTotalTax(tax.id, rows['detail']) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalNet(rows['detail']) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalCash(rows['detail']) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalCreditCardAmount(rows['detail']) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalDebitCardAmount(rows['detail']) | number: 2}}</strong></td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </tab>
    </tabset>
  </div>
</div>
<!-- Report View By Waiter -->


<!-- Report View By Delivery -->
<div class="row" ng-if="rows['consolidated'].length > 0 && report.filters.breakDownBy === 'delivery'">
  <div class="col-md-12">
    <div class="hc-pie" items="graphData" title="Delivery Breakdown" options="{title: 'Total Sales by Waiter'}"></div>
    <table class="table">
      <tr>
        <td><a ng-if="isExcelDownloadReady" style="position: relative; float: right;" target="_blank" class="btn btn-warning pull-right" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a></td>
      </tr>
    </table>
    <tabset>
      <tab heading="Consolidated">
        <div class="table table-responsive" style="overflow-x: auto;">
          <!--<table class="table table-condensed">
            <tbody>
            <tr>
              <td><a target="_blank" class="btn btn-warning pull-right" ng-if="isExcelDownloadReady" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a></td>
            </tr>
            </tbody>
          </table>-->
          <table class="table table-condensed table-striped">
            <thead>
            <tr class="warning">
              <th colspan="{{report.allTaxes.length + 10}}" class="text-center" style="font-size: 20px;">Delivery Consolidated</th>
            </tr>
            <tr class="info">
              <th>Delivery</th>
              <th class="text-center">No of Bills</th>
              <th class="text-center">Amount</th>
              <th class="text-center">Discount</th>
              <th class="text-center" ng-repeat="t in report.allTaxes">{{t.name}}</th>
              <th class="text-center">Gross Amount</th>
              <th class="text-center">RoundOff</th>
              <th class="text-center">G. Total</th>
              <th class="text-center">Cash</th>
              <th class="text-center">Credit Card</th>
              <th class="text-center">Debit Card</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in rows['consolidated']">
              <td><strong>{{row.delivery | capitalize}}</strong></td>
              <td class="text-center">{{row.noOfBills}}</td>
              <td class="text-center">{{row.totalAmount | number: 2}}</td>
              <td class="text-center">{{row.totalDiscount  | number: 2}}</td>
              <td class="text-center" ng-repeat="t in report.allTaxes">{{getTax(t.id, row) | number: 2}}</td>
              <td width="10%" class="text-right">{{row.totalNet  | number: 2}}</td>
              <td class="text-center">{{row.roundOff | number: 2}}</td>
              <td class="text-center">{{row.afterRoundOff | number: 2}}</td>
              <td class="text-center">{{row.totalCash}}</td>
              <td class="text-center">{{row.totalCreditCard}}</td>
              <td class="text-center">{{row.totalDebitCard}}</td>
            </tr>
            <tr style="font-size: 18px;" class="success">
              <td><strong>Total</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'noOfBills'}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalAmount' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalDiscount' | number: 2}}</strong></td>
              <td class="text-center" ng-repeat="t in report.allTaxes"><strong>{{getTotalTaxRows(t.id, rows['consolidated']) | number: 2}}</strong></td>
              <td width="10%" class="text-right"><strong>{{rows['consolidated'] | sumByKey: 'totalNet' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'roundOff' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'afterRoundOff' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalCash' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalCreditCard' | number: 2}}</strong></td>
              <td class="text-center"><strong>{{rows['consolidated'] | sumByKey: 'totalDebitCard' | number: 2}}</strong></td>
            </tr>
            </tbody>
          </table>
          <!--<table class="table table-condensed">
            <tbody>
            <tr>
              <td><a target="_blank" class="btn btn-warning pull-right" ng-if="isExcelDownloadReady" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a></td>
            </tr>
            </tbody>
          </table>-->

        </div>
      </tab>
      <tab heading="Item Wise">
        <div class="table-responsive" style="overflow-x: auto;">
          <table class="table table-condensed">
            <tbody ng-repeat="(deliveryname, deliverynameItems) in rows['itemwise'] | groupBy:'deliveryname'">
              <tr class="info">
                <td style="font-size: 20px;">{{deliveryname}}</td>
              </tr>
              <tr>
                <td style="padding:0;">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th width="40%">Item Name</th>
                        <th>Rate</th>
                        <th width="10%" class="text-right">Quantity</th>
                        <th width="10%" class="text-right">Subtotal</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="deliveryItem in deliverynameItems">
                        <td width="40%">{{deliveryItem.name}}</td>
                        <td width="10%">{{deliveryItem.rate}}</td>
                        <td width="10%" class="text-right">{{deliveryItem.quantity}}</td>
                        <td width="10%" class="text-right">{{deliveryItem.subtotal | number: 2}}</td>
                      </tr>
                      <tr class="warning">
                        <td width="40%"><strong>Total</strong></td>
                        <td width="10%">&nbsp;</td>
                        <td class="text-right" width="10%"><strong>{{deliverynameItems | sumByKey: 'quantity'}}</strong></td>
                        <td width="10%" class="text-right">{{deliverynameItems | sumByKey:'subtotal' | number: 2}}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td style="padding:0;">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th width="40%"><span style="font-size:16px;">Grand Total</span></th>
                        <th>&nbsp;</th>
                        <th width="10%" class="text-center">{{rows['itemwise'] | sumByKey: 'quantity'}}</th>
                        <th width="10%" class="text-right">{{rows['itemwise'] | sumByKey: 'subtotal' | number: 2}}</th>
                      </tr>
                    </thead>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab heading="Detail">
        <div class="table-responsive" style="overflow-x: auto;">
          <!--<table class="table table-condensed">
            <thead>
            <tr>
              <th>Export Options:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><a target="_blank" class="btn btn-warning" ng-if="isExcelDownloadReady" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a></td>
            </tr>
            </tbody>
          </table>-->
          <table class="table table-condensed table-bordered">
            <tbody ng-repeat="(delivery, deliveryBills) in rows['detail'] | groupBy:'delivery'">
            <tr class="info">
              <td class="text-center"><strong style="font-size: 18px;">{{delivery | capitalize}}</strong></td>
            </tr>
            <tr>
              <td style="padding: 0;">
                <table class="table table-condensed table-bordered">
                  <thead>
                  <tr>
                    <th class="text-center">Bill #</th>
                    <th class="text-center">Open Time</th>
                    <th class="text-center">Table #</th>
                    <th class="text-center">Covers</th>
                    <th class="text-center">Close Time</th>
                    <th class="text-center">Total Amount</th>
                    <th class="text-center">Discount</th>
                    <th class="text-center" ng-repeat="tax in report.allTaxes">{{tax.name}}</th>
                    <th class="text-center">Gross Amount</th>
                    <th class="text-center">Cash</th>
                    <th class="text-center">Credit Card</th>
                    <th class="text-center">Debit Card</th>
                  </tr>
                  </thead>
                  <tbody ng-repeat="(key, bills) in deliveryBills | groupBy: 'closeTime'">
                  <tr style="background-color: #ccd232;">
                    <td colspan="{{11 + report.allTaxes.length}}"><i class="fa fa-calendar"></i> <strong><i>{{key | date:'dd-MMM-yy'}}</i></strong></td>
                  </tr>
                  <tr ng-repeat="bill in bills" ng-class-odd="success" ng-class-even="info">
                    <td class="text-center">{{bill.serialNumber}}</td>
                    <td width="10%" class="text-center">{{bill._created | date: 'H:mm:ss a'}}</td>
                    <td width="10%" class="text-center">{{bill._tableId}}</td>
                    <td width="10%" class="text-center">{{bill._covers}}</td>
                    <td width="10%" class="text-center">{{bill._closeTime | date:'H:mm:ss a'}}</td>
                    <td width="10%" class="text-center">{{bill.totalAmount | number: 2}}</td>
                    <td width="10%" class="text-center">{{bill.totalDiscount | number: 2}}</td>
                    <td width="10%" class="text-center" ng-repeat="tax in report.allTaxes">{{getBillTax(tax.id, bill) | number: 2}}</td>
                    <td width="10%" class="text-center">{{bill.totalNet | number: 2}}</td>
                    <td width="10%" class="text-center">{{bill.totalCash | number: 2}}</td>
                    <td width="10%" class="text-center">{{bill.totalCreditCardAmount | number: 2}}</td>
                    <td width="10%" class="text-center">{{bill.totalDebitCardAmount | number: 2}}</td>
                  </tr>
                  <tr class="info">
                    <td colspan="2"><strong>Delivery Total</strong></td>
                    <td width="10%">&nbsp;</td>
                    <td width="10%">&nbsp;</td>
                    <td width="10%">&nbsp;</td>
                    <td width="10%" class="text-center"><strong>{{getTotalAmount(bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalDiscount(bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center" ng-repeat="tax in report.allTaxes"><strong>{{getTotalTax(tax.id, bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalNet(bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalCash(bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalCreditCardAmount(bills) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalDebitCardAmount(bills) | number: 2}}</strong></td>
                  </tr>

                  </tbody>
                  <tbody>
                  <tr ng-if="$last" class="danger">
                    <td colspan="2"><strong>Grand Total</strong></td>
                    <td width="10%"></td>
                    <td width="10%" ></td>
                    <td width="10%" ></td>
                    <td width="10%" class="text-center"><strong>{{ rows['detail'] | sumByKey: 'totalAmount' | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{ rows['detail'] | sumByKey: 'totalDiscount' | number: 2}}</strong></td>
                    <td width="10%" class="text-center" ng-repeat="tax in report.allTaxes"><strong>{{getTotalTax(tax.id, rows['detail']) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalNet(rows['detail']) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalCash(rows['detail']) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalCreditCardAmount(rows['detail']) | number: 2}}</strong></td>
                    <td width="10%" class="text-center"><strong>{{getTotalDebitCardAmount(rows['detail']) | number: 2}}</strong></td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </tab>
    </tabset>
  </div>
</div>
<!-- Report View By Delivery -->

