<div class="page-header">
    <h3>Tab/ User/ Waiter/Cashier Breakdown Report</h3>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="well" style="padding-top: 10px;padding-bottom:0px;">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <table class=" table-responsive "><tr><td>
                          Select  Deployment
                        </td>
                        <td style="padding-left: 10px;">

                            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
                                <option value="">Select Deployment</option>
                            </select>
                        </td>
                        </tr></table>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <table class=" table-responsive "><tr><td>
                            Type
                        </td>
                            <td style="padding-left: 10px;">

                            <select class="form-control" ng-change="onTabUserWaiterBDReportTypeChange()" ng-model="report.filters.breakDownBy">
                            <option value="">Select Type</option>
                            <option value="tabtype">By Tab</option>
                            <option value="user">By User</option>
                            <option value="waiter">By Waiter</option>
                            <option value="delivery">By Delivery</option>
                            <option value="cashier">By Cashier</option>
                        </select>
                            </td>
                            </tr></table>
                    </div>
                </div>
            </div>
            <div class="row" style="overflow-x: auto;">
              <!--  <div class="col-md-6">
                    <div class="form-group">
                        <label>From</label>
                        <input type="text" class="form-control" placeholder="From Date" ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd" ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>To</label>
                        <input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')" datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true" />
                    </div>
                </div>-->
                <table class="table table-condensed" >
                    <tr><td><label> From:</label></td><td>  <input type="text"  class="form-control" placeholder="From Date" ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd" ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true" />
                    </td><td><label> To:</label><td>
                        <input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')" datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true" />
                    </td><td>
                        <i class="btn btn-primary" ng-click="getReportTabUserWaiterBreakdownNew()">Submit</i>
                    </td>
                    </tr>
                </table>
              <div class="row" ng-if="report.filters.breakDownBy === 'tabtype'">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Tab Type</label>
                    <select class="form-control"  ng-model="report.filters.tabType" ng-options="tab.tabName as tab.tabName for tab in _tabs">
                      <option value="">Select Tab Type</option>
                    </select>
                  </div>

                </div>
              </div>
            </div>
        </div>
    </div>
  <div class="hc-pie" ng-if="showReportByTab" items="graphData" title="Tab Breakdown" options="{title: 'Total Sales by Tab'}">
  </div>
  <div class="hc-pie" ng-if="showReportForUser" items="graphData" title="User Breakdown" options="{title: 'Total Sales by User'}">
  </div>
  <div class="hc-pie" ng-if="showReportForWaiter" items="graphData" title="Waiter Breakdown" options="{title: 'Total Sales by Waiter'}">
  </div>
  <div class="hc-pie" ng-if="showReportForDelivery" items="graphData" title="Delivery Breakdown" options="{title: 'Total Sales by Delivery'}">
  </div>
            <div class="row" ng-show="!loading">
                <h3><i class="fa fa-spinner fa-spin"></i> Processing Report Data, please wait...</h3>
            </div>
            <div  ng-show="showReport" >

              <tabset>
                    <tab>
                        <tab-heading>Consolidated</tab-heading>
                        <div style="float: right; margin-top: 5px;"> <input type="button" class="btn btn-primary btn-xs" value="Export" ng-click="exportToExcelTUW('cons')" style="float:left"></div>
                        <div style="clear: both;">
                            <div style="max-width: 1000px;overflow: scroll;">
                                <div id="TUWDReportConsolidated"></div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>Detail</tab-heading>
                        <div style="float: right; margin-top: 5px;"> <input type="button" class="btn btn-primary btn-xs" value="Export" ng-click="exportToExcelTUW('detail')" style="float:left"></div>
                        <div style="clear: both;">
                            <div style="max-width: 1000px;overflow: scroll;">
                                <div id="TUWDReportItemWise"></div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>Item Wise </tab-heading>
                        <div style="float: right; margin-top: 5px;"> <input type="button" class="btn btn-primary btn-xs" value="Export" ng-click="exportToExcelTUW('item')" style="float:left"></div>
                        <div style="clear: both;">
                            <div style="max-width: 1000px;overflow: scroll;">
                                <div id="TUWDReportDetail"></div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>

</div>
