<div class="page-header">
  <h3>Tax Summary Report</h3>
</div>

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>From</label>
            <input type="text" class="form-control" placeholder="From Date" ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd" ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>To</label>
            <input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')" datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true" />
          </div>
        </div>
      </div>
      <a class="btn btn-primary" ng-click="getReportTaxSummary()">Generate Report</a>

    </div>
  </div>
</div>
<!-- Filter View -->

<!-- Report View -->
<div ng-if="showReport" class="row">

  <div class="hc-pie" items="graphData" title="Tax Summary" options="{title: 'Tax Summary by Close Day'}"></div>

</div>
  <div class="col-md-12">
    <div class="table table-responsive" style="overflow-x: auto;">
      <table  class="table table-condensed " >
        <tbody>
          <tr>
<!--            <td><a target="_blank" class="btn btn-warning pull-right" ng-if="isExcelDownloadReady" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a></td>-->
            <td><a target="_blank" class="btn btn-warning pull-right" ng-if="isExcelDownloadReady" ng-click="exportToCsv()" ><i class="fa fa-file-excel-o"></i> Download Excel</a></td>
          </tr>
        </tbody>
      </table>
      <div id="iteReportECons">



      </div>

    </div>
  </div>

<!-- Report View -->
