<div class="page-header">
  <h3>Tenant Wise Report</h3>
</div>

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>From</label>
            <input type="text" class="form-control" placeholder="From Date"
                   ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd"
                   ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>To</label>
            <input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')"
                   datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true"/>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" ng-click="getTenantWise()">Generate Report</a>
    </div>
  </div>
</div>

<div class="row" ng-show="!loading">
  <h3><i class="fa fa-spinner fa-spin"></i> Processing Report Data, please wait...</h3>
</div>

<div style="float: right; margin-top: 5px;"> <input type="button" class="btn btn-primary btn-xs" value="Export" ng-click="exportToExcel()" style="float:left"></div>

<div style="clear: both;">
  <div style="max-width: 1000px;overflow: scroll;">
    <div id="iteReportECons"></div>
  </div>
</div>

<!--
&lt;!&ndash; Filter View &ndash;&gt;

&lt;!&ndash; <pre style="height:300px;">
  {{bills | json}}
</pre>
<pre style="height:300px;">
  {{globalTaxes | json}}
</pre> &ndash;&gt;
<div ng-if="bills.length > 0" class="row">
  <div class="col-md-12">
    <div class="hc-pie" title="Invoice Details" items="graphData" options="{title: 'Total Sales by Tab'}"></div>
  </div>
</div>

<div ng-if="bills.length > 0" class="row">
  <div class="col-md-12">
    <a ng-if="$first" style="position: relative; float: right;" target="_blank" class="btn btn-warning pull-right"  ng-click="exportToExcelDynamic('invoiceDetailReportID')"><i class="fa fa-file-excel-o"></i> Download Excel</a>

    <div class="table-responsive" id="invoiceDetailReportID">
      <table class="table" ng-repeat="(key,closeTimeBills) in bills | groupBy:'closeTime'" >
        <thead>
        <tr ng-click="isCollapsed = !isCollapsed">
          <th align="left">
            <h2 class="span6"><i class="fa fa-calendar"></i> {{key | date: 'dd-MMM-yyyy'}} <small>
              &lt;!&ndash;                <a ng-if="$first" style="position: relative; float: right;" target="_blank" class="btn btn-warning pull-right" ng-if="isExcelDownloadReady" ng-href="{{excelDownloadFile}}"><i class="fa fa-file-excel-o"></i> Download Excel</a>&ndash;&gt;

            </small></h2>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="padding: 0px;">
            <table style="margin-bottom: 0;" class="table table-bordered" ng-repeat="bill in closeTimeBills" >
              <thead>
              <tr style="background-color: rgb(95, 176, 176);">
                <th style="padding: 8px;" align="left">
                  Bill# <strong>{{bill.serialNumber}}<span ng-if="bill.splitNumber != undefined">-{{bill.splitNumber}}</span></strong> ~
                  Day Serial# <strong>{{bill.daySerialNumber}}</strong> ~
                  &lt;!&ndash; Serial# <strong>{{bill.serialNumber}}</strong> ~ &ndash;&gt;
                  Tab: <strong>{{bill.tab}}</strong> ~
                  <i class="fa fa-clock-o"></i> Open: <strong>{{bill._created | date: 'dd/MM/yy hh:mm:ss a'}}</strong>
                  <i class="fa fa-clock-o"></i> Close: <strong>{{bill._closeTime | date:'dd/MM/yy hh:mm:ss a'}}</strong>

                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td style="padding:0;">
                  <table class="table table-condensed" style="margin: 0;">
                    <thead>
                    <tr class="info">
                      <th>Item Name</th>
                      <th class="text-center">Rate</th>
                      <th class="text-center">Qty</th>
                      <th class="text-center">Amount</th>
                      <th class="text-center">Discount</th>
                      <th class="text-center" ng-repeat="tax in report.allTaxes">{{tax.name}}</th>
                      <th class="text-center">Net Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in bill._items">
                      <td>{{item.name}}</td>
                      <td width="5%" class="text-center">{{item.rate}}</td>
                      <td  width="10%" class="text-center">{{item.quantity}}</td>
                      <td  width="10%" class="text-center">{{item.subtotal}}</td>
                      <td  width="10%" class="text-center">{{item.discount}}</td>
                      <td  width="10%" class="text-center" ng-repeat="tax in report.allTaxes">
                        {{getItemTax(tax.id, item, tax) | number: 2}}
                      </td>
                      <td  width="10%" class="text-center">{{item.itemNet | number: 2}}</td>
                    </tr>
                    <tr class="success">
                      <td colspan="2"><strong>BILL TOTAL</strong></td>
                      <td width="10%" class="text-center"><strong>{{bill.totalQty}}</strong></td>
                      <td width="10%" class="text-center"><strong>{{bill.totalAmount | number: 2}}</strong></td>
                      <td width="10%" class="text-center"><strong>{{bill.totalDiscount | number: 2}}</strong></td>
                      <td width="10%" class="text-center" ng-repeat="t in globalTaxes">
                        <strong>{{getBillTax(t.id, bill) | number: 2}}</strong>
                      </td>
                      <td width="10%" class="text-center"><strong>{{bill.totalNet | number: 2}}</strong></td>
                    </tr>
                    </tbody>
                    <tfoot ng-if="$last">
                    <tr>
                      <th>Day Total</th>
                      <th class="text-center"></th>
                      <th class="text-center">{{closeTimeBills | sumByKey:'totalQty'}}</th>
                      <th class="text-center">{{closeTimeBills | sumByKey:'totalAmount' | number: 2}}</th>
                      <th class="text-center">{{closeTimeBills | sumByKey:'totalDiscount' | number: 2}}</th>
                      <th class="text-center" ng-repeat="tax in globalTaxes">{{getTotalTax(tax.id, closeTimeBills) | number: 2}}</th>
                      <th class="text-center">{{closeTimeBills | sumByKey: 'totalNet' | number: 2}}</th>
                    </tr>
                    </tfoot>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      <table class="table">
        <tfoot>
        <tr>
          <td>Grand Total</td>
          <td>&nbsp;</td>
          <td width="10%" class="text-center">{{bills | sumByKey:'totalQty' | number: 2}}</td>
          <td width="10%" class="text-center">{{bills | sumByKey:'totalAmount' | number: 2}}</td>
          <td width="10%" class="text-center">{{bills | sumByKey:'totalDiscount' | number: 2}}</td>
          <td width="10%" class="text-center" ng-repeat="tax in globalTaxes">{{getTotalTax(tax.id, bills) | number: 2}}</td>
          <td width="10%" class="text-center">{{bills | sumByKey:'totalNet' | number: 2}}</td>
        </tr>
        </tfoot>
      </table>
    </div>

  </div>
</div>-->
