<div class="page-header">
  <h3>User Attendance Report</h3>
</div>

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Select Date</label>
            <input type="text" class="form-control" placeholder="Date"
                   ng-focus="openDatePicker($event, 'date')" datepicker-popup="yyyy-MM-dd"
                   ng-model="report.filters.date" is-open="date" ng-required="true"/>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" ng-click="getAttendance()">Generate Report</a>
      </div>
  </div>
</div>

<div class="row">
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Mobile</th>
        <th>Email Id</th>
        <th>User Id</th>
        <th>PunchIn Time</th>
        <th>PunchOut Time</th>
        <th>Total Hours Spent</th>
        <th>Shift Assigned</th>
        <th>CutOff Time</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="report in attendanceReport">
        <td>{{report.firstname?report.firstname:"NA"}}</td>
        <td>{{report.mobile?report.mobile:"NA"}}</td>
        <td>{{report.email?report.email:"NA"}}</td>
        <td>{{report.userId}}</td>
        <td>{{report.punchIn | date :  "h:mm a"}}</td>
        <td>{{report.punchOut | date :  "h:mm a"}}</td>
        <td>{{report.totalHours.toFixed(2)}}</td>
        <td><div class="row" ng-repeat="shift in report.shifts">{{shift.shiftFrom | date :  "h:mm a"}} To {{shift.shiftTo | date :  "h:mm a"}}</td>
        <td>{{report.cutoffTime | date :  "h:mm a"}}</td>
        <td>{{$parent.report.filters.date | date:"yyyy-MM-dd"}}</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

