<style type="text/css">
  .waiter-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #60728A;
  }

  .waiter-heading1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #60728A;
  }

  .text-bold-grey {
    font-size: 24px;
    font-weight: bold;
    color: #445162;
    font-family: Arial, Helvetica, sans-serif;
  }

  .text-bold-green {
    font-size: 24px;
    font-weight: bold;
    color: #29907b;
    font-family: Arial, Helvetica, sans-serif;
  }

  .text-bold-red {
    font-size: 24px;
    font-weight: bold;
    color: #FF0000;
    font-family: Arial, Helvetica, sans-serif;
  }

  .heading-white {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding-left: 15px;
  }

  .heading-white2 {
    font-size: 18px;
    font-weight: normal;
    color: #FFFFFF;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    padding-left: 15px;
  }

  .border {
    border: 1px solid #CCC;
    color: #CCC;
  }

  .grey-box-border {
    border: 1px solid #CCC;
    color: #CCC;
    background-color: #F7F7F7;
  }
</style>

<div class="page-header">
  <h3>Waiter Report Card</h3>
</div>

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <table>
        <tr>
          <td align="center">
            <label>Deployment</label>
          </td>
          <td align="center">
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id"
                    ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </td>
          <td align="center">
            <label>Waiter</label>
          </td>
          <td align="center">
            <select class="form-control" ng-change="onWaiterChange()" ng-model="report.filters.waiter_id"
                    ng-options="waiter._id as waiter.firstname for waiter in waiters">
              <option value="">Select Waiter</option>
            </select>
          </td>
        </tr>
        <tr>
          <td align="center">
            <label>From</label>
          </td>
          <td align="center">
            <input type="text" class="form-control" placeholder="From Date"
                   ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd"
                   ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true"/>
          </td>
          <td align="center">
            <label>To</label>
          </td>
          <td style="margin-bottom: 10px; ">
            <input type="text" class="form-control" placeholder="To Date"
                   ng-focus="openDatePicker($event, 'toDate')"
                   datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate"
                   ng-required="true"/>

          </td>
          <td>&nbsp; &nbsp; <a class="btn btn-primary" ng-click="getWaiterBillsInDateRange()">Generate Report</a></td>
        </tr>
      </table>
    </div>
    <div style="float: right; margin-top: 5px;"> <input type="button" class="btn btn-primary btn-xs" value="Export" ng-click="exportWaiterReportToWord()" style="float:left"></div>


  </div>
</div>

<div class="row" ng-show="!loading">
  <h3><i class="fa fa-spinner fa-spin"></i> Processing Report Data, please wait...</h3>
</div>

<div style="clear: both;" id="waiterReportCard">
  <div class="table-responsive">
    <div id="iteReportECons" ng-show="showReportCard">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td bgcolor="#ededed">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="4%"><img src="assets/images/waiter-icon.png" width="33" height="33"/></td>
                <td width="96%" class="waiter-name">Waiter Name : {{reportCard.waiterName}}</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td bgcolor="#f7f7f7">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="19%">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td>&nbsp;</td>
                      <td height="25" class="waiter-heading1">Total Revenue</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>

                      <td height="40" class="text-bold-grey">{{utils.roundNumber(reportCard.totalRevenue, 2)}}</td>

                    </tr>
                  </table>
                </td>
                <td width="0%"><img src="assets/images/top-seprator.png" width="3" height="83"/></td>
                <td width="17%">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td>&nbsp;</td>
                      <td height="25" class="waiter-heading1">No. of Table Served</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td height="40" class="text-bold-green">{{reportCard.numTables}}</td>
                    </tr>
                  </table>
                </td>
                <td width="0%"><img src="assets/images/top-seprator.png" width="3" height="83"/></td>
                <td width="17%">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="9%">&nbsp;</td>
                      <td width="91%" height="25" class="waiter-heading1">No. of Bills</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td height="40" class="text-bold-red">{{reportCard.numBills}}</td>
                    </tr>
                  </table>
                </td>
                <td width="0%"><img src="assets/images/top-seprator.png" width="3" height="83"/></td>
                <td width="16%">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td>&nbsp;</td>
                      <td height="25" class="waiter-heading1">No. of People Served</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td height="40" class="text-bold-grey">{{reportCard.numPeople}}</td>
                    </tr>
                  </table>
                </td>
               
                <td width="0%"><img src="assets/images/top-seprator.png" width="3" height="83"/></td>
                <td width="16%">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="9%">&nbsp;</td>
                      <td width="91%" height="25" class="waiter-heading1">APC</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td height="40" class="text-bold-grey">{{utils.roundNumber(reportCard.avgPerCover, 2)}}</td>
                    </tr>
                  </table>
                </td>
                <td width="0%"><img src="assets/images/top-seprator.png" width="3" height="83"/></td>
                <td width="15%">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="8%">&nbsp;</td>
                      <td width="92%" height="25" class="waiter-heading1">APT</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td height="40" class="text-bold-green">{{utils.roundNumber(reportCard.avgPerTable, 2)}}</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td height="35" bgcolor="#60728a" class="heading-white">efficiency</td>
        </tr>
        <tr>
          <td bgcolor="#f8f8f8">&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#f8f8f8">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="1%">&nbsp;</td>
                <td width="66%" valign="top">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="31%">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td height="80" bgcolor="#FFFFFF" class="border">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td align="center" class="waiter-name">KOT VOID</td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="50" class="grey-box-border">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td align="center" class="text-bold-green">{{reportCard.kotsVoid}}
                                          <sapn style="font-size: 10px;"> out of {{reportCard.numKots}}</sapn>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td width="1%">&nbsp;</td>
                            <td width="35%">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td height="80" bgcolor="#FFFFFF" class="border">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td align="center" class="waiter-name">ITEM CANCELLED</td>
                                      </tr>
                                      <tr>
                                        <td height="25" align="center" class="waiter-heading1">(% Items Cancelled)
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="50" class="grey-box-border">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td align="center" class="text-bold-green">{{reportCard.itemsCancelled}}<span
                                          style="font-size: 10px;"> out of {{reportCard.numItems}}</span>
                                          <br/>
                                          <span>({{utils.roundNumber(reportCard.percentItemsCancelled, 2)}}%)</span>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td width="1%">&nbsp;</td>
                            <td width="32%">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td height="80" bgcolor="#FFFFFF" class="border">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td align="center" class="waiter-name">TABLE VOID</td>
                                      </tr>
                                      <tr>
                                        <td height="25" align="center" class="waiter-heading1">(% of Bills Void)</td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="50" class="grey-box-border">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td align="center" class="text-bold-green">{{reportCard.tablesVoid}}<span
                                          style="font-size: 10px;">out of {{reportCard.numBills}}</span>

                                          <p>({{utils.roundNumber(reportCard.percentBillsVoid, 2)}}%)

                                          <p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td height="10px"></td>
                    </tr>
                    <tr>
                      <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="60" bgcolor="#FFFFFF" class="border">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td align="center" class="waiter-name">COMPLIMENTRY - NO OF ITMES</td>
                                </tr>
                                <tr>
                                  <td height="25" align="center" class="waiter-heading1">(% of Bills Complimentry)</td>
                                </tr>
                                <tr>
                                  <td align="center" class="waiter-name">{{reportCard.complementary.numItems}}</td>
                                </tr>
                                <tr>
                                  <td height="25" align="center" class="waiter-heading1">
                                    ({{utils.roundNumber(reportCard.complementary.percentBillsItemComplementary, 2)}}%)
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td height="50" class="grey-box-border">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="1%">&nbsp;</td>
                                  <td width="49%">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td width="21%" align="center" class="waiter-name">Amount</td>
                                        <td width="3%" align="left" class="waiter-name">&nbsp;</td>
                                        <td width="76%" align="left" class="text-bold-grey">
                                          {{utils.roundNumber(reportCard.complementary.amount, 2)}}
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="1%"><img src="assets/images/top-seprator.png" width="3" height="70"/></td>
                                  <td width="48%">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td width="47%" align="center" class="waiter-name">Complementary Bills</td>
                                        <td width="3%" align="left" class="waiter-name">&nbsp;</td>
                                        <td width="50%" align="left" class="text-bold-grey">
                                          {{reportCard.complementary.bills}}
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="1%">&nbsp;</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
                <td width="1%">&nbsp;</td>
                <td width="31%" valign="top" class="border">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="40" bgcolor="#FFFFFF">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="3%">&nbsp;</td>
                            <td width="70%" class="waiter-name">TOTAL DISCOUNT</td>
                            <td width="27%" class="text-bold-red">{{utils.roundNumber(reportCard.discount.amount, 2)}}
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td height="40" class="grey-box-border">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="3%">&nbsp;</td>
                            <td width="70%" class="waiter-heading1">No. of Bills Discount Given ( % )</td>
                            <td width="27%" class="text-bold-grey">{{reportCard.discount.numBills}}
                              ({{utils.roundNumber(reportCard.discount.discountedBillsPercent, 2)}}%)
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td height="40" bgcolor="#EDEDED" class="grey-box-border">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="3%">&nbsp;</td>
                            <td width="70%" class="waiter-heading1">Average Turn Around Time</td>
                            <td width="27%" class="text-bold-green">{{reportCard.avgTableTurAroundTimeHrs}}</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td height="40" bgcolor="#FFFFFF">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="3%">&nbsp;</td>
                            <td width="70%" class="waiter-heading1">No. of Tables Served per Day</td>
                            <td width="27%" class="text-bold-grey">{{utils.roundNumber(reportCard.numTablesPerDay)}}
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                      <tr>
                      <td height="40" bgcolor="#FFFFFF">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="3%">&nbsp;</td>
                            <td width="70%" class="waiter-heading1">No. of Quantity Served per Day</td>
                            <td width="27%" class="text-bold-grey">{{utils.roundNumber(reportCard.totalQty)}}
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>

                  </table>
                </td>
                <td width="1%">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td bgcolor="#f8f8f8">&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#f8f8f8">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="1%">&nbsp;</td>
                <td width="66%" valign="top" class="border">
                  <div style="width: 100%; height: 500px; overflow: scroll">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td colspan="2" height="35" bgcolor="#29907B" class="heading-white2">REVENUE DISTRIBUTION</td>
                      </tr>
                      <tbody style="overflow: scroll; height: 200px;">
                      <tr>
                        <td align="center" style="color: black" colspan="2" height="30" bgcolor="#8fbc8f">TOP CATEGORIES
                        </td>
                      </tr>
                      <tr>
                        <th style="color: black; font-weight: bold;" height="35" bgcolor="#EDEDED">Category</th>
                        <th style="color: black; font-weight: bold;" height="35" bgcolor="#EDEDED">Value</th>
                      </tr>
                      <tr ng-repeat="category in reportCard.categoryTotal | orderBy: -value">
                        <td style="color: black;" height="35" bgcolor="#EDEDED">{{category.key}}</td>
                        <td style="color: black;" height="35" bgcolor="#EDEDED">{{utils.roundNumber(category.value)}}
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="color: black" height="30" colspan="2" bgcolor="#8fbc8f">TOP ITEMS</td>
                      </tr>
                      <tr>
                        <th style="color: black; font-weight: bold;" height="35" bgcolor="#EDEDED">Item</th>
                        <th style="color: black; font-weight: bold;" height="35" bgcolor="#EDEDED">Value</th>
                      </tr>
                      <tr ng-repeat="item in reportCard.itemTotal">
                        <td style="color: black;" height="35" bgcolor="#EDEDED">{{item.key}}</td>
                        <td style="color: black;" height="35" bgcolor="#EDEDED">{{utils.roundNumber(item.value)}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
                <td width="1%">&nbsp;</td>
                <td width="31%">
                  <div style="width: 100%; height: 500px; overflow: scroll">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="border">
                    <tbody style="overflow: scroll; height: 500px;">
                    <tr>
                      <td height="35" bgcolor="#60728A" class="heading-white2">CATEGORY</td>
                    </tr>
                    <tr>
                      <td align="center" bgcolor="#FFFFFF">
                        <!--<div class="hc-pie" items="graphData" title="Top Categories" options="{title: 'Payment Details by Close Day'}"></div>-->
                        <!--<hc-pie-chart title="Browser usage" data="pieData">Placeholder for pie chart</hc-pie-chart>-->
                        <div class="hc-pie-chart" items="graphData.pieData" title="'Top Categories'"></div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
                <td width="1%">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td bgcolor="#f8f8f8">&nbsp;</td>
        </tr>
      </table>
    </div>
  </div>
</div>
