
<div ng-include="'components/navbar/navbarreports.html'"></div>
<div class="row affix-row">
  <div class="col-sm-3 col-md-2 affix-sidebar">
    <div class="sidebar-nav visible-md visible-lg">
      <div class="navbar navbar-default" role="navigation">

        <!-- <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div> -->

        <div class="navbar-collapse collapse sidebar-navbar-collapse">

          <ul class="nav navbar-nav" id="sidenav01">
            <!--<li class="active">
&lt;!&ndash;
              <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
                <h4>
                  Reports
                </h4>
              </a>
&ndash;&gt;
              &lt;!&ndash;<div class="collapse" id="toggleDemo0" style="height: 0px;">
                <ul class="nav nav-list">
                  <li><a href="#">ProfileSubMenu1</a></li>
                  <li><a href="#">ProfileSubMenu2</a></li>
                  <li><a href="#">ProfileSubMenu3</a></li>
                </ul>
              </div>&ndash;&gt;
            </li>-->
            <li>
              <!--<a href="#" ng-click="isCollapsed = !isCollapsed">
                <span class="glyphicon glyphicon-cloud"></span> Sales Reports <i class="fa" ng-class="{'fa-arrow-right': isCollapsed, 'fa-arrow-down': !isCollapsed}"></i>
              </a>
              <div collapse="isCollapsed" style="height: 0px;">
              -->
              <div style="overflow: scroll;height: 100%; position: fixed; width 20%;">
                <ul class="nav nav-list">
                  <li style="margin-bottom: -10px;"><a ng-if="isPermission('view_invoice_details')" ui-sref="reports.rpt_paymentDetails">Payment Details</a></li>
                  <li style="margin-bottom: -10px;"><a ng-if="isPermission('view_sale_items')" ui-sref="reports.rpt_invoiceDetails">Bill Item Details</a></li>
                  <li style="margin-bottom: -10px;"><a ng-if="isPermission('view_sale_item_category')" ui-sref="reports.rpt_categoryBreakdown">Sale by Item Category</a></li>
                  <li style="margin-bottom: -10px;"><a ng-if="isPermission('view_tax_summary')" ui-sref="reports.rpt_taxSummary">Tax Summary</a></li>
                  <li style="margin-bottom: -10px;"><a ng-if="isPermission('view_tab_user_waiter')" ui-sref="reports.rpt_tabUserWaiterBreakdown">Tab/User/Waiter Breakdown</a></li>
                  <li style="margin-bottom: -10px;"><a ng-if="isPermission('view_kot_detail')" ui-sref="reports.rpt_kotDetail">KOT Detail</a></li>
                  <li style="margin-bottom: -10px;"><a ng-if="isPermission('view_kot_delete_history')" ui-sref="reports.rpt_kotDeleteHistory">KOT Delete History</a></li>
                  <li style="margin-bottom: -10px;"><a ng-if="isPermission('view_average_bill')" ui-sref="reports.rpt_averageBill">Average Bill</a></li>
                  <li style="margin-bottom: -10px;"><a ng-if="isPermission('view_item_wise_enterprise')" ui-sref="reports.rpt_itemWiseEnterprise">Item wise Enterprise</a></li>
                  <!--Kanish report for instances-->
                  <li style="margin-bottom: -10px;"><a ui-sref="reports.rpt_complimentary">Complimentary</a></li>
                <!--  <li style="margin-bottom: -10px;"><a ui-sref="reports.rpt_complimentary_consolidated">Complimentary Consolidated</a></li>
                 --> <!--<li><a ui-sref="reports.rpt_otherPayments">Other Payments</a></li>-->
                  <li style="margin-bottom: -10px;"><a ui-sref="reports.rpt_otherPaymentsConsolidated">Other Payments Consolidated</a></li>
                    <li style="margin-bottom: -10px;"><a ui-sref="reports.rpt_otherPaymentsDetailed">Other Payments Detailed</a></li>
                  <li style="margin-bottom: -10px;"><a ui-sref="reports.rpt_instanceWiseReport">Instance Wise</a></li>
                  <li style="margin-bottom: -10px;"><a ui-sref="reports.rpt_discountReport">Discount Report</a></li>
                  <li style="margin-bottom: -10px;"><a ui-sref="reports.rpt_reprintReport">Reprint Report</a></li>
                    <li style="margin-bottom: -10px;"><a ui-sref="reports.rpt_saleReport">Taxation Report</a></li>
                    <li style="margin-bottom: -10px;"><a ui-sref="reports.rpt_waiterReportCard">Waiter Report Card</a></li>
                    <li style="margin-bottom: -10px;"><a ui-sref="reports.rpt_compareWaiters">Compare Waiters</a></li>
                    <li style="margin-bottom: -10px;"><a ui-sref="reports.rpt_hourlySales">Hourly Sales</a></li>
                    <li style="margin-bottom: -10px;"><a ui-sref="reports.rpt_billCustomer">Bill and Customer Consolidated</a></li>

                </ul>
                </div>
              <!--</div>-->
            </li>

            <!--<li><a href="#"><span class="glyphicon glyphicon-lock"></span> Normalmenu</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> WithBadges <span class="badge pull-right">42</span></a></li>
            <li><a href=""><span class="glyphicon glyphicon-cog"></span> PreferencesMenu</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </div>
  </div>
  <div class="col-sm-9 col-md-10 affix-content">
    <div class="container reports">
      <div ui-view=""></div>
    </div>
  </div>
</div>
