<div class="page-header" ng-init="flag=false">
  <h3>Download Reports</h3>
</div>

<div class="row">
  <div class=" form-inline col-md-12 well">
    <div class="form-group">
        <label class="control-label">Deployment:</label>
        <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
          <option value="">Select Deployment</option>
        </select>
        <a class="btn btn-primary" ng-click="getReportDownloads()">Generate Report</a>
    </div>
  </div>
  <div class="col-md-12">
  	<div class="well" ng-show="downloadReports.length>0">
  		<table class="table table-bordered table-condensed">
    		<tr>
	    		<th>S.No.</th>
	    		<th>Report</th>
          <th ng-click="flag = !flag">Generated On
            <span ng-show="flag==true" class='pull-right glyphicon glyphicon-chevron-up'></span>
            <span ng-show="flag==false" class='pull-right glyphicon glyphicon-chevron-down'></span>
          </th>
	    		<th>From Date</th>
	    		<th>To Date</th>
	    		<th>Download</th>
    		</tr>
    	    <tr ng-repeat="reportD in downloadReports | orderBy:'date':flag">
    	    	<td>{{$index + 1}}</td>
      			<td>{{reportD.reportType}}</td>
            <td>{{reportD.date | date:'MMM d, y hh:mm:ss a'}}</td>
      			<td>{{reportD.fromDate | date:shortDate}}</td>
      			<td>{{reportD.toDate | date:shortDate}}</td>
      			<td>
      				<a class="btn btn-default" ng-href="/api/uploads/{{reportD.filename}}?deployment_id={{report.filters.deployment_id}}&reportType={{reportD.reportType}}" target="_blank"><span class="glyphicon glyphicon-download-alt"></span></a>
      			</td>
      		</tr>
	    </table>
  	</div>
  </div>
</div>