<div class="modal-header">
    <h3 class="modal-title">Raw Material Estimation</h3>
</div>
<div class="modal-body">
    <div class="form-group">
    	<table id="printTable" class="table table-curved">
    		<thead>
    			<tr>
    				<th>#</th>
                    <th>Item Code</th>
    				<th>Item Name</th>
    				<th>Quantity</th>
    				<th>Unit</th>
                    <th>Price</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat="item in rawMaterial">
    				<td>{{$index+1}}</td>
                    <td>{{item.itemCode || '-'}}</td>
    				<td>{{item.itemName}}</td>
                    <td>{{item.calculatedQuantity}}</td>
    				<td>{{item.baseUnitName}}</td>
                    <td>{{item.price}}</td>
    			</tr>
    		</tbody>
    	</table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="print()">Download</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>