<tabset>
  <tab heading="Recipes" style="cursor:pointer;" ng-click="clearRecipeForm()">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div style="margin-top: 20px;"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <!-- <pre>{{receipeForm | json}}</pre> -->
              <div class="panel-heading">
                <h3 class="panel-title">Create Recipe</h3>
              </div>
              <div class="panel-body">
                <form name="formReceipe" ng-submit="createStockRecipe(formReceipe)" novalidate>
                  <div class="form-group" >
                    <label for="category">Select Category</label>
                    <select name="Icategory" class="form-control" ng-change="bindItems_receipeForm(receipeForm.category)" ng-options="c.categoryName for c in categories" ng-model="receipeForm.category"  required>
                      <option value="">Select Category</option>
                    </select>
                  </div>
                  <table>
                    <thead>
                    <th>Select Menu Items</th>
                    <th>Qty</th>
                    <th>Units</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    <tr>
                      <td>
                        <select class="form-control" ng-change="OnItemChange(receipeForm.selectedItem)" ng-model="receipeForm.selectedItem" ng-options="i.name for i in receipeForm.items" >
                          <option value="">Select Menu Items</option>
                        </select>
                      </td>
                      <td>
                        <input type="text" name="qty"  ng-model="receipeForm.selectedItem.quantity" class="form-control" smart-float1 required>
                        <!-- ng-change="checkQty_menu(receipeForm.selectedItem.quantity)" -->
                      </td>
                      <td>
                        <select name="iUnit" class="form-control" ng-model="receipeForm.selectedUnit" ng-options="u.unitName for u in receipeForm.uunits | filter: unitFilter" required>
                          <option value="">Select Units</option>
                        </select>
                      </td>
                      <td>
                        <button type="submit" class="btn btn-success"  ng-disabled="formReceipe.$invalid || updateValidation.disable">Update</button>
                        <button type="button" ng-confirm-message="ARE YOU SURE YOU WANT TO DELETE THIS?" ng-confirm-condition="true" ng-confirm-click="deleteRecipe(receipeForm.selectedItem)" class="btn btn-warning"  ng-disabled="formReceipe.$invalid || updateValidation.disable">Delete</button>
                      </td>
                      <td>
														<span class="help-block" ng-show="formReceipe.qty.$error.float">
					                						Invalid Conversion Factor
					            						</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-12" ng-show="receipeForm.showReceipeForm">
            <div class="panel panel-default">
              <!-- <pre>{{receipeDetailForm | json}}</pre> -->
              <div class="panel-heading">
                <h3 class="panel-title">Recipe Detail</h3>
              </div>
              <div class="panel-body">
                <form name="formReceipeDetails" ng-submit="submitRecipeDetails(formReceipeDetails)">
                  <div class="form-group">
                    <table>
                      <thead>
                      <th>Item Name</th>
                      <th>Qty</th>
                      <th>Units</th>
                      <th></th>
                      <th></th>
                      </thead>
                      <tbody>
                      <tr>
                        <td>
                        <div id = "scrollable-dropdown-menu">
                          <input type="text" id="f_1" ng-enter="goNext(2)" ng-change="clearItemModel(formReceipeDetails)" ng-model="receipeDetailForm.selectedItem" typeahead="s.itemName as searchDropdown(s.itemName,s.itemCode) for s in getSearchResultsForRecipeItems($viewValue) | limitTo : 100 " class="form-control" typeahead-on-select='OnItemChange_receipeDetailForm($item, $model, $label)'>
                          </div>
                          <!--<input type="text" id="f_1" ng-enter="goNext(2)" ng-model="receipeDetailForm.selectedItem" typeahead="s.itemName for s in receipeDetailForm.stockItems | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select='OnItemChange_receipeDetailForm($item, $model, $label)'>-->
                        </td>
                        <td>
                          <input id="f_2" type="text" name="conFactor" ng-enter="goNext(3)" ng-model="receipeDetailForm.quantity"  class="form-control" smart-float1  required>
                          <!-- ng-change="checkDetailqty(receipeDetailForm.quantity)" -->
                        </td>
                        <td>
                          <select name="sUNits" id="f_3" class="form-control" ng-model="receipeDetailForm.selectedUnits" ng-options="u.unitName for u in receipeDetailForm.units" required>
                            <option value="" >
                              Select
                            </option>
                          </select>
                        </td>
                        <td>
                          <button type="submit" class="btn btn-success"  ng-disabled="formReceipeDetails.$invalid">Add</button>
                        </td>
                        <td>
														<span class="help-block" ng-show="formReceipeDetails.conFactor.$error.float">
					                						Invalid Conversion Factor
					            						</span>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </form>
                <table class="table table-curved">
                  <thead>
                  <th>#</th>
                  <th>Item Code</th>
                  <th>Item Name</th>
                  <th>Quantity</th>
                  <th>Unit Name</th>
                  <th>Current Price</th>
                  <th>Avg. Price</th>
                  <th></th>
                  </thead>
                  <tbody>
                  <tr ng-repeat="i in availableReceipe">
                    <td>{{$index+1}}</td>
                    <td>{{i.itemCode || '-'}}</td>
                    <td>{{i.itemName}}</td>
                    <td>{{i.quantity}}</td>
                    <!-- <td>{{i.selectedUnitName}}</td> -->
                    <td>{{i.selectedUnitId.unitName}}</td>
                    <td>{{i.calculatedPrice}}</td>
                    <td>{{i.calculatedAveragePrice}}</td>
                    <td><a ng-confirm-message="Are you sure for Delete?" ng-confirm-condition="true" ng-confirm-click="removeRecipeDetails(i)"><i class="glyphicon glyphicon-trash"></i></a></td>
                  </tr>
                  <tr>
                    <td colspan="5">Total</td>
                    <td style="font-weight:bold;"> {{availableReceipe.totalTodayPrice}}</td>
                    <td style="font-weight:bold;"> {{availableReceipe.totalMonthlyPrice}}</td>
                    <td></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>

  <!-- modified -->
  <tab ng-if="utils.isUserPermitted(user, 'View Detailed Recipe Report')" heading="Recipe Report" style="cursor:pointer;" ng-click="setReportItems()">
    <!-- end -->
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div style="margin-top: 20px;"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <!-- <pre>{{recipeReportForm | json}}</pre> -->
              <div class="panel-heading">
                <h3 class="panel-title">Recipe Report</h3>
                <div style="float:right;margin-top:-25px">
									<span>
										<a class="btn btn-success" ng-click="exportRecipeReport()">
                      <span >Export </span>
                    </a>
									</span>
                </div>
              </div>
              <div class="panel-body">
                <form name="formRecipeReport" novalidate>
                  <div class="form-group">
                    <label for="menuItem">Menu Item</label>
                    <select name="menuItem" ng-change="itemChange_recipeReportForm(recipeReportForm.menuItems)" class="form-control" ng-model="recipeReportForm.menuItems" ng-options="u.name for u in items">
                      <option value="">All</option>
                    </select>
                  </div>
                  <table id="printTable_ReceipeReport" class="table table-curved">
                    <thead>
                    <th>#</th>
                    <th>Item Code</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Estimated Avg</th>
                    <th>Today's Price</th>
                    </thead>
                    <tbody ng-repeat="s in recipeReportForm.items">
                    <tr class="success" style="font-weight:bold;">
                      <td colspan="1"># {{$index+1}}</td>
                      <td colspan="1"></td>
                      <td colspan="1">{{s.recipeName}}</td>
                      <td colspan="1">{{s.quantity}}</td>
                      <td colspan="1">{{s.selectedUnitId.unitName}}</td>
                      <td colspan="1"></td>
                      <td colspan="1"></td>
                    </tr>
                    <tr ng-repeat="i in s.receipeDetails">
                      <td colspan="1">{{$index+1}}</td>
                      <td colspan="1">{{i.itemCode || '-'}}</td>
                      <td colspan="1">{{i.itemName}}</td>
                      <td colspan="1">{{i.quantity}}</td>
                      <td colspan="1">{{i.selectedUnitId.unitName}}</td>
                      <!-- <td>{{i.selectedUnitName}}</td> -->
                      <td colspan="1">{{i.calculatedAveragePrice}}</td>
                      <td colspan="1">{{i.calculatedPrice}}</td>
                    </tr>
                    <tr>
                      <td class="message" style="font-weight:bold;text-align:right;" colspan="5">Total</td>
                      <td style="font-weight:bold;"> {{s.receipeDetails.sumAveragePrice}}</td>
                      <td style="font-weight:bold;"> {{s.receipeDetails.sumLastPrice}}</td>
                    </tr>
                    <!-- <tr ng-repeat-end></tr> -->
                    </tbody>
                  </table>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>

  <tab heading="Material Estimation" style="cursor:pointer;" ng-click="material()">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div style="margin-top:20px;"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Material Estimation</h3>
              </div>
            </div>
            <div class="panel-body">
              <form name="formMaterialEstimation" ng-submit="submitMaterialEstimation(formMaterialEstimation)" novalidate>
                <div class="form-group">
                  <div class="col-xs-18 col-md-2" ng-repeat="c in materialEstimationForm.availableCategory">
                    <label for="{{c._id}}">
                      <input ng-disabled="materialEstimationForm.isSaved"  type="checkbox" id="{{c._id}}" ng-model="materialEstimationForm.selectedCategory[c._id]" ng-change="bindItems_materialEstimationForm(c._id)">
                      {{c.categoryName}}
                    </label>
                  </div>
                  <div>
                    <input   type="text" id="me_1" ng-enter="goNext_me(11)" ng-model="materialEstimationForm.itemToAdd" typeahead="item.name for item in materialEstimationForm.remainingItems | filter:{name: $viewValue} | limitTo:8" class="form-control" placeholder="Search items to add in current list " typeahead-on-select='addRemainingItem_materialEstimationForm($item, $model, $label)'>
                  </div>
                </div>
                <table class="table table-curved">
                  <thead>
                  <tr>
                    <th></th>
                    <th>Item Name</th>
                    <th>Category Name</th>
                    <th>Quantity</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="item in materialEstimationForm.items">
                    <td>
                      <a  style="cursor:pointer;" ng-click="deleteSelectedMEForm(item)"><i class="glyphicon glyphicon-remove"></i></a>
                    </td>
                    <td>{{item.name}}</td>
                    <td>{{item.category.categoryName}}</td>
                    <td>
                      <input type="text"  id="me_{{$index+1}}1"  ng-enter="goNextME({{$index+2}}1,item)" ng-model="item.qty" class="form-control" ng-change="enableSubmitButton_MaterialEstimation(materialEstimationForm.items)" numeric-only>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <button id="submitMaterialEstimationForm" type="submit" class="btn btn-success"  ng-disabled="materialEstimationForm.enableSubmit">
                  <span>Proceed </span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>
</tabset>
