<div class="modal-header">
    <h3 class="modal-title">Update Vendor Payment</h3>

</div>
<div class="modal-body">
    <div class="form-group">
        <label for="billAmount">Bill Amount : </label>
        <span>{{updateVendor.billAmount}}</span>
    </div>
    <div class="form-group">
        <label for="dueAmount">Due Amount : </label>
        <span>{{updateVendor.dueAmount}}</span>
    </div>
    <div class="form-group">
        <label for="updateAmount">Update Payment : </label>
        <input type="text" name="paidAmount" ng-model="updateVendor.paidAmount" ng-disabled="disableVendorPayment" ng-trim="true" numeric-only ng-change="formatPrice(updateVendor.paidAmount)" class="form-control" required>
    </div>
    <table class="table table-curved" ng-show="updateVendor.availableItems.length>0">
        <thead>
            <th>Bill No</th>
            <th>Date</th>
            <th>Amount Paid</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in updateVendor.availableItems">
                <td>
                    {{updateVendor.billNo}}
                </td>
                <td>
                    {{item.created |date :'dd MMM yyyy'}}
                </td>
                <td>
                    {{item.paidAmount}}
                </td>
            </tr>
            <tr>
                <td colspan="2">Total</td>
                <td style="font-weight:bold;"> {{updateVendor.totalPaid}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-disabled="updateVendor.disableOk" ng-click="ok()">OK</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>