<tabset>
	<tab heading="Vendor Payment" style="cursor:pointer;" ng-click="clearEditEntryTab()">
		<div ng-cloak class="row">

			<div style="margin-top: 20px;"></div>
			<div  class="col-md-12">
				<div class="row">
					<!-- <pre>{{editEntryForm | json}}</pre> -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Vendor Payment</h3>
						</div>
						<div class="panel-body">
							<form name="formEditEntry" novalidate>
								<table class="table">
									<tr>
										<td>Select From :</td>
										<td>
											<input type="text" date-format  name="validFrom"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="editEntryForm.fromDate" max-date="editEntryForm.maxDate" is-open="editEntryForm.fromDate.open" ng-click="editEntryForm.fromDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"close-text="Close" ng-change="checkDateGreater(editEntryForm.fromDate);"/>
										</td>

										<td>Select To :</td>
										<td>
											<input type="text" date-format  name="validTo"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="editEntryForm.toDate" max-date="editEntryForm.maxDate" is-open="editEntryForm.toDate.open" ng-click="editEntryForm.toDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"close-text="Close" ng-change="checkDateLesser(editEntryForm.toDate);"/>
										</td>

									</tr>
									<tr>

										<td>Select Entry Type</td>
										<td>
											<select  ng-model="editEntryForm.entryType" ng-change="bindStore_editEntryForm(editEntryForm.entryType)" ng-init="editEntryForm.entryType=1"  class="form-control">
													<option value="1">StockEntry</option>
											        <option value="2">StockSale</option>
											</select>
										</td>
										<td>Select Store</td>
										<td>
											<select  ng-model="editEntryForm.store" ng-change="bindVenRec_editEntryForm(editEntryForm.store)" ng-options="s.storeName for s in editEntryForm.stores" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
									</tr>
									<tr>
										<td>Select Vendor/Receiver</td>
										<td>
											<select  ng-model="editEntryForm.vendor" ng-change="bindCategory_physicalStockForm(editEntryForm.store)" ng-options="s.name for s in editEntryForm.vendorReceiver" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
										<td></td>
										<td>
											<a class="btn btn-success"  ng-click="startSearch()">Submit</a>
										</td>
									</tr>
								</table>

								<table class="table table-curved"  ng-show="editEntryForm.availableRecords.length>0">
									<thead>
										<th>Bill No</th>
										<th>Invoice No</th>
										<th>Batch Number</th>
										<th>Date</th>
										<th>Vendor/Receiver</th>
										<th>Total Qty</th>
										<th>Amount</th>
										<th>Paid Amt</th>
										<th>Due Amt</th>
										<th>View/Update</th>
									</thead>
									<tbody>
										<tr ng-repeat="item in editEntryForm.availableRecords | orderBy: 'created'">
                      <td ng-show="editEntryForm.entryType==1 && item.isPOEntry">
                        PO-{{resetSerialNumber==true?item.daySerialNumber:item.transactionNumber}}
                      </td>
                      <td ng-show="editEntryForm.entryType==1 && !item.isPOEntry">
												SE-{{resetSerialNumber==true?item.daySerialNumber:item.transactionNumber}}
											</td>
											 <td ng-show="editEntryForm.entryType==1 && !item.isPOEntry">
												{{item.invoiceNumber==undefined?'NA':item.invoiceNumber}}
											</td>
											 <td ng-show="editEntryForm.entryType==1 && !item.isPOEntry">
												{{item.batchNumber || 'NA'}}
											</td>
											<td ng-show="editEntryForm.entryType==2">
												SS-{{resetSerialNumber==true?item.daySerialNumber:item.transactionNumber}}
											</td>
											<td ng-show="editEntryForm.entryType==2">
												{{item.invoiceNumber==undefined?'NA':item.invoiceNumber}}
											</td>
											<td>
												{{item.created |date :'dd MMM yyyy'}}
											</td>
											<td>
												{{item._store.vendor.vendorName}}  {{item._store.receiver.receiverName}}
											</td>
											<td>{{item.totalQty}}</td>
											<td>{{item.totalAmt}}</td>
											<td>{{item.totalPaid}}</td>
											<td>{{item.totalDue}}</td>
											<td>
												<a style="cursor:pointer;" ng-click="UpdateVendorPatment(item)"><i class="glyphicon glyphicon-edit"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tab>
</tabset>
