<tabset>
	<tab heading="Purchase Summary Report" style="cursor:pointer;" ng-click="clearPurchaseSummary()">
		<div ng-cloak class="row">

			<div style="margin-top: 20px;"></div>
			<div  class="col-md-12">
				<div class="row">
					<!-- <pre>{{purchaseSummaryForm | json}}</pre> -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Purchase Summary Report</h3>
						</div>
						<div class="panel-body">
							<form name="formPurchaseSummary" novalidate>
								<table class="table">
									<tr>
										<td>Select From :</td>
										<td>
											<input type="text" date-format  name="validFrom"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="purchaseSummaryForm.fromDate" max-date="purchaseSummaryForm.maxDate" is-open="purchaseSummaryForm.fromDate.open" ng-click="purchaseSummaryForm.fromDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true"  ng-required="true"close-text="Close" ng-change="checkDateGreater(purchaseSummaryForm.fromDate);"/>
										</td>

										<td>Select To :</td>
										<td>
											<input type="text" date-format  name="validTo"  class="form-control"  datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="purchaseSummaryForm.toDate" max-date="purchaseSummaryForm.maxDate" is-open="purchaseSummaryForm.toDate.open" ng-click="purchaseSummaryForm.toDate.open = true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-readonly="true"  ng-required="true"close-text="Close" ng-change="checkDateLesser(purchaseSummaryForm.toDate);"/>
										</td>

									</tr>
									<tr>
										<td>Select Store</td>
										<td>
											<select  ng-model="purchaseSummaryForm.store" ng-change="bindItems_PurchaseSummary(purchaseSummaryForm.store)" ng-options="s.storeName for s in purchaseSummaryForm.stores" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
										<td>Select Item</td>
										<td>
											<select  ng-model="purchaseSummaryForm.item"  ng-options="s.itemName for s in purchaseSummaryForm.availableItems" class="form-control">
													<option value="">Select All </option>
											</select>
										</td>
									</tr>
									<tr>
										<td colspan="4">
											<a class="btn btn-success"  ng-click="startSearch()">Submit</a>
											<div class="btn-group" ng-show="purchaseSummaryForm.reportData.length>0">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    Export <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											    <li><a  style="cursor:pointer;"  ng-click="exportToPdf_purchaseSummary()">PDF</a></li>
											    <li><a  style="cursor:pointer;" ng-click="exportToExcel_purchaseSummary()">EXCEL</a></li>
											    <!-- <li><a href="#">Something else here</a></li>
											    <li role="separator" class="divider"></li>
											    <li><a href="#">Separated link</a></li> -->
											  </ul>
											</div>
										</td>
									</tr>
								</table>

								<div id="purchaseSummaryReport">
									<table class="table table-curved" style="width:100%" border="1" ng-show="purchaseSummaryForm.reportData.length>0">
										<thead>
										<th style="background-color:#24242D;font-weight:bold;color:#fff">Item Code</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Item Name</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Quantity</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Unit</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Amount</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Discount</th>
											<!-- <th style="background-color:#24242D;font-weight:bold;color:#fff">S.Charge</th>
											 --><th style="background-color:#24242D;font-weight:bold;color:#fff">Vat</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Cartage</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Net Additional Charge</th>
											<th style="background-color:#24242D;font-weight:bold;color:#fff">Total</th>
										</thead>
										<tbody>
											<tr ng-repeat="item in purchaseSummaryForm.reportData">
												<td>{{item.itemCode || '-'}}</td>
												<td>{{item.itemName}}</td>
												<td>{{item.qty}}</td>
												<td>{{item.unitName}}</td>
												<td>{{item.amount}}</td>
												<td>{{item.discount}}</td>
												<!-- <td>{{item.serviceCharge}}</td> -->
												<td>{{item.vat}}</td>
												<td>{{item.cartage}}</td>
												<td>{{item.netAdditionalCharge}}</td>
												<td>{{item.total}}</td>
											</tr>
											<tr>
												<td colspan="4" style="text-align:right;background-color:#abcabc;">
													<b>Grand Total</b>
												</td>
												<td  style="background-color:#abcabc;"><b>{{purchaseSummaryForm.reportData.grandTotal.amount}}</b></td>
												<td style="background-color:#abcabc;"><b>{{purchaseSummaryForm.reportData.grandTotal.discount}}</b></td>
												<!-- <td style="background-color:#abcabc;"><b>{{purchaseSummaryForm.reportData.grandTotal.serviceCharge}}</b></td> -->
												<td style="background-color:#abcabc;"><b>{{purchaseSummaryForm.reportData.grandTotal.vat}}</b></td>
												<td style="background-color:#abcabc;"><b>{{purchaseSummaryForm.reportData.grandTotal.cartage}}</b></td>
												<td style="background-color:#abcabc;"><b>{{purchaseSummaryForm.reportData.grandTotal.netAdditionalCharge}}</b></td>
												<td style="background-color:#abcabc;"><b>{{purchaseSummaryForm.reportData.grandTotal.total}}</b></td>
											</tr>
										</tbody>
									</table>				
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tab>
</tabset>