<tabset>

  <tab  ng-if="indentChallan.enableForm" active="indentChallan.activeOrder"  heading="Orders" style="cursor:pointer;" >

    <div   ng-cloak class="row">
      <div class="col-md-12">
        <div style="margin-top: 20px;"></div>
        <div class="row">
          <div  class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Indent Order</h3>
                <div style="float:right;margin-top:-25px">
                        <span>
                          <a class="btn btn-danger" ng-click="resetStockEntryTab()">
                            <span ng-if="!indentGrnOrderForm.isEdit">Reset </span>
                            <span ng-if="indentGrnOrderForm.isEdit">Edit</span>
                          </a>
                        </span>
                </div>
              </div>
              <div class="panel-body">
                <form  name="formStockEntry" ng-submit="submitStockEntryMultipart(formStockEntry)" novalidate>
                  <div class="panel panel-default col-md-12">
                    <table class="table">
                      <tr>
                        <td>Bill No</td>
                        <td>
                          <span ng-show="indentGrnOrderForm.showOpenBill">{{indentGrnOrderForm.openBillNumber}} </span>
                                <span  ng-show="indentGrnOrderForm.showBill">
                                  {{indentGrnOrderForm.tempBillNo}}
                                </span>
                        </td>
                        <td>Bill Date</td>
                        <td>
                          <input type="text" date-format ng-disabled="indentGrnOrderForm.isSaved || true" name="validFrom"
                                 class="form-control"
                                 datepicker-popup="{{'dd-MMM-yyyy'}}"
                                 ng-model="indentGrnOrderForm.billDate"
                                 max-date="indentGrnOrderForm.maxDate"
                                 is-open="indentGrnOrderForm.billDate.open"
                                 ng-click="indentGrnOrderForm.billDate.open = true"
                                 ng-change="tempBill_entryForm(indentGrnOrderForm.billDate)"
                                 datepicker-options="dateOptions"
                                 date-disabled="disabled(date, mode)"
                                 ng-required="true"
                                 ng-readonly="true"
                                 close-text="Close"/>
                        </td>
                      </tr>
                      <tr>
                        <td>Select Store</td>
                        <td>
                          <select  ng-disabled="indentGrnOrderForm.isSaved"  ng-model="indentGrnOrderForm.store" ng-change="bindVendor_entryForm(indentGrnOrderForm.store)" ng-options="s.storeName for s in stores" class="form-control">
                            <option value="">Select Store </option>
                          </select>
                        </td>
                        <td>Select Vendor</td>
                        <td>
                          <select  ng-disabled="indentGrnOrderForm.isSaved"  ng-model="indentGrnOrderForm.vendor" ng-change="bindCategory_entryForm(indentGrnOrderForm.vendor,indentGrnOrderForm.store)" ng-options="v.vendorName for v in indentGrnOrderForm.availableVendor" class="form-control">
                            <option value="">Select Vendor</option>
                          </select>
                        </td>

                      </tr>
                      <tr ng-show="indentGrnOrderForm.availableCategory.length > 0">
                        <td colspan="12">
                          <span >Select Category</span>

                          <table class="table responsive">
                            <tr>
                              <div class="row">
                                <div class="col-md-2" ng-repeat="c in indentGrnOrderForm.availableCategory">
                                  <label for="{{c._id}}">
                                    <input ng-disabled="indentGrnOrderForm.isSaved"  type="checkbox" id="{{c._id}}" ng-model="indentGrnOrderForm.selectedCategory[c._id]" ng-change="bindItems_entryForm(c._id)">
                                    {{c.categoryName}}
                                  </label>
                                  <!-- <br ng-if="($index+1)%4" /> -->
                                </div>
                              </div>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr ng-show="indentGrnOrderForm.availableTemplate.length > 0">
                        <td colspan="6">
                          <span >Select Template</span>
                          <table class="table responsive">
                            <tr>
                              <td   ng-repeat="c in indentGrnOrderForm.availableTemplate">
                                <label for="{{c._id}}">
                                  <input ng-disabled="indentGrnOrderForm.isSaved"  type="radio"  ng-model="indentGrnOrderForm.selectedTemplate" name="indentGrnOrderForm.template" ng-change="bindItems_entryFormTemplate(c._id)" ng-value="c._id">
                                  {{c.templateName}}
                                </label>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <table class="table">
                    <tr>
                      <td>
                        <input  ng-disabled="indentGrnOrderForm.isSaved"  type="text" id="f_1" ng-enter="goNext(11)" ng-model="indentGrnOrderForm.itemToAdd" typeahead="item.itemName for item in indentGrnOrderForm.remainingItems | filter:{itemName: $viewValue} | limitTo:8" class="form-control" placeholder="Search items to add in current list " typeahead-on-select='addRemainingItem_indentGrnOrderForm($item, $model, $label)'>
                      </td>
                    </tr>
                  </table>
                  <div ng-show="indentGrnOrderForm.availableItems.length>0">
                    <table class="table table-curved" >
                      <thead>
                      <th  ng-hide="indentGrnOrderForm.isSaved"></th>
                      <th>Item Name</th>
                      <th>Units</th>
                      <th>Available Qty</th>
                      <th>Quantity</th>
                      <th>Unit Price</th>
                      <th>comment</th>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in indentGrnOrderForm.availableItems ">
                        <td  ng-hide="indentGrnOrderForm.isSaved">
                          <a  ng-disabled="indentGrnOrderForm.isSaved"  style="cursor:pointer;" ng-click="deleteSelectedItemEntryForm(item)"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                        <td>
                          {{item.itemName}}
                        </td>
                        <td>
                          <select  ng-disabled="indentGrnOrderForm.isSaved"  name="unitName"  ng-change="enableSubmitButton_IndentGRNOrder(indentGrnOrderForm.availableItems,item,indentGrnOrderForm.selectedUnits)"  ng-model="indentGrnOrderForm.selectedUnits[item._id]"  ng-options="u.unitName for u in item.units" class="form-control">
                            <option value="">Select Unit</option>
                          </select>
                        </td>
                        <td>{{item.availableQtyInBase}}</td>
                        <td>
                          <input  ng-disabled="indentGrnOrderForm.isSaved"  type="text" id="f_{{$index+1}}1" ng-change="calculateAmt_entryForm(item.qty,item.price,item,item.vatPercent); enableSubmitButton_IndentGRNOrder(indentGrnOrderForm.availableItems,item,indentGrnOrderForm.selectedUnits);" ng-enter="goNext({{$index+1}}2 )" ng-model="item.qty" class="form-control" float>
                        </td>
                        <td>
                          <input  ng-blur="checkStockEntryForOpenTransactionAndSave()"  ng-disabled="indentGrnOrderForm.isSaved"  type="text" ng-change="calculateAmt_entryForm(item.qty,item.price,item,item.vatPercent); enableSubmitButton_IndentGRNOrder(indentGrnOrderForm.availableItems,item,indentGrnOrderForm.selectedUnits);" ng-model="item.price"  id="f_{{$index+1}}2" class="form-control" ng-enter="goNext({{$index+2}}1)" float>
                        </td>
                        <td>
                          <input type="text" ng-model="item.comment"  class="form-control" >
                        </td>
                      </tr>
                      </tbody>

                    </table>


                    <button id="submitEntry" type="submit" class="btn btn-success"  ng-disabled="indentGrnOrderForm.enableSubmit">

                      <span>Submit & Print</span>
                    </button>

                    <div style="float:right;" ng-show="false">
                      <a class="btn btn-success" ng-disabled="indentGrnOrderForm.enableSubmit" ng-click="createEntryTemplate()">Add as template</a>
                    </div>
                  </div>
                  <div class="error-message" ng-show="indentGrnOrderForm.unitsMissing">
                    Some Items with undefined units are not available for you to order at the moment.
                  </div>
                  <!-- ng-if="indentGrnOrderForm.sumOfItems > 0" ng-hide="true" -->
                  <div  id="indentOrderRequest" class="table-responsive" ng-hide="true" >

                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-border">
                          <tr rowspacing="0">
                            <td colspan="3" style="text-align: center;">
                              {{setting.title}}
                            </td>
                          </tr>
                          <tr>
                            <td colspan="3" style="text-align: center;">---------------------------------------</td>
                          </tr>
                          <tr>
                            <td colspan="3" style="text-align: center;">
                              {{setting.address}}
                            </td>
                          </tr>
                          <tr>
                            <td colspan="3" style="text-align: center;">
                              <hr>
                            </td>
                          </tr>
                          <tr>
                            <td width="34%">&nbsp;</td>
                            <td width="41%">&nbsp;</td>
                            <td width="25%">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="48%"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                    <tr class="h3">
                                      <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>{{currentDeployment.name}}</strong></td>
                                    </tr>
                                    <tr>
                                      <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{setting.title}}</td>
                                    </tr>
                                    <tr>
                                      <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{setting.address}}</td>
                                    </tr>
                                  </table>






                                    <!--      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-border">
                                                                  <tr>

                                                                      <td><h3>{{currentDeployment.name}}</h3></td>
                                                                  </tr>

                                                                  <tr>
                                                                      <td height="5"></td>
                                                                  </tr>
                                                                  &lt;!&ndash; <tr>
                                                                      <td height="5">
                                                                          <h5>{{currentDeployment.address1}} {{currentDeployment.address2}} {{currentDeployment.city}} {{currentDeployment.state}}</h5>
                                                                      </td>
                                                                  </tr> &ndash;&gt;
                                                                  <tr>
                                                                      <td height="5">
                                                                          <h5> {{setting.title}}</h5>
                                                                      </td>
                                                                  </tr>

                                                                  <tr>
                                                                      <td height="5">
                                                                          <h5> {{setting.address}}</h5>
                                                                      </td>
                                                                  </tr>
                                                                  <tr>
                                                                      <td height="5"></td>
                                                                  </tr>-->
                              </table>
                            </td>
                          </tr>
                        </table>
                        </td>
                      </tr>
                      <tr>
                        <td height="40" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#00000; border:dotted 1px #999999; ">Indent</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                            <tr>
                              <td width="50%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Indent Number</td>
                              <!-- <td width="27%" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Date</td>
                                                    <td width="24%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">PO Number</td> -->
                              <td width="50%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Indent Date</td>
                            </tr>
                            <tr class="content-text">
                              <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{indentGrnOrderForm.tempBillNo}}</td>
                              <!-- <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{today | date: 'dd-MMM-yyyy'}}</td> -->
                              <!--  <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">PO {{indentGrnDeliveryChallanForm.daySerialNumber}}</td> -->
                              <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;" >{{indentGrnOrderForm.billDate | date: 'dd-MMM-yyyy'}}</td>
                            </tr>
                          </table></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="48%"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                              <tr class="h3">
                                <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>To</strong></td>
                              </tr>
                              <tr>
                                <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{indentGrnOrderForm.vendor.vendorName}}</td>
                              </tr>
                              <tr>
                                <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">
                                  {{indentGrnOrderForm.vendor.contactNumber}}
                                  <br>
                                  {{indentGrnOrderForm.vendor.address}}
                                </td>
                              </tr>
                            </table></td>
                            <td width="2%">&nbsp;</td>
                            <td width="50%" valign="top">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                <tr class="h3">
                                  <td width="35%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>Store Location</strong></td>
                                  <td width="65%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{indentGrnOrderForm.store.storeLocation}}</td>
                                </tr>
                                <tr class="content-text">
                                  <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>Store UID</strong></td>
                                  <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{indentGrnOrderForm.store.storeUID}}</td>
                                </tr>
                              </table></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td height="5"></td>
                      </tr>
                      <tr bgcolor="#FFFFFF">
                        <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">

                          <thead style='background-color:#CFFFE9;'>
                          <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Item Name</th>
                          <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Unit</th>
                          <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Quantity</th>
                          <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;" ng-if="!hidePricing">Rate</th>
                          <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;" ng-if="!hidePricing">Amount</th>
                          </thead>

                          <tr ng-repeat="item in indentGrnOrderForm.items ">
                            <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{item.itemName}}</td>
                            <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{item.selectedUnit.unitName}}</td>
                            <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{item.qty}}</td>
                            <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;" ng-if="!hidePricing">{{item.price}}</td>
                            <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;" ng-if="!hidePricing">{{item.qty * item.price}}</td>
                          </tr>

                          <br/>
                          <br/>
                          <hr/>

                          </br>
                          <tr ng-if="!hidePricing"><td colspan="4"  height="30" style="text-align: right;,font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>Total: </strong></td><td width="25%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">
                            {{indentGrnOrderForm.sumOfItems}}</td></tr>


                        </table></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>

                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="44%">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                  <tr class="content-text">
                                    <td bgcolor="#EEEEEE" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;color:#00000; border:solid 1px #999999;">
                                      Vat No :{{setting.vatTin}}
                                      <br>
                                      Tin No :{{setting.taxTin}}
                                    </td>
                                  </tr>
                                </table>
                              </td>
                              <td width="4%">&nbsp;</td>
                              <td width="2%">&nbsp;</td>
                              <td width="50%" valign="top">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                  <tr style="padding-left: 10%" class="content-text">
                                    <td height="30" class="table-border" bgcolor="#EEEEEE">
                                      Authorised Signature_________________
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="44%"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                              <tr class="content-text">
                                <td bgcolor="#EEEEEE" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;color:#00000; border:dotted 1px #999999;"><p>I hereby certify that my registration certificate under/.......................</p></td>
                              </tr>
                            </table></td>

                            <td width="4%">&nbsp;</td>
                            <td width="2%">&nbsp;</td>
                            <td width="50%" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                              <tr class="content-text">
                                <td height="30" class="table-border" bgcolor="#EEEEEE"><p>{{settings.billRightFooter}}</p></td>
                              </tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                          <tr class="content-text">
                            <td bgcolor="#EEEEEE" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;color:#00000; border:dotted 1px #999999; text-align: center;"><p>{{settings.billFooter}}</p></td>
                          </tr>
                        </table></td>
                      </tr>
                    </table>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>

  <tab ng-if="currentDeployment.isBaseKitchen && !indentChallan.enableForm" heading="Check Requirements"  active="indentChallan.activeChallan" style="cursor:pointer;"  ng-click="clearChallan()">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div class="margin-top:20px;"></div>
        <div class="row">
          <div class="col-md-12">
            <div>
              <table class="table table-curved table-curved-hover ">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Requirement Date</th>
                  <th>Requirement No</th>
                  <th>Outlet Name</th>
                  <th>User Name</th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="r in  req.indents| orderBy:'-created'" style="cursor:pointer;">
                  <td>{{$index+1}}</td>
                  <td>{{r.created | date:'dd MMM yyyy @ h:mma'}}</td>
                  <td>IN -{{r.requirementNumber}}</td>
                  <td>{{r.deploymentName}}</td>
                  <td>{{r.user.username}}</td>
                  <td><a href="#" ng-click="openIndentGrnDeliveryChallanForm(r)">Open</a></td>
                  <td><input type="checkbox" ng-model="indentGrnDeliveryChallanForm.selectedOutletRequirements[r._id]" ng-change="selectionForConsolidation()"></input></td>
                </tr>

                <tr ng-show="req.indents.length<=0">
                  <td colspan="5">No Items present for Challan </td>
                </tr>
                </tbody>
              </table>

              <div align="center">
                <pagination total-items="countChallan"
                            ng-click="newPage(chkpagination.currentPage)"
                            ng-model="chkpagination.currentPage"
                            items-per-page="chkpagination.itemsPerPage"></pagination>

              </div>

              <br/>
              <br/>

              <div align="right" ng-if="!indentGrnDeliveryChallanForm.showConsolidated" ><button ng-disabled="!selectedForConsoloidated" class="btn btn-primary" ng-click="openConsolidatedIndentReport()"><span>View Consolidated</span></button>
              </div>

              <div align="right" ng-if="indentGrnDeliveryChallanForm.showConsolidated"><button class="btn btn-primary" ng-click="hideConsolidatedList()"><span>Hide Consolidated</span></button>
              </div>

              <br/>
              <br/>
              <div ng-show="indentGrnDeliveryChallanForm.showConsolidated && !indentGrnDeliveryChallanForm.open ">

                <div class="col-md-12">
                  <div class="col-md-4">
                    <table class="table table-curved">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>Item Name</th>
                        <th>Requested Qty</th>
                        <th>Unit</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in indentGrnDeliveryChallanForm.consolidatedRequirements.slice(((consolidationpagination.currentPage-1)*consolidationpagination.itemsPerPage),((consolidationpagination.currentPage)*consolidationpagination.itemsPerPage)) " ng-class="{'error-message': !item.recipeAvailable || !item.kitchenDetails}">
                        <td>{{$index+1}}</td>
                        <td>{{item.itemName}}</td>
                        <td>{{item.consolidatedQuantity}}</td>
                        <td>{{item.selectedUnit.unitName}}</td>

                      </tr>
                      </tbody>
                    </table>
                    <!--modified 19/7/16-->
                    <div>
                    
                      <button id="printConsolidatedTable" ng-click="printConsolidatedChallan()"  class="btn btn-success" >
                      <span >Export Consolidated Challan </span>
                      </button>
                    
                      <pagination total-items="indentGrnDeliveryChallanForm.consolidatedRequirements.length"
                                  ng-model="consolidationpagination.currentPage"
                                  items-per-page="consolidationpagination.itemsPerPage"></pagination>
                    </div>

                  </div>
                  <div class="col-md-2" ng-if="hasKitchenDetailAndrecipe()">
                    <div align="center" ng-click="estimateRawMaterials()">
                      <button class="btn btn-default">
                        <span ng-if="!indentGrnDeliveryChallanForm.getEstimation">Estimation</span>
                        <!-- <span ng-if="indentGrnDeliveryChallanForm.getEstimation">Wait......</span> -->
                      </button>
                    </div>
                  </div>
                  <div ng-show="indentGrnDeliveryChallanForm.getMaterialEstimation">
                    <div class="col-md-6">
                      <table class="table table-curved">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Raw Material</th>
                          <th>Qty</th>
                          <th>Unit</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="raw in rawMaterialByKitchen">
                        <tr><td colspan="4">{{raw.name}}</td></tr>
                        <tr ng-repeat="item in raw.items" >
                          <td>{{$index+1}}</td>
                          <td>{{item.itemName}}</td>
                          <td>{{item.calculatedQuantity}}</td>
                          <td>{{item.baseUnitName}}</td>
                        </tr>
                        </tbody>
                      </table>
                      <div class="col-md-12">
                        <p class="text-danger" ng-show="!indentGrnDeliveryChallanForm.allowTransfer">Insufficient Items ({{indentGrnDeliveryChallanForm.unavailableItems.join(', ')}}), cannot transfer raw materials.</p>
                        <div align="right">
                          <button ng-disabled="!indentGrnDeliveryChallanForm.enableSubmitPrint || !indentGrnDeliveryChallanForm.allowTransfer ||stores.length<=1" class="btn btn-primary" ng-click="indentGrnDeliveryChallanForm.enableSubmitPrint = false; transferMaterialsKitchenWise()">Transfer & Print
                          </button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div ng-if="indentGrnDeliveryChallanForm.recipesNotAvailable">
                  <div class="error-message">** Items marked red do not have their recipes defined or have not been assigned to a kitchen and hence have been excluded from material estimation.</div>

                </div>
              </div>
            </div>
            <div ng-show="indentGrnDeliveryChallanForm.open && !indentGrnDeliveryChallanForm.requirementSupplied">

              <table class="table table-curved">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Item Name</th>
                  <th>Asked Qty</th>
                  <th>Unit</th>
                  <th>Asked Comment</th>
                  <th>Available Qty</th>
                  <th>Available Qty In Outlet</th>
                  <th>Supply Qty</th>
                  <th>Rate</th>
                  <th>Supplier Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in indentGrnDeliveryChallanForm.items" ng-class="{'error-message': item.noCategory || item.noKitchenDetail || item.noRecipeDetail}">
                  <td>{{$index+1}}</td>
                  <td>{{item.itemName}}<div ng-if="item.noRecipeDetail">[Recipe Not available.]</div>
                    <div ng-if="item.noKitchenDetail">[Item category not added to any of your kitchens.]</div>
                  </td>
                  <td>{{item.qty}}</td>
                  <td>{{item.selectedUnit.unitName}}</td>
                  <td>{{item.comment}}</td>
                  <td>
                    {{item.availableQtyInBase}}
                  </td>
                  <td>
                    {{item.availableQtyInOutlet}}
                  </td>
                  <td>
                    <input type="text" ng-model="item.supplyQty" class="form-control" smart-float1 id="ch_{{$index+1}}1" ng-change="EnableSubmitChallanForm(indentGrnDeliveryChallanForm.items)"  ng-enter="goNextChallan({{$index+2}}1 )">
                  </td>
                  <td>
                    <input type="text" ng-disabled="true"  ng-model="item.price"  class="form-control" smart-float>
                  </td>
                  <td>
                    <input type="text" ng-change="EnableSubmitChallanForm(indentGrnDeliveryChallanForm.items)" ng-model="item.supplyComment"  class="form-control" >
                  </td>
                </tr>
                </tbody>
              </table>
              <div>
                <button id="submitChallan" ng-click="submitChallanMultipart(indentGrnDeliveryChallanForm)" class="btn btn-success" ng-disabled="indentChallan.enableSubmit">
                  <span >Dispatch & Generate Delivery Challan </span>
                </button>
                <button id="printChallanTable" ng-click="printSingleChallan()"  style = "float:right;" class="btn btn-success" >
                  <span >Export Delivery Challan </span>
                </button>
                <!-- <div ng-if="InvalidItems.length > 0" class="error-message">Items marked red do not have their categories assigned to Kitchen. Please visit Store Management and add categories to respective Kitchens for this transaction to complete.
                              </div> -->

              </div>

                <div id = "deliveryChallanTable" ng-hide = 'true'>
                <table class="table table-curved" style="width:100%" border="1">
                  <thead>
                  <tr>
                    <th >#</th>
                    <th >Item Name</th>
                    <th >Asked Qty</th>
                    <th >Unit</th>
                    <th >Asked Comment</th>
                    <!-- <th >Available Qty</th>
                    <th >Available Qty In Outlet</th>
                    <th >Supply Qty</th>
                    <th >Rate</th>
                    <th >Supplier Comment</th> -->
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="item in indentGrnDeliveryChallanForm.items " ng-class="{'error-message': item.noCategory || item.noKitchenDetail || item.noRecipeDetail}">
                    <td>{{$index+1}}</td>
                    <td>{{item.itemName}}
                    <div ng-if="item.noRecipeDetail">[Recipe Not available.]</div>
                    <div ng-if="item.noKitchenDetail">[Item category not added to any of your kitchens.]</div>
                    </td>
                    <td >{{item.qty}}</td>
                    <td >{{item.selectedUnit.unitName}}</td>
                    <td >{{item.comment}}</td>
                    <!-- <td >{{item.availableQtyInBase}}</td>
                    <td >{{item.availableQtyInOutlet}}</td>
                    <td >{{item.supplyQty}}</td>
                    <td >{{item.price}}</td>
                    <td >{{item.supplyComment}}</td> -->
                  </tr>
                  </tbody>
                </table>
              </div>

                <div id = "deliveryConsolidatedTable" class="col-md-4" ng-hide = 'true'>
                    <table class="table table-curved" style="width:100%" border="1">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>Item Name</th>
                        <th>Requested Qty</th>
                        <th>Unit</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in indentGrnDeliveryChallanForm.consolidatedRequirements" ng-class="{'error-message': !item.recipeAvailable || !item.kitchenDetails}">
                        <td>{{$index+1}}</td>
                        <td>{{item.itemName}}</td>
                        <td>{{item.consolidatedQuantity}}</td>
                        <td>{{item.selectedUnit.unitName}}</td>
                      </tr>
                      </tbody>
                    </table>
                    
                    <!--modified 19/7/16-->
                  </div>




              <div id="deliveryChallanGenerated" ng-show="indentGrnDeliveryChallanForm.sumOfItems > 0">
                <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td colspan="3" style="text-align: center;">
                          {{setting.title}}
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align: center;">---------------------------------------</td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align: center;">
                          {{setting.address}}
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align: center;">
                          <hr>
                        </td>
                      </tr>
                      <tr>
                        <td width="34%">&nbsp;</td>
                        <td width="41%">&nbsp;</td>
                        <td width="25%">


                          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                            <tr class="h3">
                              <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>{{currentDeployment.name}}</strong></td>
                            </tr>
                            <tr>
                              <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{setting.title}}</td>
                            </tr>
                            <tr>
                              <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{setting.address}}</td>
                            </tr>
                          </table>
                          <!--   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                     <tr>

                                                         <td><h3>{{currentDeployment.name}}</h3></h></td>
                                                     </tr>
                                                     <tr>
                                                         <td height="5"></td>
                                                     </tr>
                                                     <tr>
                                                         <td height="5">
                                                             <h5> {{setting.title}}</h5>
                                                         </td>
                                                     </tr>
                                                     <tr>
                                                         <td height="5">
                                                             <h5> {{setting.address}}</h5>
                                                         </td>
                                                     </tr>
                                                     <tr>
                                                         <td height="5"></td>
                                                     </tr>
                                                 </table>-->
                        </td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="40" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#00000; border:dotted 1px #999999; ">DELIVERY CHALLAN</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                      <tr>
                        <td  width="50%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Indent Number</td>
                        <td  width="50%" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Date</td>
                      </tr>
                      <tr class="content-text">
                        <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">IN -{{indentGrnDeliveryChallanForm.requirementNumber}}</td>
                        <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{today | date: 'dd-MMM-yyyy'}}</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="48%"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                          <tr class="h3">
                            <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>To</strong></td>
                          </tr>
                          <tr>
                            <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{indentGrnDeliveryChallanForm.deploymentName}}</td>
                          </tr>
                          <tr>
                            <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{indentGrnDeliveryChallanForm.deploymentAddress}}</td>
                          </tr>
                        </table></td>
                        <td width="2%">&nbsp;</td>
                        <td width="50%" valign="top">
                          <!-- <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                                      <tr class="h3">
                                                          <td width="35%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>Store Location</strong></td>
                                                          <td width="65%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{indentGrnDeliveryChallanForm.store.storeLocation}}</td>
                                                      </tr>
                                                      <tr class="content-text">
                                                          <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>Store UID</strong></td>
                                                          <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{indentGrnDeliveryChallanForm.store.storeUID}}</td>
                                                      </tr>
                                                  </table> -->
                        </td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="5"></td>
                  </tr>
                  <tr bgcolor="#FFFFFF">
                    <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">

                      <thead style='background-color:#CFFFE9;'>
                      <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Item Name</th>
                      <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Unit</th>
                      <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Quantity</th>
                      <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;" ng-if="!hidePricing">Rate</th>
                      <th width="20%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;" ng-if="!hidePricing">Amount</th>
                      </thead>

                      <tr ng-repeat="item in indentGrnDeliveryChallanForm.items ">
                        <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{item.itemName}}</td>
                        <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{item.selectedUnit.unitName}}</td>
                        <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{item.supplyQty}}</td>
                        <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;" ng-if="!hidePricing">{{item.price}}</td>
                        <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;" ng-if="!hidePricing">{{item.supplyQty * item.price}}</td>
                      </tr>

                      <br/>
                      <br/>
                      <hr/>

                      </br>
                      <tr ng-if="!hidePricing">
                        <td colspan="4" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999; text-align: right;"><strong>Total: </strong>
                        </td>
                        <td  height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{indentGrnDeliveryChallanForm.sumOfItems}}
                        </td>
                      </tr>

                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>

                  <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="44%"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                          <tr class="h3">
                            <td width="5%" height="30" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>1</strong></td>
                            <td width="46%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"> Vat</td>
                            <td width="49%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{settings.vatTin}}</td>
                          </tr>
                          <tr>
                            <td height="30" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>2</strong></td>
                            <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">Tax CST</td>
                            <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{settings.taxTin}}</td>
                          </tr>
                        </table></td>
                        <td width="6%">&nbsp;</td>
                        <td width="50%" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                          <tr class="h3">
                            <td width="6%" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>3</strong></td>
                            <td width="94%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">All amounts above are in Rs.</td>
                          </tr>
                          <tr>
                            <td align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>4</strong></td>
                            <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">All disputes are subect to jurisdiction only.</td>
                          </tr>

                        </table></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>

                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="44%"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                          <tr class="content-text">
                            <td bgcolor="#EEEEEE" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;color:#00000; border:dotted 1px #999999;"><p>I hereby certify that my registration certificate under/.......................</p></td>
                          </tr>
                        </table></td>

                        <td width="4%">&nbsp;</td>
                        <td width="2%">&nbsp;</td>
                        <td width="50%" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                          <tr class="content-text">
                            <td height="30" class="table-border" bgcolor="#EEEEEE">
                              <span style="font-weight: bold;">Authorized Signature______________________</span>
                              <p>{{settings.billRightFooter}}</p>
                            </td>
                          </tr>
                        </table></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                      <tr class="content-text">
                        <td bgcolor="#EEEEEE" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;color:#00000;text-align: center; border:dotted 1px #999999;"><p>{{settings.billFooter}}</p></td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>

  <tab  ng-if="indentChallan.enableForm" heading="Receive" style="cursor:pointer;"  ng-click="clearReceive()" >
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div class="margin-top:20px;">
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-curved table-curved-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>Date</th>
                <th>Indent No</th>
                <th>Supply User</th>
                <th>Vendor Name</th>
                <th>Open</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="r in  req.receiveIndents | orderBy: '-created'" style="cursor:pointer;" >
                <td>{{$index+1}}
                </td>
                <td>{{r.created | date:'dd MMM yyyy @ h:mma'}}
                </td>
                <td>IN -{{r.requirementNumber}}
                </td>
                <td>{{r.user.username}}
                </td>
                <td>
                  {{r.vendor.vendorName}}
                </td>
                <td>
                  <a href="#" ng-click="openIndentGrnReceiveForm(r)">Open
                  </a>
                </td>
              </tr>
              <tr ng-show="req.receiveIndents.length<=0">
                <td colspan="5">No Items present to Receive </td>
              </tr>
              </tbody>
            </table>
            <div align="center">
              <pagination total-items="countReceive"
                          ng-click="newPageReceive(receivepagination.currentPage)"
                          ng-model="receivepagination.currentPage"
                          items-per-page="receivepagination.itemsPerPage"></pagination>

            </div>
            <div ng-hide="indentGrnReceiveForm.isNew">
              <table class="table table-curved">
                <thead>
                <tr>
                  <th>#
                  </th>
                  <th>Item Name
                  </th>
                  <th>Asked Qty
                  </th>
                  <th>Unit
                  </th>
                  <th>Asked Comment
                  </th>
                  <th>Available Qty
                  </th>
                  <th>Sent Qty
                  </th>
                  <th>Rate
                  </th>
                  <th>Supplier Comment
                  </th>
                  <th>ReceiveQty
                  </th>
                  <th>Receiver Comment
                  </th>
                </tr>
                </thead>


                <tbody>
                <tr ng-repeat="item in indentGrnReceiveForm.items">
                  <td>
                    {{$index+1}}
                  </td>

                  <td>
                    {{item.itemName}}
                  </td>

                  <td>
                    {{item.qty}}
                  </td>

                  <td>
                    {{item.selectedUnit.unitName}}
                  </td>

                  <td>
                    {{item.comment}}
                  </td>

                  <td>
                    {{item.availableQtyInBase}}
                  </td>

                  <td>
                    {{item.supplyQty}}
                  </td>

                  <td>
                    {{item.price}}
                  </td>

                  <td>
                    {{item.supplyComment}}
                  </td>

                  <td>

                    <input type="text"  ng-model="item.receiveQty"   class="form-control" id="pr_{{$index+1}}1" ng-change="EnableSubmitReciveForm(indentGrnReceiveForm.items)" ng-enter="goNextPoReceive({{$index+2}}1 )" numeric-only>
                    </input>
                  </td>

                  <td>
                    <input ng-if="!settings.dropdownComments" type="text" ng-model="item.receiveComment"  class="form-control"  ng-change="EnableSubmitReciveForm(indentGrnReceiveForm.items)" >
                    </input>
                    <select  ng-change="EnableSubmitReciveForm(indentGrnReceiveForm.items)" ng-if="settings.dropdownComments" class="form-control" ng-model="item.receiveComment" ng-options="comment.description as comment.description for comment in receiveComments">
                      <option value="">Comment</option>
                    </select>
                  </td>
                </tr>
                </tbody>
              </table>

                <span>
                  <!-- modified -->
                <button id="submitReceive" ng-click="submitReceiveMultipart(indentGrnReceiveForm)" class="btn btn-success"
                        ng-disabled="indentGrnReceive.enableSubmit">
                  <!-- end -->
                  <span ng-if="!indentGrnReceive.isPrint">
                    Receive  & Print
                  </span>
                  <!-- <span ng-if="indentGrnReceive.isPrint">
                                        Print
                                    </span> -->
                </button>
              </span>
            </div>
            <div id="indentRecieveToPrint" ng-hide="true" ng-if="indentGrnReceiveForm.evaluated">

              <!-- <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                            <td width="34%">
                                                                &nbsp;
                                                            </td>

                                                            <td width="41%">
                                                                &nbsp;
                                                            </td>

                                                        <td width="25%">


                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                                                <tr>
                                                                    <td>
                                                                        {{currentDeployment.name}}
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td height="5">
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td>
                                                                        {{currentDeployment.address}}
                                                                    </td>
                                                                </tr>


                                                                <tr>
                                                                    <td height="5">
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>&nbsp;
                                            </td>
                                        </tr>


                                        <tr>
                                            <td height="40" align="center" bgcolor="#EEEEEE" class="h1">
                                                Good Reciept Note
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>&nbsp;
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                                    <tr class="h3">
                                                        <td width="21%" height="30" class="table-border">
                                                            Invoice Number
                                                        </td>
                                                        <td width="27%" height="30" class="table-border">
                                                            Date
                                                        </td>

                                                    </tr>
                                                    <tr class="content-text">
                                                        <td height="30" class="table-border">{{indentGrnReceiveForm.daySerialNumber}}
                                                        </td>
                                                        <td height="30" class="table-border">
                                                            {{today | date: 'dd-MMM-yyyy' }}
                                                        </td>

                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td height="30">
                                                &nbsp;
                                            </td>
                                        </tr>


                                        <tr ng-if="acceptedGoods.length > 0">
                                            <td>
                                                <h4>Goods Recieved OK
                                                </h4>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>



                                        <tr>
                                            <td>
                                            </td>
                                        </tr>

                                        <tr ng-if="acceptedGoods.length > 0">
                                            <td bgcolor="#F0F0F0">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">

                                                            <thead style='background-color:#CFFFE9;'>
                                                                <th width="20%">Item Name
                                                                </th>
                                                                <th width="20%">Qunatity  Recieved
                                                                </th>

                                                            </thead>

                                                            <tr ng-repeat="item in indentGrnReceiveForm.items | filter: {reject: 'false'}">
                                                                <td width="20%" text-align="center">
                                                                    {{item.itemName}}
                                                                </td>
                                                                <td width="20%" text-align="center">{{item.receiveQty}}</td>

                                                            </tr>

                                                            <br></br>
                                                            <br></br>
                                                            <hr></hr>
                                                </table>

                                            </td>
                                        </tr>

                                        <tr ng-if="rejectedGoods.length > 0">
                                            <td>
                                                <h4>Short/Rejected Goods
                                                </h4>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>&nbsp;
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                            </td>
                                        </tr>


                                        <tr ng-if="rejectedGoods.length > 0">
                                            <td bgcolor="#F0F0F0">

                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">





                                                    <thead style='background-color:#CFFFE9;'>
                                                        <th width="20%">Item Name</th>
                                                        <th width="20%">Rejcted Quantity</th>

                                                    </thead>

                                                    <tr ng-repeat="item in indentGrnReceiveForm.items | filter: {reject: 'true'}">
                                                        <td width="20%" text-align="center">{{item.itemName}}</td>
                                                        <td width="20%" text-align="center">{{item.supplyQty - item.receiveQty}}</td>

                                                    </tr>

                                                    <br>
                                                    </br>
                                                    <br>
                                                    </br>
                                                    <hr>
                                                    </hr>
                                                </table>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>&nbsp;
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="50%">
                                                           &nbsp;
                                                        </td>

                                                            <td width="50%" valign="top">
                                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">

                                                                    <tr class="h3">
                                                                        <td width="30%" class="table-border">
                                                                            For Franchise
                                                                        </td>
                                                                        <td width="20%">
                                                                            &nbsp;
                                                                        </td>
                                                                        <td width="50%">
                                                                            ____________________
                                                                        </td>
                                                                    </tr>

                                                                </table>
                                                            </td>

                                                    </tr>
                                                </table>
                                            </td>

                                                    </tr>

                                                    <tr>
                                                        <td>&nbsp;
                                                        </td>
                                                    </tr>


                                                    <tr>
                                                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>

                                                                <td width="50%">&nbsp;</td>
                                                                <td width="50%" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                                                    <tr class="content-text">
                                                                        <td height="30" class="table-border"><p>{{settings.billRightFooter}}</p></td>
                                                                    </tr>
                                                                </table></td>
                                                            </tr>
                                                        </table></td>
                                                    </tr>


                                                    <tr>
                                                        <td>&nbsp;
                                                        </td>
                                                    </tr>


                                                    <tr>
                                                    <td>
                                                       <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                                                            <tr class="content-text">
                                                                <td height="30" class="table-border">
                                                                    <p>{{settings.billFooter}}
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    </tr>
                                        </tr>
                            </table> -->

              <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                <!-- <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="34%">&nbsp;</td>
                                            <td width="41%">&nbsp;</td>
                                            <td width="25%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>

                                                    <td><h3>{{currentDeployment.name}}</h3></h></td>
                                                </tr>
                                                <tr>
                                                    <td height="5"></td>
                                                </tr>
                                                <tr>
                                                    <td height="5"><h5>{{currentDeployment.address1}} {{currentDeployment.address2}} {{currentDeployment.city}} {{currentDeployment.state}}</h5></td>
                                                </tr>
                                                <tr>
                                                    <td height="5"></td>
                                                </tr>
                                            </table></td>
                                        </tr>
                                    </table></td>
                                </tr> -->
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td colspan="3" style="text-align: center;">
                        {{setting.title}}
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" style="text-align: center;">---------------------------------------</td>
                    </tr>
                    <tr>
                      <td colspan="3" style="text-align: center;">
                        {{setting.address}}
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" style="text-align: center;">
                        <hr>
                      </td>
                    </tr>

                    <tr>
                      <td width="34%">&nbsp;</td>
                      <td width="41%">&nbsp;</td>
                      <td width="25%">

                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                          <tr class="h3">
                            <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>{{currentDeployment.name}}</strong></td>
                          </tr>
                          <tr>
                            <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{setting.title}}</td>
                          </tr>
                          <tr>
                            <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{setting.address}}</td>
                          </tr>
                        </table>
                        <!--  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>

                                                      <td><h3>{{currentDeployment.name}}</h3></h></td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          <h5> {{setting.title}}</h5>
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          <h5> {{setting.address}}</h5>
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td height="5"></td>
                                                  </tr>
                                              </table>-->
                      </td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="40" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#00000; border:dotted 1px #999999; ">Good Receipt Note
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                    <tr>
                      <td width="50%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Invoice Number</td>
                      <td width="50%" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Date</td>
                    </tr>
                    <tr class="content-text">
                      <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">IN -{{indentGrnReceiveForm.requirementNumber}}</td>
                      <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{today | date: 'dd-MMM-yyyy' }}</td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="48%"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                        <tr class="h3">
                          <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>To</strong></td>
                        </tr>
                        <tr>
                          <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{indentGrnReceiveForm.vendor.vendorName}}</td>
                        </tr>
                        <tr>
                          <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">
                            {{indentGrnReceiveForm.vendor.contactNumber}}
                            <br>
                            {{indentGrnReceiveForm.vendor.address}}
                          </td>
                        </tr>
                      </table></td>
                      <td width="2%">&nbsp;</td>
                      <td width="50%" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                        <tr class="h3">
                          <td width="35%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>Store Location</strong></td>
                          <td width="65%" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{indentGrnReceiveForm.store.storeLocation}}</td>
                        </tr>
                        <tr class="content-text">
                          <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;"><strong>Store UID</strong></td>
                          <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{indentGrnReceiveForm.store.storeUID}}</td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td height="5" ng-if="acceptedGoods.length > 0">
                    <h4>Goods Received OK</h4>
                  </td>
                </tr>
                <tr bgcolor="#FFFFFF" ng-if="acceptedGoods.length > 0">
                  <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">

                      <thead style='background-color:#CFFFE9;'>
                      <th width="50%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Item Name</th>
                      <th width="50%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Unit</th>
                      <th width="50%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Quantity Received</th>
                      </thead>
                      <tr ng-repeat="item in  acceptedGoods">
                        <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{item.itemName}}</td>
                        <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{item.selectedUnit.unitName}}</td>
                        <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{item.receiveQty}}</td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td height="5" ng-if="rejectedGoods.length > 0">
                    <h4>Rejected Goods</h4>
                  </td>
                </tr>
                <tr bgcolor="#FFFFFF" ng-if="rejectedGoods.length > 0">
                  <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">

                      <thead style='background-color:#CFFFE9;'>
                      <th width="50%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Item Name</th>
                      <th width="50%" height="30" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#00000; border:solid 1px #999999; background:#eeeeee;">Quantity Rejected</th>
                      </thead>
                      <tr ng-repeat="item in  rejectedGoods">
                        <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{item.itemName}}</td>
                        <td width="20%" height="25" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#00000; border:solid 1px #999999;">{{item.supplyQty - item.receiveQty}}</td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>

                <tr>
                  <td>&nbsp;</td>
                </tr>

                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="50%">
                          &nbsp;
                        </td>

                        <td width="50%" valign="top">
                          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                            <tr class="h3">

                              <td width="40%" class="table-border">


                              </td>
                            </tr>




                          </table>
                        </td>

                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="44%">
                      </td>

                      <td width="4%">&nbsp;</td>
                      <td width="2%">&nbsp;</td>
                      <td width="50%" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                        <tr class="content-text">
                          <td height="30" class="table-border">
                            For Franchise____________________
                            <br>
                            <br>
                            <p>{{settings.billRightFooter}}</p></td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border">
                    <tr class="content-text">
                      <td bgcolor="#EEEEEE" height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;color:#00000;text-align: center; border:dotted 1px #999999;"><p>{{settings.billFooter}}</p></td>
                    </tr>
                  </table></td>
                </tr>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </tab>

  <tab heading="Supplied Requirement" style="cursor:pointer;" ng-click="clearSuppliedRequirement()" ng-if="currentDeployment.isBaseKitchen && !indentChallan.enableForm">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div class="margin-top:20px;">
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-curved">
              <thead>
              <tr>
                <th>#</th>
                <th>Date
                </th>
                <th>Indent Number
                </th>
                <th>Outlet Name
                </th>
                <th>Supply date
                </th>
                <th>Supply user name
                </th>
                <th>View
                </th>

              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in req.suppliedIndents | orderBy:'-supplyDate'">
                <td>{{$index+1}}</td>
                <td>{{item.created | date:'dd MMM yyyy @ h:mma'}}
                </td>
                <td>IN -{{item.requirementNumber}}
                </td>
                <td>{{item.deploymentName}}
                </td>
                <td>{{item.supplyDate | date:'dd MMM yyyy @ h:mma' || 'NA'}}
                </td>
                <td>{{item.vendor['vendorName']}}
                </td>
                <td>
                  <a href="#" ng-click="showSelectedSuppliedIndentDetails(item)">
                    View
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
            <div align="center">
              <pagination total-items="countSupply"
                          ng-click="newPageSupply(supplypagination.currentPage)" force-ellipses="true" boundary-link-numbers="true" rotate="false"
                          ng-model="supplypagination.currentPage" max-size="10"
                          items-per-page="supplypagination.itemsPerPage"></pagination>

            </div>

            <div ng-if="suppliedRequirementView">
              <table class="table table-curved">
                <thead>
                <tr>
                  <th>Item Name
                  </th>
                  <th>Requested Quantity
                  </th>
                  <th>Request Comment
                  </th>
                  <th>Unit
                  </th>
                  <th>Supply quantity
                  </th>
                  <th>Supply rate
                  </th>
                  <th>Supply Comment
                  </th>
                  <th>Recieved Quantity
                  </th>
                  <th>Reciever Comment
                  </th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in suppliedIndentDetails.items">
                  <td>{{item.itemName}}</td>
                  <td>{{item.qty}}</td>
                  <td>{{item.comment}}</td>
                  <td>{{item.selectedUnit.unitName}}</td>
                  <td>{{item.supplyQty}}</td>
                  <td>
                    {{item.supplyQty * item.price}}
                  </td>
                  <td>{{item.supplyComment}}</td>
                  <td ng-show="suppliedIndentDetails.ReceiveDate!=undefined">{{item.receiveQty}}</td>
                  <td ng-show="suppliedIndentDetails.ReceiveDate==undefined"></td>
                  <td>{{item.receiveComment}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>

</tabset>
