<div ng-include="'components/navbar/navbar.html'"></div>

<br />

<div class="container">
    <div class="row">
        <tabset>
            <tab ng-if="isPermission('create_expense_category')" heading="Category Master" active="false" ng-click="clearCategory()">
                <div class="col-sm-6">
                    <h3 class="text-center">Add Category</h3>
                    <br />
                    <form name="categoryForm" class="form-horizontal" role="form" ng-submit="addCategory()" novalidate>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name:</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="category.name" class="form-control" placeholder="Name" ng-required="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description:</label>
                            <div class="col-sm-9">
                                <textarea ng-model="category.description" class="form-control" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-sm-offset-3 col-sm-9">
                                <input type="submit" class="btn btn-primary" value="{{ !category._id ? 'Add' : 'Update' }}" ng-disabled="categoryForm.$invalid" ng-click="addEditCategory()" />
                                <input type="button" class="btn btn-warning" value="Clear" ng-click="clearCategory()" ng-if="category._id" />
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <h3 class="text-center">Available Categories</h3>
                    <br />
                    <h4 class="text-center" ng-if="!categories.length">No categories found in the database.</h4>
                    <table class="table table-curved table-condensed" ng-if="categories.length">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cat in categories">
                                <td>{{ cat.name }}</td>
                                <td>{{ cat.description }}</td>
                                <td>
                                    <span>
                                        <button class="btn btn-primary btn-xs" ng-click="openInEdit(cat)"><i class="glyphicon glyphicon-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs" ng-click="deleteCategory(cat, $index)"><i class="glyphicon glyphicon-trash"></i></button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab heading="Expense Entry" ng-if="isPermission('create_expense_entry')" active="true" ng-click="clearExpenseForm()">
                <h3>Add Expenses</h3>
                <br />
                <div class="row">
                    <form name="expenseForm" novalidate>
                        <div class="col-sm-2">
                            <label class="control-label">Bill Date:</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" date-format datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="expenseBill.billDate" max-date="currentDate" is-open="expensebillDate.open" ng-click="expensebillDate.open = true" ng-change="getCurrentBillNumber()" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Bill No: </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">EX - {{ expenseBill.billNo }}</label>
                        </div>
                        <br />
                        <br />
                        <br clear="all" />
                        <div class="col-sm-2">
                            <label class="control-label">Category</label>
                            <select class="form-control" ng-model="expense.category" ng-options="cat.name for cat in categories | orderBy: 'name'" ng-required="true">
                                <option value="">Select Category</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Vendor</label>
                            <input type="text" class="form-control" ng-model="expense.vendor" ng-required="true" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Item</label>
                            <input type="text" class="form-control" ng-model="expense.item" ng-required="true" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Rate</label>
                            <input type="number" class="form-control" ng-model="expense.rate" ng-required="true" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Quantity</label>
                            <input type="number" class="form-control" ng-model="expense.qty" ng-required="true" />
                        </div>
                        <div class="col-sm-1" style="vertical-align: bottom">
                            <label class="control-label"></label> <br/>
                            <input type="button" class="btn btn-primary form-control" value="Add" ng-disabled="expenseForm.$invalid" ng-click="addExpenseToBill()" />
                        </div>
                    </form>
                </div>
                <br />
                <div class="row" ng-if="expenseBill.expenses.length">
                    <div class="col-sm-12">
                        <h3>Current Bill Expenses</h3>
                        <br />
                        <table class="table table-curved table-condensed">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Category</th>
                                    <th>Vendor</th>
                                    <th>Item</th>
                                    <th>Rate</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="expense in expenseBill.expenses">
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{ expense.category.name }}</td>
                                    <td>{{ expense.vendor }}</td>
                                    <td>{{ expense.item }}</td>
                                    <td>{{ expense.rate }}</td>
                                    <td>{{ expense.qty }}</td>
                                    <td>{{ expense.qty *expense.rate }}</td>
                                    <td>
                                        <span>
                                        <button class="btn btn-primary btn-xs" ng-click="editExpense($index)"><i class="glyphicon glyphicon-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs" ng-click="deleteExpense($index)"><i class="glyphicon glyphicon-trash"></i></button>
                                    </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <input type="button" class="btn btn-primary" value="Submit Bill" ng-click="submitExpensesBill()" ng-disabled="submitDisable"/>
                    </div>
                </div>
            </tab>
            <tab heading="List Expenses" active="false" ng-click="clearReportSelection()" ng-if="isPermission('show_expense_category')">
                <h3>Expenses Report</h3>
                <br />
                <div class="row">
                    <form name="reportForm" ng-submit="generateReport()" novalidate>
                        <div class="col-sm-3">
                            <label class="control-label">Start Date:</label>
                            <input type="text" class="form-control" date-format datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="expenseStartDate.value" max-date="currentDate" is-open="expenseStartDate.open" ng-click="expenseStartDate.open = true;buttonChange();" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">End Date:</label>
                            <input type="text" class="form-control" date-format datepicker-popup="{{'dd-MMM-yyyy'}}" ng-model="expenseEndDate.value" max-date="currentDate" is-open="expenseEndDate.open" ng-click="expenseEndDate.open = true;buttonChange();" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">Type of Report:</label>
                            <br clear="all" />
                            <div class="btn-group">
                                <label class="btn btn-default" ng-model="report.type" btn-radio="'bill'">Bill Wise</label>
                                <label class="btn btn-default" ng-model="report.type" btn-radio="'category'">Category Wise</label>
                                <label class="btn btn-default" ng-model="report.type" btn-radio="'item'">Item Wise</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <br clear="all" />
                            <input type="submit" class="btn btn-success" value="Generate Report" ng-disabled="!expenseStartDate.value || !expenseEndDate.value  || disableButton" />
                        </div>
                    </form>
                </div>
                <hr />
                <input type="button" class="btn btn-primary btn-sm pull-right" value="Export to Excel" ng-if="report.type && expenseBills.length" ng-click="excelExportReport()" />
                <br />
                <br />
                <table id="billWiseTable" class="table table-curved table-responsive" border="1" ng-if="report.type === 'bill' && expenseBills.length">
                    <thead>
                        <th>S.No.</th>
                        <th>Category</th>
                        <th>Vendor</th>
                        <th>Item</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="bill in expenseBills" ng-init="report.totalExpenses = report.totalExpenses + bill.total">
                            <td colspan="3" style="background-color: #CDF5E3" ng-click="bill.collapseRows = !bill.collapseRows" class="collapsible-row">
                                <b>Bill No: EX - {{ bill.billNo }}</b>
                                <span ng-class="{'caret':!bill.collapseRows, 'right-caret':bill.collapseRows}"></span>
                            </td>
                            <td colspan="4" style="background-color: #CDF5E3" ng-click="bill.collapseRows = !bill.collapseRows" class="collapsible-row">
                                <b>Bill Date: {{ bill.billDate | date: 'dd-MMM-yyyy' }}</b>
                                <span ng-class="{'caret':!bill.collapseRows, 'right-caret':bill.collapseRows}"></span>
                            </td>
                        </tr>
                        <tr ng-repeat="expense in bill.expenses" ng-hide="bill.collapseRows">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ expense.category.name }}</td>
                            <td>{{ expense.vendor }}</td>
                            <td>{{ expense.item }}</td>
                            <td><i class="fa fa-inr"></i> {{ expense.rate }}</td>
                            <td>{{ expense.qty }}</td>
                            <td><i class="fa fa-inr"></i> {{ expense.amount }}</td>
                        </tr>
                        <tr ng-hide="bill.collapseRows">
                            <td colspan="6" class="text-right">
                                <b>Total</b>
                            </td>
                            <td><b><i class="fa fa-inr"></i> {{ bill.total }}</b></td>
                        </tr>
                        <tr ng-repeat-end></tr>
                        <tr style="background-color: #1CF291;">
                            <td colspan="6" class="text-right">
                                <b>Total Expenses</b>
                            </td>
                            <td><b><i class="fa fa-inr"></i> {{ report.totalExpenses }}</b></td>
                        </tr>
                    </tbody>
                </table>
                <table id="catItemWiseTable" class="table table-curved table-responsive" border="1" ng-if="(report.type === 'category' || report.type === 'item') && expenseBills.length">
                    <thead>
                        <th>S.No.</th>
                        <th>Bill No.</th>
                        <th>Bill Date</th>
                        <th ng-if="report.type === 'item'">Category</th>
                        <th>Vendor</th>
                        <th ng-if="report.type === 'category'">Item</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="cat in expenseBills" ng-init="report.totalExpenses = report.totalExpenses + cat.total">
                            <td colspan="8" style="background-color: #CDF5E3" ng-click="cat.collapseRows = !cat.collapseRows" class="collapsible-row">
                                <b ng-if="report.type === 'category'">Category: {{ cat.category }}</b>
                                <b ng-if="report.type === 'item'">Item: {{ cat.item }}</b>
                                <span ng-class="{'caret':!cat.collapseRows, 'right-caret':cat.collapseRows}"></span>
                            </td>
                        </tr>
                        <tr ng-repeat="bill in cat.bills" ng-hide="cat.collapseRows">
                            <td>{{ $index + 1 }}</td>
                            <td>EX - {{ bill.billNo }}</td>
                            <td>{{ bill.billDate | date: 'dd-MMM-yyyy' }}</td>
                            <td ng-if="report.type === 'item'">{{ bill.category }}</td>
                            <td>{{ bill.vendor }}</td>
                            <td ng-if="report.type === 'category'">{{ bill.item }}</td>
                            <td><i class="fa fa-inr"></i> {{ bill.rate }}</td>
                            <td>{{ bill.qty }}</td>
                            <td><i class="fa fa-inr"></i> {{ bill.amount }}</td>
                        </tr>
                        <tr ng-hide="cat.collapseRows">
                            <td colspan="7" class="text-right">
                                <b>Total</b>
                            </td>
                            <td><b><i class="fa fa-inr"></i> {{ cat.total }}</b></td>
                        </tr>
                        <tr ng-repeat-end></tr>
                        <tr style="background-color: #1CF291;">
                            <td colspan="7" class="text-right">
                                <b>Total Expenses</b>
                            </td>
                            <td><b><i class="fa fa-inr"></i> {{ report.totalExpenses }}</b></td>
                        </tr>
                    </tbody>
                </table>
            </tab>
        </tabset>
    </div>
</div>