<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="list-group">
                                     <!-- modified -->
                                <a ng-if="utils.isUserPermitted(user, 'Store Management')" class="list-group-item" ng-show="!isVendor" ui-sref=".storeManagement" ui-sref-active="active">Store Management</a>
                                <!--   <a ng-if="utils.isUserPermitted(user, 'Stock Settings')" class="list-group-item" ng-show="!isVendor" ui-sref=".stockSetting" ui-sref-active="active">Setting</a> -->
                                <a class="list-group-item" ng-show="!isVendor" ui-sref=".stockSetting" ui-sref-active="active">Setting</a>
                                <a class="list-group-item" ng-show="!isVendor" ui-sref=".recipeManagement" ui-sref-active="active">Recipe Management</a>
                                <a class="list-group-item" ng-show="!isVendor" ui-sref=".stockEntry" ui-sref-active="active">Entries</a>
                                <a class="list-group-item" ng-show="!isVendor" ui-sref=".purchaseOrder" ui-sref-active="active">Purchase Orders</a>
                                <a ng-if="utils.isUserPermitted(user, 'Edit Entry')" class="list-group-item" ng-show="!isVendor" ui-sref=".editentries" ui-sref-active="active">Edit Entries</a>
                                <a class="list-group-item"  ui-sref=".indentGrn" ui-sref-active="active">Indent-GRN</a>
                                <a class="list-group-item"  ng-if = "enableOutletIndenting == true" ui-sref=".outletIndenting" ui-sref-active="active">Outlet Indenting</a>
                                <!-- <a class="list-group-item"  ui-sref=".demand" ui-sref-active="active">LN Demand</a> -->
                                <a class="list-group-item"  ui-sref=".stockReturn" ui-sref-active="active">Stock Return</a>
                                <a class="list-group-item" ng-show="!isVendor" ui-sref=".vendorPayment" ui-sref-active="active">Vendor Payment</a>
                                <a class="list-group-item" ng-show="!isVendor" ui-sref=".stockImportExport" ui-sref-active="active">Import Export</a>
                                <a ng-if="utils.isUserPermitted(user, 'View Stock Report')" class="list-group-item" ng-show="!isVendor" href="/stockReports">Stock Reports</a>
                              <!-- end -->
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group" ng-show="$state.current.name === 'stock'">
                                <button class="btn btn-success" ng-click="hideMasterLink();" ng-show="showMasterSetupButton" ui-sref=".storeMasterSetup" ui-sref-active="active">Start</button>
                                <a ng-show="showMasterSetupButton" ng-click="hideMasterLink();" ui-sref=".storeManagement" ui-sref-active="active">Do it YorSelf</a>
                            </div>
                            <div class="ui-view-container">
                                <div class="anim-well" ui-view="" ng-animate></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
