<div class="modal-header">
    <h3 class="modal-title">Reports</h3>
</div>
<div class="modal-body">
    <ul class="nav nav-list aside-nav">
        <li><a ng-if="isPermission('view_invoice_details')" ng-click="gotoState($event, 'reports.rpt_paymentDetails')">Payment Details</a></li>
        <li><a ng-if="isPermission('view_sale_items')" ng-click="gotoState($event, 'reports.rpt_invoiceDetails')">Bill Item Details</a></li>
        <li><a ng-if="isPermission('view_sale_item_category')" ng-click="gotoState($event, 'reports.rpt_categoryBreakdown')">Sale by Item Category</a></li>
        <li><a ng-if="isPermission('view_tax_summary')" ng-click="gotoState($event, 'reports.rpt_taxSummary')">Tax Summary</a></li>
        <li><a ng-if="isPermission('view_tab_user_waiter')" ng-click="gotoState($event, 'reports.rpt_tabUserWaiterBreakdown')">Tab/User/Waiter Breakdown</a></li>
        <li><a  ng-if="isPermission('view_kot_detail')" ng-click="gotoState($event, 'reports.rpt_kotDetail')">KOT Detail</a></li>
        <li><a ng-if="isPermission('view_kot_delete_history')" ng-click="gotoState($event, 'reports.rpt_kotDeleteHistory')">KOT Delete History</a></li>
        <li><a ng-if="isPermission('view_average_bill')" ng-click="gotoState($event, 'reports.rpt_averageBill')">Average Bill</a></li>
    </ul>
</div>
<div class="modal-footer">
    <!-- <button class="btn btn-primary" ng-click="ok($event)">OK</button>
    <button class="btn btn-warning" ng-click="cancel($event)">Cancel</button> -->
</div>
