<div ng-include="'components/navbar/navbarreports.html'"></div>
<style>
.panel-body {
    padding: 0 0 0 0;
}

.anchorNew {
    padding-left: 20% !important;
}

.accordion-toggle {
    text-decoration: none;
}

.nav-list > li > a {
    background: #EBEBEB;
    color: #3A3A3A;
    border-bottom: 1px solid #D4D4D4;
}

.nav-list > li > a:focus {
    color: #fff;
    background: #428BCA;
}

.nav-list > li > a:hover {
    color: #fff;
    background: #428BCA;
}

a {
    text-decoration: none !important;
}

.panel-group .panel + .panel {
    margin: 0 0 0 0;
}

.panel-default > .panel-heading {
    color: #fff;
    background-color: #428BCA;
    border-color: #ddd;
}
</style>
<div class="row affix-row">
    <div class="col-sm-3 col-md-2 affix-sidebar" id="sidebar" style="width:19%">
        <!-- <span class="glyphicon glyphicon-download-alt" style=" top: 50px;z-index: 99;font-size: 25px;position: fixed;margin-left: 14%;" ui-sref="reports.rpt_downloadDetails"></span> -->
        <ul class="nav nav-list" style="position: fixed;z-index: 9000; width:17.5%;margin-top: 4px">
            <li><a ui-sref="reports.rpt_reportDashboard" style="background-color:#44ad0b;color:white;font-size: 13px;"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Download Report</a>
            </li>
        </ul>
        <div style="top: 100px; bottom: 0; position: fixed; left: 0; overflow-y: scroll;">
            <accordion close-others="false" style="margin-top: 20px;">
                <accordion-group is-open="status.open4">
                    <accordion-heading>
                        <div>
                            <i class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-size:13px !important;">Analytics Reports</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open4, 'glyphicon-chevron-right': !status.open4}"></i>
                        </div>
                    </accordion-heading>
                    <ul class="nav nav-list">
                        <li><a class="anchorNew" ui-sref="reports.rpt_hourlySales">Hourly Sales</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_growthReport">Growth Report</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_averageBill" ng-if="isPermission('view_average_bill')">Average Bill</a>
                        </li>
                    </ul>
                </accordion-group>
                <accordion-group is-open="status.open7">
                    <accordion-heading>
                        <div>
                            <i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp; <span style="font-size:13px !important;">Attendence Reports</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open7, 'glyphicon-chevron-right': !status.open7}"></i>
                        </div>
                    </accordion-heading>
                    <ul class="nav nav-list">
                        <li><a ui-sref="reports.rpt_userAttendance" class="anchorNew">User Attendance Report</a>
                        </li>
                        <li><a ui-sref="reports.rpt_singleUserAttendance" class="anchorNew">Single User Attendance Report</a>
                        </li>
                    </ul>
                </accordion-group>
                <accordion-group is-open="status.open2">
                    <accordion-heading>
                        <div>
                            <i class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-size:13px !important;">Audit Reports</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open2, 'glyphicon-chevron-right': !status.open2}"></i>
                        </div>
                    </accordion-heading>
                    <ul class="nav nav-list">
                        <li><a class="anchorNew" ng-if="isPermission('view_kot_detail')" ui-sref="reports.rpt_kotDetail">KOT Detail</a>
                        </li>
                        <li><a class="anchorNew" ng-if="isPermission('view_kot_delete_history')" ui-sref="reports.rpt_kotDeleteHistory">KOT Delete History</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_complimentary">Complimentary</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_complimentary_headwise">Complimentary Headwise</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_discountReport">Discount Report</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_offers">Offers</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_reprintReport">Reprint Report</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_kotTracking">KOT Tracking</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_removedTaxes">Removed Taxes</a>
                        </li>
                    </ul>
                </accordion-group>
                <accordion-group is-open="status.open3">
                    <accordion-heading>
                        <div>
                            <i class="fa fa-cubes"></i>&nbsp;<span style="font-size:13px !important;">Category/Item Wise Reports</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open3, 'glyphicon-chevron-right': !status.open3}"></i>
                        </div>
                    </accordion-heading>
                    <ul class="nav nav-list">
                        <li><a class="anchorNew" ng-if="isPermission('view_item_wise_enterprise')" ui-sref="reports.rpt_itemWiseEnterprise">Item wise Enterprise</a>
                        </li>
                        <li><a class="anchorNew" ng-if="isPermission('view_sale_item_category')" ui-sref="reports.rpt_categoryBreakdown">Sale by Item Category</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_consolidateItemWise">Consolidate Item Wise</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_sectionCategoryWise">Section Category Wise</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_consolidateItemWiseProfitable">Item Wise Profit</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_menuMix">Menu Mix</a>
                        </li>
                    </ul>
                </accordion-group>
                <accordion-group is-open="status.open6">
                    <accordion-heading>
                        <div>
                            <i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-size:13px !important;">CRM Reports</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open6, 'glyphicon-chevron-right': !status.open6}"></i>
                        </div>
                    </accordion-heading>
                    <ul class="nav nav-list">
                        <li><a class="anchorNew" ui-sref="reports.rpt_customerDataReport">CRM Report</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_billCustomer">Bill and Customer Consolidated</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_callDetails">Call Details Report</a>
                        </li>
                    </ul>
                </accordion-group>
                <accordion-group is-open="status.open8">
                    <accordion-heading>
                        <div>
                            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-size:13px !important;">Prepaid Card Reports</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open5, 'glyphicon-chevron-right': !status.open5}"></i>
                        </div>
                    </accordion-heading>
                    <ul class="nav nav-list">
                        <li><a class="anchorNew" ui-sref="reports.rpt_cardReport">Card Report</a>
                        </li>
                    </ul>
                </accordion-group>
                <accordion-group is-open="status.open1">
                    <accordion-heading>
                        <div>
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-size:13px !important;">Sales Reports</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open1, 'glyphicon-chevron-right': !status.open1}"></i>
                        </div>
                    </accordion-heading>
                    <ul class="nav nav-list">
                        <li><a class="anchorNew" ng-if="isPermission('view_invoice_details')" ui-sref="reports.rpt_paymentDetails">Payment Details</a>
                        </li>
                        <li><a class="anchorNew" ng-if="isPermission('view_tax_summary')" ui-sref="reports.rpt_taxSummary">Tax Summary</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_saleReport">Taxation Report</a>
                        </li>
                        <li><a class="anchorNew" ng-if="isPermission('view_sale_items')" ui-sref="reports.rpt_invoiceDetails">Bill Item Details</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_billWiseSales">Bill-Wise Sales</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_settlement">Settlement Reports</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_otherPaymentsDetailed">Online/Others Payments Detailed</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_otherPaymentsConsolidated">Online/Others Payments Consolidated</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_coupon">Coupon Reports</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_instanceWiseReport">Instance Wise</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_deliveryReport">Delivery Report</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_dailySales">Daily Sales</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_dailySalesSummary">Daily Sales Summary</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_dailySalesReportDetailed">Daily Sales Report Detailed</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_bohReport">Bill On Hold</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_billWiseSales">Bill-Wise Sales</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_advanceBooking">Advanced Booking</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_dayCheckClose">Day Check Close Report</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_enterpriseSettlement">Enterprise Settlement Report</a>
                        </li>
                    </ul>
                </accordion-group>
                <accordion-group is-open="status.open5">
                    <accordion-heading>
                        <div>
                            <i class="fa fa-users" aria-hidden="true"></i>&nbsp; <span style="font-size:13px !important;">Staff Performance Reports</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open5, 'glyphicon-chevron-right': !status.open5}"></i>
                        </div>
                    </accordion-heading>
                    <ul class="nav nav-list">
                        <li><a class="anchorNew" ng-if="isPermission('view_tab_user_waiter')" ui-sref="reports.rpt_tabUserWaiterBreakdown">Tab/User/Waiter Breakdown</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_waiterReportCard">Waiter Report Card</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_compareWaiters">Compare Waiters</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_deliveryBoyReport">Delivery Boy Report</a>
                        </li>
                        <li><a class="anchorNew" ui-sref="reports.rpt_employeePerformance">Employee Performance By Categories</a>
                        </li>
                    </ul>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <div class="col-sm-9 col-md-10 affix-content" id="content" style="width:81%">
        <div class="container reports">
            <div ui-view="">
            </div>
        </div>
    </div>
</div>
