
tfoot tr {
  background-color: #E4E4E4;
  border-top: 2px solid #919191;
  border-bottom: 4px solid #919191;
}
tfoot td {
  font-size: 20px;
}

.tfoot tr {
  background-color: #E4E4E4;
  border-top: 2px solid #919191;
  border-bottom: 4px solid #919191;
}

.container-fluid.reports a {
  cursor: pointer;
}

.affix-content .container {
  min-height: 1000px;
}

.even {
  background-color: #ADCFE0;
}
.odd {
  background-color: #9BCBB7;
}

/* Main stats up of screen */
#main-stats {
  background-color: #fdfdfd;
  border-bottom: 1px solid #efeef3; }
#main-stats .stats-row {
  box-shadow: inset -1px 0px 5px 2px #E5E5E5;
  margin: 0; }
#main-stats .stat {
  text-align: right;
  padding: 25px 0px 30px 0px;
  border-right: 1px solid #e8e9ee;
  position: relative;
  box-shadow: 1px 0px 0px 0px white; }
#main-stats .stat.last {
  border-right: 0px; }
#main-stats .stat .data {
  color: #29323a;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding-right: 50px; }
#main-stats .stat .data .number {
  color: #32a0ee;
  font-size: 25px;
  margin-right: 15px; }
#main-stats .stat .date {
  color: #575757;
  font-weight: lighter;
  /*font-family: 'Lato', 'Open Sans';*/
  font-style: italic;
  font-size: 16px;
  position: absolute;
  right: 50px; }

/* make sidebar nav vertical */
@media (min-width: 768px){
  .affix-content .container {
    width: 100%;
  }

  html,body{
    background-color: #f8f8f8;
    height: 100%;
    /*overflow: hidden;*/
  }
  .affix-content .container .page-header{
    margin-top: 0;
  }
  .sidebar-nav{
    position:fixed;
    width:100%;
  }
  .affix-sidebar{
    padding-right:0;
    font-size:small;
    padding-left: 0;
  }
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .affix-content{
    background-color:white;
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0;
    margin-bottom:0;
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (min-width: 769px){
  .affix-content .container {
    width: 100%;
  }
  .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 992px){
  .affix-content .container {
    width: 100%;
  }
  .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 1220px){
  .affix-row{
    overflow: hidden;
  }

  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 100%;
  }

  .affix-content .container .page-header{
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }
  .affix-title{
    border-bottom: 1px solid #ecf0f1;
    padding-bottom:10px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse{
    padding: 0;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #428bca;
    color: white;
  }
  .sidebar-nav .navbar li a > .caret {
    margin-top: 8px;
  }
}

.ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

ul.pagination li a.active {
  background-color: #4CAF50;
  color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}
