<div class="page-header">
  <h3>Dashboard - Food Categories</h3>
</div>

<!-- Filter View -->
<div class="row">
  <div class="col-md-12">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Deployment</label>
            <select class="form-control" ng-change="onDeploymentChange()" ng-model="report.filters.deployment_id" ng-options="deployment._id as deployment.name for deployment in deployments">
              <option value="">Select Deployment</option>
            </select>
          </div>
        </div>
        <!--<div class="col-md-3">
          <div class="form-group">
            <label>Super Category</label>
            <select class="form-control" ng-change="onSuperCategoryChange()"  ng-model="report.filters.superCategory_id" ng-options="scat.superCategoryName as scat.superCategoryName for scat in _superCategories">
              <option value="">Select Super Category</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Category</label>
            <select class="form-control" ng-model="report.filters.category_id" ng-options="cat.categoryName as cat.categoryName for cat in _categories">
              <option value="">Select Category</option>
            </select>
          </div>
        </div>-->
      </div>
      <!--<div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="radio-inline">
              <input type="radio" ng-model="report.filters.byCutoffTime" value="true"> By Reset Time
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="report.filters.byCutoffTime" value="false"> By Custom Time Range
            </label>
          </div>
        </div>
      </div>-->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>From</label>
            <input type="text" class="form-control" placeholder="From Date" ng-focus="openDatePicker($event, 'fromDate')" datepicker-popup="yyyy-MM-dd" ng-model="report.filters.fromDate" is-open="fromDate" ng-required="true" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>To</label>
            <input type="text" class="form-control" placeholder="To Date" ng-focus="openDatePicker($event, 'toDate')" datepicker-popup="yyyy-MM-dd" ng-model="report.filters.toDate" is-open="toDate" ng-required="true" />
          </div>
        </div>
      </div>
     <!-- <div ng-if="report.filters.byCutoffTime === 'false'" class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Start Time</label>
            <timepicker ng-model="report.filters.startTime" hour-step="1" minute-step="15" show-meridian="false"></timepicker>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>End Time</label>
            <timepicker ng-model="report.filters.endTime" hour-step="1" minute-step="15" show-meridian="false"></timepicker>
          </div>
        </div>
      </div>-->
      <a class="btn btn-primary" ng-click="getReportPaymentDetails()">Generate Report</a>

    </div>
  </div>
</div>
<!-- Filter View -->

<div class="dashBoardContainer" ng-show="hasData === false" ng-if="hasData === false">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-warning" role="alert">
        <strong>Nothing Found!</strong> Sorry, we couldn't find any data for the selected Outlet. Please try another Outlet or Time Slot!
      </div>
    </div>
  </div>
</div>

<!-- Graphs -->
<div class="row">
	
	<div class="col-md-6">
		<div class="panel panel-info">
	        <div class="panel-heading">
	          <h1 class="panel-title" id="panel-title">
	            <i class="fa fa-calendar-o"></i> 04 May 2015 - Orders (Bills) Hourly
	          </h1>
	        </div>
	        <div class="panel-body">
	          <div id="container-graph-OrdersHourly">
	            <div class="hc-chart" title="Invoice Details" chart-object="graphDataOrdersHourly" options="{title: 'Total Sales by Tab'}"></div>
	          </div>
	        </div>
      	</div>
	</div>

	<div class="col-md-6">

	</div>
</div>
<!-- Graphs -->