<div ng-include="'components/navbar/navbar.html'"></div>
<div style="margin-top: 10px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="well" style="max-height: 45px;padding: 5px;">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <!--<label>Deployment</label>-->
                <select class="form-control" ng-change="onDeploymentChange()" ng-model="deployment_id"
                        ng-options="deployment._id as deployment.name for deployment in deployments">
                  <option value="">Select Deployment</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <p class="input-group">
                  <input type="text" class="form-control date" datepicker-popup="dd-MMMM-yyyy" ng-click="open($event)"
                         ng-model="selectedDate.from" is-open="opened" datepicker-options="dateOptions"
                         date-disabled="disabled(date, mode)" close-text="Close" placeholder="From Date"/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                  class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <p class="input-group">
                  <input type="text" class="form-control date" datepicker-popup="dd-MMMM-yyyy" ng-click="openTo($event)"
                         ng-model="selectedDate.to" is-open="openedTo" datepicker-options="dateOptions"
                         date-disabled="disabled(date, mode)" close-text="Close" placeholder="To Date"/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                  class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <a ng-click="fetchBills(0, 10)" class="btn btn-primary"> Done </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <tr>
            <th>Date</th>
            <th>Bill No.</th>
            <th>G.Amount</th>
            <th>User</th>
            <th>Tab</th>
            <th>Items</th>
            <th>Waiter/Delivery</th>
            <th>Customer</th>
            <th>Address</th>
            <th>Transfer Bill</th>
          </tr>
          <tr ng-repeat="bill in bills">
            <td>{{bill.created|date:"dd MMM yyyy HH:mm:ss"}}</td>
            <td>{{bill.dBillNumber}}</td>
            <td>{{bill.gTotalAmount}}</td>
            <td>{{bill._currentUser.username.split('_')[1]}}</td>
            <td>{{bill.tab}}</td>
            <td>{{bill.gTotalItems}}</td>
            <td>{{bill.waiterDelivery}}</td>
            <td>{{bill._customer.firstname}}</td>
            <td>{{bill._customer.address1}}</td>
            <td class="text-center">
              <button class="btn" ng-click="transferBill(bill)"><i class="glyphicon glyphicon-share-alt"></i></button>
            </td>
          </tr>
        </table>
        <div class="text-center">
          <button class="btn btn-link" ng-click="fetchBills()" ng-show="loadMore">Load More</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Transfer Bill</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
          <label>Transfer To: </label>
        </div>
        <div class="col-md-9">
          <input type="text" class="form-control" ng-model="server.to"/>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Transfer</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
