<div ng-include="'components/navbar/navbarreports.html'"></div>
<div class="row affix-row">
  <div class="col-sm-3 col-md-2 affix-sidebar">
    <div class="sidebar-nav visible-md visible-lg">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav" id="sidenav01">
            <li class="active">
              <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
                Stock Reports
              </a>
              
            </li>
            <li>
              <!-- <a href="#" ng-click="isCollapsed = !isCollapsed">
                <span class="glyphicon glyphicon-cloud"></span> Sales Reports <i class="fa" ng-class="{'fa-arrow-right': isCollapsed, 'fa-arrow-down': !isCollapsed}"></i>
              </a> -->
              <div collapse="isCollapsed" style="height: 0px;">
                <ul class=" nav nav-list">
                  <li><a href="../stock/storeManagement">Stock</a></li>
                        <!-- modified -->
                  <li ng-if="utils.isUserPermitted(user, 'View Stock Entry Report')"><a ui-sref="stockReports.entryReport" ui-sref-active="active">Entry Report</a></li>
                  <li ng-if="utils.isUserPermitted(user, 'View Consumption Report')"><a ui-sref="stockReports.consumptionReport">Consumption Reports</a></li>
                  <li><a ui-sref="stockReports.detailedConsumptionReport">Issue And Receipt Report</a></li>
                  <li><a ui-sref="stockReports.wastageReport">Wastage Report</a></li>
                  <li ><a ui-sref="stockReports.varianceReport">Variance Report</a></li>

                  <li><a ui-sref="stockReports.finishedFoodReport">Finished Food Report</a></li>
                  <li><a ui-sref="stockReports.intermediateReport">Intermediate Report</a></li>
                  <li><a ui-sref="stockReports.foodCostReports">Food Cost Report</a></li>
                  <!-- <li><a ui-sref="stockReports.shelfLifeReport">Shelf Life Report</a></li> -->
                  <li><a ui-sref="stockReports.requirementReport">Requirement Report</a></li>
                  <li><a ui-sref="stockReports.consolidatedInventoryReport" ng-show="isBaseKitchen">Consolidated Inventory Report</a></li>
                  <li><a ui-sref="stockReports.reorderReport">Re-Order Level Report</a></li>
                  <li ng-if="utils.isUserPermitted(user, 'View Purchase Detail Report')"><a ui-sref="stockReports.purchaseDetailReport">Purchase Detail Report</a></li>
                  <li ng-if="utils.isUserPermitted(user, 'View Purchase Summary Report')"><a ui-sref="stockReports.purchaseSummaryReport">Purchase Summary Report</a></li>
                  <li><a ui-sref="stockReports.vendorPaymentReport">Vendor Payment Report</a></li>
                  <li><a ui-sref="stockReports.varianceReportAggr">Variance Report (Test)</a></li>
                  <li><a ui-sref="stockReports.consumptionReportAggr">Consumption Report (Test)</a></li>
                  <!-- end -->
                </ul>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-9 col-md-10 affix-content">
    <div class="container reports">
      <div ui-view=""></div>
    </div>
  </div>
</div>