<tabset>
  <tab ng-show="enableReturn" heading="Return" style="cursor:pointer;" ng-click="clearReturnForm()">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div style="margin-top: 20px;"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Return</h3>

                <div style="float:right;margin-top:-25px"><span>
                  <a class="btn btn-danger" ng-click="resetStockReturnTab()">
                    <span ng-if="!stockReturnForm.isEdit">Reset </span>
                    <span ng-if="stockReturnForm.isEdit">Edit</span>
                  </a>
                </span></div>
              </div>
              <div class="panel-body">
                <form name="formStockReturn" novalidate ng-submit="submitStockReturn(formStockReturn)">
                  <div class="panel panel-default col-md-12">
                    <table class="table">
                      <tr>
                        <td>Bill No</td>
                        <td>
                          <span>
                            {{stockReturnForm.tempBillNo}}
                          </span>
                        </td>
                        <td>Bill Date</td>
                        <td>
                          <input ng-disabled="true" type="text" date-format ng-disabled="stockReturnForm.isSaved"
                                 name="validFrom"
                                 class="form-control"
                                 datepicker-popup="{{'dd-MMM-yyyy'}}"
                                 ng-model="stockReturnForm.billDate"
                                 max-date="stockReturnForm.maxDate"
                                 is-open="stockReturnForm.billDate.open"
                                 ng-click="stockReturnForm.billDate.open = true"
                                 ng-change="tempBill_stockReturnForm(stockReturnForm.billDate)"
                                 datepicker-options="dateOptions"
                                 date-disabled="disabled(date, mode)"
                                 ng-required="true"
                                 close-text="Close"/>
                        </td>
                      </tr>
                      <tr>
                        <td>Select Store</td>
                        <td>
                          <select ng-disabled="stockReturnForm.isSaved" ng-model="stockReturnForm.store"
                                  ng-change="bindVendor_returnForm(stockReturnForm.store)"
                                  ng-options="s.storeName for s in stores" class="form-control">
                            <option value="">Select Store</option>
                          </select>
                        </td>
                        <td>Select HO Vendor</td>
                        <td>
                          <select ng-disabled="stockReturnForm.isSaved" ng-model="stockReturnForm.vendor"
                                  ng-change="onAnyChange()"
                                  ng-options="v.vendorName for v in stockReturnForm.availableVendor"
                                  class="form-control">
                            <option value="">Select Vendor</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td> Return Bill Date</td>
                        <td>
                          <input type="text" date-format ng-disabled="stockReturnForm.isSaved" name="validFrom"
                                 class="form-control"
                                 datepicker-popup="{{'dd-MMM-yyyy'}}"
                                 ng-model="stockReturnForm.returnBillDate"
                                 max-date="stockReturnForm.maxDate"
                                 is-open="stockReturnForm.retDate.open"
                                 ng-click="stockReturnForm.retDate.open = true"
                                 ng-change="onAnyChange()"
                                 datepicker-options="dateOptions"
                                 date-disabled="disabled(date, mode)"
                                 ng-required="true"
                                 close-text="Close"/>
                        </td>
                        <td>Select Bill No</td>
                        <td>
                          <!--<pre>{{stockReturnForm.returnBillNo}}</pre>-->
                          <select ng-disabled="stockReturnForm.isSaved" ng-model="stockReturnForm.returnBillNo"
                                  ng-options="v.billNo for v in stockReturnForm.availablePosForReturnDateWise"
                                  ng-change="bindItemsReturn(stockReturnForm.returnBillNo)" class="form-control">
                            <option value="">Select Bill</option>
                          </select>
                        </td>
                      </tr>
                    </table>
                    <table ng-show="stockReturnForm.hasItems" class="table table-curved table-curved-hover">
                      <thead>
                      <tr>
                        <th></th>
                        <th>Item Name</th>
                        <th>Received Qty</th>
                        <th>Balance Qty</th>
                        <th>Return Qty</th>
                        <th>Unit</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in stockReturnForm.availableItems">
                        <td>
                          <a style="cursor:pointer;" ng-click="deleteSelectedItemReturnForm(item)"><i
                            class="glyphicon glyphicon-remove"></i></a>
                        </td>
                        <td>{{item.itemName}}</td>
                        <td>{{item.receiveQty}}</td>
                        <td>{{item.availableQty}}</td>
                        <td>
                          <input type="text" ng-model="item.returnQty" class="form-control" id="r_{{$index+1}}1"
                                 ng-change="EnableSubmitReturn(stockReturnForm.availableItems)"
                                 ng-enter="goNextReturn({{$index+2}}1 )" numeric-only>
                        </td>
                        <td>{{item.selectedUnit.unitName}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                  <button id="submitReturn" type="submit" class="btn btn-success"
                          ng-disabled="stockReturnForm.enableSubmit">
                    Submit
                    <!-- <span ng-if="!stockReturnForm.isPrint">Submit </span>
                     <span ng-if="stockReturnForm.isPrint">Print </span> -->
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>

  <tab ng-hide="enableReturn" heading="Accept" active="activeAccept" style="cursor:pointer;" ng-click="clearAccept()">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div class="margin-top:20px;"></div>
        <div class="row">
          <div class="col-md-12">
            <!-- <div class="col-xs-18 col-md-2" ng-repeat="d in requirementReceive">
                        <div class="thumbnail">
                            <div class="caption" ng-click="openIndentGrnReceiveForm(d,$index)" style="background-color:#5bc0de;cursor:pointer;">
                                <span >PO - {{$index+1}} </span>
                            </div>
                        </div>
                    </div> -->
            <form name="returnAcceptItemsForm"
                  ng-submit="submitAcceptReturn(stockReturnAcceptForm, returnAcceptItemsForm)">
              <table class="table table-curved table-curved-hover" ng-show="stockReturnAcceptForm.isNew">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Return Date</th>
                  <th>Return No</th>
                  <th>User Name</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="r in  stockReturnAccept.slice(((pagination.currentPage-1)*pagination.itemsPerPage), ((pagination.currentPage)*pagination.itemsPerPage))" style="cursor:pointer;" ng-click="stockReturnAcceptFormData(r)">

                  <td>{{$index+1}}</td>
                  <td>{{r.created | date:'dd MMM yyyy @ h:mma'}}</td>
                  <td>RT{{r.daySerialNumber}}</td>
                  <td>{{r.user.username}}</td>
                </tr>

                <tr ng-show="stockReturnAccept.length<=0">
                  <td colspan="5">No Items present to Accept</td>
                </tr>
                </tbody>
              </table>
<div>

                      <pagination total-items="stockReturnAccept.length" ng-model="pagination.currentPage"
                                  items-per-page="pagination.itemsPerPage"></pagination>
                    </div>
              <table class="table table-curved" ng-hide="stockReturnAcceptForm.isNew">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Item Name</th>
                  <th>Return Qty</th>
                  <th>Unit</th>
                  <th>Return Accept Qty</th>
                  <th>Return Wastage Qty</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in stockReturnAcceptForm._items">
                  <td>{{$index+1}}</td>
                  <td>{{item.itemName}}</td>
                  <td>{{item.returnQty}}</td>
                  <td>{{item.selectedUnit.unitName}}</td>
                  <td>
                    <input type="text" ng-required="true" ng-model="item.returnAcceptQty" required
                           ng-change="changeWastage(item)" class="form-control" smart-float id="pr_{{$index+1}}1">
                  </td>
                  <td>
                    <input type="text" ng-required="true" ng-model="item.returnWastageQty" required
                           ng-change="changeAccept(item)" class="form-control" smart-float id="pr_{{$index+1}}1">
                  </td>
                </tr>
                </tbody>
               
              </table>
              
              <div ng-hide="stockReturnAcceptForm.isNew">
                <button id="submitReceive" ng-disabled="returnAcceptItemsForm.$invalid || stockReturnAcceptForm.submitting" type="submit"
                        class="btn btn-success">
                  <!-- ng-disabled="indentGrnReceive.enableSubmit" -->
                  <span ng-if="!indentGrnReceive.isPrint">Accept </span>
                  <span ng-if="indentGrnReceive.isPrint">Print </span>
                </button>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </tab>

</tabset>
