@media print {
    header:before {
        display: block;
        content: "Thank you for printing our content at www.smashing-winery.com. Please check back soon for new offers on delicious wine from our winery.";
        margin-bottom: 10px;
        border: 1px solid #bbb;
        padding: 3px 5px;
        font-style: italic;
    }
}