<div class="modal-header">
    <h3 class="modal-title">Permissions</h3>
</div>

<div class="modal-body">
    <div class="row">
          <div class="col-md-6">
            <form name="formShift" role="form" style="margin-top:20px;" ng-submit="submitShiftForm(formShift)" novalidate>

              <div class="form-group has-feedback" ng-class="{ 'has-success': formShift.name.$valid 
              && submitted,
                                                'has-error': formShift.name.$invalid && submitted && !formShift.name.$pristine}">
                <label for="name">Shift Name</label>
                <input id="name" type="text" class="form-control" name="name"
                       ng-model="shiftForm.name" ng-trim="true" placeholder="Shift Name"
                       required/>
                <span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : formShift.name.$invalid}"></span>
                <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : formShift.name.$valid }"></span>
              </div>
              <div class="row">
              <div class="col-md-6">
                <label for="name">From</label>
                <timepicker  ng-model="shiftForm.shiftFrom"  show-meridian="true"></timepicker>
              </div>
              <div class="col-md-6">
                <label for="name">To</label>
                <timepicker ng-model="shiftForm.shiftTo" show-meridian="true"></timepicker>
              </div></div>
              <button type="submit" class="btn btn-success" ng-disabled="formShift.$invalid">
                <span ng-if="!shiftForm.shiftInEdit">Create Shift</span>
                <span ng-if="shiftForm.shiftInEdit">Update Shift</span>
              </button>
              <a class="btn btn-danger" ng-show="shiftForm.shiftInEdit" ng-click="clearShiftForm()">
                Cancel
              </a>
            </form>
          </div>
          <div class="col-md-6">
            <h4>Shifts</h4>
            <label><input type="search" class="form-control" ng-model="searchShift" placeholder="Search Shift"></label>
            <table class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>From</th>
                <th>To</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="shift in shifts | filter: searchShift">
                <td>{{$index + 1}}</td>
                <td>{{shift.name}}</td>
                <td>{{shift.shiftFrom | date :  "shortTime"}}</td>
                <td>{{shift.shiftTo | date :  "shortTime"}}</td>
                <td><a ng-click="editShift(shift)"><i class="glyphicon glyphicon-edit"></i></a></td>
                <td><a ng-click="removeShift(shift)"><i class="glyphicon glyphicon-trash"></i></a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="close()">Close</button>
</div>
