<div class="modal-header">
    <h3 class="modal-title">Permissions</h3>
</div>

<div class="modal-body">
    <ul class="list-group">
        <li ng-repeat="p in user.selectedPermissions" class="list-group-item">{{p.label}}</li>
    </ul>

</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="close()">Close</button>
</div>
