<div class="modal-header">
    <h3 class="modal-title">Categories for {{station.stationName}}</h3>

    <div class="modal-body">
            {{station | json}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="">Create New Customer</button>
        <button class="btn btn-warning" ng-click="">Cancel</button>
    </div>
</div>