<div class="page-header">
  <h1>Deployments <a class="btn btn-success" ng-disabled="isAdmin()"  ng-click="addDeployment()"><i class="fa fa-location-arrow"></i> Add
    Deployment</a></h1>
</div>
<!--  <pre>
      {{deployments | json}}
  </pre>-->
<div class="row">
  <div class="col-md-12">
    <div class="col-xs-18 col-sm-4 col-md-4" ng-repeat="d in deployments">
      <div ng-class="{success: d.isMaster}" ng-if="isDeploymentOwner(d._id);" class="thumbnail">
        <div class="caption">
          <h4>{{d.name}}</h4>
          <!-- <p ng-show="!d.isMaster">
               <h5>{{d.address1}}, {{d.address2}}</h5>
           </p>-->
          <p ng-if="d.isMaster">
            This is your Master Deployment. It is used as a default deployment and isn't used anywhere. You can clone
            data to other deployments from here.
          </p>

          <p>
            <a ng-show="d.isMaster"  ui-sref=".deploymentDetails({deploymentId:d._id})" class="btn btn-primary btn-sm"
               role="button"><i class="fa fa-cogs"></i> Manage</a>
            <!--<a ng-show="d.isMaster" ui-sref="gettingstarted" class="btn btn-primary btn-sm" role="button"><i
              class="fa fa-cogs"></i> Manage in Wizard Mode</a>-->



          <div ng-if="!d.isMaster">
            <div class="btn-group" dropdown >
              <button type="button"  class="btn btn-info" ui-sref=".deploymentDetails({deploymentId:d._id})"> <i class="fa fa-cogs"></i> Manage</button>
              <button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a style="cursor: pointer;" ng-click="importDataFromMaster(d)"><i class="fa fa-upload"></i> Import
                  Data from Master</a></li>
                <li><a style="cursor: pointer;" ng-click="gotoBilling(d)"><i class="fa fa-arrow-right"></i> Goto Billing</a></li>
              </ul>
            </div>
            <!--<div class="btn-group" dropdown>
              <a class="btn btn-primary" ui-sref=".deploymentDetails({deploymentId:d._id})"><i class="fa fa-cogs"></i>
                Manage</a>
              <a class="btn btn-primary dropdown-toggle">
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
              </a>
              <ul class="dropdown-menu" role="menu">
                &lt;!&ndash;<li><a href="#">Transfer Table</a></li>&ndash;&gt;
                <li><a style="cursor: pointer;" ng-click="importDataFromMaster(d)"><i class="fa fa-upload"></i> Import
                  Data from Master</a></li>
                <li><a style="cursor: pointer;" ng-click="gotoBilling(d)"><i class="fa fa-arrow-right"></i> Goto Billing</a></li>
                &lt;!&ndash;<li><a style="cursor: pointer;" ng-click="clearAllData(d)"><i class="fa fa-trash-o"></i> Clear All Data</a></li>&ndash;&gt;

                &lt;!&ndash;<li class="divider"></li>
                <li><a href="#">Settle Bill</a></li>&ndash;&gt;
              </ul>
            </div>-->
          </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
