<div class="modal-header">
    <h3 class="modal-title">Prefill Data for - {{deployment.name}}</h3>
</div>

<div class="modal-body">
    <div class="jumbotron">
        <h2>Do you wish to automatically import all deployment data from Masters?</h2>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-success" ng-click="importDataFromMaster(deployment)">Yes</a>
    <a class="btn btn-warning" ng-click="cancelImport()">No</a>
</div>
