<div class="modal-header">
    <h3 class="modal-title">Store Master Set-Up</h3>

</div>
<div class="modal-body">
    <table class="table table-curved" id="printTable">
        <thead>
            <th colspan="3">WELCOME TO STORE</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <button class="btn btn-success" ng-click="start()">START</button>
                </td>
                <td><b>OR</b></td>
                <td>
                    <a ng-click="doManualy()">DO IT YOURSELF</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>