<tabset>
	<tab heading="Store">
		<div ng-cloak class="row">
			<div class="col-md-12">
				<!--<pre>
					{{store | json}}
				</pre>-->
				<div style="margin-top: 20px;"></div>
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Create Store</h3>
							</div>
							<div class="panel-body">
								<form role="form" name="formStore" ng-submit="submitStoreForm(formStore)" style="margin-top:20px;" class="col-md-6"  novalidate>
									<div class="form-group has-feedback" ng-class="{ 'has-success': formStore.storeName.$valid && submitted,'has-error': formStore.storeName.$invalid && submitted && !formStore.storeName.$pristine}">
										<label>Store Name </label>
										<input type="text" ng-model="storeForm.name" name="storeName" placeholder="Store Name" class="form-control" required>
										<span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : formStore.storeName.$error.required }"></span>
										<span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : formStore.storeName.$valid }"></span>
									</div>
									<div class="form-group has-feedback" ng-class="{ 'has-success':   formStore.storeLocation.$valid && submitted,'has-error': formStore.storeLocation.$invalid && submitted && !formStore.storeLocation.$pristine}">
										<label>Store Location </label>
										<input type="text" ng-model="storeForm.location" name="storeLocation" placeholder="Store Location" class="form-control" required>
										<span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : formStore.storeLocation.$error.required }"></span>
										<span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : formStore.storeLocation.$valid }"></span>
									</div>
									<div class="form-group has-feedback" ng-class="{ 'has-success': formStore.storeUID.$valid && submitted,'has-error': formStore.storeUID.$invalid && submitted && !formStore.storeUID.$pristine}">
										<label>Store UID</label>
										<input type="text" ng-model="storeForm.uid" name="storeUID" placeholder="Store UID" class="form-control" required>
										<span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : formStore.storeUID.$error.required }"></span>
										<span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : formStore.storeUID.$valid }"></span>
									</div>
									<div class="form-group">
										<label class="checkbox-inline">                            
											<input type="checkbox" ng-model="storeForm.isKitchenStore" > Is Kitchen Store
										</label>
									</div>
									<div class="form-group">
										<label class="checkbox-inline">                            
											<input type="checkbox" ng-model="storeForm.isMainStore" > Is Main Store
										</label>
									</div>
									<div >
										<button  type="submit" ng-click="submitted=true" ng-disabled="formStore.$invalid" data-style="expand-left" class="btn btn-success btn-lg">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Available Store</h3>
							</div>
							<div class="panel-body">
								<table class="table col-md-6">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Location</th>
											<th>UID </th>
											<th>Kitchen</th>
											<th>Main</th>
											<th>&nbsp;</th>
											<th>&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="s in store">
											<td>{{$index + 1}}</td>
											<td>{{s.name}}</td>
											<td>{{s.location}}</td>
											<td>{{s.uid}}</td>
											<td>
												<label class="checkbox-inline">                            
													<input type="checkbox" ng-disabled="true" ng-model="s.isKitchenStore" >
												</label>
											</td>
											<td>
												<label class="checkbox-inline">                            
													<input type="checkbox" ng-disabled="true" ng-model="s.isMainStore" > 
												</label>
											</td>
											<td><a ng-click="editStore(s)"><i class="glyphicon glyphicon-edit"></i></a></td>
											<td><a ng-click="removeStore(s)"><i class="glyphicon glyphicon-trash"></i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>





		</div>
	</div>
</tab>
<tab heading="Category">
	<div ng-cloak class="row">
			<div class="col-md-12">
				<pre>
					{{categoryForm | json}}
				</pre>
				<div style="margin-top: 20px;"></div>
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Create Category</h3>
							</div>
							<div class="panel-body">
								<form role="form" name="formCategory" ng-submit="submitformCategory(formCategory)" style="margin-top:20px;"  novalidate>
									<div class="form-group has-feedback" ng-class="{ 'has-success': formCategory.storeName.$valid && submitted,'has-error': formCategory.storeName.$invalid && submitted && !formCategory.storeName.$pristine}">
										<label>Store Name </label>
										<select id="store" name="storeName"
                                                ng-model="categoryForm.storeName"
                                                ng-options="s.name for s in store" class="form-control" required>
                                            <option value="">Select</option>
                                        </select>
										<span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : formCategory.storeName.$error.required }"></span>
										<span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : formCategory.storeName.$valid }"></span>
									</div>
									<div class="form-group has-feedback" ng-class="{'has-success' : formCategory.name.$valid && submitted, 'has-error': formCategory.name.$invalid && submitted && !formCategory.name.$pristine}">
										<label>Category Name</label>
										<input id="lblname" class="form-control" name="name" ng-model="categoryForm.name" required />
										<span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : formCategory.name.$error.required }"></span>
										<span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : formCategory.name.$valid }"></span>
									</div>
									<div class="form-group has-feedback" ng-class="{'has-success' : formCategory.description.$valid   && submitted, 'has-error': formCategory.description.$invalid && submitted && !formCategory.description.$pristine}">
										<label>Description</label>
										<input id="lbldesc" class="form-control" name="description" ng-model="categoryForm.description" required />
										<span ng-class="{'glyphicon glyphicon-remove form-control-feedback' : formCategory.description.$error.required }"></span>
										<span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : formCategory.description.$valid }"></span>
									</div>
									<div >
										<button type="submit"  ng-click="submitted=true" ng-disabled="categoryForm.$invalid" data-style="expand-left" class="btn btn-success btn-lg">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>


					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Available Category</h3>
							</div>
							<div class="panel-body">
								<table class="table col-md-6">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Description</th>
											<th>Store Name</th>
											<th>&nbsp;</th>
											<th>&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="s in category">
											<td>{{$index + 1}}</td>
											<td>{{s.name}}</td>
											<td>{{s.description}}</td>
											<td>{{s.storeName.name}}</td>
											<td><a ng-click=""><i class="glyphicon glyphicon-edit"></i></a></td>
											<td><a ng-click=""><i class="glyphicon glyphicon-trash"></i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>

</tab>
<tab heading="Units"></tab>
<tab heading="Items"></tab>
<tab heading="Items In Store"></tab>
<tab heading="Vendor"></tab>
<tab heading="Receiver"></tab>
<tab heading="Vendor Pricing"></tab>
<tab heading="Opening Stock"></tab>
<tab heading="Reorder Item"></tab>
<tab heading="Processed Item"></tab>
<tab heading="Import/export"></tab>
</tabset>
