
#modalToTransferCategories .modal-body{
  max-height: 1500px;
  overflow: scroll;
}

.categList input:checked ~ label { color:red; }


.invisibleCheckbox{
  display: none;
}

.show{
  display:block
}

.hide{
  display:none;
}
