<tabset>
  <tab heading="Store" style="cursor:pointer;" ng-click="clearStoreTab()">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <!--<pre>{{store | json}}</pre>-->
        <div style="margin-top: 20px;"></div>
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <!--  <pre>{{storeForm | json}}</pre>  -->
              <div class="panel-heading">
                <h3 class="panel-title">Create Store</h3>
              </div>
              <div class="panel-body">
                <form name="formStore" ng-submit="createStore(formStore)" novalidate>
                  <div class="form-group">
                    <label for="storeName">Store Name</label>
                    <input type="text" name="storeName" ng-change="console.log('HEllo');" ng-model="storeForm.storeName" ng-trim="true" class="form-control" autocomplete="off" required ng-disabled="disable.storeName">
                  </div>
                  <div ng-show="formStore.storeName.$error.mongoose" style="color:red;">{{formStore.storeName.$error.mongoose}}</div>
                  <div class="form-group">
                    <label for="storeLocation">Store Location</label>
                    <input type="text" ng-model="storeForm.storeLocation" name="storeLocation" ng-trim="true" class="form-control" autocomplete="off" ng-disabled="disable.storeLocation">
                  </div>
                  <div class="form-group">
                    <label for="storeUID">Store UID</label>
                    <input type="text" name="storeUID" ng-model="storeForm.storeUID" ng-trim="true" class="form-control" autocomplete="off" ng-disabled="disable.storeUID">
                  </div>
                  <div class="form-group">
                    <label class="checkbox-inline"  ng-hide="storeForm.hideKitchen" >
                      <input type="checkbox" ng-model="storeForm.isKitchen" > Is Kitchen Store
                    </label>
                    <label class="checkbox-inline"  ng-hide="storeForm.hideMainStore" >
                      <input type="checkbox" ng-model="storeForm.isMain">Is Main Store
                    </label>
                  </div>
                  <!-- <modal lolo="modal1" modal-body="body" modal-footer="footer" modal-header="header" ng-click-right-button="myRightButton()"></modal>
                                      <a href="#{{modal1}}" role="button" class="btn btn-success" data-toggle="modal">Launch Demo Modal</a> -->
                  <button type="submit" class="btn btn-success"  ng-disabled="formStore.$invalid">
                    <span ng-if="!storeForm.isEdit">Create </span>
                    <span ng-if="storeForm.isEdit">Update </span>

                  </button>
                  <a class="btn btn-danger" ng-show="storeForm.isEdit" ng-click="clearStoreForm()">
                    Cancel
                  </a>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Available Store</h3>
              </div>
              <div class="panel-body">
                <div ng-hide="true">
                  <a ng-click="removeSelectedStore()" mouseover="DeleteSelectedStore" ng-show="storeSelectAll">	<i class="glyphicon glyphicon-trash"></i>
                  </a>
                </div>
                <div>
                  <label>
										<span ng-show="storeForm.isMessage" style="color:red">
											{{storeForm.message}}
										</span>
                  </label>
                </div>
                <div class="form-group">
                  <ul class="pagination" style="margin: 0;">
                    <li>
                      <ul class="pagination" style="margin: 0;">
                        <li><a href="" ng-click="storePagination.prevPage()">&laquo; Previous</a></li>
                        <li ng-repeat="n in [] | range: storePagination.numPages" ng-class="{active: n == storePagination.page}">
                          <a href="" ng-click="storePagination.toPageId(n)">{{n + 1}}</a>
                        </li>
                        <li><a href="" ng-click="storePagination.nextPage()">Next &raquo; </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <table class="table table-curved">
                  <thead>
                  <tr>
                    <th ng-hide="true">
                      <input type="checkbox" ng-model="storeSelectAll" ng-click="checkAllStore()">
                    </th>
                    <th>#</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>UID </th>
                    <!-- <th>Kitchen</th>
                                        <th>Main</th> -->
                    <th>Store Type</th>
                    <th>Assign Categ.</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>

                  </tr>
                  </thead>
                  <tbody>
                  <!-- <tr ng-repeat="s in stores"> -->
                  <tr ng-repeat="s in stores | startFrom: storePagination.page * storePagination.perPage | limitTo: storePagination.perPage | orderBy: 'storeName'">
                    <td ng-hide="true">
                      <input type="checkbox" ng-model="s.selected">
                    </td>
                    <td>{{$index + 1}}</td>
                    <td>{{s.storeName}}</td>
                    <td>{{s.storeLocation}}</td>
                    <td>{{s.storeUID}}</td>
                    <td>
                      <span ng-if="s.isKitchen">Kitchen</span>
                      <span ng-if="s.isMain">Main</span>


                    </td>
                    <td><button class="btn btn-link" data-toggle="modal" data-backdrop="static" data-target="#modalToTransferCategories"
                           data-keyboard="false" ng-if="s.isKitchen" ng-click="changeKitchenToTransfer(s);">Click</button><span ng-if="s.isMain && !s.isKitchen">NA</span></td>
                    <td>
                      <a ng-click="editStore(s)"><i class="glyphicon glyphicon-edit"></i></a>


                    </td>
                    <td><a ng-confirm-message="ARE YOU SURE YOU WANT TO DELETE THIS?" ng-confirm-condition="true" ng-confirm-click="removeStore(s)"><i class="glyphicon glyphicon-trash"></i></a>

                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal HTML -->
    <div id="modalToTransferCategories" class="modal fade" role="dialog" ng-show="openModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="col-md-6">
              <select ng-disabled="storeForm.transferDeleteDisabled || storeForm.transferDisabled" class="form-control" ng-options="kitchen as kitchen.storeName for kitchen in stores | filter: {isKitchen:'true'}" ng-model="storeForm.transfer.toKitchen" ng-change="changeKitchenToTransfer(kitchen)">
                <option value="" ng-if="!storeForm.transfer.toKitchen">Select Store</option>
              </select>
            </div>
            <div class="col-md-6">
              <div>
                <h4>Assigned Categories</h4>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <table class="table table-responsive col-centered" style="width:100%">
              <tr>
                <td class="col-md-6">
                  <div ng-repeat="category in copiedAllItemsByCategories | filter: {isSemiProcessed:'false', assignedToKitchen: 'undefined'}">
	          							<span style="cursor:pointer;">
	          								<input ng-disabled="storeForm.transferDisabled" class="invisibleCheckbox form-control" type="checkbox" ng-model="storeForm.categoryToTransfer[category._id]" id="{{category._id}}" ng-click="transferCategories()">
	          									<label class="btn btn-primary form-control" for="{{category._id}}">{{category.categoryName}}
                                <i class="glyphicon glyphicon-arrow-right" style="text-align: right;"></i>
                              </label>
                            </input>
	          							</span>
                  </div>
                </td>
                <td class="col-md-6">
                  <div ng-repeat="category in storeForm.transfer.toKitchen.processedFoodCategory">

	   									<span class="btn btn-success form-control" ng-disabled="storeForm.transferDeleteDisabled" ng-click="unAssignCategoryFromKitchen(category._id, $index)">
	   										<i class="glyphicon glyphicon-arrow-left" style="text-align: left;"></i> {{category.categoryName}}
	   									</span>
                  </div>
                </td>
              </tr>
            </table>
            <!-- <div class="row categList"> -->
            <!-- <div class="col-md-6"> -->
            <!-- <div class="list-group row" ng-repeat="category in copiedAllItemsByCategories | filter: {isSemiProcessed:'false', assignedToKitchen: 'undefined'}">
                              <span>
                                  <input class="invisibleCheckbox list-group-item" type="checkbox" ng-model="storeForm.categoryToTransfer[category._id]" id="{{category._id}}">
                                      <label class="list-group-item" for="{{category._id}}">{{category.categoryName}}</label>
                                  </input>
                              </span>
                        </div> -->
            <!-- </div> -->
            <!-- <div class="col-md-6"> -->
            <!-- <div class="list-group row" ng-repeat="category in storeForm.transfer.toKitchen.processedFoodCategory">
                            <span class="list-group-item">{{category.categoryName}}</span>
                               <span class="col-md-2 btn btn-default" ng-click="unAssignCategoryFromKitchen(category._id, $index)">
                                   <i class="glyphicon glyphicon-trash"></i>
                               </span>
                           </div> -->
            <!-- </div> -->
            <!-- </div> -->
            <button ng-click="closeModal()" class="btn btn-primary pull-right" data-dismiss="modal" aria-label="Close" ng-disabled="storeForm.transferDeleteDisabled || storeForm.transferDisabled;">Close</button>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-primary" ng-click="transferCategories()">Transfer</button> -->
          </div>
        </div>
      </div>
    </div>
  </tab>
  <tab heading="Category" style="cursor:pointer;" ng-click="clearCategoryTab()">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div style="margin-top: 20px;"></div>
        <div class="row">
          <div class="col-md-6">
            <!-- <pre>
                            {{stockCategoryForm | json}}
                        </pre> -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Create Category</h3>
              </div>
              <div class="panel-body">
                <form name="formStockCategory" ng-submit="createStockCategory(formStockCategory)" novalidate>
                  <div class="form-group">
                    <label for="storeName">Store Name</label>
                    <select  name="storeName" ng-disabled="stockCategoryForm.isEdit" ng-model="stockCategoryForm.store"
                             ng-options="s.storeName for s in stores" ng-change="bindCategory_stockCategory(stockCategoryForm.store)"  class="form-control" required>
                      <option value="">Select Store</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="categoryName">Category Name</label>
                    <input type="text" ng-model="stockCategoryForm.categoryName" name="categoryName" ng-trim="true" class="form-control" autocomplete="off"  required>
                  </div>
                  <div ng-show="formStockCategory.categoryName.$error.mongoose" style="color:red;">{{formStockCategory.categoryName.$error.mongoose}}</div>
                  <div class="form-group">
                    <label for="discription">Category Discription</label>
                    <textarea rows="5" class="form-control" cols="150" name="discription" ng-model="stockCategoryForm.discription" autocomplete="off" ng-trim="true"></textarea>
                  </div>
                  <button type="submit" class="btn btn-success"  ng-disabled="formStockCategory.$invalid">
                    <span ng-if="!stockCategoryForm.isEdit">Create </span>
                    <span ng-if="stockCategoryForm.isEdit">Update </span>
                  </button>
                  <a class="btn btn-danger" ng-show="stockCategoryForm.isEdit" ng-click="clearStockCategoryForm()">
                    Cancel
                  </a>
                </form>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Available Category</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <ul class="pagination" style="margin: 0;">
                    <li>
                      <ul class="pagination" style="margin: 0;">
                        <li><a href="" ng-click="categoryPagination.prevPage()">&laquo; Previous</a></li>
                        <li ng-repeat="n in [] | range: categoryPagination.numPages" ng-class="{active: n == categoryPagination.page}">
                          <a href="" ng-click="categoryPagination.toPageId(n)">{{n + 1}}</a>
                        </li>
                        <li><a href="" ng-click="categoryPagination.nextPage()">Next &raquo; </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <table class="table  table-curved">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Store Name</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- <tr ng-repeat="s in stockCategories"> -->
                  <tr ng-repeat="s in stockCategories_Category | startFrom: categoryPagination.page * categoryPagination.perPage | limitTo: categoryPagination.perPage | orderBy: 'categoryName'">
                    <td>{{$index + 1 + (categoryPagination.page * categoryPagination.perPage)}}</td>
                    <td>{{s.categoryName}}</td>
                    <td>{{s.discription}}</td>
                    <td>{{s.store.storeName}}</td>
                    <td><a ng-click="editStockCategory(s)"><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a ng-confirm-message="ARE YOU SURE YOU WANT TO DELETE THIS?" ng-confirm-condition="true" ng-confirm-click="removeStockCategory(s)"><i class="glyphicon glyphicon-trash"></i></a></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </tab>
  <tab heading="Units"  style="cursor:pointer;" ng-click="clearUnitsTab()">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div style="margin-top:20px;"></div>
        <div class="row">
          <div class="col-md-6">
            <!--<pre>{{stockUnitsForm | json}}</pre>-->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Stock Units</h3>
              </div>
              <div class="panel-body">
                <form name="formStockUnits" ng-submit="submitStockUnits(formStockUnits)" novalidate>
                  <div class="form-group">
                    <label for="unitName">Unit Name</label>
                    <input type="text" name="unitName" class="form-control" ng-model="stockUnitsForm.unitName" autocomplete="off" required>
                  </div>
                  <div ng-show="formStockUnits.unitName.$error.mongoose" style="color:red;">{{formStockUnits.unitName.$error.mongoose}}</div>
                  <div class="form-group">
                    <label for="baseUnit">Base Unit</label>
                    <select name="baseUnit" ng-model="stockUnitsForm.baseUnit" class="form-control" ng-options="s.name for s in baseUnits" required>
                      <option value="">Select Base Unit</option>
                    </select>
										<span class="help-block" ng-show="formStockUnits.baseUnit.$error.required && formStockUnits.baseUnit.$dirty">
	                						Select a base unit !
	            						</span>
                  </div>
                  <div class="form-group">
                    <label for="conFactor">Conversion Factor</label>
                    <input type="text" name="conFactor" class="form-control" ng-model="stockUnitsForm.baseConversionFactor" autocomplete="off"  smart-float1 required>
										<span class="help-block" ng-show="formStockUnits.conFactor.$error.float">
	                						Invalid Conversion Factor
	            						</span>
                  </div>
                  <button type="submit" class="btn btn-success"  ng-disabled="formStockUnits.$invalid">
                    <span ng-if="!stockUnitsForm.isEdit">Create </span>
                    <span ng-if="stockUnitsForm.isEdit">Update </span>

                  </button>
                  <a class="btn btn-danger" ng-show="stockUnitsForm.isEdit" ng-click="clearStockUnitForm()">
                    Cancel
                  </a>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Available Units</h3>
              </div>

              <div class="panel-body">
                <div class="form-group">
                  <input type="text" ng-model="searchUnits.unitName" placeholder="Search Units" class="form-control">
                </div>
                <div class="form-group">
                  <ul class="pagination" style="margin: 0;">
                    <li>
                      <ul class="pagination" style="margin: 0;">
                        <li><a href="" ng-click="unitPagination.prevPage()">&laquo; Previous</a></li>
                        <li ng-repeat="n in [] | range: unitPagination.numPages" ng-class="{active: n == unitPagination.page}">
                          <a href="" ng-click="unitPagination.toPageId(n)">{{n + 1}}</a>
                        </li>
                        <li><a href="" ng-click="unitPagination.nextPage()">Next &raquo; </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="table-responsive">
                  <table class="table table-curved">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Unit Name</th>
                      <th>Conversion Factor</th>
                      <th>Base Unit</th>
                      <th>&nbsp;</th>
                      <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- <tr ng-repeat="s in stockUnits | filter: searchUnits "> -->
                    <tr ng-repeat="s in stockUnits |filter: searchUnits| startFrom: unitPagination.page * unitPagination.perPage | limitTo: unitPagination.perPage | orderBy: 'unitName'">
                      <td >{{$index + 1 + (unitPagination.page * unitPagination.perPage)}}</td>
                      <td>{{s.unitName}}</td>
                      <td>{{s.baseConversionFactor}}</td>
                      <td>{{s.baseUnit.name}}</td>
                      <td><a ng-click="editStockUnits(s)"><i class="glyphicon glyphicon-edit"></i></a></td>
                      <td><a ng-confirm-message="ARE YOU SURE YOU WANT TO DELETE THIS?" ng-confirm-condition="true" ng-confirm-click="removeStockUnits(s)"><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!--<pagination total-items="totalUnits" items-per-page="itemsPerPage"
                                     ng-model="currentPage" ng-change="pageChanged()"></pagination>
                                <pagination total-items="totalUnits" ng-model="bigCurrentPageUnit" max-size="maxSizeUnits" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                                <pre>Page: {{bigCurrentPage}} / {{numPages}}</pre>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>
  <tab heading="Items" style="cursor:pointer;"  ng-click="clearItemsTab()">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div style="margin-top:20px;"></div>
        <div class="row">
          <div class="col-md-3">
            <!-- <pre>{{stockItemsForm | json}}</pre> -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Stock Items</h3>
              </div>
              <div class="panel-body">
                <form name="formStockItems" ng-submit="submitStockItems(formStockItems)" novalidate>
                  <div class="form-group">
                    <ul id="{{key}}" ng-show="stockItemsForm.{{key}}" ng-repeat="(key, value) in stockUnits | groupBy: 'baseUnit.name'" style="list-style-type: none;"  >
                      <b style="margin-left:-50px;color:#3287E0;">Unit Type: {{ key }}</b>
                      <li ng-repeat="u in value">
                        <label for="{{u._id}}">
                          <input type="checkbox" ng-change="disableOthersGroup(key,u._id)" id="{{u._id}}" ng-model="stockItemsForm.Unit[u._id]" >
                          {{ u.unitName }} ({{u.baseConversionFactor}})
                        </label>
                      </li>
                    </ul>
                  </div>
                  <div class="form-group">
                    <label for="itemName">Item Name</label>
                    <input type="text" name="itemName" class="form-control" ng-trim="true" ng-model="stockItemsForm.itemName" autocomplete="off" required>
                  </div>
                  <div ng-show="formStockItems.itemName.$error.mongoose" style="color:red;">{{formStockItems.itemName.$error.mongoose}}</div>
                  <div class="form-group">
                    <label for="itemCode">Item Code</label>
                    <input type="text" name="itemCode" class="form-control" ng-trim="true" ng-model="stockItemsForm.itemCode" autocomplete="off">
                  </div>
                  <div ng-show="formStockItems.itemCode.$error.mongoose" style="color:red;">{{formStockItems.itemCode.$error.mongoose}}</div>
                  <button type="submit" class="btn btn-success"  ng-disabled="formStockItems.$invalid">
                    <span ng-if="!stockItemsForm.isEdit">Create Item</span>
                    <span ng-if="stockItemsForm.isEdit">Update Item</span>

                  </button>
                  <a class="btn btn-danger" ng-show="stockItemsForm.isEdit" ng-click="clearStockItemForm()">
                    Cancel
                  </a>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Available Items</h3>
              </div>

              <!--Tab Start-->
              <tabset>
                <tab heading=" Stock Items" style="cursor:pointer;">
                  <div class="panel-body">
                    <!--<pre>{{stockItemsPUnit | json}}</pre>-->
                    <!-- <pre>{{itemPagination | json}}</pre> -->
                    <div class="form-group">
                      <input type="text" ng-model="searchItems.itemName" placeholder="Search Items" class="form-control">
                    </div>
                    <!-- <div class="form-group">
                                            <ul class="pagination" style="margin: 0;">
                                                <li>
                                                    <ul class="pagination" style="margin: 0;">
                                                        <li><a href="" ng-click="itemPagination.prevPage()">&laquo; Previous</a></li>
                                                        <li ng-repeat="n in [] | range: itemPagination.numPages" ng-class="{active: n == itemPagination.page}">
                                                            <a href="" ng-click="itemPagination.toPageId(n)">{{n + 1}}</a>
                                                        </li>
                                                        <li><a href="" ng-click="itemPagination.nextPage()">Next &raquo; </a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div> -->
                    <table class="table  table-curved">
                      <thead>
                      <tr>
                        <!-- <th>#</th> -->
                        <th colspan="3" rowspan="2" ng-click="sort('itemName')">Item Name <span class="glyphicon sort-icon" ng-show="sortKey=='itemName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th colspan="1" rowspan="2">Units</th>
                        <th colspan="1" rowspan="2">Preferred Unit</th>
                        <th colspan="2">ReOrder Level</th>
                        <th colspan="1" rowspan="2">Yield</th>
                        <th colspan="2" rowspan="2">Item Code</th>
                        <th colspan="1" rowspan="2">&nbsp;</th>
                        <th colspan="1" rowspan="2">&nbsp;</th>
                      </tr>
                      <tr>
                        <th>Level</th>
                        <th>Unit</th>
                      </tr>
                      </thead>
                      <tbody>
                      <!-- <tr ng-repeat="s in stockItems | filter: searchItems:strict " orderBy: 'itemName'> -->
                      <!-- <tr ng-repeat="s in stockItems | filter: searchItems:strict| startFrom: itemPagination.page * itemPagination.perPage | limitTo: itemPagination.perPage | orderBy:sortKey:reverse "> -->
                      <tr pagination-id="itemss" dir-paginate= "s in stockItems|orderBy:sortKey:reverse|filter: searchItems:strict|itemsPerPage:10">
                        <!-- <td >{{$index + 1 + (itemPagination.page * itemPagination.perPage)}}</td> -->
                        <td colspan="3">{{s.itemName}}</td>
                        <td colspan="1">
															<span ng-repeat="i in s.units">
																{{i.unitName}} {{$last ? '' : ', '}}
															</span>
                        </td>
                        <td colspan="1">
                        <!-- <pre>{{s}}</pre> -->
                          <select   ng-model="s.preferedUnit" ng-options="sa._id as sa.unitName for sa in s.units" ng-change="updatePreferedUnit(s.preferedUnit,s)" class="form-control">
                            <option value="">Select</option>
                            <!--<option id="sa._id" ng-repeat="sa in s.units" value="{{sa.unitName}}" ng-selected="sa.selected">{{sa.unitName}}</option>-->
                          </select>
                        </td>
                        <td colspan="1">
                          <input  type="number" ng-change="updateReOrderLevel(s)" name="reorderLevel" ng-model="s.reorderLevel" class="form-control" float>
                        </td>
                        <td colspan="1">
                          <select ng-model="s.reorderUnit"  ng-options="sa._id as sa.unitName for sa in s.units" ng-change="updateReorderUnit(s.reorderUnit,s)" class="form-control">
                            <option value="">Select</option>
                          </select>
                        </td>

                        <td>
                          <input type="number" ng-change="updateYeild(s)" name="yeild" ng-model="s.yeild" ng-model-options="{debounce: 500}" class="form-control" float>
                        </td>
                        <td colspan="2">
                          <input type="text" ng-change="setItemCode(s.itemCode,s)" name="itemCode" ng-model="s.itemCode"  ng-model-options="{debounce: 700}" class="form-control">
                        </td>
                        <td colspan="1"><a ng-click="editStockItems(s)"><i class="glyphicon glyphicon-edit"></i></a></td>
                        <td colspan="1"><a ng-confirm-message="ARE YOU SURE YOU WANT TO DELETE THIS?" ng-confirm-condition="true" ng-confirm-click="removeStockItems(s)"><i class="glyphicon glyphicon-trash"></i></a></td>
                      </tr>
                      </tbody>
                    </table>
                    <div>
                      <dir-pagination-controls
                        max-size="10"
                        direction-links="true"
                        boundary-links="true" pagination-id="itemss" >
                      </dir-pagination-controls>
                    </div>
                  </div>
                </tab>
                <tab heading=" Base Kitchen Items" style="cursor:pointer;">
                  <table class="table  table-curved">
                    <thead>
                    <tr>
                      <!-- <th>#</th> -->
                      <th rowspan="2" ng-click="sort('itemName')">Item Name <span class="glyphicon sort-icon" ng-show="sortKey=='itemName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                      <th rowspan="2">Units</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr pagination-id="bkitemss" dir-paginate= "s in baseKitchenItems|orderBy:sortKey:reverse|filter: searchBK:strict|itemsPerPage:10">
                      <td>{{s.itemName}}</td>
                      <td >
															<span ng-repeat="i in s.units">
																{{i.unitName}} {{$last ? '' : ', '}}
															</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div>
                    <dir-pagination-controls
                      max-size="10"
                      direction-links="true"
                      boundary-links="true" pagination-id="bkitemss" >
                    </dir-pagination-controls>
                  </div>
                </tab>
              </tabset>
              <!--Tab Start-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>
  <tab heading="Items In Store" style="cursor:pointer;"  ng-click="clearItemsInStoreTab()">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div style="margin-top:20px;"></div>
        <div class="row">
          <div class="col-md-6">
            <!-- <pre>{{AssignItemToStoreForm | json}}</pre> -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Add Item to Store</h3>
              </div>
              <div class="panel-body">
                <form name="formAssignItemToStore" ng-submit="transferToStore(formAssignItemToStore)" novalidate>
                  <!--<div ng-repeat="s in stores">-->
                  <div class="form-group">
                    <label for="storeName">Store</label>
                    <select ng-disabled="test.callingApi" name="storeName" ng-change="OnStoreChange(AssignItemToStoreForm.store)" ng-model="AssignItemToStoreForm.store"
                            ng-options="ss.storeName for ss in stores" class="form-control" required>
                      <option value="">Select Store</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="categoryName">Category</label>
                    <select ng-disabled="test.callingApi" name="categoryName" class="form-control" ng-change="OnCategoryChange(AssignItemToStoreForm.selectedCategory)" ng-model="AssignItemToStoreForm.selectedCategory" ng-options="c.categoryName for c in AssignItemToStoreForm.category" required>
                      <option value="">Select Category</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="itemName">Item Name</label>
                    <select ng-disabled="test.callingApi" name="itemName" class="form-control" ng-model="AssignItemToStoreForm.selectedItem" ng-options="i.itemName for i in AssignItemToStoreForm.items" required>
                      <option value="">Select Item</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-success"  ng-disabled="formAssignItemToStore.$invalid || AssignItemToStoreForm.isSubmitted || test.callingApi">
                    <span>Transfer</span>
                  </button>
                  <!--</div>-->
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Available Items</h3>
              </div>

              <div class="panel-body">
                <div class="form-group">
                  <input type="text" ng-model="searchItems1.itemName" placeholder="Search Items" class="form-control">
                </div>
                <div ng-show="AssignItemToStoreForm.selectedCategory.item.length > 0" class="form-group">
                  <ul class="pagination" style="margin: 0;">
                    <li>
                      <ul class="pagination" style="margin: 0;">
                        <li><a href="" ng-click="siPagination.prevPage()">&laquo; Previous</a></li>
                        <li ng-repeat="n in [] | range: siPagination.numPages" ng-class="{active: n == siPagination.page}">
                          <a href="" ng-click="siPagination.toPageId(n)">{{n + 1}}</a>
                        </li>
                        <li><a href="" ng-click="siPagination.nextPage()">Next &raquo; </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <table class="table table-curved">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Item Name</th>
                    <th><button class="btn btn-link btn-danger" ng-disabled="test.callingApi || AssignItemToStoreForm.itemsToDelete.length == 0" ng-confirm-message="ARE YOU SURE YOU WANT TO DELETE THESE ITEMS?" ng-confirm-condition="true" ng-confirm-click="removeTransferedStockItemsAsync(AssignItemToStoreForm.store)"><i class="glyphicon glyphicon-trash"></i></button></th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- <tr ng-repeat="s in AssignItemToStoreForm.selectedCategory.item | filter: searchItems1:strict "> -->

                  <tr ng-repeat="s in AssignItemToStoreForm.selectedCategory.item |filter: searchItems1:strict | startFrom: siPagination.page * siPagination.perPage | limitTo: siPagination.perPage ">

                    <td>{{$index + 1 + (siPagination.page * siPagination.perPage)}}</td>
                    <td>{{s.itemName}}</td>
                    <td><input type="checkbox" checklist-model="AssignItemToStoreForm.itemsToDelete" checklist-value="s"/></td>
                    <!--<td><a ng-confirm-message="ARE YOU SURE YOU WANT TO DELETE THIS?" ng-confirm-condition="true" ng-confirm-click="removeTransferedStockItems(s,AssignItemToStoreForm.store)"><i class="glyphicon glyphicon-trash"></i></a></td>-->
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>
  <tab heading="Vendor" style="cursor:pointer;"  ng-click="clearVendorTab()">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div style="margin-top:20px;"></div>
        <div class="row">
          <div class="col-md-12">
            <!-- <pre>{{createVendorForm | json}}</pre> -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Create Vendor</h3>
              </div>
              <div class="panel-body">
                <form name="formCreateVendor" ng-submit="createVendor(formCreateVendor)" novalidate>
                  <div class="form-group">
                    <label for="storeName">Store </label>
                    <select  name="storeName" ng-disabled="createVendorForm.disableStore" ng-change="OnStoreChange_VendorForm(createVendorForm.store)" ng-model="createVendorForm.store"
                             ng-options="ss.storeName for ss in stores" class="form-control">
                      <!-- <option ng-if="!createVendorForm.store" value="">Select Store</option> -->
                      <option  value="">Select Store</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="deploymentName">Deployment</label>
                    <select name="deploymentName" ng-change="depChange_CreateVendor(createVendorForm.deployments)"  ng-options="d.name for d in DepForVendor" ng-model="createVendorForm.deployments" class="form-control">
                      <option value="">Select Deployment</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="vendorName">Vendor Name</label>
                    <input type="text" name="vendorName" ng-disabled="createVendorForm.isHO" ng-model="createVendorForm.vendorName" class="form-control" autocomplete="off" required>
                  </div>




                  <!-- 	<div class="form-group" ng-if="!createVendorForm.deployments">
                                        <label>Select Category Type</label>

                                             <span ng-repeat="c in createVendorForm.allcategories">
                                                <label for="{{c._id}}">
                                                    <input type="checkbox" name="{{c._id}}" ng-change="OnCategoryTypeChange_VendorForm(c._id)" ng-model="createVendorForm.selectedCategoryType[c._id]">
                                                    {{c.itemType}}
                                                </label>
                                            </span>
                                        </div> -->
                  <div class="form-group">
                    <span>Select Category </span>
                    <div class="row">
											<span ng-repeat="c in createVendorForm.category" class="col-sm-2">
												<label for="{{c._id}}">
                          <input type="checkbox" name="{{c._id}}" ng-change="vendorChk_Changed(c._id)" ng-model="createVendorForm.selectedCategory[c._id]">
                          {{c.categoryName}}
                        </label>
											</span>
                    </div>
                  </div>

                  <!--    <div class="form-group" >
                                            <span>Select Category</span>
                                             <span ng-repeat="c in createVendorForm.allcategories">
                                                <span ng-repeat="name in c.selectedCatTypeNames">
                                                <label for="{{name._id}}">
                                                    <input type="checkbox" name="{{name._id}}" ng-change="vendorChk_Changed(name._id)" ng-model="createVendorForm.selectedCategory[name._id]">
                                                    {{name.categoryName}}
                                                </label>
                                            </span>
                                        </span>
                                        </div> -->

                  <div ng-show="formCreateVendor.vendorName.$error.mongoose" style="color:red;">{{formCreateVendor.vendorName.$error.mongoose}}</div>
                  <div class="form-group">
                    <label for="contactPerson">Contact Person</label>
                    <input type="text" ng-model="createVendorForm.contactPerson" autocomplete="off" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="contactNumber">Contact Number</label>
                    <input type="text" name="contactNumber" ng-model="createVendorForm.contactNumber" ng-pattern="/^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4}$/" numeric-only class="form-control" autocomplete="off">
                    <p class="help-block" ng-show="formCreateVendor.contactNumber.$error.pattern && formCreateVendor.$dirty">
                      Please enter a valid mobile number
                    </p>
                  </div>
                  <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" ng-model="createVendorForm.address" class="form-control" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label for="tinNumber">Tin Number</label>
                    <input type="text" ng-model="createVendorForm.tinNumber" class="form-control" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label for="serviceTaxNumber">Service Tax Number</label>
                    <input type="text" ng-model="createVendorForm.serviceTaxNumber" class="form-control" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label for="emailid">Email-Id</label>
                    <input type="text" ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/" ng-model="createVendorForm.email" name="emailid" class="form-control" autocomplete="off">
                  </div>
                  <div ng-show="formCreateVendor.emailid.$error.pattern" style="color:red;">
                    Not a valid Email
                  </div>
                  <!--<div ng-show="formStockItems.itemName.$error.mongoose" style="color:red;">{{formStockItems.itemName.$error.mongoose}}</div>-->
                  <button type="submit" class="btn btn-success"  ng-disabled="formCreateVendor.$invalid">
                    <span ng-if="!createVendorForm.isEdit">Create Vendor</span>
                    <span ng-if="createVendorForm.isEdit">Update Vendor</span>

                  </button>
                  <a class="btn btn-danger" ng-show="createVendorForm.isEdit" ng-click="clearCreateVendorForm()">
                    Cancel
                  </a>
                </form>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Available Vendors</h3>
              </div>

              <div class="panel-body">
                <div class="form-group">
                  <input type="text" ng-model="searchVendor.vendorName" placeholder="Search Vendor" class="form-control" autocomplete="off">
                </div>
                <div ng-show="createVendorForm.availableVendor.length > 0" class="form-group">
                  <ul class="pagination" style="margin: 0;">
                    <li>
                      <ul class="pagination" style="margin: 0;">
                        <li><a href="" ng-click="venPagination.prevPage()">&laquo; Previous</a></li>
                        <li ng-repeat="n in [] | range: venPagination.numPages" ng-class="{active: n == venPagination.page}">
                          <a href="" ng-click="venPagination.toPageId(n)">{{n + 1}}</a>
                        </li>
                        <li><a href="" ng-click="venPagination.nextPage()">Next &raquo; </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <table class="table table-curved">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Contact Person</th>
                    <th>Ph.Nos</th>
                    <th>Address</th>
                    <th>TinNo</th>
                    <th>EmailId</th>
                    <th>ServiceTaxNo</th>
                    <th>Category</th>
                    <th>VendorType</th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- <tr ng-repeat="s in createVendorForm.availableVendor | filter: searchVendor:strict "> -->
                  <tr ng-repeat="s in createVendorForm.availableVendor  |filter: searchVendor:strict | startFrom: venPagination.page * venPagination.perPage | limitTo: venPagination.perPage | orderBy: 'vendorName'">
                    <td>{{$index + 1}}</td>
                    <td>{{s.vendorName}}</td>
                    <td>{{s.contactPerson}}</td>
                    <td>{{s.contactNumber}}</td>
                    <td>{{s.address}}</td>
                    <td>{{s.tinNumber}}</td>
                    <td>{{s.email}}</td>
                    <td>{{s.serviceTaxNumber}}</td>
                    <td>
													<span ng-repeat="p in s.pricing.category">
														{{p.categoryName}} {{$last ? '' : ', '}}
													</span>
                    </td>
                    <td>{{s.type}}</td>
                    <td><a ng-click="editVendors(s)"><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a ng-confirm-message="ARE YOU SURE YOU WANT TO DELETE THIS?" ng-confirm-condition="true" ng-confirm-click="removeVendors(s)"><i class="glyphicon glyphicon-trash"></i></a></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <div class="col-md-12">
            <div style="margin-top:20px;"></div>
            <div class="row">
              <!-- <pre>{{vendorPricing | json}}</pre>  -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Set Vendor Pricing</h3>
                </div>
                <div class="panel-body">
                  <form name="formVendorPricing" ng-submit="updateVendorPricing()" novalidate>
                    <!-- <select name="deploymentName" ng-options="d.name for d in deployment" ng-change="onDepChange_vendorPricing()" ng-model="vendorPricing.deployments" class="form-control ">
                                        <option value="">Select Deployment</option>
                                    </select> -->
                    <table class="table col-md-6">
                      <thead>
                      <tr>
                        <th>Store </th>
                        <th>Category</th>
                        <th>Vendor</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>
                          <select  name="storeName"  ng-model="vendorPricing.store" ng-change="OnStoerChange_vendorPricing(vendorPricing.store)"
                                   ng-options="ss.storeName for ss in stores" class="form-control">
                            <option value="">Select Store</option>
                            <!-- <option value="" ng-if="!vendorPricing.store">Select Store</option> -->
                          </select>
                        </td>
                        <td>
                          <!-- <select  name="categoryName"  ng-model="vendorPricing.category" ng-change="onCategoryChange_vendorPricing(vendorPricing.category)"
                                                            ng-options="s.categoryName for s in vendorPricing.store.category" class="form-control">
                                                        <option value="">Select Category</option>
                                                    </select> -->
                          <select  name="categoryName"  ng-model="vendorPricing.category" ng-change="onCategoryChange_vendorPricing(vendorPricing.category)"
                                   ng-options="s.categoryName for s in vendorPricing.availableCategory" class="form-control">
                            <option value="">Select Category</option>
                          </select>
                        </td>
                        <td>
                          <select  name="vendorName"  ng-model="vendorPricing.vendor" ng-change="onvendorChnage_VendorPricing(vendorPricing.vendor)"
                                   ng-options="s.vendorName for s in vendorPricing.availableVendor" class="form-control">
                            <option value="">Select Vendor</option>
                          </select>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    
                      <div class="form-group">
                      <input type="text" ng-model="searchVendorItems.itemName" placeholder="Search Items" class="form-control">
                    </div>

                    <table class="table table-curved">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>Item Name</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th>FromDate</th>
                        <th>ToDate</th>
                      </tr>
                      </thead>
                      <tbody>

                      <!-- modified -->
                      <tr ng-show="vendorPricing.vendor" ng-repeat="s in vendorPricing.categorys.item.slice(((pagination.currentPage-1)*pagination.itemsPerPage), ((pagination.currentPage)*pagination.itemsPerPage)) | filter: searchVendorItems:strict">
                        <td>{{$index + 1}}</td>
                        <td>{{s.itemName}}</td>
                        <td>
                          <select name="unitName"
                                  ng-change="setPrefferedUnit_VendorPricing((vendorPricing.unit[s._id]),s._id)"
                                  id="s._id" ng-model="vendorPricing.unit[s._id]"
                                  ng-options="u.unitName for u in s.units" class="form-control">
                            <option value="">Select Unit</option>
                          </select>
                        </td>
                        <td><input type="text" id="s._id" ng-model="s.price" name="price" numeric-only
                                   class="form-control"></td>
                        <td>
                          <input type="text" class="form-control" datepicker-popup="{{'dd-MMM-yyyy'}}"
                                 name="s._id" ng-model="s.fromDate" ng-click="s.isopen[s._id] = true"
                                 is-open="s.isopen[s._id]" datepicker-options="dateOptions"
                                 ng-required="true" close-text="Close"
                                 ng-change="validateDatePricing(s.fromDate,s.toDate,s)"/>
                        </td>
                        <td>
                          <input type="text" class="form-control" datepicker-popup="{{'dd-MMM-yyyy'}}"
                                 name="s.itemName" ng-model="s.toDate" ng-click="s.isopen[s.itemName] = true"
                                 is-open="s.isopen[s.itemName]" datepicker-options="dateOptions"
                                 ng-required="true" close-text="Close"
                                 ng-change="validateDatePricing(s.fromDate,s.toDate,s)"/>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <button type="submit" class="btn btn-success" ng-disabled="vendorPricing.disableSubmit">
                      <span>Save / Update</span>
                    </button>
                    <a class="btn btn-danger" ng-click="clearVendorPricingForm()">
                      Cancel
                    </a>
                    <div>
                      <pagination total-items="vendorPricing.categorys.item.length" ng-model="pagination.currentPage"
                                  items-per-page="pagination.itemsPerPage"></pagination>
                    </div>
                    <!-- end -->

                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </tab>
  <tab heading="Receiver" style="cursor:pointer;"  ng-click="clearReceiverTab()">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div style="margin-top:20px;"></div>
        <div class="row">
          <div class="col-md-4">
            <!-- <pre>{{createReceiverForm | json}}</pre> -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Create Receiver</h3>
              </div>
              <div class="panel-body">
                <form name="formCreateReceiver" ng-submit="createReceiver(formCreateReceiver)" novalidate>
                  <div class="from-group">
                    <label for="receiverName">Name</label>
                    <input type="text" class="form-control" name="receiverName" ng-model="createReceiverForm.receiverName" autocomplete="off" required>
                  </div>
                  <div class="form-group">
                    <label for="contactPerson">Contact Person</label>
                    <input type="text" class="form-control" name="contactPerson" ng-model="createReceiverForm.contactPerson" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label for="contactNumber">Contact Number</label>
                    <input type="text" name="contactNumber" ng-model="createReceiverForm.contactNumber" ng-pattern="/^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4}$/" numeric-only class="form-control" autocomplete="off">
                    <p class="help-block" ng-show="formCreateReceiver.contactNumber.$error.pattern && formCreateReceiver.$dirty">
                      Please enter a valid mobile number
                    </p>

                  </div>
                  <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" name="address" ng-model="createReceiverForm.address" autocomplete="off">
                  </div>
                  <button type="submit" class="btn btn-success"  ng-disabled="formCreateReceiver.$invalid">
                    <span ng-if="!createReceiverForm.isEdit">Create Receiver</span>
                    <span ng-if="createReceiverForm.isEdit">Update Receiver</span>

                  </button>
                  <a class="btn btn-danger" ng-show="createReceiverForm.isEdit" ng-click="clearCreateReceiverForm()">
                    Cancel
                  </a>
                </form>
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Available Receiver</h3>
              </div>
              <div class="panel-body">
                <div class="panel-body">
                  <div class="form-group">
                    <input type="text" ng-model="searchReceiver.receiverName" placeholder="Search Receiver" class="form-control">
                  </div>
                  <div ng-show="receivers.length > 0" class="form-group">
                    <ul class="pagination" style="margin: 0;">
                      <li>
                        <ul class="pagination" style="margin: 0;">
                          <li><a href="" ng-click="recPagination.prevPage()">&laquo; Previous</a></li>
                          <li ng-repeat="n in [] | range: recPagination.numPages" ng-class="{active: n == recPagination.page}">
                            <a href="" ng-click="recPagination.toPageId(n)">{{n + 1}}</a>
                          </li>
                          <li><a href="" ng-click="recPagination.nextPage()">Next &raquo; </a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <table class="table table-curved">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Contact Person</th>
                      <th>Ph.Nos</th>
                      <th>Address</th>
                      <th></th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- <tr ng-repeat="s in receivers | filter: searchReceiver:strict "> -->
                    <tr ng-repeat="s in receivers |filter: searchReceiver:strict | startFrom: recPagination.page * recPagination.perPage | limitTo: recPagination.perPage | orderBy: 'receiverName'">
                      <td>{{$index + 1}}</td>
                      <td>{{s.receiverName}}</td>
                      <td>{{s.contactPerson}}</td>
                      <td>{{s.contactNumber}}</td>
                      <td>{{s.address}}</td>
                      <td><a ng-click="editReceiver(s)"><i class="glyphicon glyphicon-edit"></i></a></td>
                      <td><a ng-confirm-message="ARE YOU SURE YOU WANT TO DELETE THIS?" ng-confirm-condition="true" ng-confirm-click="removeReceiver(s)"><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Set Receiver Pricing</h3>
          </div>
          <!-- <pre>{{receiverPricingform | json}}</pre>  -->
          <div class="panel-body">
            <form name="formReceiverPricing" ng-submit="updateReceiverPricing()" novalidate>
              <div class="form-group">
                <table class="col-md-12">
                  <tbody>
                  <tr>
                    <td><label for="receiverName">Select Receiver</label></td>
                    <td>
                      <select name="receiverName" ng-change="receiverChange_receiverPricing(receiverPricingform.receiver)" ng-model="receiverPricingform.receiver" class="form-control" ng-options="s.receiverName for s in receivers">
                        <option value="">Select Receiver</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td><label for="storeName">Select Store</label></td>
                    <td>
                      <select name="storeName" ng-change="storeChange_receiverPricing(receiverPricingform.store)" ng-model="receiverPricingform.store" class="form-control" ng-options="s.storeName  for s in receiverPricingform.stores">
                        <option value="">Select Store</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td><label for="categoryName">Select Category</label></td>
                    <td>
                      <select name="categoryName" ng-change="categoryChange_receiverPricing(receiverPricingform.category.item)" ng-model="receiverPricingform.category" ng-options="s.categoryName for s in receiverPricingform.categorys" class="form-control">
                        <option value="">Select Category</option>
                      </select>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div style="margin-top:20px;"></div>
                <table class="table table-curved">
                  <thead>
                  <th>#</th>
                  <th>ItemName</th>
                  <th>CategoryName</th>
                  <th>Unit</th>
                  <th>UnitPrice</th>
                  </thead>
                  <tbody ng-repeat="s in receiverPricingform.category.item">
                  <tr>
                    <td>{{$index+1}}</td>
                    <td>{{s.itemName}}</td>
                    <td>{{receiverPricingform.category.categoryName}}</td>
                    <td>
                      <select name="unitName" ng-disabled="false" id="s._id" ng-change="unitChange_receiverPricing(receiverPricingform.unit[s._id],s)" ng-model="receiverPricingform.unit[s._id]" ng-options="u.unitName for u in s.units" class="form-control">
                        <option value="">Select Unit</option>
                      </select>
                    </td>
                    <td><input type="text" ng-model="s.price" numeric-only class="form-control"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="form-group">

                <button type="submit" class="btn btn-success"  ng-disabled="receiverPricingform.disableSubmit" >
                  <span>Save / Update</span>
                </button>
                <a class="btn btn-danger" ng-click="clearReceiverPricingform()">
                  Cancel
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </tab>
  <tab heading="Comments" style="cursor: pointer;" ng-click="clearCommentsTab()">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div style="margin-top:20px;"></div>
        <div class="row">
          <div class="col-md-6">
            <!-- <pre>{{createReceiverForm | json}}</pre> -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Add Comments</h3>
              </div>
              <div class="panel-body">
                <form name="form_comments" ng-submit="submitComment(form_comments)">
                  <div class="form-group">
                    <label>Description</label>
                    <input type="text" name="description" ng-model="commentsTab.commentForm.description" class="form-control" required/>
                    <p class="text-danger">{{form_comments.description.$error.mongoose}}</p>
                  </div>
                  <div class="form-group">
                    <label>Comment for</label>
                    <select class="form-control" name="commentFor" ng-model="commentsTab.commentForm.commentFor"  ng-options="commentFor.description for commentFor in commentsTab.commentForList" required>
                      <option value="">Select a module</option>
                    </select>
                  </div>
                  <div>
                    <button type="submit" class="btn" ng-class="{'btn-primary': !commentsTab.isEdit, 'btn-success': commentsTab.isEdit}"><span ng-if="!commentsTab.isEdit">Submit</span><span ng-if="commentsTab.isEdit">Update</span></button>
                    <button type="button" class="btn btn-danger" ng-click="cancelCommentUpdate()" ng-if="commentsTab.isEdit">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <!-- <pre>{{createReceiverForm | json}}</pre> -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Comments</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <tr style="background-color: black; color: white">
                      <th>#</th>
                      <th>Description</th>
                      <th>For</th>
                      <th>&nbsp;</th>
                      <th>&nbsp;</th>
                    </tr>
                    <tr ng-repeat="comment in commentsTab.comments">
                      <td>{{$index + 1}}</td>
                      <td>{{comment.description}}</td>
                      <td>{{comment.commentFor.description}}</td>
                      <td><a ng-click="editComment(comment, $index)"><i class="glyphicon glyphicon-edit"></i></td>
                      <td><a ng-click="deleteComment(comment, $index)"><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>
  <!-- <tab heading="Vendor Pricing" style="cursor:pointer;"  ng-click="clearVendorPricingTab()">
        <div ng-cloak class="row">
            <div class="col-md-12">
                <div style="margin-top:20px;"></div>
                <div class="row">
                    <!-- <pre>{{vendorPricing | json}}</pre>  -->
  <!-- <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Set Vendor Pricing</h3>
        </div>
        <div class="panel-body">
            <form name="formVendorPricing" ng-submit="updateVendorPricing()" novalidate>
                <!-- <select name="deploymentName" ng-options="d.name for d in deployment" ng-change="onDepChange_vendorPricing()" ng-model="vendorPricing.deployments" class="form-control ">
                <option value="">Select Deployment</option>
            </select> -->
  <!-- <table class="table col-md-6">
        <thead>
            <tr>
                <th>Store </th>
                <th>Category</th>
                <th>Vendor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select  name="storeName"  ng-model="vendorPricing.store" ng-change="OnStoerChange_vendorPricing(vendorPricing.store)"
                            ng-options="ss.storeName for ss in stores" class="form-control">
        <option value="">Select Store</option>
    </select>
                </td>
                <td>
                    <select  name="categoryName"  ng-model="vendorPricing.category" ng-change="onCategoryChange_vendorPricing(vendorPricing.category)"
                            ng-options="s.categoryName for s in vendorPricing.store.category" class="form-control">
        <option value="">Select Category</option>
    </select>
                </td>
                <td>
                    <select  name="vendorName"  ng-model="vendorPricing.vendor" ng-change="onvendorChnage_VendorPricing(vendorPricing.vendor)"
                            ng-options="s.vendorName for s in vendorPricing.availableVendor" class="form-control">
        <option value="">Select Vendor</option>
    </select>
                </td>
            </tr>
        </tbody>
    </table>




    <table class="table table-curved">
        <thead>
            <tr>
                <th>#</th>
                <th>Item Name</th>
                <th>Unit</th>
                <th>Price</th>
                <th>FromDate</th>
                <th>ToDate</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="s in vendorPricing.categorys.item ">
                <td>{{$index + 1}}</td>
                <td>{{s.itemName}}</td>
                <td>
                    <select name="unitName" ng-change="setPrefferedUnit_VendorPricing((vendorPricing.unit[s._id]),s._id)" id="s._id" ng-model="vendorPricing.unit[s._id]" ng-options="u.unitName for u in s.units" class="form-control">
                            <option value="">Select Unit</option>
                        </select>
                </td>
                <td><input type="text" id="s._id" ng-model="s.price" name="price" class="form-control"></td>
                <td>
                    <!-- <input type="text" id="s._id" ng-model="s.fromDate" name="fromDate" class="form-control"> -->
  <!-- <input  id="s._id" class="form-control"
        type="date"
        id="test"
        name="birthdate"
        ng-model="s.fromDate"
        popup="d MMM yyyy"
        options="dateOptions"
        opened="opened"
        custom-datepicker/>
</td>
<td>
    <!-- <input type="text" id="s._id"  ng-model="s.toDate" name="toDate" class="form-control"> -->

  <!-- <input id="s._id" class="form-control"
        type="date"
        id="test"
        name="birthdate"
        ng-model="s.toDate"
        popup="d MMM yyyy"
        options="dateOptions"
        opened="opened"
        custom-datepicker/>
</td>
</tr>
</tbody>
</table>
<button type="submit" class="btn btn-success"  ng-disabled="vendorPricing.disableSubmit">
     <span>Save / Update</span>
</button>
<a class="btn btn-danger"  ng-click="clearVendorPricingForm()">
Cancel
</a>
</form>

</div>
</div>
</div>
<!--</div>
</div>
</tab> -->
  <tab heading="Opening Stock" style="cursor:pointer;" ng-click="clearPhysicalStockTab()">
    <div ng-cloak class="row">
      <div class="col-md-12">
        <div style="margin-top: 20px;"></div>
        <div class="row">
          <!-- <pre>{{physicalStockForm| json}}</pre> -->
          <div class="panel panel-default">
            <div class="col-xs-18 col-md-4" ng-show="rawMaterialOpening && intermediateOpening && menuItemOpening">
              <div class="thumbnail">
                <div class="caption" ng-click="showRawMaterialOpening()" style="background-color:#5bc0de;cursor:pointer;text-align:center;font-size: 30px;color: #FFF;">
                  <span >Raw Materials</span>
                </div>
              </div>
            </div>
            <!-- <div class="col-xs-18 col-md-6" ng-show="false"> -->
            <div class="col-xs-18 col-md-4" ng-show="rawMaterialOpening && intermediateOpening && menuItemOpening">
              <div class="thumbnail">
                <div class="caption" ng-click="showIntermediateOpening()" style="background-color:#5bc0de;cursor:pointer;text-align:center;font-size: 30px;color: #FFF;">
                  <span >Intermediate</span>
                </div>
              </div>
            </div>
            <!-- <div class="col-xs-18 col-md-6" ng-show="false"> -->
            <div class="col-xs-18 col-md-4" ng-show="rawMaterialOpening && intermediateOpening && menuItemOpening" ng-if="currentDeployment.isBaseKitchen">
              <div class="thumbnail">
                <div class="caption" ng-click="showMenuItemOpening()" style="background-color:#5bc0de;cursor:pointer;text-align:center;font-size: 30px;color: #FFF;">
                  <span >Menu Item</span>
                </div>
              </div>
            </div>
            <!-- Raw Material Openinng-->
            <div class="panel-heading" ng-hide="rawMaterialOpening">
              <h3 class="panel-title">Opening Stock Raw Materials</h3>
              <div style="float:right;margin-top:-25px">
					    				<span>
					    					<a class="btn btn-success" ng-show="physicalStockForm.isEdit" ng-click="newPhysicalStock()">
                          <span >New</span>
                        </a>
											<a class="btn btn-danger" ng-click="resetPhysicalStockTab()">
                        <span ng-if="!physicalStockForm.isEdit">Reset </span>
                        <span ng-if="physicalStockForm.isEdit">Edit</span>
                      </a>
					    				</span>
              </div>
            </div>
            <div class="panel-body" ng-hide="rawMaterialOpening">
              <form name="formPhysicalStock" ng-submit="submitPhysicalStock(formPhysicalStock)" novalidate>
                <table class="table">
                  <tr>
                    <td>Bill No</td>
                    <td>
												<span  ng-show="physicalStockForm.showBill">
													{{physicalStockForm.tempBillNo}}
												</span>
                    </td>

                    <td>Bill Date</td>
                    <td>
                      <input type="text" date-format ng-disabled="physicalStockForm.isSaved" name="validFrom"
                             class="form-control"
                             datepicker-popup="{{'dd-MMM-yyyy'}}"
                             ng-model="physicalStockForm.billDate"
                             max-date="physicalStockForm.maxDate"
                             is-open="physicalStockForm.billDate.open"
                             ng-click="checkForBackDateEntry(physicalStockForm.billDate)"
                             ng-change="tempBill_physicalStockForm(physicalStockForm.billDate)"
                             datepicker-options="dateOptions"
                             date-disabled="disabled(date, mode)"
                             ng-required="true"
                             ng-readonly="true"
                             close-text="Close"/>
                    </td>

                  </tr>
                  <tr>

                    <td>Select Store</td>
                    <td>
                      <select ng-disabled="physicalStockForm.isSaved || !physicalStockForm.enableSubmit"  ng-model="physicalStockForm.store" ng-change="bindCategory_physicalStockForm(physicalStockForm.store)" ng-options="s.storeName for s in stores" class="form-control">
                        <option value="">Select Store </option>
                      </select>
                    </td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td colspan="12">
                      <span >Select Category</span>
                      <table class="table responsive">
                        <tr>
                          <div class="row">
                            <div ng-repeat="c in physicalStockForm.availableCategory" class="col-sm-2">
                              <label for="{{c._id}}">
                                <input   ng-disabled="physicalStockForm.isSaved" type="checkbox" id="{{c._id}}" ng-model="physicalStockForm.selectedCategory[c._id]" ng-change="bindItems_physicalStockForm(c._id)">
                                {{c.categoryName}}
                              </label>
                            </div>
                          </div>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table class="table">
                  <tr>
                    <td>
                      <input  ng-disabled="physicalStockForm.isSaved" type="text" id="ts_ss" ng-enter="goNext(fs_11)" ng-model="physicalStockForm.itemToAdd" typeahead="item.itemName as searchDropdown(item.itemName,item.itemCode) for item in getSearchResultsForEntries($viewValue, 'Opening Stock')| limitTo:8" class="form-control" placeholder="Search items to add in current list " typeahead-on-select='addRemainingItem_physicalStockForm($item, $model, $label)'>
                    </td>
                  </tr>
                </table>
                <table class="table table-curved"  ng-show="physicalStockForm.availableItems.length>0">
                  <thead>
                  <th ng-hide="physicalStockForm.isSaved"></th>
                  <th>Item Name</th>
                  <th>Unit</th>
                  <th>Enter Quantity</th>
                  </thead>
                  <tbody>
                  <tr ng-repeat="item in physicalStockForm.availableItems">
                    <td  ng-hide="physicalStockForm.isSaved">
                      <a  ng-disabled="physicalStockForm.isSaved"  style="cursor:pointer;" ng-click="deleteSelectedItemPhysicalForm(item)"><i class="glyphicon glyphicon-remove"></i></a>
                    </td>
                    <td>
                      {{item.itemName}}
                    </td>
                    <td>
                      <select name="unitName" ng-disabled="physicalStockForm.isSaved"    ng-change="enableSubmitButton_opening(physicalStockForm.availableItems)" ng-model="physicalStockForm.selectedUnits[item._id]" ng-options="u.unitName for u in item.units" class="form-control">
                        <!-- ng-change="slectedUnit_physicalStockForm(physicalStockForm.selectedUnits)" -->
                        <option value="">Select Unit</option>
                      </select>
                    </td>
                    <td >
                      <input type="text" ng-disabled="physicalStockForm.isSaved" s id="phy_{{$index+1}}1" ng-change="enableSubmitButton_opening(physicalStockForm.availableItems)"  ng-enter="goNextPhysicalStock({{$index+2}}1,item)" ng-model="item.qty" class="form-control" numeric-only>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <button id="submitPhysicalStock" type="submit" class="btn btn-success"  ng-disabled="physicalStockForm.enableSubmit">
                  <span ng-if="!physicalStockForm.isPrint">Submit </span>
                  <span ng-if="physicalStockForm.isPrint">Print </span>
                </button>
              </form>
            </div>
            <!-- Raw Material Openinng End-->

            <!--Intermediate Opening Start-->
            <div class="panel-heading" ng-hide="intermediateOpening">
              <h3 class="panel-title">Opening Stock Itermediate</h3>
              <div style="float:right;margin-top:-25px">
					    				<span>
					    					<a class="btn btn-success" ng-show="intermediateStockForm.isEdit" ng-click="newIntermediateStock()">
                          <span >New</span>
                        </a>
											<a class="btn btn-danger" ng-click="resetIntermediateStockTab()">
                        <span ng-if="!intermediateStockForm.isEdit">Reset </span>
                        <span ng-if="intermediateStockForm.isEdit">Edit</span>
                      </a>
					    				</span>
              </div>
            </div>
            <div class="panel-body" ng-hide="intermediateOpening">
              <form name="formIntermediateStock" ng-submit="submitIntermediateStock(formIntermediateStock)" novalidate>
                <table class="table">
                  <tr>
                    <td>Bill No</td>
                    <td>
												<span  ng-show="intermediateStockForm.showBill">
													{{intermediateStockForm.tempBillNo}}
												</span>
                    </td>

                    <td>Bill Date</td>
                    <td>
                      <input type="text" date-format ng-disabled="intermediateStockForm.isSaved" name="validFrom"
                             class="form-control"
                             datepicker-popup="{{'dd-MMM-yyyy'}}"
                             ng-model="intermediateStockForm.billDate"
                             max-date="intermediateStockForm.maxDate"
                             is-open="intermediateStockForm.billDate.open"
                             ng-click="checkForBackDateEntry(intermediateStockForm.billDate)"
                             ng-change="tempBill_intermediateStockForm(intermediateStockForm.billDate)"
                             datepicker-options="dateOptions"
                             date-disabled="disabled(date, mode)"
                             ng-required="true"
                             ng-readonly="true"
                             close-text="Close"/>
                    </td>

                  </tr>
                  <tr>

                    <td>Select Store</td>
                    <td>
                      <select ng-disabled="intermediateStockForm.isSaved || !intermediateStockForm.enableSubmit"  ng-model="intermediateStockForm.store" ng-change="bindCategory_intermediateStockForm(intermediateStockForm.store)" ng-options="s.storeName for s in stores" class="form-control">
                        <option value="">Select Store </option>
                      </select>
                    </td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td colspan="12">
                      <span >Select Category</span>
                      <table class="table responsive">
                        <tr>
                          <div class="row">
                            <div ng-repeat="c in intermediateStockForm.availableCategory" class="col-sm-2">
                              <label for="{{c._id}}">
                                <input   ng-disabled="intermediateStockForm.isSaved" type="checkbox" id="{{c._id}}" ng-model="intermediateStockForm.selectedCategory[c._id]" ng-change="bindItems_intermediateStockForm(c._id)">
                                {{c.categoryName}}
                              </label>
                            </div>
                          </div>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table class="table">
                  <tr>
                    <td>
                      <input  ng-disabled="intermediateStockForm.isSaved" type="text" id="ts_ss" ng-enter="goNextIntermediate(im_11)" ng-model="intermediateStockForm.itemToAdd" typeahead="item.itemName for item in intermediateStockForm.remainingItems | filter:{itemName: $viewValue} | limitTo:8" class="form-control" placeholder="Search items to add in current list " typeahead-on-select='addRemainingItem_intermediateStockForm($item, $model, $label)'>
                    </td>
                  </tr>
                </table>
                <table class="table table-curved"  ng-show="intermediateStockForm.availableItems.length>0">
                  <thead>
                  <th ng-hide="intermediateStockForm.isSaved"></th>
                  <th>Item Name</th>
                  <th>Unit</th>
                  <th>Enter Quantity</th>
                  </thead>
                  <tbody>
                  <tr ng-repeat="item in intermediateStockForm.availableItems">
                    <td  ng-hide="intermediateStockForm.isSaved">
                      <a  ng-disabled="intermediateStockForm.isSaved"  style="cursor:pointer;" ng-click="deleteSelectedItemIntermediateForm(item)"><i class="glyphicon glyphicon-remove"></i></a>
                    </td>
                    <td>
                      {{item.itemName}}
                    </td>
                    <td>
                      <select name="unitName" ng-disabled="intermediateStockForm.isSaved"    ng-change="enableSubmitButton_openingIntermediate(intermediateStockForm.availableItems)" ng-model="intermediateStockForm.selectedUnits[item._id]" ng-options="u.unitName for u in item.units" class="form-control">
                        <option value="">Select Unit</option>
                      </select>
                    </td>
                    <td >
                      <input type="text" ng-disabled="intermediateStockForm.isSaved" s id="im_{{$index+1}}1" ng-change="enableSubmitButton_openingIntermediate(intermediateStockForm.availableItems)"  ng-enter="goNextIntermediateStock({{$index+2}}1,item)" ng-model="item.qty" class="form-control" numeric-only>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <button id="submitIntermediateStock" type="submit" class="btn btn-success"  ng-disabled="intermediateStockForm.enableSubmit">
                  <span ng-if="!intermediateStockForm.isPrint">Submit </span>
                  <span ng-if="intermediateStockForm.isPrint">Print </span>
                </button>
              </form>
            </div>
            <!--Intermediate Opening End-->

            <!--Menu Item Opening Start-->
            <div class="panel-heading" ng-hide="menuItemOpening" ng-if="currentDeployment.isBaseKitchen">
              <h3 class="panel-title">Opening Stock Menu Item</h3>
              <div style="float:right;margin-top:-25px">
					    				<span>
					    					<a class="btn btn-success" ng-show="menuItemStockForm.isEdit" ng-click="newMenuItemStock()">
                          <span >New</span>
                        </a>
											<a class="btn btn-danger" ng-click="resetMenuItemStockTab()">
                        <span ng-if="!menuItemStockForm.isEdit">Reset </span>
                        <span ng-if="menuItemStockForm.isEdit">Edit</span>
                      </a>
					    				</span>
              </div>
            </div>
            <div class="panel-body" ng-hide="menuItemOpening">
              <form name="formMenuItemStock" ng-submit="submitMenuItemStock(formMenuItemStock)" novalidate>
                <table class="table">
                  <tr>
                    <td>Bill No</td>
                    <td>
												<span  ng-show="menuItemStockForm.showBill">
													{{menuItemStockForm.tempBillNo}}
												</span>
                    </td>

                    <td>Bill Date</td>
                    <td>
                      <input type="text" date-format ng-disabled="menuItemStockForm.isSaved" name="validFrom"
                             class="form-control"
                             datepicker-popup="{{'dd-MMM-yyyy'}}"
                             ng-model="menuItemStockForm.billDate"
                             max-date="menuItemStockForm.maxDate"
                             is-open="menuItemStockForm.billDate.open"
                             ng-click="menuItemStockForm.billDate.open = true"
                             ng-change="tempBill_menuItemStockForm(menuItemStockForm.billDate)"
                             datepicker-options="dateOptions"
                             date-disabled="disabled(date, mode)"
                             ng-required="true"
                             ng-readonly="true"
                             close-text="Close"/>
                    </td>

                  </tr>
                  <tr>

                    <td>Select Store</td>
                    <td>
                      <select ng-disabled="menuItemStockForm.isSaved || !menuItemStockForm.enableSubmit"  ng-model="menuItemStockForm.store" ng-change="bindCategory_MenuItemStockForm(menuItemStockForm.store)" ng-options="s.storeName for s in stores | filter:{isKitchen: 'true'}" class="form-control">
                        <option value="">Select Store </option>
                      </select>
                    </td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td colspan="12">
                      <span >Select Category</span>
                      <table class="table responsive">
                        <tr>
                          <div class="row">
                            <div ng-repeat="c in menuItemStockForm.availableCategory" class="col-sm-2">
                              <label for="{{c._id}}">
                                <input   ng-disabled="menuItemStockForm.isSaved" type="checkbox" id="{{c._id}}" ng-model="menuItemStockForm.selectedCategory[c._id]" ng-change="bindItems_MenuItemStockForm(c._id)">
                                {{c.categoryName}}
                              </label>
                            </div>
                          </div>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table class="table">
                  <tr>
                    <td>
                      <input  ng-disabled="menuItemStockForm.isSaved" type="text" id="ts_ss" ng-enter="goNextMenuItemStock(mi_11)" ng-model="menuItemStockForm.itemToAdd" typeahead="item.itemName for item in menuItemStockForm.remainingItems | filter:{itemName: $viewValue} | limitTo:8" class="form-control" placeholder="Search items to add in current list " typeahead-on-select='addRemainingItem_MenuItemStockForm($item, $model, $label)'>
                    </td>
                  </tr>
                </table>
                <table class="table table-curved"  ng-show="menuItemStockForm.availableItems.length>0">
                  <thead>
                  <th ng-hide="menuItemStockForm.isSaved"></th>
                  <th>Item Name</th>
                  <th>Unit</th>
                  <th>Enter Quantity</th>
                  </thead>
                  <tbody>
                  <tr ng-repeat="item in menuItemStockForm.availableItems">
                    <td  ng-hide="menuItemStockForm.isSaved">
                      <a  ng-disabled="menuItemStockForm.isSaved"  style="cursor:pointer;" ng-click="deleteSelectedItemMenuItemForm(item)"><i class="glyphicon glyphicon-remove"></i></a>
                    </td>
                    <td>
                      {{item.itemName}}
                    </td>
                    <td>
                      <select name="unitName" ng-disabled="menuItemStockForm.isSaved"    ng-change="enableSubmitButton_openingMenuItem(menuItemStockForm.availableItems)" ng-model="menuItemStockForm.selectedUnits[item._id]" ng-options="u.unitName for u in item.units" class="form-control">
                        <option value="">Select Unit</option>
                      </select>
                    </td>
                    <td >
                      <input type="text" ng-disabled="menuItemStockForm.isSaved" s id="mi_{{$index+1}}1" ng-change="enableSubmitButton_openingMenuItem(menuItemStockForm.availableItems)"  ng-enter="goNextMenuItemStock({{$index+2}}1,item)" ng-model="item.qty" class="form-control" numeric-only>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <button id="submitMenuItemStock" type="submit" class="btn btn-success"  ng-disabled="menuItemStockForm.enableSubmit">
                  <span ng-if="!menuItemStockForm.isPrint">Submit </span>
                  <span ng-if="menuItemStockForm.isPrint">Print </span>
                </button>
              </form>
            </div>
            <!--Menu Item Opening End-->
          </div>
        </div>
      </div>
    </div>
  </tab>

  <!-- <tab heading="Reorder Item" style="cursor:pointer;"></tab>
    <tab heading="Processed Item" style="cursor:pointer;"></tab>
     -->
</tabset>
